Repository qgis/QGIS, pull requests merged in 2018-07, with the labels that each got.

#7317 [FEATURE][RASTER] Generate band name with GTiff EXTRA_DIM
  src/providers/gdal/qgsgdalprovider.cpp
  tests/src/providers/testqgsgdalprovider.cpp
  tests/testdata/raster/gtiff_tags.tif
Labels: Bugfix, Needs Backporting

#7349 Two raster's save as... fixes
  src/gui/qgsrasterlayersaveasdialog.cpp
Labels: Bugfix, Needs Backporting

#7352 [RASTER] Generate band name with GTiff EXTRA_DIM
  src/providers/gdal/qgsgdalprovider.cpp
  tests/src/providers/testqgsgdalprovider.cpp
  tests/testdata/raster/gtiff_tags.tif
Labels: Bugfix

#7351 Allow updating SSL cert custom configuration
  src/core/auth/qgsauthmanager.cpp
Labels: Bugfix, Needs Backporting

#7354 Handle invalid step size
  src/gui/editorwidgets/qgsrangewidgetwrapper.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bugfix

#7380 Fixes #18485 - do not truncate project title if filename contains period
  src/core/qgsproject.cpp
  tests/src/python/test_qgsproject.py
Labels: Bugfix, Needs Backporting

#7384 Improve rendering speed of RGB images in the common case
  src/core/raster/qgsmultibandcolorrenderer.cpp
Labels: Optimization

#7390 Remove '\n' character at the end of env variables
  python/__init__.py
Labels: Bugfix, Needs Backporting

#7388 Fix crash when clicking within embedded layer dialog, before a project is selected
  src/app/qgsprojectlayergroupdialog.cpp
Labels: Bugfix, Needs Backporting

#7395 [Processing] Display saved value of ParameterTableMultipleField in the modeler.
  python/plugins/processing/modeler/ModelerParametersDialog.py
Labels: Bugfix

#7401 Fix some map edit tools don't use correct rubberband color
  src/app/qgsmaptoolmovefeature.cpp
  src/app/qgsmaptoolrotatefeature.cpp
  src/app/qgsmaptoolsimplify.cpp
Labels: Bugfix, Needs Backporting

#7391 Slightly optimize raster pseudo color rendering
  python/core/auto_generated/raster/qgscolorrampshader.sip.in
  python/core/auto_generated/raster/qgsrastershaderfunction.sip.in
  src/core/raster/qgscolorrampshader.cpp
  src/core/raster/qgscolorrampshader.h
  src/core/raster/qgsrastershaderfunction.cpp
  src/core/raster/qgsrastershaderfunction.h
  src/core/raster/qgssinglebandpseudocolorrenderer.cpp
Labels: Optimization

#7378 [server] Update doc path for server
  .ci/travis/code_layout/install.sh
  doc/CMakeLists.txt
  python/server/auto_generated/qgsaccesscontrol.sip.in
  python/server/auto_generated/qgsbufferserverrequest.sip.in
  python/server/auto_generated/qgsbufferserverresponse.sip.in
  python/server/auto_generated/qgsconfigcache.sip.in
  python/server/auto_generated/qgsmapserviceexception.sip.in
  python/server/auto_generated/qgsserversettings.sip.in
  python/server/auto_generated/qgsservicemodule.sip.in
  python/server/server_auto.sip
  src/server/CMakeLists.txt
  src/server/qgsaccesscontrol.h
  src/server/qgsbufferserverrequest.h
  src/server/qgsbufferserverresponse.h
  src/server/qgsconfigcache.h
  src/server/qgsconfigparserutils.cpp
  src/server/qgsconfigparserutils.h
  src/server/qgsfcgiserverrequest.h
  src/server/qgsfcgiserverresponse.h
  src/server/qgsfilterresponsedecorator.h
  src/server/qgsfilterrestorer.h
  src/server/qgsmapserviceexception.h
  src/server/qgsserver.h
  src/server/qgsserverexception.h
  src/server/qgsserverinterfaceimpl.h
  src/server/qgsserverlogger.h
  src/server/qgsserverplugins.h
  src/server/qgsserversettings.h
  src/server/qgsservicemodule.cpp
  src/server/qgsservicemodule.h
  src/server/qgsservicenativeloader.cpp
  src/server/qgsservicenativeloader.h
  src/server/services/wcs/CMakeLists.txt
  src/server/services/wcs/qgswcs.cpp
  src/server/services/wcs/qgswcsserviceexception.h
  src/server/services/wfs/CMakeLists.txt
  src/server/services/wfs/qgswfs.cpp
  src/server/services/wfs/qgswfsparameters.h
  src/server/services/wfs/qgswfsserviceexception.h
  src/server/services/wms/CMakeLists.txt
  src/server/services/wms/qgslayerrestorer.h
  src/server/services/wms/qgsmaprendererjobproxy.h
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetcapabilities.h
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.h
  src/server/services/wms/qgswmsserviceexception.h
Labels: API

#7389 [bugfix] [regression] pseudo color renderer widget
  src/gui/raster/qgscolorrampshaderwidget.cpp
  src/gui/raster/qgssinglebandpseudocolorrendererwidget.cpp
Labels: Bugfix

#7408 [processing] Fix wrongly set mask in gdal:fillnodata Fixes #19409
  python/plugins/processing/algs/gdal/fillnodata.py
  python/plugins/processing/tests/GdalAlgorithmsTest.py
Labels: Bugfix, Needs Backporting

#7369 Offline Editing GeoPackage File Export
  src/core/qgsofflineediting.cpp
  src/core/qgsofflineediting.h
  src/plugins/offline_editing/offline_editing_plugin.cpp
  src/plugins/offline_editing/offline_editing_plugin_gui.cpp
  src/plugins/offline_editing/offline_editing_plugin_gui.h
  src/plugins/offline_editing/offline_editing_plugin_guibase.ui
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsofflineediting.cpp
Labels: Feature

#7350 [quick] [feature] Feature attribute panel
  doc/qgsquick.dox
  src/quickgui/CMakeLists.txt
  src/quickgui/attributes/qgsquickattributeformmodel.cpp
  src/quickgui/attributes/qgsquickattributeformmodel.h
  src/quickgui/attributes/qgsquickattributeformmodelbase.cpp
  src/quickgui/attributes/qgsquickattributeformmodelbase.h
  src/quickgui/attributes/qgsquickattributemodel.cpp
  src/quickgui/attributes/qgsquickattributemodel.h
  src/quickgui/attributes/qgsquicksubmodel.cpp
  src/quickgui/attributes/qgsquicksubmodel.h
  src/quickgui/images/ic_broken_image_black.svg
  src/quickgui/images/ic_camera_alt_border.svg
  src/quickgui/images/ic_check_black.svg
  src/quickgui/images/ic_clear_black.svg
  src/quickgui/images/ic_clear_white.svg
  src/quickgui/images/ic_delete_forever_white.svg
  src/quickgui/images/ic_photo_notavailable_white.svg
  src/quickgui/images/ic_save_white.svg
  src/quickgui/images/images.qrc
  src/quickgui/plugin/CMakeLists.txt
  src/quickgui/plugin/editor/qgsquickcheckbox.qml
  src/quickgui/plugin/editor/qgsquickdatetime.qml
  src/quickgui/plugin/editor/qgsquickexternalresource.qml
  src/quickgui/plugin/editor/qgsquicktextedit.qml
  src/quickgui/plugin/editor/qgsquickvaluemap.qml
  src/quickgui/plugin/qgsquickfeatureform.qml
  src/quickgui/plugin/qgsquickfeatureformstyling.qml
  src/quickgui/plugin/qgsquickphotopanel.qml
  src/quickgui/plugin/qgsquickplugin.cpp
  src/quickgui/plugin/qmldir
  src/quickgui/qgsquickcoordinatetransformer.h
  src/quickgui/qgsquickfeaturehighlight.h
  src/quickgui/qgsquickfeaturelayerpair.cpp
  src/quickgui/qgsquickfeaturelayerpair.h
  src/quickgui/qgsquickmaptransform.h
  src/quickgui/qgsquickutils.cpp
  src/quickgui/qgsquickutils.h
  tests/src/quickgui/app/CMakeLists.txt
  tests/src/quickgui/app/FeaturePanel.qml
  tests/src/quickgui/app/main.qml
  tests/src/quickgui/app/qml.qrc
  tests/src/quickgui/testqgsquickidentifykit.cpp
  tests/src/quickgui/testqgsquickutils.cpp
Labels: Feature

#7375 [2.18LTR] Fix field calculator in not able to add a new field
  src/app/qgsfieldcalculator.h
  src/core/qgsvectordataprovider.cpp
Labels: Bugfix

#7393 [processing][FEATURE] Sample raster values to point
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/algs/qgis/RasterSampling.py
  python/plugins/processing/tests/testdata/custom/sampling_points.gml
  python/plugins/processing/tests/testdata/custom/sampling_points.xsd
  python/plugins/processing/tests/testdata/expected/sampling_raster.gml
  python/plugins/processing/tests/testdata/expected/sampling_raster.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
Labels: Feature

#7417 Avoid double db close in offline editing plugin
  src/core/qgsofflineediting.cpp
Labels: Bugfix, Needs Backporting

#7421 [Style Manager] Replace "All Symbols" label with "All"
  src/gui/symbology/qgsstylemanagerdialog.cpp
Labels: UX

#7279 rework server test to use geopackage and qgz
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/db.gpkg
  tests/testdata/qgis_server/test_project.qgz
  tests/testdata/qgis_server/test_project_values.qgs
  tests/testdata/qgis_server/test_project_values.qgz
  tests/testdata/qgis_server/wms_getfeatureinfo-values0-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-values1-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-values2-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_gpkg.txt
Labels: Infrastructure

#7428 Fix potential crash in symbol list widget
  src/app/qgsprojectproperties.cpp
  src/core/symbology/qgssymbol.cpp
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgsstyleexportimportdialog.cpp
  src/gui/symbology/qgsstylemanagerdialog.cpp
  src/gui/symbology/qgssymbolslistwidget.cpp
Labels: Bugfix, Needs Backporting

#7423 [processing] Correctly handle layer type parameter values
  python/plugins/processing/gui/wrappers.py
Labels: Bugfix, Needs Backporting

#7411 Hillshade renderer speed improvements
  src/core/raster/qgshillshaderenderer.cpp
Labels: Optimization

#7439 fix downloading plugins for custom repo
  python/pyplugin_installer/qgsplugininstallerinstallingdialog.py
Labels: Bugfix, Needs Backporting

#7444 Fix crash when editing graduated symbol in style dock
  python/gui/auto_generated/symbology/qgssymbolselectordialog.sip.in
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgssymbolselectordialog.h
Labels: Bugfix, Needs Backporting

#7399 Remove hardcoded limit (fixes #17689)
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Bugfix, Needs Backporting

#7448 Fix big memory leak in point locator
  src/core/qgspointlocator.cpp
  src/core/qgspointlocator.h
Labels: Bugfix, Needs Backporting

#7372 [WIP][server] Clean parameters management
  python/server/auto_additions/qgsserverparameters.py
  python/server/auto_generated/qgsserverparameters.sip.in
  python/server/auto_generated/qgsserverrequest.sip.in
  python/server/server_auto.sip
  src/server/CMakeLists.txt
  src/server/qgsserver.cpp
  src/server/qgsserver.h
  src/server/qgsserverexception.h
  src/server/qgsserverparameters.cpp
  src/server/qgsserverparameters.h
  src/server/qgsserverrequest.cpp
  src/server/qgsserverrequest.h
  src/server/services/wfs/qgswfs.cpp
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfsparameters.cpp
  src/server/services/wfs/qgswfsparameters.h
  src/server/services/wfs/qgswfsutils.cpp
  src/server/services/wms/qgsdxfwriter.cpp
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetfeatureinfo.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetmap.cpp
  src/server/services/wms/qgswmsgetprint.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms.py
Labels: API

#7398 Get proper mFeature in relation reference widget
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
Labels: Bugfix, Needs Backporting

#7449 [processing][FEATURE] Port extend lines algorithm to c++, allow dynamic start/end distance
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/ExtendLines.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmextendlines.cpp
  src/analysis/processing/qgsalgorithmextendlines.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature

#7452 Align the order of the options with other "select..." algorithms
  src/analysis/processing/qgsalgorithmextractbylocation.cpp
Labels: Bugfix, Needs Backporting

#7436 [oauth] Automatic management of state parameter
  src/auth/oauth2/qgsauthoauth2config.cpp
  src/auth/oauth2/qgsauthoauth2config.h
  src/auth/oauth2/qgsauthoauth2edit.cpp
  src/auth/oauth2/qgsauthoauth2edit.ui
  src/auth/oauth2/qgso2.cpp
  src/auth/oauth2/qgso2.h
  tests/src/auth/testqgsauthoauth2method.cpp
Labels: Bugfix

#7459 [ui][html code editor] use monospace font
  src/gui/qgscodeeditorhtml.cpp
Labels: Bugfix, Needs Backporting

#7458 [atlas][backport 3.2] Increases number of pages
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Bugfix

#7461 [server] Fixes Post element in WFS GetCapabilities doc
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Bugfix

#7460 [wfs] Fix race condition
  src/providers/wfs/qgswfsrequest.cpp
  src/providers/wfs/qgswfsshareddata.cpp
Labels: Bugfix, Needs Backporting

#7463 Avoid repeated update of edit selection
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
Labels: Bugfix, Needs Backporting

#7418 [fieldcalculator] do not set precision for datatypes that have not one
  src/app/qgsfieldcalculator.cpp
Labels: Bugfix

#7477 Make __repr__ tests actually run, fix them
  python/core/auto_generated/geometry/qgsmulticurve.sip.in
  src/core/geometry/qgsmulticurve.h
  tests/src/python/test_python_repr.py
Labels: Bugfix, Needs Backporting

#7478 Disable mesh layer renderer test on 3.2
  .ci/travis/linux/blacklist.txt
Labels: Infrastructure

#7465 fix layercache filter rect and a bonus crash
  src/core/qgsvectorlayercache.cpp
  src/gui/attributetable/qgsattributetablemodel.cpp
  tests/src/core/testqgsvectorlayercache.cpp
Labels: Bugfix

#7481 [server] Fixes spatial operator in WFS 1.1.0 GetCapabilities doc
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Bugfix

#7486 [maptips] fix maptips showing after mouse leave the canvas area
  src/app/qgisapp.cpp
Labels: Bugfix, Needs Backporting

#7490 Fix path resolver sometimes returns non empty paths while resolving empty filenames
  src/core/qgspathresolver.cpp
  tests/src/core/testqgsproject.cpp
Labels: Bugfix, Needs Backporting

#7464 [pyqgis] __repr__ method for QgsExpression, QgsField
  python/core/auto_generated/expression/qgsexpression.sip.in
  python/core/auto_generated/qgsfield.sip.in
  src/core/expression/qgsexpression.h
  src/core/qgsfield.h
  tests/src/python/test_python_repr.py
Labels: Feature

#7467 do not truncate layer name in legend panel if filename contains period
  src/app/qgisapp.cpp
  src/providers/gdal/qgsgdalsourceselect.cpp
Labels: Bugfix, Needs Backporting

#7488 Fix crash in network content fetcher when run from non-main thread
  src/core/qgsnetworkcontentfetcher.cpp
Labels: Bugfix, Needs Backporting

#7501 Abort expression parsing after encountering a maximum of 10 errors
  src/core/qgsexpressionparser.yy
  tests/src/core/testqgsexpression.cpp
Labels: Bugfix, Needs Backporting

#7405 3.2 Backport of Fix: Get proper mFeature in relation reference widget
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
Labels: Bugfix

#7502 [layouts] Attempted fix for direct printing page orientation issues
  python/plugins/processing/tests/testdata/custom/circular_strings.gpkg
  src/core/layout/qgslayoutexporter.cpp
Labels: Bugfix, Needs Backporting

#7508 Add properties to QgsHighlight for easier animations
  python/gui/auto_generated/qgshighlight.sip.in
  src/gui/CMakeLists.txt
  src/gui/qgshighlight.cpp
  src/gui/qgshighlight.h
Labels: API

#7509 [processing] Make model to/from variant methods public
  python/core/auto_generated/processing/models/qgsprocessingmodelalgorithm.sip.in
  src/core/processing/models/qgsprocessingmodelalgorithm.h
Labels: API
