Repository qgis/QGIS, pull requests merged in 2018-09, with the labels that each got.

#7764 Use QLocale for categorized renderer range
  src/core/symbology/qgsgraduatedsymbolrenderer.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
Labels: UX

#7609 [test] Add ParentDependsOnSubTask subtask test case
  tests/src/python/test_qgstaskmanager.py
Labels: Infrastructure

#7770 Fixes #19748 Acceleration label added in Options dialog title
  src/ui/qgsoptionsbase.ui
Labels: Bugfix

#7769 Bugfix 19695 qlocale permissive input
  python/core/auto_generated/qgis.sip.in
  src/core/qgis.cpp
  src/core/qgis.h
  src/core/qgsfield.cpp
  src/gui/editorwidgets/qgstexteditwrapper.cpp
  src/gui/qgsattributeform.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  tests/src/core/testqgis.cpp
  tests/src/core/testqgsfield.cpp
Labels: Bugfix

#7768 Throw an assert when using an unsupported variant type with QgsXmlUtils::writeVariant
  src/core/qgsxmlutils.cpp
Labels: API

#7752 Legend tree in 'Identify Layers'
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/app/CMakeLists.txt
  src/app/qgslayercapabilitiesmodel.cpp
  src/app/qgslayercapabilitiesmodel.h
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/core/qgsmaplayer.cpp
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/ui/qgsprojectpropertiesbase.ui
Labels: Feature, Feedback

#7763 update template to 3.x api
  python/plugins/processing/script/ScriptTemplate.py
Labels: Needs Backporting

#7724 Fix "Filter on joined fields": add geometry for spatial layer and handle special field/layer names
  src/core/qgsvirtuallayerdefinitionutils.cpp
  tests/src/python/test_provider_virtual.py
Labels: Bugfix, Needs Backporting

#7776 [Server] Add support for empty OGC WMS filters
  src/server/services/wms/qgswmsparameters.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
Labels: Bugfix, Needs Backporting

#7772 [travis] Ignore test failures on Qt5 environment
  .travis.yml
Labels: Infrastructure

#7786 Fix 'make permanent' action fails when exporting to a geopackage with existing layers
  src/app/qgisapp.cpp
Labels: Bugfix

#7773 [layouts] Fix label expression contains unicode characters when edited
  src/app/layout/qgslayoutlabelwidget.cpp
Labels: Bugfix, Needs Backporting

#7765 Fix pyfuture installation under CMake 3.12
  python/ext-libs/CMakeLists.txt
Labels: Bugfix

#7396 [processing] Rebirth RasterCalculator in Modeler. Fixes #19302
  python/plugins/processing/algs/qgis/RasterCalculator.py
  python/plugins/processing/algs/qgis/ui/RasterCalculatorWidgets.py
  python/plugins/processing/tests/testdata/custom/circular_strings.gpkg
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bugfix, Needs Backporting

#7795 More efficient case insensitive string comparison
  src/app/dwg/qgsdwgimporter.cpp
  src/app/layout/qgslayoutmanagerdialog.cpp
  src/app/qgisapp.cpp
  src/app/qgsaddattrdialog.cpp
  src/app/qgsappbrowserproviders.cpp
  src/app/qgsdecorationnortharrow.cpp
  src/auth/basic/qgsauthbasicmethod.cpp
  src/core/layout/qgscompositionconverter.cpp
  src/core/layout/qgslayoutitem.cpp
  src/core/layout/qgslayoutitempage.cpp
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingregistry.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/qgsapplication.cpp
  src/core/qgsauxiliarystorage.cpp
  src/core/qgscoordinatereferencesystem.cpp
  src/core/qgsdataitem.cpp
  src/core/qgseditformconfig.cpp
  src/core/qgsnetworkaccessmanager.cpp
  src/core/qgsogcutils.cpp
  src/core/qgsowsconnection.cpp
  src/core/raster/qgsrasterfilewriter.cpp
  src/core/symbology/qgssymbol.cpp
  src/core/symbology/qgssymbollayerutils.cpp
  src/gui/qgscollapsiblegroupbox.cpp
  src/gui/qgshelp.cpp
  src/gui/qgsowssourceselect.cpp
  src/gui/qgssvgsourcelineedit.cpp
  src/gui/qgstextformatwidget.cpp
  src/providers/gdal/qgsgdalprovider.cpp
  src/providers/geonode/qgsgeonodedataitems.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/virtual/qgsvirtuallayerprovider.cpp
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wms/qgswmsprovider.cpp
  src/server/qgsserverparameters.cpp
  src/server/services/wcs/qgswcs.cpp
  src/server/services/wfs/qgswfs.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetprint.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wmts/qgswmts.cpp
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/core/testqgsgeonodeconnection.cpp
Labels: Optimization

#7796 Don't crash when writing invalid variants via QgsXmlUtils
  src/core/qgsxmlutils.cpp
  tests/src/python/test_qgsxmlutils.py
Labels: Bugfix

#7659 [needs-docs][FEATURE] Add reverse line maptools AKA swap direction
  images/images.qrc
  images/themes/default/mActionReverseLine.svg
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsmaptoolreverseline.cpp
  src/app/qgsmaptoolreverseline.h
  src/ui/qgisapp.ui
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgsmaptoolreverseline.cpp
Labels: Feature

#7797 [processing] Port string widget wrapper to new c++ class
  src/gui/processing/qgsprocessingguiregistry.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
  tests/src/gui/testprocessinggui.cpp
Labels: API

#7781 [3d] When first applying a 3D map settings from a dock, also copy its camera settings
  src/app/layout/qgslayout3dmapwidget.cpp
Labels: Bugfix

#7753 Tidy installer_data.py and utils.py
  python/pyplugin_installer/installer_data.py
  python/utils.py
Labels: Cleanup

#7798 Re-enable travis checks for build warnings
  .ci/travis/linux/docker-build-test.sh
  CMakeLists.txt
  src/server/qgsservercachefilter.cpp
  src/server/qgsservercachefilter.h
Labels: Infrastructure

#7777 [mesh] [feature] allow render vectors/arrows on the user-defined grid
  python/core/auto_generated/mesh/qgsmeshrenderersettings.sip.in
  src/app/mesh/qgsmeshrenderervectorsettingswidget.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayerinterpolator.cpp
  src/core/mesh/qgsmeshlayerinterpolator.h
  src/core/mesh/qgsmeshlayerutils.cpp
  src/core/mesh/qgsmeshlayerutils.h
  src/core/mesh/qgsmeshrenderersettings.cpp
  src/core/mesh/qgsmeshrenderersettings.h
  src/core/mesh/qgsmeshvectorrenderer.cpp
  src/core/mesh/qgsmeshvectorrenderer.h
  src/ui/mesh/qgsmeshrenderervectorsettingswidgetbase.ui
  tests/src/core/testqgsmeshlayerrenderer.cpp
  tests/testdata/control_images/mesh/expected_quad_and_triangle_face_vector_user_grid_dataset/expected_quad_and_triangle_face_vector_user_grid_dataset.png
  tests/testdata/control_images/mesh/expected_quad_and_triangle_vertex_vector_user_grid_dataset/expected_quad_and_triangle_vertex_vector_user_grid_dataset.png
Labels: Feature

#7807 do not transform project if current_version > transform.to
  src/core/qgsprojectfiletransform.cpp
  src/core/qgsprojectfiletransform.h
Labels: Bugfix, Needs Backporting

#7810 [metasearch] Minor UI updates to conform to HIG
  python/plugins/MetaSearch/dialogs/maindialog.py
  python/plugins/MetaSearch/ui/maindialog.ui
  python/plugins/MetaSearch/ui/manageconnectionsdialog.ui
  python/plugins/MetaSearch/util.py
  src/app/qgsmapsavedialog.cpp
  src/plugins/coordinate_capture/coordinatecapture.cpp
  src/ui/qgsextentgroupboxwidget.ui
Labels: UX

#7817 [processing] Fix some exceptions in batch dialog after refactoring
  python/plugins/processing/gui/BatchPanel.py
  python/plugins/processing/gui/wrappers.py
Labels: Bugfix

#7815 create QgsMapLayer::LayerFlags for Searchable, Identifiable and Removable
  python/core/auto_additions/qgsmaplayer.py
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsproject.sip.in
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/app/qgisapp.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/app/qgslayercapabilitiesmodel.cpp
  src/app/qgslayercapabilitiesmodel.h
  src/app/qgsprojectproperties.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/gui/qgsmaptoolidentify.cpp
  src/quickgui/qgsquickidentifykit.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcontext.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wmts/qgswmtsutils.cpp
  tests/src/core/testqgsproject.cpp
Labels: API

#7758 [FEATURE] add new locator filter searching across all layers
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/app/locator/qgsinbuiltlocatorfilters.h
  src/app/qgisapp.cpp
  src/core/locator/qgslocator.cpp
  src/core/locator/qgslocatorfilter.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Feature

#7826 [server][backport 3.2] Fixes segfault when WMS OGC filter is empty
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC2/WMS_GetMap_Filter_OGC2.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC3/WMS_GetMap_Filter_OGC3.png
Labels: Bugfix

#7823 [server] Activates rendering optimization
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bugfix, Needs Backporting

#7805 Refactor QgsFeaturePool
  python/core/auto_generated/qgsreadwritelocker.sip.in
  python/core/core_auto.sip
  src/analysis/CMakeLists.txt
  src/analysis/vector/geometry_checker/qgsfeaturepool.cpp
  src/analysis/vector/geometry_checker/qgsfeaturepool.h
  src/analysis/vector/geometry_checker/qgsgeometrycheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrychecker.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheckerutils.cpp
  src/analysis/vector/geometry_checker/qgsgeometryduplicatecheck.cpp
  src/analysis/vector/geometry_checker/qgsvectordataproviderfeaturepool.cpp
  src/analysis/vector/geometry_checker/qgsvectordataproviderfeaturepool.h
  src/core/CMakeLists.txt
  src/core/qgsreadwritelocker.cpp
  src/core/qgsreadwritelocker.h
  src/plugins/geometry_checker/qgsgeometrycheckerfixsummarydialog.cpp
  src/plugins/geometry_checker/qgsgeometrycheckerresulttab.cpp
  src/plugins/geometry_checker/qgsgeometrycheckersetuptab.cpp
  tests/src/geometry_checker/testqgsgeometrychecks.cpp
Labels: API

#7841 [server][backport 3.2] Activates rendering optimization
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bugfix

#7835 Code completion for expression builder [FEATURE]
  python/gui/auto_generated/qgscodeeditorexpression.sip.in
  python/gui/gui_auto.sip
  src/gui/CMakeLists.txt
  src/gui/qgscodeeditorexpression.cpp
  src/gui/qgscodeeditorexpression.h
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressionlineedit.cpp
  src/gui/qgsexpressionlineedit.h
  src/ui/qgsexpressionbuilder.ui
Labels: Feature

#7827 [BUGFIX][Server] Quickfix in QgsHttpTransaction to support HTTPS scheme
  python/core/qgshttptransaction.sip
  src/core/qgshttptransaction.cpp
  src/core/qgshttptransaction.h
Labels: Bugfix

#7853 Fix misbehaving tooltips/click of layer tree indicators in some styles
  src/gui/layertree/qgslayertreeviewitemdelegate.cpp
Labels: Bugfix

#7854 [processing] Fix wrapper value retrieval for some ported wrappers
  python/plugins/processing/gui/BatchPanel.py
  python/plugins/processing/gui/wrappers.py
  python/plugins/processing/gui/wrappers_postgis.py
  python/plugins/processing/modeler/ModelerParametersDialog.py
Labels: Bugfix

#7844 QgsCoordinateTransform::scaleFactor()
  python/core/auto_generated/qgscoordinatetransform.sip.in
  src/core/qgscoordinatetransform.cpp
  src/core/qgscoordinatetransform.h
  src/core/qgsmapsettings.cpp
  tests/src/core/testqgscoordinatetransform.cpp
Labels: API

#7845 Naming changes for QgsFeaturePool
  src/analysis/vector/geometry_checker/qgsfeaturepool.cpp
  src/analysis/vector/geometry_checker/qgsfeaturepool.h
  src/analysis/vector/geometry_checker/qgsgeometryanglecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryareacheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrychecker.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheckerutils.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycontainedcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrydegeneratepolygoncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryduplicatecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryduplicatenodescheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrygapcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryholecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrymultipartcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryoverlapcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrysegmentlengthcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryselfintersectioncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrytypecheck.cpp
  src/analysis/vector/geometry_checker/qgsvectordataproviderfeaturepool.cpp
  tests/src/geometry_checker/testqgsgeometrychecks.cpp
Labels: API

#7851 Fix connection to GPS using serial port
  src/core/gps/qgsgpsdetector.cpp
Labels: Bugfix

#7834 [FEATURE][processing] Add custom OPTIONS to contour algorithm
  python/plugins/processing/algs/gdal/contour.py
  python/plugins/processing/tests/GdalAlgorithmsTest.py
Labels: Feature

#7866 [processing] Fix API break in widget wrapper
  python/gui/auto_generated/processing/qgsprocessingwidgetwrapper.sip.in
  python/plugins/processing/gui/wrappers.py
  scripts/sipify.pl
  src/gui/processing/qgsprocessingwidgetwrapper.h
Labels: Bugfix

#7881 [ux] Make tag combobox in symbol selector non-editable
  src/ui/symbollayer/widget_symbolslist.ui
Labels: UX

#7875 Fix crash when adding feature to non-spatial layer
  src/gui/qgsmaptooladvanceddigitizing.cpp
Labels: Bugfix

#7873 Check layer pointer for validity
  src/app/qgisapp.cpp
Labels: Bugfix, Needs Backporting

#7874 Add option to save QgsProject locally when saving to postgres failed
  src/app/qgisapp.cpp
  src/providers/postgres/qgspostgresprojectstorage.cpp
Labels: Feature

#7860 Expression from WFS 2.0 filters
  python/core/auto_generated/qgsogcutils.sip.in
  src/core/qgsogcutils.cpp
  src/core/qgsogcutils.h
  tests/src/core/testqgsogcutils.cpp
Labels: Feature

#7885 Snap to grid to sub unit resolution
  src/gui/qgssnaptogridcanvasitem.cpp
Labels: Bugfix

#7593 [FEATURE] add conversion from float to DMS format
  resources/function_help/json/to_dm
  resources/function_help/json/to_dms
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature

#7780 fid is the default if the ID column is empty when we create a geopackage
  src/gui/qgsnewgeopackagelayerdialog.cpp
Labels: UX

#7895 Make style filter model search by word, not phrase
  src/core/symbology/qgsstylemodel.cpp
  tests/src/python/test_qgsstylemodel.py
Labels: UX

#7861 Make QgsFeaturePool free of reprojection code and other improvements
  src/analysis/vector/geometry_checker/qgsfeaturepool.cpp
  src/analysis/vector/geometry_checker/qgsfeaturepool.h
  src/analysis/vector/geometry_checker/qgsgeometryanglecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryareacheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheck.h
  src/analysis/vector/geometry_checker/qgsgeometrychecker.cpp
  src/analysis/vector/geometry_checker/qgsgeometrychecker.h
  src/analysis/vector/geometry_checker/qgsgeometrycheckerutils.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheckerutils.h
  src/analysis/vector/geometry_checker/qgsgeometrycontainedcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrydanglecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrydegeneratepolygoncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryduplicatecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryduplicatenodescheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryfollowboundariescheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrygapcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrygapcheck.h
  src/analysis/vector/geometry_checker/qgsgeometryholecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrylineintersectioncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrylinelayerintersectioncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrymultipartcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryoverlapcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryoverlapcheck.h
  src/analysis/vector/geometry_checker/qgsgeometrypointcoveredbylinecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrypointinpolygoncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrysegmentlengthcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryselfcontactcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryselfintersectioncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrytypecheck.cpp
  src/analysis/vector/geometry_checker/qgsvectordataproviderfeaturepool.cpp
  src/analysis/vector/geometry_checker/qgsvectordataproviderfeaturepool.h
  src/core/CMakeLists.txt
  src/core/qgsthreadingutils.h
  src/core/qgsvectorlayerutils.cpp
  src/plugins/geometry_checker/qgsgeometrycheckersetuptab.cpp
  tests/src/geometry_checker/testqgsgeometrychecks.cpp
Labels: API, Freeze Exempt

#7887 [server] Add suport for OGC FE version 2 in GetMap requests
  src/core/qgsogcutils.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC_V2/WMS_GetMap_Filter_OGC_V2.png
Labels: Feature

#7899 [ux] Hide frame when collapsible group box is collapsed
  python/gui/auto_generated/qgscollapsiblegroupbox.sip.in
  src/gui/qgscollapsiblegroupbox.cpp
  src/gui/qgscollapsiblegroupbox.h
Labels: Bugfix, UX

#7814 Support QGIS Server logs to stderr
  python/core/auto_generated/qgsmessagelog.sip.in
  python/server/auto_generated/qgsserverlogger.sip.in
  python/server/auto_generated/qgsserversettings.sip.in
  python/server/server_auto.sip
  src/core/qgsmessagelog.cpp
  src/core/qgsmessagelog.h
  src/server/qgsserver.cpp
  src/server/qgsserverlogger.cpp
  src/server/qgsserverlogger.h
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserverlogger.py
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7801 [FEATURE] QML chart and drawings widget
  debian/control.in
  python/core/auto_generated/qgsattributeeditorelement.sip.in
  python/core/auto_generated/qgsexpressioncontext.sip.in
  python/gui/auto_additions/qgsattributeeditorcontext.py
  python/gui/auto_generated/attributetable/qgsdualview.sip.in
  python/gui/auto_generated/editorwidgets/core/qgswidgetwrapper.sip.in
  python/gui/auto_generated/editorwidgets/qgsqmlwidgetwrapper.sip.in
  python/gui/auto_generated/qgsactionmenu.sip.in
  python/gui/auto_generated/qgsattributedialog.sip.in
  python/gui/auto_generated/qgsattributeeditorcontext.sip.in
  python/gui/auto_generated/qgsattributeform.sip.in
  python/gui/auto_generated/qgsqmlwidget.sip.in
  python/gui/gui_auto.sip
  rpm/qgis.spec.template
  src/app/qgisapp.cpp
  src/app/qgisappinterface.cpp
  src/app/qgsattributesformproperties.cpp
  src/app/qgsattributesformproperties.h
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/app/qgsfeatureaction.cpp
  src/app/qgsmaptoolfillring.cpp
  src/app/qgsselectbyformdialog.cpp
  src/core/expression/qgsexpression.cpp
  src/core/qgsattributeeditorelement.cpp
  src/core/qgsattributeeditorelement.h
  src/core/qgseditformconfig.cpp
  src/core/qgsexpressioncontext.cpp
  src/core/qgsexpressioncontext.h
  src/core/qgsfeature.h
  src/gui/CMakeLists.txt
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/editorwidgets/core/qgswidgetwrapper.cpp
  src/gui/editorwidgets/core/qgswidgetwrapper.h
  src/gui/editorwidgets/qgsqmlwidgetwrapper.cpp
  src/gui/editorwidgets/qgsqmlwidgetwrapper.h
  src/gui/editorwidgets/qgsrelationaggregatesearchwidgetwrapper.cpp
  src/gui/qgsactionmenu.cpp
  src/gui/qgsactionmenu.h
  src/gui/qgsattributedialog.cpp
  src/gui/qgsattributedialog.h
  src/gui/qgsattributeeditorcontext.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/qgsidentifymenu.cpp
  src/quickgui/attributes/qgsquickattributeformmodelbase.cpp
  tests/src/gui/testqgsattributeform.cpp
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7889 [FEATURE][Plugin installer] Support for encrypted zips when installing plugins from local files
  python/pyplugin_installer/installer.py
  python/pyplugin_installer/unzip.py
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7879 Append raster layer to GeoPackage
  python/gui/auto_generated/qgsrasterlayersaveasdialog.sip.in
  src/app/qgisapp.cpp
  src/gui/qgsrasterlayersaveasdialog.cpp
  src/gui/qgsrasterlayersaveasdialog.h
  src/ui/qgsrasterlayersaveasdialogbase.ui
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7194 [FEATURE] Snap geometries algorithm
  python/analysis/analysis_auto.sip
  python/analysis/auto_generated/vector/qgsgeometrysnappersinglesource.sip.in
  python/plugins/processing/algs/qgis/SnapGeometries.py
  python/plugins/processing/tests/testdata/custom/circular_strings.gpkg
  python/plugins/processing/tests/testdata/custom/snap_geometries.geojson
  python/plugins/processing/tests/testdata/expected/snap_geometries.gml
  python/plugins/processing/tests/testdata/expected/snap_geometries.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
  src/analysis/CMakeLists.txt
  src/analysis/vector/qgsgeometrysnappersinglesource.cpp
  src/analysis/vector/qgsgeometrysnappersinglesource.h
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7891 [Plugin manager] [needs-docs] [FEATURE?] Add links to the plugin detai…
  images/images.qrc
  images/themes/default/externalLink.svg
  src/app/pluginmanager/qgspluginmanager.cpp
Labels: FreakingLastMinutePreFreezeMergeCandidate!, UX

#7892 [feature] Identify/Select polygon from existing feature geometry (#19064)
  python/gui/auto_generated/qgsidentifymenu.sip.in
  src/app/qgsmaptoolselect.cpp
  src/app/qgsmaptoolselect.h
  src/app/qgsmaptoolselectionhandler.cpp
  src/app/qgsmaptoolselectionhandler.h
  src/gui/qgsidentifymenu.cpp
  src/gui/qgsidentifymenu.h
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7626 [feature] Adapted k-neighbour concave hull plugin as QGIS 3 algorithm
  images/images.qrc
  images/themes/default/algorithms/mAlgorithmConcaveHull.svg
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/ConcaveHull.py
  python/plugins/processing/algs/qgis/KNearestConcaveHull.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/tests/testdata/custom/points_duplicate.gml
  python/plugins/processing/tests/testdata/custom/points_duplicate.xsd
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_lines.gml
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_lines.xsd
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_multipoints.gml
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_multipoints.xsd
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_points_7.gml
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_points_7.xsd
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_points_id2.gml
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_points_id2.xsd
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_polys.gml
  python/plugins/processing/tests/testdata/expected/knearest_concave_hull_polys.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
Labels: Feature, FreakingLastMinutePreFreezeMergeCandidate!

#7890 Fix cascaded grass algs in modeler
  python/plugins/processing/algs/grass7/Grass7Utils.py
  src/core/processing/qgsprocessingparameters.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bugfix, Needs Backporting

#7864 fix #19825 where MultipleLayers python widget stays empty
  python/plugins/processing/gui/wrappers.py
Labels: Bugfix

#7918 [processing] Fix missing [optional] text in string parameter label
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
Labels: Bugfix

#7917 [layouts] Fix messagebar link with special characters does not open on windows
  external/wintoast/src/wintoastlib.h
  src/native/win/qgswinnative.cpp
  tests/src/python/test_qgsprocessinginplace.py
Labels: Bugfix

#7922 [processing] Also hide empty providers in toolbox
  src/gui/processing/qgsprocessingtoolboxmodel.cpp
  tests/src/gui/testqgsprocessingmodel.cpp
Labels: UX

#7914 [bugfix][server] WMS GFI value relation array fields
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
Labels: Bugfix

#7868 Translate GEOS errors
  src/core/qgsgeometryvalidator.cpp
Labels: Freeze Exempt, Translations

#7925 [bugfix] unreported crash on load style
  src/app/qgsmaplayerstylecategoriesmodel.cpp
Labels: Bugfix

#7938 Fix feature count in attribute table dialog title after committing changes
  src/app/qgsattributetabledialog.cpp
Labels: Bugfix

#7937 [processing][gdal] Strip newlines from custom proj CRS definitions before passing to GDAL commands
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/tests/GdalAlgorithmsTest.py
Labels: Bugfix

#7870 [Bugfix][Server][WFS] correctly define field type and encode values
  src/server/qgswfsprojectparser.cpp
  src/server/qgswfsserver.cpp
  src/server/qgswfsserver.h
Labels: Bugfix, Needs Forwardporting

#7926 [bugfix] spatialite load default style
  src/app/qgisapp.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  tests/src/python/test_provider_spatialite.py
Labels: Bugfix

#7908 [Plugin manager][needs-docs] More unified links to the installed and available version.
  images/images.qrc
  images/themes/default/externalLink.svg
  src/app/pluginmanager/qgspluginmanager.cpp
  src/app/pluginmanager/qgspluginsortfilterproxymodel.h
Labels: UX

#7906 [Plugin manager] Deprecated plugins grayed out and moved to the list bottom
  src/app/pluginmanager/qgspluginitemdelegate.cpp
  src/app/pluginmanager/qgspluginmanager.cpp
  src/app/pluginmanager/qgspluginsortfilterproxymodel.cpp
  src/app/pluginmanager/qgspluginsortfilterproxymodel.h
Labels: UX

#7943 [bugfix] Allow empty null representation in spinboxes
  python/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  python/gui/auto_generated/editorwidgets/qgsspinbox.sip.in
  src/gui/editorwidgets/qgsdoublespinbox.cpp
  src/gui/editorwidgets/qgsdoublespinbox.h
  src/gui/editorwidgets/qgsrangewidgetwrapper.cpp
  src/gui/editorwidgets/qgsspinbox.cpp
  src/gui/editorwidgets/qgsspinbox.h
  tests/src/gui/testqgsrangewidgetwrapper.cpp
Labels: Bugfix

#7929 [bugfix] Fixes float input in advanced digitizing ...
  src/gui/qgsadvanceddigitizingdockwidget.cpp
Labels: Bugfix

#7933 [processing] Show a message bar success message after running in-place, parameterless alg
  python/plugins/processing/gui/AlgorithmExecutor.py
  python/plugins/processing/gui/MessageBarProgress.py
  python/plugins/processing/gui/ProcessingToolbox.py
Labels: UX

#7904 [locator] show field where text has been found in current layer filter
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/app/locator/qgsinbuiltlocatorfilters.h
  src/app/qgisapp.cpp
  src/core/qgsvectorlayer.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Bugfix

#7940 Fixes #18499. Snapping Toolbar missing from View > Toolbars
  src/app/qgisapp.cpp
Labels: Bugfix

#7945 Fix outline width in simple marker sld import
  src/core/symbology-ng/qgsmarkersymbollayerv2.cpp
Labels: Bugfix

#7955 allow WITH_SERVER=ON WITH_GUI=OFF
  CMakeLists.txt
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bugfix

#7947 [server] Fixes Operations in WFS GetCapabilities document
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Bugfix

#7950 [server] Fixes Filter_Capabilities element in WFS GetCapabilities document
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Bugfix

#7951 Bugfix 19802 dbmanager saved queries
  python/plugins/db_manager/dlg_sql_layer_window.py
  python/plugins/db_manager/dlg_sql_window.py
  tests/src/python/test_qgsproject.py
Labels: Bugfix

#7932 Add QgsSingleGeometryCheck
  src/analysis/CMakeLists.txt
  src/analysis/vector/geometry_checker/qgsgeometrycheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrycheck.h
  src/analysis/vector/geometry_checker/qgsgeometrymultipartcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrymultipartcheck.h
  src/analysis/vector/geometry_checker/qgsgeometryselfcontactcheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryselfcontactcheck.h
  src/analysis/vector/geometry_checker/qgsgeometryselfintersectioncheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometryselfintersectioncheck.h
  src/analysis/vector/geometry_checker/qgsgeometrytypecheck.cpp
  src/analysis/vector/geometry_checker/qgsgeometrytypecheck.h
  src/analysis/vector/geometry_checker/qgssinglegeometrycheck.cpp
  src/analysis/vector/geometry_checker/qgssinglegeometrycheck.h
  tests/src/geometry_checker/testqgsgeometrychecks.cpp
Labels: API

#7948 It's the `final` countdown
  python/CMakeLists.txt
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsvectorlayer.sip.in
  scripts/sipify.pl
  src/core/qgis.h
  src/core/qgis_sip.h
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
Labels: API

#7963 Fix cannot delete GPKG from raster on windows
  src/providers/ogr/qgsgeopackagedataitems.cpp
Labels: Bugfix

#7946 Fix processing algorithm checkvalidity reason
  python/plugins/processing/algs/qgis/CheckValidity.py
  python/plugins/processing/tests/CMakeLists.txt
  python/plugins/processing/tests/CheckValidityAlgorithm.py
Labels: Bugfix

#7973 [processing] Correctly make extent selection combo box non-editable
  python/plugins/processing/gui/ExtentSelectionPanel.py
Labels: Bugfix

#7966 [dbmanager] Fix Update SQL Layer converts query to table name
  python/plugins/db_manager/dlg_sql_layer_window.py
Labels: Bugfix

#7975 [processing] Pass a copy of the feature to processFeature, not the original layer's feature
  python/plugins/processing/gui/AlgorithmExecutor.py
Labels: Bugfix

#7969 QgsFeatureListComboBox nullRepresentation instead of hardcoded "NULL"
  python/gui/auto_generated/qgsfeaturelistcombobox.sip.in
  src/core/qgsfeaturefiltermodel.cpp
  src/gui/qgsfeaturelistcombobox.cpp
  src/gui/qgsfeaturelistcombobox.h
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsfeaturelistcombobox.cpp
Labels: Bugfix

#7976 [browser] GPKG VACUUM menu item
  src/providers/ogr/qgsgeopackagedataitems.cpp
  src/providers/ogr/qgsgeopackagedataitems.h
Labels: Bugfix

#7961 fix stroke Width sld import
  src/core/symbology/qgsmarkersymbollayer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Line/WMS_GetMap_Highlight_Line.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Point/WMS_GetMap_Highlight_Point.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Point/WMS_GetMap_Highlight_Point_mask.png
Labels: Bugfix

#7977 [OGR provider] Make sure to use layername= syntax in URI of multilayer datasources (fixes #19885)
  python/core/auto_generated/qgsdataitemprovider.sip.in
  python/core/conversions.sip
  src/core/qgsdataitemprovider.h
  src/providers/ogr/qgsogrdataitems.cpp
  src/providers/ogr/qgsogrdataitems.h
  src/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr.py
  tests/testdata/multilayer.kml
Labels: Bugfix

#7979 QgsVectorFileWriter: fix DGN creation (fixes #19722, fixes #19723)
  src/core/qgsvectorfilewriter.cpp
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Bugfix

#7982 [OGR provider] Fix reading of OSM datasets when opening several layers at the same time (fixes #19477)
  src/providers/ogr/qgsogrfeatureiterator.cpp
  src/providers/ogr/qgsogrfeatureiterator.h
  src/providers/ogr/qgsogrprovider.cpp
  src/providers/ogr/qgsogrprovider.h
  tests/src/python/test_provider_ogr.py
  tests/testdata/test.osm
Labels: Bugfix

#7983 QgsRasterFilWriter: fix crash when building overviews (fixes #19679)
  src/core/raster/qgsrasterfilewriter.cpp
  src/core/raster/qgsrasterfilewriter.h
  src/providers/gdal/qgsgdalprovider.cpp
  tests/src/python/test_qgsrasterfilewriter.py
Labels: Bugfix

#7984 Raster: do not list RasterLite2 as a supported output format, and use a helper for every call site (fixes #19483)
  src/analysis/raster/qgsninecellfilter.cpp
  src/analysis/raster/qgsrastercalculator.cpp
  src/analysis/raster/qgsrelief.cpp
  src/app/qgsoptions.cpp
  src/app/qgsrastercalcdialog.cpp
  src/core/CMakeLists.txt
  src/core/qgsgdalutils.cpp
  src/core/qgsgdalutils.h
  src/core/raster/qgsrasterfilewriter.cpp
  src/gui/qgsrasterlayersaveasdialog.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsgdalutils.cpp
Labels: Bugfix

#7996 Fix new annotations are shown even when annotations are hidden
  src/gui/qgsmapcanvasannotationitem.cpp
Labels: Bugfix

#7981 Fix identification in 3D if CRS of 2D and 3D canvas are different
  src/app/3d/qgs3dmaptoolidentify.cpp
Labels: Bugfix

#8001 [processing] Remove unnecessary index creation in points in polygons
  python/plugins/processing/algs/qgis/PointsInPolygon.py
Labels: Optimization

#8000 Micro-optimisation: don't call geos for checking point geometry validity
  src/core/geometry/qgsgeometry.cpp
Labels: Optimization

#8003 [processing] Never run feature validity check for point layers
  src/core/processing/qgsprocessingutils.cpp
Labels: Optimization

#7997 Adding translations to appdata
  linux/org.qgis.qgis.appdata.xml
Labels: Packaging

#8010 [processing] Fix crash when an algorithm dialog is left open and processing options are changed
  python/plugins/processing/gui/ProcessingToolbox.py
  python/plugins/processing/tools/general.py
Labels: Bugfix

#8012 [processing][gdal] Add unit tests and fixes for Dissolve algorithm
  python/plugins/processing/algs/gdal/Dissolve.py
  python/plugins/processing/tests/GdalAlgorithmsTest.py
Labels: Bugfix

#8013 [processing] Fix an exception in modeler when editing a model in...
  python/plugins/processing/modeler/ModelerParametersDialog.py
Labels: Bugfix

#8026 [processing][gdal] Fix empty fid is passed if FID option is not set
  python/plugins/processing/algs/gdal/OgrToPostGis.py
  python/plugins/processing/algs/gdal/ogr2ogrtopostgislist.py
  python/plugins/processing/tests/GdalAlgorithmsTest.py
Labels: Bugfix

#8022 [dbmanager] Fixes DB Manager does not read SRID automatically
  python/plugins/db_manager/dlg_import_vector.py
Labels: Bugfix

#8037 Bugfix db manager sql
  python/plugins/db_manager/dlg_sql_layer_window.py
Labels: Bugfix

#7872 [BUGFIX][DbManager] SQL Layer: fix unique combo setting
  python/plugins/db_manager/dlg_sql_layer_window.py
Labels: Bugfix, Needs Forwardporting

#7902 [Bugfix][Server][WFS] Server wfs format field
  src/server/services/wfs/CMakeLists.txt
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
Labels: Bugfix, Requires Tests!

#8046 [processing][ogr] Fix conversion of non-disk based layer sources to GDAL commands
  python/plugins/processing/algs/gdal/GdalAlgorithm.py
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/algs/gdal/ogr2ogrtabletopostgislist.py
  python/plugins/processing/algs/gdal/ogrinfo.py
  python/plugins/processing/algs/gdal/rasterize_over.py
Labels: Bugfix

#8045 [3D] Allow usual camera controls while the identify tool is active
  src/3d/qgs3dmapscene.cpp
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmaptool.h
  src/app/3d/qgs3dmaptoolidentify.cpp
Labels: UX

#8049 Micro optimization: very slightly cheaper QgsFeature::initAttributes call
  src/core/qgsfeature.cpp
Labels: Optimization

#8052 Fix spatialite queries without pk
  src/providers/spatialite/qgsspatialitefeatureiterator.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  tests/src/python/test_provider_spatialite.py
Labels: Bugfix

#8059 remove useless invokable methods
  src/core/qgsunittypes.h
Labels: API, Cleanup

#7859 [Bugfix][Server] Add WMS SLD parameter support
  python/server/auto_generated/qgsserverparameters.sip.in
  src/server/qgsrequesthandler.cpp
  src/server/qgsserverparameters.cpp
  src/server/qgsserverparameters.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/qgis_local_server/db_point.sld
Labels: Bugfix

#8062 Add QgsRubberBand::setToGeometry with crs parameter
  python/gui/auto_generated/qgsrubberband.sip.in
  src/gui/qgsrubberband.cpp
  src/gui/qgsrubberband.h
Labels: API

#8061 Doxygen for QgsRubberband
  python/gui/auto_generated/qgsrubberband.sip.in
  src/gui/qgsrubberband.h
Labels: Documentation

#8053 Fix remaining rubberband in reversline maptool
  src/app/qgsmaptoolreverseline.cpp
Labels: Bugfix

#8050 [processing] Reload scripts after a script has been saved in the editor
  python/plugins/processing/script/ScriptEditorDialog.py
Labels: Bugfix

#8051 [browser] Fix tiny folder icons on hidpi screens
  python/core/auto_generated/qgsdataitem.sip.in
  src/core/qgsdataitem.cpp
  src/core/qgsdataitem.h
Labels: UX
