Repository qgis/QGIS, pull requests merged in 2018-05, with the labels that each got.

#6856 Fix BBOX CRS in WFS GetFeature
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
Labels: 3.0, Bugfix, Server

#6749 [FEATURE][needs-docs] DB Manager: adds SQL query history
  python/plugins/db_manager/dlg_sql_window.py
  python/plugins/db_manager/ui/DlgSqlWindow.ui
Labels: Feature

#6872 QgsNetworkContentFetcherRegistry: a registry for temporary downloaded files
  python/core/core_auto.sip
  python/core/qgsapplication.sip.in
  python/core/qgsnetworkcontentfetcherregistry.sip.in
  src/core/CMakeLists.txt
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/core/qgsnetworkcontentfetcherregistry.cpp
  src/core/qgsnetworkcontentfetcherregistry.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsnetworkcontentfetcherregistry.py
Labels: For Review

#5294 Find Spatialindex library in osgeo4w64 bit
  cmake/FindSpatialindex.cmake
Labels: For Review

#6505 [FEATURE] Allow to use a URL for a custom attribute form (UI file)
  python/core/qgseditformconfig.sip.in
  python/core/qgsnetworkcontentfetcherregistry.sip.in
  src/app/qgsattributesformproperties.cpp
  src/core/qgseditformconfig.cpp
  src/core/qgseditformconfig.h
  src/core/qgseditformconfig_p.h
  src/core/qgsnetworkcontentfetcherregistry.cpp
  src/core/qgsnetworkcontentfetcherregistry.h
  src/gui/qgsattributeform.cpp
  tests/src/python/test_qgseditformconfig.py
  tests/src/python/test_qgsnetworkcontentfetcherregistry.py
  tests/testdata/qgis_local_server/layer_attribute_form.ui
Labels: Feature, For Review

#6951 allow customizing prefix of locator filters
  python/core/locator/qgslocator.sip.in
  python/core/locator/qgslocatorfilter.sip.in
  scripts/spell_check/check_spelling.sh
  src/app/locator/qgslocatoroptionswidget.cpp
  src/app/locator/qgslocatoroptionswidget.h
  src/core/locator/qgslocator.cpp
  src/core/locator/qgslocator.h
  src/core/locator/qgslocatorfilter.cpp
  src/core/locator/qgslocatorfilter.h
  src/gui/locator/qgslocatorwidget.cpp
  tests/src/python/test_qgslocator.py
Labels: For Review

#6625 [FEATURE][locator] Add search for settings pages to locator bar
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/app/locator/qgsinbuiltlocatorfilters.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsoptions.cpp
  src/app/qgsoptions.h
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/core/locator/qgslocator.cpp
Labels: Requires Changes

#7007 [server][wfs] Apply BBOX inside And using filterRect
  src/server/services/wfs/qgswfsutils.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getfeature_bbox_inside_and_post.txt
Labels: 3.2, Server
