Repository qgis/QGIS, pull requests merged in 2018-12, with the labels that each got.

#8581 [attributeform] Do not reset feature on editing toggled
  src/gui/qgsattributeform.cpp
Labels: Bugfix, Needs Backporting

#8443 fix the SAGA Points Distances tool
  python/plugins/processing/algs/saga/description/DistanceMatrix.txt
  python/plugins/processing/algs/saga/description/PointDistances.txt
Labels: Bugfix, Needs Backporting

#8583 [opencl] Raster calculator goes opencl
  src/analysis/raster/qgsrastercalculator.cpp
  src/analysis/raster/qgsrastercalculator.h
Labels: Optimization

#8590 fix build on MacOS
  src/core/qgsopenclutils.h
Labels: Packaging

#8595 [processing][SAGA] Fix definition of Patching algorithm
  python/plugins/processing/algs/saga/description/Patching.txt
  python/plugins/processing/tests/testdata/custom/dem_gaps.tif
  python/plugins/processing/tests/testdata/saga_algorithm_tests.yaml
Labels: Bugfix, Needs Backporting

#8418 partial fix for SAGA RGB composite tool
  python/plugins/processing/algs/saga/SagaAlgorithm.py
  python/plugins/processing/algs/saga/description/RGBComposite.txt
Labels: Bugfix

#8592 [opencl] Remove all static members
  src/core/qgsopenclutils.cpp
  src/core/qgsopenclutils.h
Labels: Needs Backporting

#8445 add the -te and -te_srs and -multi parameters to the gdalwarp tool used to clip rasters by mask layers
  python/plugins/processing/algs/gdal/ClipRasterByMask.py
Labels: Bugfix, Needs Backporting

#8605 [fix] wrong padding of QgsFontButton on macOS
  src/gui/qgsfontbutton.cpp
Labels: UX

#8593 [processing] Fix exception on launching refactor fields
  python/plugins/processing/gui/wrappers.py
Labels: Bugfix, Needs Backporting

#8607 Tells the bridge to update when a bad layer was fixed
  src/app/qgisapp.cpp
Labels: Bugfix, Needs Backporting

#8609 [FEATURE][processing] Native "split lines by maximum length" algorithm
  python/plugins/processing/tests/testdata/expected/split_lines_by_length.gml
  python/plugins/processing/tests/testdata/expected/split_lines_by_length.xsd
  python/plugins/processing/tests/testdata/expected/split_linez_by_length.dbf
  python/plugins/processing/tests/testdata/expected/split_linez_by_length.prj
  python/plugins/processing/tests/testdata/expected/split_linez_by_length.qpj
  python/plugins/processing/tests/testdata/expected/split_linez_by_length.shp
  python/plugins/processing/tests/testdata/expected/split_linez_by_length.shx
  python/plugins/processing/tests/testdata/expected/split_multiline_by_length.gml
  python/plugins/processing/tests/testdata/expected/split_multiline_by_length.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmsplitlinesbylength.cpp
  src/analysis/processing/qgsalgorithmsplitlinesbylength.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/python/test_qgsprocessinginplace.py
Labels: Feature

#8604 Save layer changes on successful repair
  src/app/qgisapp.cpp
  src/app/qgsgeometryvalidationservice.cpp
  src/app/qgsgeometryvalidationservice.h
Labels: Bugfix

#8612 Add a toggle action to vector layer legend items [feature]
  images/images.qrc
  images/themes/default/mActionToggleAllLayers.svg
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
Labels: Feature

#8621 .qgs-translation fix: do not create QgsProject before QgsApplication
  src/app/main.cpp
Labels: Bugfix

#8625 Fix help text for color format
  src/core/qgsproperty.cpp
Labels: Bugfix, Needs Backporting

#8623 Improve SVG/Image embedding widget behavior
  src/core/mesh/qgsmeshdataprovider.cpp
  src/gui/qgsfilecontentsourcelineedit.cpp
  src/gui/qgsfilecontentsourcelineedit.h
Labels: UX

#8624 fix listing of afs services for saved servers starting in a sub-folder [afs]
  src/providers/arcgisrest/qgsafsdataitems.cpp
  src/providers/arcgisrest/qgsafssourceselect.cpp
  src/providers/arcgisrest/qgsarcgisrestutils.cpp
  src/providers/arcgisrest/qgsarcgisrestutils.h
Labels: Bugfix, Needs Backporting

#8586 Processing @alg decorator for nice processing scripts.
  python/CMakeLists.txt
  python/plugins/processing/script/DeleteScriptAction.py
  python/plugins/processing/script/EditScriptAction.py
  python/plugins/processing/script/ScriptEditorDialog.py
  python/plugins/processing/script/ScriptUtils.py
  python/processing/CMakeLists.txt
  python/processing/__init__.py
  python/processing/algfactory.py
  python/utils.py
  src/app/qgisapp.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_processing_alg_decorator.py
Labels: API, Feature

#8630 sqlite accept aliased queries from db manager
  python/plugins/db_manager/dlg_sql_layer_window.py
  python/plugins/db_manager/dlg_sql_window.py
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Bugfix, Needs Backporting

#8262 move value group box under help area [Expression builder] [needs-docs]
  src/gui/qgsexpressionbuilderwidget.cpp
  src/ui/qgsexpressionbuilder.ui
Labels: UX

#8632 Throw IndexError on some QgsCurvePolygon methods when invalid interior ring index is requested [API]
  python/core/auto_generated/geometry/qgscurvepolygon.sip.in
  python/core/auto_generated/geometry/qgsgeometrycollection.sip.in
  src/core/geometry/qgscurvepolygon.h
  src/core/geometry/qgsgeometrycollection.h
  tests/src/python/test_qgsgeometry.py
Labels: API

#8600 Offline editing to GPKG attribute order. Fixes #20276
  src/core/qgsofflineediting.cpp
  tests/src/core/testqgsofflineediting.cpp
Labels: Bugfix

#8627 Use represention values for classified renderers [FEATURE]
  python/core/auto_generated/symbology/qgscategorizedsymbolrenderer.sip.in
  src/core/symbology/qgscategorizedsymbolrenderer.cpp
  src/core/symbology/qgscategorizedsymbolrenderer.h
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  tests/src/python/test_qgscategorizedsymbolrenderer.py
Labels: Feature

#8647 Defer opencl initialization after user has opted-in in settings
  src/app/qgsoptions.cpp
  src/ui/qgsoptionsbase.ui
Labels: Bugfix, Needs Backporting

#8650 avoid freeze with multiple layers locator search
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/app/locator/qgsinbuiltlocatorfilters.h
Labels: Needs Backporting

#8653 [layouts] Fix first background map render can never be canceled and must always complete
  src/core/layout/qgslayoutitemmap.cpp
Labels: Bugfix, Needs Backporting

#8654 Dox++
  python/core/auto_generated/qgsrendercontext.sip.in
  src/core/qgsrendercontext.h
Labels: API

#8660 Fix QgsReadWriteLocker changeMode
  src/core/qgsreadwritelocker.cpp
Labels: Bugfix, Needs Backporting

#8657 Decent workaround to dirty a project after bad layer handling
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgshandlebadlayers.cpp
  src/app/qgshandlebadlayers.h
Labels: Bugfix

#8666 opencl rastercalc fix int input rasters and cast to float
  src/analysis/raster/qgsrastercalcnode.cpp
  src/analysis/raster/qgsrastercalculator.cpp
  tests/src/analysis/testqgsrastercalculator.cpp
Labels: Bugfix, Needs Backporting

#8673 [PyQGIS] Raises ValueError and TypeError exceptions from QgsGeometry.asPoint()
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.h
  tests/src/python/test_qgsgeometry.py
Labels: API, API Break!, Bugfix, Needs Backporting

#8670 [processing] Throw error when attempting to use Distance Matrix with multipoint datasets
  python/plugins/processing/algs/qgis/PointDistance.py
Labels: Bugfix, Needs Backporting

#8682 [processing][SAGA] Fix output type of Zonal Grid Stats alg
  python/plugins/processing/algs/saga/description/ZonalGridStatistics.txt
  python/plugins/processing/tests/testdata/expected/saga/zonal_grid_stats.dbf
  python/plugins/processing/tests/testdata/expected/saga/zonal_grid_stats.mtab
  python/plugins/processing/tests/testdata/saga_algorithm_tests.yaml
Labels: Bugfix, Needs Backporting

#8684 [processing][SAGA] Fix output type of Zonal Grid Stats alg
  python/plugins/processing/algs/saga/description/ZonalGridStatistics.txt
  python/plugins/processing/tests/testdata/expected/saga/zonal_grid_stats.dbf
  python/plugins/processing/tests/testdata/expected/saga/zonal_grid_stats.mtab
  python/plugins/processing/tests/testdata/saga_algorithm_tests.yaml
Labels: Bugfix

#8664 [processing] QgsProcessingParameterMeshLayer
  python/core/auto_generated/processing/qgsprocessing.sip.in
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  python/core/auto_generated/qgsmaplayerproxymodel.sip.in
  python/plugins/processing/gui/ParameterGuiUtils.py
  python/plugins/processing/gui/wrappers.py
  python/plugins/processing/tests/GuiTest.py
  python/processing/algfactory.py
  src/core/processing/qgsprocessing.h
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingalgorithm.h
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  src/core/processing/qgsprocessingparametertypeimpl.h
  src/core/processing/qgsprocessingregistry.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  src/core/qgsmaplayerproxymodel.cpp
  src/core/qgsmaplayerproxymodel.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/analysis/CMakeLists.txt
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/python/test_qgsmaplayerproxymodel.py
Labels: API

#8686 [layouts] Fix selected items always appear in bold in all widgets
  src/app/layout/qgslayoutitemslistview.cpp
  src/app/layout/qgslayoutitemslistview.h
  src/core/layout/qgslayoutmodel.cpp
Labels: Bugfix

#8685 [processing] Add API to set default unit to distance parameters
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: API, Needs Backporting

#8680 [layouts] Add new setting to control whether map items should show partial labels
  python/core/auto_generated/layout/qgslayoutitemmap.sip.in
  src/app/layout/qgslayoutmapwidget.cpp
  src/app/layout/qgslayoutmapwidget.h
  src/core/layout/qgslayoutitemmap.cpp
  src/core/layout/qgslayoutitemmap.h
  src/ui/layout/qgslayoutmaplabelingwidgetbase.ui
  tests/src/python/test_qgslayoutmap.py
  tests/src/python/test_qgspallabeling_layout.py
  tests/testdata/control_images/composer_map/expected_composermap_show_partial_labels/expected_composermap_show_partial_labels.png
  tests/testdata/qgis_server/test_project.qgs
  tests/testdata/qgis_server/test_project_contextual_legend.qgs
  tests/testdata/qgis_server_accesscontrol/project.qgs
  tests/testdata/qgis_server_accesscontrol/project_groups.qgs
  tests/testdata/qgis_server_accesscontrol/project_grp.qgs
  tests/testdata/qgis_server_accesscontrol/project_labeling_settings.qgs
Labels: Feature

#8696 Improve Python __repr__ handling for null geometries
  python/core/auto_generated/geometry/qgscircularstring.sip.in
  python/core/auto_generated/geometry/qgscompoundcurve.sip.in
  python/core/auto_generated/geometry/qgscurvepolygon.sip.in
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  python/core/auto_generated/geometry/qgslinestring.sip.in
  python/core/auto_generated/geometry/qgsmulticurve.sip.in
  python/core/auto_generated/geometry/qgsmultilinestring.sip.in
  python/core/auto_generated/geometry/qgsmultipoint.sip.in
  python/core/auto_generated/geometry/qgsmultipolygon.sip.in
  python/core/auto_generated/geometry/qgspolygon.sip.in
  src/core/geometry/qgscircularstring.h
  src/core/geometry/qgscompoundcurve.h
  src/core/geometry/qgscurvepolygon.h
  src/core/geometry/qgsgeometry.h
  src/core/geometry/qgslinestring.h
  src/core/geometry/qgsmulticurve.h
  src/core/geometry/qgsmultilinestring.h
  src/core/geometry/qgsmultipoint.h
  src/core/geometry/qgsmultipolygon.h
  src/core/geometry/qgspolygon.h
  tests/src/python/test_python_repr.py
Labels: API, Bugfix, Needs Backporting

#8648 Fix broken select/identify by polygon when layer CRS <> canvas CRS
  src/app/qgsmaptoolselectionhandler.cpp
Labels: Bugfix, Needs Backporting

#8692 Allow saving a layer after fixing invalid geometries
  src/app/qgsgeometryvalidationservice.cpp
Labels: Bugfix, Needs Backporting

#8697 Raise ValueError and TypeError exceptions when QgsGeometry.asPolygon() is called on non-single-polygon geometries
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.h
  tests/src/python/test_qgsgeometry.py
Labels: API, Bugfix, Needs Backporting

#8649 Expression function `decode_uri`
  resources/function_help/json/decode_uri
  resources/function_help/json/layer_property
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature

#8703 [expression builder] clear fields values when changing field
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Needs Backporting

#8710 More array functions
  resources/function_help/json/array_sort
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature

#8713 Move sqlite quoted value methods to QgsSqliteUtils
  src/core/qgssqliteexpressioncompiler.cpp
  src/core/qgssqliteutils.cpp
  src/core/qgssqliteutils.h
  src/providers/spatialite/qgsspatialitefeatureiterator.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  tests/src/core/testqgssqliteutils.cpp
Labels: API

#8719 Boolean field support for memory layers
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/providers/memory/qgsmemoryproviderutils.cpp
  tests/src/python/test_provider_memory.py
Labels: Feature

#8720 Make expression parser output translatable
  scripts/update_ts.sh
  scripts/update_ts_files.sh
  src/core/qgsexpressionparser.yy
Labels: Needs Backporting, Translations

#8702 allow selection of file paths for mesh layers [processings]
  python/plugins/processing/gui/BatchInputSelectionPanel.py
  python/plugins/processing/gui/wrappers.py
Labels: Bugfix

#8718 [labeling] When a layer is set to "blocking" label mode respect data defined settings
  src/core/qgsvectorlayerlabelprovider.cpp
Labels: Bugfix, Needs Backporting

#8724 Fix vertextool's geometry cache invalidation
  src/app/vertextool/qgsvertextool.cpp
  src/app/vertextool/qgsvertextool.h
Labels: Bugfix, Needs Forwardporting

#8700 Fix libpq access from different threads
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgrestransaction.cpp
Labels: Needs Forwardporting

#8730 Processing in-place do not check validity when fixing geometries
  python/plugins/processing/gui/AlgorithmExecutor.py
  tests/src/python/test_qgsprocessinginplace.py
Labels: Bugfix, Needs Backporting

#8725 Correct mapFromSource method when reordering columns. fixes #20673
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
  src/gui/attributetable/qgsattributetablefiltermodel.h
  tests/src/app/testqgsattributetable.cpp
Labels: Needs Backporting

#8735 Optimize space on CRS selection tab
  src/gui/qgsprojectionselectiontreewidget.cpp
  src/ui/qgsdatumtransformtablewidgetbase.ui
  src/ui/qgsprojectionselectorbase.ui
  src/ui/qgsprojectpropertiesbase.ui
Labels: UX

#8722 Expression function sqlite_fetch_and_increment
  resources/function_help/json/sqlite_fetch_and_increment
  src/core/expression/qgsexpressionfunction.cpp
  src/core/qgssqliteutils.cpp
  src/core/qgssqliteutils.h
  tests/src/core/testqgsexpression.cpp
  tests/testdata/humanbeings.gpkg
Labels: Feature

#8741 Add fast truncate implementation for memory provider
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/providers/memory/qgsmemoryprovider.h
Labels: Optimization

#8756 Followup 0f8e291f, fix logic relating to overrding default application style and simplify
  src/app/main.cpp
Labels: Bugfix, Needs Backporting
