Repository qgis/QGIS, pull requests merged in 2018-03, with the labels that each got.

#6504 More processing parameters in modeller
  python/core/processing/qgsprocessingprovider.sip.in
  python/plugins/processing/algs/qgis/FieldsMapper.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/algs/qgis/ui/FieldsMappingPanel.py
  python/plugins/processing/core/Processing.py
  python/plugins/processing/core/parameters.py
  python/plugins/processing/modeler/ModelerDialog.py
  python/plugins/processing/modeler/ModelerGraphicItem.py
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingprovider.cpp
  src/core/processing/qgsprocessingprovider.h
Labels: 3.2, Feature, For Review, Processing

#6503 Various fixes
  python/core/geometry/qgsgeometry.sip.in
  src/app/qgsabout.cpp
  src/core/geometry/qgsgeometry.h
Labels: Needs Backporting

#6418 [FEATURE][locator] Add bookmark search to locator bar
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/app/locator/qgsinbuiltlocatorfilters.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsbookmarks.cpp
  src/app/qgsbookmarks.h
  src/core/locator/qgslocator.cpp
Labels: 3.2, Feature

#6268 [FEATURE][needs-docs] dbmanager stop
  python/core/core_auto.sip
  python/core/qgsvectordataprovider.sip.in
  python/core/qgsvirtuallayerdefinition.sip.in
  python/core/qgsvirtuallayertask.sip.in
  python/plugins/db_manager/db_plugins/connector.py
  python/plugins/db_manager/db_plugins/data_model.py
  python/plugins/db_manager/db_plugins/gpkg/connector.py
  python/plugins/db_manager/db_plugins/gpkg/data_model.py
  python/plugins/db_manager/db_plugins/gpkg/plugin.py
  python/plugins/db_manager/db_plugins/plugin.py
  python/plugins/db_manager/db_plugins/postgis/connector.py
  python/plugins/db_manager/db_plugins/postgis/data_model.py
  python/plugins/db_manager/db_plugins/postgis/plugin.py
  python/plugins/db_manager/db_plugins/spatialite/connector.py
  python/plugins/db_manager/db_plugins/spatialite/data_model.py
  python/plugins/db_manager/db_plugins/spatialite/plugin.py
  python/plugins/db_manager/db_plugins/vlayers/data_model.py
  python/plugins/db_manager/db_plugins/vlayers/plugin.py
  python/plugins/db_manager/dlg_sql_window.py
  python/plugins/db_manager/ui/DlgCancelTaskQuery.ui
  python/plugins/db_manager/ui/DlgSqlWindow.ui
  src/core/CMakeLists.txt
  src/core/qgsvectordataprovider.cpp
  src/core/qgsvectordataprovider.h
  src/core/qgsvirtuallayerdefinition.cpp
  src/core/qgsvirtuallayerdefinition.h
  src/core/qgsvirtuallayertask.cpp
  src/core/qgsvirtuallayertask.h
  src/providers/virtual/qgsvirtuallayerprovider.cpp
  src/providers/virtual/qgsvirtuallayerprovider.h
  src/providers/virtual/qgsvirtuallayersqlitehelper.cpp
  src/providers/virtual/qgsvirtuallayersqlitehelper.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_provider_virtual.py
  tests/src/python/test_qgsvirtuallayertask.py
Labels: 3.2

#6520 Don't try to render non-finite points
  src/core/symbology/qgssymbol.cpp
  tests/src/python/test_qgssymbol.py
  tests/testdata/control_images/symbol/expected_reprojection_errors_linestring/expected_reprojection_errors_linestring.png
  tests/testdata/control_images/symbol/expected_reprojection_errors_polygon/expected_reprojection_errors_polygon.png
Labels: Needs Backporting

#6510 [oracle] Fix provider when feature id maps are required
  src/providers/oracle/qgsoraclefeatureiterator.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
Labels: 3.0, Needs Backporting

#6543 [FEATURE][processing] Rotate features algorithm
  python/plugins/processing/tests/testdata/expected/rotate_around_centroid.gml
  python/plugins/processing/tests/testdata/expected/rotate_around_centroid.xsd
  python/plugins/processing/tests/testdata/expected/rotate_around_point.gml
  python/plugins/processing/tests/testdata/expected/rotate_around_point.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmrotate.cpp
  src/analysis/processing/qgsalgorithmrotate.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature

#6414 Fix project path when path contains a symbolic link
  src/core/qgspathresolver.cpp
  tests/src/core/testqgsproject.cpp
  tests/src/python/test_qgsproject.py
Labels: Needs Backporting

#6522 Fallback to feature id if pk attribute is not there
  src/server/qgsowsserver.cpp
Labels: 2.18.x, Bugfix

#6569 [QgsFilterLineEdit] disable clear action when read only
  python/gui/qgsfilterlineedit.sip.in
  src/gui/qgsfilterlineedit.cpp
  src/gui/qgsfilterlineedit.h
Labels: 3.2, Bugfix

#6570 [QgsFilterLineEdit] disable clear action when read only
  python/gui/qgsfilterlineedit.sip.in
  src/gui/qgsfilterlineedit.cpp
  src/gui/qgsfilterlineedit.h
Labels: 3.0, Bugfix

#6578 do not delete object with incomplete type
  src/app/qgisapp.cpp
Labels: 3.0

#6577 fix build without python
  src/app/qgisapp.cpp
Labels: 3.2

#6550 fix constraints not checked when they should be
  python/gui/qgsattributeform.sip.in
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  tests/src/gui/testqgsattributeform.cpp
Labels: Needs Backporting

#6607 [processing] Fix algorithm progress bar resets to 0 when an algorithm reports a non-fatal error
  python/core/processing/qgsprocessingfeedback.sip.in
  python/gui/processing/qgsprocessingalgorithmdialogbase.sip.in
  python/plugins/processing/algs/qgis/ui/FieldsCalculatorDialog.py
  python/plugins/processing/gui/MessageBarProgress.py
  src/core/processing/qgsprocessingfeedback.cpp
  src/core/processing/qgsprocessingfeedback.h
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.h
Labels: Needs Backporting

#6615 [bugfix] value relation widget with Allow multiple selection doesn't resolve
  python/core/fieldformatter/qgsvaluerelationfieldformatter.sip.in
  src/core/fieldformatter/qgsvaluerelationfieldformatter.cpp
  src/core/fieldformatter/qgsvaluerelationfieldformatter.h
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Needs Backporting

#6638 [bugfix][server][wfs] Fix endless loop in getfeature
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getFeature_1_0_0_featureid_0_1_0_0.txt
Labels: Bugfix, Needs Backporting

#6644 Add axisOrder to QgsAbstractGeometry GML generators
  python/core/geometry/qgsabstractgeometry.sip.in
  python/core/geometry/qgscircularstring.sip.in
  python/core/geometry/qgscompoundcurve.sip.in
  python/core/geometry/qgscurvepolygon.sip.in
  python/core/geometry/qgsgeometrycollection.sip.in
  python/core/geometry/qgslinestring.sip.in
  python/core/geometry/qgsmulticurve.sip.in
  python/core/geometry/qgsmultilinestring.sip.in
  python/core/geometry/qgsmultipoint.sip.in
  python/core/geometry/qgsmultipolygon.sip.in
  python/core/geometry/qgsmultisurface.sip.in
  python/core/geometry/qgspoint.sip.in
  python/core/geometry/qgstriangle.sip.in
  src/core/geometry/qgsabstractgeometry.h
  src/core/geometry/qgscircularstring.cpp
  src/core/geometry/qgscircularstring.h
  src/core/geometry/qgscompoundcurve.cpp
  src/core/geometry/qgscompoundcurve.h
  src/core/geometry/qgscurvepolygon.cpp
  src/core/geometry/qgscurvepolygon.h
  src/core/geometry/qgsgeometrycollection.cpp
  src/core/geometry/qgsgeometrycollection.h
  src/core/geometry/qgsgeometryutils.cpp
  src/core/geometry/qgsgeometryutils.h
  src/core/geometry/qgslinestring.cpp
  src/core/geometry/qgslinestring.h
  src/core/geometry/qgsmulticurve.cpp
  src/core/geometry/qgsmulticurve.h
  src/core/geometry/qgsmultilinestring.cpp
  src/core/geometry/qgsmultilinestring.h
  src/core/geometry/qgsmultipoint.cpp
  src/core/geometry/qgsmultipoint.h
  src/core/geometry/qgsmultipolygon.cpp
  src/core/geometry/qgsmultipolygon.h
  src/core/geometry/qgsmultisurface.cpp
  src/core/geometry/qgsmultisurface.h
  src/core/geometry/qgspoint.cpp
  src/core/geometry/qgspoint.h
  src/core/geometry/qgstriangle.cpp
  src/core/geometry/qgstriangle.h
  tests/src/core/testqgsgeometry.cpp
  tests/src/core/testqgsgeometryutils.cpp
Labels: For Review
