Repository qgis/QGIS, pull requests merged in 2019-05, with the labels that each got.

#9912 [ui] Fix broken text annotation background color
  src/app/qgsannotationwidget.cpp
  src/app/qgsannotationwidget.h
  src/app/qgstextannotationdialog.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9921 Fix duplicate layers in custom layer order panel
  src/core/layertree/qgslayertree.cpp
  tests/src/python/test_qgslayertree.py
Labels: backport release-3_4, backport release-3_6

#9931 fix wrong SVG PATHS logging on server startup
  src/server/qgsserver.cpp
Labels: backport release-3_4, backport release-3_6

#9935 remove redundant /profiles when QGIS_CUSTOM_CONFIG_PATH is set
  src/core/qgsapplication.cpp
Labels: backport release-3_4, backport release-3_6

#9926 update to MDAL 0.3.2
  external/mdal/frmts/mdal_3di.cpp
  external/mdal/frmts/mdal_3di.hpp
  external/mdal/frmts/mdal_cf.cpp
  external/mdal/frmts/mdal_cf.hpp
  external/mdal/frmts/mdal_flo2d.cpp
  external/mdal/frmts/mdal_gdal.cpp
  external/mdal/frmts/mdal_gdal.hpp
  external/mdal/frmts/mdal_netcdf.cpp
  external/mdal/frmts/mdal_netcdf.hpp
  external/mdal/frmts/mdal_selafin.cpp
  external/mdal/frmts/mdal_selafin.hpp
  external/mdal/frmts/mdal_ugrid.cpp
  external/mdal/frmts/mdal_ugrid.hpp
  external/mdal/mdal.cpp
  external/mdal/mdal_data_model.cpp
  external/mdal/mdal_data_model.hpp
  external/mdal/mdal_driver_manager.cpp
  external/mdal/mdal_utils.cpp
  external/mdal/mdal_utils.hpp
  src/providers/mdal/CMakeLists.txt
Labels: backport release-3_6

#9930 [QgsQuick] Fix of value relation widget
  src/quickgui/plugin/editor/qgsquickvaluerelation.qml
Labels: Bugfix

#9943 [symbology] Fix setSize(size) not working for ellipse markers
  python/core/auto_generated/symbology/qgsellipsesymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsellipsesymbollayer.h
  src/core/symbology/qgssymbollayer.h
  tests/src/core/testqgsellipsemarker.cpp
  tests/testdata/control_images/qgis_server/WMS_GetMap_ContextRendering/WMS_GetMap_ContextRendering.png
Labels: Bugfix, backport release-3_4, backport release-3_6

#9946 [ui] Fix marker sizing for the filled marker widget
  src/gui/symbology/qgssymbollayerwidget.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9939 Fix opening of GeoPackage datasets with foreign key violation
  src/providers/gdal/qgsgdalproviderbase.cpp
  src/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Bugfix, backport release-3_4, backport release-3_6

#9949 [ui] Fix marker sizing for the filled marker widget
  src/gui/symbology/qgssymbollayerwidget.cpp
Labels: Backport, Bugfix, backport release-3_4

#9954 [processing] Fix exception when running batch alg after loading parameters
  python/plugins/processing/gui/BatchPanel.py
Labels: backport release-3_4, backport release-3_6

#9955 [Backport release-3_4] Backport #9939 (Fix opening of GeoPackage datasets with foreign key violation)
  src/providers/gdal/qgsgdalproviderbase.cpp
  src/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Backport, Bugfix

#9957 [RPM] Add qt5-qtbase-private-devel build dep for F30+
  INSTALL
  doc/INSTALL.html
  doc/linux.t2t
  rpm/qgis.spec.template
Labels: backport release-3_4, backport release-3_6

#9944 bug fix can't open file using Japanese Character in name
  src/analysis/processing/qgsalgorithmimportphotos.cpp
Labels: backport release-3_4, backport release-3_6

#9964 [ui] Fix missing disabled state for {check/radio/group}box
  resources/themes/Blend of Gray/icons/qcheckbox-checked-disabled.svg
  resources/themes/Blend of Gray/icons/qcheckbox-unchecked-disabled.svg
  resources/themes/Blend of Gray/icons/qradiobox-checked-disabled.svg
  resources/themes/Blend of Gray/icons/qradiobox-unchecked-disabled.svg
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/icons/qcheckbox-checked-disabled.svg
  resources/themes/Night Mapping/icons/qcheckbox-unchecked-disabled.svg
  resources/themes/Night Mapping/icons/qradiobox-checked-disabled.svg
  resources/themes/Night Mapping/icons/qradiobox-unchecked-disabled.svg
  resources/themes/Night Mapping/style.qss
Labels: Bugfix

#9967 [effects] when creating the preview image, disable effects to avoid 'double-apply'
  src/gui/symbology/qgslayerpropertieswidget.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9962 Fix constraint expression and description are flipped
  src/app/qgsattributesformproperties.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9942 Add method to retrieve map extent to QgsRenderContext
  python/core/auto_generated/qgsrendercontext.sip.in
  src/core/qgsrendercontext.cpp
  src/core/qgsrendercontext.h
  tests/src/python/test_qgsrendercontext.py
Labels: API, backport release-3_4, backport release-3_6

#9965 [themes] Fix missing disabled state for {check/radio/group}box
  resources/themes/Night Mapping/icons/qcheckbox-checked-disabled.svg
  resources/themes/Night Mapping/icons/qcheckbox-unchecked-disabled.svg
  resources/themes/Night Mapping/icons/qradiobox-checked-disabled.svg
  resources/themes/Night Mapping/icons/qradiobox-unchecked-disabled.svg
  resources/themes/Night Mapping/style.qss
Labels: Backport

#9976 Use a message bar in Style Manager dialog
  src/gui/symbology/qgsstylemanagerdialog.cpp
  src/gui/symbology/qgsstylemanagerdialog.h
  src/ui/qgsstylemanagerdialogbase.ui
Labels: UX

#9977 [themes] Fix field expression widget not playing nice with themes
  src/gui/qgsfieldexpressionwidget.cpp
  src/gui/qgsfieldexpressionwidget.h
Labels: Bugfix, backport release-3_4, backport release-3_6

#9970 Fix plugin dependencies
  python/pyplugin_installer/plugindependencies.py
  python/utils.py
Labels: Bugfix

#9908 Round values in ExtentFromLayer processing algorithm
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/ExtentFromLayer.py
  python/plugins/processing/tests/testdata/expected/polygon_from_extent_rounded_2.gml
  python/plugins/processing/tests/testdata/expected/polygon_from_extent_rounded_2.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
Labels: Feature, Requires Tests!

#9971 [nodetool] chained add vertex at endpoint
  src/app/vertextool/qgsvertextool.cpp
  tests/src/app/testqgsvertextool.cpp
Labels: Feature

#9925 [processing] New algorithm "Overlap analysis"
  python/plugins/processing/tests/testdata/custom/circular_strings.gpkg
  python/plugins/processing/tests/testdata/custom/overlay0_4326.gml
  python/plugins/processing/tests/testdata/custom/overlay0_4326.xsd
  python/plugins/processing/tests/testdata/custom/pol.gpkg
  python/plugins/processing/tests/testdata/expected/merged_pol.gpkg
  python/plugins/processing/tests/testdata/expected/overlap_analysis_1.gml
  python/plugins/processing/tests/testdata/expected/overlap_analysis_1.xsd
  python/plugins/processing/tests/testdata/expected/overlap_analysis_4326.gml
  python/plugins/processing/tests/testdata/expected/overlap_analysis_4326.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmcalculateoverlaps.cpp
  src/analysis/processing/qgsalgorithmcalculateoverlaps.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature

#9993 fix issues with embedded layers
  src/core/qgsproject.cpp
  tests/src/python/test_qgsproject.py
  tests/testdata/embedded_groups/project2.qgs
Labels: backport release-3_4, backport release-3_6

#9996 Avoid unnecessary calculations in SVG fill symbol cloning
  src/core/symbology/qgsfillsymbollayer.cpp
Labels: Optimization, backport release-3_4, backport release-3_6

#9995 [processing] Add "Save layer styles into GeoPackage" option for Package Layers algorithm
  src/analysis/processing/qgsalgorithmpackage.cpp
  src/analysis/processing/qgsalgorithmpackage.h
Labels: Feature

#9992 allow browsing feature list in feature mode
  images/images.qrc
  images/themes/default/mActionDoubleArrowLeft.svg
  images/themes/default/mActionDoubleArrowRight.svg
  python/gui/auto_additions/qgsdualview.py
  python/gui/auto_generated/attributetable/qgsdualview.sip.in
  python/gui/auto_generated/attributetable/qgsfeaturelistview.sip.in
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
  src/ui/qgsattributetabledialog.ui
  src/ui/qgsdualviewbase.ui
  tests/src/app/testqgsattributetable.cpp
Labels: Feature

#10011 Add save to templates button
  src/app/qgisapp.cpp
Labels: Feature

#10002 Allow adding attachments in qgz files
  python/core/auto_generated/qgsproject.sip.in
  python/core/auto_generated/qgsziputils.sip.in
  src/core/qgsarchive.cpp
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/core/qgsziputils.cpp
  src/core/qgsziputils.h
  tests/src/core/testqgsproject.cpp
Labels: API, Feature

#10012 [Processing] Define boolean output
  python/core/auto_generated/processing/qgsprocessingoutputs.sip.in
  python/plugins/processing/core/outputs.py
  python/plugins/processing/gui/BatchAlgorithmDialog.py
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/qgsprocessingoutputs.cpp
  src/core/processing/qgsprocessingoutputs.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: API, Feature

#10007 [processing] add TMS and HTML output for tilesxyz
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/algs/qgis/TilesXYZ.py
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
Labels: Bugfix

#9988 floating widget for advanced input next to the cursor
  images/images.qrc
  images/themes/default/cadtools/floater.svg
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingfloater.sip.in
  python/gui/gui_auto.sip
  src/gui/CMakeLists.txt
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsadvanceddigitizingfloater.cpp
  src/gui/qgsadvanceddigitizingfloater.h
  src/ui/qgsadvanceddigitizingdockwidgetbase.ui
  src/ui/qgsadvanceddigitizingfloaterbase.ui
Labels: Feature

#10017 Make data type option translatable in GDAL algorithms dialog
  python/plugins/processing/algs/gdal/ClipRasterByExtent.py
  python/plugins/processing/algs/gdal/ClipRasterByMask.py
  python/plugins/processing/algs/gdal/rearrange_bands.py
  python/plugins/processing/algs/gdal/translate.py
  python/plugins/processing/algs/gdal/warp.py
Labels: Bugfix, backport release-3_4

#10024 [oauth2] Verify replies still exist and attribute gets are valid
  src/auth/oauth2/qgsauthoauth2method.cpp
Labels: Bugfix

#10009 Harmonize display of GDAL build vrt options [needs-docs]
  python/plugins/processing/algs/gdal/buildvrt.py
  python/plugins/processing/algs/gdal/pansharp.py
  python/plugins/processing/algs/gdal/retile.py
  python/plugins/processing/algs/gdal/warp.py
Labels: Bugfix, backport release-3_4

#10008 Fix option label for GDAL ADDO resampling method
  python/plugins/processing/algs/gdal/gdaladdo.py
Labels: Bugfix

#10028 Fix all layers are force redrawed whenever a filter is changed in any
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Bugfix, backport release-3_4

#10029 Don't show a 'invalid layer source' warning if a user opens a multi-layer vector
  src/app/qgisapp.cpp
Labels: Bugfix, backport release-3_4

#10031 [ui] Improve UX by adding an original source label when changing / updating layer data source
  python/gui/auto_generated/qgsdatasourceselectdialog.sip.in
  src/app/qgisapp.cpp
  src/gui/qgsdatasourceselectdialog.cpp
  src/gui/qgsdatasourceselectdialog.h
Labels: Bugfix, UX

#10010 [server] Support FILTER values with colons
  src/server/services/wms/qgswmsparameters.cpp
  tests/README.md
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter6/WMS_GetMap_Filter6.png
  tests/testdata/qgis_server/test_project_wms_filter.gpkg
  tests/testdata/qgis_server/test_project_wms_filter.qgs
Labels: Bugfix, backport release-3_4

#9991 [Server] Handle bad layers at QGIS project laoding and throw exception
  python/server/auto_generated/qgsstorebadlayerinfo.sip.in
  python/server/server_auto.sip
  src/server/CMakeLists.txt
  src/server/qgsconfigcache.cpp
  src/server/qgsstorebadlayerinfo.cpp
  src/server/qgsstorebadlayerinfo.h
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/qgis_server/test_project_wms_invalid_layers.qgs
Labels: Backport, Bugfix

#10032 [server] Support FILTER values with colons. backport of #10010
  src/server/services/wms/qgswmsparameters.cpp
  tests/README.md
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter6/WMS_GetMap_Filter6.png
  tests/testdata/qgis_server/test_project_wms_filter.gpkg
  tests/testdata/qgis_server/test_project_wms_filter.qgs
Labels: Backport, Bugfix

#10035 [RPM] Fix a dependency on older Fedora releases
  rpm/qgis.spec.template
Labels: Packaging, backport release-3_4

#10039 Ensure NULL item shows before field names in expression builder
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Bugfix, backport release-3_4

#10041 Fix incorrect entries are added to coordinate transform cache
  src/core/qgscoordinatetransform.cpp
  tests/src/core/testqgsdistancearea.cpp
Labels: Bugfix, backport release-3_4

#10040 Add missing function group help
  resources/function_help/json/Files and Paths
  resources/function_help/json/Rasters
  resources/function_help/json/Record and Attributes
Labels: Bugfix

#10048 update Travis to build on Trusty for code layout
  .docker/qgis_resources/test_runner/qgis_setup.sh
  .travis.yml
  scripts/qgis_srs.sh
  scripts/sip_include.sh
  scripts/spell_check/check_spelling.sh
  scripts/spell_check/spell_test.sh
  scripts/spell_check/test.sh
  scripts/verify-indentation.sh
  tests/code_layout/test_doxygen_layout.sh
  tests/testdata/qgis_local_server/fcgi/scripts/spawn_fcgi_mac.sh
  tests/testdata/qgis_local_server/lighttpd/scripts/lighttpd_debian.sh
  tests/testdata/qgis_local_server/lighttpd/scripts/lighttpd_mac.sh
Labels: backport release-3_4

#10054 Abort symbol rendering early if render job is cancelled
  src/core/symbology/qgsarrowsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgsheatmaprenderer.cpp
  src/core/symbology/qgsinvertedpolygonrenderer.cpp
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgspointdistancerenderer.cpp
  src/core/symbology/qgsrulebasedrenderer.cpp
  src/core/symbology/qgssymbol.cpp
Labels: Bugfix, Optimization, backport release-3_4

#10047 Fix identify on map in relation reference widget
  python/gui/auto_generated/editorwidgets/qgsrelationreferencewidget.sip.in
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: Bugfix, backport release-3_4

#9833 [server] Sanitise image creation
  src/server/services/wms/qgswmsgetfeatureinfo.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getmap_size_project.py
  tests/src/python/test_qgsserver_wms_getmap_size_server.py
Labels: Cleanup

#10021 add shortcuts to browse feature list
  src/app/qgisapp.cpp
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
  src/gui/qgsshortcutsmanager.cpp
Labels: UX

#10056 [layouts] Avoid resetting column selection when restoring project
  src/core/layout/qgslayoutitemattributetable.cpp
  tests/src/core/testqgslayouttable.cpp
  tests/testdata/layout_atlas_table.qgs
Labels: Bugfix, backport release-3_4

#10052 Also invalid QgsCoordinateReferenceSystem cache on qgis exit
  src/core/qgsapplication.cpp
Labels: Bugfix, backport release-3_4

#10061 [processing] use correct file extension in r.in.lidar.info (fix #21910)
  python/plugins/processing/algs/grass7/description/r.in.lidar.info.txt
Labels: Bugfix, backport release-3_4

#10062 [processing] move "Split RGB bands" algorithm inside "Raster tools" group (fix #21849)
  python/plugins/processing/algs/saga/SplitRGBBands.py
Labels: Bugfix, backport release-3_4

#10060 [processing] use correct parent layer parameter in v.net.distance algorithm (fix #22013)
  python/plugins/processing/algs/grass7/description/v.net.distance.txt
Labels: Bugfix, backport release-3_4

#10055 Fix rule based label/symbol renderers reset max scale for rules to 1:100000
  python/gui/auto_generated/qgsscalerangewidget.sip.in
  src/app/qgsrulebasedlabelingwidget.cpp
  src/gui/qgsscalerangewidget.h
  src/gui/symbology/qgsrulebasedrendererwidget.cpp
Labels: Bugfix, backport release-3_4

#9859 add mac/development README
  doc/osx.t2t
  mac/development.md
Labels: Documentation

#10059 [effects] Fix blur radius not taking dpi into account (fixes #14885)
  python/core/auto_generated/effects/qgsblureffect.sip.in
  python/core/auto_generated/effects/qgsgloweffect.sip.in
  python/core/auto_generated/effects/qgsshadoweffect.sip.in
  src/core/effects/qgsblureffect.cpp
  src/core/effects/qgsblureffect.h
  src/core/effects/qgsgloweffect.cpp
  src/core/effects/qgsgloweffect.h
  src/core/effects/qgsshadoweffect.cpp
  src/core/effects/qgsshadoweffect.h
  src/gui/effects/qgspainteffectwidget.cpp
  src/gui/effects/qgspainteffectwidget.h
  src/ui/effects/widget_blur.ui
  src/ui/effects/widget_glow.ui
  src/ui/effects/widget_shadoweffect.ui
  tests/src/core/testqgspainteffect.cpp
  tests/src/python/test_qgstextformatwidget.py
  tests/testdata/control_images/effects/expected_painteffect_blur/expected_painteffect_blur.png
  tests/testdata/control_images/effects/expected_painteffect_composer/expected_painteffect_composer.png
  tests/testdata/control_images/effects/expected_painteffect_dropshadow/expected_painteffect_dropshadow.png
  tests/testdata/control_images/effects/expected_painteffect_outerglow/expected_painteffect_outerglow.png
  tests/testdata/control_images/effects/expected_painteffect_stack/expected_painteffect_stack.png
Labels: Bugfix, backport release-3_4

#10063 Bugfix 22035 processing pg camel case schema
  python/plugins/processing/algs/qgis/ImportIntoPostGIS.py
  python/plugins/processing/tools/postgis.py
  tests/src/python/CMakeLists.txt
  tests/src/python/test_processing_importintopostgis.py
  tests/testdata/provider/testdata_pg.sql
Labels: Bugfix

#10077 db-manager: Update input layer and table names
  python/plugins/db_manager/dlg_import_vector.py
Labels: Bugfix, backport release-3_4

#10085 [processing] do not export sdat files in multiple raster input
  python/plugins/processing/algs/saga/SagaAlgorithm.py
Labels: backport release-3_4

#10080 [processing][needs-docs] allow to switch from batch dialog to single UI (fix #16893)
  python/plugins/processing/gui/BatchAlgorithmDialog.py
Labels: Bugfix

#10081 [maptips] restore wrapping of the long lines (fix #21388)
  src/gui/qgsmaptip.cpp
Labels: Bugfix, backport release-3_4

#10082 [db_manager] apply comment to the correct column when altering table column (fix #21425)
  python/plugins/db_manager/db_plugins/postgis/connector.py
Labels: Bugfix

#10074 [processing] split GRASS r.sun algorithm into two (fix #21637)
  python/plugins/processing/algs/grass7/description/r.sun.incidout.txt
  python/plugins/processing/algs/grass7/description/r.sun.insoltime.txt
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests.yaml
Labels: Bugfix, backport release-3_4

#25793 [processing] split GRASS r.sun algorithm into two (fix #21637)
  python/plugins/processing/algs/grass7/description/r.sun.incidout.txt
  python/plugins/processing/algs/grass7/description/r.sun.insoltime.txt
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests.yaml
Labels: Backport

#10093 [processing] do not declare output of saveselectedfeatures as points
  src/analysis/processing/qgsalgorithmsaveselectedfeatures.cpp
Labels: Bugfix, backport release-3_4

#10004 do not insert layers in embedded groups
  python/core/auto_generated/layertree/qgslayertreeutils.sip.in
  src/app/qgisapp.cpp
  src/core/layertree/qgslayertreeutils.cpp
  src/core/layertree/qgslayertreeutils.h
Labels: Bugfix

#10036 Fix export raster as GPKG
  src/gui/qgsrasterlayersaveasdialog.cpp
  src/gui/qgsrasterlayersaveasdialog.h
  src/ui/qgsrasterlayersaveasdialogbase.ui
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsrasterlayersavesdialog.cpp
Labels: Bugfix, backport release-3_4

#10089 Fix (?) crash when filtering layer with attachment field
  src/gui/qgsexternalresourcewidget.cpp
Labels: Bugfix, backport release-3_4

#29957 Regenerate distance area calculation on demand in attribute table
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/gui/attributetable/qgsdualview.h
  src/gui/qgsattributedialog.h
  src/gui/qgsmaptoolidentify.h
Labels: Bugfix, backport release-3_4

#29961 [processing] fixes issue with db lock when writing mbtiles
  python/plugins/processing/algs/qgis/TilesXYZ.py
Labels: Bugfix

#29965 Fix raster calculator invalid expressions
  src/analysis/raster/qgsrastercalclexer.ll
  tests/src/analysis/testqgsrastercalculator.cpp
Labels: Bugfix, backport release-3_4

#29967 Handle file:// links in identify text
  src/core/qgsstringutils.cpp
  tests/src/core/testqgsstringutils.cpp
Labels: Bugfix, backport release-3_4

#29946 WFS provider: fix issues with TYPENAME(S) and NAMESPACE(s) with WFS 2.0
  src/providers/wfs/qgswfscapabilities.cpp
  src/providers/wfs/qgswfscapabilities.h
  src/providers/wfs/qgswfsdescribefeaturetype.cpp
  src/providers/wfs/qgswfsdescribefeaturetype.h
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsshareddata.cpp
  src/providers/wfs/qgswfsshareddata.h
  tests/src/python/test_provider_wfs.py
  tests/src/python/test_provider_wfs_gui.py
Labels: Bugfix, backport release-3_4

#29949 [WFS provider] Support layers with GML field names only differing by cases (github fixes #29858)
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsfeatureiterator.h
  src/providers/wfs/qgswfsshareddata.cpp
  src/providers/wfs/qgswfsshareddata.h
  tests/src/python/test_provider_wfs.py
Labels: Bugfix, backport release-3_4

#29951 don't crash when requesting color for the NaN value (fix #29509)
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgscolorramp.py
  tests/src/python/test_qgsvectorcolorramp.py
Labels: Bugfix, backport release-3_4

#29960 update to MDAL 0.3.3
  external/mdal/frmts/mdal_flo2d.cpp
  external/mdal/frmts/mdal_flo2d.hpp
  external/mdal/mdal.cpp
  external/mdal/mdal_utils.cpp
  external/mdal/mdal_utils.hpp
Labels: Bugfix

#29959 Mentioning array_agg in relation_aggregate function help
  resources/function_help/json/relation_aggregate
Labels: Documentation

#29947 QgsVectorFileWriter::writeAsVectorFormat(): return appropriate output layer name for GPX driver (fixes redmine #22005)
  src/core/qgsvectorfilewriter.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Bug, backport release-3_4

#29977 Fix labeling ignores "label per part" setting when geometry parts are adjacent
  src/core/qgspallabeling.cpp
  tests/src/core/testqgslabelingengine.cpp
  tests/testdata/control_images/labelingengine/expected_label_adjacent_parts/expected_label_adjacent_parts.png
Labels: Bug, backport release-3_4

#29976 Fix offset labels from reprojected layers when map is rotated
  src/core/qgspallabeling.cpp
  tests/src/core/testqgslabelingengine.cpp
  tests/testdata/control_images/labelingengine/expected_label_rotate_with_reproject/expected_label_rotate_with_reproject.png
Labels: Bug, backport release-3_4

#29970 Server WFS fix describefeaturetype double virtual fields
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/bug_gh29767_double_vfield.qgs
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_virtual_fields.txt
Labels: Bug, backport release-3_4

#29968 QgsLayoutAtlasWidget: Disconnect signals when layout RIP
  src/app/layout/qgslayoutatlaswidget.cpp
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Bug, backport release-3_4

#29983 Fix atlas export when file name contains multiple dots
  src/core/layout/qgslayoutexporter.cpp
Labels: Bug, backport release-3_4

#29982 don't crash when requesting color for the NaN value (fix #29509)
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgscolorramp.py
  tests/src/python/test_qgsvectorcolorramp.py
Labels: Backport

#29991 Fix buttons to adjust marker size do not work
  src/ui/qgsoptionsbase.ui
Labels: Bug

#29989 [Backport release-3_4] QgsVectorFileWriter::writeAsVectorFormat(): return appropriate output layer name for GPX driver (github fixes #29819)
  src/core/qgsvectorfilewriter.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Backport, Bug

#29981 Fix crash when exporting layout
  src/core/layout/qgslayoutmultiframe.cpp
Labels: Bug, backport release-3_4

#30001 [processing] add default value to user filter matrix (fix #29999)
  python/plugins/processing/algs/saga/description/UserDefinedFilter.txt
Labels: Bug, backport release-3_4

#30005 fix #30003 crash in mesh calculator
  src/app/mesh/qgsmeshcalculatordialog.cpp
Labels: Bug

#29997 fix #29630 spatialindex for NaN points
  src/core/qgspointlocator.cpp
  src/core/qgsspatialindex.cpp
Labels: Bug, backport release-3_4

#30017 Don't crash when copying layout elements
  src/gui/layout/qgslayoutview.cpp
Labels: Bug, backport release-3_4

#30018 [layout][ui] Fix missing opacity setting for the label font color button
  src/app/layout/qgslayoutlabelwidget.cpp
  src/core/layout/qgslayoutitemlabel.cpp
Labels: Bug, backport release-3_4

#30013 [wcs] safer and faster rendering of WCS layers
  src/providers/wcs/qgswcscapabilities.cpp
  src/providers/wcs/qgswcscapabilities.h
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wcs/qgswcsprovider.h
Labels: Bug

#30026 [WFS client] Revert read buffer size limitation (fixes #29258, fixes #27626)
  src/providers/wfs/qgswfsrequest.cpp
Labels: Bug, backport release-3_4

#30021 [Backport release-3_4] QgsGeometryUtils::segmentizeArc(): fix full circle segmentization (fixes #29895)
  src/core/geometry/qgsgeometryutils.cpp
  tests/src/core/testqgsgeometry.cpp
  tests/src/core/testqgsgeometryutils.cpp
Labels: Backport, Bug

#30024 [OGR provider] Map GeometryCollection of TIN coming from multipart shapefiles to MultiPolygonZ (fixes #29376)
  src/core/qgsogrutils.cpp
  src/core/qgsogrutils.h
  src/providers/ogr/qgsogrdataitems.cpp
  src/providers/ogr/qgsogrprovider.cpp
  src/providers/ogr/qgsogrprovider.h
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/python/test_provider_shapefile.py
  tests/testdata/multipatch.shp
  tests/testdata/multipatch.shx
  tests/testdata/points_gpkg.gpkg
Labels: Bug, backport release-3_4

#30037 [Backport 3.4] [OGR provider] Map GeometryCollection of TIN coming from multipart shapefiles to MultiPolygonZ (fixes #29376)
  src/core/qgsogrutils.cpp
  src/core/qgsogrutils.h
  src/providers/ogr/qgsogrdataitems.cpp
  src/providers/ogr/qgsogrprovider.cpp
  src/providers/ogr/qgsogrprovider.h
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/python/test_provider_shapefile.py
  tests/testdata/multipatch.shp
  tests/testdata/multipatch.shx
  tests/testdata/points_gpkg.gpkg
Labels: Backport, Bug

#30030 fix #30028 Closing Vertex Edititor crashes the app
  src/app/vertextool/qgsvertextool.cpp
  src/app/vertextool/qgsvertextool.h
Labels: Bug, backport release-3_4

#30032 [browser] Fix removal of views from postgres databases (fixes #29812)
  src/providers/postgres/qgspostgresdataitems.cpp
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Bug, backport release-3_4
