Repository qgis/QGIS, pull requests merged in 2019-06, with the labels that each got.

#30048 [needs-docs] Append a local, user writable folder to proj 6 search paths
  python/core/auto_generated/qgsprojutils.sip.in
  src/core/qgsapplication.cpp
  src/core/qgsprojutils.cpp
  src/core/qgsprojutils.h
  tests/src/core/testqgsprojutils.cpp
Labels: Bug, Projections/Transformations

#30033 Fix histogram bindings
  python/core/auto_generated/raster/qgsrasterinterface.sip.in
  src/core/raster/qgsrasterinterface.h
Labels: Bug, Needs Forwardporting

#9980 Change the httpd template to use Apache 2.4 style
  ms-windows/osgeo4w/httpd.conf.tmpl
Labels: Documentation

#29992 [processing] fix NDVI calculation
  python/plugins/processing/algs/qgis/ui/RasterCalculatorWidgets.py
Labels: Processing, backport release-3_4

#30053 [needs-docs] Make label map tools follow click-click behavior
  src/app/qgsmaptoolmovelabel.cpp
  src/app/qgsmaptoolmovelabel.h
  src/app/qgsmaptoolrotatelabel.cpp
  src/app/qgsmaptoolrotatelabel.h
Labels: GUI/UX, Labeling, Map Tools

#30074 Fix "default layout templates" button
  src/app/layout/qgslayoutmanagerdialog.cpp
  src/app/layout/qgslayoutmanagerdialog.h
Labels: Bug, GUI/UX, backport release-3_4

#30008 Backport and enhance fix export raster as GPKG
  src/gui/qgsrasterlayersaveasdialog.cpp
  src/gui/qgsrasterlayersaveasdialog.h
  src/ui/qgsrasterlayersaveasdialogbase.ui
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsrasterlayersaveasdialog.cpp
Labels: Bug, Needs Forwardporting

#30045 [dbmanager] add primary key to the view created by versioning plugin (fix #25888)
  python/plugins/db_manager/db_plugins/postgis/plugins/versioning/dlg_versioning.py
Labels: Bug, backport release-3_4

#30077 Use system cache location instead of profile folder for network cache
  src/app/qgsoptions.cpp
  src/core/qgsnetworkaccessmanager.cpp
Labels: backport release-3_4

#30091 issue exporting as gpkg fwd port from 3 4
  src/gui/qgsrasterlayersaveasdialog.cpp
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsrasterlayersaveasdialog.cpp
Labels: Bug

#30092 Welcome page: hide migration from QGIS2 option if settings do not exist
  src/app/main.cpp
  src/app/qgsfirstrundialog.cpp
  src/app/qgsfirstrundialog.h
  src/ui/qgsfirstrundialog.ui
Labels: Bug, backport release-3_4

#30039 [WFS provider] Avoid dangling download progress dialog
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsfeatureiterator.h
Labels: Bug, backport release-3_4

#30025 Emit newProject after save project as ...
  python/core/auto_generated/qgsbrowsermodel.sip.in
  src/app/qgisapp.cpp
  src/core/qgsbrowsermodel.cpp
  src/core/qgsbrowsermodel.h
  src/core/qgsproject.cpp
  src/gui/qgsbrowserdockwidget.cpp
Labels: Bug, Squash!, backport release-3_4

#29962 Backport : Fix invalid data source message is always shown for release-3_4
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Backport, Bug

#30076 Only check server SSL certificate if requested
  .ci/travis/linux/docker-compose.travis.yml
  .ci/travis/linux/scripts/test_blacklist.txt
  src/auth/basic/qgsauthbasicmethod.cpp
  tests/src/python/test_authmanager_password_postgres.py
  tests/testdata/Dockerfile-postgis
  tests/testdata/auth_system/certs_keys/postgres.crt
  tests/testdata/auth_system/certs_keys/postgres.key
  tests/testdata/temp/setup-ssl.sh
Labels: backport release-3_4

#30117 Fix crash when closing QGIS with open layout designer windows
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Bug, backport release-3_4

#30100 Do not emit dateChanged signal if value has not changed
  python/core/auto_generated/qgsattributeeditorelement.sip.in
  src/core/qgsattributeeditorelement.h
  src/gui/editorwidgets/qgsdatetimeedit.cpp
  src/gui/qgsmaptool.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsattributeform.py
Labels: Bug, backport release-3_4

#30098 Get raster layer name when d&d gpkg, also open vectors in addition to…
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_4

#30096 createFeatures check unique constraints on unfiltered layer
  mac/development.md
  scripts/spell_check/.agignore
  src/core/qgsvectorlayerutils.cpp
  tests/src/core/testqgsjsonutils.cpp
  tests/src/python/test_qgsvectorlayerutils.py
  tests/testdata/humanbeings.gpkg
  tests/testdata/points_gpkg.gpkg
Labels: Bug, backport release-3_4

#30119 Fix filtering of attribute table to visible features when linked map is rotated
  src/core/layout/qgslayoutitemattributetable.cpp
  tests/src/core/testqgslayouttable.cpp
Labels: Bug, Print Layouts, backport release-3_4

#30125 Avoid sqlite database lookup on EVERY https network request
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: Bug, backport release-3_4

#30145 Use * to fetch all fields from feature services, don't list them one by one
  src/providers/arcgisrest/qgsafsshareddata.cpp
  src/providers/arcgisrest/qgsarcgisrestutils.cpp
  tests/src/python/test_provider_afs.py
Labels: Bug, Data Provider, backport release-3_4

#30143 Fix attribute table filtering to items within atlas feature when atlas feature has a different CRS to table layer
  src/core/layout/qgslayoutitemattributetable.cpp
  tests/src/core/testqgslayouttable.cpp
Labels: Bug, Print Layouts, backport release-3_4

#30142 Avoid multiple redundant requests for mapserver legends
  src/providers/arcgisrest/qgsamsprovider.cpp
  src/providers/arcgisrest/qgsamsprovider.h
Labels: Optimization

#30137 Fix json hanlding of bools and complete json(b) PG support
  python/core/auto_generated/qgsjsonutils.sip.in
  src/core/qgsjsonutils.cpp
  src/core/qgsjsonutils.h
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  tests/src/core/testqgsjsonutils.cpp
  tests/src/python/test_provider_postgres.py
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas_cities.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_top.txt
Labels: Bug

#30151 When loading a QLR, try to match the layer name if id does not
  python/core/auto_generated/fieldformatter/qgsvaluerelationfieldformatter.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/fieldformatter/qgsvaluerelationfieldformatter.cpp
  src/core/fieldformatter/qgsvaluerelationfieldformatter.h
  src/core/layout/qgslayoutitemattributetable.h
  src/core/qgslayerdefinition.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayerref.h
  src/gui/editorwidgets/qgsvaluerelationconfigdlg.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  tests/src/core/testqgsmaplayer.cpp
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
Labels: Bug, backport release-3_4

#30079 [cad] fix graphical glitches
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  python/gui/auto_generated/qgsmaptooladvanceddigitizing.sip.in
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsmaptooladvanceddigitizing.h
  src/gui/qgsmaptoolcapture.cpp
Labels: Bug, GUI/UX, backport release-3_4

#30155 QObjectUniquePtr
  src/core/CMakeLists.txt
  src/core/qobjectuniqueptr.h
  tests/src/core/CMakeLists.txt
  tests/src/core/testqobjectuniqueptr.cpp
Labels: API

#30167 Fix datum transform prompt is not always showing after adding new layers to a project
  src/app/qgisapp.cpp
Labels: Bug

#30158 Fix exception in select by expression using not equal to operator
  python/plugins/processing/algs/qgis/SelectByAttribute.py
  src/analysis/processing/qgsalgorithmextractbyattribute.cpp
Labels: Bug, Processing, backport release-3_4

#30146 Make batch processing HTML report more useful
  python/plugins/processing/gui/BatchAlgorithmDialog.py
Labels: Bug, Processing

#30175 [processing] Port "Points along geometry" to QgsFeatureBasedAlgorithm
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/PointsAlongGeometry.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/tests/testdata/expected/points_along_lines_end_offset.gml
  python/plugins/processing/tests/testdata/expected/points_along_lines_end_offset.xsd
  python/plugins/processing/tests/testdata/expected/points_along_lines_m.dbf
  python/plugins/processing/tests/testdata/expected/points_along_lines_m.prj
  python/plugins/processing/tests/testdata/expected/points_along_lines_m.qpj
  python/plugins/processing/tests/testdata/expected/points_along_lines_m.shp
  python/plugins/processing/tests/testdata/expected/points_along_lines_m.shx
  python/plugins/processing/tests/testdata/expected/points_along_lines_start_offset.gml
  python/plugins/processing/tests/testdata/expected/points_along_lines_start_offset.xsd
  python/plugins/processing/tests/testdata/expected/points_along_lines_z.dbf
  python/plugins/processing/tests/testdata/expected/points_along_lines_z.prj
  python/plugins/processing/tests/testdata/expected/points_along_lines_z.qpj
  python/plugins/processing/tests/testdata/expected/points_along_lines_z.shp
  python/plugins/processing/tests/testdata/expected/points_along_lines_z.shx
  python/plugins/processing/tests/testdata/expected/points_along_polys.gml
  python/plugins/processing/tests/testdata/expected/points_along_polys.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmpointsalonggeometry.cpp
  src/analysis/processing/qgsalgorithmpointsalonggeometry.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Processing

#30173 [dbmanager] allow to import GEOMETRY tables
  python/plugins/db_manager/db_plugins/plugin.py
Labels: Bug, backport release-3_4

#30128 Keep rubberband while attribute dialog is open
  python/gui/auto_generated/qgsmaptoolcapture.sip.in
  src/app/qgsfeatureaction.cpp
  src/app/qgsfeatureaction.h
  src/app/qgsmaptooladdfeature.cpp
  src/gui/qgsmaptoolcapture.cpp
  src/gui/qgsmaptoolcapture.h
Labels: Bug, GUI/UX, Regression

#30180 Defer zoom to first loaded layer extent for layers with broken paths
  src/gui/layertree/qgslayertreemapcanvasbridge.cpp
  src/gui/layertree/qgslayertreemapcanvasbridge.h
Labels: Bug

#30181 [processing] Fix iterating mode when output is a temporary layer
  src/core/processing/qgsprocessingutils.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bug, Processing, backport release-3_4

#30178 Allow double-clicking items in data source select dialog to choose them
  python/gui/auto_generated/qgsdatasourceselectdialog.sip.in
  src/gui/qgsdatasourceselectdialog.cpp
  src/gui/qgsdatasourceselectdialog.h
Labels: GUI/UX

#30184 An attempt to fix oid overflow in regclass
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Bug, backport release-3_4

#30177 Expose some more auth manager methods to Python
  python/core/auto_generated/auth/qgsauthmanager.sip.in
  src/core/auth/qgsauthmanager.h
Labels: Authentication

#30104 [oauth2] Fix token refresh timeout cancellation with singleshot timer
  src/auth/oauth2/qgsauthoauth2method.cpp
Labels: Authentication, backport release-3_4

#30213 Allow setting the default for new projects to "no projection"
  src/app/qgsoptions.cpp
  src/gui/qgsprojectionselectionwidget.cpp
Labels: Bug

#9692 Fix regression server print selection pdf release 3.4
  src/core/layout/qgslayoutexporter.cpp
  tests/src/python/test_qgsserver_wms_getprint.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Basic_Pdf/WMS_GetPrint_Basic_Pdf.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Basic_Pdf/WMS_GetPrint_Basic_Pdf_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Selection_Pdf/WMS_GetPrint_Selection_Pdf.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Selection_Pdf/WMS_GetPrint_Selection_Pdf_mask.png
Labels: Backport, Bug

#30215 [Server] GetContext: Fix hidden attribute value based on tree layer visibility
  src/server/services/wms/qgswmsgetcontext.cpp
  tests/testdata/qgis_server/getcontext.txt
Labels: Bug, Server, backport release-3_4

#30204 Always use the correct legend size when rendering legends
  src/core/layout/qgslayoutitemlegend.cpp
Labels: Print Layouts

#30224 [Backport release-3_4]GetContext: Fix hidden attribute value based on tree layer visibility
  src/server/services/wms/qgswmsgetcontext.cpp
  tests/testdata/qgis_server/getcontext.txt
Labels: Backport, Bug, Server

#9816 Allow calculation on subset of data
  python/core/auto_generated/qgsaggregatecalculator.sip.in
  python/core/auto_generated/qgsvectordataprovider.sip.in
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/core/qgsaggregatecalculator.cpp
  src/core/qgsaggregatecalculator.h
  src/core/qgsvectordataprovider.cpp
  src/core/qgsvectordataprovider.h
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  tests/src/python/test_qgsaggregatecalculator.py
  tests/src/python/test_qgsvectorlayer.py
Labels: API, Squash!

#30229 QgsDataSourceURI doxygen improvements
  python/core/auto_generated/qgsdatasourceuri.sip.in
  src/core/qgsdatasourceuri.cpp
  src/core/qgsdatasourceuri.h
Labels: Documentation

#30236 Fix missing default value for Select by Expression
  python/plugins/processing/algs/qgis/SelectByExpression.py
Labels: Bug, Processing, backport release-3_4

#30235 Fix collecting geometries when one of the added geometries is already multi-part
  src/core/geometry/qgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Bug, backport release-3_4

#30198 [needs-docs] Add --version|-v cli option to qgis executable
  src/app/main.cpp
Labels: Bug, backport release-3_4

#30205 Pg oid backport
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Backport, Bug

#9761 [vertex tool] Tweak vertex markers so that they are not filled
  src/app/vertextool/qgsvertextool.cpp
Labels: GUI/UX

#30255 update crash reports for github
  src/crashhandler/qgscrashdialog.cpp
  src/crashhandler/qgscrashreport.cpp
Labels: backport release-3_4

#30253 Synchronize status bar messages
  python/gui/auto_generated/qgsstatusbar.sip.in
  src/app/qgisapp.cpp
  src/gui/qgsstatusbar.cpp
  src/gui/qgsstatusbar.h
Labels: backport release-3_4

#30254 Fix handling of relative paths for XYZ tiles using file:/// URLs
  src/core/raster/qgsrasterlayer.cpp
Labels: Bug

#9920 [processing] Drop existing fid columns when running Package Layers algorithm
  src/analysis/processing/qgsalgorithmpackage.cpp
Labels: Bug, backport release-3_4

#30283 Fix priority of parallel placements
  src/core/pal/feature.cpp
  tests/src/core/testqgslabelingengine.cpp
  tests/testdata/control_images/labelingengine/expected_parallel_prefer_above/expected_parallel_prefer_above.png
Labels: Bug, Labeling, backport release-3_4

#30282 Allow data defined control over line placement options
  python/core/auto_generated/qgspallabeling.sip.in
  src/app/CMakeLists.txt
  src/app/qgslabelinggui.cpp
  src/core/pal/feature.cpp
  src/core/pal/layer.cpp
  src/core/pal/layer.h
  src/core/qgslabelfeature.h
  src/core/qgslabelingengine.cpp
  src/core/qgslabelingengine.h
  src/core/qgspallabeling.cpp
  src/core/qgspallabeling.h
  src/core/qgsvectorlayerdiagramprovider.cpp
  src/core/qgsvectorlayerlabelprovider.cpp
  src/gui/CMakeLists.txt
  src/gui/qgstextformatwidget.cpp
  src/providers/arcgisrest/CMakeLists.txt
  src/ui/qgstextformatwidgetbase.ui
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgslabelingengine.cpp
  tests/src/providers/CMakeLists.txt
Labels: Labeling, backport release-3_4

#30271 Server wms bbox wrong transform on empty layers
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/src/python/test_qgsserver_wms.py
  tests/testdata/qgis_server/bug_gh30264_empty_layer_wrong_bbox.gpkg
  tests/testdata/qgis_server/bug_gh30264_empty_layer_wrong_bbox.qgs
  tests/testdata/qgis_server/wms_getcapabilities_empty_layer.txt
Labels: Bug, Server, backport release-3_4

#30276 Fix crash in raster calculator
  src/analysis/raster/qgsrastercalculator.cpp
Labels: backport release-3_4

#30304 When a layer item is set to block labels from a map don't apply the "label margin from map edge" to this item's extent
  src/core/layout/qgslayoutitemmap.cpp
  tests/src/core/testqgslayoutmap.cpp
Labels: Bug, Print Layouts

#30305 Fix string values are always repeated in expression build field values list
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Bug

#30310 [ui] Fix undersized labelling engine settings button on hidpi screens
  images/themes/default/mIconAutoPlacementSettings.svg
  src/ui/qgslabelingwidget.ui
Labels: Bug, GUI/UX, backport release-3_4

#30291 Server wms bbox wrong transform on empty layers
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/src/python/test_qgsserver_wms.py
  tests/testdata/qgis_server/bug_gh30264_empty_layer_wrong_bbox.gpkg
  tests/testdata/qgis_server/bug_gh30264_empty_layer_wrong_bbox.qgs
  tests/testdata/qgis_server/wms_getcapabilities_empty_layer.txt
Labels: Backport, Bug

#30113 Cleanup dockerfile customizations
  tests/testdata/Dockerfile-postgis
  tests/testdata/temp/setup-ssl.sh
Labels: backport release-3_8

#10005 [Processing] climb along line algorithm
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/Climb.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/tests/testdata/custom/climb_line.cpg
  python/plugins/processing/tests/testdata/custom/climb_line.dbf
  python/plugins/processing/tests/testdata/custom/climb_line.prj
  python/plugins/processing/tests/testdata/custom/climb_line.qpj
  python/plugins/processing/tests/testdata/custom/climb_line.shp
  python/plugins/processing/tests/testdata/custom/climb_line.shx
  python/plugins/processing/tests/testdata/expected/climb_layer_result.dbf
  python/plugins/processing/tests/testdata/expected/climb_layer_result.prj
  python/plugins/processing/tests/testdata/expected/climb_layer_result.qpj
  python/plugins/processing/tests/testdata/expected/climb_layer_result.shp
  python/plugins/processing/tests/testdata/expected/climb_layer_result.shx
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
Labels: Feature, Frozen, Merge After Thaw, Squash!

#10020 Templates on welcome page
  python/core/auto_generated/qgsproject.sip.in
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsprojectlistitemdelegate.cpp
  src/app/qgsprojectlistitemdelegate.h
  src/app/qgsrecentprojectsitemsmodel.cpp
  src/app/qgsrecentprojectsitemsmodel.h
  src/app/qgstemplateprojectsmodel.cpp
  src/app/qgstemplateprojectsmodel.h
  src/app/qgswelcomepage.cpp
  src/app/qgswelcomepage.h
  src/app/qgswelcomepageitemsmodel.cpp
  src/core/qgsproject.h
Labels: Feature, Merge After Thaw

#30281 Handle text formats in style manager
  python/core/auto_generated/qgspallabeling.sip.in
  python/core/auto_generated/qgstextrenderer.sip.in
  python/core/auto_generated/symbology/qgsstyle.sip.in
  python/core/auto_generated/symbology/qgsstylemodel.sip.in
  python/gui/auto_generated/qgsstyleitemslistwidget.sip.in
  python/gui/auto_generated/qgstextformatwidget.sip.in
  python/gui/auto_generated/symbology/qgsstylesavedialog.sip.in
  python/gui/auto_generated/symbology/qgssymbolslistwidget.sip.in
  python/gui/gui_auto.sip
  src/app/CMakeLists.txt
  src/core/qgspallabeling.cpp
  src/core/qgspallabeling.h
  src/core/qgstextrenderer.cpp
  src/core/qgstextrenderer.h
  src/core/qgstextrenderer_p.h
  src/core/symbology/qgsstyle.cpp
  src/core/symbology/qgsstyle.h
  src/core/symbology/qgsstylemodel.cpp
  src/core/symbology/qgsstylemodel.h
  src/gui/CMakeLists.txt
  src/gui/qgslabelinggui.cpp
  src/gui/qgslabelinggui.h
  src/gui/qgsstyleitemslistwidget.cpp
  src/gui/qgsstyleitemslistwidget.h
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
  src/gui/symbology/qgsstyleexportimportdialog.cpp
  src/gui/symbology/qgsstylemanagerdialog.cpp
  src/gui/symbology/qgsstylemanagerdialog.h
  src/gui/symbology/qgsstylesavedialog.cpp
  src/gui/symbology/qgsstylesavedialog.h
  src/gui/symbology/qgssymbolslistwidget.cpp
  src/gui/symbology/qgssymbolslistwidget.h
  src/ui/qgsstyleitemslistwidgetbase.ui
  src/ui/qgsstylemanagerdialogbase.ui
  src/ui/qgsstylesavedialog.ui
  src/ui/qgstextformatwidgetbase.ui
  src/ui/symbollayer/widget_symbolslist.ui
  tests/src/core/testqgsstyle.cpp
  tests/src/python/test_qgsstylemodel.py
  tests/src/python/test_qgstextformatwidget.py
  tests/src/python/test_qgstextrenderer.py
Labels: Feature, Labeling, Merge After Thaw

#30314 Use QStringLiteral in Auth Manager
  src/core/auth/qgsauthmanager.cpp
Labels: Cleanup

#10084 [FEATURE][processing] new algorithm point to layer
  python/plugins/processing/tests/testdata/expected/point_to_layer.gml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmpointtolayer.cpp
  src/analysis/processing/qgsalgorithmpointtolayer.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature, Merge After Thaw

#30320 fix #30260
  python/plugins/db_manager/db_plugins/plugin.py
Labels: backport release-3_8

#30334 QgsApplication::init(): fix a use-after-free with PROJ 6
  src/core/qgsapplication.cpp
Labels: Bug, backport release-3_8

#30329 [processing] set correct default for r.stream.extract algorithm (fix #30231)
  python/plugins/processing/algs/grass7/description/r.stream.extract.txt
Labels: Bug, backport release-3_4, backport release-3_8

#30331 [processing] assign correct ids to features in the random points in polygons algorithm (fix #26321)
  python/plugins/processing/algs/qgis/RandomPointsPolygons.py
Labels: Bug, backport release-3_4, backport release-3_8

#30333 [processing] remove trailing semicolon from SQL before creating a layer (fix #30239)
  python/plugins/processing/algs/qgis/PostGISExecuteAndLoadSQL.py
Labels: Bug, backport release-3_4, backport release-3_8

#30343 [processing] Fix incorrect columns hidden when toggling advanced parameters
  python/plugins/processing/gui/BatchPanel.py
Labels: Backport, Bug

#30347 [needs-docs] Tweak "delete selected" icon
  images/images.qrc
  images/themes/default/mActionDeleteSelectedFeatures.svg
  src/app/qgisapp.cpp
  src/app/qgsattributetabledialog.cpp
  src/ui/qgisapp.ui
  src/ui/qgsattributetabledialog.ui
Labels: GUI/UX

#30348 [ui] When the color ramp shader widget list of values has been customized, maintain those values when modifying the color ramp
  src/gui/raster/qgscolorrampshaderwidget.cpp
Labels: Bug, GUI/UX, backport release-3_4, backport release-3_8

#30346 Project Templates fixes
  src/app/qgisapp.cpp
  src/app/qgswelcomepage.cpp
Labels: Bug

#30356 Add DateTime filter support to QgsFieldProxyModel
  src/core/qgsfieldproxymodel.cpp
  src/core/qgsfieldproxymodel.h
  tests/src/gui/testqgsfieldexpressionwidget.cpp
Labels: API

#30352 [processing] allow to define model parameters as advanced
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
Labels: Feature

#30357 [map canvas] Fix scale change when resizing in locked scale mode
  src/gui/qgsmapcanvas.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#30344 update number of classes in the graduated renderer (fix #29796)
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#30274 Add NMEA GST Message for GPSInformation.Accuracies
  external/nmea/info.h
  external/nmea/parse.c
  external/nmea/parse.h
  external/nmea/sentence.c
  external/nmea/sentence.h
  python/core/auto_generated/gps/qgsnmeaconnection.sip.in
  src/core/gps/qgsnmeaconnection.cpp
  src/core/gps/qgsnmeaconnection.h
Labels: Squash!

#30382 Adapt PROJ search path handling for Proj 6.1.1
  src/core/qgsprojutils.cpp
Labels: Bug, backport release-3_8

#30383 Fix incorrect font name in font button tooltips
  src/gui/qgsfontbutton.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#30401 [symbology] Fix broken centroid fill's force point inside polygon
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgssymbollayerutils.cpp
  src/core/symbology/qgssymbollayerutils.h
  tests/src/core/testqgscentroidfillsymbol.cpp
  tests/testdata/control_images/symbol_centroidfill/expected_symbol_centroidfill_point_on_surface/expected_symbol_centroidfill_point_on_surface.png
  tests/testdata/control_images/symbol_centroidfill/expected_symbol_centroidfill_point_on_surface/expected_symbol_centroidfill_point_on_surface_mask.png
Labels: Bug, Symbology, backport release-3_4, backport release-3_8

#30407 [processing] Fix exception in BatchInputSelectionPanel
  python/plugins/processing/gui/wrappers.py
Labels: backport release-3_8

#30390 Fix QGIS Server WFS geometryless DescribeFeatureType
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/test_project_geometryless_gh30381.qgs
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_geometryless.txt
Labels: Bug, backport release-3_4, backport release-3_8

#30417 Fix QGIS Server WFS geometryless DescribeFeatureType (#30390)
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/test_project_geometryless_gh30381.qgs
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_geometryless.txt
Labels: Backport, backport release-3_4

#30377 [processing] allow passing additional command line parameters to GDAL algorithms
  python/plugins/processing/algs/gdal/ClipRasterByExtent.py
  python/plugins/processing/algs/gdal/ClipRasterByMask.py
  python/plugins/processing/algs/gdal/ColorRelief.py
  python/plugins/processing/algs/gdal/GridAverage.py
  python/plugins/processing/algs/gdal/GridDataMetrics.py
  python/plugins/processing/algs/gdal/GridInverseDistance.py
  python/plugins/processing/algs/gdal/GridInverseDistanceNearestNeighbor.py
  python/plugins/processing/algs/gdal/GridLinear.py
  python/plugins/processing/algs/gdal/GridNearestNeighbor.py
  python/plugins/processing/algs/gdal/aspect.py
  python/plugins/processing/algs/gdal/buildvrt.py
  python/plugins/processing/algs/gdal/contour.py
  python/plugins/processing/algs/gdal/fillnodata.py
  python/plugins/processing/algs/gdal/gdaladdo.py
  python/plugins/processing/algs/gdal/gdalcalc.py
  python/plugins/processing/algs/gdal/gdalinfo.py
  python/plugins/processing/algs/gdal/hillshade.py
  python/plugins/processing/algs/gdal/merge.py
  python/plugins/processing/algs/gdal/nearblack.py
  python/plugins/processing/algs/gdal/pansharp.py
  python/plugins/processing/algs/gdal/polygonize.py
  python/plugins/processing/algs/gdal/proximity.py
  python/plugins/processing/algs/gdal/retile.py
  python/plugins/processing/algs/gdal/sieve.py
  python/plugins/processing/algs/gdal/slope.py
  python/plugins/processing/algs/gdal/translate.py
  python/plugins/processing/tests/CMakeLists.txt
  python/plugins/processing/tests/GdalAlgorithmsGeneralTest.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
  python/plugins/processing/tests/GdalAlgorithmsVectorTest.py
  python/plugins/processing/tests/testdata/custom/circular_strings.gpkg
  python/plugins/processing/tests/testdata/gdal_algorithm_raster_tests.yaml
  python/plugins/processing/tests/testdata/gdal_algorithm_vector_tests.yaml
Labels: Feature, Processing

#30227 [needs-docs] Ensure layer legend graphics are horizontally scrollable (fixes #28050)
  python/gui/auto_generated/layertree/qgslayertreeview.sip.in
  src/gui/layertree/qgslayertreeembeddedwidgetsimpl.cpp
  src/gui/layertree/qgslayertreeview.cpp
  src/gui/layertree/qgslayertreeview.h
  src/gui/layertree/qgslayertreeviewitemdelegate.cpp
  src/gui/layertree/qgslayertreeviewitemdelegate.h
Labels: Map and Legend

#30403 [Backport 3.4][symbology] Fix broken centroid fill's force point inside polygon
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgssymbollayerutils.cpp
  src/core/symbology/qgssymbollayerutils.h
  tests/src/core/testqgscentroidfillsymbol.cpp
  tests/testdata/control_images/symbol_centroidfill/expected_symbol_centroidfill_point_on_surface/expected_symbol_centroidfill_point_on_surface.png
  tests/testdata/control_images/symbol_centroidfill/expected_symbol_centroidfill_point_on_surface/expected_symbol_centroidfill_point_on_surface_mask.png
Labels: Backport, Bug

#30422 Fix __MAC_OS_X_VERSION_MAX_ALLOWED comparison in dark theme function
  src/native/mac/qgsmacnative.mm
Labels: backport release-3_8

#30425 Also use 'title' as a candidate for good field names for identifying features
  src/core/qgsvectorlayer.cpp
Labels: backport release-3_8

#30428 Fix vertical clipping of legend graphics (partial backport of #30227)
  src/gui/layertree/qgslayertreeview.cpp
Labels: Map and Legend, backport release-3_4

#30432 Fix potential crash on exit
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#30418 Fix QGIS Server WFS geometryless DescribeFeatureType (#30390)
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/test_project_geometryless_gh30381.qgs
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_geometryless.txt
Labels: Backport

#30265 Update datasource when using postgres provider so we have the key column in it
  src/core/qgsvectorlayer.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, backport release-3_4, backport release-3_8

#30423 [OGR provider] Handle read-write support for .shz and .shp.zip with GDAL 3.1
  src/core/providers/gdal/qgsgdaldataitems.cpp
  src/core/providers/ogr/qgsogrdataitems.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/core/qgis.cpp
  tests/src/python/test_provider_shapefile.py
Labels: Feature

#30443 use correct method name in the batch input selector for vector layers (fix #30410)
  python/plugins/processing/gui/wrappers.py
Labels: Bug, Processing, backport release-3_8

#9594 Fix WFS 2.0.0 combined with OGC HTTP URI srsName style
  src/core/qgscoordinatereferencesystem.cpp
  src/core/qgsgml.cpp
  tests/src/core/testqgscoordinatereferencesystem.cpp
  tests/src/core/testqgsgml.cpp
Labels: Bug

#30455 [arcgisrest] Only show 'all layers' item for the AMS provider
  src/providers/arcgisrest/qgsarcgisrestutils.cpp
Labels: Bug, backport release-3_8

#30451 Fix json(b) representation on feature identify
  src/app/qgsidentifyresultsdialog.cpp
Labels: Bug

#10034 [Server] Use primary keys to build feature id
  src/server/CMakeLists.txt
  src/server/qgsserverfeatureid.cpp
  src/server/qgsserverfeatureid.h
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfsgetfeature.h
  src/server/services/wfs/qgswfstransaction.cpp
  src/server/services/wfs/qgswfstransaction.h
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.h
  src/server/services/wfs/qgswfsutils.cpp
  src/server/services/wfs/qgswfsutils.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getfeature_and_post.txt
Labels: Bug, Worth a Revival, backport release-3_4, backport release-3_8

#30071 [server]New parameter for WMS service: tile_buffer
  python/core/auto_generated/qgsmapsettings.sip.in
  python/server/auto_generated/qgsserverprojectutils.sip.in
  src/app/qgsprojectproperties.cpp
  src/core/qgsmaprendererjob.cpp
  src/core/qgsmapsettings.cpp
  src/core/qgsmapsettings.h
  src/core/qgsrendercontext.cpp
  src/server/qgsserverprojectutils.cpp
  src/server/qgsserverprojectutils.h
  src/server/services/wms/qgswmsgetmap.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/core/testqgsmapsettings.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Tiled_False/WMS_GetMap_Tiled_False.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Tiled_True/WMS_GetMap_Tiled_True.png
  tests/testdata/qgis_server/wms_tile_buffer.qgs
  tests/testdata/qgis_server/wms_tile_buffer_data.gpkg
Labels: backport release-3_4, backport release-3_8

#30454 Implement a more robust approach for blocking canvas redraws when we don't want/need them
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/gui/qgsmapcanvas.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#30252 Convert "Grass7AlgorithmProvider.settingName" to a class attribute.
  python/plugins/processing/algs/grass7/Grass7AlgorithmProvider.py
Labels: API, Processing, backport release-3_8
