Repository qgis/QGIS, pull requests merged in 2019-04, with the labels that each got.

#9661 Fix wrong field length in file writer
  src/core/qgsvectorfilewriter.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9619 Plugin dependencies optional support
  python/pyplugin_installer/CMakeLists.txt
  python/pyplugin_installer/installer.py
  python/pyplugin_installer/installer_data.py
  python/pyplugin_installer/plugindependencies.py
  python/pyplugin_installer/qgsplugindependenciesdialog.py
  python/pyplugin_installer/qgsplugindependenciesdialogbase.ui
  python/utils.py
  scripts/spell_check/.agignore
  src/app/pluginmanager/qgspluginmanager.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_plugindependencies.py
  tests/testdata/plugindependencies_data.json
Labels: Feature

#9668 Merge pull request #9661 from elpaso/bugfix-21714-filewriter-field-le…
  src/core/qgsvectorfilewriter.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Backport, backport release-3_4

#9670 [processing] Include version information at start of log
  python/core/auto_generated/processing/qgsprocessingfeedback.sip.in
  python/plugins/processing/gui/AlgorithmDialog.py
  src/core/processing/qgsprocessingfeedback.cpp
  src/core/processing/qgsprocessingfeedback.h
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
Labels: Optimization, backport release-3_4, backport release-3_6

#9656 Properly convert to QgsVectorLayerEditpassTrough subclass
  python/core/auto_generated/qgsvectorlayereditpassthrough.sip.in
  src/core/qgsvectorlayereditpassthrough.h
Labels: Bugfix, backport release-3_4, backport release-3_6

#9669 Fix vector file writer field length
  src/core/qgsvectorfilewriter.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Backport

#9680 [Travis] Fix backport branch being run as push job
  .travis.yml
Labels: backport release-3_4, backport release-3_6

#9681 Fix stuck tasks when proxied task using a proxy progress task
  src/core/qgsproxyprogresstask.cpp
  src/core/qgsproxyprogresstask.h
  tests/src/core/testqgstaskmanager.cpp
Labels: Bugfix, backport release-3_4

#9684 [Travis] Fix backport branch being run as push job (#9680)
  .travis.yml
Labels: backport release-3_4

#9687 [server] Allow locale and group separator override
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgsserver.cpp
  src/server/qgsserver.h
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_locale_override.py
  tests/testdata/qgis_server/test_project_gfi_thousands.qgs
  tests/testdata/qgis_server/testlayer_thousands.dbf
  tests/testdata/qgis_server/testlayer_thousands.shp
  tests/testdata/qgis_server/testlayer_thousands.shx
  tests/testdata/qgis_server/wms_getfeatureinfo-thousands-text-xml.txt
Labels: Backport, Bugfix

#9688 [server] Allow locale and group separator override
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgsserver.cpp
  src/server/qgsserver.h
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_locale_override.py
  tests/testdata/qgis_server/test_project_gfi_thousands.qgs
  tests/testdata/qgis_server/testlayer_thousands.dbf
  tests/testdata/qgis_server/testlayer_thousands.shp
  tests/testdata/qgis_server/testlayer_thousands.shx
  tests/testdata/qgis_server/wms_getfeatureinfo-thousands-text-xml.txt
Labels: Backport, Bugfix

#9291 Fix build without HAVE_SERVER_PYTHON_PLUGINS
  CMakeLists.txt
  src/server/qgsserverinterfaceimpl.cpp
  src/server/qgsserverinterfaceimpl.h
  src/server/services/wcs/qgswcsdescribecoverage.cpp
  src/server/services/wcs/qgswcsgetcapabilities.cpp
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  src/server/services/wfs/qgswfsgetcapabilities_1_0_0.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfstransaction.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcontext.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetstyles.cpp
  src/server/services/wmts/qgswmtsgetcapabilities.cpp
  src/server/services/wmts/qgswmtsgettile.cpp
Labels: Bugfix, Needs Backporting

#9693 clearer definition of flaky tests
  .ci/travis/linux/scripts/docker-qgis-test.sh
  .ci/travis/linux/scripts/test_blacklist.txt
  .ci/travis/linux/scripts/test_flaky.txt
Labels: run flaky tests

#9654 [Unit-test]To avoid regression in Server printing to PDF output format
  tests/src/python/test_qgsserver_wms_getprint.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Basic_Pdf/WMS_GetPrint_Basic_Pdf.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Basic_Pdf/WMS_GetPrint_Basic_Pdf_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Selection_Pdf/WMS_GetPrint_Selection_Pdf.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Selection_Pdf/WMS_GetPrint_Selection_Pdf_mask.png
Labels: Needs Backporting, Unit Testing, backport release-3_6

#9695 [vertex tool] fixes some editor-tool synchronization issues
  src/app/vertextool/qgslockedfeature.cpp
  src/app/vertextool/qgsvertextool.cpp
Labels: backport release-3_4, backport release-3_6

#9701 [theme] fix invisible text in field expression widget in dark themes
  src/app/qgsattributeactionpropertiesdialog.h
  src/app/qgsstatisticalsummarydockwidget.h
  src/gui/qgsfieldexpressionwidget.cpp
  src/gui/qgsfieldexpressionwidget.h
Labels: Squash!, backport release-3_4, backport release-3_6

#9710 Fix crash when searching in layer properties
  src/gui/qgsoptionsdialoghighlightwidgetsimpl.cpp
Labels: Backport, Bugfix, backport release-3_4

#9704 [server] Allow WMS GetFeatureInfo on root layer and groups
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcapabilities.h
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/test_project_wms_grouped_nested_layers.qgs
  tests/testdata/qgis_server/wms_getfeatureinfo-group_name-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas_cities.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_top.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_no_query.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_query_child.txt
Labels: Bugfix, backport release-3_4, backport release-3_6

#9715 [locator] Add active layer scope to the calculator locator filter
  src/app/locator/qgsinbuiltlocatorfilters.cpp
Labels: backport release-3_4, backport release-3_6

#9718 [server] Allow WMS GetFeatureInfo on root layer and groups
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcapabilities.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/db.gpkg
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/test_project_wms_grouped_nested_layers.qgs
  tests/testdata/qgis_server/wms_getfeatureinfo-group_name-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-groupwithoutshortname-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-testlayer3-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas_cities.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_top.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_no_query.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_query_child.txt
Labels: Backport, backport release-3_4

#9696 [server] Server removes empty string in style parameter even if it describes default style
  python/server/auto_generated/qgsserverparameters.sip.in
  src/server/qgsserverparameters.cpp
  src/server/qgsserverparameters.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed/WMS_GetMap_StyleMixed.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed/WMS_GetMap_StyleMixed_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed_LayerOrder/WMS_GetMap_StyleMixed_LayerOrder.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed_LayerOrder/WMS_GetMap_StyleMixed_LayerOrder_mask.png
Labels: Bugfix, Unit Testing, backport release-3_4, backport release-3_6

#9729 Fix crash when project has no groups and project OWS name equals to
  src/server/services/wms/qgswmsrendercontext.cpp
Labels: Bugfix, backport release-3_6

#9691 Allow setting wmsMaxWidth and wmsMaxHeight in the server env
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/src/python/test_qgsserver_wms_getmap_size_project.py
  tests/src/python/test_qgsserver_wms_getmap_size_server.py
Labels: backport release-3_4, backport release-3_6

#9730 Fix crash when project has no groups and project OWS name equals to
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Backport, Bugfix

#9709 fix invisible text in field expression widget in dark themes
  src/gui/qgsfieldexpressionwidget.cpp
  src/gui/qgsfieldexpressionwidget.h
Labels: backport release-3_4

#9713 Fix grammer errors in GEOWKT string
  src/core/qgis.cpp
Labels: Bugfix

#9379 Fixes intersection on (multi)linestring/polygon/curve Z, M and ZM
  src/core/qgspointlocator.cpp
  src/gui/qgsmaptoolcapture.cpp
  tests/src/core/testqgssnappingutils.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9720 [server] Allow WMS GetFeatureInfo on root layer and groups
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcapabilities.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/db.gpkg
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/test_project_wms_grouped_nested_layers.qgs
  tests/testdata/qgis_server/wms_getfeatureinfo-group_name-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-groupwithoutshortname-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-testlayer3-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas_cities.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas_nested.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_areas_nested_shortname.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_name_top.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_no_query.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_group_query_child.txt
Labels: Backport, Bugfix

#9749 Fix html build
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
Labels: Squash!

#9746 [quick] Lower min. Qt version (>=5.9) in two editor widgets
  src/quickgui/plugin/editor/qgsquickdatetime.qml
  src/quickgui/plugin/editor/qgsquicktextedit.qml
Labels: Bugfix

#9750 [db manager] Rename layer style entry when renaming gpkg tables (fixes #21227)
  python/plugins/db_manager/db_plugins/gpkg/connector.py
Labels: Bugfix

#9762 Fix plugin loading from zip (dependencies followup)
  python/pyplugin_installer/plugindependencies.py
  python/utils.py
Labels: Bugfix

#9765 Fix build without webkit
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
Labels: Bugfix

#9764 [gdal] Implement the data provider reloadData() function (fixes #20536)
  src/providers/gdal/qgsgdalprovider.cpp
  src/providers/gdal/qgsgdalprovider.h
Labels: Bugfix, backport release-3_4, backport release-3_6

#9769 Return 501 on 'OperationNotSupported' error
  src/server/services/wcs/qgswcs.cpp
  src/server/services/wfs/qgswfs.cpp
  src/server/services/wms/qgswms.cpp
  src/server/services/wmts/qgswmts.cpp
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_wfs.py
  tests/src/python/test_qgsserver_wms.py
  tests/src/python/test_qgsserver_wmts.py
Labels: Bugfix, Unit Testing, backport release-3_4, backport release-3_6

#9772 [server] Fixes WMS 1.3.0 certification
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetprint.cpp
  src/server/services/wms/qgswmsgetstyles.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsserviceexception.h
  src/server/services/wms/qgswmsutils.cpp
  tests/src/server/wms/test_qgsserver_wms_exceptions.cpp
Labels: Bugfix

#9776 [server] Fallback to unmanaged parameters
  src/server/qgsserverparameters.cpp
  tests/src/python/test_qgsserver_request.py
Labels: Bugfix

#9777 [server] fix wmsMaxHeightEnv leftover code
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bugfix

#9763 Apply SLD PointSymbolizer on single centroid for polygon
  src/core/symbology/qgsfillsymbollayer.cpp
  tests/src/python/test_qgssymbollayer.py
Labels: Bugfix, backport release-3_4, backport release-3_6

#9780 Handle broken plugins when searching for dependencies
  python/pyplugin_installer/plugindependencies.py
Labels: Bugfix

#9785 fix QgsLayerTreeModel::refreshLayerLegend
  src/core/layertree/qgslayertreemodel.cpp
Labels: Squash!

#9790 Guard vector file writer against invalid layers
  src/core/qgsvectorfilewriter.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9775 [server] Default scale/mupmm on GetLegendGraphics
  python/server/auto_generated/qgsserverprojectutils.sip.in
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/server/qgsserverprojectutils.cpp
  src/server/qgsserverprojectutils.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultScale_2056/WMS_GetLegendGraphic_ScaleSymbol_DefaultScale_2056.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_Scaled_2056/WMS_GetLegendGraphic_ScaleSymbol_Scaled_2056.png
  tests/testdata/qgis_server/test_project_scaledsymbols.qgs
  tests/testdata/qgis_server/test_project_scaledsymbols_2056.qgs
  tests/testdata/qgis_server/testlayer_2056.dbf
  tests/testdata/qgis_server/testlayer_2056.prj
  tests/testdata/qgis_server/testlayer_2056.qpj
  tests/testdata/qgis_server/testlayer_2056.shp
  tests/testdata/qgis_server/testlayer_2056.shx
Labels: Feature, backport release-3_4, backport release-3_6

#9791 [Backport release-3_6][server] Fallback to unmanaged parameters
  src/server/qgsserverparameters.cpp
  tests/src/python/test_qgsserver_request.py
Labels: Backport, Bugfix, backport release-3_4

#9773 [server] Allow server plugin filters to access config path
  src/server/qgsrequesthandler.cpp
  src/server/qgsserver.cpp
  tests/src/python/test_qgsserver_plugins.py
Labels: Bugfix, backport release-3_4, backport release-3_6

#9805 [server] Implement LAYERFONTCOLOR and ITEMFONTCOLOR
  python/core/auto_generated/qgslegendsettings.sip.in
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendsettings.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_LAYERFONTCOLOR/WMS_GetLegendGraphic_LAYERFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_LAYERFONTCOLOR/WMS_GetLegendGraphic_LAYERFONTCOLOR_mask.png
  tests/testdata/qgis_server_accesscontrol/geo.gpkg
Labels: Bugfix, backport release-3_4, backport release-3_6

#9819 [ogr] Only throw validity error in reloadData() when previously valid
  src/providers/ogr/qgsogrprovider.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9801 fix rendering of mesh triangle with 0,0 vertex
  src/core/mesh/qgsmeshlayerutils.cpp
Labels: Bugfix, backport release-3_6

#9818 Store vector layer wkb type in xml
  python/core/auto_additions/qgswkbtypes.py
  src/core/geometry/qgswkbtypes.h
  src/core/qgsproject.cpp
  src/core/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: Bugfix, backport release-3_6

#9820 [server] Implement LAYERFONTCOLOR and ITEMFONTCOLORa
  python/core/auto_generated/qgslegendsettings.sip.in
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendsettings.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_LAYERFONTCOLOR/WMS_GetLegendGraphic_LAYERFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_LAYERFONTCOLOR/WMS_GetLegendGraphic_LAYERFONTCOLOR_mask.png
  tests/testdata/qgis_server_accesscontrol/geo.gpkg
Labels: Backport, Bugfix

#9826 [Bugfix][Server] WMTS: read the service url from project
  src/server/qgsserverprojectutils.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9817 Add API for specifying fallback CRS and layer WKB type for constructing vector layers
  python/core/auto_generated/qgsattributeeditorelement.sip.in
  python/core/auto_generated/qgsreadwritecontext.sip.in
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/core/qgsattributeeditorelement.h
  src/core/qgsreadwritecontext.h
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/gui/editorwidgets/qgshtmlwidgetwrapper.h
  tests/src/python/test_qgsvectorlayer.py
Labels: API

#9827 [Bugfix][Server] WMTS: CRS can have axis inverted
  src/server/services/wmts/qgswmtsgetcapabilities.cpp
  src/server/services/wmts/qgswmtsutils.cpp
  src/server/services/wmts/qgswmtsutils.h
  tests/testdata/qgis_server/wmts_getcapabilities.txt
  tests/testdata/qgis_server/wmts_getcapabilities_config.txt
Labels: Bugfix, backport release-3_4, backport release-3_6

#9812 [server] Implement LAYERFONTCOLOR and ITEMFONTCOLOR
  python/core/auto_generated/qgslegendsettings.sip.in
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendsettings.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR/WMS_GetLegendGraphic_ITEMFONTCOLOR_and_LAYERFONTCOLOR_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_LAYERFONTCOLOR/WMS_GetLegendGraphic_LAYERFONTCOLOR.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_LAYERFONTCOLOR/WMS_GetLegendGraphic_LAYERFONTCOLOR_mask.png
  tests/testdata/qgis_server_accesscontrol/geo.gpkg
Labels: Backport, Bugfix

#9824 [Bugfix][Server] WMTS: layer scale base visibility has not been well used
  src/server/services/wmts/qgswmtsutils.cpp
  tests/testdata/qgis_server/wmts_getcapabilities.txt
Labels: Bugfix

#9835 [Backport release-3_4] [Bugfix][Server] WMTS: CRS can have axis inverted
  src/server/services/wmts/qgswmtsgetcapabilities.cpp
  src/server/services/wmts/qgswmtsutils.cpp
  src/server/services/wmts/qgswmtsutils.h
  tests/testdata/qgis_server/wmts_getcapabilities.txt
Labels: Backport, Bugfix

#9836 [processing] ensure that output temporary directory exists (fix #21701)
  python/plugins/processing/algs/qgis/HypsometricCurves.py
Labels: Bugfix, backport release-3_4, backport release-3_6

#9809 Add @snapping_results variable for points
  src/app/qgsmaptooldigitizefeature.cpp
Labels: backport release-3_4, backport release-3_6

#9839 [3d] Fix unnecessary terrain map updates when changing 3D renderer
  python/gui/auto_generated/qgsmaplayerconfigwidget.sip.in
  src/app/3d/qgsvectorlayer3drendererwidget.h
  src/app/qgslayerstylingwidget.cpp
  src/app/qgslayerstylingwidget.h
  src/gui/qgsmaplayerconfigwidget.h
Labels: Bugfix

#9842 [3d] Fix shading of 3D point symbols
  src/3d/shaders/instanced.vert
Labels: Bugfix, backport release-3_4, backport release-3_6

#9846 [3d] Fix edge drawing when multiple renderer rules have edges enabled
  src/3d/qgs3dmapscene.cpp
Labels: Bugfix

#9855 [symbology] Add offset settings for point pattern fill symbol layer
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgssymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_pointpatternfill.ui
  tests/src/core/testqgspointpatternfillsymbol.cpp
  tests/testdata/control_images/symbol_pointpatternfill/expected_symbol_pointfill_offset/expected_symbol_pointfill_offset.png
  tests/testdata/control_images/symbol_pointpatternfill/expected_symbol_pointfill_offset/expected_symbol_pointfill_offset_mask.png
Labels: Feature

#9829 [server] Default scale/mupmm on GetLegendGraphics
  python/server/auto_generated/qgsserverprojectutils.sip.in
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/server/qgsserverprojectutils.cpp
  src/server/qgsserverprojectutils.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultScale_2056/WMS_GetLegendGraphic_ScaleSymbol_DefaultScale_2056.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_Scaled_2056/WMS_GetLegendGraphic_ScaleSymbol_Scaled_2056.png
  tests/testdata/qgis_server/test_project_scaledsymbols.qgs
  tests/testdata/qgis_server/test_project_scaledsymbols_2056.qgs
  tests/testdata/qgis_server/testlayer_2056.dbf
  tests/testdata/qgis_server/testlayer_2056.prj
  tests/testdata/qgis_server/testlayer_2056.qpj
  tests/testdata/qgis_server/testlayer_2056.shp
  tests/testdata/qgis_server/testlayer_2056.shx
Labels: Backport

#9856 [Server] WMTS - use resolution for bbox calculation
  src/server/services/wmts/qgswmtsutils.cpp
  src/server/services/wmts/qgswmtsutils.h
  tests/testdata/control_images/qgis_server/WMTS_GetTile_CountryGroup_3857_0/WMTS_GetTile_CountryGroup_3857_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_CountryGroup_4326_0/WMTS_GetTile_CountryGroup_4326_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Hello_3857_0/WMTS_GetTile_Hello_3857_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Hello_4326_0/WMTS_GetTile_Hello_4326_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Project_3857_0/WMTS_GetTile_Project_3857_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Project_4326_0/WMTS_GetTile_Project_4326_0.png
  tests/testdata/qgis_server/wmts_getcapabilities.txt
  tests/testdata/qgis_server/wmts_getcapabilities_config.txt
  tests/testdata/qgis_server/wmts_getcapabilities_config_3857.txt
Labels: Bugfix, backport release-3_4, backport release-3_6

#9851 Remove plugin module path when unloading
  python/utils.py
Labels: Bugfix, backport release-3_4, backport release-3_6

#9865 Add missing /Transfer/ annotation
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  src/core/symbology/qgsfillsymbollayer.h
Labels: Bugfix, backport release-3_4, backport release-3_6

#9857 New Processing Algorithm to generate raster XYZ tiles
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/algs/qgis/TilesXYZ.py
  python/plugins/processing/tests/AlgorithmsTestBase.py
  python/plugins/processing/tests/README.md
  python/plugins/processing/tests/testdata/expected/xyztiles/1/0/0.png
  python/plugins/processing/tests/testdata/expected/xyztiles/2/0/1.png
  python/plugins/processing/tests/testdata/expected/xyztiles/2/1/1.png
  python/plugins/processing/tests/testdata/expected/xyztiles/3/1/2.png
  python/plugins/processing/tests/testdata/expected/xyztiles/3/1/3.png
  python/plugins/processing/tests/testdata/expected/xyztiles/3/2/2.png
  python/plugins/processing/tests/testdata/expected/xyztiles/3/2/3.png
  python/plugins/processing/tests/testdata/qgis_algorithm_tests.yaml
  python/testing/__init__.py
  tests/testdata/xyztiles.qgs
Labels: Feature

#9866 Fix exception when reloading plugins
  python/utils.py
Labels: backport release-3_4, backport release-3_6

#9869 [processing] Fix some issues in batch processing dialog
  python/plugins/processing/gui/BatchAlgorithmDialog.py
  python/plugins/processing/gui/BatchPanel.py
Labels: Bugfix, backport release-3_4, backport release-3_6

#9876 [symbology] Fix custom dash pattern for line with an hairline (i.e. 0) width
  src/core/symbology/qgslinesymbollayer.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9885 Expression functions which return file info
  resources/function_help/json/base_file_name
  resources/function_help/json/file_exists
  resources/function_help/json/file_name
  resources/function_help/json/file_path
  resources/function_help/json/file_size
  resources/function_help/json/file_suffix
  resources/function_help/json/is_directory
  resources/function_help/json/is_file
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature

#9649 Fix grass7 v.voronoi again
  python/plugins/processing/algs/grass7/description/v.voronoi.skeleton.txt
  python/plugins/processing/algs/grass7/description/v.voronoi.txt
Labels: Bugfix

#9625 [processing] Add r.geomorphon grass command and module in grass core plugin
  python/plugins/processing/algs/grass7/description/r.geomorphon.txt
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests.yaml
  src/plugins/grass/modules/default.qgc
  src/plugins/grass/modules/r.geomorphon.1.png
  src/plugins/grass/modules/r.geomorphon.2.png
  src/plugins/grass/modules/r.geomorphon.qgm
Labels: Feature, Squash!

#9878 [server] Respect custom layer order for groups in GetMap
  src/server/services/wms/qgswmsrendercontext.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Group_Layer_Order/WMS_GetMap_Group_Layer_Order.png
  tests/testdata/qgis_server/bug_21917_root_layer_order.qgs
Labels: Bugfix, backport release-3_4, backport release-3_6

#9879 Fix identify for WMS client with json format
  src/app/qgsidentifyresultsdialog.cpp
  src/providers/wms/qgswmsprovider.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9873 [postgresql] Fix checkPrimaryKeyUnicity option
  src/app/qgsprojectproperties.cpp
  src/core/qgsvectorlayer.cpp
  src/providers/postgres/qgspgtablemodel.cpp
  src/providers/postgres/qgspgtablemodel.h
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg.sql
Labels: Bugfix, backport release-3_4, backport release-3_6

#9888 Respect custom layer order for groups in GetMap
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Group_Layer_Order/WMS_GetMap_Group_Layer_Order.png
  tests/testdata/qgis_server/bug_21917_root_layer_order.qgs
Labels: Backport, Bugfix, backport release-3_4

#9891 Add simple line custom dash pattern tests
  tests/src/python/test_qgslinesymbollayers.py
  tests/testdata/control_images/symbol_layer/expected_simpleline_customdashpattern/expected_simpleline_customdashpattern.png
  tests/testdata/control_images/symbol_layer/expected_simpleline_customdashpattern_hairline/expected_simpleline_customdashpattern_hairline.png
Labels: Unit Testing, backport release-3_4, backport release-3_6

#9172 try to reset script path pointing to the current setting path
  python/plugins/processing/script/ScriptAlgorithmProvider.py
  python/plugins/processing/script/ScriptUtils.py
  python/plugins/processing/tests/CMakeLists.txt
  python/plugins/processing/tests/ScriptUtilsTest.py
Labels: Bugfix, Needs Backporting

#9889 Respect custom layer order for groups in GetMap
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Group_Layer_Order/WMS_GetMap_Group_Layer_Order.png
  tests/testdata/qgis_server/bug_21917_root_layer_order.qgs
Labels: Backport, Bugfix

#9875 fix #21931 Mesh calculator crash when used with face dataset
  src/analysis/mesh/qgsmeshcalcutils.cpp
  src/app/mesh/qgsmeshcalculatordialog.cpp
Labels: Bugfix, backport release-3_4, backport release-3_6

#9898 [postgresql] Fix checkPrimaryKeyUnicity option
  src/app/qgsprojectproperties.cpp
  src/core/qgsvectorlayer.cpp
  src/providers/postgres/qgspgtablemodel.cpp
  src/providers/postgres/qgspgtablemodel.h
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg.sql
Labels: Backport, Bugfix

#9864 [Backport release-3_4] [Server] WMTS - use resolution for bbox calculation
  src/server/services/wmts/qgswmtsutils.cpp
  src/server/services/wmts/qgswmtsutils.h
  tests/testdata/control_images/qgis_server/WMTS_GetTile_CountryGroup_3857_0/WMTS_GetTile_CountryGroup_3857_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_CountryGroup_4326_0/WMTS_GetTile_CountryGroup_4326_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Hello_3857_0/WMTS_GetTile_Hello_3857_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Hello_4326_0/WMTS_GetTile_Hello_4326_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Project_3857_0/WMTS_GetTile_Project_3857_0.png
  tests/testdata/control_images/qgis_server/WMTS_GetTile_Project_4326_0/WMTS_GetTile_Project_4326_0.png
  tests/testdata/qgis_server/wmts_getcapabilities.txt
Labels: Backport, Bugfix

#9899 [needs-docs] Tweak custom dash button appearance
  python/gui/auto_generated/symbology/qgssymbollayerwidget.sip.in
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_simpleline.ui
Labels: UX

#9901 Allow loading QLR files with invalid sources
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/core/qgslayerdefinition.cpp
  tests/src/python/test_qgslayerdefinition.py
  tests/testdata/invalid_source.qlr
Labels: backport release-3_6

#9904 [ui] Add a line edit to type character for the font marker
  python/gui/auto_generated/symbology/characterwidget.sip.in
  python/gui/auto_generated/symbology/qgssymbollayerwidget.sip.in
  src/gui/symbology/characterwidget.cpp
  src/gui/symbology/characterwidget.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_fontmarker.ui
Labels: Feature

#9907 [symbology] Unlock string as character for font markers
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  python/gui/auto_generated/symbology/characterwidget.sip.in
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/gui/symbology/characterwidget.cpp
  src/gui/symbology/characterwidget.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/ui/symbollayer/widget_fontmarker.ui
  tests/src/core/testqgsfontmarker.cpp
Labels: Feature
