Repository qgis/QGIS, pull requests merged in 2019-10, with the labels that each got.

#32072 [symbology] Fix clipped rotated marker when rendering using cache
  src/core/symbology/qgsmarkersymbollayer.cpp
  tests/src/core/testqgssimplemarker.cpp
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_rotation/expected_simplemarker_rotation.png
Labels: Bug

#32083 makes the A_SRS parameter optional
  python/plugins/processing/algs/gdal/ogr2ogrtopostgislist.py
Labels: backport release-3_4

#32018 Update snapping GUI units when canvas CRS changes
  src/app/qgssnappinglayertreemodel.cpp
  src/app/qgssnappinglayertreemodel.h
  src/app/qgssnappingwidget.cpp
  src/app/qgssnappingwidget.h
Labels: Bug, GUI/UX

#31981 Fix changing of color ramp in mesh contours styling
  src/app/mesh/qgsmeshrendererscalarsettingswidget.cpp
Labels: Bug, Mesh

#32073 Add stable api for setting/retrieving project custom scales
  python/core/auto_generated/qgsproject.sip.in
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
  src/app/layout/qgslayoutmapgridwidget.cpp
  src/app/layout/qgslayoutmapwidget.cpp
  src/app/qgisapp.cpp
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/app/qgsstatusbarscalewidget.cpp
  src/app/qgsstatusbarscalewidget.h
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/gui/qgsscalerangewidget.cpp
  src/server/services/wmts/qgswmtsutils.cpp
  tests/src/python/test_qgsproject.py
Labels: API

#32088 change confusing parameter name in DB Manager
  python/plugins/db_manager/ui/DlgImportVector.ui
Labels: DB Manager

#32103 Don't try to load HTML content when a layout is created in a background thread
  src/core/layout/qgslayoutitemhtml.cpp
  src/core/layout/qgslayoutitemlabel.cpp
Labels: Bug, Crash/Data Corruption, Print Layouts, backport release-3_4

#32106 Server fix #32065 geojson content type accept
  src/server/qgsserverogcapi.cpp
  src/server/qgsserverogcapi.h
  src/server/qgsserverogcapihandler.cpp
  src/server/services/wfs/qgswfsparameters.cpp
  tests/src/python/test_qgsserver_api.py
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getFeature_1_0_0_featureid_0_json_1_0_0.txt
Labels: Bug, Server

#32108 Fix layer exporter force to single-part
  src/core/qgsvectorlayerexporter.cpp
  tests/src/python/test_provider_shapefile.py
Labels: Bug

#32127 Don't crash QgsTessellator when an empty polygon is added
  src/core/qgstessellator.cpp
Labels: Crash/Data Corruption

#32150 [OGR provider] Set of usability fixes for OAPIF/WFS3 datasets
  python/gui/auto_generated/qgssublayersdialog.sip.in
  src/app/qgisapp.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/gui/qgssublayersdialog.cpp
  src/gui/qgssublayersdialog.h
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Bug

#32157 Fix crash after deleting report sections
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgsreportorganizerwidget.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_4

#32153 Fix memory layers cannot use non-EPSG CRS codes
  src/core/qgscoordinatereferencesystem.cpp
  tests/src/core/testqgscoordinatereferencesystem.cpp
Labels: Bug

#32166 Remove T attribute on project QGZ files on windows
  src/core/qgsarchive.cpp
Labels: Bug, Windows

#32161 Fix range widget negative integers -> NULL
  src/gui/editorwidgets/qgsrangewidgetwrapper.cpp
  src/gui/qgsfilterlineedit.cpp
  tests/src/gui/testqgsrangewidgetwrapper.cpp
Labels: Bug

#32173 Bug fix resolving issue #32172
  python/plugins/processing/algs/grass7/description/v.distance.txt
Labels: Bug

#32182 Drop precision of attribute check for create grid test results
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
Labels: Processing

#32070 [feature][processing] Initial port of Create Grid algorithm to C++
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmgrid.cpp
  src/analysis/processing/qgsalgorithmgrid.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Optimization, Processing, Squash!

#32183 Optimise grid polygon creation
  src/analysis/processing/qgsalgorithmgrid.cpp
Labels: Optimization, Processing

#32185 Move clear T attr on windows before tmp file is renamed
  src/core/qgsarchive.cpp
Labels: Bug

#32177 [ios] [qgsquick] fix crash of GPS widget on iOS
  src/quickgui/qgsquickpositionkit.cpp
Labels: Bug

#32171 Fix detection of GEOS release candidate versions
  cmake/FindGEOS.cmake
Labels: backport release-3_4

#31930 [Bugfix] Get remote SVG synchronously - in the server context
  python/core/auto_generated/qgsimagecache.sip.in
  python/core/auto_generated/qgsmapsettings.sip.in
  python/core/auto_generated/qgsrendercontext.sip.in
  python/core/auto_generated/symbology/qgssvgcache.sip.in
  src/core/qgsabstractcontentcache.h
  src/core/qgsimagecache.cpp
  src/core/qgsimagecache.h
  src/core/qgsmapsettings.h
  src/core/qgsrendercontext.cpp
  src/core/qgsrendercontext.h
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgssvgcache.cpp
  src/core/symbology/qgssvgcache.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsimagecache.py
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/src/python/test_qgssvgcache.py
  tests/testdata/control_images/image_cache/expected_remote_image_blocking/expected_remote_image_blocking.png
  tests/testdata/control_images/image_cache/expected_remote_image_blocking/expected_remote_image_blocking_mask.png
  tests/testdata/control_images/image_cache/expected_waiting_image/expected_waiting_image_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_SLD_SVG/WMS_GetMap_SLD_SVG.png
  tests/testdata/control_images/svg_cache/expected_bad_svg/expected_bad_svg_mask.png
  tests/testdata/control_images/svg_cache/expected_remote_svg_blocking/expected_remote_svg_blocking.png
  tests/testdata/control_images/svg_cache/expected_remote_svg_blocking/expected_remote_svg_blocking_mask.png
  tests/testdata/control_images/svg_cache/expected_waiting_svg/expected_waiting_svg_mask.png
  tests/testdata/qgis_local_server/QGIS_logo_2017.svg
  tests/testdata/qgis_local_server/db_point_svg.sld
  tests/testdata/qgis_local_server/logo_2017.png
Labels: Bug, Server

#32145 Return false on commit failure from QgsOgrProvider::changeGeometryValues
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: backport release-3_4

#32200 Return false on commit failure from QgsOgrProvider::changeGeometryValues
  src/providers/ogr/qgsogrprovider.cpp
Labels: Backport

#32158 Null representation in QgsDateTimeEdit on getting focus
  python/gui/auto_generated/editorwidgets/qgsdatetimeedit.sip.in
  src/gui/editorwidgets/qgsdatetimeedit.cpp
  src/gui/editorwidgets/qgsdatetimeedit.h
  src/gui/editorwidgets/qgsdatetimeeditwrapper.h
  tests/src/gui/testqgsdatetimeedit.cpp
  tests/src/gui/testqgsrangewidgetwrapper.cpp
Labels: Bug

#32218 Abstract content cache: delete task later
  src/core/qgsabstractcontentcache.h
Labels: Bug

#32222 Wait for finished in abstract content cache when fetching with blocking
  src/core/qgsabstractcontentcache.h
Labels: Bug

#32226 [WFS provider] Do not forward FilterExpression to spatialite cache if the expression needs a geometry
  src/providers/wfs/qgswfsfeatureiterator.cpp
  tests/src/python/featuresourcetestbase.py
  tests/src/python/test_provider_wfs.py
Labels: Bug

#32225 Change help answer to what is actually shown in the preview
  resources/function_help/json/scale_linear
Labels: backport release-3_4

#32238 commenting noisy warnings
  src/gui/attributetable/qgsfeaturelistview.cpp
Labels: Squash!

#32271 Server WFS3 fix rel=service_desc -> rel=service-desc
  src/server/qgsserverogcapi.cpp
  tests/testdata/qgis_server/api/test_wfs3_collections_empty.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_exclude_attribute_0.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_eq_tw_star.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_eq_two.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_bbox.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_bbox_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_crs_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_limit_1.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_limit_1_offset_1.json
  tests/testdata/qgis_server/api/test_wfs3_collections_project.json
  tests/testdata/qgis_server/api/test_wfs3_conformance.json
  tests/testdata/qgis_server/api/test_wfs3_landing_page.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.json
Labels: Bug, Server

#32202 [Backport release-3_4][server] Fix crach on WFS Insert
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
Labels: Backport, Bug, Server

#32274 Server WFS3 update to latest (final) core specs
  resources/server/api/ogc/templates/wfs3/describeCollection.html
  src/server/services/wfs3/openapi.json
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
  tests/testdata/qgis_server/api/test_wfs3_collection_testlayer_èé.html
  tests/testdata/qgis_server/api/test_wfs3_collection_testlayer_èé.json
  tests/testdata/qgis_server/api/test_wfs3_collections_empty.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_exclude_attribute_0.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_eq_tw_star.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_eq_two.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_bbox.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_bbox_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_crs_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_limit_1.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_limit_1_offset_1.json
  tests/testdata/qgis_server/api/test_wfs3_collections_project.json
  tests/testdata/qgis_server/api/test_wfs3_conformance.json
  tests/testdata/qgis_server/api/test_wfs3_landing_page.json
Labels: Bug, Server

#32294 include external/nlohmann/json_fwd.hpp in core source headers
  python/CMakeLists.txt
  src/3d/CMakeLists.txt
  src/analysis/CMakeLists.txt
  src/app/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/geometry/qgsabstractgeometry.h
  src/core/geometry/qgsgeometry.h
  src/core/qgsjsonutils.h
  src/customwidgets/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/plugins/coordinate_capture/CMakeLists.txt
  src/plugins/evis/CMakeLists.txt
  src/plugins/geometry_checker/CMakeLists.txt
  src/plugins/georeferencer/CMakeLists.txt
  src/plugins/globe/CMakeLists.txt
  src/plugins/gps_importer/CMakeLists.txt
  src/plugins/grass/CMakeLists.txt
  src/plugins/offline_editing/CMakeLists.txt
  src/plugins/topology/CMakeLists.txt
  src/providers/arcgisrest/CMakeLists.txt
  src/providers/db2/CMakeLists.txt
  src/providers/delimitedtext/CMakeLists.txt
  src/providers/geonode/CMakeLists.txt
  src/providers/gpx/CMakeLists.txt
  src/providers/mdal/CMakeLists.txt
  src/providers/mssql/CMakeLists.txt
  src/providers/oracle/CMakeLists.txt
  src/providers/ows/CMakeLists.txt
  src/providers/postgres/CMakeLists.txt
  src/providers/spatialite/CMakeLists.txt
  src/providers/virtual/CMakeLists.txt
  src/providers/wcs/CMakeLists.txt
  src/providers/wfs/CMakeLists.txt
  src/providers/wms/CMakeLists.txt
  src/quickgui/CMakeLists.txt
  src/server/CMakeLists.txt
  src/server/services/DummyService/CMakeLists.txt
  src/server/services/wcs/CMakeLists.txt
  src/server/services/wfs/CMakeLists.txt
  src/server/services/wfs3/CMakeLists.txt
  src/server/services/wms/CMakeLists.txt
  src/server/services/wmts/CMakeLists.txt
  tests/bench/CMakeLists.txt
  tests/src/3d/CMakeLists.txt
  tests/src/analysis/CMakeLists.txt
  tests/src/app/CMakeLists.txt
  tests/src/core/CMakeLists.txt
  tests/src/geometry_checker/CMakeLists.txt
  tests/src/gui/CMakeLists.txt
  tests/src/providers/CMakeLists.txt
  tests/src/quickgui/CMakeLists.txt
  tests/src/server/CMakeLists.txt
  tests/src/server/wms/CMakeLists.txt
Labels: Squash!

#32236 [Release-3_4][Server] WFS Service: force Geometry to Multi in GML to be compliant with XML schema provided by DescribeFeatureType
  src/server/services/wfs/qgswfsgetfeature.cpp
Labels: Bug, Server, Worth a Revival

#32329 [oracle] fixes insertion of dates
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  tests/src/python/test_provider_oracle.py
Labels: Backport, Bug, Data Provider

#32345 Server fix getCapabilities crash when plugins are off
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  src/server/services/wfs/qgswfsgetcapabilities_1_0_0.cpp
Labels: Bug, Server

#32351 Server: fix more pointer errors when plugins are off
  src/server/services/wcs/qgswcsdescribecoverage.cpp
  src/server/services/wcs/qgswcsgetcapabilities.cpp
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wms/qgswmsgetcontext.cpp
  src/server/services/wmts/qgswmtsgetcapabilities.cpp
Labels: Bug, Server

#32364 [Release-3_4] Server: fix pointer errors when plugins are of f
  src/server/services/wcs/qgswcsdescribecoverage.cpp
  src/server/services/wcs/qgswcsgetcapabilities.cpp
  src/server/services/wcs/qgswcsgetcoverage.cpp
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  src/server/services/wfs/qgswfsgetcapabilities_1_0_0.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfstransaction.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
  src/server/services/wms/qgswmsdescribelayer.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcontext.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetstyles.cpp
  src/server/services/wmts/qgswmtsgetcapabilities.cpp
  src/server/services/wmts/qgswmtsgettile.cpp
  src/server/services/wmts/qgswmtsutils.cpp
Labels: Backport, Bug, Server

#32352 Server: fix schemaLocation in WMS GetCapabilities document
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/testdata/qgis_server/getcapabilities.txt
  tests/testdata/qgis_server/getcapabilities_inspire.txt
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/wms_getcapabilities_1_3_0.txt
  tests/testdata/qgis_server/wms_getcapabilities_empty_layer.txt
  tests/testdata/qgis_server/wms_getcapabilities_empty_spatial_layer.txt
  tests/testdata/qgis_server/wms_getcapabilities_without_title.txt
  tests/testdata/qgis_server_accesscontrol/results/getcapabilities_wms_dimension.txt
Labels: Bug, Server, backport release-3_4

#32381 [Release-3_4] Server WMS fix case sensistive REQUEST
  src/server/services/wms/qgswms.cpp
  tests/src/python/test_qgsserver_wms.py
Labels: Backport, Bug, Server

#32385 Fix unreported crash with "fill ring" tool
  src/app/qgsmaptoolfillring.cpp
Labels: Bug, High Priority

#32397 [labeling] Fix broken numeric formatting settings, add tests
  src/core/qgspallabeling.cpp
  tests/src/core/testqgslabelingengine.cpp
Labels: Bug, Regression

#32392 [Release-3_4]Server: fix schemaLocation in WMS GetCapabilities document
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/testdata/qgis_server/getcapabilities.txt
  tests/testdata/qgis_server/getcapabilities_inspire.txt
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/wms_getcapabilities_1_3_0.txt
  tests/testdata/qgis_server/wms_getcapabilities_empty_layer.txt
  tests/testdata/qgis_server/wms_getcapabilities_empty_spatial_layer.txt
  tests/testdata/qgis_server/wms_getcapabilities_without_title.txt
Labels: Backport, Bug, Server

#32331 [Release-3_4][Server] Add TextSymbolizer to SLD provided by WMS GetStyles request
  src/server/services/wms/qgswmsgetstyles.cpp
  tests/src/python/test_qgsserver_wms.py
  tests/testdata/qgis_server/getstyles_pointlabel.txt
Labels: Backport, Bug, Server

#32343 [Release-3_4][Server] WMS: Use QGIS Style instead of SLD to restore layer style
  src/server/services/wms/qgslayerrestorer.cpp
  src/server/services/wms/qgslayerrestorer.h
  tests/src/python/test_qgsserver_wms_getmap.py
Labels: Backport, Bug, Server

#32211 allow static build of postgres provider
  src/core/CMakeLists.txt
  src/core/qgsproviderregistry.cpp
  src/gui/CMakeLists.txt
  src/gui/qgsproviderguiregistry.cpp
  src/providers/CMakeLists.txt
  src/providers/postgres/CMakeLists.txt
  src/providers/postgres/qgspostgresdataitemguiprovider.cpp
  src/providers/postgres/qgspostgresdataitemguiprovider.h
  src/providers/postgres/qgspostgresdataitems.cpp
  src/providers/postgres/qgspostgresdataitems.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/postgres/qgspostgresprovidergui.cpp
  src/providers/postgres/qgspostgresprovidergui.h
  src/providers/wms/CMakeLists.txt
  tests/src/providers/CMakeLists.txt
Labels: Infrastructure

#32402 Catch some reprojection exceptions during raster rendering
  src/core/raster/qgsrasterprojector.cpp
Labels: Bug, backport release-3_10, backport release-3_4

#32400 Warn on case when nearest neighbour finds multiple features at same distance
  src/analysis/processing/qgsalgorithmjoinbynearest.cpp
Labels: Bug, Processing, backport release-3_10

#32399 Restore project variables early in the project read cycle
  src/core/qgsproject.cpp
Labels: Bug, Project, backport release-3_10

#32289 [maptip] Fix illegible map tips with dark themes (fixes #32288)
  src/gui/qgsmaptip.cpp
Labels: Bug, GUI/UX, backport release-3_10, backport release-3_4

#32249 add missing QgsExpression import when exporting model as Python script
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bug, Frozen, Merge After Thaw, Needs Backporting, Processing, backport release-3_10

#32215 Use optimised point getters/setters on GEOS >= 3.8
  src/core/geometry/qgsgeos.cpp
  src/core/pal/feature.cpp
  src/core/pal/geomfunction.cpp
  src/core/pal/layer.cpp
  src/core/pal/pointset.cpp
Labels: Optimization, backport release-3_10

#32388 Fixes invalid renderer type after loading qml style
  src/app/qgsrasterlayerproperties.cpp
Labels: backport release-3_10

#32309 [geonode] fix data item context menu
  src/core/geocms/geonode/qgsgeonodeconnection.cpp
  src/providers/geonode/qgsgeonodedataitemguiprovider.cpp
Labels: backport release-3_10

#32308 fix SAGA Slope, Aspect, Curvature
  python/plugins/processing/algs/saga/description/Slope,Aspect,Curvature.txt
Labels: backport release-3_10, backport release-3_4

#32230 Sort translations in desktop file
  scripts/ts2appinfo.py
Labels: Frozen, Merge After Thaw, backport release-3_10

#32043 Fix crash when opening symbology of invalid layer
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgsheatmaprendererwidget.cpp
  src/gui/symbology/qgssinglesymbolrendererwidget.cpp
  src/gui/symbology/qgssymbolselectordialog.cpp
Labels: Frozen, backport release-3_10

#31743 Fix QT font database initializing (FCGI with IIS)
  src/server/qgis_map_serv.cpp
Labels: Bug, Frozen, Server, backport release-3_10, backport release-3_4

#32251 OracleDBConnector: Prevent AttributeError
  python/plugins/db_manager/db_plugins/oracle/connector.py
Labels: Bug, DB Manager, Merge After Thaw, Needs Backporting, backport release-3_10

#32216 [Server] WFS Service: force Geometry to Multi in GML to be compliant with XML schema provided by DescribeFeatureType
  src/server/services/wfs/qgswfsgetfeature.cpp
Labels: Bug, Server, Worth a Revival, backport release-3_10

#32340 [Server] Add TextSymbolizer to SLD provided by WMS GetStyles request
  src/server/services/wms/qgswmsgetstyles.cpp
  tests/src/python/test_qgsserver_wms.py
  tests/testdata/qgis_server/getstyles_pointlabel.txt
Labels: Bug, Server, backport release-3_10

#32342 [Server] WMS: Use QGIS Style instead of SLD to restore layer style
  src/server/services/wms/qgslayerrestorer.cpp
  src/server/services/wms/qgslayerrestorer.h
  tests/src/python/test_qgsserver_wms_getmap.py
Labels: Bug, Server, backport release-3_10

#32232 Hide instead of disable useless widgets for text brackground with marker symbol
  src/gui/qgstextformatwidget.cpp
Labels: Bug

#32231 Show more DD buttons when setting background of text format
  src/gui/qgstextformatwidget.cpp
Labels: Bug, backport release-3_10

#32124 Disable label shadow properties frame by default
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
Labels: Bug, backport release-3_10

#32194 Fix recent project menu showing projects from custom storages as unavailable.
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_10

#32134 Get the username from current_user to fill layer_styles' owner field for Postgresql based connections
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Data Provider, backport release-3_10

#32437 Fix compilation with QT 5.9.0
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Bug

#32447 Fix map renderer world file not taking into account complete base name
  src/core/qgsmaprenderertask.cpp
Labels: Bug, backport release-3_10

#32446 fix python constructor for QgsPoint (does not accept QgsPointXY & QP…
  python/core/auto_generated/geometry/qgspoint.sip.in
  src/core/geometry/qgspoint.h
  src/providers/wfs/CMakeLists.txt
  tests/src/python/test_qgseditformconfig.py
  tests/src/python/test_qgspoint.py
Labels: backport release-3_10

#32455 [processing] allow to select files without suffix in the Processing options dialog
  python/plugins/processing/gui/ConfigDialog.py
Labels: backport release-3_10, backport release-3_4

#32435 Connections db api tables table uri
  python/core/auto_generated/qgsabstractdatabaseproviderconnection.sip.in
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/providers/ogr/qgsgeopackageproviderconnection.h
  src/core/qgsabstractdatabaseproviderconnection.cpp
  src/core/qgsabstractdatabaseproviderconnection.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
  tests/src/python/test_qgsproviderconnection_ogr_gpkg.py
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: API

#32449 Fix memory leak
  python/core/auto_generated/classification/qgsclassificationmethodregistry.sip.in
  src/core/classification/qgsclassificationmethodregistry.cpp
  src/core/classification/qgsclassificationmethodregistry.h
Labels: Bug, backport release-3_10

#32461 Add default values to QgsJsonUtils::stringToFeatureList
  python/core/auto_generated/qgsjsonutils.sip.in
  src/core/qgsjsonutils.cpp
  src/core/qgsjsonutils.h
Labels: API

#32176 prevent clearing selection in QgsFeatureListView
  src/gui/attributetable/qgsfeaturelistview.cpp
Labels: Bug, backport release-3_10

#31951 Feature update layer selection relation widgets
  src/gui/attributetable/qgsvectorlayerselectionmanager.cpp
  src/gui/attributetable/qgsvectorlayerselectionmanager.h
  src/gui/qgsfeatureselectiondlg.cpp
  src/gui/qgsfeatureselectiondlg.h
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
  tests/src/python/test_qgsrelationeditwidget.py
Labels: Feature

#32481 Fix server WMS access control security issue
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_accesscontrol_wms.py
Labels: Bug, Server, backport release-3_10, backport release-3_4

#31451 [FEATURE] Add z distance
  src/app/3d/qgs3dmaptoolmeasureline.cpp
  src/app/3d/qgs3dmeasuredialog.cpp
  src/app/3d/qgs3dmeasuredialog.h
  src/app/qgsmeasuredialog.cpp
  src/ui/qgsmeasurebase.ui
Labels: Feature

#32495 Fix QgsAttributeEditorContext copy constructor
  src/gui/qgsattributeeditorcontext.h
Labels: backport release-3_10

#32493 Fix raster calc OpenCL < operator
  src/analysis/raster/qgsrastercalcnode.cpp
  src/analysis/raster/qgsrastercalculator.cpp
  tests/src/analysis/testqgsrastercalculator.cpp
Labels: Bug, backport release-3_10

#32480 fix zoom/pan to current feature when in relation editor widget
  src/gui/qgsrelationeditorwidget.cpp
Labels: Bug, backport release-3_10

#32504 [ui] Fix horizontal margin not cleared to 0 for center aligned decoration
  src/app/decorations/qgsdecorationcopyrightdialog.cpp
  src/app/decorations/qgsdecorationimagedialog.cpp
  src/app/decorations/qgsdecorationnortharrowdialog.cpp
  src/app/decorations/qgsdecorationscalebardialog.cpp
  src/app/decorations/qgsdecorationtitledialog.cpp
Labels: Bug, GUI/UX, backport release-3_10

#32456 [FEATURE][symbology] Add density-based point count for the random marker fill
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_randommarkerfill.ui
  tests/src/python/test_qgsrandommarkersymbollayer.py
  tests/testdata/control_images/symbol_randommarkerfill/expected_randommarkerfill_densitybasedcount/expected_randommarkerfill_densitybasedcount.png
Labels: Feature, Symbology

#31966 Fix move selected to top
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
  tests/src/app/testqgsattributetable.cpp
Labels: Bug, backport release-3_10

#32512 Fix MXE builds
  cmake/CopyResources.cmake
  ms-windows/mxe/build-mxe.sh
  resources/CMakeLists.txt
  src/crssync/CMakeLists.txt
Labels: Bug, Build/Install

#32522 Fix crash with invalid postgres provider
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Bug, backport release-3_10

#32513 [dxf export] initialize PointZ with 0
  src/core/dxf/qgsdxfexport.cpp
  tests/src/core/testqgsdxfexport.cpp
Labels: Bug, backport release-3_10

#32540 [RPM] Update sip references in spec file
  rpm/qgis.spec.template
Labels: backport release-3_10, backport release-3_4

#31648 Parallelize snap caching
  python/core/auto_generated/qgspointlocator.sip.in
  python/core/auto_generated/qgssnappingutils.sip.in
  python/gui/auto_generated/qgsmapcanvassnappingutils.sip.in
  src/app/qgsmaptooltrimextendfeature.cpp
  src/app/vertextool/qgsvertextool.cpp
  src/core/CMakeLists.txt
  src/core/qgscadutils.cpp
  src/core/qgspointlocator.cpp
  src/core/qgspointlocator.h
  src/core/qgspointlocatorinittask.cpp
  src/core/qgspointlocatorinittask.h
  src/core/qgssnappingutils.cpp
  src/core/qgssnappingutils.h
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsmapcanvassnappingutils.h
  src/gui/qgsmapmouseevent.cpp
  tests/src/app/testqgsmaptooladdfeaturepoint.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
  tests/src/app/testqgsmaptoolreverseline.cpp
  tests/src/app/testqgsmaptooltrimextendfeature.cpp
  tests/src/app/testqgsmaptoolutils.h
  tests/src/app/testqgsvertextool.cpp
  tests/src/core/testqgscadutils.cpp
  tests/src/core/testqgspointlocator.cpp
  tests/src/core/testqgssnappingutils.cpp
Labels: Feature, backport release-3_10

#32524 [dxf export] Bail out if extent could not be determined
  python/core/auto_additions/qgsdxfexport.py
  python/core/auto_generated/dxf/qgsdxfexport.sip.in
  src/app/main.cpp
  src/app/qgisapp.cpp
  src/core/dxf/qgsdxfexport.cpp
  src/core/dxf/qgsdxfexport.h
  tests/src/core/testqgsdxfexport.cpp
Labels: GUI/UX, backport release-3_10
