Repository qgis/QGIS, pull requests merged in 2019-09, with the labels that each got.

#31503 [clipboard] Fix copying of string attributes containing new lines and tabs characters
  src/app/qgsclipboard.cpp
  src/app/qgsclipboard.h
  tests/src/app/testqgisappclipboard.cpp
Labels: Backport, Bug

#31516 Show message when stack trace can't be generated from missing symbols
  src/crashhandler/qgscrashdialog.cpp
  src/crashhandler/qgscrashdialog.ui
  src/crashhandler/qgscrashreport.cpp
Labels: GUI/UX

#31523 [Backport] Show message when stack trace can't be generated from missing symbols
  src/crashhandler/qgscrashdialog.cpp
  src/crashhandler/qgscrashdialog.ui
  src/crashhandler/qgscrashreport.cpp
Labels: Bug, backport release-3_4

#31522 Add some missing Python repr overloads
  python/core/auto_generated/geometry/qgsreferencedgeometry.sip.in
  python/core/auto_generated/qgscoordinatereferencesystem.sip.in
  python/core/auto_generated/qgscoordinatetransform.sip.in
  python/core/auto_generated/qgsproject.sip.in
  src/core/geometry/qgsreferencedgeometry.h
  src/core/qgscoordinatereferencesystem.h
  src/core/qgscoordinatetransform.h
  src/core/qgsproject.h
  tests/src/python/test_python_repr.py
Labels: API

#31539 [ui] Add a locator bookmark filter item icon
  images/images.qrc
  images/themes/default/mItemBookmark.svg
  src/app/locator/qgsinbuiltlocatorfilters.cpp
Labels: GUI/UX

#31540 fix standard deviation label
  src/core/classification/qgsclassificationstandarddeviation.cpp
Labels: Squash!

#31530 Added batch_number variable in algorithm scope
  python/plugins/processing/gui/BatchPanel.py
Labels: Documentation, Feature, GUI/UX

#31554 Fix Saga Raster Skeletonization algorithm
  python/plugins/processing/algs/saga/description/GridSkeletonization.txt
Labels: backport release-3_4, backport release-3_8

#31558 [themes] Add fixed color/background for web widgets for improved compatibility
  resources/themes/Night Mapping/style.qss
Labels: Backport, Bug

#31565 Fix some algorithms fail to execute correctly in in-place mode
  python/plugins/processing/gui/AlgorithmExecutor.py
Labels: Processing, backport release-3_8

#31562 Add some tooltips to dual view navigation buttons
  src/ui/qgsdualviewbase.ui
Labels: Bug, backport release-3_8

#31572 fix SAGA seeds generation tool
  python/plugins/processing/algs/saga/description/SeedGeneration.txt
Labels: Processing, backport release-3_4, backport release-3_8

#31143 Add mutex locker when accessing QgsPostGressConn attribute member
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
Labels: Bug, Data Provider, backport release-3_4, backport release-3_8

#30646 Fixing db_manager so that it can run sql with inline comments
  python/plugins/db_manager/dlg_sql_window.py
  tests/src/python/CMakeLists.txt
  tests/src/python/test_db_manager_sql_window.py
Labels: Requires Changes!

#31567 New algorithm "Split features by character"
  python/plugins/processing/tests/testdata/custom/split_points.cpg
  python/plugins/processing/tests/testdata/custom/split_points.dbf
  python/plugins/processing/tests/testdata/custom/split_points.prj
  python/plugins/processing/tests/testdata/custom/split_points.qpj
  python/plugins/processing/tests/testdata/custom/split_points.shp
  python/plugins/processing/tests/testdata/custom/split_points.shx
  python/plugins/processing/tests/testdata/expected/split_by_char_a.gml
  python/plugins/processing/tests/testdata/expected/split_by_char_a.xsd
  python/plugins/processing/tests/testdata/expected/split_by_char_b.gml
  python/plugins/processing/tests/testdata/expected/split_by_char_b.xsd
  python/plugins/processing/tests/testdata/expected/split_by_char_regex.gml
  python/plugins/processing/tests/testdata/expected/split_by_char_regex.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmsplitfeaturesbyattributecharacter.cpp
  src/analysis/processing/qgsalgorithmsplitfeaturesbyattributecharacter.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature, Processing

#31563 "Reselect Features" action in Edit -> Select menu
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/app/qgisapp.cpp
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/ui/qgisapp.ui
  tests/src/python/test_qgsvectorlayer.py
Labels: Feature

#30905 Digitize the geometry from the relation reference widget add button
  python/gui/auto_generated/editorwidgets/qgsrelationreferencewidget.sip.in
  python/gui/auto_generated/qgsattributeeditorcontext.sip.in
  python/gui/auto_generated/qgsmaptooldigitizefeature.sip.in
  python/gui/gui_auto.sip
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/app/qgsattributetabledialog.cpp
  src/app/qgsmaptooladdfeature.cpp
  src/app/qgsmaptooladdfeature.h
  src/gui/CMakeLists.txt
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
  src/gui/qgsattributeeditorcontext.cpp
  src/gui/qgsattributeeditorcontext.h
  src/gui/qgsmaptooldigitizefeature.cpp
  src/gui/qgsmaptooldigitizefeature.h
  src/gui/qgsmaptooledit.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
  tests/src/python/test_qgsattributeform.py
Labels: Digitizing, Feature, Squash!

#31517 [Server] Extend the WMS FILTER whitelist with IS, NOT, NULL
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
Labels: Server, backport release-3_4, backport release-3_8

#31595 [delimiter text] Add Point{Z,M,ZM} geometry support (fixes #25645)
  src/providers/delimitedtext/qgsdelimitedtextfeatureiterator.cpp
  src/providers/delimitedtext/qgsdelimitedtextfeatureiterator.h
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  src/providers/delimitedtext/qgsdelimitedtextprovider.h
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
  src/ui/qgsdelimitedtextsourceselectbase.ui
  tests/src/python/test_qgsdelimitedtextprovider.py
  tests/testdata/provider/delimited_xyzm.csv
Labels: Data Provider, Feature

#31320 Update warp.py
  python/plugins/processing/algs/gdal/warp.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Bug, Processing, Requires Tests!, Squash!, backport release-3_4, backport release-3_8

#31424 Set the layer on the key and value field
  src/gui/editorwidgets/qgsvaluerelationconfigdlg.cpp
Labels: Bug

#31599 appstream: include oars metadata
  linux/org.qgis.qgis.appdata.xml.in
Labels: backport release-3_4, backport release-3_8

#31609 fix gdalwarp handling of custom projection for target extent
  python/plugins/processing/algs/gdal/warp.py
  python/plugins/processing/tests/GdalAlgorithmsTest.py
Labels: Backport

#31615 [wfs] Fix crash when creating data items with missing feature type crs capability
  src/providers/wfs/qgswfsdataitems.cpp
Labels: Bug, Data Provider, backport release-3_4, backport release-3_8

#31621 [singleband pseudocolor renderer] Fix crash when calling setBand with no input
  src/core/raster/qgssinglebandpseudocolorrenderer.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#31620 [ui] Set a sane minimum size for the symbol selector dialog
  src/gui/symbology/qgssymbolselectordialog.cpp
Labels: Bug, GUI/UX, backport release-3_4, backport release-3_8

#31619 Add API for volume units to QgsUnitTypes
  python/core/auto_additions/qgsunittypes.py
  python/core/auto_generated/qgsunittypes.sip.in
  src/core/qgsunittypes.cpp
  src/core/qgsunittypes.h
  tests/src/python/test_qgsunittypes.py
Labels: API

#31627 [ui] Set a sane minimum size for the symbol selector dialog
  python/gui/auto_generated/symbology/qgssymbolselectordialog.sip.in
  src/gui/symbology/qgssymbolselectordialog.cpp
  src/gui/symbology/qgssymbolselectordialog.h
Labels: Backport, Bug, backport release-3_4

#31655 Do not style null pixmap icon in application proxy style
  src/gui/qgsproxystyle.cpp
Labels: Bug, backport release-3_8

#31665 Adjust stacked widgets size in vector layer properties dlg
  src/app/qgsvectorlayerproperties.cpp
Labels: Bug, GUI/UX

#31663 Move info bar creation before welcome page (fixes crash on start)
  src/app/qgisapp.cpp
Labels: Bug

#31671 Wait for threads on exit.
  src/core/qgsapplication.cpp
  tests/src/python/test_qgsmaprenderer.py
  tests/src/python/test_qgspallabeling_canvas.py
  tests/src/python/test_qgspallabeling_layout.py
  tests/src/python/test_qgspallabeling_placement.py
  tests/src/python/test_qgspointdisplacementrenderer.py
Labels: Bug, backport release-3_4, backport release-3_8

#31679 [3d][ui] Set sane minimum size for the 3D settings dialog
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
Labels: Bug, GUI/UX, backport release-3_8

#31680 [backport-3_8][3d][ui] Set sane minimum size for the 3D settings dialog
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
Labels: Backport, Bug, GUI/UX

#31677 avoid crash in testing or custom widgets
  src/gui/attributetable/qgsdualview.cpp
Labels: backport release-3_4

#31631 Use floating connections from browser items
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.h
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: Bug

#31669 Gpkg project storage multiple fixes
  src/app/qgisapp.cpp
  src/core/providers/ogr/qgsgeopackageprojectstorage.cpp
Labels: Bug

#31688 Fix attr table not updated while watching a CSV
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
Labels: Bug

#31690 Fix raster calc OpenCL bool to float
  src/analysis/raster/qgsrastercalcnode.cpp
  tests/src/analysis/testqgsrastercalculator.cpp
  tests/testdata/analysis/dem_int16.tif
  tests/testdata/analysis/dem_int16.tif.aux.xml
Labels: Bug, backport release-3_8

#31653 Fixes connection to ESRI portal fail after refresh token expires on the server
  external/o2/src/o2.cpp
Labels: Authentication, Bug, backport release-3_8

#31603 [Backport release-3_4] [Server] Extend the WMS FILTER whitelist with IS, NOT, NULL
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
Labels: Backport, Server

#31515 Revert "Moves MapTip away from the mouse cursor (revision)"
  src/gui/qgsmaptip.cpp
Labels: backport release-3_4, backport release-3_8

#31597 [needs-docs] Replace "Label with" with "Value"
  src/ui/qgscategorizedsymbolrendererwidget.ui
  src/ui/qgsgraduatedsymbolrendererwidget.ui
  src/ui/qgstextformatwidgetbase.ui
Labels: GUI/UX

#31687 Add iface.pluginHelpMenu()
  python/gui/auto_generated/qgisinterface.sip.in
  src/app/qgisapp.h
  src/app/qgisappinterface.cpp
  src/app/qgisappinterface.h
  src/gui/qgisinterface.h
  src/ui/qgisapp.ui
Labels: API

#31701 [3d][ui] Display Help button on the 3D configuration dialog
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
Labels: backport release-3_8

#31702 Fix crash in point displacement renderer
  src/core/symbology/qgspointdisplacementrenderer.cpp
Labels: Bug, backport release-3_4, backport release-3_8

#31706 Avoid qt warnings when opening layer tree group menu
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: backport release-3_4, backport release-3_8

#31731 fix broken gpkg actions
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.h
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.h
Labels: Bug

#31734 Update bg and buffer status in text format widget
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
Labels: Bug

#31741 Resize not-focused tabs for datasource and options dlgs
  python/gui/auto_generated/qgsoptionsdialogbase.sip.in
  src/app/qgsvectorlayerproperties.cpp
  src/gui/qgsdatasourcemanagerdialog.cpp
  src/gui/qgsoptionsdialogbase.cpp
  src/gui/qgsoptionsdialogbase.h
Labels: Bug

#31746 fix combobox ID not having correct checked state when we update a SQL layer
  python/plugins/db_manager/dlg_sql_layer_window.py
Labels: Bug, DB Manager, backport release-3_4, backport release-3_8

#31393 Improve validation for QgsRelationAddDlg Fixes #31292
  src/app/qgsrelationadddlg.cpp
Labels: Bug

#31733 fix #30766, sip crash for QgsHighlight
  python/gui/auto_generated/qgsadvanceddigitizingcanvasitem.sip.in
  python/gui/auto_generated/qgsgeometryrubberband.sip.in
  python/gui/auto_generated/qgshighlight.sip.in
  python/gui/auto_generated/qgsmapcanvasannotationitem.sip.in
  python/gui/auto_generated/qgsrubberband.sip.in
  python/gui/auto_generated/qgssnaptogridcanvasitem.sip.in
  src/gui/qgsadvanceddigitizingcanvasitem.h
  src/gui/qgsgeometryrubberband.h
  src/gui/qgshighlight.h
  src/gui/qgsmapcanvasannotationitem.h
  src/gui/qgsrubberband.h
  src/gui/qgssnaptogridcanvasitem.h
Labels: Bug

#31764 Make sure ellipsoid parameter and definition caches are cleared before app exit (related to #31762)
  python/core/auto_generated/qgsellipsoidutils.sip.in
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/core/qgsellipsoidutils.cpp
  src/core/qgsellipsoidutils.h
Labels: Bug, backport release-3_4

#31771 Raster export: fix issues with multiband raster and GeoPackage (fixes #30644)
  src/core/raster/qgsrasterblock.cpp
  src/core/raster/qgsrasterfilewriter.cpp
  tests/src/python/test_qgsrasterfilewriter.py
Labels: Bug, backport release-3_4

#31766 QgsRasterFileWriter: assorted set of fixes (might be related to refs #30937)
  src/core/raster/qgsrasterfilewriter.cpp
  tests/src/core/testqgsrasterfilewriter.cpp
  tests/src/python/test_qgsrasterfilewriter.py
Labels: Bug, backport release-3_4

#31768 [Postgresql Provider] Fix crash in discoverRelations() on invalid layer (fixes #31213)
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, backport release-3_4

#31780 [Backport 3.4] QgsRasterFileWriter: assorted set of fixes (might be related to refs #30937)
  src/core/raster/qgsrasterfilewriter.cpp
  tests/src/core/testqgsrasterfilewriter.cpp
  tests/src/python/test_qgsrasterfilewriter.py
Labels: Backport, Bug

#31778 [Backport 3.4] Make sure ellipsoid parameter and definition caches are cleared before app exit (related to #31762)
  python/core/auto_generated/qgsellipsoidutils.sip.in
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/core/qgsellipsoidutils.cpp
  src/core/qgsellipsoidutils.h
Labels: Backport, Bug

#31777 Use CC-BY-3.0
  linux/org.qgis.qgis.appdata.xml.in
Labels: backport release-3_4

#31781 [Backport 3.4] Raster export: fix issues with multiband raster and GeoPackage (fixes #30644)
  src/core/raster/qgsrasterblock.cpp
  src/core/raster/qgsrasterfilewriter.cpp
  tests/src/python/test_qgsrasterfilewriter.py
Labels: Backport, Bug

#31779 [Backport 3.4] [Postgresql Provider] Fix crash in discoverRelations() on invalid layer (fixes #31213)
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Backport, Bug

#31750 Processing editing in place: handle constraints
  python/plugins/processing/gui/AlgorithmExecutor.py
  tests/src/python/test_qgsprocessinginplace.py
  tests/testdata/bug_31634_Multi_to_Singleparts_FID.gpkg
Labels: Bug, Processing, backport release-3_4

#31739 [processing] force onLayerChanged() call in the layer combobox constructor (fix #30636)
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
Labels: Bug, backport release-3_4

#31744 [processing] export vector layers which use VSI mechanism (fix #29001)
  src/core/processing/qgsprocessingutils.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bug, backport release-3_4

#31786 Fix corrupted expressions in filter indicator tooltips
  src/app/qgslayertreeviewfilterindicator.cpp
Labels: Bug, backport release-3_4

#31774 [categorized renderer] When color ramp is set to random, randomize color of appended categories to pre-existing list when hitting the classify button
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
Labels: Bug, backport release-3_4

#31784 [Plugin Installer] Only force http icon protocol for http-based repositories
  python/pyplugin_installer/installer_data.py
Labels: Bug, backport release-3_4

#31791 [RPM] Fedora 31 will ship GRASS 7.8
  rpm/qgis.spec.template
Labels: backport release-3_4

#31760 Add symbol scope to legend item
  src/app/layout/qgslayoutlegendwidget.cpp
Labels: Bug

#31772 [GDAL provider] Be more robust to driver being disabled after provider creation (fixes #29212)
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
Labels: Bug, backport release-3_4

#31811 QgsVectorFileWriter: add PGDUMP output format (fixes #31421)
  python/plugins/processing/gui/ParametersPanel.py
  src/core/qgsvectorfilewriter.cpp
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Bug

#31802 [Backport 3.4] [GDAL provider] Be more robust to driver being disabled after provider creation (fixes #29212)
  src/providers/gdal/qgsgdalprovider.cpp
  src/providers/gdal/qgsgdalprovider.h
Labels: Backport, Bug

#31812 [OGR provider] Disable OSM_USE_CUSTOM_INDEXING to fix loading of some .osm.pbf files (fixes #31062)
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Bug, backport release-3_4

#31810 Bugfix gh31634 processing in place unique constraints 3 4 backport
  python/plugins/processing/gui/AlgorithmExecutor.py
  tests/src/python/test_qgsprocessinginplace.py
  tests/testdata/bug_31634_Multi_to_Singleparts_FID.gpkg
Labels: Backport, Bug

#31817 [browser] Do not show the file properties menu action for non-file items
  src/app/browser/qgsinbuiltdataitemproviders.cpp
Labels: Bug

#31831 [wmst] Fix bad allocation exception with high resolution tiled server
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug

#31793 use a single comment checking unittest in DB Manager SQL window
  tests/src/python/test_db_manager_sql_window.py
Labels: DB Manager, testsuite

#31838 Fix endless loop on curve linearization with maxdistance tolerance higher than arc radius
  src/core/geometry/qgsgeometryutils.cpp
  tests/src/core/testqgscurve.cpp
Labels: backport release-3_4

#31735 [processing] add support for WFS as input (fix #29663)
  python/plugins/processing/algs/gdal/GdalAlgorithm.py
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/algs/gdal/ogr2ogrtabletopostgislist.py
  python/plugins/processing/algs/gdal/ogrinfo.py
  python/plugins/processing/tests/GdalAlgorithmsVectorTest.py
Labels: Bug

#31823 [layouts] Fix label items don't update when their opacity < 100
  src/core/layout/qgslayoutitemlabel.cpp
Labels: Bug

#31836 QgsRasterFileWriter: fix crash when exporting to GS7BG driver (fixes #31775), and detect more potential crashing situations
  src/core/raster/qgsrasterfilewriter.cpp
  tests/src/python/test_qgsrasterfilewriter.py
Labels: Backport, Bug

#31850 [Backport 3.4] Fix crash in QgsCoordinateTransformPrivate at application exit (fixes #31762)
  src/core/qgscoordinatetransform_p.cpp
Labels: Backport, Bug

#31835 [Backport 3.4] [OGR provider] Disable OSM_USE_CUSTOM_INDEXING to fix loading of some .osm.pbf files (fixes #31062)
  src/providers/ogr/qgsogrprovider.cpp
Labels: Backport, Bug

#31813 [WFS provider] Fix recovery of GeoServer server error when lack of primary key (fixes #29844)
  src/providers/wfs/qgswfsfeatureiterator.cpp
  tests/src/python/test_provider_wfs.py
Labels: Bug, backport release-3_4

#31848 Fix crash in QgsCoordinateTransformPrivate at application exit (fixes #31762)
  src/core/qgscoordinatetransform_p.cpp
Labels: Bug, Needs Backporting

#31841 PG views: be tolerant for unsupported field type ...
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg.sql
Labels: Bug

#31865 Server fix getLegendGraphic default WIDTH/HEIGHT when BBOX
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_NoWidthNoHeight/WMS_GetLegendGraphic_NoWidthNoHeight.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_NoWidthNoHeight/WMS_GetLegendGraphic_NoWidthNoHeight_mask.png
Labels: Bug, Server

#31855 update docstring about QgsDateTimeEdit with NULL values
  python/gui/auto_generated/editorwidgets/qgsdatetimeedit.sip.in
  src/gui/editorwidgets/qgsdatetimeedit.h
Labels: API, Documentation, backport release-3_4

#31860 [OGR provider] Invalid feature count on layer reload (fixes #30518)
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: Bug

#31876 Set GPKG-stored project dirty when removed
  src/core/providers/ogr/qgsgeopackageprojectstorage.cpp
  tests/src/python/test_qgsproject.py
Labels: Bug, Project

#31765 [WFS provider] Re-inject custom query parameters in DCP HTTP URLs (fixes #31026)
  src/providers/wfs/qgswfsdatasourceuri.cpp
  tests/src/python/test_provider_wfs.py
Labels: Bug, backport release-3_4

#31881 [reports] Expose report feature settings when an attribute table is used in an atlas
  src/app/layout/qgslayoutattributetablewidget.cpp
Labels: Bug, Print Layouts

#31880 [layouts] Fix crash when opening layout with dynamic image in html label
  src/core/layout/qgslayoutitemlabel.cpp
  src/core/layout/qgslayoutrendercontext.h
  tests/src/core/testqgslayoutlabel.cpp
Labels: Bug, backport release-3_4

#31893 [processing] Add warning when packaging a geopackage with no layers
  src/analysis/processing/qgsalgorithmpackage.cpp
Labels: Bug, Processing

#31894 Use a slightly larger font size in CRS details on Windows
  src/gui/qgsprojectionselectiontreewidget.cpp
Labels: GUI/UX

#31871 Fix double event fired by QSpinBox in slow graduated
  python/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  python/gui/auto_generated/editorwidgets/qgsspinbox.sip.in
  src/gui/editorwidgets/qgsdoublespinbox.cpp
  src/gui/editorwidgets/qgsdoublespinbox.h
  src/gui/editorwidgets/qgsspinbox.cpp
  src/gui/editorwidgets/qgsspinbox.h
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/ui/qgsgraduatedsymbolrendererwidget.ui
Labels: Bug, GUI/UX

#31898 [georeferencer] set target CRS when generating GDAL script (fix #31353)
  src/plugins/georeferencer/qgsgeorefplugingui.cpp
Labels: Bug

#31902 [processing] add missed import
  python/plugins/processing/gui/ParametersPanel.py
Labels: Bug, backport release-3_4

#31863 Gap check ignore missing layer
  python/core/auto_generated/qgsmaplayer.sip.in
  src/analysis/vector/geometry_checker/qgsgeometrygapcheck.cpp
  src/app/qgsgeometryvalidationservice.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
Labels: API, Bug

#31890 [layout] Fix invalid svg exports when including metadata
  src/core/layout/qgslayoutexporter.cpp
  tests/src/python/test_qgslayoutexporter.py
Labels: Bug, Print Layouts

#31904 [dbmanager] handle attempts to edit raster tables (fix #30214)
  python/plugins/db_manager/db_plugins/plugin.py
Labels: Bug

#31883 [backport 3.4] [WFS provider] Re-inject custom query parameters in DCP HTTP URLs (fixes #31026)
  src/providers/wfs/qgswfsdatasourceuri.cpp
  tests/src/python/test_provider_wfs.py
Labels: Backport, Bug

#31763 use PostgreSQL quote_ident() function to quote schema and table names when listing tables
  src/providers/postgres/qgspostgresconn.cpp
Labels: Bug, backport release-3_4

#31889 [layouts] Fix crash when opening layout with dynamic image in html label
  src/core/layout/qgslayoutitemlabel.cpp
  src/core/layout/qgslayoutrendercontext.h
  tests/src/core/testqgslayoutlabel.cpp
Labels: Backport

#31920 Fix Server OPENAPI validation and unreported QStringList to JSON conversion error
  resources/server/api/ogc/schema.json
  src/core/qgsjsonutils.cpp
  src/server/qgsserverogcapihandler.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/core/testqgsjsonutils.cpp
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
Labels: Bug, Server

#31905 Block the events while showing a dialog
  python/gui/auto_generated/qgsexternalresourcewidget.sip.in
  python/gui/auto_generated/qgsfilewidget.sip.in
  src/gui/editorwidgets/qgsexternalresourcewidgetwrapper.cpp
  src/gui/qgsexternalresourcewidget.cpp
  src/gui/qgsexternalresourcewidget.h
  src/gui/qgsfilewidget.cpp
  src/gui/qgsfilewidget.h
Labels: backport release-3_4

#31932 [georeferencer] clear canvas cache and layers when resetting (fix #26700)
  src/plugins/georeferencer/qgsgeorefplugingui.cpp
Labels: Bug

#31929 [dbmanager] don't ignore field modifiers when updating it (fix #27613)
  python/plugins/db_manager/db_plugins/plugin.py
  python/plugins/db_manager/dlg_field_properties.py
Labels: Bug

#31943 Fix out of sync layout bounds after page removal
  src/core/layout/qgslayoutpagecollection.cpp
  tests/src/python/test_qgslayoutpagecollection.py
Labels: Bug

#31939 Reduce minimum width of report organiser dock
  src/ui/layout/qgsreportorganizerwidgetbase.ui
Labels: Bug, Print Layouts

#31937 Avoid using expensive geos polygon overlap calculation for two horizontal labels
  src/core/pal/labelposition.cpp
  src/core/pal/pointset.cpp
  src/core/pal/pointset.h
Labels: Labeling, Optimization

#31950 Server fix openapi HTML template and improve styling
  resources/server/api/ogc/static/style.css
  resources/server/api/ogc/templates/wfs3/getApiDescription.html
  src/server/services/wfs3/qgswfs3handlers.cpp
Labels: Bug, Server

#31945 Fix inconsistent use of QgsLayoutAtlas::changed signal
  src/app/layout/qgslayoutatlaswidget.cpp
  src/app/layout/qgslayoutatlaswidget.h
  src/core/layout/qgslayoutatlas.cpp
  src/core/layout/qgslayoutatlas.h
  tests/src/python/test_qgslayoutatlas.py
Labels: Bug, Print Layouts

#31974 [processing] Add API support for algorithm aliases
  python/core/auto_generated/processing/qgsprocessingregistry.sip.in
  src/core/processing/qgsprocessingregistry.cpp
  src/core/processing/qgsprocessingregistry.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: API

#31882 Manual backport of Server fix getLegendGraphic
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_NoWidthNoHeight/WMS_GetLegendGraphic_NoWidthNoHeight.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_NoWidthNoHeight/WMS_GetLegendGraphic_NoWidthNoHeight_mask.png
Labels: Backport, Bug, Server

#31959 Fix browser crash when adding (broken) WMTS
  src/core/qgsbrowsermodel.cpp
  src/gui/qgsbrowserguimodel.cpp
  src/gui/qgsbrowsertreeview.cpp
  src/providers/wms/qgswmsdataitems.cpp
Labels: Bug, backport release-3_4

#31901 [processing] correctly handle case when layer source is not a plain path (fix #29336)
  python/plugins/processing/algs/qgis/Datasources2Vrt.py
  python/plugins/processing/tests/testdata/expected/vrt_lines.vrt
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
Labels: Bug

#31979 backport 3.4 of Fix browser crash when adding (broken) WMTS
  src/core/qgsbrowsermodel.cpp
  src/gui/qgsbrowsertreeview.cpp
  src/providers/wms/qgswmsdataitems.cpp
Labels: Backport, Bug

#31975 Limit number of label candidates for large layers
  src/core/pal/feature.cpp
  src/core/pal/layer.h
  src/core/pal/pal.cpp
Labels: Labeling, Optimization

#30972 Fix virtual fields that use functions requiring all attributes
  src/core/qgsvectorlayerfeatureiterator.cpp
  tests/src/python/test_qgsfeatureiterator.py
  tests/src/python/test_qgsvectorlayer.py
Labels: Bug

#31990 [processing] Extend api for retrieving a layer in a compatible format
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingalgorithm.h
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: API

#32008 Avoid overflow in QgsImageOperation
  src/core/effects/qgsimageoperation.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_4

#32001 Add active python plugins in the about dialog
  src/app/qgisapp.cpp
Labels: Backport

#32009 Optimize QgsContrastEnhancementFunction
  python/core/auto_generated/raster/qgscontrastenhancement.sip.in
  python/core/auto_generated/raster/qgscontrastenhancementfunction.sip.in
  src/core/raster/qgscliptominmaxenhancement.cpp
  src/core/raster/qgscontrastenhancement.cpp
  src/core/raster/qgscontrastenhancement.h
  src/core/raster/qgscontrastenhancementfunction.cpp
  src/core/raster/qgscontrastenhancementfunction.h
Labels: Optimization

#32030 Move page background setting to a per-page option
  python/core/auto_generated/layout/qgslayoutitempage.sip.in
  python/core/auto_generated/layout/qgslayoutpagecollection.sip.in
  src/app/layout/qgslayoutpagepropertieswidget.cpp
  src/core/layout/qgscompositionconverter.cpp
  src/core/layout/qgslayout.cpp
  src/core/layout/qgslayoutitempage.cpp
  src/core/layout/qgslayoutitempage.h
  src/core/layout/qgslayoutpagecollection.cpp
  src/core/layout/qgslayoutpagecollection.h
  tests/src/python/test_qgslayoutpage.py
Labels: Bug, Print Layouts

#32026 [needs-docs] Fix multiple raster calc issues (+ new operators)
  python/analysis/auto_generated/raster/qgsrastercalcnode.sip.in
  python/analysis/auto_generated/raster/qgsrastermatrix.sip.in
  src/analysis/raster/qgsrastercalclexer.ll
  src/analysis/raster/qgsrastercalcnode.cpp
  src/analysis/raster/qgsrastercalcnode.h
  src/analysis/raster/qgsrastercalcparser.yy
  src/analysis/raster/qgsrastercalculator.cpp
  src/analysis/raster/qgsrastermatrix.cpp
  src/analysis/raster/qgsrastermatrix.h
  src/app/qgsrastercalcdialog.cpp
  src/app/qgsrastercalcdialog.h
  src/ui/qgsrastercalcdialogbase.ui
  tests/src/analysis/testqgsrastercalculator.cpp
Labels: Bug, Raster

#32046 [bugfix] Fix plugin manager not working with QT < 5.6
  python/pyplugin_installer/installer_data.py
Labels: Bug, Regression

#32058 Random points algorithm fixes/optimisations
  python/plugins/processing/algs/qgis/RandomPointsPolygons.py
Labels: Bug, Processing

#32062 Fix PG project storage initially empty list
  src/providers/postgres/qgspostgresprojectstoragedialog.cpp
Labels: Bug, backport release-3_4

#32064 Do not assume PostGIS 2.0+ has raster
  src/providers/postgres/qgspostgresconn.cpp
Labels: backport release-3_4

#32057 Ensure all objects used by the model are correctly imported
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bug, Processing

#32052 Add some useful triangle related geometry APIs
  python/core/auto_generated/geometry/qgsgeometryutils.sip.in
  src/core/geometry/qgsgeometryutils.cpp
  src/core/geometry/qgsgeometryutils.h
  tests/src/core/testqgsgeometryutils.cpp
Labels: API
