Repository qgis/QGIS, pull requests merged in 2020-02, with the labels that each got.

#33985 Update cdash parse_dash_results to new API
  scripts/parse_dash_results.py
Labels: Needs Documentation

#34199 Memory layers clone: use updated source
  src/core/qgsvectorlayer.cpp
  tests/src/python/test_provider_memory.py
Labels: Bug, backport release-3_10

#34204 Show full CRS WKT for custom CRS in layer properties
  python/core/auto_generated/qgscoordinatereferencesystem.sip.in
  src/app/qgsappcoordinateoperationhandlers.cpp
  src/core/qgscoordinatereferencesystem.cpp
  src/core/qgscoordinatereferencesystem.h
  src/core/qgsvectorlayer.cpp
  src/core/raster/qgsrasterlayer.cpp
  tests/src/core/testqgscoordinatereferencesystem.cpp
Labels: Bug, backport release-3_10

#34220 add missing include of spatialindex
  src/providers/postgres/CMakeLists.txt
Labels: backport release-3_10

#34202 Handle unit type "m" in custom WKT strings on proj 6 builds
  src/core/qgscoordinatereferencesystem.cpp
  tests/src/core/testqgscoordinatereferencesystem.cpp
Labels: backport release-3_10

#34088 [FreeBSD] Update FindGRASS.cmake
  cmake/FindGRASS.cmake
Labels: Bug, Build/Install, GRASS, Needs Backporting, backport release-3_10

#34055 BUG: fix add vertex from end point for CompoundCurveZ in gpkg, fix #3…
  src/core/geometry/qgscompoundcurve.cpp
  tests/src/app/testqgsvertextool.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: backport release-3_10

#34245 Fix crash when changing raster data source
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_10

#34247 Follow up 012ee83: delete .qpj file when overwriting pre-existing shapefile dataset
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsvectorfilewriter.cpp
Labels: Bug, Projections/Transformations, backport release-3_10

#34258 Fix user projection not identified as such
  src/core/qgscoordinatereferencesystem.cpp
Labels: Bug, Projections/Transformations, backport release-3_10

#34254 Fix Qt53DExtrasConfig.cmake syntax which triggers error on ubuntu 20.04 (cmake 3.13)
  external/qt3dextra-headers/cmake/Qt53DExtras/Qt53DExtrasConfig.cmake
Labels: Backport, Bug

#34227 Fix layer dependencies double load of layers
  src/app/qgisapp.cpp
  src/core/qgsvectorlayer.cpp
Labels: Bug

#34252 Define Layer Projection tool should write .prj files using ESRI wkt format, other tweaks
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/DefineProjection.py
Labels: Needs Backporting, Processing, Projections/Transformations

#34274 Fix outdated reference to GeoAlgorithmExecutionException in dox
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  src/core/processing/qgsprocessingalgorithm.h
Labels: Documentation, backport release-3_10

#34266 Fix map layer actions rendering in attribute table
  src/gui/attributetable/qgsdualview.cpp
Labels: Bug, backport release-3_10

#34270 Fix merge features with PG tables
  src/app/qgsmergeattributesdialog.cpp
Labels: Bug, backport release-3_10

#34308 Backport Fix map layer actions rendering in attribute table (backport #34266)
  src/gui/attributetable/qgsdualview.cpp
Labels: Backport

#34309 Fix test message from query builder on errors
  src/gui/qgsquerybuilder.cpp
Labels: Backport, Bug

#34305 Fix row conditional formatting
  src/gui/attributetable/qgsattributetablemodel.cpp
Labels: Bug, backport release-3_10

#34297 Do not insert 0x0 in XML
  src/core/qgsxmlutils.cpp
Labels: Backport, Bug

#34292 Fix widget wrong values 0 doubles
  src/gui/editorwidgets/qgstexteditwrapper.cpp
  tests/src/gui/testqgsattributeform.cpp
Labels: Backport, Bug

#34289 Makes layer prop. info text a bit smaller
  src/core/qgsapplication.cpp
Labels: Backport, Bug

#34318 Fix mention of compositions in dox
  python/core/auto_generated/layout/qgslayoutitempicture.sip.in
  python/core/auto_generated/layout/qgslayouttable.sip.in
  python/core/auto_generated/layout/qgslayouttablecolumn.sip.in
  python/core/auto_generated/qgsproject.sip.in
  src/core/layout/qgslayoutitempicture.h
  src/core/layout/qgslayoutitemscalebar.h
  src/core/layout/qgslayouttable.h
  src/core/layout/qgslayouttablecolumn.h
  src/core/qgsproject.h
Labels: backport release-3_10

#34298 Backport of Dataprovider ogr spatialite respect provider defaults
  src/core/providers/ogr/qgsogrprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_spatialite.py
  tests/testdata/provider/testdata_pg.sql
Labels: Backport, Bug

#34295 Fix PG views PK
  src/providers/postgres/qgspgtablemodel.cpp
  src/providers/postgres/qgspostgresconn.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: Backport, Bug

#34283 Fix mouse cursor GPS distance display for touch screen devices
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpsinformationwidget.h
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
  src/gui/qgsmaptoolpan.cpp
Labels: GPS

#34223 [Bugfix] Read SLD TextSymbolizer for lines
  src/core/qgsvectorlayer.cpp
  tests/src/python/test_qgssymbollayer_readsld.py
Labels: Bug, Labeling, backport release-3_10

#34334 Fix oriented minimum bounding box algorithm
  python/plugins/processing/tests/testdata/expected/mbg_rect_field.gfs
  python/plugins/processing/tests/testdata/expected/mbg_rect_field.gml
  python/plugins/processing/tests/testdata/expected/mbg_rect_field.xsd
  python/plugins/processing/tests/testdata/expected/oriented_bounds.gfs
  python/plugins/processing/tests/testdata/expected/oriented_bounds.gml
  python/plugins/processing/tests/testdata/expected/oriented_bounds.xsd
  src/core/geometry/qgsgeometry.cpp
  tests/src/core/testqgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Bug, backport release-3_10

#34335 Fix issue #28854 Export project to dxf symbol size
  src/core/symbology/qgsmarkersymbollayer.cpp
Labels: backport release-3_10

#34322 Fix IN/NOT IN evaluation with very number like strings
  src/core/expression/qgsexpressionnodeimpl.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Bug, backport release-3_10

#34312 [Oracle] Don't crash on getFeature(id) with an invalid id
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, Data Provider, backport release-3_10

#34300 [WCS] Fix wcs blank tile
  src/providers/wcs/qgswcsprovider.cpp
Labels: Bug, Data Provider, backport release-3_10

#34294 WFS case insensitive KVP URL query arguments check
  src/providers/wfs/qgswfsdatasourceuri.cpp
  tests/src/python/test_provider_wfs.py
Labels: Backport, Bug

#34287 Fix recent expressions in select by exp dlg
  src/gui/qgsexpressionselectiondialog.cpp
Labels: Backport, Bug

#34276 Add a recenter button to the GPS information panel
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpsinformationwidget.h
  src/ui/qgsgpsinformationwidgetbase.ui
Labels: GPS, Needs Documentation

#34256 Raise log level of server exception
  src/server/qgsserver.cpp
  src/server/qgsserviceregistry.cpp
Labels: Server, backport release-3_10

#34290 Fix spatialite uniquevalues with bigint
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Backport, Bug

#34293 Merge pull request #34157 from elpaso/bugfix-gh28643-NULL-representation
  src/core/qgsfieldformatter.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Backport, Bug

#34350 Fix FID real fields shifted when exported to GPKG
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Bug, backport release-3_10

#33952 [server] do not drop layers with duplicate names
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_DuplicateNames/WMS_GetMap_DuplicateNames.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_DuplicateNames/WMS_GetMap_DuplicateNames_mask.png
  tests/testdata/qgis_server/test_project_wms_duplicate_names.qgz
Labels: Bug, Needs Documentation, backport release-3_10

#34382 [edit widgets] Fix text edit right-click menu item background when widget is disabled
  src/gui/editorwidgets/qgstexteditwrapper.cpp
Labels: Bug, GUI/UX, backport release-3_10

#34372 Reduce noise from doc bot
  .github/workflows/backport.yml
  .github/workflows/pr-needs-docs-message.yml
  .github/workflows/pr_to_doc_issue.yml
Labels: Needs Documentation

#34403 fix ownership issues in dualview/attributetable
  python/gui/auto_generated/attributetable/qgsattributetableview.sip.in
  python/gui/auto_generated/attributetable/qgsfeaturelistview.sip.in
  src/gui/attributetable/qgsattributetableview.cpp
  src/gui/attributetable/qgsattributetableview.h
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
  src/gui/attributetable/qgsfeatureselectionmodel.cpp
Labels: backport release-3_10

#34423 Fix spatialite aspatial add features
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Bug, backport release-3_10

#34354 QgsMapLayerAction: add legend context menu entry for action on selection
  python/gui/auto_generated/qgsmaplayeractionregistry.sip.in
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/app/qgsidentifyresultsdialog.cpp
  src/app/qgsmaptoolfeatureaction.cpp
  src/gui/attributetable/qgsattributetablemodel.cpp
  src/gui/attributetable/qgsattributetableview.cpp
  src/gui/qgsactionmenu.cpp
  src/gui/qgsidentifymenu.cpp
  src/gui/qgsmaplayeractionregistry.cpp
  src/gui/qgsmaplayeractionregistry.h
Labels: Frozen

#34411 improvement of the Drag'n'Drop designer
  src/app/qgsattributesformproperties.cpp
  src/app/qgsattributesformproperties.h
Labels: Bug

#34431 Reduce noise in server output
  src/server/qgsserver.cpp
  src/server/qgsservicenativeloader.cpp
Labels: Server

#34425 WFS: support all GetFeature output formats for all layers
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Server, backport release-3_10

#34420 Fix parentheses in QgsExpression::dump()
  src/core/expression/qgsexpressionnodeimpl.cpp
  tests/src/core/testqgsogcutils.cpp
Labels: Bug, backport release-3_10

#34407 Do not try to compute the center of a segment of null length
  src/core/symbology/qgslinesymbollayer.cpp
Labels: Bug

#34419 Fix labels don't render when mode is set to "From Symbol Bounds" and features are not set to be obstacles for other labels
  src/core/labeling/qgspallabeling.cpp
Labels: backport release-3_10

#34436 Fix spatialite crash on field added
  src/providers/spatialite/qgsspatialiteprovider.cpp
Labels: Bug, backport release-3_10

#34432 [Processing] Fix isEnabled check for modeler context menu actions
  python/plugins/processing/modeler/DeleteModelAction.py
  python/plugins/processing/modeler/EditModelAction.py
  python/plugins/processing/modeler/ExportModelAsPythonScriptAction.py
Labels: backport release-3_10

#34402 [Backport release-3_10] Fix identify menu when an expression is used as display name
  src/gui/qgsidentifymenu.cpp
Labels: Backport

#34325 Fix KML/GPX export coordinate transformation not matching context
  python/core/auto_generated/qgsvectorfilewriter.sip.in
  src/analysis/processing/qgsalgorithmpackage.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsabstractgeopdfexporter.cpp
  src/core/qgsvectorfilewriter.cpp
  src/core/qgsvectorfilewriter.h
  src/core/qgsvectorfilewritertask.cpp
  src/core/qgsvectorfilewritertask.h
  src/plugins/geometry_checker/qgsgeometrycheckersetuptab.cpp
  tests/src/app/testqgsattributetable.cpp
  tests/src/core/testqgsmaprendererjob.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
  tests/src/gui/testqgsrasterlayersaveasdialog.cpp
Labels: Bug, backport release-3_10

#34446 When showing original path in the "Select a Data Source" dialog allow the original path text to be selected and copied
  src/app/qgisapp.cpp
  src/gui/qgsdatasourceselectdialog.cpp
Labels: GUI/UX

#34441 [Bugfix] Read SLD TextSymbolizer PointPlacement for lines
  src/core/qgsvectorlayer.cpp
Labels: Bug, Labeling, backport release-3_10

#34434 Server standalone: fix DISPLAY check + minor rewording of help texts
  src/server/qgis_mapserver.cpp
Labels: Server

#34428 Fix crash when switching "apply default value on update"
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
Labels: Bug

#34342 [Backport Release-3_10][Bugfix] Read SLD TextSymbolizer for lines
  src/core/qgsvectorlayer.cpp
  tests/src/python/test_qgssymbollayer_readsld.py
Labels: Backport, Bug, Labeling

#34460 GDAL: make sure we are not reading outside the raster
  src/analysis/raster/qgsrastercalculator.cpp
  src/core/providers/gdal/qgsgdalprovider.cpp
  tests/src/python/test_provider_gdal.py
Labels: Bug, Data Provider, Raster, backport release-3_10

#34487 Fix broken setting deletion from advanced settings options
  src/app/qgssettingstree.cpp
Labels: Bug, backport release-3_10

#34488 Responsive cancelation of raster projector
  src/core/raster/qgsrasterprojector.cpp
  src/core/raster/qgsrasterprojector.h
Labels: backport release-3_10

#34489 Less noisy transform failure errors
  src/core/qgscoordinatetransform.cpp
  src/core/qgscoordinatetransform.h
Labels: backport release-3_10

#34493 disable browsing auto pan/scale in attribute table when showing visible features only
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
Labels: Bug, backport release-3_10

#34153 Activate buffer drawing when setting a buffer property through auxiliary storage
  src/app/labeling/qgslabelpropertydialog.cpp
  src/app/labeling/qgslabelpropertydialog.h
  src/app/labeling/qgsmaptoolchangelabelproperties.cpp
  src/core/labeling/qgspallabeling.cpp
  src/core/qgsauxiliarystorage.cpp
  src/ui/labeling/qgslabelpropertydialogbase.ui
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgslabelpropertydialog.cpp
Labels: Bug, backport release-3_10

#34291 backport of Bugfix gh29560 pg identity pk default values 3 10
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Backport, Bug

#34513 [backport] Fix spatialite aspatial add features
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Backport, Bug

#34512 [backport] Fix test message from query builder on errors
  src/gui/qgsquerybuilder.cpp
Labels: Backport, Bug

#34511 [backport] GDAL: make sure we are not reading outside the raster
  src/analysis/raster/qgsrastercalculator.cpp
  src/core/providers/gdal/qgsgdalprovider.cpp
  tests/src/python/test_provider_gdal.py
Labels: Backport, Bug

#34311 Turn relative path into absolute path for reading embedded projects.
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  tests/src/core/testqgsproject.cpp
  tests/testdata/embedded_layers/project.qgz
Labels: Bug

#34520 [ui] Fix diagram attribute colors missing on non-default theme in the diagram properties dialog
  src/app/qgsdiagramproperties.cpp
  src/app/qgsdiagramproperties.h
Labels: GUI/UX, backport release-3_10

#34521 [georeferencer] Fix wrong target CRS using GDAL3/PROJ6 builds
  src/plugins/georeferencer/qgsimagewarper.cpp
Labels: Bug, Projections/Transformations, backport release-3_10

#34500 Recover pointcloud tests
  tests/src/python/test_qgsproviderconnection_postgres.py
  tests/testdata/Dockerfile-postgis
  tests/testdata/provider/testdata_pg.sh
  tests/testdata/provider/testdata_pg_pointcloud.sql
Labels: backport release-3_10

#34530 Backport fix for wfs capabilities output formats to 3.10
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Backport, Server

#34539 Raise log level of server exception
  src/server/qgsserver.cpp
  src/server/qgsserviceregistry.cpp
Labels: Backport, Server

#34553 Fix crash when choosing categorized renderer
  src/core/symbology/qgscategorizedsymbolrenderer.cpp
Labels: backport release-3_10

#34549 Fix geometry type for "Convert geometry type" algorithm
  python/plugins/processing/algs/qgis/GeometryConvert.py
Labels: backport release-3_10

#34538 Fix candidate generation for horizontal line labels
  src/core/pal/feature.cpp
  src/core/pal/feature.h
Labels: Bug, Labeling, backport release-3_10

#34545 [Processing] Fix setting band parameter from string
  python/plugins/processing/core/parameters.py
Labels: Bug, Processing, backport release-3_10

#34567 followup 5c95c5f , use utf-8 string
  src/plugins/georeferencer/qgsimagewarper.cpp
Labels: backport release-3_10

#34566 Fix srcsync "... can't be updated" warnings under proj >= 6
  resources/srs6.db
  src/core/qgscoordinatereferencesystem.cpp
  src/core/qgscoordinatereferencesystem_legacy.h
Labels: backport release-3_10

#34570 update to MDAL 0.5.1
  external/mdal/frmts/mdal_netcdf.cpp
  external/mdal/frmts/mdal_netcdf.hpp
  external/mdal/frmts/mdal_sww.cpp
  external/mdal/mdal.cpp
Labels: Bug

#34578 Fix QgsPoint ctor with invalid arguments
  python/core/auto_generated/geometry/qgspoint.sip.in
  src/core/geometry/qgspoint.h
  tests/src/python/test_qgspoint.py
Labels: Bug, PyQGIS

#34554 Fix crash when adding child features from forms
  src/app/qgisappinterface.cpp
  src/app/qgsfeatureaction.cpp
  src/gui/qgsmaptooladvanceddigitizing.cpp
Labels: Bug, backport release-3_10

#34514 [backport] Fix crash when switching "apply default value on update"
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
Labels: Backport, Bug

#34588 Fix atlas filename expression validation
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/core/layout/qgslayoutatlas.cpp
Labels: Bug

#34575 Fix PostGIS table access without Raster metadata permissions
  src/providers/postgres/qgspostgresconn.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: backport release-3_10

#34568 Add algorithms for raising warnings and exceptions from models
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmraiseexception.cpp
  src/analysis/processing/qgsalgorithmraiseexception.h
  src/analysis/processing/qgsnativealgorithms.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/qgsprocessingalgorithm.h
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Feature, Merge After Thaw, Processing

#34593 Avoid running crssync on every build
  resources/srs6.db
  src/core/qgscoordinatereferencesystem.cpp
Labels: Frozen

#34579 Image resources in server
  src/server/CMakeLists.txt
Labels: Backport, Server

#34599 Htmlwidget resize
  src/app/qgsattributesformproperties.cpp
  src/core/qgseditformconfig.cpp
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
Labels: GUI/UX

#34547 Make CRS controlable by a variable
  python/core/auto_generated/layout/qgslayoutobject.sip.in
  src/core/layout/qgslayoutitemmap.cpp
  src/core/layout/qgslayoutobject.cpp
  src/core/layout/qgslayoutobject.h
  src/gui/layout/qgslayoutmapwidget.cpp
  src/ui/layout/qgslayoutmapwidgetbase.ui
  tests/src/core/testqgslayoutmap.cpp
Labels: Feature, Print Layouts

#34040 Temporal API
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayertemporalproperties.sip.in
  python/core/auto_generated/qgsmapsettings.sip.in
  python/core/auto_generated/qgsrendercontext.sip.in
  python/core/auto_generated/qgstemporalproperty.sip.in
  python/core/auto_generated/qgstemporalrangeobject.sip.in
  python/core/auto_generated/raster/qgsrasterlayer.sip.in
  python/core/auto_generated/raster/qgsrasterlayertemporalproperties.sip.in
  python/core/core_auto.sip
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/core/CMakeLists.txt
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayertemporalproperties.cpp
  src/core/qgsmaplayertemporalproperties.h
  src/core/qgsmapsettings.cpp
  src/core/qgsmapsettings.h
  src/core/qgsrendercontext.cpp
  src/core/qgsrendercontext.h
  src/core/qgstemporalproperty.cpp
  src/core/qgstemporalproperty.h
  src/core/qgstemporalrangeobject.cpp
  src/core/qgstemporalrangeobject.h
  src/core/raster/qgsrasterlayer.cpp
  src/core/raster/qgsrasterlayer.h
  src/core/raster/qgsrasterlayertemporalproperties.cpp
  src/core/raster/qgsrasterlayertemporalproperties.h
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsrasterlayer.cpp
  tests/src/core/testqgsrasterlayertemporalproperties.cpp
  tests/src/core/testqgstemporalproperty.cpp
  tests/src/core/testqgstemporalrangeobject.cpp
  tests/src/core/testqgsvectorlayer.cpp
  tests/src/python/test_qgsrendercontext.py
Labels: Feature

#34574 DXF export: handle line breaks in label text
  src/core/dxf/qgsdxfexport.cpp
  tests/src/core/testqgsdxfexport.cpp
Labels: Bug, DXF/DWG, backport release-3_10, backport release-3_12

#34581 Small rework on QgsFeatureFilterModel
  src/core/qgsfeaturefiltermodel.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34612 Move jsonformatter to own dir, add license and src
  resources/server/api/ogc/static/jsonFormatter/LICENSE
  resources/server/api/ogc/static/jsonFormatter/jsonFormatter.css
  resources/server/api/ogc/static/jsonFormatter/jsonFormatter.js
  resources/server/api/ogc/static/jsonFormatter/jsonFormatter.min.css
  resources/server/api/ogc/static/jsonFormatter/jsonFormatter.min.js
  resources/server/api/ogc/templates/wfs3/header.html
  tests/testdata/qgis_server/api/test_wfs3_collection_testlayer_èé.html
  tests/testdata/qgis_server/api/test_wfs3_collections_empty.html
  tests/testdata/qgis_server/api/test_wfs3_collections_project.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.html
Labels: Server

#34532 [FEATURE] mesh simplification
  external/meshOptimizer/LICENSE.md
  external/meshOptimizer/README.md
  external/meshOptimizer/meshoptimizer.h
  external/meshOptimizer/simplifier.cpp
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/core/auto_generated/mesh/qgsmeshrenderersettings.sip.in
  scripts/astyle.sh
  src/3d/mesh/qgsmeshterraingenerator.cpp
  src/analysis/mesh/qgsmeshcalcutils.cpp
  src/analysis/mesh/qgsmeshcontours.cpp
  src/app/mesh/qgsmeshlayerproperties.cpp
  src/core/CMakeLists.txt
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgsmeshlayerinterpolator.cpp
  src/core/mesh/qgsmeshlayerinterpolator.h
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshlayerrenderer.h
  src/core/mesh/qgsmeshrenderersettings.h
  src/core/mesh/qgsmeshsimplificationsettings.cpp
  src/core/mesh/qgsmeshsimplificationsettings.h
  src/core/mesh/qgstriangularmesh.cpp
  src/core/mesh/qgstriangularmesh.h
  src/ui/mesh/qgsmeshlayerpropertiesbase.ui
  tests/src/core/testqgsmeshlayer.cpp
  tests/src/core/testqgsmeshlayerrenderer.cpp
  tests/testdata/control_images/mesh/expected_simplified_triangular_mesh/expected_simplified_triangular_mesh.png
Labels: Feature, Mesh, Needs Documentation

#34638 [decorations] Fix scale bar label horizontal alignment regression
  src/app/decorations/qgsdecorationscalebar.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34637 Fix cannot edit/delete/export project based models
  python/plugins/processing/modeler/DeleteModelAction.py
  python/plugins/processing/modeler/EditModelAction.py
  python/plugins/processing/modeler/ExportModelAsPythonScriptAction.py
Labels: Bug, Processing, backport release-3_10, backport release-3_12

#34501 fix browsing counter not reset in feature list (attribute table)
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsfeaturelistview.cpp
Labels: Attribute Table, Bug, Squash!, backport release-3_10

#34652 Fix show/hide link/unlink in relation reference w
  src/gui/qgsattributeform.cpp
Labels: Bug, Forms, backport release-3_10, backport release-3_12

#34665 use Q_ENUM macro in QgsFileWidget
  python/gui/auto_additions/qgsfilewidget.py
  src/gui/qgsfilewidget.h
Labels: backport release-3_10, backport release-3_12

#34624 Grass location fix
  src/plugins/grass/qgsgrassnewmapset.cpp
Labels: backport release-3_10, backport release-3_12

#34620 [labelling] Fix suboptimal logic for polygon's default around centroid
  src/core/pal/feature.cpp
  src/core/pal/feature.h
  tests/src/python/test_selective_masking.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Diagrams/WMS_GetMap_Diagrams.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter5/WMS_GetMap_Filter5.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight/WMS_GetMap_Highlight.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Line/WMS_GetMap_Highlight_Line.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Point/WMS_GetMap_Highlight_Point.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_LabelingSettings/WMS_GetMap_LabelingSettings.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleCustom/WMS_GetMap_StyleCustom.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleDefault/WMS_GetMap_StyleDefault.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed/WMS_GetMap_StyleMixed.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed_LayerOrder/WMS_GetMap_StyleMixed_LayerOrder.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Highlight/WMS_GetPrint_Highlight.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_StyleCustom/WMS_GetPrint_StyleCustom.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_StyleDefault/WMS_GetPrint_StyleDefault.png
  tests/testdata/control_images/selective_masking/label_mask/label_mask.png
  tests/testdata/control_images/selective_masking/label_mask_subsymbol/label_mask_subsymbol.png
  tests/testdata/control_images/selective_masking/label_mask_symbol_levels/label_mask_symbol_levels.png
  tests/testdata/control_images/selective_masking/label_mask_with_effect/label_mask_with_effect.png
  tests/testdata/control_images/selective_masking/mask_with_effect/mask_with_effect.png
  tests/testdata/control_images/selective_masking/multiple_label_masks_different_sets/multiple_label_masks_different_sets.png
  tests/testdata/control_images/selective_masking/multiple_label_masks_same_set/multiple_label_masks_same_set.png
  tests/testdata/control_images/selective_masking/multiple_masks_different_sl/multiple_masks_different_sl.png
  tests/testdata/control_images/selective_masking/multiple_masks_different_sl2/multiple_masks_different_sl2.png
  tests/testdata/control_images/selective_masking/multiple_masks_same_sl/multiple_masks_same_sl.png
  tests/testdata/control_images/selective_masking/rule_label_mask/rule_label_mask.png
  tests/testdata/control_images/selective_masking/sl_mask/sl_mask.png
Labels: Labeling, backport release-3_10, backport release-3_12

#34639 Fix node tool rectangular selection when layer has a different crs to canvas
  src/app/vertextool/qgsvertextool.cpp
  tests/src/app/testqgsvertextool.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34648 [layouts] Fix crash when reading layouts XML after failing to add a layout
  src/core/layout/qgslayoutmanager.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_12

#34674 Make "pre-set DPI not equal to painter's DPI" check less stringent
  src/core/qgsmaprenderercustompainterjob.cpp
Labels: backport release-3_10, backport release-3_12

#34659 Fix crash when accessing mainMessageBar
  src/app/qgisappinterface.cpp
  src/app/qgsfeatureaction.cpp
Labels: Bug, Crash/Data Corruption

#34355 In relation reference widget, fix chain filter when null values are not allowed
  src/core/qgsfeaturefiltermodel.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34688 Focus on first feature in embedded forms
  src/gui/attributetable/qgsdualview.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#34686 Fix merge selected features when evaluate defaults
  src/app/qgsmergeattributesdialog.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34268 Do not replace plus by space in REQUEST_BODY
  src/server/qgsrequesthandler.cpp
  tests/src/python/test_qgsserver_request.py
Labels: Bug, Server, backport release-3_10, backport release-3_12

#34700 [backport] Fix merge selected features when evaluate defaults
  src/app/qgsmergeattributesdialog.cpp
Labels: Backport, Bug

#34699 [backport] Fix merge selected features when evaluate defaults
  src/app/qgsmergeattributesdialog.cpp
Labels: Backport, Bug

#34684 Help text correction for format_date() function. (For milliseconds 'z' and 'zzz')
  resources/function_help/json/format_date
  src/gui/editorwidgets/qgsdatetimeeditconfig.cpp
Labels: backport release-3_10, backport release-3_12

#34662 fix crash when exporting check geometries gaps
  src/plugins/geometry_checker/qgsgeometrycheckerresulttab.cpp
Labels: backport release-3_10, backport release-3_12

#34707 postgres provider: re-allow adding layers from PostgreSQL 8.4
  src/providers/postgres/qgspostgresconn.cpp
Labels: backport release-3_10, backport release-3_12

#34712 Check in updated internal srs db based on latest proj version
  resources/srs6.db
Labels: backport release-3_10, backport release-3_12

#34698 Fix spatialite editing with nofields (or def values)
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Bug, Data Provider, backport release-3_10, backport release-3_12

#34654 [feature] Relation widget force suppress popup
  python/core/auto_generated/qgsvectorlayertools.sip.in
  src/app/attributeformconfig/qgsattributerelationedit.cpp
  src/app/attributeformconfig/qgsattributerelationedit.h
  src/app/qgsattributesformproperties.cpp
  src/app/qgsattributesformproperties.h
  src/app/qgsguivectorlayertools.cpp
  src/core/qgstrackedvectorlayertools.cpp
  src/core/qgsvectorlayertools.cpp
  src/core/qgsvectorlayertools.h
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
  src/ui/attributeformconfig/qgsattributerelationedit.ui
Labels: Feature, Forms

#34716 Make containsAdvancedEffects function more accurate
  src/core/qgsmapsettingsutils.cpp
  tests/src/core/testqgsmapsettingsutils.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34726 Fix planimetric measurements checkbox not restored in options dialog
  src/app/qgsoptions.cpp
Labels: backport release-3_10, backport release-3_12

#34329 Fix relation reference constraint when identifying a feature
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: Bug, Forms, backport release-3_10

#34719 [Backport 3.10] don't crash on oracle getFeature(id) with an invalid id
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Backport, Bug

#34525 Correct bug from postgres comment using quote or caps
  python/plugins/db_manager/db_plugins/postgis/connector.py
Labels: Bug, backport release-3_10, backport release-3_12

#34605 Update the short help description of the Random points along line algorithm
  python/plugins/processing/algs/help/qgis.yaml
Labels: Documentation, Processing, backport release-3_10, backport release-3_12

#34748 Fix relation reference widget test crashes under debug builds
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: backport release-3_10, backport release-3_12

#34727 [BUG] Fix On The Fly Issues with mesh layer
  src/core/mesh/qgsmeshlayerinterpolator.cpp
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshvectorrenderer.cpp
  src/core/mesh/qgstriangularmesh.cpp
  tests/src/core/testqgstriangularmesh.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34336 Fix form filtering when used in feature selection dialog
  src/gui/qgsfeatureselectiondlg.cpp
  src/gui/qgsfeatureselectiondlg.h
Labels: Bug, Forms, backport release-3_12

#34760 [feature] Relation wdgt: add checkbox to hide save child edits button
  python/core/auto_generated/qgsattributeeditorelement.sip.in
  python/gui/auto_generated/editorwidgets/qgsrelationwidgetwrapper.sip.in
  python/gui/auto_generated/qgsrelationeditorwidget.sip.in
  src/app/attributeformconfig/qgsattributewidgetedit.cpp
  src/app/qgsattributesformproperties.cpp
  src/app/qgsattributesformproperties.h
  src/core/qgsattributeeditorelement.cpp
  src/core/qgsattributeeditorelement.h
  src/core/qgseditformconfig.cpp
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationwidgetwrapper.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
  src/ui/attributeformconfig/qgsattributewidgeteditgroupbox.ui
Labels: Feature, Forms, GUI/UX

#34697 [Bugfix][Server] WMS GetFeatureInfo provides bounding box when configured
  src/server/services/wms/qgswmsrenderer.cpp
  tests/testdata/qgis_server/wms_getfeatureinfo-group_name-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-thousands-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-values0-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_line_tolerance_20_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_notvisible.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_point_tolerance_0_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_point_tolerance_20_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_polygon_tolerance_20_text_xml.txt
Labels: Bug, Server, backport release-3_10, backport release-3_12

#34766 [BUG] [BACKPORT 3-12] Fix On The Fly Issues with mesh layer
  src/core/mesh/qgsmeshlayerinterpolator.cpp
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshvectorrenderer.cpp
  src/core/mesh/qgstriangularmesh.cpp
  tests/src/core/testqgstriangularmesh.cpp
Labels: Backport

#34767 [BUG] [BACKPORT 3.10] Fix On The Fly Issues with mesh layer
  src/core/mesh/qgsmeshlayerinterpolator.cpp
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshvectorrenderer.cpp
  src/core/mesh/qgstriangularmesh.cpp
  tests/src/core/testqgstriangularmesh.cpp
Labels: Backport

#34765 [BUG][Mesh] Fix streamlines/traces issue when CRS transform fails
  src/core/mesh/qgsmeshtracerenderer.cpp
Labels: Bug, backport release-3_12

#34783 Fix incorrect rowCount results in layout model
  src/core/layout/qgslayoutmodel.cpp
Labels: Bug, backport release-3_10, backport release-3_12
