Repository qgis/QGIS, pull requests merged in 2020-12, with the labels that each got.

#40287 Allow specifying lists of values for parameters in qgis_process tool
  src/process/qgsprocess.cpp
  tests/src/python/test_qgsprocessexecutable.py
Labels: Processing, backport release-3_16

#40369 Don't install owslib through pip, it tries to install pyproj and a custom proj build (3.10 backport)
  .docker/qgis3-build-deps-focal.dockerfile
  .docker/qgis3-build-deps.dockerfile
Labels: Backport

#40366 Fix incorrect handling of unsigned short values in point cloud providers
  python/core/auto_generated/pointcloud/qgspointcloudattribute.sip.in
  src/core/pointcloud/qgspointcloudattribute.cpp
  src/core/pointcloud/qgspointcloudattribute.h
  src/core/pointcloud/qgspointcloudattributemodel.cpp
  src/core/pointcloud/qgspointcloudrenderer.cpp
  src/core/pointcloud/qgspointcloudrgbrenderer.cpp
  src/core/providers/ept/qgseptdecoder.cpp
  src/core/providers/ept/qgseptpointcloudindex.cpp
  tests/src/core/testqgspointcloudattribute.cpp
  tests/src/providers/testqgseptprovider.cpp
Labels: Point Clouds

#40359 Server: do not crash on broken tree
  src/server/services/wms/qgswmsgetcapabilities.cpp
Labels: Server, backport release-3_10, backport release-3_16

#40360 Server: skip initial style storage
  python/core/auto_additions/qgsproject.py
  python/core/auto_generated/qgsproject.sip.in
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/app/qgsappbrowserproviders.cpp
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/server/qgsconfigcache.cpp
  tests/src/core/testqgsproject.cpp
Labels: Optimization, Server, backport release-3_16

#40382 Upgrade pyogctest to ignore ssl errors
  .github/workflows/ogc.yml
Labels: Infrastructure, backport release-3_16

#40289 [3d] Use project's full extent when setting flat/online terrain extent
  src/3d/chunks/qgschunkloader_p.h
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapsettings.cpp
  src/3d/terrain/qgsflatterraingenerator.cpp
  src/3d/terrain/qgsflatterraingenerator.h
  src/3d/terrain/qgsonlineterraingenerator.cpp
  src/3d/terrain/qgsonlineterraingenerator.h
  src/3d/terrain/qgsterraingenerator.h
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmapcanvas.h
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
  src/app/3d/qgs3dmapconfigwidget.cpp
Labels: 3D

#40395 [3d] Fix online terrain ignoring project coordinate transform context
  src/3d/terrain/qgsdemterraintileloader_p.cpp
  src/3d/terrain/qgsdemterraintileloader_p.h
  src/3d/terrain/qgsterraindownloader.cpp
  src/core/qgsgdalutils.cpp
  src/core/qgsgdalutils.h
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  tests/src/core/testqgsgdalutils.cpp
Labels: backport release-3_16

#40388 fix displaying enabled/disable mesh dataset group
  python/core/auto_generated/mesh/qgsmeshdataset.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/core/mesh/qgsmeshdataset.cpp
  src/core/mesh/qgsmeshdataset.h
  src/core/mesh/qgsmeshdatasetgroupstore.cpp
  src/core/mesh/qgsmeshdatasetgroupstore.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/gui/mesh/qgsmeshdatasetgrouptreeview.cpp
  src/gui/mesh/qgsmeshdatasetgrouptreeview.h
  src/gui/qgsmaptoolidentify.cpp
  tests/src/core/testqgsmeshlayer.cpp
Labels: Bug, Mesh, backport release-3_16

#40401 [Backport release-3_10] Fix server virtual layers load
  src/server/qgsconfigcache.cpp
Labels: Backport, Server

#40248 select feature context menu
  python/gui/auto_generated/qgsmaptool.sip.in
  src/app/qgsmaptoolselect.cpp
  src/app/qgsmaptoolselect.h
  src/app/qgsmaptoolselectutils.cpp
  src/app/qgsmaptoolselectutils.h
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
  src/gui/qgsmaptool.cpp
  src/gui/qgsmaptool.h
Labels: Changelog, Feature, GUI/UX, Vectors

#40305 [Postgres] Fix estimate row on table
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  tests/src/python/test_provider_postgres.py
Labels: Bug, Data Provider, backport release-3_16

#40380 [PyQGIS] Display Exception message when raised in python plugin ogcapi handler
  python/server/server.sip.in
  tests/src/python/test_qgsserver_api.py
Labels: Bug, backport release-3_16

#40420 Do not detach layers loop
  src/core/qgsproject.cpp
Labels: Optimization, backport release-3_16

#40415 fix support for proj >7.2
  src/core/qgscoordinatereferencesystem.h
  src/core/qgsprojutils.h
Labels: backport release-3_10, backport release-3_16

#40432 Fixup messy code for layer duplication, and don't block duplication of mesh, vector tile, point cloud layers (all of which fully support it!)
  src/app/qgisapp.cpp
Labels: backport release-3_16

#40437 [3d] Fix flat/online terrain generator extent not saved
  src/3d/terrain/qgsflatterraingenerator.cpp
  src/3d/terrain/qgsonlineterraingenerator.cpp
Labels: 3D, Bug, backport release-3_16

#40399 Server profiler
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgsserver.cpp
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
Labels: Feature, Server

#40431 Move responsibility for determining whether a map renderer job requires flattening onto a temporary image to the QgsMapLayerRenderer subclasses
  python/core/auto_generated/qgsmaplayerrenderer.sip.in
  src/core/annotations/qgsannotationlayerrenderer.cpp
  src/core/annotations/qgsannotationlayerrenderer.h
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshlayerrenderer.h
  src/core/pointcloud/qgspointcloudlayerrenderer.cpp
  src/core/pointcloud/qgspointcloudlayerrenderer.h
  src/core/qgsmaplayerrenderer.h
  src/core/qgsmaprendererjob.cpp
  src/core/qgsmaprendererjob.h
  src/core/qgsvectorlayerrenderer.cpp
  src/core/qgsvectorlayerrenderer.h
  src/core/raster/qgsrasterlayerrenderer.cpp
  src/core/raster/qgsrasterlayerrenderer.h
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
  src/core/vectortile/qgsvectortilelayerrenderer.h
Labels: API, Cleanup

#40456 fix select map tool with OTF projection
  src/app/qgsmaptoolselectutils.cpp
Labels: Bug, Digitizing, Regression

#40452 Add getter for QgsLocatorResults.userData
  python/core/auto_generated/locator/qgslocatorfilter.sip.in
  src/core/locator/qgslocatorfilter.cpp
  src/core/locator/qgslocatorfilter.h
Labels: backport release-3_16

#40463 Remove layer/legend/palette preview from raster layer properties
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/ui/qgsrasterlayerpropertiesbase.ui
Labels: Needs Documentation, backport release-3_16

#40403 updated Swedish national catalogue
  python/plugins/MetaSearch/resources/connections-default.xml
Labels: backport release-3_10, backport release-3_16

#39939 [processing] OTB minor fixes
  python/plugins/processing/algs/otb/OtbAlgorithm.py
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40227 Render 0 width buffered lines as super-narrow walls/fences instead of nothing
  src/3d/symbols/qgsline3dsymbol_p.cpp
  src/app/3d/qgsline3dsymbolwidget.cpp
Labels: 3D, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40462 [FEATURE][processing] Export layers information algorithm
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmexportlayersinformation.cpp
  src/analysis/processing/qgsalgorithmexportlayersinformation.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Feature, Needs Documentation, Processing

#40479 Ensure that accessing QgsFieldFormatterRegistry is thread safe
  python/core/auto_generated/qgsfieldformatterregistry.sip.in
  src/core/qgsfieldformatterregistry.cpp
  src/core/qgsfieldformatterregistry.h
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40478 [processing] Add a warning-level information message feedback
  python/core/auto_generated/processing/qgsprocessingfeedback.sip.in
  python/gui/auto_generated/processing/qgsprocessingalgorithmdialogbase.sip.in
  src/analysis/processing/qgsalgorithmclip.cpp
  src/analysis/processing/qgsalgorithmextractbyextent.cpp
  src/analysis/processing/qgsalgorithmextractbylocation.cpp
  src/analysis/processing/qgsalgorithmjoinbylocation.cpp
  src/core/processing/qgsprocessingfeedback.cpp
  src/core/processing/qgsprocessingfeedback.h
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.h
  src/process/qgsprocess.cpp
  src/process/qgsprocess.h
Labels: Processing, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40477 [pointclouds] Don't prematurely convert point coordinates to float values
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
Labels: Point Clouds

#40476 Add some more options to control how a preview pixmap for a color ramp is generated
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  src/core/symbology/qgssymbollayerutils.cpp
  src/core/symbology/qgssymbollayerutils.h
  tests/src/python/test_qgssymbollayerutils.py
  tests/testdata/control_images/symbol_layer_utils/expected_color_ramp_horizontal/expected_color_ramp_horizontal.png
  tests/testdata/control_images/symbol_layer_utils/expected_color_ramp_horizontal_flipped/expected_color_ramp_horizontal_flipped.png
  tests/testdata/control_images/symbol_layer_utils/expected_color_ramp_no_check/expected_color_ramp_no_check.png
  tests/testdata/control_images/symbol_layer_utils/expected_color_ramp_vertical/expected_color_ramp_vertical.png
  tests/testdata/control_images/symbol_layer_utils/expected_color_ramp_vertical_flipped/expected_color_ramp_vertical_flipped.png
Labels: API

#40482 fix unhandled proj exception from vector tiles
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
  src/core/vectortile/qgsvectortileutils.h
Labels: Bug, Vector tiles, backport release-3_16 BROKEN - YOU MUST DIY!!!

#39584 [Georeferencer] Reproject data points in the desired output projection
  src/app/georeferencer/qgsgcpcanvasitem.cpp
  src/app/georeferencer/qgsgcpcanvasitem.h
  src/app/georeferencer/qgsgcplist.cpp
  src/app/georeferencer/qgsgcplist.h
  src/app/georeferencer/qgsgcplistmodel.cpp
  src/app/georeferencer/qgsgeorefdatapoint.cpp
  src/app/georeferencer/qgsgeorefdatapoint.h
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/georeferencer/qgsgeorefmainwindow.h
  src/app/georeferencer/qgsmapcoordsdialog.cpp
  src/app/georeferencer/qgsmapcoordsdialog.h
  src/ui/georeferencer/qgsmapcoordsdialogbase.ui
Labels: Changelog, Feature, Needs Documentation

#40494 Point cloud classification rendering auto update fix
  src/app/3d/qgspointcloud3dsymbolwidget.cpp
Labels: Point Clouds

#40498 Save ~150ms in project loading times by storing QgsSettings instance
  src/core/qgsproject.cpp
  src/core/qgsproject.h
Labels: Optimization

#40500 OriginalXmlProperties optimization
  src/core/layertree/qgslayertreeutils.cpp
  src/core/qgsproject.cpp
  tests/src/python/test_qgsprojectbadlayers.py
Labels: Optimization

#40508 It's FAR too expensive to construct a QgsSettings object for every symbol node
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  src/app/options/qgsoptions.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40505 Avoid emitting QgsProject::snappingConfigChanged multiple times when reading or clearing projects
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  tests/src/python/test_qgsproject.py
Labels: Optimization

#40513 only display actions for single features in action menu
  src/app/qgisapp.cpp
Labels: backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40501 Fix crasher when the symbol selector panel is open via symbol button widget
  src/gui/qgssymbolbutton.cpp
  src/gui/symbology/qgssymbolselectordialog.cpp
  src/gui/symbology/qgssymbolselectordialog.h
Labels: Bug, backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40521 Fix PG raster after 787181ad
  src/core/qgsgdalutils.cpp
Labels: Bug, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40529 [backport] Fix PG raster after 787181ad
  src/core/qgsgdalutils.cpp
Labels: Backport, Bug, Regression

#40509 Defer resizing columns in snapping widget until the widget is actually visible
  src/app/qgssnappingwidget.cpp
  src/app/qgssnappingwidget.h
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40510 Dramatic speed up to project load when non millimeter symbol sizes are used
  python/core/auto_generated/symbology/qgsarrowsymbollayer.sip.in
  python/core/auto_generated/symbology/qgsellipsesymbollayer.sip.in
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  python/core/auto_generated/symbology/qgsgeometrygeneratorsymbollayer.sip.in
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  python/core/auto_generated/symbology/qgsmasksymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbol.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  python/core/auto_generated/symbology/qgsvectorfieldsymbollayer.sip.in
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/symbology/qgsarrowsymbollayer.cpp
  src/core/symbology/qgsarrowsymbollayer.h
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsellipsesymbollayer.h
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgsgeometrygeneratorsymbollayer.cpp
  src/core/symbology/qgsgeometrygeneratorsymbollayer.h
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/core/symbology/qgsmasksymbollayer.cpp
  src/core/symbology/qgsmasksymbollayer.h
  src/core/symbology/qgssymbol.cpp
  src/core/symbology/qgssymbol.h
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  src/core/symbology/qgsvectorfieldsymbollayer.cpp
  src/core/symbology/qgsvectorfieldsymbollayer.h
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40519 Further optimization of originalXmlProperties
  src/core/layertree/qgslayertreeutils.cpp
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40517 only display actions for single features in action menu
  src/app/qgisapp.cpp
Labels: Backport

#40511 correctly find Qt Linguist
  i18n/CMakeLists.txt
Labels: Squash!

#40292 [BUGFIX] Fix snapping for middle of segment
  src/gui/qgsmaptoolcapture.cpp
  tests/src/app/testqgsmaptooladdfeatureline.cpp
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40535 [3d] Fix missing terrain tiles when zooming close to terrain
  src/3d/chunks/qgschunkedentity_p.cpp
Labels: 3D

#40538 fix 3D animation trembling
  src/app/3d/qgs3dnavigationwidget.cpp
Labels: 3D, Bug, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40543 fix 3D mesh terrain not displayed when opening project
  src/3d/mesh/qgsmeshterraingenerator.cpp
Labels: 3D, Bug, Mesh, Regression, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40542 Micro optimization of DOM loops
  src/core/annotations/qgsannotationmanager.cpp
  src/core/qgslayerdefinition.cpp
  src/core/qgsproject.cpp
  tests/testdata/qgis_server/test_project_wms_filter.gpkg
Labels: Optimization

#40563 [ui][processing] Fix model designer dialog not remember panel state
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
Labels: Bug, GUI/UX, backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40556 [Bugfix] Access control override filter expression instead of combine
  src/server/qgsaccesscontrol.cpp
  tests/src/python/test_qgsserver_accesscontrol.py
  tests/src/python/test_qgsserver_accesscontrol_wfs.py
  tests/testdata/qgis_server_accesscontrol/project_grp.qgs
Labels: Bug, Server, backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40588 Fix raster integer pseudocolor labels
  src/gui/raster/qgscolorrampshaderwidget.cpp
Labels: Bug, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40589 backport #40538
  src/app/3d/qgs3dnavigationwidget.cpp
Labels: 3D, Bug

#40590 backport #40543
  src/3d/mesh/qgsmeshterraingenerator.cpp
  src/3d/mesh/qgsmeshterraingenerator.h
Labels: 3D, Bug, Mesh

#40578 [locator] Fix go to locator failing to parse google maps URLs
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Bug, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40207 [Bugfix] Processing @alg decorator support input help string
  python/processing/algfactory.py
  tests/src/python/test_processing_alg_decorator.py
Labels: Bug, Processing, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40594 Fix crash when removing a layer while Select by Expression dialog in opened
  src/gui/qgsexpressionselectiondialog.cpp
Labels: backport master, backport release-3_10

#40602 fix using deprecated method for settings exclude fields from WMS/WFS
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40603 fix using deprecated method for settings exclude fields from WMS/WFS
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
Labels: Backport

#40604 [backport] Fix raster integer pseudocolor labels
  src/gui/raster/qgscolorrampshaderwidget.cpp
Labels: Backport, Bug

#40611 oracle provider: fix saving of styles
  src/providers/oracle/qgsoracleprovider.cpp
Labels: backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40614 Follow up b5469c933, also close Select by Form dialog when layer is removed
  src/app/qgsselectbyformdialog.cpp
Labels: Crash/Data Corruption, backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40600 [FEATURE][locator] Add delayed fetching of results
  python/core/auto_generated/locator/qgslocatorfilter.sip.in
  src/core/locator/qgslocator.cpp
  src/core/locator/qgslocatorfilter.h
  tests/src/python/test_qgslocator.py
Labels: Feature

#40619 [pdal] fix pthreads on linux + check for pdal >= 2.2
  cmake/FindPDAL.cmake
  src/providers/pdal/CMakeLists.txt
Labels: Point Clouds

#40615 More responsive cancelation of point cloud render jobs
  src/3d/qgspointcloudlayer3drenderer.cpp
  src/3d/qgspointcloudlayer3drenderer.h
  src/3d/qgspointcloudlayerchunkloader_p.cpp
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
  src/core/pointcloud/qgspointcloudattributebyramprenderer.cpp
  src/core/pointcloud/qgspointcloudclassifiedrenderer.cpp
  src/core/pointcloud/qgspointcloudrgbrenderer.cpp
Labels: Point Clouds

#40626 Update untwine to match the current hobu/untwine main branch
  external/untwine/bu/Processor.cpp
  external/untwine/epf/BufferCache.cpp
  external/untwine/epf/BufferCache.hpp
  external/untwine/epf/Cell.cpp
  external/untwine/epf/Cell.hpp
  external/untwine/epf/Epf.cpp
  external/untwine/epf/EpfTypes.hpp
  external/untwine/epf/FileProcessor.cpp
  external/untwine/epf/Reprocessor.cpp
  external/untwine/epf/Writer.cpp
  external/untwine/epf/Writer.hpp
  external/untwine_to_qgis.bash
Labels: Point Clouds

#40633 Faster multiband color renderer in some circumstances
  src/core/raster/qgsmultibandcolorrenderer.cpp
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40574 Fix metadata encoding in PDF exported from Map canvas and Print layout
  src/core/layout/qgslayoutexporter.cpp
  src/core/qgsmaprenderertask.cpp
Labels: backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40658 PG connections API: small optimization in execSql
  src/providers/postgres/qgspostgresproviderconnection.cpp
Labels: Optimization

#40670 fix TIN interpolation #40668
  src/analysis/interpolation/qgstininterpolator.cpp
Labels: Bug, Processing, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40672 [wms] When decoding uri strings, insure local files are mapped to a 'path' key
  src/providers/wms/qgswmsprovider.cpp
  tests/src/providers/testqgswmsprovider.cpp
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40676 backport TIN interpolation fix
  src/analysis/interpolation/qgstininterpolator.cpp
Labels: Bug, Processing

#40631 [GDAL provider] Add missing BILINEAR resampling method in buildPyramids()
  src/core/providers/gdal/qgsgdalprovider.cpp
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40678 Fix impossible to activate draw effects on settings in font buttons
  src/gui/qgstextformatwidget.cpp
  src/gui/vector/qgsdiagramproperties.cpp
Labels: backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40691 fix autofinder
  src/app/qgshandlebadlayers.cpp
  src/app/qgshandlebadlayers.h
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40699 Refresh the attribute table styles when feature modified programmatically
  src/gui/attributetable/qgsattributetablemodel.cpp
  tests/src/python/test_qgsattributetablemodel.py
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40689 Use /TransferBack/ instead of /Factory/ in layout registry factory methods
  python/core/auto_generated/layout/qgslayoutitemregistry.sip.in
  python/gui/auto_generated/layout/qgslayoutitemguiregistry.sip.in
  src/core/layout/qgslayoutitemregistry.h
  src/core/layout/qgslayoutitemundocommand.h
  src/gui/layout/qgslayoutitemguiregistry.h
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40648 Fix #38473, forgetting CRS in a new project
  src/core/qgsproject.cpp
  tests/src/core/testqgsproject.cpp
Labels: backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40632 Fix a crash in 3d views when changing layer properties rapidly
  src/3d/chunks/qgschunknode_p.cpp
Labels: Crash/Data Corruption, backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40488 [bugfix] PTP check for output folder.
  python/plugins/processing/algs/qgis/PointsToPaths.py
Labels: Squash!, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40713 [postgres] Don't quote double values when compiling expressions
  src/providers/postgres/qgspostgresexpressioncompiler.cpp
  tests/src/python/test_provider_postgres.py
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40722 Improve efficiency of load old props
  src/core/symbology/qgssymbollayer.cpp
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40733 [processing] Add a dedicated pan tool for navigating models
  src/gui/CMakeLists.txt
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
  src/gui/processing/models/qgsmodeldesignerdialog.h
  src/gui/processing/models/qgsmodelviewtoolpan.cpp
  src/gui/processing/models/qgsmodelviewtoolpan.h
  src/ui/processing/qgsmodeldesignerdialogbase.ui
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40735 Fix reading non x/y/z/classification attributes from laz files
  src/core/pointcloud/qgseptdecoder.cpp
Labels: Point Clouds

#40726 Connections API: execSql iterator
  python/core/auto_generated/qgsabstractdatabaseproviderconnection.sip.in
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/providers/ogr/qgsgeopackageproviderconnection.h
  src/core/qgsabstractdatabaseproviderconnection.cpp
  src/core/qgsabstractdatabaseproviderconnection.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/mssql/qgsmssqlproviderconnection.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.h
  tests/src/python/test_qgsproviderconnection_base.py
  tests/src/python/test_qgsproviderconnection_mssql.py
  tests/testdata/qgis_server/test_project_wms_grouped_layers.gpkg
Labels: API, PyQGIS

#40741 Translated strings in the add relation dialog
  src/app/qgsrelationadddlg.cpp
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40711 [3d] Add a tiny padding to the vector layer chunk loader root bounding box to avoid points at edge chopped off
  src/3d/qgsvectorlayerchunkloader_p.cpp
Labels: 3D, Bug, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40718 Cache svg paths
  python/core/auto_generated/qgsapplication.sip.in
  src/app/options/qgsoptions.cpp
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
Labels: Optimization

#40738 Optimize QgsProject::readBoolEntry
  src/core/qgsproject.cpp
Labels: Optimization, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40706 Create a GitHub release when there is a tag
  .github/workflows/release.yml
Labels: Infrastructure, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40756 Remove leftover code
  src/core/raster/qgsrasterdataprovider.cpp
Labels: Cleanup

#40755 QgsProperty is not virtual
  python/core/auto_generated/qgsproperty.sip.in
  src/core/qgsproperty.h
Labels: Optimization

#40772 Create a GitHub release when there is a tag
  .github/workflows/release.yml
Labels: Backport, Infrastructure

#40671 [ui] Insure color/value changes in the colormap tree are reflected in the color ramp button of the color ramp shader widget
  python/core/auto_generated/raster/qgscolorrampshader.sip.in
  src/core/raster/qgscolorrampshader.cpp
  src/core/raster/qgscolorrampshader.h
  src/core/raster/qgssinglebandpseudocolorrenderer.cpp
  src/gui/raster/qgscolorrampshaderwidget.cpp
  src/gui/raster/qgscolorrampshaderwidget.h
  tests/src/python/test_qgsrastercolorrampshader.py
Labels: Bug, GUI/UX

#40776 Safety check for expression initialized
  src/core/symbology/qgsgraduatedsymbolrenderer.cpp
Labels: Crash/Data Corruption, backport release-3_10, backport release-3_16 BROKEN - YOU MUST DIY!!!

#40496 [processing] fix loading geometryless tables with PostGISExecuteAndLo…
  src/core/qgsdatasourceuri.cpp
Labels: backport release-3_16 BROKEN - YOU MUST DIY!!!

#40774 Add static Null Crs for default constructed CRS
  src/core/qgscoordinatereferencesystem.cpp
Labels: Optimization

#40749 [expression] Avoid paying the price of a QgsCoordinateReferenceSystem destruction if we didn't need one
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpression_p.h
Labels: Optimization

#40737 Initialize regular expressions once
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/core/geometry/qgsmultipoint.cpp
  src/core/qgsapplication.cpp
  src/core/qgscoordinatereferencesystem.cpp
  src/core/qgsprojutils.cpp
Labels: Optimization

#40785 MetaSearch: update bbox CRS
  python/plugins/MetaSearch/dialogs/maindialog.py
Labels: Metasearch

#40800 Add backported label after a successful backport
  .github/label-backported.yml
  .github/workflows/backport.yml
Labels: backport release-3_16

#40804 Add backported label when a PR was successfully backported
  .github/label-backported.yml
  .github/workflows/backport.yml
Labels: backport release-3_10, backport release-3_16
