Repository qgis/QGIS, pull requests merged in 2020-07, with the labels that each got.

#37456 Gamma correction filter for raster layers
  images/images.qrc
  images/themes/default/mActionDecreaseGamma.svg
  images/themes/default/mActionIncreaseGamma.svg
  python/core/auto_generated/raster/qgsbrightnesscontrastfilter.sip.in
  python/core/auto_generated/raster/qgsrasterpipe.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/raster/qgsbrightnesscontrastfilter.cpp
  src/core/raster/qgsbrightnesscontrastfilter.h
  src/core/raster/qgsrasterpipe.h
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/raster/qgsrendererrasterpropertieswidget.cpp
  src/gui/raster/qgsrendererrasterpropertieswidget.h
  src/ui/qgisapp.ui
  src/ui/qgsrasterlayerpropertiesbase.ui
  src/ui/qgsrendererrasterpropswidgetbase.ui
  tests/code_layout/acceptable_missing_doc.py
  tests/src/python/test_qgsrasterlayer.py
  tests/testdata/control_images/expected_raster_brightness20/expected_raster_brightness20.png
  tests/testdata/control_images/expected_raster_brightness50/expected_raster_brightness50.png
  tests/testdata/control_images/expected_raster_contrast100/expected_raster_contrast100.png
  tests/testdata/control_images/expected_raster_contrast30/expected_raster_contrast30.png
  tests/testdata/control_images/expected_raster_gamma022/expected_raster_gamma022.png
  tests/testdata/control_images/expected_raster_gamma222/expected_raster_gamma222.png
Labels: Feature, Needs Documentation, Raster

#35745 Random points in polygons C++ algorithm
  images/images.qrc
  images/themes/default/algorithms/mAlgorithmRandomPointsInPolygons.svg
  python/plugins/processing/gui/menus.py
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons.gml
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons.xsd
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons_gmin2.gml
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons_gmin2.xsd
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons_min2.gml
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons_min2.xsd
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons_min2_gmin2.gml
  python/plugins/processing/tests/testdata/expected/randompointsinpolygons_min2_gmin2.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmrandompointsinpolygons.cpp
  src/analysis/processing/qgsalgorithmrandompointsinpolygons.h
  src/analysis/processing/qgsnativealgorithms.cpp
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  src/core/geometry/qgsinternalgeometryengine.cpp
  src/core/geometry/qgsinternalgeometryengine.h
Labels: Feature, Processing

#37526 Immediately liberate connection of expression value gatherer
  src/core/qgsfeatureexpressionvaluesgatherer.h
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_14

#37523 Browser: fix GPKG sublayers and empty DBs
  src/core/providers/ogr/qgsogrdataitems.cpp
Labels: Bug, QGIS Browser, backport release-3_14

#37516 Fix OTB icon which is not render into QGIS Processing
  images/images.qrc
  images/themes/default/providerOtb.svg
Labels: backport release-3_10, backport release-3_14

#37520 Fix unreported sslmode storage from connections API
  src/core/qgsdatasourceuri.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: Bug, backport release-3_10, backport release-3_14

#37533 [backport-3_10] Immediately liberate connection of expression value gatherer
  src/core/qgsfeaturefiltermodel_p.h
Labels: Backport, Crash/Data Corruption

#37537 Fix QgsGeometry::asQPolygonF doesn't handle multipolygon inputs gracefully
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  tests/src/core/testqgsgeometry.cpp
Labels: backport release-3_14

#37552 fix PyQGIS docs for QgsProviderMetadata
  python/core/additions/providermetadata.py
Labels: backport release-3_10, backport release-3_14

#37553 [dox] fix code formatting
  python/core/auto_generated/qgsactionscoperegistry.sip.in
  src/core/qgsactionscoperegistry.h
Labels: backport release-3_10, backport release-3_14

#37576 Fix crash in QgsWmsProvider::htmlMetadata if layer is invalid
  src/providers/wms/qgswmsprovider.cpp
Labels: backport release-3_10, backport release-3_14

#37578 Expose option to offset simple line dash patterns by a preset amount
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_simpleline.ui
  tests/src/python/test_qgssimplelinesymbollayer.py
  tests/testdata/control_images/symbol_simpleline/expected_simpleline_dashpattern_offset/expected_simpleline_dashpattern_offset.png
  tests/testdata/control_images/symbol_simpleline/expected_simpleline_dashpattern_offset_custom/expected_simpleline_dashpattern_offset_custom.png
  tests/testdata/control_images/symbol_simpleline/expected_simpleline_dashpattern_offset_negative/expected_simpleline_dashpattern_offset_negative.png
Labels: Feature, Symbology

#37549 Add automatic clipping settings for atlas maps
  python/core/auto_generated/layout/qgslayoutitemmap.sip.in
  python/core/auto_generated/qgsmaplayermodel.sip.in
  src/core/layout/qgslayoutitemmap.cpp
  src/core/layout/qgslayoutitemmap.h
  src/core/qgsmaplayermodel.cpp
  src/core/qgsmaplayermodel.h
  src/gui/layout/qgslayoutmapwidget.cpp
  src/gui/layout/qgslayoutmapwidget.h
  src/ui/layout/qgslayoutmapclippingwidgetbase.ui
  src/ui/layout/qgslayoutmapwidgetbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgslayoutatlas.py
  tests/src/python/test_qgslayoutatlasclippingsettings.py
  tests/testdata/control_images/atlas/expected_atlas_clipping1/expected_atlas_clipping1.png
  tests/testdata/control_images/atlas/expected_atlas_clipping2/expected_atlas_clipping2.png
Labels: Feature, Print Layouts

#37579 Fix batch panel uses layer ids when auto populating output names based on a layer parameter
  python/plugins/processing/gui/BatchOutputSelectionPanel.py
  python/plugins/processing/gui/BatchPanel.py
Labels: Bug, Processing, backport release-3_14

#37367 Quoting floating point values on PostgreSQL provider.
  src/providers/postgres/qgspostgresconn.cpp
  tests/src/providers/testqgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg_bigint_pk.sql
Labels: backport release-3_14

#37606 Fix crash on startup in certain circumstances
  src/app/qgisapp.cpp
Labels: backport release-3_10, backport release-3_14

#37608 A multilayer input is allowed to be set to a model input feature source parameter
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Bug, Processing, backport release-3_14

#37609 Use correct layer comparators when comparing layer sources in processing
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  src/core/processing/qgsprocessingparameters.h
  src/core/qgsapplication.cpp
Labels: Bug, Processing, backport release-3_14

#37600 Add safety check for layer pointer
  src/app/qgsmaptooltrimextendfeature.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_14

#37570 Fix attributes on copy paste while QGIS stays responsive
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsfixattributedialog.cpp
  src/app/qgsfixattributedialog.h
Labels: backport release-3_14

#36967 QgsFeature default constructor set fid to invalid
  python/core/auto_generated/qgsfeature.sip.in
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/qgsfeature.h
  src/core/qgsjsonutils.cpp
  src/gui/qgsmaptooldigitizefeature.cpp
  tests/src/core/testqgscompositionconverter.cpp
  tests/src/core/testqgsfeature.cpp
  tests/src/core/testqgsjsonutils.cpp
  tests/src/python/test_qgsfeature.py
  tests/src/python/test_qgsjsonutils.py
  tests/testdata/control_images/compositionconverter/expected_importComposerAtlas_0/expected_importComposerAtlas_0.png
  tests/testdata/control_images/compositionconverter/expected_importComposerAtlas_0/expected_importComposerAtlas_0_mask.png
Labels: Bug

#37631 QgsFields: make icon for type static
  python/core/auto_generated/qgsfields.sip.in
  src/core/qgsfields.cpp
  src/core/qgsfields.h
Labels: API

#37539 re-allow circular dependencies
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
Labels: backport release-3_14

#37518 disable feature picker when no feature is available in expression preview widget
  src/gui/qgsexpressionpreviewwidget.cpp
  src/gui/qgsfeaturepickerwidget.cpp
Labels: backport release-3_14

#37642 Show python code sample in PyQGIS doc, take 2
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/core/qgsvectorlayer.h
Labels: backport release-3_10, backport release-3_14

#37640 fix adding relation with multiple field pairs from dialog
  src/app/qgsrelationadddlg.cpp
  src/app/qgsrelationmanagerdialog.cpp
Labels: Squash!, backport release-3_10, backport release-3_14

#37628 DB Connections API: add fields method -> column info
  python/core/auto_generated/qgsabstractdatabaseproviderconnection.sip.in
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/qgsabstractdatabaseproviderconnection.cpp
  src/core/qgsabstractdatabaseproviderconnection.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_mssql.py
  tests/src/python/test_qgsproviderconnection_ogr_gpkg.py
  tests/src/python/test_qgsproviderconnection_postgres.py
  tests/src/python/test_qgsproviderconnection_spatialite.py
Labels: API

#37137 fixes invalid relation in search form
  src/gui/editorwidgets/qgsrelationreferencesearchwidgetwrapper.cpp
Labels: backport release-3_14

#37664 Collect features algorithm doesn't care about geometry validity
  src/analysis/processing/qgsalgorithmdissolve.cpp
  src/analysis/processing/qgsalgorithmdissolve.h
Labels: backport release-3_14

#37667 Fix QgsVectorFileWriter python issue (leak & functional)
  python/core/auto_generated/qgsvectorfilewriter.sip.in
  src/core/qgsvectorfilewriter.h
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Bug, PyQGIS, backport release-3_10, backport release-3_14

#37681 qgis_process is no windows gui app (fixes #37465)
  src/process/CMakeLists.txt
Labels: backport release-3_14

#37690 Fix some warnings on msvc while building qgis_process tool
  src/process/qgsprocess.cpp
  src/process/qgsprocess.h
Labels: backport release-3_14

#37671 Rescale raster algorithm for Processing
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmrescaleraster.cpp
  src/analysis/processing/qgsalgorithmrescaleraster.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature, Needs Documentation, Processing

#37697 when adding new field apply precision only when field type supports it
  src/gui/qgsaddattrdialog.cpp
Labels: Bug, backport release-3_14

#37584 [themes] Also provide checkbox styling for list view widgets
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_10, backport release-3_14

#37713 [sipify] format section/subsection to RST
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/core/auto_generated/qgsvectorlayer.sip.in
  scripts/sipify.pl
Labels: backport release-3_10, backport release-3_14

#37694 Don't require all parameter values to be specified via qgis_process command line tool
  src/process/qgsprocess.cpp
  tests/src/python/test_qgsprocessexecutable.py
Labels: Bug, Processing, backport release-3_14

#37693 When creating geometry collections for GEOS, skip any empty parts
  src/core/geometry/qgsgeos.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_14

#37691 Fix crash when smoothing feature with a curved geometry type
  src/core/geometry/qgsgeometry.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_14

#37607 Fix missing fields when running algorithm in place mode
  python/gui/auto_generated/processing/qgsprocessingwidgetwrapper.sip.in
  python/plugins/processing/gui/AlgorithmDialog.py
  python/plugins/processing/gui/ParametersPanel.py
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
  src/gui/processing/qgsprocessingwidgetwrapper.h
  tests/src/gui/testprocessinggui.cpp
Labels: Bug, Processing, backport release-3_14

#36981 [Feature] texturing support for vector layer
  python/3d/auto_generated/qgsphongmaterialsettings.sip.in
  python/3d/auto_generated/symbols/qgspolygon3dsymbol.sip.in
  python/core/auto_generated/qgstessellator.sip.in
  src/3d/qgsphongmaterialsettings.cpp
  src/3d/qgsphongmaterialsettings.h
  src/3d/qgstessellatedpolygongeometry.cpp
  src/3d/qgstessellatedpolygongeometry.h
  src/3d/symbols/qgsline3dsymbol_p.cpp
  src/3d/symbols/qgsmesh3dsymbol_p.cpp
  src/3d/symbols/qgspolygon3dsymbol.cpp
  src/3d/symbols/qgspolygon3dsymbol.h
  src/3d/symbols/qgspolygon3dsymbol_p.cpp
  src/app/3d/qgs3dmaptoolmeasureline.cpp
  src/app/3d/qgsphongmaterialwidget.cpp
  src/app/3d/qgsphongmaterialwidget.h
  src/app/3d/qgspolygon3dsymbolwidget.cpp
  src/core/qgstessellator.cpp
  src/core/qgstessellator.h
  src/ui/3d/phongmaterialwidget.ui
  src/ui/3d/polygon3dsymbolwidget.ui
  tests/src/3d/testqgstessellator.cpp
Labels: 3D, Feature

#37622 Fixes OGC API Features certification
  resources/server/api/ogc/schema.json
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
Labels: Bug, Server

#37654 Use string representation for Color functions example output
  resources/function_help/json/color_cmyk
  resources/function_help/json/color_cmyka
  resources/function_help/json/color_grayscale_average
  resources/function_help/json/color_hsl
  resources/function_help/json/color_hsla
  resources/function_help/json/color_hsv
  resources/function_help/json/color_hsva
  resources/function_help/json/color_mix_rgb
  resources/function_help/json/color_rgb
  resources/function_help/json/color_rgba
  resources/function_help/json/create_ramp
  resources/function_help/json/project_color
  resources/function_help/json/set_color_part
Labels: Squash!

#37730 Fix mask settings obliterate data defined text orientation settings
  src/core/labeling/qgspallabeling.h
Labels: Bug, Labeling, backport release-3_14

#37728 [backport] When creating geometry collections for GEOS, skip any empty parts
  src/core/geometry/qgsgeos.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Backport, Bug, Crash/Data Corruption

#37732 [backport] Fix crash when smoothing feature with a curved geometry type
  src/core/geometry/qgsgeometry.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Backport

#37475 Reload the data source when a dependency layer is changed
  python/core/auto_generated/qgsvectorlayer.sip.in
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/gui/qgsrelationeditorwidget.cpp
Labels: backport release-3_10, backport release-3_14

#37731 Fix crash when using expression editor in aggregate algorithm
  src/gui/processing/qgsprocessingaggregatewidgets.cpp
  src/gui/qgsfieldmappingmodel.cpp
  src/gui/qgsfieldmappingmodel.h
Labels: Crash/Data Corruption, Processing, backport release-3_14

#37745 fix formula in the brightnesscontrast filter for rasters with opacity (fix #37742)
  src/core/raster/qgsbrightnesscontrastfilter.cpp
Labels: Bug, Raster

#37744 Add safety check
  src/core/qgsvectorlayerjoininfo.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_14

#37765 Fix freeze when auto-finding broken layers
  src/app/qgshandlebadlayers.cpp
Labels: Bug, backport release-3_10, backport release-3_14

#37764 [python console] Match key up / down behavior to that of bash and allow for a 'soft' history to be editable
  python/console/console_sci.py
Labels: backport release-3_14

#37760 Browser expose fields
  python/core/auto_generated/qgsabstractdatabaseproviderconnection.sip.in
  python/core/auto_generated/qgsdataitem.sip.in
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/app/browser/qgsinbuiltdataitemproviders.h
  src/app/qgisapp.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.h
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/providers/ogr/qgsogrdataitems.cpp
  src/core/providers/ogr/qgsogrdataitems.h
  src/core/qgsabstractdatabaseproviderconnection.cpp
  src/core/qgsabstractdatabaseproviderconnection.h
  src/core/qgsbrowserproxymodel.cpp
  src/core/qgsdataitem.cpp
  src/core/qgsdataitem.h
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqldataitems.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/postgres/qgspostgresdataitems.cpp
  src/providers/postgres/qgspostgresdataitems.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.h
  tests/src/python/test_qgsproviderconnection_base.py
Labels: Changelog, Feature, QGIS Browser

#37780 Swap display_expression parameters order
  resources/function_help/json/display_expression
  resources/function_help/json/maptip
Labels: Documentation

#37812 Fix crash when trying to initialize snapping on invalid layer
  src/core/qgspointlocator.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_14

#37788 Add a Qgs3D singleton object, designed to collect other singleton-ish objects in a central place
  python/3d/3d_auto.sip
  python/3d/auto_generated/qgs3d.sip.in
  src/3d/CMakeLists.txt
  src/3d/qgs3d.cpp
  src/3d/qgs3d.h
Labels: API

#37756 Add option to show light source origins
  python/3d/auto_generated/qgs3dmapsettings.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgs3dmapsettings.cpp
  src/3d/qgs3dmapsettings.h
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/ui/3d/map3dconfigwidget.ui
Labels: 3D, Changelog, Feature

#37813 Move the "Discourage diagrams from covering features" setting
  src/ui/qgsdiagrampropertiesbase.ui
Labels: Needs Documentation

#37807 Fix returning topological candidates when using deprecated QgsGeometry::splitGeometry
  src/core/geometry/qgsgeometry.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: backport release-3_10, backport release-3_14

#37826 allow to customize convertToCurves parameters for tracing curves
  src/gui/qgsmaptoolcapture.cpp
  tests/src/app/testqgsmaptooladdfeatureline.cpp
Labels: backport release-3_14

#37769 Cache snapping results in feature dialog for subsequent recalculation
  python/gui/auto_generated/qgsattributedialog.sip.in
  python/gui/auto_generated/qgsattributeform.sip.in
  src/app/qgsfeatureaction.cpp
  src/gui/qgsattributedialog.cpp
  src/gui/qgsattributedialog.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
Labels: backport release-3_14

#37839 update mdal 0.6.2
  external/mdal/frmts/mdal_selafin.cpp
  external/mdal/frmts/mdal_selafin.hpp
  external/mdal/mdal.cpp
Labels: Backport

#37619 Manage Postgres parallel plans when estimating row count
  src/providers/postgres/qgspostgresprovider.cpp
Labels: backport release-3_10, backport release-3_14

#37869 createUserProfile: ensure qgis.db file is user writable
  src/core/qgsuserprofilemanager.cpp
Labels: backport release-3_10, backport release-3_14

#37884 qgis_process: fix missing line feeds and a typo in qgsprocess.cpp
  src/process/qgsprocess.cpp
Labels: backport release-3_14

#37888 Fix flexible aspect ratio is ignored when rendering marker svg symbols
  src/core/symbology/qgssvgcache.cpp
  tests/src/core/testqgssvgcache.cpp
  tests/testdata/control_images/expected_svgcache_aspect_ratio/expected_svgcache_aspect_ratio.png
  tests/testdata/control_images/expected_svgcache_aspect_ratio/expected_svgcache_aspect_ratio_mask.png
Labels: Bug, backport release-3_10, backport release-3_14

#37895 [vector file writer] LIBKML driver also requires coordinates to be in wgs84
  src/core/qgsvectorfilewriter.cpp
Labels: Bug, backport release-3_10, backport release-3_14

#37907 Fix ellipse symbol layer doesn't reflect feature selection state
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsellipsesymbollayer.h
  tests/src/core/testqgsellipsemarker.cpp
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_selected/expected_ellipsemarker_selected.png
Labels: Bug, Symbology, backport release-3_10, backport release-3_14

#37911 Remove restrictive length limitations on created fields
  src/analysis/processing/qgsalgorithmmergevector.cpp
Labels: Processing, backport release-3_10, backport release-3_14

#37933 Don't report legend filter by expression as enabled if the expression is empty
  src/core/layertree/qgslayertreeutils.cpp
  src/gui/qgslegendfilterbutton.cpp
Labels: backport release-3_14

#37916 Multi identify for mesh layer
  src/app/qgsidentifyresultsdialog.cpp
  src/gui/qgsmaptoolidentify.cpp
  tests/src/app/testqgsmaptoolidentifyaction.cpp
Labels: Changelog, Feature, Mesh

#37605 Virtual dataset groups for mesh layer
  CMakeLists.txt
  external/mdal/api/mdal.h
  external/mdal/mdal.cpp
  external/mdal/mdal_datetime.cpp
  external/mdal/mdal_datetime.hpp
  python/analysis/analysis_auto.sip
  python/core/auto_generated/mesh/qgsmeshcalculator.sip.in
  python/core/auto_generated/mesh/qgsmeshdataset.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/core/core_auto.sip
  src/analysis/CMakeLists.txt
  src/app/mesh/qgsmeshcalculatordialog.cpp
  src/app/mesh/qgsmeshcalculatordialog.h
  src/app/mesh/qgsmeshdatasetgrouptreeview.cpp
  src/app/mesh/qgsmeshdatasetgrouptreeview.h
  src/app/mesh/qgsmeshdatasetgrouptreewidget.cpp
  src/app/mesh/qgsmeshstaticdatasetwidget.h
  src/app/qgisapp.cpp
  src/core/CMakeLists.txt
  src/core/mesh/qgsmeshcalclexer.ll
  src/core/mesh/qgsmeshcalcnode.cpp
  src/core/mesh/qgsmeshcalcnode.h
  src/core/mesh/qgsmeshcalcparser.yy
  src/core/mesh/qgsmeshcalculator.cpp
  src/core/mesh/qgsmeshcalculator.h
  src/core/mesh/qgsmeshcalcutils.cpp
  src/core/mesh/qgsmeshcalcutils.h
  src/core/mesh/qgsmeshdataset.cpp
  src/core/mesh/qgsmeshdataset.h
  src/core/mesh/qgsmeshdatasetgroupstore.cpp
  src/core/mesh/qgsmeshdatasetgroupstore.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgsmeshvirtualdatasetgroup.cpp
  src/core/mesh/qgsmeshvirtualdatasetgroup.h
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.cpp
  src/core/qgsapplication.cpp
  src/providers/mdal/qgsmdalprovider.cpp
  src/ui/mesh/qgsmeshcalculatordialogbase.ui
  src/ui/mesh/qgsmeshdatasetgrouptreewidgetbase.ui
  src/ui/mesh/qgsmeshlayerpropertiesbase.ui
  tests/src/analysis/testqgsmeshcalculator.cpp
Labels: Changelog, Feature, Mesh

#37936 [decorations] Fix scale bar color not applied to division ticks
  src/app/decorations/qgsdecorationscalebar.cpp
Labels: Bug, backport release-3_14

#37930 Fix QgsFieldExpressionWidget generates an invalid expression when a field name has a space and the expression button is clicked
  src/gui/qgsfieldexpressionwidget.cpp
Labels: backport release-3_14

#37929 Fix expression previews in Refactor Fields and Aggregate algorithms
  python/gui/auto_generated/processing/qgsprocessingaggregatewidgets.sip.in
  python/gui/auto_generated/qgsfieldmappingwidget.sip.in
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/gui/processing/qgsprocessingaggregatewidgets.cpp
  src/gui/processing/qgsprocessingaggregatewidgets.h
  src/gui/processing/qgsprocessingaggregatewidgetwrapper.cpp
  src/gui/processing/qgsprocessingfieldmapwidgetwrapper.cpp
  src/gui/qgsfieldmappingmodel.cpp
  src/gui/qgsfieldmappingmodel.h
  src/gui/qgsfieldmappingwidget.cpp
  src/gui/qgsfieldmappingwidget.h
  tests/src/core/testqgsexpression.cpp
Labels: Processing, backport release-3_14

#37776 Abstract out material settings
  python/3d/3d_auto.sip
  python/3d/auto_generated/qgsabstractmaterialsettings.sip.in
  python/3d/auto_generated/qgsphongmaterialsettings.sip.in
  python/3d/auto_generated/symbols/qgsline3dsymbol.sip.in
  python/3d/auto_generated/symbols/qgspoint3dsymbol.sip.in
  python/3d/auto_generated/symbols/qgspolygon3dsymbol.sip.in
  python/core/auto_generated/3d/qgsabstract3dsymbol.sip.in
  src/3d/CMakeLists.txt
  src/3d/mesh/qgsmesh3dentity_p.cpp
  src/3d/mesh/qgsmesh3dentity_p.h
  src/3d/mesh/qgsmesh3dgeometry_p.cpp
  src/3d/mesh/qgsmesh3dgeometry_p.h
  src/3d/mesh/qgsmesh3dmaterial_p.cpp
  src/3d/mesh/qgsmesh3dmaterial_p.h
  src/3d/mesh/qgsmeshterraingenerator.cpp
  src/3d/mesh/qgsmeshterraingenerator.h
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapsettings.cpp
  src/3d/qgsabstractmaterialsettings.h
  src/3d/qgsmeshlayer3drenderer.cpp
  src/3d/qgsphongmaterialsettings.cpp
  src/3d/qgsphongmaterialsettings.h
  src/3d/symbols/qgsline3dsymbol.cpp
  src/3d/symbols/qgsline3dsymbol.h
  src/3d/symbols/qgsline3dsymbol_p.cpp
  src/3d/symbols/qgsmesh3dsymbol.cpp
  src/3d/symbols/qgsmesh3dsymbol.h
  src/3d/symbols/qgsmesh3dsymbol_p.cpp
  src/3d/symbols/qgsmesh3dsymbol_p.h
  src/3d/symbols/qgspoint3dsymbol.cpp
  src/3d/symbols/qgspoint3dsymbol.h
  src/3d/symbols/qgspoint3dsymbol_p.cpp
  src/3d/symbols/qgspolygon3dsymbol.cpp
  src/3d/symbols/qgspolygon3dsymbol.h
  src/3d/symbols/qgspolygon3dsymbol_p.cpp
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/app/3d/qgs3dmaptoolmeasureline.cpp
  src/app/3d/qgsline3dsymbolwidget.cpp
  src/app/3d/qgsline3dsymbolwidget.h
  src/app/3d/qgsmesh3dsymbolwidget.cpp
  src/app/3d/qgsmesh3dsymbolwidget.h
  src/app/3d/qgsmeshlayer3drendererwidget.cpp
  src/app/3d/qgspoint3dsymbolwidget.cpp
  src/app/3d/qgspolygon3dsymbolwidget.cpp
  src/app/3d/qgsrulebased3drendererwidget.cpp
  src/app/3d/qgssymbol3dwidget.cpp
  src/app/3d/qgssymbol3dwidget.h
  src/app/3d/qgsvectorlayer3drendererwidget.cpp
  src/app/3d/qgsvectorlayer3drendererwidget.h
  src/core/3d/qgsabstract3dsymbol.cpp
  src/core/3d/qgsabstract3dsymbol.h
  tests/src/3d/testqgs3drendering.cpp
Labels: 3D, API

#37941 [processing] Fix python error when attempting to re-open generate XYZ tiles algorithm from the history dialog
  python/plugins/processing/gui/HistoryDialog.py
Labels: Bug, Processing, backport release-3_14

#37932 Show related (child) features in identify results tree
  src/app/qgsidentifyresultsdialog.cpp
  src/app/qgsidentifyresultsdialog.h
Labels: Changelog, Feature

#37963 Don't modify text format paint effects in place
  python/core/auto_generated/textrenderer/qgstextbackgroundsettings.sip.in
  python/core/auto_generated/textrenderer/qgstextbuffersettings.sip.in
  src/core/textrenderer/qgstextbackgroundsettings.cpp
  src/core/textrenderer/qgstextbackgroundsettings.h
  src/core/textrenderer/qgstextbuffersettings.cpp
  src/core/textrenderer/qgstextbuffersettings.h
  src/core/textrenderer/qgstextrenderer.cpp
Labels: Crash/Data Corruption, backport release-3_10, backport release-3_14

#37969 Don't modify text format paint effects in place
  python/core/auto_generated/qgstextrenderer.sip.in
  src/core/qgstextrenderer.cpp
  src/core/qgstextrenderer.h
Labels: Backport, Crash/Data Corruption

#37970 Don't modify text format paint effects in place
  python/core/auto_generated/textrenderer/qgstextbackgroundsettings.sip.in
  python/core/auto_generated/textrenderer/qgstextbuffersettings.sip.in
  src/core/textrenderer/qgstextbackgroundsettings.cpp
  src/core/textrenderer/qgstextbackgroundsettings.h
  src/core/textrenderer/qgstextbuffersettings.cpp
  src/core/textrenderer/qgstextbuffersettings.h
  src/core/textrenderer/qgstextrenderer.cpp
Labels: Backport, Crash/Data Corruption

#37972 Fix loading batch settings with date/time values
  python/plugins/processing/gui/BatchPanel.py
  python/plugins/processing/gui/HistoryDialog.py
Labels: Processing, backport release-3_14

#37973 Misc layout table editor fixes and related text formatting widget fixes
  python/gui/auto_generated/qgsfontbutton.sip.in
  python/gui/auto_generated/qgstextformatwidget.sip.in
  python/gui/auto_generated/tableeditor/qgstableeditordialog.sip.in
  src/core/labeling/qgspallabeling.cpp
  src/gui/qgsfontbutton.cpp
  src/gui/qgsfontbutton.h
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
  src/gui/tableeditor/qgstableeditordialog.cpp
  src/gui/tableeditor/qgstableeditordialog.h
  src/gui/tableeditor/qgstableeditorwidget.cpp
  src/ui/qgstextformatwidgetbase.ui
Labels: backport release-3_14

#37996 [delimitedtext] Don't use an out of range index while reading string buffer (fixes a Qt warning)
  src/providers/delimitedtext/qgsdelimitedtextfile.cpp
Labels: backport release-3_10, backport release-3_14

#38002 WFS server: use exact intersection if there is a bbox parameter
  src/server/services/wfs/qgswfsgetfeature.cpp
Labels: Server, backport release-3_10, backport release-3_14

#38034 PG style storage: replace forbidden XML unicode chars
  src/core/qgsdatasourceuri.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  tests/src/python/test_provider_postgres.py
  tests/testdata/symbol_layer/fontSymbol.qml
Labels: Bug, backport release-3_10, backport release-3_14

#38045 Show some more warnings when spatial indexes are missing but desirable
  python/plugins/processing/algs/qgis/SpatialJoinSummary.py
  src/analysis/processing/qgsalgorithmclip.cpp
  src/analysis/processing/qgsalgorithmextractbyextent.cpp
Labels: Processing, backport release-3_14

#38049 allow to copy all line measurements at once (fix #20498)
  src/app/qgsmeasuredialog.cpp
  src/app/qgsmeasuredialog.h
Labels: GUI/UX, Needs Documentation

#38048 show line numbers in the query are of the virtual layer dialog (fix #23185)
  src/providers/virtual/qgsvirtuallayersourceselect.cpp
Labels: GUI/UX

#38043 [3d] Fix polygon edge lines are rendered vertically offset from polygons
  src/3d/symbols/qgspolygon3dsymbol_p.cpp
  tests/src/3d/testqgs3drendering.cpp
  tests/testdata/control_images/3d/expected_polygon_edges_height/default/expected_polygon_edges_height.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/travis/expected_polygon_edges_height.png
Labels: backport release-3_14

#38058 Fix destination layer name ignored in Load Layer into Project algorithm
  python/core/auto_generated/processing/qgsprocessingcontext.sip.in
  src/analysis/processing/qgsalgorithmloadlayer.cpp
  src/core/processing/qgsprocessingcontext.cpp
  src/core/processing/qgsprocessingcontext.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, backport release-3_14

#38057 Fix hidden column names show in batch processing dialog
  python/plugins/processing/gui/BatchPanel.py
Labels: Processing, backport release-3_14

#38072 Remove extra bracket from stdev statistic option in Zonal Statistics GUI
  src/analysis/vector/qgszonalstatistics.cpp
Labels: backport release-3_14
