Repository qgis/QGIS, pull requests merged in 2020-04, with the labels that each got.

#35490 Uncheck save in project cb when pg < 9.5
  src/providers/postgres/qgspgnewconnection.cpp
Labels: backport release-3_10, backport release-3_12

#35495 [layouts] Fix crash when re-opening fixed table item's editor
  src/gui/layout/qgslayoutmanualtablewidget.cpp
Labels: Backport, Bug, Print Layouts

#35148 Enable loading wms category/collection layers in the layers panel.
  src/providers/wms/qgswmsdataitems.cpp
  src/providers/wms/qgswmsdataitems.h
Labels: backport release-3_12

#35488 Spatialite provider transactions
  src/core/qgsconnectionpool.h
  src/core/qgsspatialiteutils.cpp
  src/providers/spatialite/CMakeLists.txt
  src/providers/spatialite/qgsspatialiteconnection.h
  src/providers/spatialite/qgsspatialitefeatureiterator.cpp
  src/providers/spatialite/qgsspatialitefeatureiterator.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  src/providers/spatialite/qgsspatialitetransaction.cpp
  src/providers/spatialite/qgsspatialitetransaction.h
  tests/src/python/test_provider_spatialite.py
Labels: Data Provider, Feature

#35499 Set a better size adjustment policy for our map layer combo box widget
  src/gui/qgsmaplayercombobox.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35448 Save legend expression
  src/core/layertree/qgslayertreelayer.cpp
Labels: backport release-3_10, backport release-3_12

#35503 Add unit test on ogcapif type
  tests/src/server/testqgsserverquerystringparameter.cpp
Labels: Server

#35387 Fixes double type in ogcapif api document
  src/server/qgsserverquerystringparameter.cpp
  tests/src/server/testqgsserverquerystringparameter.cpp
Labels: Backport, Bug, Server

#35517 Don't raise ballpark transform warnings when reprojecting layer extent for rendering
  src/core/qgsmaprendererjob.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35518 Show a menu next to scale widget buttons, to allow setting the widget directly to a scale from a print layout map
  src/gui/qgsscalewidget.cpp
  src/gui/qgsscalewidget.h
Labels: Feature

#35414 FIX #19903 Greatly improve font selection UX
  src/ui/labeling/qgslabelpropertydialogbase.ui
  src/ui/qgseditconditionalformatrulewidget.ui
  src/ui/qgsoptionsbase.ui
  src/ui/qgstextformatwidgetbase.ui
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35535 Flag another transform as ballpark appropriate
  src/core/qgsmapsettings.cpp
Labels: backport release-3_10, backport release-3_12

#34758 [Backport 3.10] Fix relation reference constraint when identifying a feature
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: Backport, Bug

#35547 [virtual] Fix creation of "_search_frame_" column (fixes #31356)
  src/providers/virtual/qgsvirtuallayersqlitemodule.cpp
Labels: Bug, Needs Backporting

#35536 Fix proj search paths are incorrectly set and missing the local profile proj folder
  src/core/qgstaskmanager.cpp
  src/core/qgstaskmanager.h
Labels: Bug, backport release-3_10, backport release-3_12

#35432 [Bugfix] Fix table sorting
  src/core/layout/qgslayoutitemattributetable.cpp
  tests/src/core/testqgslayouttable.cpp
Labels: Bug, Print Layouts, backport release-3_10, backport release-3_12

#35575 Fix simple and ellipse marker bound calculation ignores stroke width
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_bounds/expected_ellipsemarker_bounds.png
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_bounds/expected_ellipsemarker_bounds_mask.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_bounds/expected_simplemarker_bounds.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_bounds/expected_simplemarker_bounds_mask.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_boundsoffset/expected_simplemarker_boundsoffset.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_boundsoffset/expected_simplemarker_boundsoffset_mask.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_boundsrotation/expected_simplemarker_boundsrotation.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_boundsrotation/expected_simplemarker_boundsrotation_mask.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_boundsrotationoffset/expected_simplemarker_boundsrotationoffset.png
  tests/testdata/control_images/symbol_simplemarker/expected_simplemarker_boundsrotationoffset/expected_simplemarker_boundsrotationoffset_mask.png
Labels: Bug, backport release-3_10, backport release-3_12

#35407 MacOS CI
  .github/workflows/macos-build.yml
  CMakeLists.txt
  cmake/Bison.cmake
  cmake/FindEXIV2.cmake
  cmake/FindGDAL.cmake
  cmake/FindGEOS.cmake
  cmake/FindGRASS.cmake
  cmake/FindGSL.cmake
  cmake/FindLibZip.cmake
  cmake/FindLibtasn1.cmake
  cmake/FindMDAL.cmake
  cmake/FindOSGEARTH.cmake
  cmake/FindPythonLibrary.cmake
  cmake/FindQCA.cmake
  cmake/FindQScintilla.cmake
  cmake/FindQtKeychain.cmake
  cmake/FindSqlite3.cmake
  cmake/Flex.cmake
  cmake/PyQtMacros.cmake
  external/mdal/cmake/FindNetCDF.cmake
  mac/CMakeLists.txt
  mac/readme.txt
Labels: Infrastructure, MacOS, Squash!, backport release-3_10, backport release-3_12

#35351 [ui] Display info in Options window if QGIS is compiled without OpenCL
  src/app/qgisapp.cpp
  src/app/qgsoptions.cpp
  src/ui/qgsoptionsbase.ui
Labels: backport release-3_10, backport release-3_12

#35613 [vector] Fix bogus assert when adding polygons with topological edit toggled on
  src/app/qgsmaptooladdfeature.cpp
Labels: Bug, Digitizing, backport release-3_10, backport release-3_12

#35615 [ui] Disable advanced config toolbar button when snapping disabled
  src/app/qgssnappingwidget.cpp
Labels: Bug, GUI/UX, backport release-3_10, backport release-3_12

#35611 [ui] Set a sensible minimum height to saved symbol list widget
  src/gui/qgsstyleitemslistwidget.cpp
Labels: Bug, GUI/UX, backport release-3_10, backport release-3_12

#35618 [themes] Fix visual disabled state of checked tool buttons
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Backport, Bug, GUI/UX, backport release-3_10

#35511 Postgres raster temporal API support
  python/core/auto_generated/qgsdataprovider.sip.in
  python/core/auto_generated/raster/qgsrasterdataprovider.sip.in
  scripts/spell_check/.agignore
  src/core/qgsdataprovider.h
  src/core/qgstemporalnavigationobject.cpp
  src/core/qgsvectordataprovider.h
  src/core/raster/qgsrasterdataprovider.cpp
  src/core/raster/qgsrasterdataprovider.h
  src/core/raster/qgsrasterlayer.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
  src/providers/postgres/raster/qgspostgresrastershareddata.cpp
  src/providers/postgres/raster/qgspostgresrastershareddata.h
  src/providers/wms/qgswmsprovider.cpp
  src/ui/qgsrasterlayerpropertiesbase.ui
  tests/src/python/test_provider_postgresraster.py
  tests/testdata/provider/postgresraster/bug_34823_pg_raster.sql
  tests/testdata/provider/postgresraster/raster_3035_no_constraints.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_composite_pk.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_no_overviews.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_no_pk.sql
  tests/testdata/provider/postgresraster/raster_3035_untiled_multiple_rows.sql
  tests/testdata/provider/postgresraster/raster_tiled_3035.sql
Labels: Data Provider, Feature, Raster

#35559 Expression builder : add layer_property(...,'distance_units')
  resources/function_help/json/layer_property
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature

#35622 [vector] Remove problematic topological editing related assert when adding features
  src/app/qgsmaptooladdfeature.cpp
Labels: Bug, Digitizing, backport release-3_10, backport release-3_12

#35643 [snapping] Fix broken version detection which leads to broken reading of snapping type flags
  src/core/qgssnappingconfig.cpp
Labels: Bug, Digitizing

#35632 add jinja and pygments to Docker images
  .docker/qgis.dockerfile
Labels: backport release-3_10, backport release-3_12

#35557 Defer mask source widget population (fixes #34942)
  src/gui/qgsmaskingwidget.cpp
  src/gui/qgsmaskingwidget.h
  src/gui/qgsmasksourceselectionwidget.cpp
  src/gui/qgssymbollayerselectionwidget.cpp
  src/ui/qgsmaskingwidgetbase.ui
Labels: Bug, backport release-3_12

#35438 Add percentage size unit for Raster Image Marker and Raster fill layers symbology.
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/gui/symbology/qgssymbollayerwidget.cpp
  tests/src/core/testqgsrasterfill.cpp
  tests/src/core/testqgsrastermarker.cpp
  tests/testdata/control_images/symbol_rasterfill/expected_rasterfill_alpha_percentage/default/expected_rasterfill_alpha_percentage.png
  tests/testdata/control_images/symbol_rasterfill/expected_rasterfill_offset_percentage/default/expected_rasterfill_offset_percentage.png
  tests/testdata/control_images/symbol_rasterfill/expected_rasterfill_percentage/default/expected_rasterfill_percentage.png
  tests/testdata/control_images/symbol_rasterfill/expected_rasterfill_viewport_percentage/default/expected_rasterfill_viewport_percentage.png
  tests/testdata/control_images/symbol_rasterfill/expected_rasterfill_width_percentage/default/expected_rasterfill_width_percentage.png
  tests/testdata/control_images/symbol_rastermarker/expected_rastermarker_alpha_percentage/default/expected_rastermarker_alpha_percentage.png
  tests/testdata/control_images/symbol_rastermarker/expected_rastermarker_anchor_percentage/default/expected_rastermarker_anchor_percentage.png
  tests/testdata/control_images/symbol_rastermarker/expected_rastermarker_fixedaspectratio_percentage/default/expected_rastermarker_fixedaspectratio_percentage.png
  tests/testdata/control_images/symbol_rastermarker/expected_rastermarker_offset_percentage/default/expected_rastermarker_offset_percentage.png
  tests/testdata/control_images/symbol_rastermarker/expected_rastermarker_percentage/default/expected_rastermarker_percentage.png
  tests/testdata/control_images/symbol_rastermarker/expected_rastermarker_rotation_percentage/default/expected_rastermarker_rotation_percentage.png
Labels: Feature, Squash!, Symbology

#35658 added oracle headers search path
  src/providers/oracle/ocispatial/cmake/FindOCI.cmake
Labels: backport release-3_10, backport release-3_12

#35648 [vector] Remove problematic topological editing related assert when adding features
  src/app/qgsmaptooladdfeature.cpp
Labels: Backport, Crash/Data Corruption, Digitizing, backport release-3_10

#35514 Fix sip __hash__ for QgsActionScope
  python/core/auto_generated/qgsactionscope.sip.in
  src/core/qgsactionscope.h
Labels: API

#35667 Fix (0,0) points are ignored when calculating the bounding box for a multipoint geometry
  src/core/geometry/qgsgeometrycollection.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35680 Fix MXE builds after protobuf
  ms-windows/mxe/README.md
  ms-windows/mxe/mxe.Dockerfile
Labels: Build/Install, testsuite

#35678 Enable per-pixel horizontal scrolling on attribute table
  src/gui/attributetable/qgsattributetableview.cpp
Labels: backport release-3_10, backport release-3_12

#35689 [FEATURE][digitizing] Add avoid intersection/overlap mode
  images/images.qrc
  images/themes/default/mActionAllowIntersections.svg
  images/themes/default/mActionAvoidIntersectionsCurrentLayer.svg
  images/themes/default/mActionAvoidIntersectionsLayers.svg
  python/core/auto_additions/qgsproject.py
  python/core/auto_generated/qgsproject.sip.in
  src/app/qgisapp.cpp
  src/app/qgsmaptooladdfeature.cpp
  src/app/qgsmaptooladdpart.cpp
  src/app/qgsmaptoolreshape.cpp
  src/app/qgssnappingwidget.cpp
  src/app/qgssnappingwidget.h
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/gui/qgsmaptooldigitizefeature.cpp
Labels: Digitizing, Feature

#35703 [processing] set correct filter for v.in.lidar (fix #35700)
  python/plugins/processing/algs/grass7/description/v.in.lidar.txt
Labels: Bug, Processing, backport release-3_10, backport release-3_12

#34817 Warn that layers will be lost when overwriting container vector file
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35734 De-emphasise SAGA results when searching in toolbox
  python/core/auto_generated/processing/qgsprocessingprovider.sip.in
  python/gui/auto_generated/processing/qgsprocessingtoolboxmodel.sip.in
  python/plugins/processing/algs/saga/SagaAlgorithmProvider.py
  src/core/processing/qgsprocessingprovider.cpp
  src/core/processing/qgsprocessingprovider.h
  src/gui/processing/qgsprocessingtoolboxmodel.cpp
  src/gui/processing/qgsprocessingtoolboxmodel.h
Labels: Processing

#35739 Revert usage of QGIS native raster API in KDE as it causes issues
  src/analysis/raster/qgskde.cpp
  src/analysis/raster/qgskde.h
Labels: backport release-3_12

#35735 fix handling of checked items in checkable combobox (fix #28658)
  src/gui/qgscheckablecombobox.cpp
  src/gui/qgscheckablecombobox.h
Labels: backport release-3_10, backport release-3_12

#35669 [MESH][FEATURE] update to MDAL 0.5.91 Multi meshes in one file
  external/mdal/api/mdal.h
  external/mdal/cmake/FindNetCDF.cmake
  external/mdal/frmts/mdal_2dm.cpp
  external/mdal/frmts/mdal_2dm.hpp
  external/mdal/frmts/mdal_3di.cpp
  external/mdal/frmts/mdal_3di.hpp
  external/mdal/frmts/mdal_cf.cpp
  external/mdal/frmts/mdal_cf.hpp
  external/mdal/frmts/mdal_driver.cpp
  external/mdal/frmts/mdal_driver.hpp
  external/mdal/frmts/mdal_esri_tin.cpp
  external/mdal/frmts/mdal_esri_tin.hpp
  external/mdal/frmts/mdal_flo2d.cpp
  external/mdal/frmts/mdal_flo2d.hpp
  external/mdal/frmts/mdal_gdal.cpp
  external/mdal/frmts/mdal_gdal.hpp
  external/mdal/frmts/mdal_hec2d.cpp
  external/mdal/frmts/mdal_hec2d.hpp
  external/mdal/frmts/mdal_selafin.cpp
  external/mdal/frmts/mdal_selafin.hpp
  external/mdal/frmts/mdal_sww.cpp
  external/mdal/frmts/mdal_sww.hpp
  external/mdal/frmts/mdal_tuflowfv.cpp
  external/mdal/frmts/mdal_tuflowfv.hpp
  external/mdal/frmts/mdal_ugrid.cpp
  external/mdal/frmts/mdal_ugrid.hpp
  external/mdal/frmts/mdal_xms_tin.cpp
  external/mdal/frmts/mdal_xms_tin.hpp
  external/mdal/mdal.cpp
  external/mdal/mdal_driver_manager.cpp
  external/mdal/mdal_driver_manager.hpp
  external/mdal/mdal_logger.cpp
  external/mdal/mdal_utils.cpp
  external/mdal/mdal_utils.hpp
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/gui/auto_generated/qgssublayersdialog.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/gui/qgssublayersdialog.cpp
  src/gui/qgssublayersdialog.h
  src/providers/mdal/qgsmdalprovider.cpp
  src/providers/mdal/qgsmdalprovider.h
Labels: Changelog, Needs Documentation

#35753 Fix crash when clicking + in drag and drop form designer and no existing item is selected
  src/gui/vector/qgsattributesformproperties.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_10, backport release-3_12

#35754 Fix travis, broken due to some failure to convert struct QVariant property
  python/core/auto_generated/metadata/qgslayermetadatavalidator.sip.in
  src/core/metadata/qgslayermetadatavalidator.h
  src/gui/qgsmetadatawidget.cpp
Labels: backport release-3_10, backport release-3_12

#35766 Fix Mesh calculator does not save the results
  src/providers/mdal/qgsmdalprovider.cpp
Labels: backport release-3_12

#35777 adapt mesh trace renderer for volume
  src/core/mesh/qgsmeshtracerenderer.cpp
Labels: backport release-3_12

#35776 Try to fix crash on GEOS 3.8.1 when empty coordinate sequence is returned
  src/core/geometry/qgsgeos.cpp
  src/core/pal/feature.cpp
  src/core/pal/pointset.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Bug, backport release-3_10, backport release-3_12

#35764 Add XYZ tiles to Datasource manager dialog and Layers menu
  images/images.qrc
  images/themes/default/mActionAddXyzLayer.svg
  images/themes/default/mIconXyz.svg
  python/gui/auto_generated/qgisinterface.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgisappinterface.cpp
  src/app/qgisappinterface.h
  src/gui/qgisinterface.h
  src/providers/wms/CMakeLists.txt
  src/providers/wms/qgswmsdataitems.cpp
  src/providers/wms/qgswmsprovidergui.cpp
  src/providers/wms/qgsxyzconnection.cpp
  src/providers/wms/qgsxyzconnection.h
  src/providers/wms/qgsxyzsourceselect.cpp
  src/providers/wms/qgsxyzsourceselect.h
  src/ui/qgisapp.ui
  src/ui/qgsxyzsourceselectbase.ui
Labels: Feature, GUI/UX

#35790 import/export for ArcGIS Map and FeatureServer connections (fix #27485)
  python/gui/auto_generated/qgsmanageconnectionsdialog.sip.in
  src/gui/qgsmanageconnectionsdialog.cpp
  src/gui/qgsmanageconnectionsdialog.h
  src/providers/arcgisrest/qgsafssourceselect.cpp
  src/providers/arcgisrest/qgsamssourceselect.cpp
  src/providers/arcgisrest/qgsarcgisservicesourceselect.cpp
  src/providers/arcgisrest/qgsarcgisservicesourceselect.h
Labels: Feature

#35778 Allow reordering model inputs
  python/core/auto_generated/processing/models/qgsprocessingmodelalgorithm.sip.in
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.h
  src/gui/CMakeLists.txt
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
  src/gui/processing/models/qgsmodeldesignerdialog.h
  src/gui/processing/models/qgsmodelinputreorderwidget.cpp
  src/gui/processing/models/qgsmodelinputreorderwidget.h
  src/ui/processing/qgsmodeldesignerdialogbase.ui
  src/ui/processing/qgsmodelinputreorderwidgetbase.ui
  tests/src/analysis/testqgsprocessing.cpp
Labels: Feature, Processing

#35794 Fix csv import sort order
  src/gui/editorwidgets/qgsvaluemapconfigdlg.cpp
Labels: backport release-3_10, backport release-3_12

#35801 Try to fix crash on GEOS 3.8.1 when empty coordinate sequence is returned for a point geometry (3.12)
  src/core/geometry/qgsgeos.cpp
  src/core/pal/feature.cpp
  src/core/pal/pointset.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Backport, Crash/Data Corruption

#35810 [Backport 3.12] Value map: Sort order & CSV import
  src/gui/editorwidgets/qgsvaluemapconfigdlg.cpp
Labels: Backport

#35774 [processing modeler] Show arrowheads for parent/child relations
  python/gui/auto_generated/processing/models/qgsmodelarrowitem.sip.in
  src/gui/processing/models/qgsmodelarrowitem.cpp
  src/gui/processing/models/qgsmodelarrowitem.h
  src/gui/processing/models/qgsmodelgraphicsscene.cpp
Labels: GUI/UX, Processing

#35821 Support pasting pictures directly into layouts
  python/gui/auto_generated/layout/qgslayoutcustomdrophandler.sip.in
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutimagedrophandler.cpp
  src/app/layout/qgslayoutimagedrophandler.h
  src/gui/layout/qgslayoutcustomdrophandler.cpp
  src/gui/layout/qgslayoutcustomdrophandler.h
Labels: Feature, Print Layouts

#35820 Fix handling of vrt, SAGA tif output file names
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/plugins/processing/algs/gdal/Datasources2Vrt.py
  python/plugins/processing/algs/gdal/buildvrt.py
  python/plugins/processing/algs/saga/SagaParameters.py
  python/plugins/processing/gui/ParametersPanel.py
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
Labels: Processing

#35718 Increase default bin size for raster histograms
  src/core/raster/qgscolorrampshader.cpp
  src/core/raster/qgsrasterinterface.cpp
Labels: Bug, Raster

#35162 PostgreSQL provider don't cast bigint PKs to text
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg.sh
  tests/testdata/provider/testdata_pg_bigint_pk.sql
Labels: Squash!, backport release-3_12

#35811 [Backport 3.10] Value map: Sort order & CSV import
  src/gui/editorwidgets/qgsvaluemapconfigdlg.cpp
Labels: Backport

#35828 Server (minor) cleanup
  python/server/auto_generated/qgsaccesscontrolfilter.sip.in
  src/server/qgsaccesscontrolfilter.cpp
  src/server/qgsaccesscontrolfilter.h
  src/server/qgsserver.h
Labels: Server

#35813 Fix landing page test for OGC API Features certification
  resources/server/api/ogc/templates/wfs3/header.html
  resources/server/api/ogc/templates/wfs3/links.html
  src/server/qgsserverogcapi.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
  tests/testdata/qgis_server/api/test_wfs3_collection_testlayer_èé.html
  tests/testdata/qgis_server/api/test_wfs3_collections_empty.html
  tests/testdata/qgis_server/api/test_wfs3_collections_project.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.json
Labels: Backport, Server

#35830 Allow WebP in WMS data source select dialog
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug

#35853 Make autocomplete in expression builder case insensitive
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: backport release-3_10, backport release-3_12

#35848 [dbmanager] syntax highlighting for PostGIS raster fucntions (fix #16010)
  python/plugins/db_manager/db_plugins/postgis/sql_dictionary.py
Labels: DB Manager, backport release-3_10, backport release-3_12

#35839 ascii expression
  resources/function_help/json/ascii
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature

#35857 Fix crashes when running algs in "in place" mode
  python/plugins/processing/gui/AlgorithmDialog.py
  python/plugins/processing/gui/ParametersPanel.py
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
Labels: Bug, Processing

#35852 Raster quantile: increase sample size
  src/core/raster/qgscolorrampshader.cpp
  src/core/raster/qgsrasterinterface.cpp
Labels: Bug, Raster

#35836 Fix raster provider connection with statusChanged signal
  src/core/raster/qgsrasterlayerrenderer.cpp
Labels: Bug, Raster

#35771 old Qgis2.18 slot in QgsAttributeFormlegacyInterface
  src/gui/qgsattributeformlegacyinterface.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35881 Correctly utilise expression contexts for attribute form container visibility
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/gui/attributeformconfig/qgsattributeformcontaineredit.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
Labels: Bug

#35880 Fixes double type in ogcapif api document
  src/server/qgsserverquerystringparameter.cpp
  tests/src/server/testqgsserverquerystringparameter.cpp
Labels: Bug, Server

#35889 add is_multipart expression for geometry
  resources/function_help/json/is_multipart
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Changelog, Expressions, Feature

#35886 Fix double-rendering of layout legends on some circumstances
  src/core/qgslegendrenderer.cpp
  tests/src/python/test_qgslayoutlegend.py
  tests/testdata/control_images/composer_legend/expected_composer_legend_size_content_no_double_paint/expected_composer_legend_size_content_no_double_paint.png
  tests/testdata/control_images/composer_legend/expected_composer_legend_size_content_no_double_paint/expected_composer_legend_size_content_no_double_paint_mask.png
Labels: Bug, backport release-3_10, backport release-3_12

#35869 fix deprecation warning in qgis.utils (fix #32786)
  python/utils.py
Labels: PyQGIS, backport release-3_10, backport release-3_12

#35910 [processing] Rework model input reorder approach to use QStandardItemModel
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
  src/gui/processing/models/qgsmodelinputreorderwidget.cpp
  src/gui/processing/models/qgsmodelinputreorderwidget.h
Labels: Processing

#35900 move the QGIS Server validator from the project properties to its own class
  python/core/auto_generated/qgsprojectservervalidator.sip.in
  python/core/core_auto.sip
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/core/CMakeLists.txt
  src/core/qgsprojectservervalidator.cpp
  src/core/qgsprojectservervalidator.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsprojectservervalidator.py
Labels: API, Server

#35277 [Tests][Server] WMS GetPrint group
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getprint.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Group/WMS_GetPrint_Group.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Group/WMS_GetPrint_Group_mask.png
  tests/testdata/qgis_server_accesscontrol/project_groups.qgs
Labels: Regression, Server, backport release-3_10, backport release-3_12, testsuite

#35935 [layouts] Add explicit button to insert expressions in legend text
  src/gui/layout/qgslayoutlegendwidget.cpp
  src/gui/layout/qgslayoutlegendwidget.h
  src/ui/layout/qgslayoutlegendnodewidgetbase.ui
Labels: GUI/UX, Needs Documentation, Print Layouts

#35891 include missed WFS connection settings into XML exchange file (fix #35866)
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35937 [Tests][Server] WMS GetPrint group Mask file
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Group/WMS_GetPrint_Group_mask.png
Labels: Server, backport release-3_12, testsuite

#35923 [backport] Raster quantile shader increase sample size and bin count
  src/core/raster/qgscolorrampshader.cpp
  src/core/raster/qgsrasterinterface.cpp
Labels: Backport, Bug, Data Provider

#35922 [backport] Raster quantile shader increase sample size and bin count
  src/core/raster/qgscolorrampshader.cpp
  src/core/raster/qgsrasterinterface.cpp
Labels: Backport, Bug, Raster

#35838 various fixes to connections dialogs in Datasource Manager
  src/gui/ogr/qgsnewogrconnection.cpp
  src/gui/ogr/qgsnewogrconnection.h
  src/gui/providers/ogr/qgsogrdbsourceselect.cpp
  src/gui/providers/ogr/qgsogrsourceselect.cpp
  src/gui/qgsmanageconnectionsdialog.cpp
  src/gui/qgsnewhttpconnection.cpp
  src/gui/vectortile/qgsvectortileconnectiondialog.cpp
  src/gui/vectortile/qgsvectortileconnectiondialog.h
  src/gui/vectortile/qgsvectortileproviderguimetadata.cpp
  src/gui/vectortile/qgsvectortilesourceselect.cpp
  src/providers/db2/qgsdb2newconnection.cpp
  src/providers/db2/qgsdb2newconnection.h
  src/providers/db2/qgsdb2sourceselect.cpp
  src/providers/mssql/qgsmssqlnewconnection.cpp
  src/providers/mssql/qgsmssqlnewconnection.h
  src/providers/mssql/qgsmssqlsourceselect.cpp
  src/providers/oracle/qgsoraclenewconnection.cpp
  src/providers/oracle/qgsoraclenewconnection.h
  src/providers/postgres/qgspgnewconnection.cpp
  src/providers/postgres/qgspgnewconnection.h
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/wcs/qgswcsprovidergui.cpp
  src/providers/wfs/qgswfsprovidergui.cpp
  src/providers/wms/qgswmsprovidergui.cpp
  src/providers/wms/qgswmssourceselect.cpp
  src/providers/wms/qgswmssourceselect.h
  src/providers/wms/qgsxyzconnectiondialog.cpp
  src/providers/wms/qgsxyzconnectiondialog.h
  src/providers/wms/qgsxyzsourceselect.cpp
  src/ui/qgsnewhttpconnectionbase.ui
  src/ui/qgswmssourceselectbase.ui
  src/ui/qgsxyzconnectiondialog.ui
Labels: GUI/UX

#35877 QgsAbstractGeometry->segmentize() not returning correct WkbType for multi-geometries
  python/core/auto_generated/geometry/qgswkbtypes.sip.in
  src/core/geometry/qgsgeometrycollection.cpp
  src/core/geometry/qgswkbtypes.h
  tests/src/core/testqgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Bug, backport release-3_10, backport release-3_12

#35932 Add some helpful scoped RAII classes for use with QgsRenderContext
  python/core/auto_generated/qgsrendercontext.sip.in
  src/core/qgsrendercontext.h
Labels: API

#35952 PG raster metadata: encode & decode uri
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
Labels: Data Provider, Raster

#35946 Server little cleanup (class documentation)
  python/server/auto_generated/qgsserverapiutils.sip.in
  src/server/qgsserverapiutils.cpp
  src/server/qgsserverapiutils.h
  src/server/services/wfs3/qgswfs3handlers.h
  tests/src/python/test_qgsserver_api.py
Labels: Cleanup, Server

#35898 Close 3D measurement on 3D canvas close
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmaptoolmeasureline.cpp
  src/app/3d/qgs3dmaptoolmeasureline.h
Labels: backport release-3_10, backport release-3_12

#35926 [FEATURE][MESH] 1D mesh width/color varying
  python/3d/auto_generated/qgslayoutitem3dmap.sip.in
  python/core/auto_generated/mesh/qgsmeshrenderersettings.sip.in
  python/core/auto_generated/symbology/qgsinterpolatedlinerenderer.sip.in
  python/core/core_auto.sip
  src/app/CMakeLists.txt
  src/app/mesh/qgsmeshdatasetgrouptreeview.h
  src/app/mesh/qgsmeshrendererscalarsettingswidget.cpp
  src/app/mesh/qgsmeshrendererscalarsettingswidget.h
  src/app/mesh/qgsmeshrenderervectorsettingswidget.cpp
  src/app/mesh/qgsmeshstaticdatasetwidget.h
  src/app/mesh/qgsmeshvariablestrokewidthwidget.cpp
  src/app/mesh/qgsmeshvariablestrokewidthwidget.h
  src/core/CMakeLists.txt
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshlayerrenderer.h
  src/core/mesh/qgsmeshrenderersettings.cpp
  src/core/mesh/qgsmeshrenderersettings.h
  src/core/mesh/qgsmeshtracerenderer.cpp
  src/core/mesh/qgsmeshtracerenderer.h
  src/core/mesh/qgsmeshvectorrenderer.cpp
  src/core/mesh/qgsmeshvectorrenderer.h
  src/core/symbology/qgsinterpolatedlinerenderer.cpp
  src/core/symbology/qgsinterpolatedlinerenderer.h
  src/ui/mesh/qgsmeshrendererscalarsettingswidgetbase.ui
  src/ui/mesh/qgsmeshvariablestrokewidthwidgetbase.ui
  tests/src/core/testqgsmeshlayerrenderer.cpp
  tests/testdata/control_images/mesh/expected_lines_edge_scalar_dataset/expected_lines_edge_scalar_dataset.png
  tests/testdata/control_images/mesh/expected_lines_vertex_scalar_dataset/expected_lines_vertex_scalar_dataset.png
Labels: Changelog, Documentation, Feature, Mesh

#35955 [rastercalc] enable Ok button only when expression and output are set (fix #30420)
  src/app/qgsrastercalcdialog.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35956 look for qgis_global_settings.ini also in the AppDataLocation (fix #31288)
  src/app/main.cpp
Labels: Needs Documentation

#35976 [processing] When removing a parameter registered as an output, remove it from outputs list
  src/core/processing/qgsprocessingalgorithm.cpp
Labels: Bug, Processing, backport release-3_10, backport release-3_12

#35974 Allow control over the horizontal spacing before legend group/subgroup/symbols
  src/core/qgslegendrenderer.cpp
  src/gui/layout/qgslayoutlegendwidget.cpp
  src/gui/layout/qgslayoutlegendwidget.h
  src/ui/layout/qgslayoutlegendwidgetbase.ui
  tests/src/core/testqgslegendrenderer.cpp
  tests/testdata/control_images/legend/expected_legend_left_align_side_space/expected_legend_left_align_side_space.png
  tests/testdata/control_images/legend/expected_legend_right_align_side_space/expected_legend_right_align_side_space.png
Labels: Feature, Print Layouts

#36004 [Backport release-3_10] Fix arguments in QgisApp::about() for exported source code
  src/app/qgisapp.cpp
Labels: Backport

#35998 [Backport 3.12] qgswmsrenderer.cpp: avoid confusing aliasing of 'layer' variable name
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Backport

#36022 Disable MXE workflow
  .github/workflows/mxe.yml
Labels: Infrastructure

#36006 Server standalone: read hostname and port from HOST header (if any)
  src/server/qgis_mapserver.cpp
Labels: Server

#35963 [MESH] fix mesh calculator saving for windows
  python/core/auto_generated/mesh/qgsmeshdataprovider.sip.in
  src/analysis/mesh/qgsmeshcalculator.cpp
  src/core/mesh/qgsmeshdataprovider.cpp
  src/core/mesh/qgsmeshdataprovider.h
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.cpp
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.h
  src/providers/mdal/qgsmdalprovider.cpp
  src/providers/mdal/qgsmdalprovider.h
  tests/src/analysis/testqgsmeshcalculator.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35994 [authentication manager] Avoid crossing mutex wires when checking for master password
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: Authentication, Bug, backport release-3_10, backport release-3_12

#35928 Expressions for geometry Z and M minimum and maximum
  resources/data/contributors.json
  resources/function_help/json/m_max
  resources/function_help/json/m_min
  resources/function_help/json/z_max
  resources/function_help/json/z_min
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature

#36014 Allow custom QgsDataItem types a chance to create a info widget
  src/gui/qgsbrowserdockwidget_p.cpp
Labels: API, backport release-3_10, backport release-3_12

#36030 [backport release-3_12] [authentication manager] fix QGIS freeze when asking for master password
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: Authentication, Backport, Bug

#36013 Allow overriding the legend patch size on a per-item basis
  python/core/auto_generated/layertree/qgslayertreelayer.sip.in
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/qgsmaplayerlegend.sip.in
  src/core/layertree/qgslayertreelayer.cpp
  src/core/layertree/qgslayertreelayer.h
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
  src/core/qgslegendrenderer.cpp
  src/core/qgsmaplayerlegend.cpp
  src/core/qgsmaplayerlegend.h
  src/gui/layout/qgslayoutlegendwidget.cpp
  src/gui/layout/qgslayoutlegendwidget.h
  src/ui/layout/qgslayoutlegendnodewidgetbase.ui
  tests/src/core/testqgslegendrenderer.cpp
  tests/testdata/control_images/legend/expected_legend_override_size/expected_legend_override_size.png
Labels: Feature, Print Layouts

#36044 Fix subset string is ignored for vector layers when running GDAL algorithms
  python/plugins/processing/algs/gdal/GdalAlgorithm.py
  python/plugins/processing/tests/GdalAlgorithmsGeneralTest.py
Labels: Bug, Processing, backport release-3_10, backport release-3_12

#36043 Fix exception when editing certain model algorithms
  python/plugins/processing/modeler/ModelerParametersDialog.py
Labels: Bug, Processing

#36051 [QgsQuick] Fix overlaped variable name with QT widget's variable
  src/quickgui/plugin/editor/qgsquickvaluemap.qml
  src/quickgui/plugin/editor/qgsquickvaluerelation.qml
Labels: Bug

#36040 Correctly handle bigint PostgreSQL values
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg_bigint_pk.sql
Labels: backport release-3_12

#35939 check project root name in the server validator
  python/core/auto_generated/qgsprojectservervalidator.sip.in
  src/core/qgsprojectservervalidator.cpp
  src/core/qgsprojectservervalidator.h
  tests/src/python/test_qgsprojectservervalidator.py
Labels: Server

#36077 Refactor QgsLineString::interpolatePoint to extract segment traversal to a separate visitor function
  python/core/auto_generated/geometry/qgslinestring.sip.in
  src/core/geometry/qgslinestring.cpp
  src/core/geometry/qgslinestring.h
  tests/src/core/testqgsgeometry.cpp
Labels: API

#36083 Safer workflow when checking for OpenCL
  src/app/qgsoptions.cpp
Labels: backport release-3_10, backport release-3_12

#35901 [feature] ability to remove custom functions (fix #27513)
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressionbuilderwidget.h
  src/ui/qgsexpressionbuilder.ui
Labels: Feature, Needs Documentation

#36089 Feature browser for preview in expression builder
  python/core/auto_generated/qgsfeaturefiltermodel.sip.in
  python/core/auto_generated/qgsfeaturepickermodel.sip.in
  python/core/auto_generated/qgsfeaturepickermodelbase.sip.in
  python/core/core_auto.sip
  python/gui/auto_generated/qgsexpressionpreviewwidget.sip.in
  python/gui/auto_generated/qgsfeaturepickerwidget.sip.in
  python/gui/gui_auto.sip
  scripts/rename_cpp.sh
  src/core/CMakeLists.txt
  src/core/qgsfeatureexpressionvaluesgatherer.h
  src/core/qgsfeaturefiltermodel.cpp
  src/core/qgsfeaturefiltermodel.h
  src/core/qgsfeaturepickermodel.cpp
  src/core/qgsfeaturepickermodel.h
  src/core/qgsfeaturepickermodelbase.cpp
  src/core/qgsfeaturepickermodelbase.h
  src/gui/CMakeLists.txt
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressionbuilderwidget.h
  src/gui/qgsexpressionpreviewwidget.cpp
  src/gui/qgsexpressionpreviewwidget.h
  src/gui/qgsfeaturelistcombobox.cpp
  src/gui/qgsfeaturepickerwidget.cpp
  src/gui/qgsfeaturepickerwidget.h
  src/ui/qgsexpressionbuilder.ui
  src/ui/qgsexpressionpreviewbase.ui
  tests/src/gui/testqgsfeaturelistcombobox.cpp
  tests/src/python/test_qgsfeaturepicker.py
Labels: Feature, Needs Documentation

#35825 Qgisserveroutput
  src/server/qgis_mapserver.cpp
  src/server/qgsserver.cpp
  src/server/services/wcs/qgswcs.cpp
  src/server/services/wfs/qgswfs.cpp
  src/server/services/wms/qgswms.cpp
  src/server/services/wmts/qgswmts.cpp
  tests/src/python/test_qgsserver.py
Labels: Server

#36032 [processing] use hours as cost units for service area algorithms (fix #30464)
  python/plugins/processing/tests/testdata/expected/service_area_fastest_nodes.gml
  python/plugins/processing/tests/testdata/expected/service_area_fastest_nodes.xsd
  python/plugins/processing/tests/testdata/expected/service_area_fastests_lines.gml
  python/plugins/processing/tests/testdata/expected/service_area_fastests_lines.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
  src/analysis/processing/qgsalgorithmserviceareafrompoint.cpp
Labels: Needs Documentation, Processing
