Repository qgis/QGIS, pull requests merged in 2020-05, with the labels that each got.

#36109 Fix some labels incorrectly flagged as unplaced when they actually are placed
  src/core/pal/problem.cpp
Labels: Backport, Bug

#36124 Fixed fetching NULL bigint pgsql attributes. Fixes #36011
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  tests/src/python/test_provider_postgres.py
Labels: backport release-3_12

#36069 add expression close_line
  resources/function_help/json/close_line
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature

#36147 [themes] Fix styling of bottom-located tabs
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Bug, GUI/UX, backport release-3_10, backport release-3_12

#36137 [processing] Set distanceArea CRS properly in SumLineLengths algorithm
  python/plugins/processing/tests/testdata/custom/sumlinelengths.gpkg
  python/plugins/processing/tests/testdata/expected/sum_line_length_projected_crs.gml
  python/plugins/processing/tests/testdata/expected/sum_line_length_projected_crs.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests1.yaml
  src/analysis/processing/qgsalgorithmsumlinelength.cpp
  src/analysis/processing/qgsalgorithmsumlinelength.h
Labels: backport release-3_10, backport release-3_12

#36141 Add a broader restorer mechanism for WMS
  src/server/services/wms/CMakeLists.txt
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrestorer.cpp
  src/server/services/wms/qgswmsrestorer.h
  tests/src/server/wms/CMakeLists.txt
  tests/src/server/wms/test_qgsserver_wms_restorer.cpp
Labels: API, Server

#36129 Enables Postgresql service based connections without database name
  src/providers/postgres/qgspgnewconnection.cpp
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/postgres/qgspostgresdataitemguiprovider.cpp
Labels: backport release-3_10, backport release-3_12

#36177 [image cache] Avoid creating an invalid image and painting onto it
  src/core/qgsimagecache.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#36176 Let some tests pass on proj == 6 (<7) versions
  tests/src/core/testqgscoordinatereferencesystem.cpp
  tests/src/gui/testqgsdatumtransformdialog.cpp
  tests/src/python/test_qgsdatumtransforms.py
Labels: backport release-3_10, backport release-3_12

#36173 When reading scalebar from XML re-apply stored size after changing style
  src/core/layout/qgslayoutitemscalebar.cpp
Labels: Bug, Print Layouts, backport release-3_10, backport release-3_12

#36166 Allow filtering WM(T)S list in source dialog
  src/providers/wms/qgswmssourceselect.cpp
  src/providers/wms/qgswmssourceselect.h
  src/ui/qgswmssourceselectbase.ui
Labels: Feature, Needs Documentation

#36179 [layouts] When dropping an SVG onto layouts, treat it as such
  src/app/layout/qgslayoutimagedrophandler.cpp
Labels: Bug

#36171 Snap on mesh elements
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  tests/src/core/testqgsmeshlayer.cpp
Labels: API, Feature, Mesh

#36189 [docker] Avoid assuming /dev/tty is usable
  .docker/qgis_resources/test_runner/qgis_testrunner.sh
Labels: backport release-3_10, backport release-3_12

#32138 Support for styles for different geometry types for the same Postgresql table
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug

#36201 don't pre-select geometry type in the new shapefile/geopackage layer dialogs (fix #14983)
  src/gui/qgsnewgeopackagelayerdialog.cpp
  src/gui/qgsnewvectorlayerdialog.cpp
Labels: GUI/UX

#36186 Only use distance area calculator in expression preview results when it has been initialized correctly
  src/gui/qgsexpressionpreviewwidget.cpp
  src/gui/qgsexpressionpreviewwidget.h
Labels: Bug, backport release-3_10, backport release-3_12

#36131 Add subdivisions in ticksscalebar right segments
  python/core/auto_additions/qgsscalebarrenderer.py
  python/core/auto_generated/layout/qgslayoutitem.sip.in
  python/core/auto_generated/layout/qgslayoutitemscalebar.sip.in
  python/core/auto_generated/scalebar/qgsscalebarrenderer.sip.in
  python/core/auto_generated/scalebar/qgsscalebarsettings.sip.in
  src/core/layout/qgslayoutitem.h
  src/core/layout/qgslayoutitemscalebar.cpp
  src/core/layout/qgslayoutitemscalebar.h
  src/core/scalebar/qgsscalebarrenderer.h
  src/core/scalebar/qgsscalebarsettings.cpp
  src/core/scalebar/qgsscalebarsettings.h
  src/core/scalebar/qgsticksscalebarrenderer.cpp
  src/gui/layout/qgslayoutscalebarwidget.cpp
  src/gui/layout/qgslayoutscalebarwidget.h
  src/ui/layout/qgslayoutscalebarwidgetbase.ui
  tests/src/core/testqgslayoutscalebar.cpp
  tests/testdata/control_images/layout_scalebar/expected_layoutscalebar_tick_subdivisions/expected_layoutscalebar_tick_subdivisions.png
  tests/testdata/control_images/layout_scalebar/expected_layoutscalebar_tick_subdivisions/expected_layoutscalebar_tick_subdivisions_mask.png
Labels: Feature, Print Layouts

#36223 [image cache] Avoid creating an invalid image and painting onto it
  src/core/qgsimagecache.cpp
Labels: Backport, Bug, backport release-3_10

#36190 allow editing of links in file widget
  src/gui/qgsfilewidget.cpp
  src/gui/qgsfilewidget.h
Labels: Feature, Needs Documentation

#36224 Expose control over layer legend splitting behavior on a layer-by-layer basis
  python/core/auto_generated/layertree/qgslayertreelayer.sip.in
  src/core/layertree/qgslayertreelayer.cpp
  src/core/layertree/qgslayertreelayer.h
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendrenderer.h
  src/gui/layout/qgslayoutlegendwidget.cpp
  src/gui/layout/qgslayoutlegendwidget.h
  src/ui/layout/qgslayoutlegendnodewidgetbase.ui
  tests/src/core/testqgslegendrenderer.cpp
  tests/testdata/control_images/legend/expected_legend_layer_column_splitting_allow/expected_legend_layer_column_splitting_allow.png
  tests/testdata/control_images/legend/expected_legend_layer_column_splitting_prevent/expected_legend_layer_column_splitting_prevent.png
Labels: Feature, Print Layouts

#36202 allow creating geometryless DBF tables from the New Shapefile dialog (fix #15654)
  src/core/providers/ogr/qgsogrprovider.cpp
  src/gui/qgsnewgeopackagelayerdialog.cpp
  src/gui/qgsnewvectorlayerdialog.cpp
Labels: Feature, Needs Documentation

#35382 [FEATURE] allow to drag'n'drop layer across several QGIS instances
  python/core/auto_generated/layertree/qgslayertreemodel.sip.in
  python/gui/auto_generated/layertree/qgslayertreeview.sip.in
  src/app/qgisapp.cpp
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodel.h
  src/gui/layertree/qgslayertreeview.cpp
  src/gui/layertree/qgslayertreeview.h
Labels: Feature, Needs Documentation

#36238 store last used QLR path and re-use it when opening another QLR (fix #27392)
  src/app/qgisapp.cpp
Labels: GUI/UX

#36234 [processing] rename Graphics group to Plots
  python/plugins/processing/algs/qgis/BarPlot.py
  python/plugins/processing/algs/qgis/BoxPlot.py
  python/plugins/processing/algs/qgis/MeanAndStdDevPlot.py
  python/plugins/processing/algs/qgis/PolarPlot.py
  python/plugins/processing/algs/qgis/RasterLayerHistogram.py
  python/plugins/processing/algs/qgis/VectorLayerHistogram.py
  python/plugins/processing/algs/qgis/VectorLayerScatterplot.py
  python/plugins/processing/algs/qgis/VectorLayerScatterplot3D.py
Labels: GUI/UX, Needs Documentation, Processing

#36236 [layout] allow sorting attribute table by field not listed in the table
  python/core/auto_generated/layout/qgslayoutitemattributetable.sip.in
  python/core/auto_generated/layout/qgslayouttable.sip.in
  python/core/auto_generated/layout/qgslayouttablecolumn.sip.in
  src/core/layout/qgscompositionconverter.cpp
  src/core/layout/qgslayoutitemattributetable.cpp
  src/core/layout/qgslayoutitemattributetable.h
  src/core/layout/qgslayoutitemmanualtable.cpp
  src/core/layout/qgslayouttable.cpp
  src/core/layout/qgslayouttable.h
  src/core/layout/qgslayouttablecolumn.cpp
  src/core/layout/qgslayouttablecolumn.h
  src/gui/layout/qgslayoutattributeselectiondialog.cpp
  src/gui/layout/qgslayoutattributeselectiondialog.h
  src/gui/layout/qgslayoutattributetablewidget.cpp
  src/gui/layout/qgslayoutmanualtablewidget.cpp
  src/plugins/georeferencer/qgsgeorefplugingui.cpp
  src/ui/layout/qgslayoutattributeselectiondialogbase.ui
  tests/src/core/testqgslayoutmanualtable.cpp
  tests/src/core/testqgslayouttable.cpp
Labels: Feature, Needs Documentation

#36245 Add make_date, make_time and make_datetime functions
  resources/function_help/json/make_date
  resources/function_help/json/make_datetime
  resources/function_help/json/make_time
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature

#36230 PG and PG raster en/decode URI fix and tests
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_postgresraster.py
Labels: Bug, Data Provider

#36240 Fix SIP QgsSnapToGridCanvasItem class declaration
  python/gui/auto_generated/qgssnaptogridcanvasitem.sip.in
  src/gui/qgssnaptogridcanvasitem.h
Labels: Bug, backport release-3_10, backport release-3_12

#36252 [themes] Style checked style of push buttons
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Bug, GUI/UX, backport release-3_10, backport release-3_12

#36257 Fixes #34946 : save masking pen join style
  src/gui/qgstextformatwidget.cpp
  tests/src/python/test_qgstextformatwidget.py
Labels: Bug, Symbology, backport release-3_10, backport release-3_12

#36263 turn "Export atlas" button in the Layout Designer into drop-down button menu (fix #25899)
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
Labels: GUI/UX, Print Layouts

#36270 [quick] Fix unhandled exception in QgsQuickPositionKit
  src/quickgui/qgsquickpositionkit.cpp
Labels: Bug

#36226 Fixed dropping PostgreSQL materialized views.
  src/providers/postgres/qgspostgresdataitems.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#36271 osgeo4w: use nightly gdal bindings
  ms-windows/osgeo4w/package-nightly.cmd
Labels: backport release-3_10, backport release-3_12

#36276 Save temporal dimension from colliding
  src/core/qgsrendercontext.cpp
Labels: Temporal

#36273 Lazily initialize QgsDistanceArea in expressions
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpression_p.h
Labels: Optimization, backport release-3_10

#36272 Optimise comparison of date/time/datetime values in expressions
  src/core/expression/qgsexpressionnodeimpl.cpp
Labels: Optimization

#36286 Correctly handle NULL start or end time values when filtering temporal ranges
  src/core/qgsvectorlayertemporalproperties.cpp
  tests/src/python/test_qgsvectorlayertemporalproperties.py
Labels: Temporal

#36295 Treat all datetime values as UTC when comparing them
  src/core/expression/qgsexpressionnodeimpl.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions

#36299 Add a new "Redraw Layer Only" mode for temporal vector layers
  python/core/auto_generated/qgsvectorlayertemporalproperties.sip.in
  src/core/qgstemporalutils.cpp
  src/core/qgsvectorlayertemporalproperties.cpp
  src/core/qgsvectorlayertemporalproperties.h
  src/gui/qgsvectorlayertemporalpropertieswidget.cpp
  src/ui/qgsvectorlayertemporalpropertieswidgetbase.ui
Labels: Feature, Temporal

#36300 Add expression variables for frame properties
  python/core/auto_generated/qgstemporalnavigationobject.sip.in
  src/core/expression/qgsexpression.cpp
  src/core/qgstemporalnavigationobject.cpp
  src/core/qgstemporalnavigationobject.h
  src/gui/qgsmapcanvas.cpp
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgsheatmaprendererwidget.cpp
  src/gui/symbology/qgslayerpropertieswidget.cpp
  src/gui/symbology/qgsrendererwidget.cpp
  src/gui/symbology/qgssymbolwidgetcontext.cpp
  tests/src/core/testqgstemporalnavigationobject.cpp
Labels: Feature, Temporal

#36305 [processing] fix file filter for i.landsat.toar (fix #36290)
  python/plugins/processing/algs/grass7/description/i.landsat.toar.txt
Labels: Bug, Processing, backport release-3_10, backport release-3_12

#36324 New variables @animation_start_time and @animation_end_time
  src/core/expression/qgsexpression.cpp
  src/core/qgstemporalnavigationobject.cpp
  tests/src/core/testqgstemporalnavigationobject.cpp
Labels: Expressions, Feature, Temporal

#36313 [MESH] scalar color settings depending on classification
  external/mdal/frmts/mdal_3di.cpp
  external/mdal/frmts/mdal_3di.hpp
  external/mdal/frmts/mdal_cf.cpp
  external/mdal/frmts/mdal_cf.hpp
  external/mdal/frmts/mdal_esri_tin.cpp
  external/mdal/frmts/mdal_tuflowfv.cpp
  external/mdal/frmts/mdal_tuflowfv.hpp
  external/mdal/frmts/mdal_ugrid.cpp
  external/mdal/frmts/mdal_ugrid.hpp
  external/mdal/frmts/mdal_xms_tin.cpp
  external/mdal/mdal.cpp
  external/mdal/mdal_data_model.cpp
  external/mdal/mdal_data_model.hpp
  external/mdal/mdal_utils.hpp
  src/app/mesh/qgsmeshrendereractivedatasetwidget.cpp
  src/app/mesh/qgsmeshrendererscalarsettingswidget.cpp
  src/app/mesh/qgsrenderermeshpropertieswidget.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgsmeshlayerutils.cpp
  tests/src/core/testqgsmeshlayerrenderer.cpp
  tests/testdata/control_images/mesh/expected_classified_values/expected_classified_values.png
  tests/testdata/mesh/simplebox_clm.nc
Labels: Feature, Mesh

#36336 [vector layer] Fix minimumValue/maximumValue for joined and virtual fields
  src/core/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
  tests/testdata/polys_overlapping_with_id.dbf
Labels: Bug, Squash!, backport release-3_10, backport release-3_12

#36332 Blacklist PyQgsServerWMSGetPrint
  .ci/travis/linux/scripts/test_blacklist.txt
Labels: Backport

#36278 Follow up 01ec02a : remove border on QPushButton:open state as Qt mer…
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Backport, Bug, GUI/UX

#36307 Code layout test to GitHub workflow
  .github/workflows/code_layout.yml
  .github/workflows/flake8.yml
  .travis.yml
  cmake_templates/Doxyfile.in
  doc/CMakeLists.txt
  scripts/verify_indentation.sh
  src/ui/qgsexpressionpreviewbase.ui
Labels: Infrastructure

#36289 allow adding attributes in the New Scratch Layer dialog (fix #24397)
  python/gui/auto_generated/qgsnewmemorylayerdialog.sip.in
  src/gui/qgsnewmemorylayerdialog.cpp
  src/gui/qgsnewmemorylayerdialog.h
  src/ui/qgsnewmemorylayerdialogbase.ui
Labels: Feature, Needs Documentation

#36352 [Bugfix][Server] WFS DescribeFeatureType: add MultiCurve and MultiSurface in SCHEMA
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
Labels: Bug, Server, backport release-3_10, backport release-3_12

#36371 Avoid temporary destination filename has "." inside. Fixes #36353
  src/core/processing/qgsprocessingparameters.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, backport release-3_10, backport release-3_12

#36351 Fix QgsGeometry nearestPoint and minimalEnclosingCircle when the geometry is empty
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeos.cpp
Labels: backport release-3_10, backport release-3_12

#36249 Fix expression description HTML
  python/gui/auto_generated/qgsexpressionstoredialog.sip.in
  src/gui/qgsexpressionstoredialog.cpp
  src/gui/qgsexpressionstoredialog.h
Labels: Bug, backport release-3_10, backport release-3_12

#36258 add "Selection" toolbar to the QGIS main window
  python/gui/auto_generated/qgisinterface.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgisappinterface.cpp
  src/app/qgisappinterface.h
  src/gui/qgisinterface.h
  src/ui/qgisapp.ui
Labels: Feature, GUI/UX, Needs Documentation

#36297 Try to auto-populate reasonable initial choices for vector layer temporal settings
  python/core/auto_generated/qgsvectorlayertemporalproperties.sip.in
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayertemporalproperties.cpp
  src/core/qgsvectorlayertemporalproperties.h
  tests/src/python/test_qgsvectorlayertemporalproperties.py
Labels: Temporal

#36370 Update the API to export a legend in JSON
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/qgslegendrenderer.sip.in
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendrenderer.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/core/testqgslegendrenderer.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgslegendrenderer.py
Labels: API

#35112 Determine primary key from Oracle view
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Data Provider, Feature

#36400 Do not show error message if user cancels save as dialog
  src/app/qgisapp.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#36188 Avoid long loading in attribute table on model change
  python/gui/auto_generated/attributetable/qgsattributetablefiltermodel.sip.in
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
  src/gui/attributetable/qgsattributetablefiltermodel.h
  src/gui/attributetable/qgsdualview.cpp
  tests/src/app/testqgsattributetable.cpp
  tests/src/gui/testqgsdualview.cpp
Labels: Bug

#36413 Re-allow creation of postgres connections with ONLY a database name entered
  src/providers/postgres/qgspgnewconnection.cpp
Labels: backport release-3_10, backport release-3_12

#36399 Fix xyx OSM tiles too many downloads
  python/core/auto_generated/raster/qgsrasterinterface.sip.in
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/raster/qgsrasterinterface.h
  src/core/raster/qgsrasterlayerrenderer.cpp
  src/core/raster/qgsrasterlayerrenderer.h
  src/providers/arcgisrest/qgsamsprovider.h
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#36334 [MESH][FEATURE] use only specified dataset group
  images/images.qrc
  images/themes/default/mActionDeselectAllTree.svg
  python/core/auto_generated/mesh/qgsmeshdataset.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/app/CMakeLists.txt
  src/app/mesh/qgsmeshdatasetgrouptreeview.cpp
  src/app/mesh/qgsmeshdatasetgrouptreeview.h
  src/app/mesh/qgsmeshdatasetgrouptreewidget.cpp
  src/app/mesh/qgsmeshdatasetgrouptreewidget.h
  src/app/mesh/qgsmeshlayerproperties.cpp
  src/app/mesh/qgsmeshlayerproperties.h
  src/app/mesh/qgsmeshrendereractivedatasetwidget.cpp
  src/core/mesh/qgsmeshdataset.cpp
  src/core/mesh/qgsmeshdataset.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgsmeshlayerutils.h
  src/ui/mesh/qgsmeshdatasetgrouptreewidgetbase.ui
  src/ui/mesh/qgsmeshlayerpropertiesbase.ui
  src/ui/mesh/qgsmeshrendereractivedatasetwidgetbase.ui
  tests/src/app/testqgsmeshlayerpropertiesdialog.cpp
  tests/src/core/testqgsmeshlayer.cpp
Labels: Changelog, Feature, Mesh, Needs Documentation

#36422 Folloup to PR 36399 OSM prefetch
  src/core/raster/qgsrasterlayerrenderer.cpp
  src/core/raster/qgsrasterlayerrenderer.h
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#36285 Delete cascade on composition relations
  python/core/auto_generated/qgsvectorlayer.sip.in
  python/core/auto_generated/qgsvectorlayerjoinbuffer.sip.in
  python/core/auto_generated/qgsvectorlayerutils.sip.in
  src/app/qgisapp.cpp
  src/app/qgsattributetabledialog.cpp
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/core/qgsvectorlayerjoinbuffer.cpp
  src/core/qgsvectorlayerjoinbuffer.h
  src/core/qgsvectorlayerutils.cpp
  src/core/qgsvectorlayerutils.h
  src/gui/qgsrelationeditorwidget.cpp
Labels: Needs Documentation

#36364 [Oracle] Force multi geometry type at layer level
  src/providers/oracle/qgsoracleprovider.cpp
Labels: Data Provider, backport release-3_10, backport release-3_12

#36354 Avoid long loading in attributetable on model change
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
Labels: Backport, Bug

#36194 Avoid long loading in attributetable on model change
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
Labels: Backport, Bug

#36439 Fix SIP QgsHighlight class declaration
  python/gui/auto_generated/qgshighlight.sip.in
  src/gui/qgshighlight.h
Labels: Bug, backport release-3_10, backport release-3_12

#36349 Don't add another user expression when changing its label
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Bug, Expressions, backport release-3_12

#36453 Add ability to export animation frames
  python/core/auto_generated/qgstemporalutils.sip.in
  python/gui/auto_generated/qgstemporalcontrollerwidget.sip.in
  src/app/CMakeLists.txt
  src/app/qgsanimationexportdialog.cpp
  src/app/qgsanimationexportdialog.h
  src/app/qgstemporalcontrollerdockwidget.cpp
  src/app/qgstemporalcontrollerdockwidget.h
  src/core/qgstemporalutils.cpp
  src/core/qgstemporalutils.h
  src/gui/qgstemporalcontrollerwidget.cpp
  src/gui/qgstemporalcontrollerwidget.h
  src/ui/3d/animationexport3ddialog.ui
  src/ui/qgsanimationexportdialogbase.ui
  src/ui/qgstemporalcontrollerwidgetbase.ui
Labels: Feature, Temporal

#36153 Server GetLegendGraphics add RULELABEL AUTO option
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_rulelabel_auto/WMS_GetLegendGraphic_rulelabel_auto.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_rulelabel_auto/WMS_GetLegendGraphic_rulelabel_auto_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_rulelabel_notset/WMS_GetLegendGraphic_rulelabel_notset.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_rulelabel_notset/WMS_GetLegendGraphic_rulelabel_notset_mask.png
Labels: Bug, Needs Documentation, Server, backport release-3_10, backport release-3_12

#36372 port more Processing algorithms to C++
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/Polygonize.py
  python/plugins/processing/algs/qgis/PostGISExecuteSQL.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  python/plugins/processing/algs/qgis/SnapGeometries.py
  python/plugins/processing/algs/qgis/SpatialiteExecuteSQL.py
  python/plugins/processing/algs/qgis/VectorSplit.py
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmexecutepostgisquery.cpp
  src/analysis/processing/qgsalgorithmexecutepostgisquery.h
  src/analysis/processing/qgsalgorithmexecutespatialitequery.cpp
  src/analysis/processing/qgsalgorithmexecutespatialitequery.h
  src/analysis/processing/qgsalgorithmexecutespatialitequeryregistered.cpp
  src/analysis/processing/qgsalgorithmexecutespatialitequeryregistered.h
  src/analysis/processing/qgsalgorithmpolygonize.cpp
  src/analysis/processing/qgsalgorithmpolygonize.h
  src/analysis/processing/qgsalgorithmsnapgeometries.cpp
  src/analysis/processing/qgsalgorithmsnapgeometries.h
  src/analysis/processing/qgsalgorithmsplitvectorlayer.cpp
  src/analysis/processing/qgsalgorithmsplitvectorlayer.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Processing

#36427 [Server] Expression override for online resource in service capabilities
  python/core/auto_generated/qgsproject.sip.in
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/core/qgsprojectproperty.cpp
  src/server/qgsserverprojectutils.cpp
  src/ui/qgsprojectpropertiesbase.ui
Labels: Server

#36458 [Bug fix] load 3D view symbol configuration automatically in layer properties
  src/app/3d/qgsvectorlayer3drendererwidget.cpp
Labels: Bug

#36280 3.10 backport of serious authentification freeze fix
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: Authentication, Backport, Bug, Crash/Data Corruption

#36279 3.10 backport of a few themes fixes
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Backport, Bug, GUI/UX

#36476 Don't show 'QgsRasterLayer created' messages in status bar
  src/core/raster/qgsrasterlayer.cpp
Labels: backport release-3_10

#36478 add guard for mesh layer data provider and test
  src/3d/mesh/qgsmesh3dgeometry_p.cpp
  src/3d/mesh/qgsmesh3dmaterial_p.cpp
  src/app/mesh/qgsmeshlayerproperties.cpp
  src/app/mesh/qgsmeshstaticdatasetwidget.cpp
  src/app/mesh/qgsrenderermeshpropertieswidget.cpp
  tests/src/app/testqgsmeshlayerpropertiesdialog.cpp
Labels: Bug, Mesh

#34796 Avoid confirmation dialog from Refactor fields when not appropriate
  python/gui/auto_generated/processing/qgsprocessingalgorithmdialogbase.sip.in
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.h
Labels: Bug

#36444 Vector tile layer - part 10 (properties dialog)
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/app/vectortile/qgsvectortilelayerproperties.cpp
  src/app/vectortile/qgsvectortilelayerproperties.h
  src/core/vectortile/qgsvectortilelayer.cpp
  src/gui/vectortile/qgsvectortilebasiclabelingwidget.cpp
  src/gui/vectortile/qgsvectortilebasiclabelingwidget.h
  src/gui/vectortile/qgsvectortilebasicrendererwidget.cpp
  src/gui/vectortile/qgsvectortilebasicrendererwidget.h
  src/ui/qgsvectortilelayerpropertiesbase.ui
Labels: Freeze Exempt, Vector tiles

#36498 QgsMeshContours::exportLines(): fix duplicate expression (spotted by cppcheck)
  src/analysis/mesh/qgsmeshcontours.cpp
Labels: Bug

#36503 disable inappropriate vector settings when 1D mesh
  src/app/mesh/qgsmeshrenderervectorsettingswidget.cpp
  src/ui/mesh/qgsmeshrenderervectorsettingswidgetbase.ui
Labels: Bug, Mesh

#36506 disable dataset from activedatasetwidget
  src/app/mesh/qgsmeshdatasetgrouptreeview.cpp
Labels: Bug, Mesh

#36005 Ensure 3D rendering options are disabled when adding a mesh layer
  src/app/3d/qgsmeshlayer3drendererwidget.cpp
Labels: 3D, Bug, Mesh

#36505 Expose to public API the option to create separate files for each logical layer in a layout
  python/core/auto_generated/layout/qgslayoutexporter.sip.in
  src/core/layout/qgslayoutexporter.cpp
  src/core/layout/qgslayoutexporter.h
Labels: API, Print Layouts

#36519 Fix crash when masking widget is not initialized
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: Bug

#36521 [Expression] Do not transform NULL integer as 0 when concat
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_10

#36376 Don't refresh single pseudo color band classication when min/max hasn't really changed
  src/gui/raster/qgssinglebandpseudocolorrendererwidget.cpp
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgssinglebandpseudocolorrendererwidget.cpp
Labels: Bug, backport release-3_10

#36523 Fix rectangle from 3 points
  src/app/qgsmaptooladdrectangle.cpp
  src/app/qgsmaptoolrectangle3points.cpp
Labels: Bug, Digitizing

#36421 Registry for localized data paths
  python/core/auto_generated/qgsapplication.sip.in
  python/core/auto_generated/qgslocalizeddatapathregistry.sip.in
  python/core/core_auto.sip
  src/app/qgsoptions.cpp
  src/app/qgsoptions.h
  src/core/CMakeLists.txt
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/core/qgslocalizeddatapathregistry.cpp
  src/core/qgslocalizeddatapathregistry.h
  src/core/qgspathresolver.cpp
  src/ui/qgsoptionsbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgslocalizeddatapathregistry.py
Labels: Feature, Freeze Exempt, Needs Documentation

#36571 compile custom widgets on Docker image
  .docker/qgis.dockerfile
Labels: Squash!, backport release-3_10

#36568 Fix running script algorithm from editor dialog
  python/plugins/processing/script/ScriptEditorDialog.py
Labels: Processing

#36554 use value from context when copying variables from the editor widget (fix #30641)
  src/gui/qgsvariableeditorwidget.cpp
Labels: Bug, backport release-3_10

#36572 Fix incorrect dialog title for raster layer properties
  src/gui/qgsoptionsdialogbase.cpp
Labels: backport release-3_10

#36570 Implement spatial index detection for OGR provider
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
Labels: Processing, backport release-3_10

#36569 Fix memory layers lose CRS definition if it does not have an authority associated with it
  src/core/providers/memory/qgsmemoryproviderutils.cpp
  tests/src/python/test_provider_memory.py
Labels: backport release-3_10

#36609 [themes] Fix slider 'fill' missing in themes and improve looks of night mapping theme slider
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_10

#36601 Warn when previewing an atlas and a feature with no geometry is encountered
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Print Layouts, backport release-3_10

#36598 Fix exception when changing layer in Refactor Fields algorithm
  python/plugins/processing/algs/qgis/ui/FieldsMappingPanel.py
Labels: Processing

#36603 Improve plugin watchdog message and UX
  src/app/qgspluginregistry.cpp
Labels: GUI/UX

#36600 Fix brush opacity applied to pen when exporting to printers
  src/core/symbology/qgsfillsymbollayer.cpp
Labels: backport release-3_10

#36587 Vertex tool, fix escape to stop dragging edge
  src/app/vertextool/qgsvertextool.cpp
Labels: backport release-3_10

#36586 Cleanup leftover rubberband in identify and select tools
  src/app/qgsmaptoolselectionhandler.cpp
Labels: backport release-3_10

#36627 Dev server workaround for processEvents
  src/server/qgis_mapserver.cpp
Labels: Bug, Server

#36640 Tweak temporal playback behavior
  src/core/qgstemporalnavigationobject.cpp
Labels: Temporal

#36631 Flag SAGA 'Merge Layers' algorithm as having known issues
  python/plugins/processing/algs/saga/description/MergeLayers.txt
Labels: Processing, backport release-3_10

#36650 [ui] Make temporal controller's forward, backward and pause buttons behave as animation state toggle.
  python/gui/auto_generated/qgstemporalcontrollerwidget.sip.in
  src/gui/qgstemporalcontrollerwidget.cpp
  src/gui/qgstemporalcontrollerwidget.h
Labels: Temporal

#36666 Allow clearing heatmap weighting field
  src/gui/symbology/qgsheatmaprendererwidget.cpp
Labels: backport release-3_10

#36667 Fix random sort order of symbols in Symbol Export dialog
  src/gui/symbology/qgsstyleexportimportdialog.cpp
  src/gui/symbology/qgsstyleexportimportdialog.h
Labels: backport release-3_10

#36665 Ensure symbol opacity is always ignored for selections
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
Labels: backport release-3_10

#36668 [temporal] Make the temporal controller's set range button more useable
  src/gui/qgstemporalcontrollerwidget.cpp
  src/gui/qgstemporalcontrollerwidget.h
  src/ui/qgstemporalcontrollerwidgetbase.ui
Labels: Temporal

#36633 [MESH] fix streamlines and traces renderer when vector is null
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshtracerenderer.cpp
Labels: Bug, Mesh

#36677 Fix transaction groups on multiple GPKGs
  src/core/qgsproject.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Bug, backport release-3_10

#36618 [processing] fix handling for stdout and file outputs in GRASS
  python/plugins/processing/algs/grass7/Grass7Algorithm.py
  python/plugins/processing/algs/grass7/ext/i_cluster.py
  python/plugins/processing/algs/grass7/ext/i_gensig.py
  python/plugins/processing/algs/grass7/ext/i_gensigset.py
Labels: Bug, Processing, backport release-3_10

#36644 correctly redirect algorithm output from stdout to Processing output
  python/plugins/processing/algs/grass7/description/r.category.out.txt
  python/plugins/processing/algs/grass7/description/r.distance.txt
  python/plugins/processing/algs/grass7/description/r.transect.txt
  python/plugins/processing/algs/grass7/description/r.what.color.txt
  python/plugins/processing/tests/testdata/expected/grass7/r.distance.txt
  python/plugins/processing/tests/testdata/expected/grass7/r.tileset.txt
  python/plugins/processing/tests/testdata/expected/grass7/r.transect.txt
  python/plugins/processing/tests/testdata/expected/grass7/r.what.colors.txt
  python/plugins/processing/tests/testdata/expected/grass7/r_category_out.html
  python/plugins/processing/tests/testdata/expected/grass7/r_distance.html
  python/plugins/processing/tests/testdata/expected/grass7/r_transect.html
  python/plugins/processing/tests/testdata/expected/grass7/r_what_color.html
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests.yaml
Labels: Bug, Processing, backport release-3_10

#36607 Drop the evis plugin
  debian/qgis.install
  ms-windows/osgeo4w/package.cmd
  ms-windows/plugins.nsh
  src/plugins/CMakeLists.txt
  src/plugins/evis/CMakeLists.txt
  src/plugins/evis/README.TXT
  src/plugins/evis/databaseconnection/evisdatabaseconnection.cpp
  src/plugins/evis/databaseconnection/evisdatabaseconnection.h
  src/plugins/evis/databaseconnection/evisdatabaseconnectiongui.cpp
  src/plugins/evis/databaseconnection/evisdatabaseconnectiongui.h
  src/plugins/evis/databaseconnection/evisdatabaselayerfieldselectiongui.cpp
  src/plugins/evis/databaseconnection/evisdatabaselayerfieldselectiongui.h
  src/plugins/evis/databaseconnection/evisquerydefinition.cpp
  src/plugins/evis/databaseconnection/evisquerydefinition.h
  src/plugins/evis/eventbrowser/evisconfiguration.cpp
  src/plugins/evis/eventbrowser/evisconfiguration.h
  src/plugins/evis/eventbrowser/evisgenericeventbrowsergui.cpp
  src/plugins/evis/eventbrowser/evisgenericeventbrowsergui.h
  src/plugins/evis/eventbrowser/evisimagedisplaywidget.cpp
  src/plugins/evis/eventbrowser/evisimagedisplaywidget.h
  src/plugins/evis/evis.cpp
  src/plugins/evis/evis.h
  src/plugins/evis/idtool/eviseventidtool.cpp
  src/plugins/evis/idtool/eviseventidtool.h
  src/plugins/evis/resources/eVisDatabaseConnection.png
  src/plugins/evis/resources/eVisEventBrowser.png
  src/plugins/evis/resources/eVisEventIdTool.png
  src/plugins/evis/resources/eVisHighlightSymbol.png
  src/plugins/evis/resources/eVisPointerSymbol.png
  src/plugins/evis/resources/evis.qrc
  src/plugins/evis/ui/evisdatabaseconnectionguibase.ui
  src/plugins/evis/ui/evisdatabaselayerfieldselectionguibase.ui
  src/plugins/evis/ui/evisgenericeventbrowserguibase.ui
Labels: Needs Documentation

#36643 Fix oriented minimum bounding box calculation is wrong in some cases
  python/plugins/processing/tests/testdata/expected/mbg_rect_field.gml
  python/plugins/processing/tests/testdata/expected/oriented_bounds.gml
  src/core/geometry/qgsgeometry.cpp
  tests/src/core/testqgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: backport release-3_10

#36645 fix r.tileset Processing GRASS algorithm
  python/plugins/processing/algs/grass7/Grass7Algorithm.py
  python/plugins/processing/algs/grass7/description/r.tileset.txt
  python/plugins/processing/algs/grass7/ext/r_tileset.py
  python/plugins/processing/tests/testdata/expected/grass7/r_tileset.html
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests.yaml
Labels: Bug, Processing, backport release-3_10

#36692 [code editor] Improve creation of monospace font by:
  src/gui/qgscodeeditor.cpp
  src/gui/qgscodeeditorexpression.cpp
  src/gui/qgscodeeditorhtml.cpp
  src/gui/qgscodeeditorsql.cpp
Labels: GUI/UX

#36708 PostGIS support for importing layers with binary fields
  src/providers/postgres/qgspostgresprovider.cpp
Labels: backport release-3_10

#36702 PG raster: fix wrong wkb data type conversion
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterutils.cpp
  src/providers/postgres/raster/qgspostgresrasterutils.h
Labels: Bug, Data Provider

#36717 [WFS provider] Parse WMS service exceptions (fixes #29866)
  src/providers/wfs/qgswfscapabilities.cpp
  tests/src/python/test_provider_wfs.py
Labels: Bug, backport release-3_10

#36722 QgsBinaryWidgetWrapper: fix focus-related crash
  src/gui/CMakeLists.txt
  src/gui/editorwidgets/qgsbinarywidgetwrapper.cpp
  src/gui/qgsfocuskeeper.cpp
  src/gui/qgsfocuskeeper.h
Labels: Bug, backport release-3_10

#36731 check return value from the QgsRelief and notify user about errors (fix #17452)
  python/plugins/processing/algs/qgis/Relief.py
Labels: Bug, Processing, backport release-3_10

#36200 [feature] Snapping also snaps to the currently digitised feature
  images/images.qrc
  images/themes/default/mIconSnappingSelf.svg
  python/core/auto_generated/qgscadutils.sip.in
  python/core/auto_generated/qgssnappingconfig.sip.in
  python/core/auto_generated/qgssnappingutils.sip.in
  src/app/qgssnappingwidget.cpp
  src/app/qgssnappingwidget.h
  src/core/qgscadutils.cpp
  src/core/qgscadutils.h
  src/core/qgssnappingconfig.cpp
  src/core/qgssnappingconfig.h
  src/core/qgssnappingutils.cpp
  src/core/qgssnappingutils.h
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsmaptoolcapture.cpp
  src/gui/qgsmaptoolcapture.h
  tests/src/app/testqgsmaptooladdfeatureline.cpp
  tests/src/core/testqgssnappingutils.cpp
Labels: Feature, Freeze Exempt

#36723 Don't refresh the map canvas multiple times during atlas exports
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
Labels: Print Layouts, backport release-3_10

#36732 fix layout of the QgsHistogram widget to prevent histogram collapsing (fix #25197)
  src/ui/qgshistogramwidgetbase.ui
Labels: Bug, GUI/UX, backport release-3_10

#36736 quote project file path when passing it to the crash handler (fix #25532)
  src/app/qgscrashhandler.cpp
Labels: Bug, backport release-3_10

#36730 No initial underscores in variables
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
Labels: Cleanup

#36751 [Backport 3.10] addVectorLayerPrivate(): avoid crash in the non-nominal case when added a layer for a non-existing provider
  src/app/qgisapp.cpp
Labels: Backport, Bug

#36738 Fix crash on "Open Directory" entry of contextual menu of recent projects
  src/app/qgswelcomepage.cpp
Labels: Bug, backport release-3_10

#36756 Fix 'selected features only' is disabled by default
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
Labels: Processing

#36752 [WMS provider] Detection of SERVICE=WMTS in url must be case insensitive
  src/providers/wms/qgswmscapabilities.cpp
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
Labels: Bug, backport release-3_10

#36754 [Server, WCS] Fix several non compliance errors in CoverageDescription output
  src/server/services/wcs/qgswcsutils.cpp
  tests/testdata/qgis_server/wcs_describecoverage.txt
Labels: Bug, Server, backport release-3_10

#36772 [VirtualLayer] Remove useless qWarning message
  src/providers/virtual/qgsvirtuallayerqueryparser.cpp
Labels: Bug

#36771 Try to reactivate tests for legend and json export
  tests/src/core/testqgslegendrenderer.cpp
Labels: Bug

#36758 QgsVectorLayerSaveAsDialog: make it work with custom CRS
  src/app/qgisapp.cpp
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
  src/gui/ogr/qgsvectorlayersaveasdialog.h
  tests/src/app/testqgsvectorlayersaveasdialog.cpp
Labels: Bug, backport release-3_10

#36774 improve logic for choosing style type when exporting raster style (fix #35944)
  src/gui/raster/qgsrasterlayerproperties.cpp
Labels: Bug, GUI/UX, backport release-3_10

#36785 Force reload when a user clicks the "Reload all repositories" button
  python/pyplugin_installer/installer.py
  python/pyplugin_installer/installer_data.py
Labels: Plugins, backport release-3_10

#36792 [VirtualLayer] Fix loss precision when rect filtering
  src/providers/virtual/qgsvirtuallayerfeatureiterator.cpp
  src/providers/virtual/qgsvirtuallayersqlitehelper.cpp
  src/providers/virtual/qgsvirtuallayersqlitehelper.h
  tests/src/python/test_provider_virtual.py
Labels: Bug, backport release-3_10

#36797 Don't modify project when snapping utils config is modified
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_10

#36801 [Postgres] Set SQL filter on the right row for datasource
  src/providers/postgres/qgspgtablemodel.cpp
Labels: Bug, backport release-3_10

#36815 Correctly close algorithm dialog when escape key pressed
  python/gui/auto_generated/processing/qgsprocessingalgorithmdialogbase.sip.in
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.h
Labels: Processing

#36762 PG raster: tests and data for issue #36689
  tests/src/python/test_provider_postgresraster.py
  tests/testdata/provider/postgresraster/bug_36689_pg_raster.sql
Labels: Bug, Data Provider

#36823 DB Manager: remove semicolon from SQL window queries
  python/plugins/db_manager/dlg_sql_window.py
Labels: Bug, DB Manager

#36839 [gps] Don't correct for true north by default, and add manual bearing offset option
  resources/qgis_global_settings.ini
  src/app/gps/qgsgpsinformationwidget.cpp
Labels: GPS

#36802 Fix GPKG and Spatialite UNIQUE and NOT NULL constraints detection
  python/core/auto_generated/qgssqliteutils.sip.in
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgssqliteutils.cpp
  src/core/qgssqliteutils.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/providertestbase.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_spatialite.py
  tests/testdata/provider/geopackage.gpkg
Labels: Bug, Data Provider

#36822 fix calculating raster size in the TIN and IDW algorithms to maintain accurate pixel size (fix #31970)
  python/plugins/processing/algs/qgis/IdwInterpolation.py
  python/plugins/processing/algs/qgis/TinInterpolation.py
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
Labels: Bug, Processing, backport release-3_10
