Repository qgis/QGIS, pull requests merged in 2020-06, with the labels that each got.

#36849 Fix order_by parameter in relation_aggregate function help
  resources/function_help/json/relation_aggregate
Labels: backport release-3_10

#36726 hide mesh 3D arrow settings for terrain settings
  src/app/3d/qgsmesh3dsymbolwidget.cpp
  src/app/3d/qgsmesh3dsymbolwidget.h
Labels: 3D, Bug, Mesh

#35439 Vertex tool delete ring / part fix
  src/app/vertextool/qgsvertextool.cpp
  tests/src/app/testqgsvertextool.cpp
Labels: Bug

#36851 Fix valid input types for labels placement Priority data-defined parameter
  src/core/labeling/qgspallabeling.cpp
Labels: backport release-3_10

#36428 Safename for scope variable shouldn't contain ".". Fixes #36377
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, Squash!, backport release-3_10

#35461 [layers-panel] Changes to layer mark in layer tree view
  src/gui/layertree/qgslayertreeview.cpp
  src/gui/layertree/qgslayertreeview.h
  src/gui/layertree/qgslayertreeviewitemdelegate.cpp
Labels: Squash!

#36824 FIX #35196, layer was not set on QgsFieldExpressionWidget
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/gui/attributeformconfig/qgsattributeformcontaineredit.h
  src/gui/vector/qgsattributesformproperties.cpp
Labels: backport release-3_10

#36776 [AttributeTable] Fix NULL value relation sort
  src/core/fieldformatter/qgsvaluerelationfieldformatter.cpp
  tests/src/core/testqgsvaluerelationfieldformatter.cpp
Labels: Bug, backport release-3_10

#36769 Oracle - Wrong default value FIX #34482
  src/providers/oracle/ocispatial/qsql_ocispatial.cpp
  tests/src/python/test_provider_oracle.py
Labels: backport release-3_10

#36866 Optimize unique values checks in QgsVectorLayerUtils
  src/core/qgsvectorlayerutils.cpp
  tests/src/python/test_qgsvectorlayerutils.py
Labels: Bug

#36804 ValueMap widget: show unmatched items in ()
  src/gui/editorwidgets/qgsvaluemapwidgetwrapper.cpp
Labels: Bug

#36831 Fixes DB manager queries with duplicated field names
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug

#36881 Fix broken use of HTML entities for property help strings
  src/core/qgsproperty.cpp
Labels: Bug, backport release-3_10

#36899 Remove 'fake' tree view code from layer tree model symbol icon creation
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: backport release-3_10

#36910 Fix segfault when adding a layer
  src/core/qgssqliteutils.cpp
Labels: Bug

#36895 3.10 Backports for db manager fixes
  python/plugins/db_manager/dlg_sql_window.py
Labels: Backport, Bug

#36913 Disable azure 32 bit builds (hopefully temporarily!)
  .ci/azure-pipelines/azure-pipelines.yml
Labels: Infrastructure

#36852 avoid NaN value between two faces
  src/core/mesh/qgsmeshlayer.cpp
Labels: Bug, Mesh

#36888 Fix svg parameters cannot be changed
  src/gui/layout/qgslayoutpicturewidget.cpp
Labels: Print Layouts

#36919 [python console] Improve key up/down press for multiline command string
  python/console/console_sci.py
Labels: Bug, GUI/UX, Needs Backporting

#36931 fix menu entry for Split Vector Layer algorithm
  python/plugins/processing/gui/menus.py
Labels: Bug, Processing

#36923 Remember layout designer window positions
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: backport release-3_10

#36921 Limit scope of Ctrl+C shortcut
  python/console/console_output.py
  src/app/qgisapp.cpp
  src/ui/qgisapp.ui
Labels: Bug, backport release-3_10

#36946 Set correct output layer type for Point to Layer algorithm
  src/analysis/processing/qgsalgorithmpointtolayer.cpp
Labels: Processing, backport release-3_10

#36936 Clarify required location of Qt for OSX install
  INSTALL
  doc/osx.t2t
Labels: Documentation

#36937 Fix GPKG delete from browser stored connection
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: Bug, QGIS Browser

#36963 Avoid useless join fetches when joined table is empty
  src/core/qgsvectorlayerfeatureiterator.cpp
Labels: Optimization

#36971 [themes] Avoid styling tree view item's hover state by default
  resources/themes/Blend of Gray/icons/qcheckbox-intermediary.svg
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/icons/qcheckbox-intermediary.svg
  resources/themes/Night Mapping/style.qss
Labels: Bug, GUI/UX, backport release-3_10

#36974 Use hasFeatures instead of featureCount (followup PR #36963 comments)
  src/core/qgsvectorlayerfeatureiterator.cpp
Labels: Bug

#36954 warn if there is no style associated with a rule (fix #23048)
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: Bug, GUI/UX

#36945 Ensure that fields required by marker symbol backgrounds for labels are fetched when rendering
  python/core/auto_generated/textrenderer/qgstextbackgroundsettings.sip.in
  python/core/auto_generated/textrenderer/qgstextbuffersettings.sip.in
  python/core/auto_generated/textrenderer/qgstextformat.sip.in
  python/core/auto_generated/textrenderer/qgstextmasksettings.sip.in
  python/core/auto_generated/textrenderer/qgstextshadowsettings.sip.in
  src/core/labeling/qgspallabeling.cpp
  src/core/textrenderer/qgstextbackgroundsettings.cpp
  src/core/textrenderer/qgstextbackgroundsettings.h
  src/core/textrenderer/qgstextbuffersettings.cpp
  src/core/textrenderer/qgstextbuffersettings.h
  src/core/textrenderer/qgstextformat.cpp
  src/core/textrenderer/qgstextformat.h
  src/core/textrenderer/qgstextmasksettings.cpp
  src/core/textrenderer/qgstextmasksettings.h
  src/core/textrenderer/qgstextshadowsettings.cpp
  src/core/textrenderer/qgstextshadowsettings.h
Labels: Bug

#36860 fix scientific notation in scale notation, fix #36859
  src/app/qgsprojectproperties.cpp
  src/app/qgsstatusbarscalewidget.cpp
  src/gui/qgsscalecombobox.cpp
  tests/src/gui/testqgsscalecombobox.cpp
Labels: Bug, backport release-3_10

#36959 Fix raster layer names in GeoPDF exports are lost
  src/core/qgsmaprenderertask.cpp
  src/core/qgsmaprenderertask.h
Labels: Bug, backport release-3_10

#36958 Fix capitalization/spacing in ArcGIS MapServer/FeatureServer strings
  src/gui/qgsmanageconnectionsdialog.cpp
  src/providers/arcgisrest/qgsafsdataitemguiprovider.cpp
  src/providers/arcgisrest/qgsafsdataitems.cpp
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/arcgisrest/qgsafsprovider.h
  src/providers/arcgisrest/qgsafsprovidergui.cpp
  src/providers/arcgisrest/qgsamsdataitemguiprovider.cpp
  src/providers/arcgisrest/qgsamsdataitems.cpp
  src/providers/arcgisrest/qgsamsprovider.cpp
  src/providers/arcgisrest/qgsamsprovidergui.cpp
  src/ui/qgisapp.ui
Labels: Needs Documentation

#36909 Fix styles are not copied in offline editing
  python/core/auto_generated/qgsmaplayerstylemanager.sip.in
  src/core/qgsmaplayerstylemanager.cpp
  src/core/qgsmaplayerstylemanager.h
  src/core/qgsofflineediting.cpp
  tests/src/core/testqgsmaplayerstylemanager.cpp
  tests/src/core/testqgsofflineediting.cpp
Labels: Bug, backport release-3_10

#36980 Windows GPKG project storage: fix path encoding
  src/core/providers/ogr/qgsgeopackageprojectstorage.cpp
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: Bug, Windows, backport release-3_10

#36972 Browser GPKG: fix drag and drop issue
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: Bug, QGIS Browser, backport release-3_10

#36988 [expression] Add optional language parameter to format_number() to control locale across different systems
  resources/function_help/json/format_number
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, backport release-3_10

#36997 Server: remove unused allowMethod
  python/server/auto_generated/qgsserverapi.sip.in
  python/server/auto_generated/qgsservice.sip.in
  src/server/qgsserverapi.h
  src/server/qgsservice.h
  src/server/services/DummyService/dummy.cpp
  src/server/services/wcs/qgswcs.cpp
  src/server/services/wfs/qgswfs.cpp
  src/server/services/wms/qgswms.cpp
  src/server/services/wmts/qgswmts.cpp
Labels: Bug, Server

#36865 make QgsLocalizedPathRegistry thread safe
  CMakeLists.txt
  python/core/auto_generated/qgslocalizeddatapathregistry.sip.in
  src/core/qgslocalizeddatapathregistry.cpp
  src/core/qgslocalizeddatapathregistry.h
Labels: Squash!

#36932 Add option to disable ssl verification in the Metasearch plugin
  python/plugins/MetaSearch/dialogs/maindialog.py
  python/plugins/MetaSearch/ui/maindialog.ui
Labels: backport release-3_10

#37006 Fix labeling aligment DD activation signals
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
Labels: Bug, backport release-3_10

#37024 Fix read/write of style manager in vector tile layer (fixes #36018)
  src/core/vectortile/qgsvectortilelayer.cpp
Labels: Vector tiles

#37031 Handle NULL case in value map when NULL is not in the map
  src/gui/editorwidgets/qgsvaluemapwidgetwrapper.cpp
Labels: Bug, GUI/UX

#37025 Add metadata setting for file destination parameters to avoid file overwrite confirmation prompt
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  src/core/processing/qgsprocessingparameters.h
  src/gui/processing/qgsprocessingoutputdestinationwidget.cpp
Labels: Processing

#37047 Value map: remove hack and fix double parenthesis
  src/gui/editorwidgets/qgsvaluemapwidgetwrapper.cpp
  src/gui/editorwidgets/qgsvaluemapwidgetwrapper.h
Labels: Bug

#37026 [3d] Fix reprojection of features shows no features
  src/3d/qgsrulebasedchunkloader_p.cpp
  src/3d/qgsvectorlayerchunkloader_p.cpp
Labels: 3D

#37042 Fix DB manager date time display in SQL window
  python/plugins/db_manager/db_plugins/postgis/connector.py
Labels: Bug, DB Manager

#37043 More PG tests for datetime conversions
  tests/src/providers/testqgspostgresprovider.cpp
Labels: Data Provider, testsuite

#37050 Fix incorrect label placement after moving an 'unplaced' label
  src/app/labeling/qgsmaptoollabel.cpp
Labels: Bug, Labeling, backport release-3_10

#37022 Fix #36983 arguments of is_selected are flipped
  resources/function_help/json/is_selected
Labels: Squash!, backport release-3_10

#37063 fix : allow copying style from an unavailable layer
  src/core/qgsmaplayer.cpp
  src/core/qgsvectorlayer.cpp
Labels: Bug, backport release-3_10

#36966 Remove txt2tags dependency (use markdown instead)
  INSTALL
  INSTALL.md
  NEWS.md
  README.md
  cmake/Txt2Tags.cmake
  debian/qgis-common.install
  doc/CMakeLists.txt
  doc/INSTALL.html
  doc/INSTALL.t2t
  doc/NEWS.html
  doc/NEWS.t2t
  doc/debug-tests.t2t
  doc/iauthors.t2t
  doc/jenkins.t2t
  doc/linux.t2t
  doc/msvc.t2t
  doc/msys.t2t
  doc/mxe.t2t
  doc/osx.t2t
  doc/overview.t2t
  doc/wcs-test-server.t2t
  scripts/release.pl
  scripts/scandeps.pl
  scripts/update_news.pl
Labels: Documentation, Squash!

#37074 fix saving attributes in the service area algorithm
  python/plugins/processing/tests/testdata/custom/multi_polys_with_empty_geoms.gpkg
  python/plugins/processing/tests/testdata/expected/multi_polys_non_null_one_empty.gpkg
  python/plugins/processing/tests/testdata/expected/results_remove_null_geometries.gpkg
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_lines.gml
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_nodes_bounds.dbf
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_nodes_bounds.gml
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_nodes_bounds.prj
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_nodes_bounds.shp
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_nodes_bounds.shx
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_nodes_bounds.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
Labels: Bug, Processing, backport release-3_10

#37092 Improve method for calculation of rectangle centers
  src/core/geometry/qgsrectangle.h
  tests/src/core/testqgsrectangle.cpp
  tests/testdata/control_images/map_renderer/expected_staged_render_raster/expected_staged_render_raster_mask.png
Labels: backport release-3_10

#37111 fix mesh edges centroid calculation
  src/core/mesh/qgstriangularmesh.cpp
Labels: Bug, Crash/Data Corruption, Mesh

#37093 Fix image size ignored in image widget
  src/gui/editorwidgets/qgsexternalresourcewidgetwrapper.cpp
Labels: Bug, Forms

#37108 fix MDAL CMakeList.txt for sqlite
  src/providers/mdal/CMakeLists.txt
Labels: Bug, Data Provider, Mesh

#37112 [vector tile] Fix issue with disappearing features (fixes #36982)
  python/core/auto_generated/vectortile/qgsvectortilerenderer.sip.in
  src/core/vectortile/qgsvectortilebasiclabeling.cpp
  src/core/vectortile/qgsvectortilebasiclabeling.h
  src/core/vectortile/qgsvectortilebasicrenderer.cpp
  src/core/vectortile/qgsvectortilelabeling.h
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
  src/core/vectortile/qgsvectortilerenderer.h
Labels: Vector tiles

#37130 [vector tile] Add pseudo-unique FIDs where none are given (fixes #36995)
  src/core/vectortile/qgsvectortilemvtdecoder.cpp
Labels: Vector tiles

#37128 [processing][grass] Correctly return the actual generated filename locations as the algorithm results
  python/plugins/processing/algs/grass7/Grass7Algorithm.py
Labels: backport release-3_10

#37127 Fix callout rendering to rotated labels
  src/core/callouts/qgscallout.cpp
  tests/src/core/testqgscallout.cpp
  tests/testdata/control_images/callouts/expected_callout_label_anchor_bottom_left_rotated/expected_callout_label_anchor_bottom_left_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_bottom_middle_rotated/expected_callout_label_anchor_bottom_middle_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_bottom_right_rotated/expected_callout_label_anchor_bottom_right_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_centroid_rotated/expected_callout_label_anchor_centroid_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_left_rotated/expected_callout_label_anchor_left_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_right_rotated/expected_callout_label_anchor_right_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_top_left_rotated/expected_callout_label_anchor_top_left_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_top_middle_rotated/expected_callout_label_anchor_top_middle_rotated.png
  tests/testdata/control_images/callouts/expected_callout_label_anchor_top_right_rotated/expected_callout_label_anchor_top_right_rotated.png
Labels: backport release-3_10

#37129 Matrix configuration dialog should open as an inline panel, not a dialog
  src/gui/processing/qgsprocessingmatrixparameterdialog.cpp
  src/gui/processing/qgsprocessingmatrixparameterdialog.h
  src/ui/processing/qgsprocessingmatrixparameterdialogbase.ui
  tests/src/gui/testprocessinggui.cpp
Labels: Processing

#37133 [decorations] Fix hardcoded black color for the grid decoration
  src/app/decorations/qgsdecorationgrid.cpp
  src/app/decorations/qgsdecorationgrid.h
  src/app/decorations/qgsdecorationgriddialog.cpp
  src/app/decorations/qgsdecorationgriddialog.h
  src/app/decorations/qgsdecorationtitle.h
Labels: Needs Documentation

#37145 fix multi mesh from browser
  src/app/qgisapp.cpp
Labels: Bug, Mesh

#37135 Fix editor vertex with "non-dot" locales
  src/app/vertextool/qgsvertexeditor.cpp
  src/app/vertextool/qgsvertexeditor.h
Labels: Bug, backport release-3_10

#37165 Try to re-enable MXE
  .github/workflows/mxe.yml
Labels: Infrastructure

#37167 [backport] Fix labeling aligment DD activation signals
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
Labels: Backport, Bug

#37168 [backport] Fix image size ignored in image widget
  src/gui/editorwidgets/qgsexternalresourcewidgetwrapper.cpp
Labels: Backport, Bug

#37155 Replace em dash with QChar unicode literal in QStringLiteral
  src/app/mesh/qgsmeshlayerproperties.cpp
  src/gui/processing/qgsprocessingparameterswidget.cpp
  src/gui/qgsexpressionselectiondialog.cpp
  src/gui/qgsoptionsdialogbase.cpp
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: Bug, Windows

#37180 Modernize language, avoid insensitive words
  .ci/travis/linux/scripts/docker-qgis-test.sh
  .ci/travis/linux/scripts/test_blocklist.txt
  .ci/travis/macos/blocklist.txt
  .ci/travis/macos/script.sh
  python/core/auto_generated/auth/qgsauthcertutils.sip.in
  python/core/auto_generated/qgsmaplayerproxymodel.sip.in
  python/core/auto_generated/qgsvectorlayerjoininfo.sip.in
  python/core/conversions.sip
  scripts/runtests_local_travis_config.sh
  scripts/sipdiff
  src/core/auth/qgsauthcertutils.cpp
  src/core/auth/qgsauthcertutils.h
  src/core/qgsauxiliarystorage.cpp
  src/core/qgsjsonutils.cpp
  src/core/qgsmaplayerproxymodel.cpp
  src/core/qgsmaplayerproxymodel.h
  src/core/qgsvectorlayerjoininfo.cpp
  src/core/qgsvectorlayerjoininfo.h
  src/gui/layout/qgslayoutlegendlayersdialog.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsmaplayerproxymodel.py
  tests/src/python/test_qgsserver_security.py
Labels: Needs Documentation

#37183 [ui] Improve looks of variable editor widget on non-default themes
  src/gui/qgsvariableeditorwidget.cpp
Labels: GUI/UX

#37170 Fix option "show label" on relation editor
  src/gui/qgsattributeform.cpp
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
Labels: backport release-3_10

#37171 Fix crash and missing closest vertex in WMS identify
  src/gui/qgsmaptoolidentify.cpp
Labels: Bug, backport release-3_10

#37143 Use "markers" terminology consistently in centroid fill widget
  src/ui/symbollayer/widget_centroidfill.ui
Labels: Needs Documentation

#37197 mesh layer expose datasetIndexAtTime()
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/3d/mesh/qgsmesh3dgeometry_p.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
Labels: Bug, Mesh

#36514 [BUGFIX] Fix interpolation on split geometry
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  tests/src/core/testqgsgeometry.cpp
Labels: Bug, Digitizing

#37196 emit mesh dataset group changed after it effectively changed
  src/app/mesh/qgsrenderermeshpropertieswidget.cpp
  src/core/mesh/qgsmeshlayer.cpp
Labels: Bug, Mesh

#37238 Fix crash when disabling defined sort order in attribute table
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
  src/gui/attributetable/qgsattributetableview.cpp
Labels: backport release-3_10

#37243 fix non temporal calculated mesh dataset
  src/providers/mdal/qgsmdalprovider.cpp
Labels: Bug, Mesh

#37246 MDAL 0.6.1 patch release
  external/mdal/frmts/mdal_flo2d.cpp
  external/mdal/mdal.cpp
Labels: Bug

#37195 fix bad alloc when mesh's arrows of 3D rendering has too small spacing
  src/3d/mesh/qgsmesh3dmaterial_p.cpp
  src/3d/symbols/qgsmesh3dsymbol.cpp
  src/core/mesh/qgsmeshlayerutils.cpp
Labels: 3D, Bug, Mesh

#36741 improve geopackage support when opened through networks drives
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Bug, backport release-3_10, stale

#37261 Fix compatible model input/output types for multiinput parameters
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Processing

#37283 fix mesh active vector dataset
  src/core/mesh/qgsmeshlayer.cpp
Labels: Bug, Mesh

#37284 Fix setting a layer's Display Name field to a field name containing spaces or other special characters
  src/gui/vector/qgsvectorlayerproperties.cpp
  tests/src/gui/testqgsfieldexpressionwidget.cpp
Labels: backport release-3_10

#37287 Respect text field width specification
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: backport release-3_10

#37306 another active vector settings trouble
  src/core/mesh/qgsmeshlayer.cpp
Labels: Bug, Mesh

#37277 Fix spatialite wrong feature count
  src/providers/spatialite/qgsspatialiteprovider.cpp
Labels: Bug, Data Provider, backport release-3_10

#37295 Fix performance issue when splitting polygons
  src/core/geometry/qgsgeos.cpp
Labels: Bug, backport release-3_10

#37311 [wms] Fix broken WMS layers from servers using relative OnlineResource paths
  src/providers/wms/qgswmscapabilities.cpp
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug, backport release-3_10

#37305 Add API to retrieve QGIS version used to save a QgsProject
  python/core/auto_generated/qgsproject.sip.in
  python/core/auto_generated/qgsprojectversion.sip.in
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/core/qgsprojectversion.cpp
  src/core/qgsprojectversion.h
  tests/src/core/testqgsproject.cpp
Labels: API

#37247 Add option to calculate bearing based on travel direction
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpsinformationwidget.h
  src/ui/qgsgpsinformationwidgetbase.ui
Labels: Feature, GPS

#37207 Layout new name dialog
  python/core/auto_generated/layout/qgslayoutmanager.sip.in
  python/gui/auto_generated/qgsnewnamedialog.sip.in
  src/app/qgisapp.cpp
  src/core/layout/qgslayoutmanager.h
  src/gui/qgsnewnamedialog.cpp
  src/gui/qgsnewnamedialog.h
Labels: Squash!

#37231 [Server] WMTS Use WMS tile_buffer by using TILED param
  src/server/services/wmts/qgswmtsparameters.h
  src/server/services/wmts/qgswmtsutils.cpp
Labels: Bug, Server, backport release-3_10

#37320 Accept fields of type "name" in PG 12
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
Labels: Bug, Data Provider, backport release-3_10, backport-release-3_14

#37344 Remove outdated help for labels data-defined placement group options
  src/gui/qgstextformatwidget.cpp
Labels: Bug, GUI/UX

#37358 Fix oracle add from source select
  src/providers/oracle/qgsoraclesourceselect.h
Labels: Bug, backport-release-3_14

#37370 [ui] Improve a bunch of mesh icons to make them dark theme compatible
  images/themes/default/propertyicons/meshaveraging.svg
  images/themes/default/propertyicons/meshcontours.svg
  images/themes/default/propertyicons/meshcontoursoff.svg
  images/themes/default/propertyicons/meshframe.svg
  images/themes/default/propertyicons/meshvectors.svg
  images/themes/default/propertyicons/meshvectorsoff.svg
Labels: backport-release-3_14

#37376 OpenCL quote paths
  src/core/qgsopenclutils.cpp
Labels: Bug, backport release-3_10, backport release-3_14

#37387 Fix missing type column in layer_styles in Postgresql
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Bug, Regression, backport release-3_14

#37293 remove pointcloud installation in postgis Docker image
  tests/testdata/Dockerfile-postgis
Labels: backport release-3_10, backport release-3_14

#37410 WMS Server: Test null pointer
  src/server/services/wms/qgswmsgetcapabilities.cpp
Labels: Bug, Server, backport release-3_10, backport release-3_14

#37372 [vector layer] Fix feature request order by not working against non-provider fields
  src/core/qgsvectorlayerfeatureiterator.cpp
  src/core/qgsvectorlayerfeatureiterator.h
  tests/src/python/test_qgsfeatureiterator.py
Labels: Bug, Vectors, backport release-3_10, backport release-3_14

#37403 Reactivate WMS GetPrint unit tests
  .ci/travis/linux/scripts/test_blocklist.txt
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_wms_getprint.py
  tests/src/python/test_qgsserver_wms_getprint_atlas.py
  tests/src/python/test_qgsserver_wms_getprint_extra.py
  tests/src/python/test_qgsserver_wms_getprint_outputs.py
Labels: Needs Backporting, Server, backport release-3_14, testsuite

#37429 [feature] Server WFS3 api sorting
  resources/server/api/ogc/schema.json
  src/server/qgsserver.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_sort_by_name.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_sort_by_name_asc.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_sort_by_name_desc.json
  tests/testdata/qgis_server/api/test_wfs3_landing_page.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.json
Labels: Feature, Needs Documentation, Server, backport release-3_14

#37411 Name role in expression item to be stable on fields in the expression builder
  python/gui/auto_generated/qgsexpressiontreeview.sip.in
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressiontreeview.cpp
  src/gui/qgsexpressiontreeview.h
Labels: Bug, backport release-3_14

#37335 [backport release-3_10][wms] Fix broken WMS layers from servers using relative OnlineResourc…
  src/providers/wms/qgswmscapabilities.cpp
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
Labels: Backport, Data Provider

#37464 Add modeler algorithm to create directories
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmcreatedirectory.cpp
  src/analysis/processing/qgsalgorithmcreatedirectory.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Feature, Processing

#37455 Fix raster quantile classification
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/raster/qgsrasterinterface.cpp
  src/gui/raster/qgssinglebandpseudocolorrendererwidget.cpp
Labels: Bug, Data Provider, Raster, backport release-3_14

#37457 Fix raster quantile with float
  src/core/raster/qgsrasterinterface.cpp
Labels: Bug, Raster, backport release-3_10, backport release-3_14

#37477 Fix GPKG project storage with UTF8 names on windows
  src/core/providers/ogr/qgsgeopackageprojectstorage.cpp
Labels: Bug, backport release-3_10, backport release-3_14

#37468 Fix default extent is not shown in extent widget
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Processing, backport release-3_14

#37467 [mssql] Reallow creating connections with empty provider/dsn strings
  src/providers/mssql/qgsmssqlnewconnection.cpp
Labels: backport release-3_10, backport release-3_14

#37492 Minimum year possible in temporal controller should be 1
  src/gui/qgstemporalcontrollerwidget.cpp
Labels: backport release-3_14

#37425 [Backport release-3_10] Fix regression in QGIS Server WMS GetPrint request with a group layer
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_wms_getprint.py
  tests/src/python/test_qgsserver_wms_getprint_atlas.py
  tests/src/python/test_qgsserver_wms_getprint_extra.py
  tests/src/python/test_qgsserver_wms_getprint_outputs.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Group/WMS_GetPrint_Group.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Group/WMS_GetPrint_Group_mask.png
  tests/testdata/qgis_server_accesscontrol/project_groups.qgs
Labels: Backport, Regression, Server

#35468 Vertex tool should not select invisible features
  src/app/vertextool/qgsvertextool.cpp
Labels: Bug
