Repository qgis/QGIS, pull requests merged in 2020-03, with the labels that each got.

#34801 [Backport Release-3_12][Bugfix][Server] WMS GetFeatureInfo provides bounding box when configured
  src/server/services/wms/qgswmsrenderer.cpp
  tests/testdata/qgis_server/wms_getfeatureinfo-group_name-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-thousands-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-values0-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_line_tolerance_20_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_notvisible.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_point_tolerance_0_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_point_tolerance_20_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_polygon_tolerance_20_text_xml.txt
Labels: Backport, Bug, Server

#34802 [Backport Release-3_10][Bugfix][Server] WMS GetFeatureInfo provides bounding box when configured
  src/server/services/wms/qgswmsrenderer.cpp
  tests/testdata/qgis_server/wms_getfeatureinfo-group_name-notqueryable.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-thousands-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-values0-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_line_tolerance_20_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_notvisible.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_point_tolerance_0_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_point_tolerance_20_text_xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_polygon_tolerance_20_text_xml.txt
Labels: Backport, Bug, Server

#33622 New snapping modes: Centroid and middle of a segment (midpoint)
  images/images.qrc
  images/themes/default/mIconSnappingArea.svg
  images/themes/default/mIconSnappingCentroid.svg
  images/themes/default/mIconSnappingMiddle.svg
  python/core/auto_additions/qgssnappingconfig.py
  python/core/auto_generated/qgspointlocator.sip.in
  python/core/auto_generated/qgssnappingconfig.sip.in
  python/gui/auto_generated/qgsvertexmarker.sip.in
  src/app/qgsoptions.cpp
  src/app/qgssnappinglayertreemodel.cpp
  src/app/qgssnappingwidget.cpp
  src/app/qgssnappingwidget.h
  src/app/vertextool/qgsvertextool.cpp
  src/core/qgspointlocator.cpp
  src/core/qgspointlocator.h
  src/core/qgssnappingconfig.cpp
  src/core/qgssnappingconfig.h
  src/core/qgssnappingutils.cpp
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgssnapindicator.cpp
  src/gui/qgsvertexmarker.cpp
  src/gui/qgsvertexmarker.h
  tests/src/app/testqgsmaptooladdfeaturepoint.cpp
  tests/src/app/testqgsmaptoolmovefeature.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
  tests/src/app/testqgsmaptoolrotatefeature.cpp
  tests/src/app/testqgsmaptooltrimextendfeature.cpp
  tests/src/app/testqgsvertextool.cpp
  tests/src/core/testqgscadutils.cpp
  tests/src/core/testqgssnappingutils.cpp
Labels: Digitizing, Feature, Needs Documentation, Squash!

#34814 [ui] Add missing label mask panel title
  src/ui/qgstextformatwidgetbase.ui
Labels: GUI/UX, backport release-3_12

#34815 Connections API fix Postgres char conversion in execSQL
  src/providers/postgres/qgspostgresproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: Bug, backport release-3_10, backport release-3_12

#34821 QtDBus linked to other Qt frameowrks, needs bundling
  mac/cmake/1qt.cmake.in
Labels: backport release-3_10, backport release-3_12

#34835 Qscintilla library may have _qt5 in name
  mac/cmake/1qt.cmake.in
Labels: backport release-3_10, backport release-3_12

#34770 [backport 3.12] Do not replace plus by space in REQUEST_BODY
  src/server/qgsrequesthandler.cpp
  tests/src/python/test_qgsserver_request.py
Labels: Backport, Bug, Server

#34771 [backport 3.10] Do not replace plus by space in REQUEST_BODY
  src/server/qgsrequesthandler.cpp
  tests/src/python/test_qgsserver_request.py
Labels: Backport, Bug, Server

#34837 Move almost all the remaining Python code for model graphic items to c++
  images/images.qrc
  images/themes/default/mIconModelInput.svg
  images/themes/default/mIconModelOutput.svg
  python/gui/auto_generated/processing/models/qgsmodelcomponentgraphicitem.sip.in
  python/plugins/processing/modeler/ModelerDialog.py
  python/plugins/processing/modeler/ModelerGraphicItem.py
  src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp
  src/gui/processing/models/qgsmodelcomponentgraphicitem.h
Labels: Processing

#34855 make QgsVectorLayer::wkbType and geometryType invokable
  src/core/qgsvectorlayer.h
Labels: backport release-3_12

#34818 Fix crash in relation reference test
  src/core/qgsfeaturefiltermodel.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34846 PG raster, bugfixes and SQL filter
  .ci/travis/linux/scripts/test_blacklist.txt
  src/core/qgsdatasourceuri.cpp
  src/providers/postgres/qgspgtablemodel.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
  tests/src/core/testqgsdatasourceuri.cpp
  tests/src/python/test_provider_postgresraster.py
  tests/testdata/provider/postgresraster/bug_34823_pg_raster.sql
  tests/testdata/provider/postgresraster/raster_3035_no_constraints.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_composite_pk.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_no_overviews.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_no_pk.sql
  tests/testdata/provider/postgresraster/raster_3035_untiled_multiple_rows.sql
  tests/testdata/provider/postgresraster/raster_tiled_3035.sql
  tests/testdata/provider/testdata_pg_raster.sql
Labels: Bug, backport release-3_12

#34858 [backport] Typo endianness
  src/providers/postgres/raster/qgspostgresrasterutils.cpp
Labels: Backport

#34873 [backport] Connections API fix Postgres char conversion in execSQL
  src/providers/postgres/qgspostgresproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: Backport, Bug

#34797 Use a different key sequence for close editing line. Fixes #34793
  python/gui/auto_generated/qgsmaptooldigitizefeature.sip.in
  src/gui/qgsmaptooldigitizefeature.cpp
  src/gui/qgsmaptooldigitizefeature.h
  tests/src/app/testqgsmaptooladdfeatureline.cpp
  tests/src/app/testqgsmaptoolutils.h
Labels: backport release-3_10, backport release-3_12

#34874 [backport] PG raster, bugfixes and SQL filter
  .ci/travis/linux/scripts/test_blacklist.txt
  src/core/qgsdatasourceuri.cpp
  src/providers/postgres/qgspgtablemodel.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
  tests/src/core/testqgsdatasourceuri.cpp
  tests/src/python/test_provider_postgresraster.py
  tests/testdata/provider/postgresraster/bug_34823_pg_raster.sql
  tests/testdata/provider/postgresraster/raster_3035_no_constraints.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_composite_pk.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_no_overviews.sql
  tests/testdata/provider/postgresraster/raster_3035_tiled_no_pk.sql
  tests/testdata/provider/postgresraster/raster_3035_untiled_multiple_rows.sql
  tests/testdata/provider/postgresraster/raster_tiled_3035.sql
  tests/testdata/provider/testdata_pg_raster.sql
Labels: Backport, Bug

#34827 [feature] Get current parent form values in child forms
  python/core/auto_generated/expression/qgsexpressioncontextutils.sip.in
  python/core/auto_generated/fieldformatter/qgsvaluerelationfieldformatter.sip.in
  python/gui/auto_generated/attributetable/qgsattributetableview.sip.in
  python/gui/auto_generated/attributetable/qgsdualview.sip.in
  python/gui/auto_generated/editorwidgets/core/qgseditorwidgetwrapper.sip.in
  python/gui/auto_generated/editorwidgets/qgsrelationwidgetwrapper.sip.in
  python/gui/auto_generated/qgsattributeeditorcontext.sip.in
  python/gui/auto_generated/qgsattributeform.sip.in
  python/gui/auto_generated/qgsrelationeditorwidget.sip.in
  resources/function_help/json/current_parent_value
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/expression/qgsexpressioncontextutils.h
  src/core/fieldformatter/qgsvaluerelationfieldformatter.cpp
  src/core/fieldformatter/qgsvaluerelationfieldformatter.h
  src/gui/attributetable/qgsattributetableview.h
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.cpp
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.h
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationwidgetwrapper.h
  src/gui/editorwidgets/qgsvaluerelationconfigdlg.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.h
  src/gui/qgsattributeeditorcontext.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/qgsfeaturelistcombobox.h
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Feature, Forms

#34871 [feature] PG raster expose set filter to app
  python/core/auto_generated/raster/qgsrasterlayer.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/app/qgslayertreeviewfilterindicator.cpp
  src/core/raster/qgsrasterlayer.cpp
  src/core/raster/qgsrasterlayer.h
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
  src/providers/postgres/raster/qgspostgresrastershareddata.cpp
  src/providers/postgres/raster/qgspostgresrastershareddata.h
  tests/src/python/test_provider_postgresraster.py
  tests/testdata/provider/postgresraster/raster_3035_untiled_multiple_rows.sql
Labels: Data Provider, Feature, Raster, backport release-3_12

#34750 Remove duplicate nodes from each part in a collection
  python/plugins/processing/tests/testdata/custom/multi_polygons_with_duplicate_nodes_per_part.gml
  python/plugins/processing/tests/testdata/custom/multi_polygons_with_duplicate_nodes_per_part.xsd
  python/plugins/processing/tests/testdata/expected/multi_polygons_without_duplicate_nodes.gml
  python/plugins/processing/tests/testdata/expected/multi_polygons_without_duplicate_nodes.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
  src/core/geometry/qgsgeometrycollection.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: backport release-3_10, backport release-3_12

#34775 Fix crash when opening raster layer properties
  doc/CONTRIBUTORS
  src/app/qgsidentifyresultsdialog.cpp
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34890 DB manager: connections refresh
  python/plugins/db_manager/db_plugins/plugin.py
Labels: Bug, DB Manager, backport release-3_12

#34888 Server standalone bugfixes
  src/server/qgis_mapserver.cpp
Labels: Bug, Server, backport release-3_12

#34904 Try to make PG raster test more robust
  tests/src/python/test_provider_postgresraster.py
Labels: testsuite

#34908 [backport] DB manager: connections refresh
  python/plugins/db_manager/db_plugins/plugin.py
Labels: Backport, Bug, DB Manager

#34907 [backport] DB manager: connections refresh
  python/plugins/db_manager/db_plugins/plugin.py
Labels: Backport, Bug, DB Manager

#34906 [backport] Server standalone bugfixes
  src/server/qgis_mapserver.cpp
Labels: Backport, Bug, Server

#34590 QGIS Project temporal settings
  images/images.qrc
  images/themes/default/propertyicons/temporal.svg
  python/core/auto_generated/qgsproject.sip.in
  python/core/auto_generated/qgsprojecttimesettings.sip.in
  python/core/core_auto.sip
  src/app/qgisapp.cpp
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/core/CMakeLists.txt
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/core/qgsprojecttimesettings.cpp
  src/core/qgsprojecttimesettings.h
  src/core/qgstemporalproperty.cpp
  src/core/raster/qgsrasterlayertemporalproperties.cpp
  src/gui/raster/qgsrasterlayertemporalpropertieswidget.cpp
  src/gui/raster/qgsrasterlayertemporalpropertieswidget.h
  src/providers/wms/qgswmsprovider.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/app/testqgsprojectproperties.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsprojecttimesettings.py
Labels: Feature

#34808 Added a fix for the missing WMS category layers
  src/providers/wms/qgswmsdataitems.cpp
Labels: backport release-3_12

#34898 Add expression variables for current map temporal range
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/layout/qgslayoutitemmap.cpp
  tests/src/core/testqgsmapsettings.cpp
Labels: Expressions, Feature

#34931 Fix geom_from_gml example display
  resources/function_help/json/geom_from_gml
Labels: backport release-3_10, backport release-3_12

#34940 Disable canvas preview jobs when rotation is set on canvas
  src/gui/qgsmapcanvas.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34953 [MESH] avoid reloading triangular mesh when transforms are invalid
  src/core/mesh/qgstriangularmesh.cpp
Labels: Bug

#34956 Fix Multi-Edit dialog is never deleted when launched from the main window
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34884 [Backport 3.10] Backport 34797 to release 3 10
  src/gui/qgsmaptooldigitizefeature.cpp
  tests/src/app/testqgsmaptooladdfeatureline.cpp
  tests/src/app/testqgsmaptoolutils.h
Labels: Backport, Bug

#34887 [Backport 3.12] Backport 34797 to release 3 12
  python/gui/auto_generated/qgsmaptooldigitizefeature.sip.in
  src/gui/qgsmaptooldigitizefeature.cpp
  src/gui/qgsmaptooldigitizefeature.h
  tests/src/app/testqgsmaptooladdfeatureline.cpp
  tests/src/app/testqgsmaptoolutils.h
Labels: Backport, Bug

#34989 [Tests] GeoJSON stringToFields with a feature collection
  tests/src/core/testqgsogrutils.cpp
  tests/src/python/test_qgsjsonutils.py
Labels: backport release-3_10, backport release-3_12, testsuite

#34717 [backport] Fix spatialite editing with nofields (or def values)
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Backport, Bug

#34718 [backport] Fix spatialite editing with nofields (or def values)
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Backport, Bug

#33918 add "Organize Columns" button to the attribute table toolbar (fix #23397)
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/ui/qgsattributetabledialog.ui
Labels: GUI/UX, backport release-3_10, backport release-3_12

#33976 [Backport 3.10] Fixes for Oracle curves and surfaces support
  src/providers/oracle/ocispatial/qsql_ocispatial.cpp
  tests/src/python/test_provider_oracle.py
  tests/testdata/provider/testdata_oracle.sql
Labels: Backport, Bug

#34777 Fix Python3 'TypeError' when loading Oracle metadata in DB Manager
  python/plugins/db_manager/db_plugins/oracle/info_model.py
Labels: backport release-3_10, backport release-3_12

#34822 [Backport 3.12] Fix form filtering when used in feature selection dialog
  src/gui/qgsfeatureselectiondlg.cpp
  src/gui/qgsfeatureselectiondlg.h
Labels: Backport, Bug

#34469 Fix Task manager race conditions issues
  src/core/qgstaskmanager.cpp
  src/core/qgstaskmanager.h
  tests/src/core/testqgstaskmanager.cpp
  tests/src/python/test_qgstaskmanager.py
Labels: Bug, backport release-3_12

#34795 Fix TypeError when displaying Postgis layers extent
  python/plugins/db_manager/db_plugins/info_model.py
Labels: Bug, DB Manager, Regression, backport release-3_12

#34925 Fix landing page test for OGC API Features certification
  src/server/qgsserverogcapi.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
  tests/testdata/qgis_server/api/test_wfs3_landing_page.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.json
Labels: Bug, Server, backport release-3_10, backport release-3_12

#34905 Fixes the activation of the shape map tools when digitizing is finished
  src/app/qgsmaptooladdcircle.cpp
  src/app/qgsmaptooladdcircle.h
  src/app/qgsmaptooladdcircularstring.cpp
  src/app/qgsmaptooladdcircularstring.h
  src/app/qgsmaptooladdellipse.cpp
  src/app/qgsmaptooladdellipse.h
  src/app/qgsmaptooladdrectangle.cpp
  src/app/qgsmaptooladdrectangle.h
  src/app/qgsmaptooladdregularpolygon.cpp
  src/app/qgsmaptooladdregularpolygon.h
  src/app/qgsmaptoolcircle2points.cpp
  src/app/qgsmaptoolcircle2tangentspoint.cpp
  src/app/qgsmaptoolcircle3points.cpp
  src/app/qgsmaptoolcircle3tangents.cpp
  src/app/qgsmaptoolcirclecenterpoint.cpp
  src/app/qgsmaptoolcircularstringcurvepoint.cpp
  src/app/qgsmaptoolcircularstringradius.cpp
  src/app/qgsmaptoolellipsecenter2points.cpp
  src/app/qgsmaptoolellipsecenterpoint.cpp
  src/app/qgsmaptoolellipseextent.cpp
  src/app/qgsmaptoolellipsefoci.cpp
  src/app/qgsmaptoolrectangle3points.cpp
  src/app/qgsmaptoolrectanglecenter.cpp
  src/app/qgsmaptoolrectangleextent.cpp
  src/app/qgsmaptoolregularpolygon2points.cpp
  src/app/qgsmaptoolregularpolygoncentercorner.cpp
  src/app/qgsmaptoolregularpolygoncenterpoint.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35020 azure pipelines: switch to vs2017-win2016 image
  .ci/azure-pipelines/azure-pipelines.yml
Labels: backport release-3_10, backport release-3_12

#34656 Drag'n'drop improvements backport to 3.10
  python/core/auto_additions/qgseditformconfig.py
  python/core/auto_generated/qgseditformconfig.sip.in
  python/core/core_auto.sip
  src/app/CMakeLists.txt
  src/app/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/app/attributeformconfig/qgsattributeformcontaineredit.h
  src/app/attributeformconfig/qgsattributerelationedit.cpp
  src/app/attributeformconfig/qgsattributerelationedit.h
  src/app/attributeformconfig/qgsattributetypedialog.cpp
  src/app/attributeformconfig/qgsattributetypedialog.h
  src/app/attributeformconfig/qgsattributewidgetedit.cpp
  src/app/attributeformconfig/qgsattributewidgetedit.h
  src/app/qgsattributesformproperties.cpp
  src/app/qgsattributesformproperties.h
  src/app/qgsattributetabledialog.cpp
  src/core/CMakeLists.txt
  src/core/qgseditformconfig.h
  src/core/qgseditformconfig_p.h
  src/ui/CMakeLists.txt
  src/ui/attributeformconfig/qgsattributeformcontaineredit.ui
  src/ui/attributeformconfig/qgsattributerelationedit.ui
  src/ui/attributeformconfig/qgsattributetypeedit.ui
  src/ui/attributeformconfig/qgsattributewidgeteditgroupbox.ui
  src/ui/qgsattributesformproperties.ui
  tests/src/app/CMakeLists.txt
Labels: Squash!

#34968 [api] New database table name widget
  python/core/auto_generated/qgsbrowserproxymodel.sip.in
  python/core/auto_generated/qgsdataitem.sip.in
  python/core/auto_generated/qgsdataitemprovider.sip.in
  python/core/auto_generated/qgsdataitemproviderregistry.sip.in
  python/gui/auto_generated/qgsnewdatabasetablenamewidget.sip.in
  python/gui/gui_auto.sip
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.h
  src/core/providers/ogr/qgsogrdataitems.cpp
  src/core/providers/ogr/qgsogrdataitems.h
  src/core/qgsbrowserproxymodel.cpp
  src/core/qgsbrowserproxymodel.h
  src/core/qgsdataitem.cpp
  src/core/qgsdataitem.h
  src/core/qgsdataitemprovider.h
  src/core/qgsdataitemproviderregistry.cpp
  src/core/qgsdataitemproviderregistry.h
  src/core/qgsdatasourceuri.cpp
  src/gui/CMakeLists.txt
  src/gui/qgsbrowserdockwidget.cpp
  src/gui/qgsnewdatabasetablenamewidget.cpp
  src/gui/qgsnewdatabasetablenamewidget.h
  src/providers/arcgisrest/qgsafsdataitems.cpp
  src/providers/arcgisrest/qgsamsdataitems.cpp
  src/providers/db2/qgsdb2dataitems.cpp
  src/providers/db2/qgsdb2dataitems.h
  src/providers/geonode/qgsgeonodedataitems.cpp
  src/providers/geonode/qgsgeonodedataitems.h
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqldataitems.h
  src/providers/oracle/qgsoracledataitems.cpp
  src/providers/oracle/qgsoracledataitems.h
  src/providers/ows/qgsowsdataitems.cpp
  src/providers/postgres/qgspostgresdataitems.cpp
  src/providers/postgres/qgspostgresdataitems.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/spatialite/qgsspatialitedataitems.cpp
  src/providers/spatialite/qgsspatialitedataitems.h
  src/providers/wcs/qgswcsdataitems.cpp
  src/providers/wcs/qgswcsdataitems.h
  src/providers/wfs/qgswfsdataitems.cpp
  src/providers/wfs/qgswfsdataitems.h
  src/providers/wms/qgswmsdataitems.cpp
  src/providers/wms/qgswmsdataitems.h
  src/ui/qgsnewdatabasetablenamewidget.ui
  tests/src/core/testqgsbrowserproxymodel.cpp
  tests/src/core/testqgsdatasourceuri.cpp
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsnewdatabasetablewidget.cpp
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_qgsdataitemproviderregistry.py
Labels: API, Feature, QGIS Browser

#35039 do not show empty config when loading attribute form properties
  src/gui/vector/qgsattributesformproperties.cpp
Labels: backport release-3_10, backport release-3_12

#35030 fix 'fields and values' not accessible in expression editor in default values
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/ui/attributeformconfig/qgsattributetypeedit.ui
Labels: backport release-3_10, backport release-3_12

#34757 [Backport 3.12] Fix relation reference constraint when identifying a feature
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: Backport, Bug

#34369 Harmonize 3D map view widget with 2D ones to display the map theme drop-down menu
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
  src/app/3d/qgs3dmapcanvasdockwidget.h
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/ui/3d/map3dconfigwidget.ui
Labels: Changelog

#34996 [FEATURE][MESH] save style for mesh layer
  src/app/mesh/qgsmeshlayerproperties.cpp
  src/app/mesh/qgsmeshlayerproperties.h
  src/gui/qgsmaplayerstyleguiutils.cpp
  src/gui/qgsmaplayerstyleguiutils.h
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: Changelog, Needs Documentation

#34978 fix crash when a sink parameter definition is missing in a processing alg
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  scripts/sipify.pl
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingalgorithm.h
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
Labels: Squash!

#35065 Mssql connections api
  .ci/travis/linux/scripts/test_blacklist.txt
  src/providers/mssql/CMakeLists.txt
  src/providers/mssql/qgsmssqlconnection.cpp
  src/providers/mssql/qgsmssqlconnection.h
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqlgeomcolumntypethread.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlprovider.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/mssql/qgsmssqlproviderconnection.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsproviderconnection_base.py
  tests/src/python/test_qgsproviderconnection_mssql.py
Labels: API, Data Provider

#35061 azure pipelines: fix link output
  .ci/azure-pipelines/azure-pipelines.yml
Labels: backport release-3_10, backport release-3_12

#35055 [UI] Couple of UI/UX fixes for Text format widget
  src/gui/labeling/qgslabelinggui.cpp
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
  src/ui/qgstextformatwidgetbase.ui
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35076 Data type support for QgsProcessingParameterMapLayer
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/plugins/processing/core/parameters.py
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Feature, Processing

#34876 [plugin manager] allow to install stable or experimental
  python/pyplugin_installer/installer.py
  python/pyplugin_installer/installer_data.py
  python/pyplugin_installer/qgsplugininstallerinstallingdialog.py
  src/app/pluginmanager/qgspluginmanager.cpp
  src/app/pluginmanager/qgspluginmanager.h
  src/app/pluginmanager/qgspluginsortfilterproxymodel.cpp
  src/app/pluginmanager/qgspluginsortfilterproxymodel.h
  src/ui/qgspluginmanagerbase.ui
Labels: Feature

#35098 [processing] Add missing parameter types to alg wrapper
  python/processing/algfactory.py
Labels: Processing

#35018 [3.12] Restore inspection of non-PostGIS enabled PostgreSQL databases
  src/providers/postgres/qgspostgresconn.cpp
Labels: Backport

#35019 Restore inspection of non-PostGIS PostgreSQL databases
  src/providers/postgres/qgspostgresconn.cpp
Labels: Bug

#35106 clear model before loading new attribute values (fix #34544)
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Bug

#34943 Fixes relation reference widget several issues
  src/core/qgsfeaturefiltermodel.cpp
  src/core/qgsfeaturefiltermodel.h
  src/core/qgsfeaturefiltermodel_p.h
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
  src/gui/qgsfeaturelistcombobox.cpp
  tests/src/gui/testqgsfeaturelistcombobox.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: Bug, Needs Backporting

#35111 Avoid crash when opening raster layer properties for wms layers.
  src/gui/raster/qgsrasterlayerproperties.cpp
Labels: backport release-3_10, backport release-3_12

#35037 [Backport Release-3_12][Tests] GeoJSON stringToFields with a feature collection
  tests/src/core/testqgsogrutils.cpp
  tests/src/python/test_qgsjsonutils.py
Labels: Backport, testsuite

#35038 [Backport Release-3_10][Tests] GeoJSON stringToFields with a feature collection
  tests/src/core/testqgsogrutils.cpp
  tests/src/python/test_qgsjsonutils.py
Labels: Backport, testsuite

#35120 Don't override all cursors in bad layer handler dialog
  src/app/qgshandlebadlayers.cpp
Labels: backport release-3_10, backport release-3_12

#35125 Fix conversion of ESRI CRS when running GDAL algorithms under proj 6
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/tests/GdalAlgorithmsGeneralTest.py
Labels: Processing, Projections/Transformations, backport release-3_10, backport release-3_12

#35035 Add description to value relation widget
  python/core/auto_generated/fieldformatter/qgsvaluerelationfieldformatter.sip.in
  python/gui/auto_generated/qgsfieldexpressionwidget.sip.in
  src/core/fieldformatter/qgsvaluerelationfieldformatter.cpp
  src/core/fieldformatter/qgsvaluerelationfieldformatter.h
  src/gui/editorwidgets/qgsvaluerelationconfigdlg.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  src/gui/qgsfieldexpressionwidget.h
  src/ui/editorwidgets/qgsvaluerelationconfigdlgbase.ui
Labels: Changelog, Feature

#33990 Fixes crash when displaying relation editor
  python/gui/auto_generated/editorwidgets/qgsrelationreferencewidget.sip.in
  python/gui/auto_generated/qgsrelationeditorwidget.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgisappinterface.cpp
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/app/qgsfeatureaction.cpp
  src/app/qgsmaptoolfillring.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
Labels: Bug, backport release-3_12

#34009 [wfs] Fix background cache iterator when using with both subset string and filter on fid(s)
  src/providers/wfs/qgsbackgroundcachedfeatureiterator.cpp
  src/providers/wfs/qgsbackgroundcachedfeatureiterator.h
  tests/src/python/provider_python.py
  tests/src/python/providertestbase.py
Labels: Bug, Data Provider, backport release-3_10, backport release-3_12

#34975 [DBManager] Use ST_EstimatedExtent with newer PostGIS
  python/plugins/db_manager/db_plugins/postgis/connector.py
Labels: backport release-3_10, backport release-3_12

#35154 Constrain model item resizing
  python/gui/auto_generated/processing/models/qgsmodelcomponentgraphicitem.sip.in
  src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp
  src/gui/processing/models/qgsmodelcomponentgraphicitem.h
  src/gui/processing/models/qgsmodelviewmousehandles.cpp
  src/gui/processing/models/qgsmodelviewmousehandles.h
  src/gui/qgsgraphicsviewmousehandles.cpp
  src/gui/qgsgraphicsviewmousehandles.h
Labels: Processing

#35155 Fix margins on svg/image selector widget
  src/gui/qgsfilecontentsourcelineedit.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35156 Fix icon sizes on hidpi for SVG fill image selector
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35157 After fixing a broken layer path, also auto-fix any other broken layers pointing to same folder
  src/app/qgisapp.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35150 Fixes double type in ogcapif api document
  src/server/qgsserverquerystringparameter.cpp
Labels: Bug, Server, backport release-3_10, backport release-3_12

#35077 improve GTIFF JPEG compression by adding PHOTOMETRIC=YCBCR (fix #35002)
  src/gui/qgsrasterformatsaveoptionswidget.cpp
Labels: Raster, backport release-3_10, backport release-3_12

#35184 Show data defined buttons for dynamic parameters even in batch mode
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
Labels: Processing, backport release-3_10, backport release-3_12

#35185 In batch mode, don't try to run rows with invalid parameter values
  python/plugins/processing/gui/BatchAlgorithmDialog.py
  python/plugins/processing/gui/BatchPanel.py
Labels: Processing, backport release-3_10, backport release-3_12

#35177 [processing] port some parameter definition widgets to C++
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
  tests/src/gui/testprocessinggui.cpp
Labels: API, Processing

#35153 FIX #31036 Remove color scheme doesn't work
  src/core/qgscolorscheme.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35208 Add @layers, @layer_ids project scope variables
  src/core/expression/qgsexpression.cpp
  src/core/qgsproject.cpp
  tests/src/core/testqgsexpressioncontext.cpp
Labels: Expressions, Feature, Needs Documentation

#35138 [BUG] Fix QgsColorRampShaderWidget
  src/gui/raster/qgscolorrampshaderwidget.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#34510 Fix multi split for multilinestring
  .ci/azure-pipelines/azure-pipelines.yml
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  python/plugins/processing/tests/testdata/expected/split_lines_with_same2.dbf
  python/plugins/processing/tests/testdata/expected/split_lines_with_same2.prj
  src/app/qgsmaptoolsplitparts.h
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  src/core/qgsvectorlayereditutils.cpp
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgsmaptoolsplitparts.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35092 [Backport release-3_12] Couple of UI/UX fixes for Text format widget
  src/gui/labeling/qgslabelinggui.cpp
  src/gui/qgstextformatwidget.cpp
  src/gui/qgstextformatwidget.h
  src/ui/qgstextformatwidgetbase.ui
Labels: Backport, GUI/UX

#35052 [Backport release-3_10] add "Organize Columns" button to the attribute table toolbar (fix #23397)
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/ui/qgsattributetabledialog.ui
Labels: Backport, GUI/UX

#35053 [Backport release-3_12] add "Organize Columns" button to the attribute table toolbar (fix #23397)
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/ui/qgsattributetabledialog.ui
Labels: Backport, GUI/UX

#35197 [FEATURE][symbology] Add a font style setting for font markers
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_fontmarker.ui
  tests/src/core/testqgsfontmarker.cpp
  tests/testdata/control_images/symbol_fontmarker/expected_fontmarker_style/expected_fontmarker_style.png
  tests/testdata/control_images/symbol_fontmarker/expected_fontmarker_style/expected_fontmarker_style_mask.png
Labels: Feature, Needs Documentation, Symbology

#35224 [FEATURE][symbology] Add data-defined property to font family/style for font markers
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/ui/symbollayer/widget_fontmarker.ui
  tests/src/core/testqgsfontmarker.cpp
  tests/testdata/control_images/symbol_fontmarker/expected_fontmarker_datadefinedproperties/expected_fontmarker_datadefinedproperties.png
  tests/testdata/control_images/symbol_fontmarker/expected_fontmarker_datadefinedproperties/expected_fontmarker_datadefinedproperties_mask.png
Labels: Feature, Needs Documentation, Symbology

#35243 Fix #32759, Don't zoom out when selecting vertices on the vertex editor
  src/app/vertextool/qgsvertexeditor.cpp
Labels: backport release-3_10, backport release-3_12

#35247 Fix "zoom to" actions fail to correctly set canvas extent when canvas has a locked scale
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/qgsidentifyresultsdialog.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/layertree/qgslayertreeviewdefaultactions.cpp
  src/gui/layout/qgslayoutmapwidget.cpp
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
  src/plugins/evis/eventbrowser/evisgenericeventbrowsergui.cpp
  src/plugins/geometry_checker/qgsgeometrycheckerresulttab.cpp
  src/plugins/topology/checkDock.cpp
Labels: backport release-3_10, backport release-3_12

#35244 Add numeric formatter "fraction" style
  python/core/auto_generated/numericformats/qgsfractionnumericformat.sip.in
  python/core/auto_generated/numericformats/qgsnumericformat.sip.in
  python/core/core_auto.sip
  python/gui/auto_generated/numericformats/qgsnumericformatwidget.sip.in
  src/core/CMakeLists.txt
  src/core/numericformats/qgsfractionnumericformat.cpp
  src/core/numericformats/qgsfractionnumericformat.h
  src/core/numericformats/qgsnumericformat.h
  src/core/numericformats/qgsnumericformatregistry.cpp
  src/gui/numericformats/qgsnumericformatguiregistry.cpp
  src/gui/numericformats/qgsnumericformatselectorwidget.cpp
  src/gui/numericformats/qgsnumericformatwidget.cpp
  src/gui/numericformats/qgsnumericformatwidget.h
  src/ui/numericformats/qgsfractionnumericformatwidgetbase.ui
  tests/src/python/test_qgsnumericformat.py
Labels: Feature, Print Layouts

#35222 Responses are object instead of array in the {root}/api json document
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
Labels: Bug, Server, backport release-3_10, backport release-3_12

#35250 Fix crash when pasting polygon features and unique constraints are violated
  src/app/qgsfixattributedialog.cpp
Labels: backport release-3_12

#35239 [Bugfix] Add coverage check on atlas exports
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35285 Fix incorrect variable name to allow deletion of geopackage from browser
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35216 [FEATURE][MESH] coloring mesh vector dataset with color ramp shader
  python/core/auto_generated/mesh/qgsmeshrenderersettings.sip.in
  src/app/mesh/qgsmeshrenderervectorsettingswidget.cpp
  src/app/mesh/qgsmeshrenderervectorsettingswidget.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshrenderersettings.cpp
  src/core/mesh/qgsmeshrenderersettings.h
  src/core/mesh/qgsmeshtracerenderer.cpp
  src/core/mesh/qgsmeshtracerenderer.h
  src/core/mesh/qgsmeshvectorrenderer.cpp
  src/core/mesh/qgsmeshvectorrenderer.h
  src/core/raster/qgscolorrampshader.cpp
  src/ui/mesh/qgsmeshrenderervectorsettingswidgetbase.ui
  tests/src/core/testqgsmeshlayerrenderer.cpp
  tests/testdata/control_images/mesh/expected_quad_and_triangle_vertex_vector_dataset_colorRamp/expected_quad_and_triangle_vertex_vector_dataset_colorRamp.png
  tests/testdata/control_images/mesh/expected_quad_and_triangle_vertex_vector_traces_colorRamp/expected_quad_and_triangle_vertex_vector_traces_colorRamp.png
  tests/testdata/control_images/mesh/expected_quad_and_triangle_vertex_vector_user_grid_dataset_streamlines_colorRamp/expected_quad_and_triangle_vertex_vector_user_grid_dataset_streamlines_colorRamp.png
Labels: Changelog, Feature, Mesh, Needs Documentation

#35264 [MESH] Resampling from vertex values to face values
  python/analysis/auto_generated/mesh/qgsmeshcontours.sip.in
  python/core/auto_generated/mesh/qgsmeshrenderersettings.sip.in
  src/analysis/mesh/qgsmeshcalcutils.cpp
  src/analysis/mesh/qgsmeshcontours.cpp
  src/analysis/mesh/qgsmeshcontours.h
  src/app/mesh/qgsmeshrendererscalarsettingswidget.cpp
  src/app/mesh/qgsmeshrendererscalarsettingswidget.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshlayerrenderer.h
  src/core/mesh/qgsmeshlayerutils.cpp
  src/core/mesh/qgsmeshlayerutils.h
  src/core/mesh/qgsmeshrenderersettings.cpp
  src/core/mesh/qgsmeshrenderersettings.h
  tests/src/core/testqgsmeshlayerrenderer.cpp
Labels: Changelog, Feature, Mesh, Needs Documentation

#35240 Backport 3.10 Fix absolute paths in qlr export
  src/core/qgslayerdefinition.cpp
Labels: backport release-3_12

#35217 Fix multiple connecting slots in dual view
  src/gui/attributetable/qgsdualview.cpp
Labels: backport release-3_10, backport release-3_12

#35300 fix fields properties table background on dark mode (macos)
  src/gui/vector/qgssourcefieldsproperties.cpp
Labels: backport release-3_10, backport release-3_12

#35302 fix fields properties table background on dark modes
  src/app/qgssourcefieldsproperties.cpp
Labels: Backport

#35303 fix group background color of groups in expression builder tree
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Squash!, backport release-3_10, backport release-3_12

#35323 fix group background color of groups in expression builder tree
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Squash!, backport release-3_10

#35322 [ui] Further improve source fields properties colors to play well with any light/gray/dark themes
  src/gui/vector/qgssourcefieldsproperties.cpp
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35272 take another try to get a valid relation in the relation reference widget
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35331 [ui] Improve source fields properties colors to play will with any light/gray/dark themes
  src/app/qgssourcefieldsproperties.cpp
Labels: Backport, GUI/UX

#35294 Improve wording of doc issues
  .github/workflows/pr_to_doc_issue.yml
Labels: Squash!

#35330 fix Form tabs randomly becoming group boxes
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35335 [ogr] Mark OpenStreetMap file extensions (.osm, .pbf) as featuring layers
  src/core/providers/ogr/qgsogrdataitems.cpp
Labels: Data Provider, backport release-3_10, backport release-3_12

#35315 Fix landing page test for OGC API Features certification
  src/server/qgsserverogcapi.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
  tests/testdata/qgis_server/api/test_wfs3_landing_page.html
  tests/testdata/qgis_server/api/test_wfs3_landing_page.json
Labels: Backport, Server

#35211 add maptip, expression display and eval_template expressions
  resources/function_help/json/display_expression
  resources/function_help/json/eval_template
  resources/function_help/json/maptip
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature, Needs Documentation

#35355 PyQgis: don't crash on invalid provider
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.h
Labels: Crash/Data Corruption, PyQGIS, backport release-3_10, backport release-3_12

#35296 By default, do *not* force all fields to become strings when exporting to XLS/XLSX/ODS/CSV
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
Labels: backport release-3_10, backport release-3_12

#35361 Fix use of attributes() function in field calculator
  src/core/expression/qgsexpressionfunction.cpp
Labels: Bug, Expressions, backport release-3_10, backport release-3_12

#35034 Refresh features in Attribute Table on data change
  python/gui/auto_generated/attributetable/qgsattributetablefiltermodel.sip.in
  python/gui/auto_generated/attributetable/qgsdualview.sip.in
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
  src/gui/attributetable/qgsattributetablefiltermodel.h
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/attributetable/qgsfeaturefilterwidget.cpp
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
  tests/src/app/testqgsattributetable.cpp
Labels: Bug, backport release-3_10, backport release-3_12

#35367 [postgres] Do not overwrite detected type with requested type
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: backport release-3_10, backport release-3_12

#33910 [dbmanager] clear create table dialog on succes (fix #25535)
  python/plugins/db_manager/dlg_create_table.py
Labels: GUI/UX, backport release-3_10, backport release-3_12

#35015 [server] Use request.data() instead of parameter REQUEST_BODY
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfstransaction.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
Labels: Bug, Server, backport release-3_10, backport release-3_12

#35364 Allowing saving outputs direct to more database formats (and other nice stuff)
  python/gui/auto_generated/processing/qgsprocessingoutputdestinationwidget.sip.in
  python/gui/auto_generated/qgsnewdatabasetablenamewidget.sip.in
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingoutputdestinationwidget.cpp
  src/gui/processing/qgsprocessingoutputdestinationwidget.h
  src/gui/qgsnewdatabasetablenamewidget.cpp
  src/gui/qgsnewdatabasetablenamewidget.h
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/ui/processing/qgsprocessingdestinationwidgetbase.ui
  src/ui/qgsnewdatabasetablenamewidget.ui
  tests/src/analysis/testqgsprocessing.cpp
Labels: Feature, Processing

#35357 Update vector extents after changing data source for a vector layer
  src/app/qgisapp.cpp
Labels: backport release-3_10, backport release-3_12

#35401 Improve join dialog layout
  src/ui/qgsjoindialogbase.ui
Labels: GUI/UX

#35404 [joins] Disable caching if editing is enabled
  python/core/auto_generated/qgsvectorlayerjoininfo.sip.in
  src/core/qgsvectorlayerjoininfo.cpp
  src/core/qgsvectorlayerjoininfo.h
  src/gui/vector/qgsjoindialog.cpp
  src/gui/vector/qgsjoindialog.h
Labels: GUI/UX

#35424 extend mime-type spec for .qgz
  debian/qgis.xml
Labels: backport release-3_10, backport release-3_12

#35422 Save vector layer: for CSV/XLS/XLSX/ODS, only use by default displayed values of a restrict set of widget types
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
Labels: backport release-3_10, backport release-3_12

#35421 update also htmlToMarkdown in the crash report
  src/core/qgsstringutils.cpp
  src/crashhandler/qgscrashreport.cpp
Labels: backport release-3_10, backport release-3_12
