Repository qgis/QGIS, pull requests merged in 2020-08, with the labels that each got.

#38076 [3d] Fix polygon edge lines are rendered vertically offset from polygons (3.14)
  src/3d/symbols/qgspolygon3dsymbol_p.cpp
  tests/src/3d/testqgs3drendering.cpp
  tests/testdata/control_images/3d/expected_polygon_edges_height/default/expected_polygon_edges_height.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/travis/expected_polygon_edges_height.png
Labels: Backport

#37919 [Processing] Fix GDAL Assign Projection: update QgsRasterLayer crs
  python/plugins/processing/algs/gdal/AssignProjection.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Bug, Processing, backport release-3_10, backport release-3_14

#38080 Don't restore georeferencer window if it was maximized
  src/app/georeferencer/qgsmapcoordsdialog.cpp
Labels: backport release-3_10, backport release-3_14

#38059 Split api from specifying 3d map layers to render from api for specifying terrain layers to render
  python/3d/auto_generated/qgs3dmapsettings.sip.in
  src/3d/qgs3dmapsettings.cpp
  src/3d/qgs3dmapsettings.h
  src/3d/terrain/qgsdemterraintileloader_p.cpp
  src/3d/terrain/qgsflatterraingenerator.cpp
  src/3d/terrain/qgsterrainentity_p.cpp
  src/3d/terrain/qgsterraintexturegenerator_p.cpp
  src/3d/terrain/qgsterraintileloader_p.cpp
  src/3d/terrain/qgsterraintileloader_p.h
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
  src/app/qgisapp.cpp
  tests/src/3d/testqgs3drendering.cpp
  tests/src/3d/testqgslayout3dmap.cpp
  tests/testdata/control_images/3d/expected_billboard_rendering_1/default/expected_billboard_rendering_1.png
  tests/testdata/control_images/3d/expected_billboard_rendering_2/default/expected_billboard_rendering_2.png
  tests/testdata/control_images/3d/expected_buffered_lines_width/default/expected_buffered_lines_width.png
  tests/testdata/control_images/3d/expected_shaded_terrain_no_layers/expected_shaded_terrain_no_layers.png
Labels: 3D, API

#37918 fix all-in-one bundle
  src/app/main.cpp
  src/python/qgspythonutilsimpl.cpp
Labels: MacOS, Packaging

#37298 use attribute value in the output file name for Split vector layer algorithm (fix #37296)
  src/analysis/processing/qgsalgorithmsplitvectorlayer.cpp
Labels: Bug, Processing

#38097 Fix strange behaviour when mix of model outputs and fixed inputs are selected as the input for a multi layer parameter
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, backport release-3_14

#38099 Be more tolerant, and expose map layer outputs as possible inputs for multi input parameters regardless of the required type
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Processing, backport release-3_14

#37685 digitizing and splitting feature with curves
  images/images.qrc
  images/themes/default/mActionDigitizeWithCurve.svg
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  python/core/auto_generated/qgsmapsettings.sip.in
  python/core/auto_generated/qgsvectorlayer.sip.in
  python/core/auto_generated/qgsvectorlayereditutils.sip.in
  python/gui/auto_generated/qgsgeometryrubberband.sip.in
  python/gui/auto_generated/qgsmaptoolcapture.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsmaptoolsplitfeatures.cpp
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  src/core/qgsmapsettings.cpp
  src/core/qgsmapsettings.h
  src/core/qgsvectorlayer.cpp
  src/core/qgsvectorlayer.h
  src/core/qgsvectorlayereditutils.cpp
  src/core/qgsvectorlayereditutils.h
  src/gui/qgsgeometryrubberband.cpp
  src/gui/qgsgeometryrubberband.h
  src/gui/qgsmaptool.cpp
  src/gui/qgsmaptoolcapture.cpp
  src/gui/qgsmaptoolcapture.h
  src/ui/qgisapp.ui
  tests/src/app/testqgsmaptooladdfeatureline.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
Labels: Changelog, Digitizing, Feature, Vectors

#38067 [FEATURE][processing] Export atlas layout as image algorithm
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmlayoutatlastoimage.cpp
  src/analysis/processing/qgsalgorithmlayoutatlastoimage.h
  src/analysis/processing/qgsnativealgorithms.cpp
  src/ui/qgstextformatwidgetbase.ui
  tests/src/analysis/testqgsprocessingalgs.cpp
  tests/testdata/control_images/expected_raster_linedensity/linedensity_testcase1.tif.aux.xml
  tests/testdata/control_images/expected_raster_linedensity/linedensity_testcase2.tif.aux.xml
  tests/testdata/control_images/fillNoData/fillnodata_testcase1.tif.aux.xml
  tests/testdata/control_images/fillNoData/fillnodata_testcase2.tif.aux.xml
  tests/testdata/control_images/fillNoData/fillnodata_testcase3.tif.aux.xml
  tests/testdata/control_images/processing_algorithm/expected_export_atlas/expected_export_atlas.png
  tests/testdata/control_images/processing_algorithm/expected_export_atlas_custom_layers/expected_export_atlas_custom_layers.png
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase1.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase2.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase3.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase4.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase5.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase6.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase7.tif.aux.xml
  tests/testdata/control_images/roundRasterValues/roundRasterValues_testcase8.tif.aux.xml
Labels: Changelog, Feature, Needs Documentation, Processing

#38119 Fix message bar "show more" label incorrectly counts items and thinks there's one too many items to show
  src/gui/qgsmessagebar.cpp
Labels: backport release-3_10, backport release-3_14

#38120 [processing] Use a feature source for the input of the extract by location alg
  src/analysis/processing/qgsalgorithmextractbylocation.cpp
Labels: Bug, backport release-3_14

#37041 Support for rotated ticks/annotation
  python/core/auto_generated/layout/qgslayoutitemmapgrid.sip.in
  scripts/parse_dash_results.py
  src/core/layout/qgslayoutitemmapgrid.cpp
  src/core/layout/qgslayoutitemmapgrid.h
  src/gui/layout/qgslayoutmapgridwidget.cpp
  src/gui/layout/qgslayoutmapgridwidget.h
  src/ui/layout/qgslayoutmapgridwidgetbase.ui
  tests/src/python/test_qgslayoutmapgrid.py
  tests/testdata/control_images/composer_map/expected_layoutmap_rasterized/expected_layoutmap_rasterized_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_annotations_variations/expected_composermap_annotations_variations.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_annotations_variations_rotated/expected_composermap_annotations_variations_rotated.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_annotations_variations_rotated/expected_composermap_annotations_variations_rotated_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_datadefined_annotationdistance/expected_composermap_datadefined_annotationdistance_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10/set1/expected_composermap_dynamic_5_10.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10/set1/expected_composermap_dynamic_5_10_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10/set2/expected_composermap_dynamic_5_10.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_2/set1/expected_composermap_dynamic_5_10_2.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_2/set1/expected_composermap_dynamic_5_10_2_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_2/set2/expected_composermap_dynamic_5_10_2.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_3/expected_composermap_dynamic_5_10_3_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_4/set1/expected_composermap_dynamic_5_10_4.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_4/set1/expected_composermap_dynamic_5_10_4_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_dynamic_5_10_4/set2/expected_composermap_dynamic_5_10_4.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_exteriorticks_annotated/expected_composermap_exteriorticks_annotated_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_exteriorticks_annotated2/expected_composermap_exteriorticks_annotated2_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_filteredannotations/expected_composermap_filteredannotations_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_grid/expected_composermap_grid_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_interiorexteriorticks_annotated/expected_composermap_interiorexteriorticks_annotated_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_interiorexteriorticks_annotated2/expected_composermap_interiorexteriorticks_annotated2_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_interiorticks_annotated/expected_composermap_interiorticks_annotated_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_interiorticks_annotated2/expected_composermap_interiorticks_annotated2_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_lineborder_annotated/expected_composermap_lineborder_annotated_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_lineborder_annotated2/expected_composermap_lineborder_annotated2_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_rotatedannotations/expected_composermap_rotatedannotations_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_verticaldescending_inside/expected_composermap_verticaldescending_inside_mask.png
  tests/testdata/control_images/composer_mapgrid/expected_composermap_verticaldescending_outside/expected_composermap_verticaldescending_outside_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplateMap_0/expected_importComposerTemplateMap_0_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplate_0/expected_importComposerTemplate_0_mask.png
Labels: Changelog, Feature, Print Layouts

#38128 warn with 0 or negative values when using log scale in graduated renderer
  src/core/classification/qgsclassificationlogarithmic.cpp
Labels: backport release-3_10, backport release-3_14

#38135 correctly toggle gamma correction buttons state depending on the active layer
  src/app/qgisapp.cpp
Labels: GUI/UX

#38127 Avoid losing layer subset filters after fixing a layer path in the bad layers dialog
  src/app/qgshandlebadlayers.cpp
Labels: backport release-3_14

#38145 [console] Fix error when console history file is missing from the user profile directory
  python/console/console_sci.py
Labels: Bug, backport release-3_14

#38144 Treat mdb files as a database source in browser
  src/core/providers/ogr/qgsogrdataitems.cpp
Labels: backport release-3_10, backport release-3_14

#38151 Add a iface method to directly set a specific GPS connection to connect to in the GPS Information panel
  python/gui/auto_generated/qgisinterface.sip.in
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpsinformationwidget.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgisappinterface.cpp
  src/app/qgisappinterface.h
  src/gui/qgisinterface.h
Labels: API

#38153 Plugin installer - rephrase error message when plugin is not found
  python/pyplugin_installer/installer.py
Labels: GUI/UX, Plugins

#38152 Fix long reload of filter change in attribute table by revert bad commit
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
Labels: backport release-3_10, backport release-3_14

#38087 [3D feature] Skybox feature
  python/3d/3d_auto.sip
  python/3d/auto_generated/qgs3dexportobject.sip.in
  python/3d/auto_generated/qgs3dmapsettings.sip.in
  python/3d/auto_generated/qgs3dsceneexporter.sip.in
  python/3d/auto_generated/qgsimagetexture.sip.in
  python/3d/auto_generated/qgsskyboxentity.sip.in
  python/3d/auto_generated/qgsskyboxsettings.sip.in
  python/CMakeLists.txt
  src/3d/CMakeLists.txt
  src/3d/qgs3dexportobject.h
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgs3dmapsettings.cpp
  src/3d/qgs3dmapsettings.h
  src/3d/qgs3dsceneexporter.h
  src/3d/qgsimagetexture.h
  src/3d/qgsskyboxentity.cpp
  src/3d/qgsskyboxentity.h
  src/3d/qgsskyboxsettings.cpp
  src/3d/qgsskyboxsettings.h
  src/3d/shaders.qrc
  src/3d/shaders/hdr_skybox.frag
  src/3d/shaders/skybox.frag
  src/3d/shaders/skybox.vert
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/app/3d/qgs3dmapconfigwidget.h
  src/app/3d/qgsskyboxrenderingsettingswidget.cpp
  src/app/3d/qgsskyboxrenderingsettingswidget.h
  src/app/CMakeLists.txt
  src/ui/3d/map3dconfigwidget.ui
  src/ui/3d/skyboxrenderingsettingswidget.ui
Labels: Needs Documentation

#38158 [postgres] Fix superslow layer instantiation in huge databases by only fetching type info of used fields.
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Bug, Data Provider, backport release-3_10, backport release-3_14

#37393 force reference time (current) to be UTC for mesh layer
  src/app/qgisapp.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/providers/mdal/qgsmdalprovider.cpp
Labels: Bug, Mesh, Temporal, backport release-3_14

#38191 PG raster: fix unreported port/host mismatch
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
Labels: Bug, Data Provider, backport release-3_14

#38183 [Backport release-3_14] force reference time (current) to be UTC for mesh layer
  src/app/qgisapp.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/providers/mdal/qgsmdalprovider.cpp
Labels: Mesh, backport release-3_14

#37595 Load processing results to layer group (optional)
  python/plugins/processing/core/ProcessingConfig.py
  python/plugins/processing/gui/ConfigDialog.py
  python/plugins/processing/gui/Postprocessing.py
Labels: Changelog, Feature, Processing

#38199 Make the map layer type and validity a property
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/mesh/qgsmeshlayer.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsvectorlayer.cpp
  src/core/raster/qgsrasterlayer.cpp
  src/core/vectortile/qgsvectortilelayer.cpp
Labels: API

#38198 Only list layers with styling options in styling panel
  src/app/qgslayerstylingwidget.cpp
Labels: GUI/UX

#37921 Fix default value expression on double field
  src/core/qgsfield.cpp
  tests/src/core/testqgsfield.cpp
Labels: Bug

#38213 [wms] If an explicit CRS is not set in a layer's URI, then take the first sensible CRS advertised by the provider's capabilities as the layer's CRS
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
  tests/src/providers/testqgswmscapabilities.cpp
  tests/src/providers/testqgswmsprovider.cpp
  tests/testdata/provider/GetCapabilities2.xml
Labels: Data Provider, backport release-3_10, backport release-3_14

#38214 Fix context menu exception on WMS conn items
  src/app/browser/qgsinbuiltdataitemproviders.cpp
Labels: Bug

#38230 [wms] When a legend graphic fetch fails, don't show the error in the layer tree, but instead just log it to the message log
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/providers/wms/qgswmscapabilities.cpp
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
  src/providers/wms/qgswmssourceselect.cpp
Labels: backport release-3_14

#38232 [processing] Allow merging layers with mixed attribute type
  python/plugins/processing/tests/testdata/custom/points_alt.cpg
  python/plugins/processing/tests/testdata/custom/points_alt.dbf
  python/plugins/processing/tests/testdata/custom/points_alt.prj
  python/plugins/processing/tests/testdata/custom/points_alt.shp
  python/plugins/processing/tests/testdata/custom/points_alt.shx
  python/plugins/processing/tests/testdata/expected/merged_points_mixed.gml
  python/plugins/processing/tests/testdata/expected/merged_points_mixed.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests1.yaml
  src/analysis/processing/qgsalgorithmmergevector.cpp
Labels: Needs Documentation, Processing

#38235 [Oracle] Add determinePrimaryKeyFromUriKeyColumn method to provider
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
Labels: Data Provider

#38218 restore missed "save query" functionality in the Query builder
  python/gui/auto_generated/qgsquerybuilder.sip.in
  python/gui/auto_generated/qgssearchquerybuilder.sip.in
  src/gui/qgsquerybuilder.cpp
  src/gui/qgsquerybuilder.h
  src/gui/qgssearchquerybuilder.cpp
  src/gui/qgssearchquerybuilder.h
Labels: GUI/UX

#38225 New project reading flag to trust layer metadata with server settings
  python/core/auto_additions/qgsproject.py
  python/core/auto_generated/qgsproject.sip.in
  python/server/auto_generated/qgsserversettings.sip.in
  src/core/qgsproject.cpp
  src/core/qgsproject.h
  src/server/qgsconfigcache.cpp
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  tests/src/python/test_qgsserver_settings.py
Labels: Needs Documentation, Server

#38250 [ogr] Improve decoding/encoding of URI
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/core/testqgsogrprovider.cpp
Labels: backport release-3_10, backport release-3_14

#38261 Fix crash on reloading project with annotation items
  src/gui/qgsmapcanvasannotationitem.cpp
  src/gui/qgsmapcanvasannotationitem.h
Labels: backport release-3_10, backport release-3_14

#38277 Revert "FIX virtual layers with CSV layers opened with "delimitedtext " provider"
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  src/providers/virtual/qgsvirtuallayerprovider.cpp
  tests/src/python/test_qgsdelimitedtextprovider.py
Labels: Bug, Regression, backport release-3_14

#38262 DB manager: PG read enum value for sslmode
  python/plugins/db_manager/db_plugins/postgis/plugin.py
Labels: Bug, DB Manager

#38301 Adjust width of relation reference config widget
  src/ui/editorwidgets/qgsrelationreferenceconfigdlgbase.ui
Labels: GUI/UX, backport release-3_10, backport release-3_14

#38289 A new parameter "Close path" has been added to the "Point to path" algorithm.
  python/plugins/processing/algs/qgis/PointsToPaths.py
  python/plugins/processing/tests/testdata/expected/points_to_path_close_path.gfs
  python/plugins/processing/tests/testdata/expected/points_to_path_close_path.gml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
Labels: Squash!

#38314 [vectortiles] Don't overwrite existing QPainter clip regions (3.14)
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
Labels: Backport

#38257 Bugfix gh26189 virtual layers subset string
  python/core/auto_generated/qgsvirtuallayerdefinition.sip.in
  src/core/qgsvirtuallayerdefinition.cpp
  src/core/qgsvirtuallayerdefinition.h
  src/providers/virtual/qgsvirtuallayerprovider.cpp
  tests/src/python/test_provider_virtual.py
Labels: Bug, Data Provider, backport release-3_10, backport release-3_14

#38312 Various UX fixes
  python/plugins/processing/ProcessingPlugin.py
  python/plugins/processing/gui/menus.py
  src/app/qgisapp.cpp
  src/gui/vector/qgsfieldcalculator.cpp
  src/ui/qgisapp.ui
Labels: GUI/UX

#38304 Relation reference: Update user interface when adding new entry
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
Labels: backport release-3_10, backport release-3_14

#38323 Server landingpage dirwatcher
  src/server/services/landingpage/qgslandingpagehandlers.cpp
  src/server/services/landingpage/qgslandingpageutils.cpp
  tests/src/python/test_qgsserver_landingpage.py
  tests/testdata/qgis_server/landingpage/projects/project_data.gpkg
  tests/testdata/qgis_server/landingpage/test_landing_page_empty_index.json
Labels: Server

#38330 Server landingpage: GCC does not like uniform initialization
  src/server/services/landingpage/qgslandingpagehandlers.cpp
  src/server/services/landingpage/qgslandingpageutils.cpp
Labels: Bug, Server

#38317 Add helper api to directly retrieve a point/linestring/polygon from a QgsMultiPoint/QgsMultiLineString/QgsMultiPolygon
  python/core/auto_generated/geometry/qgsmulticurve.sip.in
  python/core/auto_generated/geometry/qgsmultilinestring.sip.in
  python/core/auto_generated/geometry/qgsmultipoint.sip.in
  python/core/auto_generated/geometry/qgsmultipolygon.sip.in
  python/core/auto_generated/geometry/qgsmultisurface.sip.in
  src/3d/symbols/qgsline3dsymbol_p.cpp
  src/3d/symbols/qgspolygon3dsymbol_p.cpp
  src/analysis/interpolation/qgstininterpolator.cpp
  src/analysis/processing/qgsalgorithmprojectpointcartesian.cpp
  src/analysis/processing/qgsalgorithmtransect.cpp
  src/analysis/processing/qgsalgorithmwedgebuffers.cpp
  src/app/qgsmaptoolreverseline.cpp
  src/app/vertextool/qgsvertextool.cpp
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsmulticurve.cpp
  src/core/geometry/qgsmulticurve.h
  src/core/geometry/qgsmultilinestring.cpp
  src/core/geometry/qgsmultilinestring.h
  src/core/geometry/qgsmultipoint.cpp
  src/core/geometry/qgsmultipoint.h
  src/core/geometry/qgsmultipolygon.cpp
  src/core/geometry/qgsmultipolygon.h
  src/core/geometry/qgsmultisurface.cpp
  src/core/geometry/qgsmultisurface.h
  src/core/vectortile/qgsvectortilemvtencoder.cpp
  tests/src/core/testqgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: API

#38222 Check for dimensions when comparing WMS layer properties
  src/providers/wms/qgswmscapabilities.h
  tests/src/providers/testqgswmscapabilities.cpp
Labels: backport release-3_14

#38023 List 3.14 in API doc page
  doc/index.dox
Labels: stale

#38332 Server landingpage initial extent
  resources/server/api/ogc/static/landingpage/css/chunk-4bb3b66a.82255eb1.css
  resources/server/api/ogc/static/landingpage/index.html
  resources/server/api/ogc/static/landingpage/js/app.ca7d8a76.js
  resources/server/api/ogc/static/landingpage/js/app.ca7d8a76.js.map
  resources/server/api/ogc/static/landingpage/js/chunk-4bb3b66a.7a48f55d.js
  resources/server/api/ogc/static/landingpage/js/chunk-4bb3b66a.7a48f55d.js.map
  src/server/services/landingpage/qgslandingpageutils.cpp
  tests/src/python/test_qgsserver_landingpage.py
  tests/testdata/qgis_server/landingpage/test_landing_page_index.json
  tests/testdata/qgis_server/landingpage/test_landing_page_with_pg_index.json
  tests/testdata/qgis_server/landingpage/test_project_Metadata_Title.json
  tests/testdata/qgis_server/landingpage/test_project_PGProject1.json
  tests/testdata/qgis_server/landingpage/test_project_Project1_Title.json
  tests/testdata/qgis_server/landingpage/test_project_Project2_Title.json
  tests/testdata/qgis_server/landingpage/test_project_Project3_Title.json
  tests/testdata/qgis_server/landingpage/test_project_QGIS_Server_-_Grouped_Nested_Layer.json
  tests/testdata/qgis_server/landingpage/test_project_my_as_areas_project.json
Labels: Server

#38363 move PyQGIS building from Travis to Github workflows
  .ci/travis/docker_image/script.sh
Labels: backport release-3_10, backport release-3_14

#38355 Fix bad handling of non-square svg images in svg marker symbol layers
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgssvgcache.cpp
  src/gui/symbology/qgssymbollayerwidget.cpp
  tests/src/core/testqgssvgcache.cpp
  tests/src/core/testqgssvgmarker.cpp
  tests/testdata/svg/no_viewbox.svg
Labels: backport release-3_10, backport release-3_14

#38371 Server landing page: add missing resources
  resources/server/api/ogc/static/landingpage/css/chunk-fd085c1c.a76e3223.css
  resources/server/api/ogc/static/landingpage/js/app.e63a21da.js
  resources/server/api/ogc/static/landingpage/js/app.e63a21da.js.map
  resources/server/api/ogc/static/landingpage/js/chunk-fd085c1c.83a1da86.js
  resources/server/api/ogc/static/landingpage/js/chunk-fd085c1c.83a1da86.js.map
Labels: Server

#38376 Improve native item_id variable_help
  src/core/expression/qgsexpression.cpp
Labels: Expressions, Print Layouts

#38341 [ui] Fix SVG marker widget not properly restoring colors
  python/gui/auto_generated/symbology/qgssymbollayerwidget.sip.in
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
Labels: GUI/UX, Squash!, backport release-3_10, backport release-3_14

#38347 allow users to unhide paths directly from browser (fix #22290)
  src/app/browser/qgsinbuiltdataitemproviders.cpp
Labels: GUI/UX, Needs Documentation, QGIS Browser

#38348 Fix delimitedtext in virtual layers
  src/core/qgsvectorlayer.cpp
Labels: backport release-3_10, backport release-3_14

#38385 Make relation reference in filter work again
  src/gui/editorwidgets/qgsrelationreferencesearchwidgetwrapper.cpp
Labels: backport release-3_10, backport release-3_14

#38409 Fix range of date time values for animation export dialog
  src/app/qgsanimationexportdialog.cpp
Labels: backport release-3_14

#38240 New QGIS Server setting environement to disable GetPrint and do not load layouts
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgsconfigcache.cpp
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcapabilities.h
  tests/src/python/test_qgsserver_settings.py
Labels: Needs Documentation, Server

#38444 Fix crash in 3d when changing symbol properties (3.14 backport)
  src/3d/symbols/qgsline3dsymbol_p.cpp
  src/3d/symbols/qgspoint3dsymbol_p.cpp
  src/3d/symbols/qgspolygon3dsymbol_p.cpp
Labels: Backport, Crash/Data Corruption, backport release-3_10

#38454 Be more selectively about the messages we show in the status bar
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wms/qgswmsprovider.cpp
Labels: backport release-3_14

#38461 List availabale GDAL vector drivers (fix #18738)
  src/app/qgsoptions.cpp
  src/app/qgsoptions.h
  src/core/qgsapplication.cpp
  src/ui/qgsoptionsbase.ui
Labels: Changelog, Data Provider, Feature, GUI/UX, Needs Documentation

#38479 When a layer's data source is broken, show "Repair Data Source" instead of "Change Data Source" in its right click menu
  src/app/qgisapp.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: Needs Documentation

#38484 Fix 'invisible news' issue : after hiding the news it never comes back
  src/app/qgisapp.cpp
  src/app/qgsoptions.cpp
  src/app/qgswelcomepage.cpp
  src/app/qgswelcomepage.h
Labels: Bug, Easy fix, backport release-3_10, backport release-3_14

#38488 Server: Call QgsProject::setInstance on project passed as parameter
  src/core/qgsproject.h
  src/server/qgsconfigcache.cpp
  src/server/qgsserver.cpp
Labels: Bug, Server, backport release-3_10, backport release-3_14
