Repository qgis/QGIS, pull requests merged in 2021-12, with the labels that each got.

#46292 [MetaSearch] rename dialog file
  python/plugins/MetaSearch/ui/apidialog.ui
Labels: Bug, MetaSearch

#46300 Default to "external" for QgsApplication::platformName()
  python/core/auto_generated/qgsapplication.sip.in
  src/app/main.cpp
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/process/main.cpp
  tests/src/core/testqgsapplication.cpp
  tests/src/python/test_qgsappstartup.py
Labels: API, backport release-3_22

#45838 [Backport to queued_ltr_backport][ExternalResourceWidget] Fix crash when loading blank after a page
  src/gui/qgsexternalresourcewidget.cpp
  src/gui/qgsexternalresourcewidget.h
  tests/src/gui/testqgsexternalresourcewidgetwrapper.cpp
Labels: Backport, Bug

#45103 Fix select by polygon highlight
  src/app/qgsmaptoolselectionhandler.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_22

#46314 Hide CRS widget on geomtype none on startup
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.h
  src/ui/qgsdelimitedtextsourceselectbase.ui
Labels: GUI/UX, Bug

#46338 Fix crash when parsing mapbox style with labeling containing mixed literal and string references
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport release-3_16, backport release-3_22

#46339 Always detach images before modifying them in threads
  src/core/effects/qgsimageoperation.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
Labels: backport release-3_16, backport release-3_22

#46325 Add QgsFeature::attributeMap() method to return feature's attributes as a field name -> value dictionary
  python/core/auto_generated/qgsfeature.sip.in
  src/core/qgsfeature.cpp
  src/core/qgsfeature.h
  tests/src/python/test_qgsfeature.py
Labels: API, PyQGIS, backport release-3_22

#46344 Fix crash when parsing mapbox style with labeling containing mixed literal and string references
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Backport

#46312 Fix crash when opening CSV with wrong codec
  src/providers/delimitedtext/qgsdelimitedtextfile.cpp
Labels: Bug, backport release-3_22

#46377 kdab don't offer clazy appimages anymore
  .docker/qgis3-qt5-build-deps.dockerfile
Labels: backport release-3_16, backport release-3_22

#46359 Fix crash when parsing mapbox style with labeling containing mixed literal and string references (3.16)
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Backport

#46372 Fix triangle angles
  src/core/geometry/qgstriangle.cpp
  tests/src/core/geometry/testqgstriangle.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#46397 Fix unguarded access to possibly null raster renderer
  src/gui/raster/qgsrastertransparencywidget.cpp
Labels: Raster, Bug

#46401 fix percent encoding in server query parameter
  src/server/qgsserverparameters.cpp
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_22

#46408 Fix building with llvm13
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/providers/ogr/qgsogrproviderutils.h
Labels: backport release-3_22

#46412 fix percent encoding in wms server parameter
  src/server/qgsserverparameters.cpp
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
Labels: Backport, Bug

#43352 Add support for filtering by multiple attributes to get_feature expression
  resources/function_help/json/get_feature
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Changelog

#46167 Update of virtual fields considering layer dependencies
  python/gui/auto_generated/editorwidgets/qgsrelationwidgetwrapper.sip.in
  python/gui/auto_generated/qgsabstractrelationeditorwidget.sip.in
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationwidgetwrapper.h
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsabstractrelationeditorwidget.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
Labels: backport release-3_22

#46431 Optimise hillshade renderer
  src/core/raster/qgshillshaderenderer.cpp
  src/core/raster/qgshillshaderenderer.h
Labels: Optimization

#46439 Treat empty array as NULL; and fix value relation filter with NULL
  src/core/fieldformatter/qgsvaluerelationfieldformatter.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
Labels: Forms, Bug, backport queued_ltr_backports, backport release-3_22

#46449 Fix outdated geometry is returned for feature when a feature has both unsaved attribute and geometry changes and an expression based request is used
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: backport release-3_16, backport release-3_22

#46466 [browser] Standardize text for "remove connection" actions
  src/gui/qgsowssourceselect.cpp
  src/gui/vectortile/qgsvectortiledataitemguiprovider.cpp
  src/providers/arcgisrest/qgsarcgisrestdataitemguiprovider.cpp
  src/providers/db2/qgsdb2dataitemguiprovider.cpp
  src/providers/geonode/qgsgeonodedataitemguiprovider.cpp
  src/providers/hana/qgshanadataitemguiprovider.cpp
  src/providers/mssql/qgsmssqldataitemguiprovider.cpp
  src/providers/oracle/qgsoracledataitems.cpp
  src/providers/postgres/qgspostgresdataitemguiprovider.cpp
  src/providers/spatialite/qgsspatialitedataitemguiprovider.cpp
  src/providers/wcs/qgswcsdataitemguiprovider.cpp
  src/providers/wfs/qgswfsdataitemguiprovider.cpp
  src/providers/wms/qgswmsdataitemguiproviders.cpp
Labels: Needs Documentation, backport release-3_22

#46469 [browser] Fix creation of new spatialite databases through browser
  src/providers/spatialite/qgsspatialitedataitemguiprovider.cpp
Labels: backport release-3_22

#46464 Add example with hamming_distance with different length
  resources/function_help/json/hamming_distance
Labels: Expressions, GUI/UX, backport release-3_22

#46465 [spatialite] Fix crash when loading certain spatialite layers
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: backport release-3_16, backport release-3_22

#46470 Fix some leaks
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/providers/postgres/qgspgnewconnection.cpp
  src/providers/spatialite/qgsspatialitesourceselect.cpp
Labels: backport release-3_22

#46479 Hide the temporal limit handling combo box when a vector layer temporal mode is set to redraw layer only
  src/gui/qgsvectorlayertemporalpropertieswidget.cpp
  src/ui/qgsvectorlayertemporalpropertieswidgetbase.ui
Labels: backport release-3_22

#46478 Fix output range min/max values in property assistants
  src/gui/qgspropertyassistantwidget.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#46452 Use widget value when validating attrs in form
  python/core/auto_generated/vector/qgsvectorlayerutils.sip.in
  src/core/vector/qgsvectorlayerutils.cpp
  src/core/vector/qgsvectorlayerutils.h
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_22

#46489 mdal 0.9.1
  external/mdal/frmts/mdal_dynamic_driver.cpp
  external/mdal/frmts/mdal_selafin.cpp
  external/mdal/frmts/mdal_selafin.hpp
  external/mdal/mdal.cpp
Labels: backport release-3_22

#46505 Expose layers field names to expression widget
  python/gui/auto_generated/qgsexpressiontreeview.sip.in
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressionbuilderwidget.h
  src/gui/qgsexpressiontreeview.cpp
  src/gui/qgsexpressiontreeview.h
Labels: Feature, Expressions

#46471 Fix setting manual table content through PyQGIS
  python/core/auto_generated/qgstablecell.sip.in
  src/core/qgstablecell.h
Labels: backport release-3_16, backport release-3_22

#46516 Restore accidentaly removed condition from crssync cmake
  src/crssync/CMakeLists.txt
Labels: backport release-3_22

#46037 [Doc] Add folders for documentation generation
  doc/CMakeLists.txt
  python/core/auto_generated/editform/qgsattributeeditorrelation.sip.in
  python/core/auto_generated/settings/qgssettingsentry.sip.in
  python/gui/auto_generated/mesh/qgsmeshlayerproperties.sip.in
  python/gui/auto_generated/tableeditor/qgstableeditorwidget.sip.in
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  src/core/editform/qgsattributeeditorrelation.h
  src/core/externalstorage/qgssimplecopyexternalstorage.cpp
  src/core/externalstorage/qgssimplecopyexternalstorage_p.h
  src/core/externalstorage/qgswebdavexternalstorage.cpp
  src/core/externalstorage/qgswebdavexternalstorage_p.h
  src/core/providers/ogr/qgscplerrorhandler.h
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/settings/qgssettingsentry.h
  src/core/settings/qgssettingsregistry.h
  src/core/settings/qgssettingsregistrycore.h
  src/gui/mesh/qgsmeshdatasetgrouptreeview.h
  src/gui/mesh/qgsmeshdatasetgrouptreewidget.h
  src/gui/mesh/qgsmeshlayerproperties.h
  src/gui/mesh/qgsmeshrenderer3daveragingwidget.h
  src/gui/mesh/qgsmeshrendereractivedatasetwidget.h
  src/gui/mesh/qgsmeshrenderermeshsettingswidget.h
  src/gui/mesh/qgsmeshrendererscalarsettingswidget.h
  src/gui/mesh/qgsmeshrenderervectorsettingswidget.h
  src/gui/mesh/qgsmeshstaticdatasetwidget.h
  src/gui/mesh/qgsmeshvariablestrokewidthwidget.h
  src/gui/mesh/qgsrenderermeshpropertieswidget.h
  src/gui/providers/qgspointcloudsourceselect.cpp
  src/gui/settings/qgssettingsregistrygui.h
  src/gui/tableeditor/qgstableeditorformattingwidget.h
  src/gui/tableeditor/qgstableeditorwidget.h
  src/gui/vector/qgsattributeactiondialog.h
  src/gui/vector/qgsattributeactionpropertiesdialog.h
  src/gui/vector/qgsattributesforminitcode.h
  src/gui/vector/qgsattributesformproperties.h
  src/gui/vector/qgsdiagramproperties.cpp
  src/gui/vector/qgsdiagramproperties.h
  src/gui/vector/qgsfieldcalculator.h
  src/gui/vector/qgsjoindialog.h
  src/gui/vector/qgssourcefieldsproperties.h
  src/gui/vector/qgsvectorlayerlegendwidget.h
  src/gui/vector/qgsvectorlayerproperties.h
  src/gui/vector/qgsvectorlayersavestyledialog.h
  src/gui/vector/qgswmsdimensiondialog.h
  tests/code_layout/acceptable_missing_doc.py
  tests/code_layout/test_qgsdoccoverage.py
Labels: backport release-3_22

#46528 Fix cannot set width unit scale for raster image fill
  src/gui/symbology/qgssymbollayerwidget.cpp
Labels: backport release-3_16, backport release-3_22

#46539 Added support for suppressing bad layers handler on startup.
  src/app/main.cpp
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Feature, Needs Documentation, Changelog, Configs and Options, CLI

#46548 Updated CLI help to include short form flags.
  src/app/main.cpp
Labels: CLI

#46551 Added some tooltips for 3d widgets
  src/ui/3d/goochmaterialwidget.ui
  src/ui/3d/phongmaterialwidget.ui
  src/ui/3d/phongtexturedmaterialwidgetbase.ui
Labels: 3D, backport release-3_22

#46550 [auth] Fix missing resources from the oauth2 authentication method
  src/auth/oauth2/CMakeLists.txt
  src/auth/oauth2/gui/qgsauthoauth2edit.cpp
  src/auth/oauth2/gui/qgsauthoauth2edit.ui
Labels: Build/Install, backport release-3_22

#46549 [themes] Fix glitched rendering of tab bars with a single tab
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_22

#46545 [Bugfix] Limit xlsx workbook length
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
Labels: backport release-3_22

#46531 Check file existance in QgsFileWidget - Fixes #46077
  src/gui/qgsfilewidget.cpp
Labels: backport release-3_22

#46521 [QuickGui] Fix MapCanvas by adapting to cpp changes and remove utils
  src/quickgui/CMakeLists.txt
  src/quickgui/plugin/qgsquickmapcanvas.qml
  src/quickgui/plugin/qgsquickplugin.cpp
  src/quickgui/qgsquickmapsettings.cpp
  src/quickgui/qgsquickmapsettings.h
  src/quickgui/qgsquickmaptransform.cpp
  src/quickgui/qgsquickutils.cpp
  src/quickgui/qgsquickutils.h
  tests/src/quickgui/CMakeLists.txt
  tests/src/quickgui/testqgsquickmapsettings.cpp
Labels: backport release-3_22

#46566 Fix gdal algorithms immediately show wrong or missing parameter value warnings
  python/plugins/processing/algs/gdal/GdalAlgorithmDialog.py
Labels: Processing

#46582 Review the logging when saving/updating symbols in qgstyle.cpp
  src/core/symbology/qgsstyle.cpp
Labels: backport release-3_22

#46601 Avoid shrinking of buttons in the Assistant property dialog
  src/ui/qgspropertyassistantwidgetbase.ui
Labels: backport release-3_22

#46595 [bugfix] prevent field collision in Array of Translated Feature
  src/analysis/processing/qgsalgorithmarraytranslatedfeatures.cpp
Labels: backport release-3_22

#46554 {bugfix} Prevent field conflicts in Join by Nearest
  src/analysis/processing/qgsalgorithmjoinbynearest.cpp
Labels: backport release-3_22

#46556 [bugfix] remember and revert crs change on cancel
  src/app/annotations/qgsannotationlayerproperties.cpp
  src/app/annotations/qgsannotationlayerproperties.h
  src/app/pointcloud/qgspointcloudlayerproperties.cpp
  src/app/pointcloud/qgspointcloudlayerproperties.h
  src/gui/mesh/qgsmeshlayerproperties.cpp
  src/gui/mesh/qgsmeshlayerproperties.h
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
Labels: backport release-3_22

#46616 Option not to build crssync
  CMakeLists.txt
  src/CMakeLists.txt
  src/crssync/CMakeLists.txt
Labels: backport release-3_22

#46536 Handle copy of vextex tool table into clipboard
  src/app/vertextool/qgsvertexeditor.cpp
Labels: backport release-3_22

#46612 Fix crash when rendering polygon layer with marker line
  src/core/symbology/qgssymbol.cpp
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_markerline_one_part_multisurface/expected_markerline_one_part_multisurface.png
Labels: Crash/Data Corruption

#46613 Add test for #46604
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_markerline_one_part_multisurface/expected_markerline_one_part_multisurface.png
Labels: backport release-3_22

#46627 Fix default value for buffer cap argument
  resources/function_help/json/buffer
Labels: backport release-3_22

#46637 Fix only first part of multipart geometry rendered when generator is used as a subsymbol of generator layers
  src/core/symbology/qgsgeometrygeneratorsymbollayer.cpp
  tests/src/python/test_qgsgeometrygeneratorsymbollayer.py
  tests/testdata/control_images/expected_geometrygenerator_multipart_subsymbol/expected_geometrygenerator_multipart_subsymbol.png
Labels: backport release-3_22

#46634 [processing] Add the missing optional extent param to the gdal clip raster by mask aglorithm
  python/plugins/processing/algs/gdal/ClipRasterByMask.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Feature, Processing, Needs Documentation

#46654 [feature] Add a QgsScaleCalculator function to calculate canvas width from a given extent, scale, and dpi
  python/core/auto_generated/qgsscalecalculator.sip.in
  src/core/qgsscalecalculator.cpp
  src/core/qgsscalecalculator.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsscalecalculator.py
Labels: Requires Tests!, Feature, API

#46591 Correctly set font style (bold/italic) when converting MapBox styles
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
Labels: backport release-3_22

#46662 Add layerRendered signal to QgsMapRendererJob
  python/core/auto_generated/maprenderer/qgsmaprendererjob.sip.in
  src/core/maprenderer/qgsmaprenderercustompainterjob.cpp
  src/core/maprenderer/qgsmaprendererjob.h
  src/core/maprenderer/qgsmaprenderersequentialjob.cpp
  src/core/maprenderer/qgsmaprendererstagedrenderjob.cpp
Labels: API
