Repository qgis/QGIS, pull requests merged in 2021-02, with the labels that each got.

#41279 Correctly show the field comment on subsequent field selections
  src/gui/vector/qgsattributesformproperties.cpp
Labels: backport release-3_16

#41296 [Postgres] Use spatial index for tables using geography type (fixes #39453)
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg.sh
  tests/testdata/provider/testdata_pg_geography.sql
Labels: backport release-3_16

#41297 QgsDataProvider::ReadFlags is not used in QgsGdalProvider
  src/core/providers/gdal/qgsgdalprovider.cpp
Labels: Bug, backport release-3_16

#41286 Fix the Profile From Lines SAGA tool
  python/plugins/processing/algs/saga/description/ProfilesfromLines.txt
Labels: Processing, backport release-3_16

#41308 [processing] Fix exception in algorithm locator filter if an algorithm has no group set
  python/plugins/processing/gui/AlgorithmLocatorFilter.py
Labels: backport release-3_16

#41277 [gdal] Add open options support to gain dataset flexibility / fixes
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalproviderbase.cpp
  src/core/providers/gdal/qgsgdalproviderbase.h
  src/gui/providers/gdal/qgsgdalsourceselect.cpp
  src/gui/providers/gdal/qgsgdalsourceselect.h
  src/ui/qgsgdalsourceselectbase.ui
  tests/src/core/testqgsgdalprovider.cpp
  tests/src/python/test_provider_gdal.py
Labels: Data Provider

#41320 [processing] Fix exception in algorithm locator filter if an algorithm has no group set (3.16 backport)
  python/plugins/processing/gui/AlgorithmLocatorFilter.py
Labels: Backport

#41316 Locale support for extent and raster save as dlg
  src/gui/qgsextentwidget.cpp
  src/gui/qgsrasterlayersaveasdialog.cpp
Labels: Bug, backport release-3_16

#41211 WMS provider: urlencode layer names in GetMap URL requests
  src/providers/wms/qgswmsprovider.cpp
  src/server/qgsrequesthandler.cpp
  tests/src/providers/testqgswmsprovider.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/src/server/testqgsserverquerystringparameter.cpp
Labels: Bug, WMS data provider, backport release-3_16

#41242 Server WFS: handle axis orientation
  src/core/qgsogcutils.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfstransaction.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.h
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/test_project_wms_grouped_layers.gpkg
Labels: Bug, Server, backport release-3_16

#41110 qgsimagewarper.cpp: multithreaded image warp
  src/app/georeferencer/qgsimagewarper.cpp
Labels: stale

#41348 [pointclouds] Don't regenerate ramp classes automatically when restoring previous renderer settings
  src/app/3d/qgspointcloud3dsymbolwidget.cpp
  src/app/3d/qgspointcloud3dsymbolwidget.h
  src/gui/pointcloud/qgspointcloudattributebyramprendererwidget.cpp
  src/gui/pointcloud/qgspointcloudattributebyramprendererwidget.h
Labels: Point Clouds

#41350 Fix incorrect feature request filter expression generated when rule based renderer uses a NOT IN rule
  src/core/expression/qgsexpression.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_16

#41362 fix mesh legend
  src/core/mesh/qgsmeshlayer.cpp
Labels: Bug, Map and Legend, Mesh, Regression, backport release-3_16

#41332 [VirtualLayer] Prevent integer overflow for long long in virtual layer
  src/core/qgsvirtuallayerdefinition.cpp
  src/providers/virtual/qgsvirtuallayerqueryparser.cpp
  src/providers/virtual/qgsvirtuallayersqlitemodule.cpp
  tests/src/python/test_provider_virtual.py
  tests/src/python/test_qgsvirtuallayerdefinition.py
Labels: Bug, Data Provider, backport release-3_16

#41371 [process] Set the PROJECT_PATH project as QgsProject singleton to fix aggregate expression (and more)
  src/process/qgsprocess.cpp
Labels: Bug, Processing, backport release-3_16

#41375 Remove assert: return is false if editing is aborted
  src/gui/qgsabstractrelationeditorwidget.cpp
Labels: Bug

#41335 Replace colon in typenames
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfsutils.cpp
Labels: Bug, Server, backport release-3_16

#41379 Fix #41343 d&d group has no name
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_16

#41213 Temporal controller: make milliseconds steps work (again?)
  src/gui/qgstemporalcontrollerwidget.cpp
Labels: Bug

#41357 Refresh snapping index on vector data provider notify
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  tests/src/core/testqgsmaplayer.cpp
Labels: Bug, Editing, backport release-3_16

#41355 GPKG Allow table creation from file browser
  python/core/auto_generated/qgsdataitem.sip.in
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/core/providers/ogr/qgsogrdataitems.cpp
  src/core/providers/ogr/qgsogrdataitems.h
  src/core/qgsdataitem.cpp
  src/core/qgsdataitem.h
  tests/src/python/test_qgsdataitem.py
Labels: Bug, QGIS Browser, backport release-3_16

#41395 Create class QgsAbstractGeometryTransformer, which can be used to transform the vertices of a QgsAbstractGeometry
  python/core/auto_generated/geometry/qgsabstractgeometry.sip.in
  python/core/auto_generated/geometry/qgscircularstring.sip.in
  python/core/auto_generated/geometry/qgscompoundcurve.sip.in
  python/core/auto_generated/geometry/qgscurvepolygon.sip.in
  python/core/auto_generated/geometry/qgsgeometrycollection.sip.in
  python/core/auto_generated/geometry/qgsgeometrytransformer.sip.in
  python/core/auto_generated/geometry/qgslinestring.sip.in
  python/core/auto_generated/geometry/qgspoint.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/geometry/qgsabstractgeometry.h
  src/core/geometry/qgscircularstring.cpp
  src/core/geometry/qgscircularstring.h
  src/core/geometry/qgscompoundcurve.cpp
  src/core/geometry/qgscompoundcurve.h
  src/core/geometry/qgscurvepolygon.cpp
  src/core/geometry/qgscurvepolygon.h
  src/core/geometry/qgsgeometrycollection.cpp
  src/core/geometry/qgsgeometrycollection.h
  src/core/geometry/qgsgeometrytransformer.h
  src/core/geometry/qgslinestring.cpp
  src/core/geometry/qgslinestring.h
  src/core/geometry/qgspoint.cpp
  src/core/geometry/qgspoint.h
  tests/src/core/testqgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: API

#41374 load system OpenCL
  src/core/qgsopenclutils.cpp
Labels: backport release-3_16

#41427 Fix AMS identify
  src/gui/qgsmaptoolidentify.cpp
  src/providers/arcgisrest/qgsamsprovider.cpp
Labels: ArcGIS mapserver data provider, Bug, backport release-3_16

#41382 Don't loop through all selected features multiple times (once per field) when the attribute form is opened
  python/core/auto_generated/vector/qgsvectorlayerutils.sip.in
  src/core/vector/qgsvectorlayerutils.cpp
  src/core/vector/qgsvectorlayerutils.h
  src/gui/qgsattributeformeditorwidget.cpp
  tests/src/python/test_qgsvectorlayerutils.py
Labels: backport release-3_16

#41434 [processing] Fix crash when running model from file through qgis_process with the --json switch
  src/process/qgsprocess.cpp
  tests/src/python/test_qgsprocessexecutable.py
Labels: Crash/Data Corruption, backport release-3_16

#41228 extent smooth rendering to mesh layer
  src/core/mesh/qgsmeshlayerrenderer.cpp
Labels: Mesh, Optimization

#41407 Fix initiation of feature counter map, use ruleKey
  src/core/vector/qgsvectorlayerfeaturecounter.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsvectorlayerfeaturecounter.py
Labels: Bug, backport release-3_16

#41435 Processing.initialize() automatically adds native and 3d providers
  python/plugins/processing/core/Processing.py
  python/plugins/processing/tests/AlgorithmsTestBase.py
  python/plugins/processing/tests/CheckValidityAlgorithm.py
  python/plugins/processing/tests/ProcessingGeneralTest.py
  python/plugins/processing/tests/QgisAlgorithmsTest1.py
  python/plugins/processing/tests/QgisAlgorithmsTest2.py
  python/plugins/processing/tests/QgisAlgorithmsTest3.py
  python/plugins/processing/tests/QgisAlgorithmsTest4.py
Labels: backport release-3_16

#41469 Server Landing page source code
  resources/server/src/landingpage/README.md
  resources/server/src/landingpage/babel.config.js
  resources/server/src/landingpage/package.json
  resources/server/src/landingpage/public/favicon.ico
  resources/server/src/landingpage/public/index.html
  resources/server/src/landingpage/src/App.vue
  resources/server/src/landingpage/src/assets/logo.png
  resources/server/src/landingpage/src/components/AttributeTable.vue
  resources/server/src/landingpage/src/components/Error.vue
  resources/server/src/landingpage/src/components/IdentifyResults.vue
  resources/server/src/landingpage/src/components/LayerTree.vue
  resources/server/src/landingpage/src/components/LayerTreeNode.vue
  resources/server/src/landingpage/src/components/LeftSidebar.vue
  resources/server/src/landingpage/src/components/MapFooter.vue
  resources/server/src/landingpage/src/components/MapToolbar.vue
  resources/server/src/landingpage/src/components/Metadata.vue
  resources/server/src/landingpage/src/js/Utils.js
  resources/server/src/landingpage/src/js/WmsSource.js
  resources/server/src/landingpage/src/main.js
  resources/server/src/landingpage/src/plugins/vuetify.js
  resources/server/src/landingpage/src/store.js
  resources/server/src/landingpage/src/views/Catalog.vue
  resources/server/src/landingpage/src/views/WebGis.vue
  resources/server/src/landingpage/vue.config.js
  resources/server/src/landingpage/yarn.lock
  scripts/spell_check/check_spelling.sh
Labels: backport release-3_16

#41457 properly get layer from a QgsProcessingFeatureSourceDefinition
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Bug, Processing, backport release-3_16

#40743 Added sanity check of links between graphicitems showing error in dialog. Fixes #40724 #39260
  python/gui/auto_generated/processing/models/qgsmodelgraphicsscene.sip.in
  python/plugins/processing/modeler/ModelerDialog.py
  src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp
  src/gui/processing/models/qgsmodelgraphicsscene.cpp
  src/gui/processing/models/qgsmodelgraphicsscene.h
Labels: API, Bug, Modeller, Processing, backport release-3_16

#41485 Fix fragile method of setting font marker data defined style
  src/core/symbology/qgsmarkersymbollayer.cpp
  tests/src/core/testqgsfontmarker.cpp
Labels: backport release-3_16

#41505 support python 3.8 and qgis-deps-0.7.0
  cmake/FindPythonLibrary.cmake
Labels: Packaging, backport release-3_16

#41494 Respect static precalculated nodes during expression filter compilation
  python/core/auto_generated/expression/qgsexpressionnode.sip.in
  python/core/auto_generated/qgsfeaturerequest.sip.in
  src/core/expression/qgsexpressionnode.h
  src/core/providers/ogr/qgsogrexpressioncompiler.cpp
  src/core/providers/ogr/qgsogrexpressioncompiler.h
  src/core/providers/ogr/qgsogrfeatureiterator.cpp
  src/core/qgsfeaturerequest.h
  src/core/qgssqlexpressioncompiler.cpp
  src/core/qgssqlexpressioncompiler.h
  src/core/qgssqliteexpressioncompiler.cpp
  src/core/qgssqliteexpressioncompiler.h
  src/providers/db2/qgsdb2expressioncompiler.cpp
  src/providers/db2/qgsdb2expressioncompiler.h
  src/providers/db2/qgsdb2featureiterator.cpp
  src/providers/hana/qgshanaexpressioncompiler.cpp
  src/providers/hana/qgshanaexpressioncompiler.h
  src/providers/hana/qgshanafeatureiterator.cpp
  src/providers/mssql/qgsmssqlexpressioncompiler.cpp
  src/providers/mssql/qgsmssqlexpressioncompiler.h
  src/providers/mssql/qgsmssqlfeatureiterator.cpp
  src/providers/oracle/qgsoracleexpressioncompiler.cpp
  src/providers/oracle/qgsoracleexpressioncompiler.h
  src/providers/oracle/qgsoraclefeatureiterator.cpp
  src/providers/postgres/qgspostgresexpressioncompiler.cpp
  src/providers/postgres/qgspostgresexpressioncompiler.h
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/spatialite/qgsspatialitefeatureiterator.cpp
  tests/src/core/testqgssqliteexpressioncompiler.cpp
  tests/src/python/featuresourcetestbase.py
  tests/src/python/providertestbase.py
Labels: Optimization

#41491 QGIS expressions are not sensitive to the case of field names
  src/core/qgssqlexpressioncompiler.cpp
  tests/src/python/featuresourcetestbase.py
  tests/src/python/test_provider_mssql.py
  tests/src/python/test_provider_shapefile.py
Labels: Optimization

#41481 Vector tiles: fix crash in gsMapBoxGlStyleConverter::parseFillLayer()…
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
Labels: Bug, backport release-3_16

#41363 [WMSProvider] remove duplicates in CRS list
  src/providers/wms/qgswmscapabilities.cpp
  tests/src/providers/testqgswmscapabilities.cpp
Labels: Bug, WMS data provider, backport release-3_16

#41446 Saving processing results in a database
  src/core/processing/qgsprocessingutils.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Bug, Processing, backport release-3_16

#41507 Use QRegularExpression::UseUnicodePropertiesOption in regular expressions
  resources/function_help/json/regexp_match
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Bug, backport release-3_16

#41544 Fix example in help of the format function
  resources/function_help/json/format
Labels: backport release-3_16

#41547 Fix calculation info in Measure Line tool
  src/app/qgsmeasuredialog.cpp
Labels: backport release-3_16

#41551 Add symbol button to allow users to customise the line symbol used in collapsed data defined size legends
  src/core/qgsdatadefinedsizelegend.cpp
  src/gui/symbology/qgsdatadefinedsizelegendwidget.cpp
  src/ui/qgsdatadefinedsizelegendwidget.ui
Labels: GUI/UX

#41556 Prevent spatialindex creation by default on GPKG
  src/app/browser/qgsinbuiltdataitemproviders.cpp
Labels: Bug, backport release-3_16

#41515 fix GRASS v_net_visibility module
  python/plugins/processing/algs/grass7/description/v.net.visibility.txt
Labels: Processing, backport release-3_16

#41555 Fix misleading error message when an attribute form fails to save changes
  python/gui/auto_generated/qgsattributeform.sip.in
  src/gui/qgsattributedialog.cpp
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
Labels: backport release-3_16

#41554 Add option to control the plain text display method for fields using the checkbox form widget
  python/core/auto_generated/fieldformatter/qgscheckboxfieldformatter.sip.in
  src/core/fieldformatter/qgscheckboxfieldformatter.cpp
  src/core/fieldformatter/qgscheckboxfieldformatter.h
  src/gui/editorwidgets/qgscheckboxconfigdlg.cpp
  src/ui/editorwidgets/qgscheckboxconfigdlgbase.ui
  tests/src/python/test_qgsfieldformatters.py
Labels: backport release-3_16

#41570 Fix logic error in QgsVectorLayer::changeAttributeValues which results in an incorrect failure status when editing a layer which contains joins
  src/core/vector/qgsvectorlayer.cpp
  tests/src/core/testqgsvectorlayerjoinbuffer.cpp
Labels: backport release-3_16

#41574 Expose the correct expression context for attribute and manual table text format widgets
  src/core/layout/qgslayouttable.cpp
  src/gui/layout/qgslayoutattributetablewidget.cpp
  src/gui/layout/qgslayoutattributetablewidget.h
  src/gui/layout/qgslayoutmanualtablewidget.cpp
  src/gui/layout/qgslayoutmanualtablewidget.h
Labels: Print Layouts, backport release-3_16

#41576 Fix text edit widget wrapper incorrectly shows "NULL" string for indeterminate state
  src/gui/editorwidgets/qgstexteditwrapper.cpp
  tests/src/python/test_qgseditwidgets.py
Labels: backport release-3_16

#41587 Update readme.txt
  mac/readme.txt
Labels: Needs Documentation

#41588 Revert "Update readme.txt"
  mac/readme.txt
Labels: Needs Documentation

#41592 Revert "Revert "Update readme.txt""
  mac/readme.txt
Labels: Needs Documentation

#41472 cache mxe builds
  .github/workflows/mxe.yml
  ms-windows/mxe/build-mxe.sh
  ms-windows/mxe/build.sh
  ms-windows/mxe/mxe.Dockerfile
Labels: Chore

#41591 fix crash on open directory on recent projects on MacOS
  src/gui/qgsfocuskeeper.cpp
  src/gui/qgsfocuskeeper.h
Labels: backport release-3_16

#41508 QGIS crashes when trying to link existing child features
  src/gui/qgsabstractrelationeditorwidget.cpp
Labels: Crash/Data Corruption

#41616 backport server-landingpage-sources
  resources/server/src/landingpage/README.md
  resources/server/src/landingpage/babel.config.js
  resources/server/src/landingpage/package.json
  resources/server/src/landingpage/public/favicon.ico
  resources/server/src/landingpage/public/index.html
  resources/server/src/landingpage/src/App.vue
  resources/server/src/landingpage/src/assets/logo.png
  resources/server/src/landingpage/src/components/AttributeTable.vue
  resources/server/src/landingpage/src/components/Error.vue
  resources/server/src/landingpage/src/components/IdentifyResults.vue
  resources/server/src/landingpage/src/components/LayerTree.vue
  resources/server/src/landingpage/src/components/LayerTreeNode.vue
  resources/server/src/landingpage/src/components/LeftSidebar.vue
  resources/server/src/landingpage/src/components/MapFooter.vue
  resources/server/src/landingpage/src/components/MapToolbar.vue
  resources/server/src/landingpage/src/components/Metadata.vue
  resources/server/src/landingpage/src/js/Utils.js
  resources/server/src/landingpage/src/js/WmsSource.js
  resources/server/src/landingpage/src/main.js
  resources/server/src/landingpage/src/plugins/vuetify.js
  resources/server/src/landingpage/src/store.js
  resources/server/src/landingpage/src/views/Catalog.vue
  resources/server/src/landingpage/src/views/WebGis.vue
  resources/server/src/landingpage/vue.config.js
  resources/server/src/landingpage/yarn.lock
  scripts/spell_check/check_spelling.sh
Labels: Backport

#41643 Fix indentation check package
  .github/workflows/code_layout.yml
Labels: Chore, backport release-3_16

#41644 [shellcheck] Fix bad return code
  .ci/ogc/build.sh
Labels: Chore, backport release-3_16

#41650 Fix typo in replacement string for Doxygen FILE_PATTERNS option
  cmake_templates/Doxyfile.in
  doc/CMakeLists.txt
Labels: Chore, backport release-3_16

#41538 Fix 3D point cloud position when layer CRS != project CRS
  python/core/auto_generated/qgscoordinatetransform.sip.in
  src/3d/qgspointcloudlayer3drenderer.cpp
  src/3d/qgspointcloudlayer3drenderer.h
  src/3d/qgspointcloudlayerchunkloader_p.cpp
  src/3d/qgspointcloudlayerchunkloader_p.h
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
  src/core/qgscoordinatetransform.cpp
  src/core/qgscoordinatetransform.h
Labels: Point Clouds

#41679 Fix null values are treated as valid values when evaluating data defined field values
  src/core/qgsproperty.cpp
  tests/src/core/testqgsproperty.cpp
Labels: backport release-3_16

#41677 Fix crash when running gdal algorithms through modeler
  src/core/qgsrunprocess.cpp
Labels: Crash/Data Corruption

#41653 Fix crash when setting value for relation widget wrapper
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.h
Labels: Crash/Data Corruption, backport release-3_16

#41527 Fedora mingw
  .github/workflows/minw64.yml
  .github/workflows/mxe.yml
  ms-windows/mingw/build.sh
  ms-windows/mingw/qgis3-build-deps-mingw.dockerfile
  ms-windows/mxe/README.md
  ms-windows/mxe/build-mxe.sh
  ms-windows/mxe/deploy.py
  ms-windows/mxe/mxe.Dockerfile
  python/core/auto_generated/auth/qgsauthmanager.sip.in
  src/core/auth/qgsauthmanager.h
Labels: Build/Install, Chore

#41191 Feature: mime_type expression function
  resources/function_help/json/mime_type
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Changelog, Expressions, Feature

#41433 Add log level to QgsProcessingContext, --verbose switch for qgis_process
  python/core/auto_generated/processing/qgsprocessingcontext.sip.in
  python/gui/auto_generated/processing/qgsprocessingalgorithmdialogbase.sip.in
  python/plugins/processing/gui/AlgorithmDialog.py
  python/plugins/processing/modeler/ModelerDialog.py
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/qgsprocessingcontext.cpp
  src/core/processing/qgsprocessingcontext.h
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.h
  src/process/qgsprocess.cpp
  src/process/qgsprocess.h
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Changelog, Feature, Merge After Thaw, Processing

#41678 Correctly set data defined html url or attribute table source property on the parent multiframe object, not the child frame
  python/core/auto_generated/layout/qgslayoutobject.sip.in
  src/core/layout/qgslayoutobject.cpp
  src/core/layout/qgslayoutobject.h
  src/gui/layout/qgslayoutitemwidget.cpp
Labels: Bug, Print Layouts, backport release-3_16, backport release-3_18

#41602 [georeferencer] Show a temporary marker at the clicked point after adding a point
  src/app/georeferencer/qgsgcpcanvasitem.cpp
  src/app/georeferencer/qgsgcpcanvasitem.h
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/georeferencer/qgsgeorefmainwindow.h
  src/app/georeferencer/qgsmapcoordsdialog.cpp
  src/app/georeferencer/qgsmapcoordsdialog.h
Labels: GUI/UX

#41605 QgsProjectLayerGroupDialog: accept an existing project
  src/app/qgsprojectlayergroupdialog.cpp
  src/app/qgsprojectlayergroupdialog.h
  src/app/qgsprojectproperties.cpp
Labels: Bug, Server, backport release-3_16, backport release-3_18

#41596 Ignore getLegendGraphic URL if GetMap url is ignored
  src/providers/wms/qgswmsprovider.cpp
  src/ui/qgsnewhttpconnectionbase.ui
Labels: backport release-3_16, backport release-3_18

#41670 Set min/max from data type when GDAL stats fail
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/raster/qgsrasterlayer.cpp
Labels: Bug, Raster, backport release-3_16, backport release-3_18

#41584 add circle vector tile layer support
  python/core/auto_generated/vectortile/qgsmapboxglstyleconverter.sip.in
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  src/core/vectortile/qgsmapboxglstyleconverter.h
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport release-3_16, backport release-3_18

#41710 [processing] Fix GDAL algorithms hang when gdal command is not available to run
  python/core/auto_generated/qgsrunprocess.sip.in
  python/plugins/processing/algs/gdal/GdalUtils.py
  src/core/qgsrunprocess.cpp
  src/core/qgsrunprocess.h
  tests/src/python/test_qgsblockingprocess.py
Labels: Bug, backport release-3_18

#41114 [gdal] Enable ALL_CPUS multi-threaded overviews building
  src/core/qgsapplication.cpp
Labels: Optimization

#41715 Show a highlight around the label which will be affected
  src/app/labeling/qgsmaptoolchangelabelproperties.cpp
  src/app/labeling/qgsmaptoolchangelabelproperties.h
  src/app/labeling/qgsmaptoollabel.cpp
  src/app/labeling/qgsmaptoollabel.h
  src/app/labeling/qgsmaptoolmovelabel.cpp
  src/app/labeling/qgsmaptoolrotatelabel.cpp
  src/app/labeling/qgsmaptoolrotatelabel.h
  src/app/labeling/qgsmaptoolshowhidelabels.cpp
Labels: GUI/UX, Labeling

#41716 [georeferencer] NEVER load raster file being referenced into the current project (3.18)
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/georeferencer/qgsgeorefmainwindow.h
Labels: Backport, backport release-3_16

#41687 OGC workflow triggering
  .github/workflows/ogc.yml
Labels: Chore, Server

#41729 Add mechanism to defer updates of rubber bands when adding multiple geometries
  python/gui/auto_generated/qgsrubberband.sip.in
  src/app/qgsmaptoolmovefeature.cpp
  src/app/qgsmaptoolrotatefeature.cpp
  src/app/qgsmaptoolscalefeature.cpp
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsrubberband.cpp
  src/gui/qgsrubberband.h
Labels: Optimization, backport release-3_16, backport release-3_18

#41738 Fix calling in place with empty iterator
  python/plugins/processing/gui/AlgorithmExecutor.py
Labels: backport release-3_16, backport release-3_18

#41750 Gracefully catch transform errors in rubber band geometries
  src/gui/qgsrubberband.cpp
Labels: backport release-3_16, backport release-3_18

#41749 Optimise QgsGeometry::asMultiPolygon/asPolygon
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
Labels: Optimization

#41276 Add 2 new actions to the attribute table header context menu.
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
Labels: Changelog, Feature, Squash!

#41758 [mesh] Fix mesh line width unit setting is always ignored
  src/core/mesh/qgsmeshlayerrenderer.cpp
Labels: backport release-3_16, backport release-3_18

#41761 Add mingw64-python3-dateutil to mingw dependencies
  ms-windows/mingw/qgis3-build-deps-mingw.dockerfile
Labels: Chore

#41769 Fix raster paletted ramp order
  src/core/raster/qgspalettedrasterrenderer.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#41756 [layouts] Fix map item loses preset theme choice
  src/gui/layout/qgslayoutmapwidget.cpp
  src/gui/layout/qgslayoutmapwidget.h
Labels: Bug, Print Layouts, backport release-3_16, backport release-3_18

#41324 A horizontal mouse wheel scroll over the canvas "scrubs" the temporal slider back and forward
  python/gui/auto_generated/qgstemporalcontrollerwidget.sip.in
  src/app/qgisapp.cpp
  src/app/qgstemporalcontrollerdockwidget.cpp
  src/app/qgstemporalcontrollerdockwidget.h
  src/gui/qgstemporalcontrollerwidget.cpp
  src/gui/qgstemporalcontrollerwidget.h
Labels: Changelog, Feature

#41781 Add option for setting a line symbol to use when rendering a QgsRubberBand
  python/gui/auto_generated/qgsrubberband.sip.in
  src/gui/qgsrubberband.cpp
  src/gui/qgsrubberband.h
  tests/src/gui/testqgsrubberband.cpp
  tests/testdata/control_images/rubberband/expected_line_symbol/expected_line_symbol.png
Labels: API

#41338 array_count, array_prioritize, array_replace added to expressions
  resources/function_help/json/array_count
  resources/function_help/json/array_prioritize
  resources/function_help/json/array_replace
  src/core/expression/qgsexpressionfunction.cpp
  src/core/expression/qgsexpressionfunction.h
  tests/src/core/testqgsexpression.cpp
Labels: Changelog, Feature

#41450 Activate HANA tests in Github Actions
  .docker/docker-qgis-test.sh
  .docker/docker-variables.env
Labels: Chore

#41787 Fix #41786 wrong server feature ids when composite PKs
  src/server/qgsserverfeatureid.cpp
  tests/src/python/test_qgsserver_wms_getfeatureinfo_postgres.py
Labels: Bug, Server, backport release-3_16, backport release-3_18

#41539 Bugfix gh41477 editbuffer passthrough
  python/core/auto_generated/vector/qgsvectorlayereditbuffer.sip.in
  python/core/auto_generated/vector/qgsvectorlayerundocommand.sip.in
  python/core/auto_generated/vector/qgsvectorlayerundopassthroughcommand.sip.in
  src/core/qgstransaction.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayereditbuffer.h
  src/core/vector/qgsvectorlayereditpassthrough.cpp
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  src/core/vector/qgsvectorlayerundocommand.cpp
  src/core/vector/qgsvectorlayerundocommand.h
  src/core/vector/qgsvectorlayerundopassthroughcommand.cpp
  src/core/vector/qgsvectorlayerundopassthroughcommand.h
  tests/src/python/test_qgsvectorlayereditbuffer.py
Labels: Bug, backport release-3_18

#41789 revert multithread georef
  src/app/georeferencer/qgsimagewarper.cpp
Labels: backport release-3_18

#41807 Add test to ban brace initialization of QVariant variables
  .github/workflows/code_layout.yml
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/qgisapp.cpp
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/qgsqueryresultmodel.cpp
  src/core/qgssettings.cpp
  src/gui/editorwidgets/qgstexteditwrapper.cpp
  src/gui/processing/qgsprocessingaggregatewidgets.cpp
  src/gui/qgsfieldmappingwidget.cpp
  src/gui/qgslocaleawarenumericlineeditdelegate.cpp
  src/gui/qgsnewdatabasetablenamewidget.cpp
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/raster/qgspostgresrastershareddata.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/code_layout/CMakeLists.txt
  tests/code_layout/test_qvariant_no_brace_init.sh
  tests/src/app/testqgsgpsinformationwidget.cpp
  tests/src/core/testqgsfield.cpp
Labels: backport release-3_16, backport release-3_18

#41812 [memory] Correctly store converted field values when adding or changing attributes
  src/core/providers/memory/qgsmemoryprovider.cpp
  tests/src/analysis/testqgsnetworkanalysis.cpp
  tests/src/python/test_provider_memory.py
Labels: backport release-3_16, backport release-3_18

#41817 Fix QgsCompoundCurve::removeDuplicateNodes with multiple duplicate nodes
  src/core/geometry/qgscompoundcurve.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#41816 [processing] add r.quantile algorithm with plain text output
  python/plugins/processing/algs/grass7/description/r.quantile.plain.txt
Labels: Processing

#41825 Remove keys().contains() anti pattern
  src/analysis/vector/geometry_checker/qgsgeometryoverlapcheck.cpp
  src/plugins/geometry_checker/qgsgeometrycheckerresulttab.cpp
  src/server/qgsserverogcapihandler.cpp
Labels: Optimization

#41811 Fix QgsAttributes equality operator when comparing attributes with a string and datetime value
  src/core/qgsattributes.h
  tests/src/analysis/testqgsprocessingalgs.cpp
  tests/src/core/testqgsfeature.cpp
Labels: backport release-3_16, backport release-3_18

#41814 [processing] Fix output raster extensions list for GdalAlgorithmProvider
  python/plugins/processing/algs/gdal/GdalAlgorithmProvider.py
  python/plugins/processing/algs/gdal/GdalUtils.py
Labels: backport release-3_16, backport release-3_18

#41848 Fix crashes in QgsHighlight if layer is removed before highlight
  src/gui/qgshighlight.h
Labels: backport release-3_16, backport release-3_18

#41826 fixed QgsPluginInstaller.installFromZipFile
  python/pyplugin_installer/installer.py
Labels: backport release-3_16, backport release-3_18

#41847 Fix many issues in gdal algs...
  python/plugins/processing/algs/gdal/GdalAlgorithmDialog.py
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/algs/gdal/PointsAlongLines.py
  python/plugins/processing/algs/gdal/buildvrt.py
  python/plugins/processing/algs/gdal/ogr2ogrtopostgislist.py
  python/plugins/processing/algs/gdal/retile.py
  python/plugins/processing/tests/GdalAlgorithmsGeneralTest.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: backport release-3_16, backport release-3_18

#41874 Fix GDAL command line generation, failing tests
  python/plugins/processing/algs/gdal/AssignProjection.py
  python/plugins/processing/algs/gdal/fillnodata.py
  python/plugins/processing/algs/gdal/gdal2tiles.py
  python/plugins/processing/algs/gdal/gdal2xyz.py
  python/plugins/processing/algs/gdal/gdalcalc.py
  python/plugins/processing/algs/gdal/merge.py
  python/plugins/processing/algs/gdal/pansharp.py
  python/plugins/processing/algs/gdal/pct2rgb.py
  python/plugins/processing/algs/gdal/polygonize.py
  python/plugins/processing/algs/gdal/proximity.py
  python/plugins/processing/algs/gdal/retile.py
  python/plugins/processing/algs/gdal/rgb2pct.py
  python/plugins/processing/algs/gdal/sieve.py
Labels: Processing, backport release-3_16, backport release-3_18

#41875 Skip oracle test, the oracle server container is not available
  .ci/test_blocklist.txt
Labels: Chore, backport release-3_16, backport release-3_18

#41876 Disable test_wfs3_time_filters_ranges test
  tests/src/python/test_qgsserver_api.py
Labels: backport release-3_16, backport release-3_18

#41877 Fix crash in point cloud layer properties
  src/app/3d/qgspointcloudlayer3drendererwidget.cpp
  src/app/3d/qgspointcloudlayer3drendererwidget.h
Labels: backport release-3_18

#41864 Rename duplicate zonal statistics (in place)
  src/analysis/processing/qgsalgorithmzonalstatistics.cpp
Labels: backport release-3_16, backport release-3_18

#41891 Split grass raster tests into two blocks
  python/plugins/processing/tests/CMakeLists.txt
  python/plugins/processing/tests/Grass7AlgorithmsRasterTestPt1.py
  python/plugins/processing/tests/Grass7AlgorithmsRasterTestPt2.py
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests1.yaml
  python/plugins/processing/tests/testdata/grass7_algorithms_raster_tests2.yaml
Labels: Backport

#41888 [gdal] Fix loading of rasters using a vsi prefix and add test
  src/core/providers/gdal/qgsgdalproviderbase.cpp
  tests/src/core/testqgsgdalprovider.cpp
Labels: Bug, backport release-3_18

#41912 Rewrite malformed datetime values in gpkg, resurrect test
  tests/src/python/test_qgsserver_api.py
  tests/testdata/qgis_server/test_project_api_timefilters.gpkg
Labels: backport release-3_16, backport release-3_18

#41852 Fix crashes in QgsHighlight if layer is removed before highlight (3.16)
  src/gui/qgshighlight.h
Labels: Backport

#41840 [memory] Correctly store converted field values when adding or changing attributes (3.18)
  src/core/providers/memory/qgsmemoryprovider.cpp
  tests/src/analysis/testqgsnetworkanalysis.cpp
  tests/src/python/test_provider_memory.py
Labels: Backport, backport release-3_16

#41893 Fix many issues in gdal algs (3.18)
  python/plugins/processing/algs/gdal/GdalAlgorithmDialog.py
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/algs/gdal/buildvrt.py
  python/plugins/processing/algs/gdal/ogr2ogrtopostgislist.py
  python/plugins/processing/algs/gdal/retile.py
  python/plugins/processing/tests/GdalAlgorithmsGeneralTest.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Backport, Processing, backport release-3_16

#41916 [gdal][ui] Fix opening of gdal rasters within ZIP containers in the data source manager dialog
  python/gui/auto_generated/qgsabstractdatasourcewidget.sip.in
  src/app/qgisapp.cpp
  src/gui/providers/gdal/qgsgdalsourceselect.cpp
  src/gui/qgsabstractdatasourcewidget.h
  src/gui/qgsdatasourcemanagerdialog.cpp
  src/gui/qgsdatasourcemanagerdialog.h
Labels: GUI/UX

#41918 Fix DXF export crash
  src/app/qgsdxfexportdialog.cpp
  src/app/qgsdxfexportdialog.h
Labels: Bug, backport release-3_18
