Repository qgis/QGIS, pull requests merged in 2021-11, with the labels that each got.

#45718 Add force_polygon_cw and force_polygon_ccw expression functions
  python/core/auto_generated/geometry/qgscurvepolygon.sip.in
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  resources/function_help/json/force_polygon_ccw
  resources/function_help/json/force_polygon_cw
  resources/function_help/json/force_rhr
  src/core/expression/qgsexpressionfunction.cpp
  src/core/geometry/qgscurvepolygon.cpp
  src/core/geometry/qgscurvepolygon.h
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  tests/src/core/geometry/testqgspolygon.cpp
  tests/src/core/testqgsexpression.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Expressions, Needs Documentation

#45763 Ensure correct symbol geometry type is used for more preview icons
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  src/core/symbology/qgssymbollayerutils.cpp
  src/core/symbology/qgssymbollayerutils.h
  src/gui/symbology/qgslayerpropertieswidget.cpp
Labels: backport release-3_22

#45767 Add missing meters at scale unit type for the heatmap and point clustering renderer widgets
  src/gui/symbology/qgsheatmaprendererwidget.cpp
  src/gui/symbology/qgspointclusterrendererwidget.cpp
Labels: Bug, backport release-3_16, backport release-3_22

#45777 Fix qgsdoublevalidator group separator
  src/gui/qgsdoublevalidator.cpp
  tests/src/gui/testqgsdoublevalidator.cpp
Labels: Bug, Localization

#45779 Fix saving arcgis vector tile servers to XML
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: Bug, backport release-3_22

#45780 Some fixed to querying zip file sublayers for ogr/gdal providers
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  tests/src/core/testqgsgdalprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: backport release-3_22

#45781 Ensure zip items behave correctly as files in browser
  python/core/auto_generated/browser/qgszipitem.sip.in
  src/core/browser/qgsdirectoryitem.cpp
  src/core/browser/qgszipitem.cpp
  src/core/browser/qgszipitem.h
Labels: backport release-3_22

#45782 Fix population of zip item layers in browser
  src/core/browser/qgszipitem.cpp
Labels: backport release-3_22

#45727 Expose QgsServerFeatureId to Python
  python/server/auto_generated/qgsserverfeatureid.sip.in
  python/server/server_auto.sip
  src/server/CMakeLists.txt
  src/server/qgsserverfeatureid.h
Labels: API, Server

#45803 [Fix] Edit imported but invalid model
  python/plugins/processing/modeler/EditModelAction.py
Labels: backport queued_ltr_backports, backport release-3_22

#45798 [Fix] Models import
  python/plugins/processing/modeler/AddModelFromFileAction.py
Labels: backport release-3_22

#45795 [symbology] Add a thumbnail size slider to style manager dialog
  src/gui/symbology/qgsstylemanagerdialog.cpp
  src/gui/symbology/qgsstylemanagerdialog.h
  src/ui/qgsstyleitemslistwidgetbase.ui
  src/ui/qgsstylemanagerdialogbase.ui
Labels: Feature, Symbology, Needs Documentation, Changelog

#45820 Fix Qt6 build
  src/app/3d/qgsrulebased3drendererwidget.cpp
  src/app/layout/qgsreportsectionmodel.cpp
  src/app/locator/qgslocatoroptionswidget.cpp
  src/app/pointcloud/qgspointcloudlayerproperties.cpp
  src/core/layout/qgslayoutmodel.cpp
  src/gui/attributetable/qgsattributetablemodel.cpp
  src/gui/attributetable/qgsfeaturelistmodel.cpp
  src/gui/labeling/qgsrulebasedlabelingwidget.cpp
  src/gui/pointcloud/qgspointcloudclassifiedrendererwidget.cpp
  src/gui/qgscolorschemelist.cpp
  src/gui/qgsnewvectortabledialog.cpp
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgsrulebasedrendererwidget.cpp
  src/plugins/topology/dockModel.cpp
Labels: backport release-3_22

#45814 Fix deletion of incomplete type warning
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: backport release-3_22

#45813 Correctly forward declare geod_geodesic as a struct
  src/core/qgsdistancearea.h
Labels: backport release-3_22

#45825 [ui] Expand geopackage connections combobox in the save/load project to/from geopackage dialog
  src/ui/qgsgeopackageprojectstoragedialog.ui
Labels: GUI/UX, backport release-3_22

#45158 [server] Allow better control of the response flow chain from server filters.
  python/server/auto_generated/qgsserverfilter.sip.in
  src/server/qgsfilterresponsedecorator.cpp
  src/server/qgsserverfilter.cpp
  src/server/qgsserverfilter.h
  tests/src/python/test_qgsserver_plugins.py
Labels: Server

#45794 Stop previous external storage fetch when loading NULL
  src/gui/qgsexternalresourcewidget.cpp
  tests/src/gui/testqgsexternalresourcewidgetwrapper.cpp
Labels: Bug, backport release-3_22

#45812 Fix logic for clearing cached histograms when raster data provider user no data value is set
  src/core/raster/qgsrasterdataprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#45817 Fix QObject::connect lambda without capturing this warnings on msvc
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: backport release-3_22

#45845 [DB Manager] Add geometryType() method to root Table class
  python/plugins/db_manager/db_plugins/plugin.py
Labels: backport release-3_16, backport queued_ltr_backports, backport release-3_22

#45830 [Backport release-3_22] Set release_gil = True when generating bindings
  python/3d/project.py.in
  python/analysis/project.py.in
  python/core/project.py.in
  python/gui/project.py.in
  python/server/project.py.in
Labels: backport release-3_16

#45843 Fix #45771 identify inf bad alloc
  src/app/qgsidentifyresultsdialog.cpp
Labels: Raster, Bug

#45836 Revert "[polymorphic relation] set the layer of the expression widget"
  src/app/qgsrelationaddpolymorphicdialog.cpp
Labels: backport release-3_22

#45819 Remember the last used tag when closing the style manager window
  src/gui/symbology/qgsstylemanagerdialog.cpp
  src/gui/symbology/qgsstylemanagerdialog.h
Labels: GUI/UX

#45816 Define DEFAULT_BUILTIN_UNREACHABLE for msvc to avoid warnings
  src/core/qgis.h
  src/gui/qgsfilecontentsourcelineedit.cpp
Labels: backport release-3_22

#45154 Add roundness method to curve polygon
  python/core/auto_generated/geometry/qgscurvepolygon.sip.in
  resources/function_help/json/roundness
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmroundness.cpp
  src/analysis/processing/qgsalgorithmroundness.h
  src/analysis/processing/qgsnativealgorithms.cpp
  src/core/expression/qgsexpressionfunction.cpp
  src/core/geometry/qgscurvepolygon.cpp
  src/core/geometry/qgscurvepolygon.h
  tests/src/analysis/testqgsprocessingalgs.cpp
  tests/src/core/geometry/testqgscurvepolygon.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Needs Documentation, Changelog

#45878 [MetaSearch] remove data.gov CSW from default connections list (#43386)
  python/plugins/MetaSearch/resources/connections-default.xml
Labels: backport release-3_16, backport release-3_22

#45868 don't restrict create grid algorithm output for use as inputs to line and point parameters (fix #45867)
  src/analysis/processing/qgsalgorithmgrid.cpp
Labels: Processing, backport release-3_16, backport release-3_22

#45873 Introduce index example in array and map functions
  resources/function_help/json/array
  resources/function_help/json/map
Labels: backport release-3_22

#45871 Add help button to time animation export dialog
  src/app/qgsanimationexportdialog.cpp
  src/ui/qgsanimationexportdialogbase.ui
Labels: backport release-3_22

#45890 fix memory leak in mesh rasterize processing
  src/analysis/processing/qgsalgorithmexportmesh.cpp
Labels: Processing, Bug, Crash/Data Corruption, Mesh, backport release-3_22

#45894 Add new densify_by_count and densify_by_distance expression functions
  resources/function_help/json/densify_by_count
  resources/function_help/json/densify_by_distance
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Expressions, Needs Documentation, Changelog

#45896 Fix newly created spatialite databases can have no extension
  src/app/qgsnewspatialitelayerdialog.cpp
Labels: backport release-3_22

#45900 [ui][spatialite] Fix the browser panel's new connection action
  src/providers/spatialite/qgsspatialitesourceselect.cpp
Labels: Bug, backport release-3_22

#45909 dxf export: add map settings scope to labeling expression render context
  src/core/dxf/qgsdxfexport.cpp
Labels: backport release-3_16, backport release-3_22

#45921 Revert "[ui] Properly fix UI state restoration on QGIS launch"
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Bug, backport release-3_22

#45917 [DB Manager] Homogenize toMapLayer function definition
  python/plugins/db_manager/db_plugins/gpkg/plugin.py
  python/plugins/db_manager/db_plugins/postgis/plugin.py
  python/plugins/db_manager/db_plugins/spatialite/plugin.py
  python/plugins/db_manager/db_plugins/vlayers/plugin.py
Labels: backport release-3_16, backport release-3_22

#45922 [layouts] Use smooth pixmap transform when rendering picture items
  src/core/layout/qgslayoutitempicture.cpp
  tests/testdata/control_images/composer_picture/expected_composerpicture_clip_anchor/expected_composerpicture_clip_anchor.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_clip_anchoroversize/expected_composerpicture_clip_anchoroversize.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_itemrotation/expected_composerpicture_itemrotation.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_remote/expected_composerpicture_remote.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_render/expected_composerpicture_render.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_resize_clip/expected_composerpicture_resize_clip.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_resize_frametoimage/expected_composerpicture_resize_frametoimage.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_resize_stretch/expected_composerpicture_resize_stretch.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_resize_zoom/expected_composerpicture_resize_zoom.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_resize_zoomresize/expected_composerpicture_resize_zoomresize.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_rotation/expected_composerpicture_rotation.png
  tests/testdata/control_images/composer_picture/expected_composerpicture_zoom_anchor/expected_composerpicture_zoom_anchor.png
Labels: Print Layouts, backport release-3_22

#45931 [qgsquick] add missing function definition
  src/quickgui/qgsquickmapsettings.cpp
Labels: backport release-3_22

#45924 Add Browse for Layer for QgsProcessingParameterVectorLayer #45905
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#45952 [themes] Fix nested floating dock background rendering and resizing area
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Bug, backport release-3_22

#45964 [processing] multidirectional and combined shading options are mutually exclusive (fix #45957)
  python/plugins/processing/algs/gdal/hillshade.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Processing, Bug, backport queued_ltr_backports, backport release-3_22

#45991 Make placement options in marker and hash line symbol layers checkboxes instead of mutually exclusive buttons
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  src/core/qgis.h
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
  src/core/symbology/qgsmapinfosymbolconverter.cpp
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/ui/symbollayer/widget_hashline.ui
  src/ui/symbollayer/widget_markerline.ui
  tests/src/core/testqgslinefillsymbol.cpp
  tests/src/core/testqgsmarkerlinesymbol.cpp
  tests/src/core/testqgssymbol.cpp
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_markerline_multiple_placement/expected_markerline_multiple_placement.png
Labels: Feature, Symbology, Needs Documentation, Changelog

#45988 Don't needlessly try to calculate data defined opacity for symbols
  src/core/symbology/qgsfillsymbol.cpp
  src/core/symbology/qgslinesymbol.cpp
  src/core/symbology/qgsmarkersymbol.cpp
Labels: Optimization, backport release-3_22

#46009 Add an option to marker/has line symbol layers to control whether the first/last vertex option should respect multipart geometries
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/ui/symbollayer/widget_hashline.ui
  src/ui/symbollayer/widget_markerline.ui
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_markerline_first_last_no_respect_multipart/expected_markerline_first_last_no_respect_multipart.png
  tests/testdata/control_images/symbol_markerline/expected_markerline_first_last_respect_multipart/expected_markerline_first_last_respect_multipart.png
  tests/testdata/control_images/symbol_markerline/expected_markerline_first_no_respect_multipart/expected_markerline_first_no_respect_multipart.png
  tests/testdata/control_images/symbol_markerline/expected_markerline_first_respect_multipart/expected_markerline_first_respect_multipart.png
  tests/testdata/control_images/symbol_markerline/expected_markerline_last_no_respect_multipart/expected_markerline_last_no_respect_multipart.png
  tests/testdata/control_images/symbol_markerline/expected_markerline_last_respect_multipart/expected_markerline_last_respect_multipart.png
Labels: Feature, Symbology, Needs Documentation, Changelog

#46004 Fix widget labels in layer "QGIS Server" properties tab
  src/ui/qgsrasterlayerpropertiesbase.ui
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: backport release-3_22

#46007 [vectortile] Support the 'background' concept for vector tile rendering
  python/core/auto_generated/vectortile/qgsmapboxglstyleconverter.sip.in
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  src/core/vectortile/qgsmapboxglstyleconverter.h
  src/core/vectortile/qgsvectortilebasicrenderer.cpp
  tests/src/core/testqgsvectortilelayer.cpp
  tests/testdata/control_images/vector_tile/expected_render_test_polygon_with_line_style/expected_render_test_polygon_with_line_style.png
Labels: Bug, Vector tiles, backport release-3_22

#46006 [backport release-3_22][maboxgl] Fix data-defined properties for color-fill stops
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Backport, Bug

#46016 Rename "respect multipart" to "place on every part"
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/ui/symbollayer/widget_hashline.ui
  src/ui/symbollayer/widget_markerline.ui
  tests/src/python/test_qgsmarkerlinesymbollayer.py
Labels: Needs Documentation, Changelog

#46032 Add method to QgsProperty to determine if a property is effectively a static value in a specified QgsExpressionContext
  python/core/auto_generated/qgsproperty.sip.in
  src/core/qgsproperty.cpp
  src/core/qgsproperty.h
  tests/src/core/testqgsproperty.cpp
Labels: API

#45895 allow invalid Z value with transform mesh vertex by expression
  src/core/mesh/qgsmeshadvancedediting.cpp
Labels: Bug, Mesh, backport release-3_22

#46030 improve robustness of force mesh by line
  src/core/mesh/qgsmeshforcebypolylines.cpp
Labels: Bug, Mesh, backport release-3_22

#46054 [processing] fix order of command line arguments in gdal_polygonize (fix #46045)
  python/plugins/processing/algs/gdal/polygonize.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Processing, Bug, backport queued_ltr_backports, backport release-3_22

#46022 Poly2tri library update to fix crash with self-intersecting ring & fix random marker fill
  external/poly2tri/common/shapes.cc
  external/poly2tri/common/shapes.h
  external/poly2tri/sweep/advancing_front.cc
  external/poly2tri/sweep/cdt.cc
  external/poly2tri/sweep/sweep.cc
  external/poly2tri/sweep/sweep.h
  external/poly2tri/sweep/sweep_context.cc
  external/poly2tri/sweep/sweep_context.h
  src/core/qgstessellator.cpp
Labels: Symbology, 3D, Bug, backport release-3_22

#46046 [o2] fix static linking on windows
  external/o2/src/CMakeLists.txt
  external/o2/src/o0export.h
Labels: backport release-3_22

#46084 Fix build on Linux when compiled with FORCE_STATIC_LIBS
  src/providers/postgres/CMakeLists.txt
Labels: backport release-3_22

#46089 Fix the "Save As..." project saving dialog in order to respect the default project file format setting
  src/app/qgisapp.cpp
Labels: backport release-3_22

#46087 map_prefix_keys function
  resources/function_help/json/map_prefix_keys
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Expressions

#46078 Bug fix for faster connection to postgres/postgis , see also https://…
  src/providers/postgres/qgspostgresconn.cpp
Labels: backport release-3_22

#46082 [vectortile] Fix mapbox gl converter line-dasharray handling
  python/core/auto_generated/vectortile/qgsmapboxglstyleconverter.sip.in
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  src/core/vectortile/qgsmapboxglstyleconverter.h
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Bug, Vector tiles, backport release-3_22

#46034 fix detecting 3D geometry for OGR
  src/core/providers/ogr/qgsogrproviderutils.cpp
  tests/src/python/test_provider_ogr.py
  tests/testdata/points_lines_3d.dxf
Labels: Data Provider, Bug, Vectors, backport release-3_22

#46125 Better reference item to zoom to in modeler
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#46123 [vectortile] Fix mapbox gl converter fill-outline-color / background logic
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
Labels: Bug, Vector tiles, backport release-3_22

#46134 Cleanup proj version detection
  cmake/FindProj.cmake
  cmake_templates/qgsconfig.h.in
  src/core/proj/qgscoordinatereferencesystem.h
Labels: Squash!, Build/Install, backport release-3_22

#46171 [virtuallayer] Fix GUI part missing from the virtual layuer provider
  src/providers/virtual/CMakeLists.txt
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsproviderguiregistry.py
Labels: Build/Install, Bug, backport release-3_22

#46179 Add api to allow QgsBlendModeComboBox to show clipping style blend modes
  python/gui/auto_generated/qgsblendmodecombobox.sip.in
  src/gui/qgsblendmodecombobox.cpp
  src/gui/qgsblendmodecombobox.h
Labels: API

#46172 Preserve attribute type in dialog update
  src/gui/qgsattributeform.cpp
  tests/Testing/Temporary/CTestCostData.txt
  tests/src/python/test_qgsattributeform.py
Labels: Requires Tests!, Bug, backport release-3_22

#45127 [postgis] Expose secondary gometry columns as referenced geometries
  .github/workflows/macos-build.yml
  doc/api_break.dox
  src/core/qgsfield.cpp
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  tests/src/gui/testqgslistwidget.cpp
  tests/src/providers/testqgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Feature, API, Changelog

#46192 [processing] Fix "Polygons to lines" algorithm group name
  src/analysis/processing/qgsalgorithmpolygonstolines.cpp
Labels: backport release-3_16, backport release-3_22

#46149 Add CRS:84 just to WMS 1.3.0 Server capabilities document
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/testdata/qgis_server/wms_getcapabilities_1_1_1.txt
Labels: Server

#46190 Actions - Fix default variable provided in examples
  src/gui/vector/qgsattributeactiondialog.cpp
Labels: Expressions, Bug, backport release-3_16, backport release-3_22

#46182 Fix transformation errors which occur when simplification is enabled for a vector layer with a custom crs in degrees
  src/core/vector/qgsvectorlayerrenderer.cpp
Labels: backport release-3_22

#46208 Switch to click_x/click_y instead of clicked_* which is used in QgsMapToolFeatureAction
  python/core/auto_generated/qgsactionscope.sip.in
  src/core/qgsactionscope.h
  src/core/qgsactionscoperegistry.cpp
  tests/src/app/testqgsmaptoolidentifyaction.cpp
Labels: Expressions, Bug, backport queued_ltr_backports, backport release-3_22

#46249 When an atlas layer is set, auto set the page name field to default to the layer's display expression
  src/gui/layout/qgslayoutatlaswidget.cpp
Labels: GUI/UX, backport release-3_22

#46255 Fix API issues causing malformed python stub files
  python/core/auto_generated/processing/qgsprocessingcontext.sip.in
  python/core/auto_generated/vector/qgsvectordataprovider.sip.in
  python/gui/auto_generated/processing/models/qgsmodelcomponentgraphicitem.sip.in
  src/core/processing/qgsprocessingcontext.h
  src/core/vector/qgsvectordataprovider.h
  src/gui/processing/models/qgsmodelcomponentgraphicitem.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
Labels: backport release-3_16, backport release-3_22

#44812 [FEATURE][MetaSearch] add support for OGC API - Records
  python/plugins/MetaSearch/dialogs/apidialog.py
  python/plugins/MetaSearch/dialogs/maindialog.py
  python/plugins/MetaSearch/dialogs/manageconnectionsdialog.py
  python/plugins/MetaSearch/dialogs/newconnectiondialog.py
  python/plugins/MetaSearch/link_types.py
  python/plugins/MetaSearch/plugin.py
  python/plugins/MetaSearch/resources/connections-default.xml
  python/plugins/MetaSearch/resources/templates/api_highlight.html
  python/plugins/MetaSearch/resources/templates/csw_service_metadata.html
  python/plugins/MetaSearch/resources/templates/oarec_service_metadata.html
  python/plugins/MetaSearch/resources/templates/record_metadata_dc.html
  python/plugins/MetaSearch/resources/templates/record_metadata_oarec.html
  python/plugins/MetaSearch/search_backend.py
  python/plugins/MetaSearch/ui/maindialog.ui
  python/plugins/MetaSearch/ui/newconnectiondialog.ui
  python/plugins/MetaSearch/util.py
Labels: Feature, Needs Documentation, Changelog, MetaSearch

#46257 If dingbats font isn't installed on system, find a good candidate symbol font from the available installed fonts
  src/gui/symbology/qgslayerpropertieswidget.cpp
Labels: backport release-3_22

#46256 Fix canvas cursor gets stuck when combining pan via middle mouse button and space bar
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
Labels: backport release-3_22

#46265 [ui] Allow blend mode combo boxes to adjust width to be shorter longest item label
  src/gui/qgsblendmodecombobox.cpp
  src/ui/qgsrendererpropsdialogbase.ui
Labels: GUI/UX, backport release-3_22

#46156 Add OGC API Features 1.0 tests in CI
  .ci/ogc/nginx.conf
  .github/workflows/ogc.yml
Labels: Chore, Server

#46285 [MetaSearch] update PY_FILES
  python/plugins/MetaSearch/CMakeLists.txt
Labels: Bug, MetaSearch

#46287 fix crash when opening attribute form
  src/gui/qgsattributeform.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_22

#46288 [Backport in queued ltr backports] Server atlas print fix pk-less layers
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getprint_atlas.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Atlas_No_Pk/WMS_GetPrint_Atlas_No_Pk.png
  tests/testdata/qgis_server/bug_gh30817_atlas_pk.qgs
  tests/testdata/qgis_server/bug_gh30817_atlas_pk_data.csv
Labels: Backport, Bug, Server

#46293 Localization of feature count attr table titles
  src/app/qgsattributetabledialog.cpp
  src/gui/attributetable/qgsdualview.cpp
Labels: Localization

#46279 CSVT support Z and parse real variants
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  tests/src/python/test_qgsdelimitedtextprovider.py
Labels: Delimited text data provider

#46274 Fix signature of showException in test runner
  .docker/qgis_resources/test_runner/qgis_startup.py
Labels: backport release-3_16, backport release-3_22
