Repository qgis/QGIS, pull requests merged in 2021-03, with the labels that each got.

#41930 Fix some unwanted GDAL test backports
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
  python/plugins/processing/tests/GdalAlgorithmsVectorTest.py
Labels: Chore

#41841 Add test to ban brace initialization of QVariant variables (3.16)
  .github/workflows/code_layout.yml
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/qgisapp.cpp
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/qgssettings.cpp
  src/gui/editorwidgets/qgstexteditwrapper.cpp
  src/gui/processing/qgsprocessingaggregatewidgets.cpp
  src/gui/qgsfieldmappingwidget.cpp
  src/gui/qgslocaleawarenumericlineeditdelegate.cpp
  src/gui/qgsnewdatabasetablenamewidget.cpp
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/raster/qgspostgresrastershareddata.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/code_layout/CMakeLists.txt
  tests/code_layout/test_qvariant_no_brace_init.sh
  tests/src/app/testqgsgpsinformationwidget.cpp
  tests/src/core/testqgsfield.cpp
Labels: Backport

#41932 Revert "Fix Topological editing when CRS are different"
  src/app/qgsmaptooladdfeature.cpp
  src/gui/qgsmaptoolcapture.cpp
  tests/src/app/testqgsmaptooladdfeatureline.cpp
Labels: backport release-3_18

#41927 Show user-friendly explanation if las/laz files cannot be used on their QGIS install
  python/core/auto_generated/qgsproviderregistry.sip.in
  src/app/qgisapp.cpp
  src/core/qgsproviderregistry.cpp
  src/core/qgsproviderregistry.h
  tests/src/python/test_qgsproviderregistry.py
Labels: backport release-3_18

#41929 Minor point cloud usability fixes
  src/app/3d/qgs3dapputils.cpp
  src/app/qgisapp.cpp
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/providers/pdal/qgspdalprovider.cpp
Labels: backport release-3_18

#41958 Followup "Show user-friendly explanation if las/laz files cannot be used on their QGIS install"
  src/app/qgisapp.cpp
Labels: backport release-3_18

#41823 Server WMS GetPrint accesscontrol support
  python/core/auto_generated/layout/qgslayoutrendercontext.sip.in
  python/core/auto_generated/qgsfeaturefilterprovider.sip.in
  python/server/auto_generated/qgsaccesscontrol.sip.in
  python/server/auto_generated/qgsfeaturefilter.sip.in
  python/server/auto_generated/qgsfeaturefilterprovidergroup.sip.in
  src/core/layout/qgslayoutatlas.cpp
  src/core/layout/qgslayoutitemattributetable.cpp
  src/core/layout/qgslayoutitemattributetable.h
  src/core/layout/qgslayoutitemmap.cpp
  src/core/layout/qgslayoutrendercontext.cpp
  src/core/layout/qgslayoutrendercontext.h
  src/core/qgsfeaturefilterprovider.h
  src/server/qgsaccesscontrol.cpp
  src/server/qgsaccesscontrol.h
  src/server/qgsfeaturefilter.cpp
  src/server/qgsfeaturefilter.h
  src/server/qgsfeaturefilterprovidergroup.cpp
  src/server/qgsfeaturefilterprovidergroup.h
  src/server/services/wms/qgswmsgetprint.cpp
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_accesscontrol_wms_getprint_postgres.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_postgres_print2/v1/WMS_GetPrint_postgres_print2.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_postgres_print2/v2/WMS_GetPrint_postgres_print2.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_postgres_print2_filtered/v1/WMS_GetPrint_postgres_print2_filtered.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_postgres_print2_filtered/v2/WMS_GetPrint_postgres_print2_filtered.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_postgres_print2_subset/v1/WMS_GetPrint_postgres_print2_subset.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_postgres_print2_subset/v2/WMS_GetPrint_postgres_print2_subset.png
  tests/testdata/qgis_server_accesscontrol/pg_multiple_pks.qgs
Labels: Bug, Server, backport release-3_16, backport release-3_18

#41972 remove useless widget in option
  src/ui/qgsoptionsbase.ui
Labels: backport release-3_16, backport release-3_18

#41976 Do not crash on spatialite setSql connect
  src/providers/spatialite/qgsspatialitesourceselect.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#41966 test QgsTileDownloadManager sometimes fail
  tests/src/core/testqgstiledownloadmanager.cpp
Labels: backport release-3_18

#41978 Fix #41977
  src/analysis/processing/qgsalgorithmcellstatistics.cpp
  src/analysis/processing/qgsalgorithmrasterfrequencybycomparisonoperator.cpp
  src/analysis/processing/qgsalgorithmrasterstackposition.cpp
Labels: backport release-3_18

#41905 Update rasterize.py
  python/plugins/processing/algs/gdal/rasterize.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Changelog, Feature, Needs Documentation

#41975 fix Select Features by wrong Rectangle/Polygon
  src/app/qgsmaptoolselectutils.cpp
Labels: backport release-3_16, backport release-3_18

#41986 Fix crash when using GEOS to calculate shortest distance to an empty geometry
  src/core/geometry/qgsgeos.cpp
  src/core/geometry/qgsinternalgeometryengine.cpp
  tests/src/core/testqgsgeometry.cpp
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#41967 Support vector and raster mime URIs at the same time
  python/core/auto_generated/qgsdataitem.sip.in
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsgeopackagedataitems.h
  src/core/providers/ogr/qgsogrdataitems.cpp
  src/core/providers/ogr/qgsogrdataitems.h
  src/core/qgsbrowsermodel.cpp
  src/core/qgsdataitem.cpp
  src/core/qgsdataitem.h
  src/gui/qgsbrowserdockwidget.cpp
  src/gui/qgsdatasourceselectdialog.cpp
  src/providers/wms/qgswmsdataitems.cpp
  src/providers/wms/qgswmsdataitems.h
  tests/src/core/testqgsdataitem.cpp
Labels: Bug, backport release-3_18

#42000 Server accesscontrol getfeatureifo rules clear
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bug, Server, backport release-3_16, backport release-3_18

#41992 Fix crash on exit when remember last used attribute values is checked
  src/app/qgsfeatureaction.cpp
  src/app/qgsfeatureaction.h
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#41985 Don't silently swallow exceptions in python context managers
  python/core/additions/projectdirtyblocker.py
  python/core/additions/readwritecontextentercategory.py
  python/core/additions/runtimeprofiler.py
  python/plugins/db_manager/db_plugins/vlayers/connector.py
  python/utils.py
Labels: backport release-3_16, backport release-3_18

#41995 [delimitedtext] Fix regression opening files with unicode characters
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  tests/src/python/test_qgsdelimitedtextprovider.py
Labels: Bug, backport release-3_18

#41990 Add per-field control over whether last entered field values should be reused when creating new features
  python/core/auto_generated/editform/qgseditformconfig.sip.in
  src/app/qgsfeatureaction.cpp
  src/core/editform/qgseditformconfig.cpp
  src/core/editform/qgseditformconfig.h
  src/core/editform/qgseditformconfig_p.h
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/gui/attributeformconfig/qgsattributetypedialog.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributetypeedit.ui
  tests/src/python/test_qgseditformconfig.py
Labels: Changelog, Feature, Needs Documentation

#42031 Fix value relation widget
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
Labels: Bug, backport release-3_18

#42024 Add missing sip factory
  python/core/auto_generated/qgsprovidermetadata.sip.in
  src/core/qgsprovidermetadata.h
Labels: PyQGIS, backport release-3_16, backport release-3_18

#42041 Convert DD labels to destination type
  src/app/labeling/qgsmaptoolmovelabel.cpp
Labels: Bug, Symbology, backport release-3_18

#42053 Nonimatim locator filter & processing batch georeferencer
  python/core/auto_generated/geocoding/qgsnominatimgeocoder.sip.in
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmbatchnominatimgeocode.cpp
  src/analysis/processing/qgsalgorithmbatchnominatimgeocode.h
  src/analysis/processing/qgsnativealgorithms.cpp
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/app/locator/qgsinbuiltlocatorfilters.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/geocoding/qgsnominatimgeocoder.cpp
  src/core/geocoding/qgsnominatimgeocoder.h
Labels: Changelog, Feature, Processing

#42067 [layout] Add legend item scope to render context
  src/core/layout/qgslayoutitemlegend.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42056 Followup PR #41823
  src/core/layout/qgslayoutitemattributetable.cpp
  src/core/layout/qgslayoutitemattributetable.h
Labels: backport release-3_16, backport release-3_18

#42083 [processing] Fix decimal separator in "condensed" extent string
  src/gui/qgsextentwidget.cpp
Labels: backport release-3_16, backport release-3_18

#42005 [Backport to release-3_18] fix shadow and EDL not being exported with 3D animation tool
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dutils.cpp
  src/3d/qgsabstract3dengine.cpp
  src/3d/qgsabstract3dengine.h
  src/3d/qgsoffscreen3dengine.cpp
  src/3d/qgsoffscreen3dengine.h
  src/3d/qgsshadowrenderingframegraph.cpp
  src/3d/qgsshadowrenderingframegraph.h
  src/3d/qgswindow3dengine.cpp
  src/3d/qgswindow3dengine.h
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmapcanvas.h
Labels: Point Clouds

#41979 WMS getstyle
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetstyles.cpp
  src/server/services/wms/qgswmsgetstyles.h
  tests/src/python/test_qgsserver_wms.py
Labels: Cleanup, Server

#42086 Test a more direct way to init QgsWmsParameters
  src/server/qgsserverparameters.cpp
  src/server/services/wms/qgsdxfwriter.cpp
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetfeatureinfo.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetmap.cpp
  src/server/services/wms/qgswmsgetprint.cpp
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
Labels: Cleanup, Server

#42103 allow to run flaky tests in PR
  .docker/docker-qgis-test.sh
  .docker/docker-variables.env
  .github/workflows/run-tests.yml
Labels: run flaky tests

#42092 Fix crash when loading a project with invalid layers and the geometry checker plugin is enabled
  src/plugins/geometry_checker/qgsgeometrycheckersetuptab.cpp
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#42098 Fix sporadic failures in HANA tests
  tests/src/python/test_qgsproviderconnection_base.py
  tests/src/python/test_qgsproviderconnection_hana.py
Labels: backport release-3_18

#42097 format_date function does not only take and output date
  resources/function_help/json/format_date
Labels: backport release-3_16, backport release-3_18

#42081 [processing] Fix atlas export relying on predefined scale for atlas-controlled map items
  python/core/auto_generated/layout/qgslayoututils.sip.in
  src/analysis/processing/qgsalgorithmlayoutatlastoimage.cpp
  src/analysis/processing/qgsalgorithmlayoutatlastopdf.cpp
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
  src/core/layout/qgslayoututils.cpp
  src/core/layout/qgslayoututils.h
Labels: Bug, backport release-3_16, backport release-3_18

#42096 improvements fixes to Maps functions
  resources/function_help/json/from_json
  resources/function_help/json/hstore_to_map
  resources/function_help/json/json_to_map
  resources/function_help/json/map_concat
  resources/function_help/json/map_get
  resources/function_help/json/map_insert
  resources/function_help/json/map_to_hstore
Labels: backport release-3_16, backport release-3_18

#42118 Add a 3d mask image
  tests/testdata/control_images/3d/expected_polygon_edges_height/default/expected_polygon_edges_height_mask.png
Labels: backport release-3_16, backport release-3_18

#42119 Fix untranslated message when downloading wms legend graphics, also improve message when total size is unknown (-1)
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: backport release-3_16, backport release-3_18

#42132 [locators] Add a description property to locator filter base class
  python/core/auto_generated/locator/qgslocatorfilter.sip.in
  src/core/locator/qgslocatorfilter.h
  tests/src/python/test_qgslocator.py
Labels: API, Locator

#41376 Use the lowest version in wms negotiation
  python/server/auto_generated/qgsserverparameters.sip.in
  python/server/auto_generated/qgsserverrequest.sip.in
  src/server/qgsserverparameters.h
  src/server/qgsserverrequest.cpp
  src/server/qgsserverrequest.h
  src/server/services/wms/CMakeLists.txt
  src/server/services/wms/qgsdxfwriter.cpp
  src/server/services/wms/qgsdxfwriter.h
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsdescribelayer.cpp
  src/server/services/wms/qgswmsdescribelayer.h
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcapabilities.h
  src/server/services/wms/qgswmsgetcontext.cpp
  src/server/services/wms/qgswmsgetcontext.h
  src/server/services/wms/qgswmsgetfeatureinfo.cpp
  src/server/services/wms/qgswmsgetfeatureinfo.h
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.h
  src/server/services/wms/qgswmsgetmap.cpp
  src/server/services/wms/qgswmsgetmap.h
  src/server/services/wms/qgswmsgetprint.cpp
  src/server/services/wms/qgswmsgetprint.h
  src/server/services/wms/qgswmsgetstyles.cpp
  src/server/services/wms/qgswmsgetstyles.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrequest.cpp
  src/server/services/wms/qgswmsrequest.h
  tests/src/server/wms/CMakeLists.txt
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
  tests/src/server/wms/test_qgsserver_wms_request.cpp
  tests/testdata/qgis_server/wms_getfeatureinfo_notvisible.txt
Labels: Bug, Cleanup, Server

#42137 Fix broken relations when loading an embedded layer
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Bug, Relations, backport release-3_16, backport release-3_18

#42133 [locators] Add a bounding box property to the abstract geocoder locator filter base class
  python/core/auto_generated/geocoding/qgsabstractgeocoderlocatorfilter.sip.in
  python/gui/auto_generated/qgsgeocoderlocatorfilter.sip.in
  src/core/geocoding/qgsabstractgeocoderlocatorfilter.cpp
  src/core/geocoding/qgsabstractgeocoderlocatorfilter.h
  src/gui/qgsgeocoderlocatorfilter.cpp
  src/gui/qgsgeocoderlocatorfilter.h
  tests/src/python/test_qgsgeocoderlocatorfilter.py
Labels: API, Locator

#42158 move projVersionMajor to cpp
  src/core/qgsprojutils.cpp
  src/core/qgsprojutils.h
Labels: backport release-3_18

#42154 Fix broken bad layer handler dialog
  python/3d/auto_generated/qgsrulebased3drenderer.sip.in
  python/core/auto_generated/qgsmaplayerfactory.sip.in
  python/core/auto_generated/qgsprovidermetadata.sip.in
  python/core/core_auto.sip
  src/app/qgshandlebadlayers.cpp
  src/app/qgshandlebadlayers.h
  src/core/CMakeLists.txt
  src/core/annotations/qgsannotationlayer.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/project/qgsproject.cpp
  src/core/providers/ept/qgseptprovider.cpp
  src/core/providers/ept/qgseptprovider.h
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/core/qgsmaplayerfactory.cpp
  src/core/qgsmaplayerfactory.h
  src/core/qgsprovidermetadata.cpp
  src/core/qgsprovidermetadata.h
  src/core/raster/qgsrasterlayer.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vectortile/qgsvectortilelayer.cpp
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  src/providers/delimitedtext/qgsdelimitedtextprovider.h
  src/providers/mdal/qgsmdalprovider.cpp
  src/providers/mdal/qgsmdalprovider.h
  src/providers/pdal/qgspdalprovider.cpp
  src/providers/pdal/qgspdalprovider.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsmaplayerfactory.py
Labels: backport release-3_18

#42160 Fix application hangs when attempting to load qlr file for non vector/raster/vector-tile layer types
  python/core/auto_generated/qgslayerdefinition.sip.in
  src/app/qgisapp.cpp
  src/core/qgslayerdefinition.cpp
  src/core/qgslayerdefinition.h
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#42167 Enable the use of the browse button for spatialite provider in missing layer dialog
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
Labels: GUI/UX, backport release-3_18

#42100 WMS cascading: fix unreported issue wih missing fids
  src/providers/wms/qgswmsprovider.cpp
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bug, Server, WMS data provider, backport release-3_16, backport release-3_18

#40444 Geographic extent storing
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsxmlutils.sip.in
  src/core/annotations/qgsannotationlayer.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgspluginlayer.cpp
  src/core/qgsxmlutils.cpp
  src/core/qgsxmlutils.h
  src/core/raster/qgsrasterlayer.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vectortile/qgsvectortilelayer.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: Optimization, Server

#42165 Allow point clouds, mesh, vector tiles to be exported to qlr and qml files
  src/app/qgisapp.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/core/qgslayerdefinition.cpp
Labels: backport release-3_18

#42189 [ogr] Fix absence of proper feature ID when adding features to CSV, ODS, and XLSX datasets
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  tests/src/core/testqgsogrprovider.cpp
Labels: Bug, Data Provider, backport release-3_18

#42191 [pal] Fix crash in labeling polygons in some rare circumstance
  src/core/pal/feature.cpp
  src/core/pal/pointset.cpp
  src/core/pal/pointset.h
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#42207 Fix output from Snap Geometries algorithms cannot be plugged into algorithm inputs requiring a point or line geometry type
  src/analysis/processing/qgsalgorithmsnapgeometries.cpp
Labels: Processing, backport release-3_16, backport release-3_18

#42209 Allow point clouds, mesh, vector tiles to be exported to qlr and qml files (backport)
  src/app/qgisapp.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/core/qgslayerdefinition.cpp
Labels: Backport

#42193 Add option to use the old legend style
  python/core/auto_generated/layertree/qgscolorramplegendnodesettings.sip.in
  python/gui/auto_generated/qgscolorramplegendnodewidget.sip.in
  src/core/layertree/qgscolorramplegendnodesettings.cpp
  src/core/layertree/qgscolorramplegendnodesettings.h
  src/core/pointcloud/qgspointcloudattributebyramprenderer.cpp
  src/core/raster/qgssinglebandpseudocolorrenderer.cpp
  src/gui/qgscolorramplegendnodewidget.cpp
  src/gui/qgscolorramplegendnodewidget.h
  src/gui/raster/qgssinglebandgrayrendererwidget.cpp
  src/ui/qgscolorramplegendnodewidgetbase.ui
  tests/src/python/test_qgscolorramplegendnode.py
Labels: Needs Documentation, Raster, Symbology, backport release-3_18

#42174 Server standalone threaded version
  src/server/qgis_mapserver.cpp
Labels: Server

#42224 Make Joins properties summary table translatable
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: backport release-3_16, backport release-3_18

#42208 Fix use of "Save log to file" algorithm in models run from the qgis_process standalone tool
  src/process/qgsprocess.cpp
  tests/src/python/test_qgsprocessexecutable.py
  tests/testdata/test_logging_model.model3
Labels: Processing, backport release-3_16, backport release-3_18

#42217 When interactively moving a callout line, holding shift will cause the callout to snap to 15 degree angle increments
  src/app/labeling/qgsmaptoolmovelabel.cpp
  src/app/labeling/qgsmaptoolmovelabel.h
Labels: Changelog, Feature, Needs Documentation

#42084 Server: Opacity should also be considered for external layers
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
Labels: Bug, Changelog, Feature, Server

#42238 When only one feature is selected during a selection operation, show display expression in status bar
  src/app/qgisapp.cpp
Labels: GUI/UX

#42262 Fix misleading "cancel" label shown for "close" button
  python/plugins/processing/gui/AlgorithmDialog.py
Labels: GUI/UX, Processing, backport release-3_16, backport release-3_18

#42259 When an algorithm is run in place through the 'ef' locator auto remove the progress bar on completion
  python/plugins/processing/gui/AlgorithmLocatorFilter.py
Labels: GUI/UX, Processing

#42260 [processing][gdal] Fix parsing of creation options for Roughness alg
  python/plugins/processing/algs/gdal/roughness.py
Labels: backport release-3_16, backport release-3_18

#42187 Fix wrong list of layers in Rasterize alg (Convert map to raster)
  .docker/qgis3-build-deps.dockerfile
  python/core/auto_generated/qgsrenderchecker.sip.in
  src/analysis/processing/qgsalgorithmrasterize.cpp
  src/core/qgsrenderchecker.cpp
  src/core/qgsrenderchecker.h
  tests/src/analysis/testqgsprocessingalgs.cpp
  tests/testdata/control_images/processing_algorithm/expected_rasterize/expected_rasterize.tif
Labels: backport release-3_16, backport release-3_18

#42237 [ogr][gdal] Proper vsi{zip,tar,gzip} uri decoding/encoding
  src/core/providers/gdal/qgsgdalproviderbase.cpp
  src/core/providers/ogr/qgsogrconnpool.h
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/core/testqgsgdalprovider.cpp
  tests/src/python/test_provider_gdal.py
  tests/src/python/test_provider_ogr.py
Labels: Bug, backport release-3_18

#42253 Allow loading GPKG layers with GEOMETRY type
  python/plugins/db_manager/db_plugins/gpkg/plugin.py
Labels: backport release-3_16, backport release-3_18

#42255 Restore attribute table column sizes in the Merge Attributes dialog
  src/app/qgsmergeattributesdialog.cpp
  src/app/qgsmergeattributesdialog.h
Labels: GUI/UX

#42254 Respect "apply default value on update" when merging features
  src/app/qgisapp.cpp
Labels: Bug

#42273 [backport release-3_18][ogr][gdal] Proper vsi{zip,tar,gzip} uri decoding/encoding
  src/core/providers/gdal/qgsgdalproviderbase.cpp
  src/core/providers/ogr/qgsogrconnpool.h
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/core/testqgsgdalprovider.cpp
  tests/src/python/test_provider_gdal.py
  tests/src/python/test_provider_ogr.py
Labels: Backport, Bug

#42276 Fix wfs3 template with string fids
  src/server/qgsserverogcapihandler.cpp
  tests/src/python/test_qgsserver_api.py
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé.html
Labels: Bug, Server, backport release-3_16, backport release-3_18

#42289 [feature][symbology] Allow pen cap style to be set for ellipse marker symbol layers
  python/core/auto_generated/symbology/qgsellipsesymbollayer.sip.in
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsellipsesymbollayer.h
  src/gui/symbology/qgsellipsesymbollayerwidget.cpp
  src/gui/symbology/qgsellipsesymbollayerwidget.h
  src/ui/symbollayer/widget_ellipse.ui
  tests/src/core/testqgsellipsemarker.cpp
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_roundcap/expected_ellipsemarker_roundcap.png
Labels: Feature, Needs Documentation, Symbology

#42287 Fix UI hang when selecting vertices from complex features when releasing the mouse button after a drag operation
  src/app/vertextool/qgsvertextool.cpp
Labels: Optimization

#42299 Fix possible crash when rendering callouts (master only)
  src/core/callouts/qgscallout.cpp
Labels: Crash/Data Corruption

#42301 Cleanup callout code
  python/core/auto_generated/callouts/qgscallout.sip.in
  src/core/callouts/qgscallout.cpp
  src/core/callouts/qgscallout.h
  tests/src/core/testqgscallout.cpp
  tests/src/core/testqgscalloutregistry.cpp
Labels: Cleanup

#42292 Fix WMS DPI scale rounding error
  .docker/docker-qgis-test.sh
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter/WMS_GetLegendGraphic_ScaleSymbol_DefaultMapUnitsPerMillimeter_result.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_ScaleSymbol_DefaultScale_2056/WMS_GetLegendGraphic_ScaleSymbol_DefaultScale_2056_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Annotations/WMS_GetMap_Annotations_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Background/WMS_GetMap_Background_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Background_Hex/WMS_GetMap_Background_Hex_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Basic/WMS_GetMap_Basic_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Basic2/WMS_GetMap_Basic2_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Basic3/WMS_GetMap_Basic3_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Basic4/WMS_GetMap_Basic4_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Basic5/WMS_GetMap_Basic5_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_ContextRendering/WMS_GetMap_ContextRendering_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Diagrams/WMS_GetMap_Diagrams_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Dimension_All_NoValue/WMS_GetMap_Dimension_All_NoValue_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Dimension_Elevation_MixValues/WMS_GetMap_Dimension_Elevation_MixValues_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Dimension_Elevation_MultiValues/WMS_GetMap_Dimension_Elevation_MultiValues_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Dimension_Elevation_RangeValue/WMS_GetMap_Dimension_Elevation_RangeValue_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Dimension_Elevation_RangeValue_Filter/WMS_GetMap_Dimension_Elevation_RangeValue_Filter_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Dimension_Elevation_Value/WMS_GetMap_Dimension_Elevation_Value_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter/WMS_GetMap_Filter_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter2/WMS_GetMap_Filter2_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter3/WMS_GetMap_Filter3_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter4/WMS_GetMap_Filter4_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC/WMS_GetMap_Filter_OGC_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC2/WMS_GetMap_Filter_OGC2_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC3/WMS_GetMap_Filter_OGC3_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Filter_OGC_V2/WMS_GetMap_Filter_OGC_V2_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight/WMS_GetMap_Highlight_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Line/WMS_GetMap_Highlight_Line_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Point/WMS_GetMap_Highlight_Point_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_LabelingSettings/WMS_GetMap_LabelingSettings.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_LabelingSettings/WMS_GetMap_LabelingSettings_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Labeling_Complex/WMS_GetMap_Labeling_Complex_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_LayerOrder/WMS_GetMap_LayerOrder_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Opacities/WMS_GetMap_Opacities_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Opacities2/WMS_GetMap_Opacities2_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Opacities3/WMS_GetMap_Opacities3_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_SLDRestored/WMS_GetMap_SLDRestored_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_SRS/WMS_GetMap_SRS_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Selection/WMS_GetMap_Selection_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleCustom/WMS_GetMap_StyleCustom_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleDefault/WMS_GetMap_StyleDefault_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed/WMS_GetMap_StyleMixed_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_StyleMixed_LayerOrder/WMS_GetMap_StyleMixed_LayerOrder_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Transparent/WMS_GetMap_Transparent.png
  tests/testdata/control_images/qgis_server_accesscontrol/WMS_GetMap/WMS_GetMap_mask.png
  tests/testdata/control_images/qgis_server_accesscontrol/WMS_GetMap_projectsubstring/WMS_GetMap_projectsubstring_mask.png
Labels: Bug, Server, backport release-3_16, backport release-3_18

#42295 Fix wrong attr values in joined fields
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  src/core/vector/qgsvectorlayerfeatureiterator.h
  tests/src/core/testqgsvectorlayerjoinbuffer.cpp
Labels: backport release-3_16, backport release-3_18

#42144 fix open form button not always enabled in relation reference widget
  python/core/auto_generated/qgsfeaturepickermodelbase.sip.in
  python/gui/auto_generated/qgsfeaturelistcombobox.sip.in
  src/core/qgsfeaturepickermodelbase.cpp
  src/core/qgsfeaturepickermodelbase.h
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
  src/gui/qgsfeaturelistcombobox.cpp
  src/gui/qgsfeaturelistcombobox.h
Labels: backport release-3_16, backport release-3_18

#42303 Ellipse marker symbol layer fixes and code improvements
  python/core/auto_generated/symbology/qgsellipsesymbollayer.sip.in
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsellipsesymbollayer.h
  src/gui/symbology/qgsellipsesymbollayerwidget.cpp
  tests/src/core/testqgsellipsemarker.cpp
Labels: Bug, Optimization, Symbology

#41996 Remove "stale" label when a comment is added
  .github/workflows/unstale.yml
Labels: stale

#42322 Move code for generating the annotation "balloon" style background shape out into a new class
  src/core/CMakeLists.txt
  src/core/annotations/qgsannotation.cpp
  src/core/annotations/qgsannotation.h
  src/core/qgsshapegenerator.cpp
  src/core/qgsshapegenerator.h
Labels: API

#42336 Fix building QGIS when WITH_GUI is false
  src/providers/spatialite/qgsspatialitedataitems.cpp
Labels: Build/Install, backport release-3_18

#42337 Fix building QGIS when WITH_GEOREFERENCER is false
  .ci/ogc/build.sh
  CMakeLists.txt
Labels: Build/Install

#42352 Use c++17 std::clamp instead of qBound
  src/3d/terrain/qgsdemterraintilegeometry_p.cpp
  src/3d/terrain/qgsdemterraintileloader_p.cpp
  src/core/classification/qgsclassificationmethod.cpp
  src/core/effects/qgscoloreffect.cpp
  src/core/effects/qgscoloreffect.h
  src/core/effects/qgsimageoperation.cpp
  src/core/expression/qgsexpressionfunction.cpp
  src/core/labeling/qgslabelobstaclesettings.cpp
  src/core/labeling/qgspallabeling.cpp
  src/core/qgscolorramp.cpp
  src/core/qgspropertytransformer.cpp
  src/core/qgstiles.cpp
  src/core/raster/qgsbrightnesscontrastfilter.cpp
  src/core/raster/qgsbrightnesscontrastfilter.h
  src/core/raster/qgshillshaderenderer.cpp
  src/core/raster/qgshuesaturationfilter.cpp
  src/core/symbology/qgsrendererrange.cpp
  src/core/vector/qgsvectorlayerdiagramprovider.cpp
  src/gui/layout/qgslayoutview.cpp
  src/gui/processing/models/qgsmodelgraphicsview.cpp
  src/gui/qgsfloatingwidget.cpp
  src/gui/qgsgradientcolorrampdialog.cpp
  src/gui/qgsgradientstopeditor.cpp
  src/gui/qgshighlight.cpp
  src/gui/qgsmapcanvas.cpp
  src/gui/tableeditor/qgstableeditorwidget.cpp
  src/providers/wms/qgswmscapabilities.cpp
  tests/code_layout/test_banned_keywords.sh
  tests/qt_modeltest/modeltest.cpp
Labels: Cleanup

#42362 Fix some ArcGis VectorTileServer urls cannot be directly loaded
  src/core/vectortile/qgsvectortilelayer.cpp
Labels: backport release-3_16, backport release-3_18

#42363 When running "point on surface" with "create point for each part" option enabled, discard incoming fid fields and regenerate
  src/analysis/processing/qgsalgorithmpointonsurface.cpp
  src/analysis/processing/qgsalgorithmpointonsurface.h
Labels: Processing, backport release-3_16, backport release-3_18

#42365 Don't allow temporal dock to be shrunk shorter than its contents
  python/gui/auto_generated/qgspanelwidgetstack.sip.in
  src/gui/qgspanelwidgetstack.cpp
  src/gui/qgspanelwidgetstack.h
  src/ui/qgstemporalcontrollerwidgetbase.ui
Labels: GUI/UX

#42326 Add filtering capabilities to SVG selector widget
  python/gui/auto_generated/symbology/qgssvgselectorwidget.sip.in
  src/gui/symbology/qgssvgselectorwidget.cpp
  src/gui/symbology/qgssvgselectorwidget.h
  src/ui/symbollayer/widget_svgselector.ui
Labels: Feature

#42371 Fix cannot add qlr from browser (fixes #42366)
  src/app/qgsappbrowserproviders.cpp
  src/app/qgsappbrowserproviders.h
Labels: backport release-3_18

#42381 [processing] Fix "Centroids" alg with multipart geometries and fid field in geopackage
  src/analysis/processing/qgsalgorithmcentroid.cpp
  src/analysis/processing/qgsalgorithmcentroid.h
Labels: backport release-3_16, backport release-3_18

#42393 Fix mesh layer properties dialog doesn't open at the temporal page when clicking the temporal icon for a mesh layer
  src/app/qgisapp.cpp
Labels: backport release-3_16, backport release-3_18

#42394 Rename "Temporal" option to "Dynamic Temporal Control" in vector and raster layer properties Temporal tabs
  src/ui/qgsvectorlayertemporalpropertieswidgetbase.ui
  src/ui/raster/qgsrasterlayertemporalpropertieswidgetbase.ui
Labels: GUI/UX, Needs Documentation

#42409 [Server] Speed up WMS GetCapabilities by removing featureCount
  src/server/services/wms/qgswmsgetcapabilities.cpp
Labels: Optimization, Server, backport release-3_16, backport release-3_18

#42410 Fix auth basic non-ascii encoding
  src/auth/basic/qgsauthbasicmethod.cpp
  tests/src/python/test_qgsauthbasicmethod.py
Labels: Authentication, Bug, backport release-3_16, backport release-3_18

#42418 [saga] Fix misleading 'layer could not be generated' error
  python/plugins/processing/algs/saga/SagaAlgorithm.py
Labels: Processing, backport release-3_16, backport release-3_18

#42456 Fix invalid cast of QgsProperty as bool to store in strings
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
Labels: backport release-3_16, backport release-3_18

#42458 Don't force users to hit apply to setup static wms-t settings after toggling dynamic temporal control
  python/gui/auto_generated/qgsmaplayerconfigwidget.sip.in
  src/gui/qgsmaplayerconfigwidget.h
  src/gui/raster/qgsrasterlayertemporalpropertieswidget.cpp
  src/gui/raster/qgsrasterlayertemporalpropertieswidget.h
  src/providers/wms/qgswmstsettingswidget.cpp
  src/ui/qgswmstsettingswidgetbase.ui
Labels: GUI/UX

#42461 [labeling] Fix handling of data-defined buffers (both UI/UX and rendering behavior)
  src/app/labeling/qgslabelpropertydialog.cpp
  src/core/labeling/qgspallabeling.cpp
  src/gui/labeling/qgslabelinggui.cpp
  src/gui/qgstextformatwidget.cpp
Labels: Bug, Labeling, backport release-3_16, backport release-3_18

#42412 Prevent double expensive calls to loadFields in OGR
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Data Provider, Optimization, backport release-3_16, backport release-3_18

#42472 Fix auth basic encoding (no auth system)
  src/providers/wms/qgswmscapabilities.h
  tests/src/core/testqgsdatasourceuri.cpp
Labels: Authentication, Bug, backport release-3_16, backport release-3_18

#42467 [labeling] Fix handling of data-defined callouts (both UI/UX and rendering)
  src/app/labeling/qgslabelpropertydialog.cpp
  src/core/callouts/qgscallout.cpp
  src/gui/qgstextformatwidget.cpp
Labels: Bug, Labeling, backport release-3_16, backport release-3_18

#42490 Fix crash when changing point cloud to Attribute by Ramp renderer
  src/core/pointcloud/qgspointcloudattributebyramprenderer.cpp
Labels: backport release-3_18

#42376 Split CI providers test
  .ci/config.ctest
  .ci/config_build.ctest
  .ci/config_test.ctest
  .ci/test_blocklist.txt
  .docker/docker-compose-testing-oracle.yml
  .docker/docker-compose-testing-postgres.yml
  .docker/docker-compose-testing.yml
  .docker/docker-qgis-build.sh
  .docker/docker-qgis-test.sh
  .docker/qgis3-build-deps.dockerfile
  .github/workflows/run-tests.yml
  python/plugins/db_manager/db_plugins/postgis/CMakeLists.txt
  tests/code_layout/test_shellcheck.sh
  tests/src/analysis/CMakeLists.txt
  tests/src/core/CMakeLists.txt
  tests/src/gui/CMakeLists.txt
  tests/src/python/CMakeLists.txt
  tests/src/python/test_provider_oracle.py
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/src/python/test_qgsserver_wms_getfeatureinfo_postgres.py
  tests/src/python/test_qgsvectorfilewriter.py
  tests/src/python/test_qgsvectorfilewriter_postgres.py
  tests/src/python/test_qgsvectorlayerutils.py
  tests/src/python/test_qgsvectorlayerutils_postgres.py
  tests/testdata/qgis_server/test_project_values.qgz
  tests/testdata/qgis_server/test_project_values_postgres.qgz
Labels: Chore, backport release-3_16, backport release-3_18

#42511 Fix fid collisions when pasting features into a gpkg/spatialite dataset
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42534 Fix AbstractRelationEditorWidget not updating/inserting referenced layer field
  src/gui/qgsabstractrelationeditorwidget.cpp
Labels: backport release-3_18

#42500 CMake build fix for qt plugins.
  external/qspatialite/CMakeLists.txt
  src/customwidgets/CMakeLists.txt
  src/providers/oracle/ocispatial/CMakeLists.txt
Labels: Build/Install

#42538 Allow drawing QgsRubberBand polygons using a fill symbol
  python/gui/auto_generated/qgsrubberband.sip.in
  src/gui/qgsrubberband.cpp
  src/gui/qgsrubberband.h
  tests/src/gui/testqgsrubberband.cpp
  tests/testdata/control_images/rubberband/expected_fill_symbol/expected_fill_symbol.png
Labels: API

#42537 Add a public method to clear the rubber band for the QgsMapToolExtent
  python/gui/auto_generated/qgsmaptoolextent.sip.in
  src/gui/qgsmaptoolextent.cpp
  src/gui/qgsmaptoolextent.h
Labels: API

#42541 [processing] A few UI improvements to the history dialog
  python/plugins/processing/gui/HistoryDialog.py
  python/plugins/processing/ui/DlgHistory.ui
Labels: GUI/UX, Languages support, Processing, backport release-3_16, backport release-3_18

#42553 Fill QgsNetworkReplyContent.content() on HTTP error
  src/core/network/qgsblockingnetworkrequest.cpp
Labels: backport release-3_18

#42544 Fix raster analyse out html codec
  src/analysis/processing/qgsalgorithmnearestneighbouranalysis.cpp
  src/analysis/processing/qgsalgorithmrasterlayeruniquevalues.cpp
  src/analysis/processing/qgsalgorithmrasterstatistics.cpp
  src/analysis/processing/qgsalgorithmrastersurfacevolume.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42530 fix N+1 problem for Move Features
  src/app/qgsmaptoolmovefeature.cpp
Labels: Optimization

#42566 Allow the text and icon for the 'empty layer' option in QgsMapLayerComboBox to be customised
  python/core/auto_generated/qgsmaplayermodel.sip.in
  python/gui/auto_generated/qgsmaplayercombobox.sip.in
  src/core/qgsmaplayermodel.cpp
  src/core/qgsmaplayermodel.h
  src/gui/qgsmaplayercombobox.cpp
  src/gui/qgsmaplayercombobox.h
  tests/src/python/test_qgsmaplayermodel.py
Labels: API

#42430 [Backport release-3_18][Server] Speed up WMS GetCapabilities by removing featureCount
  src/server/services/wms/qgswmsgetcapabilities.cpp
Labels: Backport, Optimization, Server

#42403 Add multipart option for processing geometry parameter
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/plugins/processing/core/parameters.py
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: backport release-3_16, backport release-3_18

#42590 Ensure that the @geometry_part_num variable exactly matches the correct part ordering for polygon features
  src/core/symbology/qgssymbol.cpp
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_poly_part_num_variable/expected_poly_part_num_variable.png
Labels: Bug, Symbology, backport release-3_16, backport release-3_18

#42587 [feature][processing] Add a last_value function to the aggregate algorithm
  python/plugins/processing/tests/testdata/qgis_algorithm_tests1.yaml
  src/analysis/processing/qgsalgorithmaggregate.cpp
  src/analysis/processing/qgsalgorithmaggregate.h
  src/gui/processing/qgsprocessingaggregatewidgets.cpp
Labels: Feature, Needs Documentation, Processing

#42411 [Vector] Use XML Extent even if data provider has metadata
  src/core/vector/qgsvectorlayer.cpp
  tests/src/python/test_provider_postgres.py
Labels: Optimization, Vectors, backport release-3_16, backport release-3_18
