Repository qgis/QGIS, pull requests merged in 2021-09, with the labels that each got.

#44908 [processing] Fix file downloader algorithm crash when download errors out
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
Labels: Crash/Data Corruption

#44881 Mesh editing fixes
  src/analysis/mesh/qgsmeshtriangulation.cpp
  src/app/mesh/qgsmaptooleditmeshframe.cpp
Labels: Bug, Mesh

#44910 Add QgsRubberBand::copyPointsFrom to quickly copy all points from another rubber band
  python/gui/auto_generated/qgsrubberband.sip.in
  src/gui/qgsrubberband.cpp
  src/gui/qgsrubberband.h
  tests/src/gui/testqgsrubberband.cpp
Labels: API

#44912 Allow annotation layers to be included in filtered map layer proxy models
  python/core/auto_generated/qgsmaplayerproxymodel.sip.in
  src/app/qgslayerstylingwidget.cpp
  src/core/qgsmaplayerproxymodel.cpp
  src/core/qgsmaplayerproxymodel.h
  tests/src/python/test_qgsmaplayerproxymodel.py
Labels: API

#44913 Add method to retrieve the nodes for an annotation item
  python/core/auto_additions/qgis.py
  python/core/auto_generated/annotations/qgsannotationitem.sip.in
  python/core/auto_generated/annotations/qgsannotationitemnode.sip.in
  python/core/auto_generated/annotations/qgsannotationlineitem.sip.in
  python/core/auto_generated/annotations/qgsannotationmarkeritem.sip.in
  python/core/auto_generated/annotations/qgsannotationpointtextitem.sip.in
  python/core/auto_generated/annotations/qgsannotationpolygonitem.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/annotations/qgsannotationitem.cpp
  src/core/annotations/qgsannotationitem.h
  src/core/annotations/qgsannotationitemnode.h
  src/core/annotations/qgsannotationlineitem.cpp
  src/core/annotations/qgsannotationlineitem.h
  src/core/annotations/qgsannotationmarkeritem.cpp
  src/core/annotations/qgsannotationmarkeritem.h
  src/core/annotations/qgsannotationpointtextitem.cpp
  src/core/annotations/qgsannotationpointtextitem.h
  src/core/annotations/qgsannotationpolygonitem.cpp
  src/core/annotations/qgsannotationpolygonitem.h
  src/core/qgis.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsannotationitemnode.py
  tests/src/python/test_qgsannotationlineitem.py
  tests/src/python/test_qgsannotationmarkeritem.py
  tests/src/python/test_qgsannotationpointtextitem.py
  tests/src/python/test_qgsannotationpolygonitem.py
Labels: API

#44867 Add a POST parameter in the FileDownloader processing algorithm
  python/core/auto_additions/qgis.py
  python/core/auto_generated/network/qgsfiledownloader.sip.in
  python/core/auto_generated/qgis.sip.in
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
  src/core/network/qgsfiledownloader.cpp
  src/core/network/qgsfiledownloader.h
  src/core/qgis.h
Labels: Feature, Processing, Needs Documentation, Changelog

#44873 Mesh transform by expression
  images/images.qrc
  images/themes/default/mActionMeshTransformByExpression.svg
  python/core/auto_generated/mesh/qgsmeshadvancedediting.sip.in
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  src/app/CMakeLists.txt
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/app/mesh/qgsmeshtransformcoordinatesdockwidget.cpp
  src/app/mesh/qgsmeshtransformcoordinatesdockwidget.h
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/mesh/qgsmeshadvancedediting.cpp
  src/core/mesh/qgsmeshadvancedediting.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgstopologicalmesh.cpp
  src/core/mesh/qgstopologicalmesh.h
  src/gui/qgsexpressionlineedit.cpp
  src/ui/mesh/qgsmeshtransformcoordinatesdockwidgetbase.ui
  tests/src/core/testqgsmesheditor.cpp
Labels: Feature, GUI/UX, Mesh

#44938 Small review on the ticket template
  .github/ISSUE_TEMPLATE/10_bug_report.yml
Labels: Chore

#44858 [CI] Wait for Webdav to be ready
  .docker/docker-qgis-test.sh
Labels: Chore

#44952 Qgis::HttpMethod should be an enum class
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/core/qgis.h
Labels: Cleanup

#44266 [labeling] specify unit for data defined label rotation
  python/core/auto_generated/labeling/qgspallabeling.sip.in
  python/core/auto_generated/qgsunittypes.sip.in
  src/app/labeling/qgsmaptoolrotatelabel.cpp
  src/app/labeling/qgsmaptoolrotatelabel.h
  src/app/qgspointrotationitem.cpp
  src/app/qgspointrotationitem.h
  src/core/labeling/qgspallabeling.cpp
  src/core/labeling/qgspallabeling.h
  src/core/qgsunittypes.cpp
  src/core/qgsunittypes.h
  src/gui/labeling/qgslabelinggui.cpp
  src/gui/qgstextformatwidget.cpp
  src/ui/qgstextformatwidgetbase.ui
  tests/src/core/testqgslabelingengine.cpp
  tests/src/python/test_qgsunittypes.py
  tests/testdata/control_images/labelingengine/expected_label_rotate_unit/expected_label_rotate_unit.png
  tests/testdata/control_images/labelingengine/expected_label_rotate_unit/expected_label_rotate_unit_mask.png
Labels: Feature, Needs Documentation, Changelog

#44964 Temporarily block test_core_networkaccessmanager on CI for now
  .ci/test_blocklist_qt5.txt
Labels: backport release-3_20

#44839 Add if() function to raster calculator
  python/analysis/auto_generated/raster/qgsrastercalcnode.sip.in
  src/analysis/raster/qgsrastercalclexer.ll
  src/analysis/raster/qgsrastercalcnode.cpp
  src/analysis/raster/qgsrastercalcnode.h
  src/analysis/raster/qgsrastercalcparser.yy
  src/app/qgsrastercalcdialog.cpp
  src/app/qgsrastercalcdialog.h
  src/ui/qgsrastercalcdialogbase.ui
  tests/src/analysis/testqgsrastercalculator.cpp
Labels: Feature, Raster

#44973 fix locator crash with all layers filter
  src/app/locator/qgsalllayersfeatureslocatorfilter.cpp
Labels: backport release-3_20

#44918 Expose scriptable vector tile encoder
  python/core/auto_generated/vectortile/qgsvectortilewriter.sip.in
  src/core/vectortile/qgsvectortilewriter.cpp
  src/core/vectortile/qgsvectortilewriter.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsvectortile.py
Labels: Feature, API, PyQGIS, Changelog, Vector tiles

#44942 Option to export all keyboard shortcuts to XML and PDF
  src/gui/qgsconfigureshortcutsdialog.cpp
  src/gui/qgsconfigureshortcutsdialog.h
Labels: Feature, GUI/UX, Needs Documentation, Changelog

#44979 [Bugfix] QgsTileMatrix::tileCenter does not return tile center
  src/core/qgstiles.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgstiles.cpp
Labels: Bug, testsuite, Vector tiles, backport queued_ltr_backports

#44835 Select mesh elements by expression UI
  images/images.qrc
  images/themes/default/mActionMeshSelectExpression.svg
  python/core/auto_generated/expression/qgsexpressioncontextutils.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/gui/auto_generated/qgsexpressionbuilderwidget.sip.in
  resources/function_help/json/$face_area
  resources/function_help/json/$face_index
  resources/function_help/json/$vertex_index
  resources/function_help/json/$vertex_x
  resources/function_help/json/$vertex_y
  src/app/CMakeLists.txt
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/app/mesh/qgsmeshselectbyexpressiondialog.cpp
  src/app/mesh/qgsmeshselectbyexpressiondialog.h
  src/app/mesh/qgsmeshtransformcoordinatesdockwidget.cpp
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/expression/qgsexpressioncontextutils.h
  src/core/mesh/qgsmeshadvancedediting.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressionbuilderwidget.h
  src/ui/mesh/qgsmeshselectbyexpressiondialogbase.ui
  tests/src/core/testqgsexpression.cpp
  tests/src/core/testqgsmeshlayer.cpp
Labels: Feature, GUI/UX, Mesh, Changelog

#44981 transform only one vertex
  images/images.qrc
  images/themes/default/mIconVertexCoordinates.svg
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmeshtransformcoordinatesdockwidget.cpp
  src/app/mesh/qgsmeshtransformcoordinatesdockwidget.h
  src/ui/mesh/qgsmeshtransformcoordinatesdockwidgetbase.ui
Labels: Feature, Mesh, Changelog

#44980 Fix geopackage connection
  src/core/providers/ogr/qgsogrproviderutils.cpp
Labels: Bug, backport release-3_20

#44962 Force mesh by polylines
  images/images.qrc
  images/themes/default/mActionMeshEditForceByVectorLines.svg
  python/core/auto_generated/mesh/qgsmeshadvancedediting.sip.in
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/mesh/qgsmeshforcebypolylines.sip.in
  python/core/core_auto.sip
  src/analysis/mesh/qgsmeshtriangulation.cpp
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/app/qgisapp.cpp
  src/core/CMakeLists.txt
  src/core/mesh/qgsmeshadvancedediting.cpp
  src/core/mesh/qgsmeshadvancedediting.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshforcebypolylines.cpp
  src/core/mesh/qgsmeshforcebypolylines.h
  src/core/mesh/qgstopologicalmesh.cpp
  src/core/mesh/qgstopologicalmesh.h
  tests/src/core/testqgsmesheditor.cpp
  tests/testdata/mesh/refined_quad_flower.2dm
Labels: Feature, Mesh, Changelog

#44999 [offline editing] fix overwriting of first field on remote layer when it has virtual fields
  src/core/qgsofflineediting.cpp
Labels: backport release-3_16, backport release-3_20

#44969 reindex/renumbering mesh layer
  images/images.qrc
  images/themes/default/mActionMeshReindex.svg
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgstopologicalmesh.cpp
  src/core/mesh/qgstopologicalmesh.h
  tests/src/core/testqgsmesheditor.cpp
Labels: Feature, Mesh, Changelog

#45006 Select by existing geometries
  images/images.qrc
  images/themes/default/mActionMeshSelectByContainingGeometry.svg
  images/themes/default/mActionMeshSelectByTouchingGeometry.svg
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/app/qgisapp.cpp
Labels: Feature, Mesh

#45013 [Backport release-3_16][Bugfix] QgsTileMatrix::tileCenter does not return tile center
  src/core/qgstiles.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgstiles.cpp
Labels: Backport, Bug, testsuite, Vector tiles

#44826 [API] Encode and write vector tiles in different CRS than EPSG:3857
  python/core/auto_generated/qgstiles.sip.in
  python/core/auto_generated/vectortile/qgsvectortilewriter.sip.in
  src/core/qgstiles.cpp
  src/core/qgstiles.h
  src/core/vectortile/qgsvectortilemvtencoder.cpp
  src/core/vectortile/qgsvectortilemvtencoder.h
  src/core/vectortile/qgsvectortilewriter.cpp
  src/core/vectortile/qgsvectortilewriter.h
  tests/src/core/testqgstiles.cpp
  tests/src/core/testqgsvectortilewriter.cpp
Labels: Feature, API, Changelog, Vector tiles

#45009 Add missing transfer annotation
  python/core/auto_generated/symbology/qgsrenderer.sip.in
  src/core/symbology/qgsrenderer.h
Labels: backport release-3_16, backport release-3_20

#45025 Set wait cursor while installing plugin from ZIP
  python/pyplugin_installer/installer.py
Labels: Plugin manager

#45027 [qgsquick][annotations] Render projects' main annotation layer
  src/quickgui/qgsquickmapcanvasmap.cpp
Labels: Quick

#45033 Cleanup API docs for QgsCadUtils
  python/core/auto_generated/qgscadutils.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/core/qgscadutils.h
  src/gui/qgsadvanceddigitizingdockwidget.h
  tests/src/core/testqgscadutils.cpp
Labels: Cleanup

#45045 WFS: try harder guessing the layer geometry type when a filter returns 0 features (fixes #43950)
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsshareddata.h
  tests/src/python/test_provider_wfs.py
Labels: Bug, backport queued_ltr_backports

#45044 WFS: emit hint when an axis order issue is likely (fixes #44054)
  src/providers/wfs/qgsbackgroundcachedshareddata.cpp
  src/providers/wfs/qgsbackgroundcachedshareddata.h
  src/providers/wfs/qgsoapifprovider.cpp
  src/providers/wfs/qgsoapifprovider.h
  src/providers/wfs/qgswfsshareddata.cpp
  src/providers/wfs/qgswfsshareddata.h
Labels: Bug, backport queued_ltr_backports

#45043 WFS: set namespace prefix on geometry and attribute elements in FILTERR when the typename has an explicit namespace (fixes #43957)
  src/core/qgsogcutils.cpp
  src/core/qgsogcutils.h
  src/providers/wfs/qgswfscapabilities.cpp
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsprovider.cpp
  tests/src/core/testqgsogcutils.cpp
  tests/src/python/test_provider_wfs.py
Labels: Bug, backport queued_ltr_backports

#45040 Make mesh edit tools more consistent with vector layers tools
  images/images.qrc
  images/themes/default/mActionMeshSelectByContainingGeometry.svg
  images/themes/default/mActionMeshSelectByTouchingGeometry.svg
  python/core/auto_generated/mesh/qgsmeshadvancedediting.sip.in
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/core/mesh/qgsmeshadvancedediting.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  tests/src/app/testqgsmaptooleditmesh.cpp
  tests/src/core/testqgsmesheditor.cpp
Labels: GUI/UX, Mesh

#45059 Fix arcgis rest datasource select dlg
  src/providers/arcgisrest/qgsarcgisrestsourceselect.cpp
Labels: Bug

#45081 some fixes related to mesh editing
  python/core/auto_generated/mesh/qgsmeshdataset.sip.in
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/app/qgisapp.cpp
  src/core/mesh/qgsmeshdataset.cpp
  src/core/mesh/qgsmeshdataset.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgstriangularmesh.cpp
  src/core/mesh/qgstriangularmesh.h
Labels: Bug, Mesh

#45068 [MESH] fix #44815
  src/gui/mesh/qgsrenderermeshpropertieswidget.cpp
  src/gui/mesh/qgsrenderermeshpropertieswidget.h
Labels: Regression, Bug, Mesh

#45074 Fix raster change datasource
  src/core/qgsmaplayer.cpp
  src/core/raster/qgsrasterlayer.cpp
  src/core/raster/qgsrasterpipe.cpp
Labels: Raster, Data Provider, Bug, backport queued_ltr_backports

#44900 Cancel previous fetch when current feature changes and an external storage is set
  src/core/network/qgsnetworkcontentfetcher.cpp
  src/gui/qgsexternalresourcewidget.cpp
  src/gui/qgsexternalresourcewidget.h
  tests/src/gui/testqgsexternalresourcewidgetwrapper.cpp
Labels: Bug

#45063 Use QgsRasterTransparencyWidget in raster properties dlg
  python/gui/auto_generated/raster/qgsrastertransparencywidget.sip.in
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/raster/qgsrastertransparencywidget.cpp
  src/gui/raster/qgsrastertransparencywidget.h
  src/ui/qgsrasterlayerpropertiesbase.ui
Labels: GUI/UX, Bug

#45092 [Processing] Update multiple selection widget selection on item reordering
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
Labels: Bug, backport queued_ltr_backports

#45076 Fixes custom ellipsoid locale double input
  python/gui/auto_generated/qgsdoublevalidator.sip.in
  src/app/qgsprojectproperties.cpp
  src/gui/qgsdoublevalidator.h
Labels: Bug, Localization

#45075 [Postgres] Fix list styles from database for layer with no geom
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, backport queued_ltr_backports

#45067 Fix 3D mesh terrain when CRS are different from map
  src/3d/mesh/qgsmeshterraingenerator.cpp
Labels: 3D, Bug, Mesh, backport queued_ltr_backports

#45072 Fix Save for external ressource dialog RelativeStorage config parameter
  src/gui/editorwidgets/qgsexternalresourceconfigdlg.cpp
Labels: Bug

#45101 Add missing cast code for QgsHashedLineSymbolLayer
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgssymbollayer.h
Labels: backport release-3_16

#44862 Enable many MetadataUrl on the server side
  doc/api_break.dox
  python/core/auto_additions/qgsmaplayerserverproperties.py
  python/core/auto_additions/qgsvectorlayerserverproperties.py
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayerserverproperties.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayerserverproperties.sip.in
  python/core/core_auto.sip
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  python/server/auto_generated/qgsserverapiutils.sip.in
  src/core/CMakeLists.txt
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayerserverproperties.cpp
  src/core/qgsmaplayerserverproperties.h
  src/core/raster/qgsrasterlayer.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayerserverproperties.cpp
  src/core/vector/qgsvectorlayerserverproperties.h
  src/gui/CMakeLists.txt
  src/gui/qgsmetadataurlitemdelegate.cpp
  src/gui/qgsmetadataurlitemdelegate.h
  src/gui/qgsmetadatawidget.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
  src/gui/vector/qgswmsdimensiondialog.cpp
  src/gui/vector/qgswmsdimensiondialog.h
  src/server/qgsserverapiutils.cpp
  src/server/qgsserverapiutils.h
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  src/server/services/wfs/qgswfsgetcapabilities_1_0_0.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsgetcontext.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/ui/qgsrasterlayerpropertiesbase.ui
  src/ui/qgsvectorlayerpropertiesbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsmaplayerserverproperties.py
  tests/src/python/test_qgsrasterlayer.py
  tests/src/python/test_qgsvectorlayer.py
  tests/testdata/qgis_server/getcapabilities-map.txt
  tests/testdata/qgis_server/getcapabilities.txt
  tests/testdata/qgis_server/getcontext.txt
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/test_project.qgs
  tests/testdata/qgis_server/wms_getcapabilities_1_1_1.txt
  tests/testdata/qgis_server/wms_getcapabilities_1_3_0.txt
Labels: Feature, Server, Needs Documentation, Changelog

#45108 Fix digitizing features using CAD dock when layer CRS != canvas CRS
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsmaptoolcapture.cpp
Labels: Regression

#45121 Fix shift drag to zoom
  src/gui/qgsmapcanvas.cpp
Labels: backport release-3_16

#45129 Fix multiline wkt paste from clipboard
  src/app/qgsclipboard.cpp
  tests/src/app/testqgisappclipboard.cpp
Labels: Bug

#45150 Fix crash when using project on multi point
  src/core/expression/qgsexpressionfunction.cpp
Labels: Bug, backport release-3_16

#45106 Fix QgsGeometry.fromPolygonXY docs
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.h
Labels: backport release-3_16

#45142 fix face/vertex count during editing
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  tests/src/app/testqgsmaptooleditmesh.cpp
  tests/src/core/testqgsmesheditor.cpp
Labels: Mesh

#45140 Adapt mesh editing following new CAD Z value
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
Labels: Mesh

#45141 fix save layer edits action for mesh layer
  src/app/qgisapp.cpp
Labels: Bug, Mesh

#45166 Fix color customisation is lost when configuring renderers using geometry generators
  python/core/auto_generated/symbology/qgsgeometrygeneratorsymbollayer.sip.in
  src/core/symbology/qgsgeometrygeneratorsymbollayer.cpp
  src/core/symbology/qgsgeometrygeneratorsymbollayer.h
  tests/src/python/test_qgsgeometrygeneratorsymbollayer.py
Labels: backport queued_ltr_backports

#45189 QgsFeature::setId improve documentation with a warning
  python/core/auto_generated/qgsfeature.sip.in
  src/core/qgsfeature.h
Labels: backport queued_ltr_backports

#45186 Improve mesh editing force by line UI and fixes
  python/core/auto_generated/mesh/qgsmeshforcebypolylines.sip.in
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/core/mesh/qgsmeshforcebypolylines.cpp
  src/core/mesh/qgsmeshforcebypolylines.h
  src/core/mesh/qgstopologicalmesh.cpp
Labels: Mesh

#45199 Don't display default value in attribute table when null
  src/core/qgsfieldformatter.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Bug, backport queued_ltr_backports

#45201 [Backport queued_ltr_backports]QgsFeature::setId improve documentation with a warning. fixes #44898
  python/core/auto_generated/qgsfeature.sip.in
  src/core/qgsfeature.h
Labels: Backport

#45209 Do not add STYLES to WMS collection data items
  src/providers/wms/qgswmsdataitems.cpp
  src/providers/wms/qgswmsdataitems.h
Labels: Bug

#45203 Fix Check Geometries plugin crash
  src/plugins/geometry_checker/qgsgeometrycheckerresulttab.cpp
Labels: backport release-3_16

#45191 Geometry Checker: Enlarge FeatureID
  src/plugins/geometry_checker/qgsgeometrycheckerresulttab.cpp
Labels: backport queued_ltr_backports

#45176 [Postgres] Fix save of cleared attributes
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Data Provider, Bug, backport queued_ltr_backports

#45138 [Server] Use correct schema URL for WFS 1.1.0 GetFeature response
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/testdata/qgis_server/wfs_getFeature_1_1_0_epsgbbox_1_feature.txt
  tests/testdata/qgis_server/wfs_getFeature_1_1_0_epsgbbox_1_feature_3857.txt
  tests/testdata/qgis_server/wfs_getFeature_1_1_0_epsgbbox_3_feature.txt
  tests/testdata/qgis_server/wfs_getFeature_1_1_0_epsgbbox_3_feature_3857.txt
Labels: Bug, Server, backport queued_ltr_backports

#45241 [Backport queued_ltr] QgisApp::closeProject(): cancel canvas jobs before closing the project, to avoid rendering jobs to access deleted objects (fixes #44144)
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/app/qgisapp.cpp
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
Labels: Backport, Bug

#45261 Add missing signals to QgsAuthSettingsWidget
  python/gui/auto_generated/auth/qgsauthsettingswidget.sip.in
  src/gui/auth/qgsauthsettingswidget.cpp
  src/gui/auth/qgsauthsettingswidget.h
Labels: API

#45267 [WFS provider] Honour DCP HTTP URLs for transactions and SQL query builder (fixes #45242)
  src/providers/wfs/qgswfscapabilities.cpp
  src/providers/wfs/qgswfsprovider.cpp
  tests/src/python/test_provider_wfs.py
Labels: Bug, backport queued_ltr_backports

#45268 do not link Qt5::PrintSupport on iOS
  src/core/CMakeLists.txt
Labels: Squash!

#45265 Add missing include
  src/providers/wms/qgswmscapabilities.h
Labels: backport queued_ltr_backports

#45263 Fix rule based symbology doesn't work for columns with '-' in name
  src/core/expression/qgsexpression.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_16

#45278 Delete cad dock AFTER map tools, as they may reference it in their cleanup code
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports

#45277 Fix rule based symbology doesn't work for columns with '-' in name
  src/core/expression/qgsexpression.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Backport

#45251 Add dimension support for GetPrint
  src/server/CMakeLists.txt
  src/server/qgsdimensionfilter.cpp
  src/server/qgsdimensionfilter.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_dimension.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Dimension/WMS_GetPrint_Dimension.png
Labels: Server

#45223 Fix Z/M dimension URI via DB Manager. Fixes #34894
  python/plugins/db_manager/db_plugins/postgis/plugin.py
  python/plugins/db_manager/db_tree.py
Labels: backport queued_ltr_backports

#45269 Table layout item: set source layer in font tool btn
  src/gui/layout/qgslayoutattributetablewidget.cpp
Labels: Bug, Print Layouts, backport queued_ltr_backports

#45270 Server WFS 1.1: honor srsName and axis order
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getFeature_1_1_0_featureid_0_1_1_0.txt
Labels: Bug, Server

#45313 Fix overwriting default style of geopackage layers
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
Labels: backport queued_ltr_backports

#45309 Fix symbol sizes in Meters at Scale cannot be negative
  src/core/qgsrendercontext.cpp
  tests/src/python/test_qgsrendercontext.py
Labels: backport queued_ltr_backports

#45321 Fix array display in expression builder
  src/core/qgsfield.cpp
  src/gui/qgsexpressionbuilderwidget.cpp
  tests/src/core/testqgsfield.cpp
  tests/src/python/test_qgsexpressionbuilderwidget.py
Labels: Bug, backport queued_ltr_backports

#45315 Check for valid field index in QgsFieldFormatter::representValue
  src/core/qgsfieldformatter.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Bug

#45291 [Backport to queued_ltr_backports] Don't return default value when null
  src/core/qgsfieldformatter.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Backport, Bug

#45332 Rich text icons
  images/images.qrc
  images/themes/default/mActionEditBold.svg
  images/themes/default/mActionEditIndentLess.svg
  images/themes/default/mActionEditIndentMore.svg
  images/themes/default/mActionEditInsertImage.svg
  images/themes/default/mActionEditInsertLink.svg
  images/themes/default/mActionEditItalic.svg
  images/themes/default/mActionEditUnderline.svg
  images/themes/default/mActionStrikeOut.svg
  src/ui/qgsrichtexteditorbase.ui
Labels: GUI/UX, Bug

#45312 Add shortcut path when a line symbol is being rendered with a dash pattern which is all 0 lengths
  src/core/symbology/qgslinesymbollayer.cpp
Labels: backport queued_ltr_backports

#45292 [Backport to queued_ltr_backports][Postgres] save of cleared attributes
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Backport, Bug

#45052 [Backport queued_ltr_backports ]WFS: try harder guessing the layer geometry type when a filter returns 0 features (fixes #43950)
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsshareddata.h
  tests/src/python/test_provider_wfs.py
Labels: Backport, Bug
