Repository qgis/QGIS, pull requests merged in 2021-01, with the labels that each got.

#40757 fix mesh centroid when coordinates are very big
  src/core/mesh/qgstriangularmesh.cpp
  tests/src/core/testqgstriangularmesh.cpp
Labels: Bug, Mesh, backport release-3_16

#40780 Fix crashes in expression widget when no layer is available
  src/core/qgsfeatureexpressionvaluesgatherer.h
  src/core/qgsfeaturefiltermodel.cpp
  src/core/qgsfeaturepickermodelbase.cpp
Labels: backport release-3_16

#40829 Server: lower some log levels
  src/server/qgsserviceregistry.cpp
  src/server/services/landingpage/qgslandingpageutils.cpp
Labels: Server

#40832 Respect map clipping regions when rendering point clouds in 2d
  src/core/pointcloud/qgspointcloudlayerrenderer.cpp
  src/core/pointcloud/qgspointcloudlayerrenderer.h
  tests/src/python/test_qgspointcloudrgbrenderer.py
  tests/testdata/control_images/pointcloudrenderer/expected_clip_region/expected_clip_region.png
Labels: Point Clouds

#40802 [processing]field calculator : allow creating field already present (…
  src/analysis/processing/qgsalgorithmfieldcalculator.cpp
Labels: Squash!, backport release-3_16

#40821 mesh scalar renderer optimization
  src/core/mesh/qgsmeshlayerinterpolator.cpp
  src/core/mesh/qgsmeshlayerutils.cpp
Labels: Mesh, Optimization, backport release-3_16

#40835 Fix format specification for data defined colors
  src/core/qgsproperty.cpp
Labels: backport release-3_10, backport release-3_16

#40816 [processing] extract_by_location fix duplicate rows when mutiple pred…
  src/analysis/processing/qgsalgorithmextractbylocation.cpp
Labels: backport release-3_16

#40831 When reading laz files, gracefully handle requested attributes which are not available
  src/core/pointcloud/qgseptdecoder.cpp
Labels: Point Clouds

#40844 Untwine: calculate stats for attributes
  external/untwine/bu/BuPyramid.cpp
  external/untwine/bu/BuTypes.hpp
  external/untwine/bu/Processor.cpp
  external/untwine/bu/Processor.hpp
  external/untwine/bu/PyramidManager.cpp
  external/untwine/bu/PyramidManager.hpp
  external/untwine/bu/Stats.cpp
  external/untwine/bu/Stats.hpp
  external/untwine/epf/Epf.cpp
  external/untwine/epf/Grid.cpp
  external/untwine/untwine/Common.hpp
  external/untwine/untwine/Untwine.cpp
  src/providers/pdal/CMakeLists.txt
  src/providers/pdal/qgspdaleptgenerationtask.cpp
Labels: Point Clouds

#40838 Fix exception when calling "Select from Files" in batch mode
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/plugins/processing/gui/BatchPanel.py
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, backport release-3_16

#40851 [locator] Fix broken parsing northing,easting DMS coordinates
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/core/qgscoordinateutils.cpp
  src/core/qgscoordinateutils.h
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Bug, backport release-3_16

#40848 Allow plugins to set control image path for QgsRenderChecker
  python/core/auto_generated/qgsrenderchecker.sip.in
  src/core/qgsrenderchecker.cpp
  src/core/qgsrenderchecker.h
Labels: API

#40842 fix mssql iterator
  src/core/qgsabstractdatabaseproviderconnection.cpp
  src/providers/mssql/qgsmssqlproviderconnection.cpp
Labels: Bug, MS SQL data provider

#40840 Fixes an (unreported?) issue with invalid MSSQL data items
  src/providers/mssql/qgsmssqldataitems.cpp
Labels: Bug

#40855 Allow the usage of opacity parameter in a WMS provider URL
  src/providers/wms/qgswmscapabilities.cpp
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
  src/server/services/wms/qgswmsparameters.cpp
Labels: backport release-3_16

#39944 [OTB] Improve parameter selection
  python/plugins/processing/algs/otb/OtbAlgorithm.py
Labels: Processing, backport release-3_16

#40863 [Backport release-3_16][locator] Fix broken parsing northing,easting DMS coordinates
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  src/core/qgscoordinateutils.cpp
  src/core/qgscoordinateutils.h
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Backport, Bug

#40874 option to run sipify_all.sh on a single module
  scripts/sipify_all.sh
Labels: backport release-3_16

#40875 Untwine update: warnings and 32-bit build
  external/untwine/bu/Processor.cpp
  external/untwine/epf/Epf.cpp
  external/untwine/epf/Grid.cpp
  external/untwine/epf/Reprocessor.cpp
  external/untwine/untwine/FileDimInfo.hpp
  external/untwine/untwine/ProgressWriter.cpp
  external/untwine/untwine/VoxelKey.hpp
Labels: Point Clouds

#40865 Add new class to run a process in a blocking manner without QEventLoop related issues on the main thread
  python/core/auto_generated/qgsrunprocess.sip.in
  src/core/qgsrunprocess.cpp
  src/core/qgsrunprocess.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsblockingprocess.py
Labels: API

#40873 Split tool: create new features all at once
  src/core/vector/qgsvectorlayereditutils.cpp
Labels: Bug, backport release-3_16

#40885 [locator] Fix broken parsing of google maps URL Z values
  src/app/locator/qgsinbuiltlocatorfilters.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Bug, backport release-3_16

#40596 core part to handle dynamic SVGs
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  python/core/auto_generated/symbology/qgssvgcache.sip.in
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  src/core/layout/qgslayoutitempicture.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/core/symbology/qgssvgcache.cpp
  src/core/symbology/qgssvgcache.h
  src/core/symbology/qgssymbollayerutils.cpp
  src/core/symbology/qgssymbollayerutils.h
  tests/src/core/testqgssvgcache.cpp
  tests/testdata/svg/test_dynamic_svg.svg
  tests/testdata/svg/test_dynamic_svg_control.svg
Labels: Squash!, stale

#40890 [Oracle] Fix metadata table srid when creating an empty layer
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  tests/src/python/test_provider_oracle.py
Labels: Bug, backport release-3_16

#40882 Never trust internal feature ids
  src/core/vectortile/qgsvectortilemvtdecoder.cpp
Labels: Vector tiles, backport release-3_16 (broken!!!!)

#40892 GUI for dynamic SVGs
  python/gui/auto_generated/symbology/qgssvgselectorwidget.sip.in
  python/gui/auto_generated/symbology/qgssymbollayerwidget.sip.in
  src/gui/symbology/qgssvgselectorwidget.cpp
  src/gui/symbology/qgssvgselectorwidget.h
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/ui/symbollayer/widget_svgselector.ui
Labels: Changelog, Feature, Needs Documentation

#40721 Support multiple relation editors via relation widget registry
  python/core/auto_generated/qgsattributeeditorelement.sip.in
  python/gui/auto_additions/qgsrelationeditorwidget.py
  python/gui/auto_generated/editorwidgets/qgsrelationwidgetwrapper.sip.in
  python/gui/auto_generated/qgsabstractrelationeditorwidget.sip.in
  python/gui/auto_generated/qgsgui.sip.in
  python/gui/auto_generated/qgsrelationeditorwidget.sip.in
  python/gui/auto_generated/qgsrelationwidgetregistry.sip.in
  python/gui/gui_auto.sip
  src/core/qgsattributeeditorelement.cpp
  src/core/qgsattributeeditorelement.h
  src/core/qgseditformconfig.cpp
  src/gui/CMakeLists.txt
  src/gui/attributeformconfig/qgsattributewidgetedit.cpp
  src/gui/attributeformconfig/qgsattributewidgetedit.h
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationwidgetwrapper.h
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsabstractrelationeditorwidget.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/qgsgui.cpp
  src/gui/qgsgui.h
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
  src/gui/qgsrelationwidgetregistry.cpp
  src/gui/qgsrelationwidgetregistry.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributewidgetrelationeditwidget.ui
  src/ui/qgsrelationeditorconfigwidgetbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsrelationeditorwidgetregistry.py
Labels: Needs Documentation

#40908 Fix to_date* functions links to qt doc
  resources/function_help/json/to_date
  resources/function_help/json/to_datetime
Labels: backport release-3_16 (broken!!!!)

#40921 [ui] Format status bar coordinate widget's extent using project settings
  src/app/qgsstatusbarcoordinateswidget.cpp
  src/core/qgscoordinateutils.cpp
  src/core/qgscoordinateutils.h
Labels: Bug, GUI/UX, backport release-3_16 (broken!!!!)

#40918 Automatically populate appropriate layer metadata when adding OpenStreetMap tile layers
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
  tests/src/providers/testqgswmsprovider.cpp
Labels: Metadata, backport release-3_16 (broken!!!!)

#40919 Add map_credits function
  resources/function_help/json/map_credits
  src/core/expression/qgsexpressioncontextutils.cpp
  tests/src/core/testqgslayoutitem.cpp
Labels: Changelog, Expressions, Feature, Print Layouts

#40920 Update references to compositions in expression function help
  resources/function_help/json/$map
  resources/function_help/json/$page
  resources/function_help/json/item_variables
Labels: backport release-3_16 (broken!!!!)

#40928 [layouts] When adding a new map item, auto-assign a real unique id to the item
  src/gui/layout/qgslayoutguiutils.cpp
Labels: Print Layouts

#40936 Fix some layers don't appear available as feature server layers in browser/data source manager
  src/core/providers/arcgis/qgsarcgisrestquery.cpp
Labels: ArcGIS feature server data provider

#40952 Silence OpenType support missing Qt warning
  src/app/main.cpp
Labels: backport release-3_16 (broken!!!!)

#40968 Fix: Server WMS Dimension nearestValue and multipleValues
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/testdata/qgis_server_accesscontrol/results/getcapabilities_wms_dimension.txt
Labels: Server, backport release-3_16 (broken!!!!)

#40967 Fix: Server WMS Dimension time fields filters extension
  src/gui/vector/qgswmsdimensiondialog.cpp
Labels: Server, backport release-3_16 (broken!!!!)

#40964 Fix: Processing Modeler help parameter
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
Labels: Processing, backport release-3_16 (broken!!!!)

#40957 [OTB] Fixes empty string parameters
  python/plugins/processing/algs/otb/OtbAlgorithm.py
  python/plugins/processing/tests/testdata/otb_algorithm_tests.yaml
Labels: Bug, backport release-3_16 (broken!!!!)

#40188 Simplify Curved Types for QgsPostgresFeatureIterator
  src/providers/postgres/qgspostgresfeatureiterator.cpp
Labels: stale

#40974 Add button to open style gallery in the style manager
  src/gui/symbology/qgsstylemanagerdialog.cpp
Labels: Changelog, Feature, Needs Documentation

#40975 Correctly expose QgsLayoutItemAttributeTable::getTableContents to sip
  python/core/auto_generated/layout/qgslayoutitemattributetable.sip.in
  src/core/layout/qgslayoutitemattributetable.h
Labels: backport release-3_10 (broken!!!!!), backport release-3_16 (broken!!!!)

#40976 [processing] Add 'thiessen' tag to QGIS' voronoi polygons algorithm
  python/plugins/processing/algs/qgis/VoronoiPolygons.py
Labels: Bug, Processing, backport release-3_16 (broken!!!!)

#40977 Correctly expose QgsLayoutItemAttributeTable::getTableContents to sip,
  python/core/auto_generated/layout/qgslayoutitemattributetable.sip.in
  src/core/layout/qgslayoutitemattributetable.h
Labels: Backport

#40981 [quick] move proj try catch to QgsQuickUtils::transformPoint
  src/quickgui/attributes/qgsquickattributeformmodelbase.cpp
  src/quickgui/attributes/qgsquickattributeformmodelbase.h
Labels: Bug

#40886 Review the help string about translated project
  src/app/qgsprojectproperties.cpp
Labels: GUI/UX

#40750 QgsQueryResultModel
  python/core/auto_generated/qgsabstractdatabaseproviderconnection.sip.in
  python/core/auto_generated/qgsqueryresultmodel.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/providers/ogr/qgsgeopackageproviderconnection.h
  src/core/qgsabstractdatabaseproviderconnection.cpp
  src/core/qgsabstractdatabaseproviderconnection.h
  src/core/qgsqueryresultmodel.cpp
  src/core/qgsqueryresultmodel.h
  src/providers/hana/qgshanaproviderconnection.cpp
  src/providers/hana/qgshanaproviderconnection.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/mssql/qgsmssqlproviderconnection.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsproviderconnection_base.py
  tests/src/python/test_qgsqueryresultmodel.py
Labels: API, PyQGIS

#41011 Server getfeatureinfo OGC filter support
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_ogc.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_ogc_complex.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_ogc_empty.txt
Labels: Feature, Server, backport release-3_16 (broken!!!!)

#41016 [backport] Server getfeatureinfo OGC filter support
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_ogc.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_ogc_complex.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_filter_ogc_empty.txt
Labels: Backport, Server

#41032 [processing] Allow for short description to have hyperlinks open in external browser
  src/ui/processing/qgsprocessingalgorithmdialogbase.ui
Labels: Bug, Processing, backport release-3_16 (broken!!!!)

#41039 [processing] Improve atlas exporting feedback
  src/analysis/processing/qgsalgorithmlayoutatlastoimage.cpp
  src/analysis/processing/qgsalgorithmlayoutatlastopdf.cpp
Labels: backport release-3_16 (broken!!!!)

#41033 Fix QgsQueryResultModel crash
  python/core/auto_generated/qgsqueryresultmodel.sip.in
  src/core/qgsqueryresultmodel.cpp
  src/core/qgsqueryresultmodel.h
  tests/src/python/test_qgsqueryresultmodel.py
Labels: Bug, Crash/Data Corruption

#41041 [processing] Fix file download algorithm's temporary file missing proper extension
  python/core/auto_generated/network/qgsfiledownloader.sip.in
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
  src/core/network/qgsfiledownloader.cpp
  src/core/network/qgsfiledownloader.h
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Bug, Processing, backport release-3_16 (broken!!!!)

#41035 Fix suppressed Windows linker errors
  src/3d/CMakeLists.txt
  src/analysis/CMakeLists.txt
  src/core/qgsattributes.h
Labels: Bug

#41061 Fix save-as with dots
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
  src/gui/qgsfilewidget.cpp
Labels: Bug

#41059 Fix PG permission on insert features
  src/core/vector/qgsvectorlayerutils.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, Data Provider

#41066 Fix rendering of Vector Field marker symbol layer when map is rotated
  src/core/symbology/qgsvectorfieldsymbollayer.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsvectorfieldmarkersymbollayer.py
  tests/testdata/control_images/symbol_vectorfield/expected_anticlockwise_polar/expected_anticlockwise_polar.png
  tests/testdata/control_images/symbol_vectorfield/expected_height/expected_height.png
  tests/testdata/control_images/symbol_vectorfield/expected_polar/expected_polar.png
  tests/testdata/control_images/symbol_vectorfield/expected_radians_polar/expected_radians_polar.png
  tests/testdata/control_images/symbol_vectorfield/expected_rotated_map/expected_rotated_map.png
  tests/testdata/control_images/symbol_vectorfield/expected_vectorfield/expected_vectorfield.png
Labels: backport release-3_16 (broken!!!!)

#41068 follow up ab0eba2 : crash-free implementation
  python/core/auto_generated/network/qgsfiledownloader.sip.in
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
  src/core/network/qgsfiledownloader.cpp
  src/core/network/qgsfiledownloader.h
Labels: backport release-3_16 (broken!!!!)

#41067 Ensure layer style dock is updated when toggling legend items through layer tree menu
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: backport release-3_16 (broken!!!!)

#41080 Fix MXE build for python bump and EPT
  CMakeLists.txt
  external/laz-perf/common/types.hpp
  ms-windows/mxe/build-mxe.sh
  ms-windows/mxe/mxe.Dockerfile
Labels: Build/Install

#41079 [Oracle] Don't reset srid to -1 when there is no geometry
  src/providers/oracle/qgsoracleconn.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, backport release-3_16 (broken!!!!)

#41070 Use parent symbol type instead of layer geometry type to decide which line symbol layer settings to show
  python/gui/auto_generated/symbology/qgssymbollayerwidget.sip.in
  python/gui/auto_generated/symbology/qgssymbolwidgetcontext.sip.in
  src/gui/symbology/qgslayerpropertieswidget.cpp
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.h
  src/gui/symbology/qgssymbolwidgetcontext.cpp
  src/gui/symbology/qgssymbolwidgetcontext.h
Labels: backport release-3_16 (broken!!!!)

#41082 Fix vertex editor locale with Z/R values
  src/app/vertextool/qgsvertexeditor.cpp
  src/gui/qgslocaleawarenumericlineeditdelegate.cpp
Labels: Bug, backport release-3_16 (broken!!!!)

#41069 Add mechanism for temporarily disabling all network caching to QgsNetworkAccessManager
  python/core/auto_generated/network/qgsnetworkaccessmanager.sip.in
  src/app/devtools/networklogger/qgsnetworkloggerpanelwidget.cpp
  src/core/network/qgsnetworkaccessmanager.cpp
  src/core/network/qgsnetworkaccessmanager.h
Labels: Changelog

#41075 Allow to edit empty shapefiles
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: Bug, Data Provider

#41090 [layouts] Always update label after text changes
  src/core/layout/qgslayoutitemlabel.cpp
Labels: Bug, Print Layouts, backport release-3_16 (broken!!!!)

#41089 [processing] Don't default to input field for optional expression parameters
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: backport release-3_16 (broken!!!!)

#41095 [processing] Fix feedback confusion with multiple download file alg by adding a successfully downloaded URL information message
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
Labels: backport release-3_16 (broken!!!!)

#41092 Added a connection to QgsMapLayer::nameChanged (fixes #40824)
  src/core/qgsmaplayerlegend.cpp
Labels: backport release-3_16

#41098 MXE python bump backport
  ms-windows/mxe/build-mxe.sh
  ms-windows/mxe/mxe.Dockerfile
Labels: Backport, Build/Install

#41109 Fixes windows issue with QVariant( QString() ) being NULL
  src/core/qgsogrutils.cpp
Labels: Bug, Windows, backport release-3_16

#41100 shows source info when load raster/vector via HTTP protocol
  src/core/raster/qgsrasterlayer.cpp
  src/core/vector/qgsvectorlayer.cpp
Labels: backport release-3_16

#41009 Document management system a.k.a. polymorphic relations GUI
  python/core/auto_additions/qgsrelation.py
  python/core/auto_generated/qgspolymorphicrelation.sip.in
  python/core/auto_generated/qgsrelation.sip.in
  python/gui/auto_generated/qgsmaptool.sip.in
  src/app/CMakeLists.txt
  src/app/qgsprojectproperties.cpp
  src/app/qgsrelationadddlg.cpp
  src/app/qgsrelationadddlg.h
  src/app/qgsrelationaddpolymorphicdlg.cpp
  src/app/qgsrelationaddpolymorphicdlg.h
  src/app/qgsrelationmanagerdialog.cpp
  src/app/qgsrelationmanagerdialog.h
  src/core/qgspolymorphicrelation.cpp
  src/core/qgspolymorphicrelation.h
  src/core/qgspolymorphicrelation_p.h
  src/core/qgsrelation.cpp
  src/core/qgsrelation.h
  src/core/qgsrelationmanager.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/gui/editorwidgets/qgsrelationreferenceconfigdlg.cpp
  src/gui/editorwidgets/qgsrelationreferencefactory.cpp
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsabstractrelationeditorwidget.h
  src/gui/qgsmaptool.h
  src/ui/editorwidgets/qgsrelationreferenceconfigdlgbase.ui
  src/ui/qgsrelationmanageradddialogbase.ui
  src/ui/qgsrelationmanageraddpolymorphicdialogbase.ui
  src/ui/qgsrelationmanagerdialogbase.ui
Labels: Changelog, Feature, Freeze Exempt, Needs Documentation

#41137 Fix Server WMS unstable feature IDs
  src/server/services/wfs3/qgswfs3handlers.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_accesscontrol.py
  tests/src/python/test_qgsserver_api.py
  tests/src/python/test_qgsserver_security.py
  tests/src/python/test_qgsserver_wms_getfeatureinfo_postgres.py
  tests/testdata/qgis_server/api/test_wfs3_collections_items_as-areas-short-name_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_as-areas-short-name_4326.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_exclude_attribute_0.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_eq_tw_star.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_eq_two.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_sort_by_name.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_sort_by_name_asc.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_layer1_with_short_name_sort_by_name_desc.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_bbox.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_bbox_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_crs_3857.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_limit_1.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_limit_1_offset_1.json
Labels: Bug, Server, backport release-3_16

#41163 [wfs server] Adjust MultiSurface and MultiCurve geometry type strings
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
Labels: Bug, Server, backport release-3_16

#41144 [PostgreSQL] Pass client_encoding='UTF-8' in connection string (fixes #41132)
  src/providers/postgres/qgspostgresconn.cpp
Labels: backport release-3_16

#41161 Followup #41109: fix algorithms
  python/plugins/processing/tests/testdata/expected/join_by_location_summary_date.gml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  src/analysis/processing/qgsalgorithmpointslayerfromtable.cpp
  src/core/qgsdatetimestatisticalsummary.cpp
  src/core/qgsdatetimestatisticalsummary.h
Labels: Bug, backport release-3_16

#41178 Mark db2 provider as deprecated, and hide from QGIS UI by default
  resources/qgis_global_settings.ini
  src/providers/db2/qgsdb2dataitems.cpp
  src/providers/db2/qgsdb2providergui.cpp
Labels: Changelog, Data Provider

#41117 [Oracle] Fix issue when inserting a feature with only null attributes
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, Data Provider, backport release-3_16

#41155 [Processing] Fix wrong result of Rescale Raster when input data type is not Float32 (fixes #41084)
  src/analysis/processing/qgsalgorithmrescaleraster.cpp
Labels: backport release-3_16

#41145 connections XML import dialog: deal properly with duplicate connection names (fixes #39758)
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: backport release-3_16

#40682 Remove updateRecentProjectsVisibility()
  src/app/qgswelcomepage.cpp
  src/app/qgswelcomepage.h
Labels: Bug, backport release-3_16

#41173 Update dlg_import_vector.py
  python/plugins/db_manager/dlg_import_vector.py
Labels: backport release-3_16

#41169 Bugfix wfs 2.0 typenames esri bug
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/providers/wfs/qgswfsdescribefeaturetype.cpp
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsshareddata.cpp
  tests/src/python/test_provider_wfs.py
Labels: Bug, WFS data provider

#41121 [Oracle] Fix create layer with lowercase and large field names
  src/core/vector/qgsvectorlayerexporter.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, backport release-3_16

#41227 [temporal] Fix setting restoration regression (fixes #41225)
  src/core/qgstemporalnavigationobject.cpp
Labels: Bug, Regression, Temporal

#41207 fix GRASS7 provider build on MacOS
  src/providers/grass/CMakeLists.txt
Labels: Packaging

#41235 Fix longest_common_substring function help
  resources/function_help/json/longest_common_substring
Labels: backport release-3_16

#41230 add system dependency to correctly run qgis_testrunner.sh
  .docker/qgis.dockerfile
Labels: backport release-3_16

#41236 WFS connections XML import dialog: deal properly with duplicate conne…
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: backport release-3_16

#41262 More connections XML import dialoges: deal properly with duplicate connection names
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: backport release-3_16

#41184 Add subLayerCount for GPKG file instead of returning 0
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Data Provider, backport release-3_16

#41268 fix crash with QgsAttributesFormProperties
  src/gui/vector/qgsattributesformproperties.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_16

#41215 Fix wrong attr values in joined fields
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  tests/src/core/testqgsvectorlayerjoinbuffer.cpp
Labels: backport release-3_16

#41273 Project load freezes QWebkit-less QGIS builds when a layout contains an HTML item
  src/core/qgswebframe.h
  src/core/qgswebpage.h
Labels: Bug, backport release-3_16

#41254 Backport shows source info when load raster/vector via HTTP protocol
  src/core/qgsvectorlayer.cpp
  src/core/raster/qgsrasterlayer.cpp
Labels: Backport

#41259 [processing] Add commands to qgis_process tool to enable or disable plugins from the command line
  src/process/qgsprocess.cpp
  src/process/qgsprocess.h
Labels: Changelog, Processing, backport release-3_16

#41278 Expose additional GDAL supported resampling methods as options for "early" raster resampling
  python/core/auto_additions/qgsrasterdataprovider.py
  python/core/auto_generated/raster/qgsrasterdataprovider.sip.in
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/raster/qgsrasterdataprovider.cpp
  src/core/raster/qgsrasterdataprovider.h
  src/gui/raster/qgsresamplingutils.cpp
  src/gui/raster/qgsresamplingutils.h
Labels: backport release-3_16
