Repository qgis/QGIS, pull requests merged in 2021-04, with the labels that each got.

#42607 [sipify] fix static const inline
  scripts/sipify.pl
Labels: backport release-3_18

#42613 make methods of QgsMapLayerAction virtual so the canRunUsingLayer can be fine tuned
  python/gui/auto_generated/qgsmaplayeractionregistry.sip.in
  src/gui/qgsmaplayeractionregistry.h
Labels: backport release-3_18

#42605 When configurating a field calculator algorithm in a model, ensure that the correct expression context is set for the widget
  python/gui/auto_generated/processing/qgsprocessingwidgetwrapper.sip.in
  src/gui/processing/qgsprocessingwidgetwrapper.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
Labels: Processing, backport release-3_16, backport release-3_18

#42633 Try to fix mingw builds
  ms-windows/mingw/qgis3-build-deps-mingw.dockerfile
Labels: Chore, backport release-3_16, backport release-3_18

#42401 [ogr] Add support for integer, real and integer64 list data types
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsogrutils.cpp
  src/core/qgsvectorfilewriter.cpp
  src/core/qgsvectorfilewriter.h
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Feature

#42600 Ensure that cached vector getFeatures request respect provider ordering
  src/core/qgscachedfeatureiterator.cpp
  src/core/qgscachedfeatureiterator.h
  src/core/vector/qgsvectorlayercache.cpp
  src/core/vector/qgsvectorlayercache.h
  tests/src/core/testqgsvectorlayercache.cpp
Labels: Attribute Table, Bug, backport release-3_16, backport release-3_18

#42642 [backport release-3_16] remove cpp check on 16.04 (#42616)
  .github/workflows/code_layout.yml
Labels: Backport

#42636 Don't crash when trying to insert dynamic text into an empty report
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/gui/layout/qgslayoutlabelwidget.cpp
Labels: backport release-3_18

#42634 Gracefully handle import errors in console
  python/console/console_sci.py
Labels: backport release-3_16, backport release-3_18

#42650 Add support for rounded corners for balloon callout styles
  python/core/auto_generated/callouts/qgscallout.sip.in
  src/core/callouts/qgscallout.cpp
  src/core/callouts/qgscallout.h
  src/core/qgsshapegenerator.cpp
  src/core/qgsshapegenerator.h
  src/gui/callouts/qgscalloutwidget.cpp
  src/ui/callouts/widget_ballooncallout.ui
  tests/src/core/testqgscallout.cpp
  tests/testdata/control_images/callouts/expected_balloon_callout_corner_radius/expected_balloon_callout_corner_radius.png
Labels: Changelog, Feature, Needs Documentation

#42655 [pal] Optimise checks of conflicts between curved label candidates
  src/core/pal/labelposition.cpp
  src/core/pal/labelposition.h
  src/core/pal/pointset.cpp
  src/core/pal/pointset.h
Labels: Labeling, Optimization

#42654 Fix some valid curved label placements are rejected
  src/core/labeling/qgstextlabelfeature.cpp
  src/core/pal/feature.cpp
  src/core/pal/feature.h
  src/core/pal/geomfunction.cpp
  tests/testdata/control_images/labelingengine/expected_label_curved_label_small_segments/expected_label_curved_label_small_segments_mask.png
  tests/testdata/control_images/labelingengine/expected_label_curved_negative_distance/expected_label_curved_negative_distance_mask.png
  tests/testdata/control_images/labelingengine/expected_label_multipart_touching_branches/expected_label_multipart_touching_branches_mask.png
Labels: Bug, Labeling, backport release-3_16, backport release-3_18

#42656 [ui] Slightly improve the about dialog
  images/icons/qgis-full.png
  images/images.qrc
  src/app/qgsabout.cpp
  src/ui/qgsabout.ui
Labels: GUI/UX, backport release-3_16, backport release-3_18

#42667 [pal] Cache results of determining whether two label candidates conflict
  src/core/pal/labelposition.cpp
  src/core/pal/labelposition.h
  src/core/pal/pal.cpp
  src/core/pal/pal.h
  src/core/pal/problem.cpp
  src/core/pal/problem.h
Labels: Labeling, Optimization

#42635 Ensure that the @geometry_part_num variable exactly matches the correct part ordering for polygon features (3.18 backport
  src/core/symbology/qgssymbol.cpp
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_poly_part_num_variable/expected_poly_part_num_variable.png
Labels: Backport, backport release-3_16

#42684 fix MSSQL extent in geometry table
  src/providers/mssql/qgsmssqlprovider.cpp
Labels: Bug, backport release-3_18

#42666 Fix digitizing polygons with curves
  src/app/qgsmaptooladdcircularstring.cpp
  src/gui/qgsmaptoolcapture.cpp
  tests/src/app/testqgsmaptoolcircularstring.cpp
Labels: Bug, Digitizing, Regression, backport release-3_16, backport release-3_18

#42715 When exporting a model to a python script, include comments for enum values
  python/core/auto_generated/processing/models/qgsprocessingmodelchildparametersource.sip.in
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  src/core/processing/models/qgsprocessingmodelchildalgorithm.cpp
  src/core/processing/models/qgsprocessingmodelchildparametersource.cpp
  src/core/processing/models/qgsprocessingmodelchildparametersource.h
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing

#42727 Add an option to control how line features are clipped before their anchor points are calculated
  python/core/auto_additions/qgslabellinesettings.py
  python/core/auto_generated/labeling/qgslabellinesettings.sip.in
  python/core/auto_generated/labeling/qgspallabeling.sip.in
  src/core/labeling/qgslabellinesettings.cpp
  src/core/labeling/qgslabellinesettings.h
  src/core/labeling/qgspallabeling.cpp
  src/core/labeling/qgspallabeling.h
  src/gui/labeling/qgslabelinggui.cpp
  src/gui/labeling/qgslabellineanchorwidget.cpp
  src/ui/labeling/qgslabellineanchorwidgetbase.ui
  tests/src/core/testqgslabelingengine.cpp
  tests/testdata/control_images/labelingengine/expected_line_anchor_no_clipping/expected_line_anchor_no_clipping.png
Labels: Changelog, Documentation, Feature, Labeling

#42731 [pal] Improvements
  src/core/pal/labelposition.h
  src/core/pal/layer.cpp
  src/core/pal/layer.h
  src/core/pal/pal.cpp
  src/core/pal/pal.h
  tests/src/core/testqgslabelingengine.cpp
  tests/testdata/control_images/labelingengine/expected_label_merged_minimum_size/expected_label_merged_minimum_size.png
  tests/testdata/control_images/labelingengine/expected_label_multipart_touching_branches/expected_label_multipart_touching_branches.png
  tests/testdata/control_images/labelingengine/expected_label_multipart_touching_branches/expected_label_multipart_touching_branches_mask.png
Labels: Labeling

#42695 Fix multiple issues in editing API with transactions
  src/core/vector/qgsvectorlayerundopassthroughcommand.cpp
  src/core/vector/qgsvectorlayerundopassthroughcommand.h
  tests/src/python/test_qgsvectorlayereditbuffer.py
Labels: Bug, Optimization

#42754 Gui: fix crash when opening vector layer property dialog on a bad layer
  src/core/raster/qgsrasterlayer.cpp
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42769 [Server] QgsServerFeatureId use STRING_TO_FID instead of toLongLong
  src/server/qgsserverfeatureid.cpp
Labels: Server, backport release-3_16, backport release-3_18

#42782 [vectorlayer] Fix updateFeature() when an attribute's variant goes from null to default null value
  src/core/vector/qgsvectorlayer.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42771 [Server] QgsServerFeatureId use combine expression in update feature request
  src/server/qgsserverfeatureid.cpp
Labels: Server, backport release-3_16, backport release-3_18

#42799 fix wrong identification of python 3.10 as python 3.1
  cmake/FindLibPython.py
Labels: backport release-3_16

#42795 fix API header references
  python/core/auto_generated/processing/qgsprocessingcontext.sip.in
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/processing/qgsprocessingcontext.cpp
  src/core/processing/qgsprocessingcontext.h
  src/gui/CMakeLists.txt
Labels: Bug, backport release-3_18

#42790 [Oracle] Don't run flaky test PyQgsOracleProvider
  .ci/test_flaky.txt
Labels: backport release-3_18

#42744 Update documentation for new timeout behavior in 3.18
  python/gui/auto_generated/qgsmessagebar.sip.in
  src/gui/qgsmessagebar.h
Labels: backport release-3_18

#42767 [MetaSearch] mask password when opening connection properties dialog (#42760)
  python/plugins/MetaSearch/ui/newconnectiondialog.ui
Labels: Bug, MetaSearch

#42831 Upgrade pyogctest to use embedded data
  .github/workflows/ogc.yml
Labels: Chore, Server, backport release-3_16, backport release-3_18

#42828 Improving the naming of layout templates (.QPT)
  src/app/layout/qgslayoutmanagerdialog.cpp
Labels: GUI/UX, backport release-3_16, backport release-3_18

#42824 "Flatten relationships" alg output should not be optional
  src/analysis/processing/qgsalgorithmflattenrelationships.cpp
Labels: backport release-3_16, backport release-3_18

#42749 [ui] Reduce the labeling placement settings panel's minimum width, making it much more dock-friendly
  src/ui/labeling/qgslabelengineconfigdialog.ui
Labels: GUI/UX

#42561 Only transpose mid marker when one endpoint is outside the visible extent
  src/app/vertextool/qgsvertextool.cpp
Labels: stale

#42841 Disable mingw action - The environment is broken for unknown reasons
  .github/workflows/mingw64.disabled
Labels: Chore, backport release-3_16

#42845 Force UTF-8 when outputing to FlatGeobuf
  src/core/qgsvectorfilewriter.cpp
Labels: backport release-3_16, backport release-3_18

#42846 [symbology] Make use of the marker symbol line angle for all polyline templated line rendering
  src/core/symbology/qgslinesymbollayer.cpp
  tests/src/python/test_qgsmarkerlinesymbollayer.py
  tests/testdata/control_images/symbol_markerline/expected_markerline_datadefinedanglepolygon/expected_markerline_datadefinedanglepolygon.png
  tests/testdata/control_images/symbol_markerline/expected_markerline_multicurve/expected_markerline_multicurve.png
Labels: Bug, Symbology, backport release-3_16, backport release-3_18

#42862 [pal] Faster merge connected lines option
  src/core/pal/feature.cpp
Labels: Optimization

#42865 Fix opening the console when 3d library is not built (like for MinGW builds)
  python/console/console_sci.py
Labels: backport release-3_16, backport release-3_18

#42869 Add safety check for field name in StatisticsByCategories
  python/plugins/processing/algs/qgis/StatisticsByCategories.py
Labels: Bug, backport release-3_16, backport release-3_18

#42887 [attribute form] Fix drag n drop spacing issue with container-less setup
  src/gui/qgsattributeform.cpp
Labels: GUI/UX, backport release-3_18

#42877 Allow users to create notes for map layers
  images/images.qrc
  images/themes/default/mIndicatorNotes.svg
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/app/qgslayernotesmanager.cpp
  src/app/qgslayernotesmanager.h
  src/app/qgslayertreeviewnotesindicator.cpp
  src/app/qgslayertreeviewnotesindicator.h
  src/gui/qgscolorbutton.cpp
Labels: Changelog, Feature, Needs Documentation

#42903 Provide a mechanism to specify a list of fallback font families for QgsTextFormat
  python/core/auto_generated/textrenderer/qgstextformat.sip.in
  src/core/textrenderer/qgstextformat.cpp
  src/core/textrenderer/qgstextformat.h
  src/core/textrenderer/qgstextrenderer_p.h
  tests/src/python/test_qgstextrenderer.py
Labels: API

#42781 Big optimization gains to the geometry snapper class
  python/analysis/auto_generated/vector/qgsgeometrysnapper.sip.in
  src/analysis/vector/qgsgeometrysnapper.cpp
  src/analysis/vector/qgsgeometrysnapper.h
  tests/src/analysis/testqgsgeometrysnapper.cpp
Labels: Optimization, Processing

#42888 support QgsSettingsEntryEnumFlag in sipify
  scripts/sipify.pl
  tests/code_layout/sipifyheader.expected.sip
  tests/code_layout/sipifyheader.h
Labels: Squash!

#42914 Fix potential crash in mesh renderer vector settings widget
  src/gui/mesh/qgsmeshrenderervectorsettingswidget.cpp
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#42906 [attribute form] Significant speed boost when loading relation editor widgets
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/qgsrelationeditorwidget.cpp
Labels: Optimization, Squash!

#42913 Fix potential crash in symbol to SLD conversion
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.cpp
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_18

#42920 Add QgsGeometry::isAxisParallelRectangle for checking whether a geometry is a axis-parallel rectangle
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  src/core/geometry/qgsinternalgeometryengine.cpp
  src/core/geometry/qgsinternalgeometryengine.h
  tests/src/python/test_qgsgeometry.py
Labels: API

#42938 Properly disable Advanced Digitizing when switching out from move tool
  src/app/qgsmaptoolmovefeature.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42934 Move currentFrame increment to the end of the loop
  src/core/qgstemporalutils.cpp
Labels: Bug, backport release-3_16, backport release-3_18

#42943 typo(fix): corrects common typos in project README files
  external/o2/README.md
  external/wintoast/README.md
Labels: Documentation

#42750 [feature][callouts] Add blending mode settings
  python/core/auto_generated/callouts/qgscallout.sip.in
  python/core/auto_generated/labeling/qgspallabeling.sip.in
  src/core/callouts/qgscallout.cpp
  src/core/callouts/qgscallout.h
  src/core/labeling/qgspallabeling.cpp
  src/core/labeling/qgspallabeling.h
  src/core/labeling/qgsvectorlayerlabeling.cpp
  src/gui/callouts/qgscalloutwidget.cpp
  src/gui/callouts/qgscalloutwidget.h
  src/ui/callouts/widget_ballooncallout.ui
  src/ui/callouts/widget_curvedlinecallout.ui
  src/ui/callouts/widget_simplelinecallout.ui
  src/ui/qgstextformatwidgetbase.ui
  tests/src/core/testqgscallout.cpp
  tests/testdata/control_images/callouts/expected_simple_callout_labels_blend/expected_simple_callout_labels_blend.png
Labels: Changelog, Feature, Labeling, Needs Documentation

#42950 Drop build testing on 20.10
  .github/workflows/run-tests.yml
Labels: backport release-3_16, backport release-3_18

#42962 Properly disable mingw build, disable 20.10 build
  .github/workflows/mingw64.disabled
  .github/workflows/mingw64.yml
  .github/workflows/run-tests.yml
Labels: Chore

#42961 Properly disable mingw build, disable 20.10 build
  .github/workflows/mingw64.disabled
  .github/workflows/mingw64.yml
  .github/workflows/run-tests.yml
Labels: Chore

#42957 Add QgsCurve::indexOf to retrieve index of a specified QgsPoint within the curve
  python/core/auto_generated/geometry/qgscircularstring.sip.in
  python/core/auto_generated/geometry/qgscompoundcurve.sip.in
  python/core/auto_generated/geometry/qgscurve.sip.in
  python/core/auto_generated/geometry/qgslinestring.sip.in
  src/core/geometry/qgscircularstring.cpp
  src/core/geometry/qgscircularstring.h
  src/core/geometry/qgscompoundcurve.cpp
  src/core/geometry/qgscompoundcurve.h
  src/core/geometry/qgscurve.h
  src/core/geometry/qgslinestring.cpp
  src/core/geometry/qgslinestring.h
  tests/src/core/testqgsgeometry.cpp
Labels: API

#42966 Fix scale tool when map and layer have different crs
  src/app/qgsmaptoolscalefeature.cpp
  tests/src/app/testqgsmaptoolscalefeature.cpp
Labels: backport release-3_18

#42941 Order map keys by length before using in replace function
  resources/function_help/json/replace
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_16, backport release-3_18

#42937 Advanced digitizing improvements
  src/gui/qgsadvanceddigitizingdockwidget.cpp
Labels: Bug

#42968 Add method to split QgsCurve geometries into two parts at a specific vertex index
  python/core/auto_generated/geometry/qgscurve.sip.in
  python/core/auto_generated/geometry/qgslinestring.sip.in
  src/core/geometry/qgscircularstring.cpp
  src/core/geometry/qgscircularstring.h
  src/core/geometry/qgscompoundcurve.cpp
  src/core/geometry/qgscompoundcurve.h
  src/core/geometry/qgscurve.h
  src/core/geometry/qgslinestring.cpp
  src/core/geometry/qgslinestring.h
  tests/src/core/testqgsgeometry.cpp
Labels: API

#42995 Add api to condense compound curves by merging adjacent parts of the same type to single parts
  python/core/auto_generated/geometry/qgscompoundcurve.sip.in
  src/core/geometry/qgscompoundcurve.cpp
  src/core/geometry/qgscompoundcurve.h
  tests/src/core/testqgsgeometry.cpp
Labels: API

#43006 Fix 'mkdir' in python processing tools
  python/plugins/processing/tools/system.py
Labels: Processing

#43010 allow not continuous legend for mesh layer
  src/core/qgsmaplayerlegend.cpp
Labels: backport release-3_18

#43016 Tweak labeling geometry logic for GEOS 3.9+ to give a massive speed boost to labels in certain circumstances
  src/core/labeling/qgspallabeling.cpp
Labels: Optimization

#43017 Fix updating color ramp after loading from file
  src/core/qgsmaplayerlegend.cpp
  src/gui/raster/qgscolorrampshaderwidget.cpp
Labels: Bug

#43021 Automatically translate layer data from ESRI Filegeodatabases to QGIS layer metadata
  python/core/auto_generated/metadata/qgsmetadatautils.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/metadata/qgsmetadatautils.cpp
  src/core/metadata/qgsmetadatautils.h
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_qgsmetadatautils.py
  tests/testdata/esri_metadata.xml
  tests/testdata/gdb_metadata.gdb/Test.DESKTOP-D021O0E.880.4500.sr.lock
  tests/testdata/gdb_metadata.gdb/_gdb.DESKTOP-D021O0E.880.4500.sr.lock
  tests/testdata/gdb_metadata.gdb/a00000001.TablesByName.atx
  tests/testdata/gdb_metadata.gdb/a00000001.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000001.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000001.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000002.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000002.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000003.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000003.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000003.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000004.CatItemsByPhysicalName.atx
  tests/testdata/gdb_metadata.gdb/a00000004.CatItemsByType.atx
  tests/testdata/gdb_metadata.gdb/a00000004.FDO_UUID.atx
  tests/testdata/gdb_metadata.gdb/a00000004.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000004.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000004.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000004.spx
  tests/testdata/gdb_metadata.gdb/a00000005.CatItemTypesByName.atx
  tests/testdata/gdb_metadata.gdb/a00000005.CatItemTypesByParentTypeID.atx
  tests/testdata/gdb_metadata.gdb/a00000005.CatItemTypesByUUID.atx
  tests/testdata/gdb_metadata.gdb/a00000005.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000005.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000005.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000006.CatRelsByDestinationID.atx
  tests/testdata/gdb_metadata.gdb/a00000006.CatRelsByOriginID.atx
  tests/testdata/gdb_metadata.gdb/a00000006.CatRelsByType.atx
  tests/testdata/gdb_metadata.gdb/a00000006.FDO_UUID.atx
  tests/testdata/gdb_metadata.gdb/a00000006.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000006.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000006.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000007.CatRelTypesByBackwardLabel.atx
  tests/testdata/gdb_metadata.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
  tests/testdata/gdb_metadata.gdb/a00000007.CatRelTypesByForwardLabel.atx
  tests/testdata/gdb_metadata.gdb/a00000007.CatRelTypesByName.atx
  tests/testdata/gdb_metadata.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
  tests/testdata/gdb_metadata.gdb/a00000007.CatRelTypesByUUID.atx
  tests/testdata/gdb_metadata.gdb/a00000007.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000007.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000007.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000009.gdbindexes
  tests/testdata/gdb_metadata.gdb/a00000009.gdbtable
  tests/testdata/gdb_metadata.gdb/a00000009.gdbtablx
  tests/testdata/gdb_metadata.gdb/a00000009.spx
  tests/testdata/gdb_metadata.gdb/gdb
  tests/testdata/gdb_metadata.gdb/timestamps
Labels: Changelog, Feature

#43032 Use QgsDoubleSpinBoxes for range widget wrapper for longlong field types
  src/gui/editorwidgets/qgsrangeconfigdlg.cpp
  src/gui/editorwidgets/qgsrangewidgetwrapper.cpp
  tests/src/gui/testqgsrangewidgetwrapper.cpp
Labels: backport queued_ltr_backports, backport release-3_18
