Repository qgis/QGIS, pull requests merged in 2021-07, with the labels that each got.

#43982 [mesh] mesh frame editing part-2 - start, commit, roll back and cancel
  python/core/auto_generated/mesh/qgsmeshdataprovider.sip.in
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreeutils.cpp
  src/core/mesh/qgsmeshdataprovider.cpp
  src/core/mesh/qgsmeshdataprovider.h
  src/core/mesh/qgsmeshdatasetgroupstore.cpp
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgstriangularmesh.cpp
  src/core/mesh/qgstriangularmesh.h
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.cpp
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayerlegend.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/gui/mesh/qgsmeshrendereractivedatasetwidget.cpp
  src/gui/mesh/qgsmeshrendererscalarsettingswidget.cpp
  src/gui/mesh/qgsrenderermeshpropertieswidget.cpp
  src/providers/mdal/qgsmdalprovider.cpp
  src/providers/mdal/qgsmdalprovider.h
  tests/src/core/testqgsmesheditor.cpp
  tests/src/core/testqgsmeshlayer.cpp
  tests/testdata/mesh/quad_flower_to_edit.2dm
  tests/testdata/mesh/quad_flower_to_edit_expected.2dm
Labels: Feature, Mesh

#44006 Fix default value of multiple field selection inputs in models cannot be set to no value
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, backport queued_ltr_backports, backport release-3_20

#44002 Add QgsIconUtils::iconForLayerType
  python/core/auto_generated/qgsiconutils.sip.in
  src/core/qgsiconutils.cpp
  src/core/qgsiconutils.h
Labels: API

#43990 [OAPIF provider] Fix extra query parameters (fixes #43905)
  src/providers/wfs/qgsoapifprovider.cpp
  tests/src/python/test_provider_oapif.py
Labels: backport queued_ltr_backports, backport release-3_20

#44030 fix infinite loop in qgsstyle
  src/core/symbology/qgsstyle.cpp
Labels: backport release-3_16, backport release-3_20

#43927 Feature: possibility to use placeholder icon in legend for raster layer. funded by [Canton of Glarus] [https://www.gl.ch/verwaltung/bau-und-umwelt/hochbau/raumentwicklung-und-geoinformation/geoportal-kanton-glarus.html/808]
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayerlegend.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/vector/qgsvectorlayerlegendwidget.cpp
  src/gui/vector/qgsvectorlayerlegendwidget.h
  src/ui/qgsrasterlayerpropertiesbase.ui
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_Legend_Placeholder_Icon/WMS_GetLegendGraphic_Legend_Placeholder_Icon.png
  tests/testdata/control_images/qgis_server/WMS_GetLegendGraphic_Legend_Placeholder_Icon/WMS_GetLegendGraphic_Legend_Placeholder_Icon_mask.png
  tests/testdata/qgis_server/test_project_legend_placeholder_image.qgs
Labels: Changelog, Feature, Needs Documentation

#44053 fix project dirtiness when changing layout name, FIX #44035
  src/core/layout/qgsprintlayout.cpp
  tests/src/core/testqgslayout.cpp
Labels: backport queued_ltr_backports, backport release-3_20

#44048 fix updating disabled scalar dataset group for mesh layer
  src/gui/mesh/qgsmeshlayerproperties.cpp
  src/gui/mesh/qgsmeshstaticdatasetwidget.cpp
Labels: Bug, Mesh, backport release-3_16, backport release-3_20

#43949 Take tile_buffer parameter into consideration when rendering labels
  src/core/labeling/qgspallabeling.cpp
  src/core/maprenderer/qgsmaprendererjob.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Tiled_Labels_False/WMS_GetMap_Tiled_Labels_False.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Tiled_Labels_True/WMS_GetMap_Tiled_Labels_True.png
  tests/testdata/qgis_server/wms_tile_buffer.qgs
Labels: Bug, Server, backport queued_ltr_backports

#44065 Fix PyQGIS docs formatting of QgsAbstractDatabaseProviderConnection class
  python/core/auto_generated/providers/qgsabstractdatabaseproviderconnection.sip.in
  src/core/providers/qgsabstractdatabaseproviderconnection.h
Labels: PyQGIS

#43520 [CLI] Add --version and -v to know QGIS version
  python/core/auto_generated/qgscommandlineutils.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/qgscommandlineutils.cpp
  src/core/qgscommandlineutils.h
  src/process/qgsprocess.cpp
  src/server/qgis_map_serv.cpp
  src/server/qgis_mapserver.cpp
Labels: Server

#44076 [feature][exiftools] Implement tags reading, allow for individual tag value read
  python/core/auto_generated/raster/qgsexiftools.sip.in
  src/core/raster/qgsexiftools.cpp
  src/core/raster/qgsexiftools.h
  tests/src/python/test_qgsexiftools.py
Labels: Feature

#43772 WMTS GetCapabilities and axis order (3.16 backport)
  src/server/services/wmts/qgswmtsgetcapabilities.cpp
  tests/src/python/test_qgsserver_wmts.py
  tests/testdata/qgis_server/test_project_wmts_epsg_axis_inverted.qgz
  tests/testdata/qgis_server/wmts_getcapabilities_axis_inverted.txt
Labels: Backport, Bug, Server

#44081 [feature][expression] Add exif() and exif_geotag() functions to the QGIS expression engine
  resources/function_help/json/exif
  resources/function_help/json/exif_geotag
  src/core/expression/qgsexpressionfunction.cpp
  src/core/raster/qgsexiftools.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Feature

#43788 Additional test for postgres (ver.2)
  .docker/docker-compose-testing-postgres.yml
  .docker/qgis3-build-deps.dockerfile
  tests/src/python/CMakeLists.txt
  tests/src/python/test_provider_postgres_latency.py
Labels: stale

#43854 Fix return value of addTopologicalPoints(QgsGeometry)
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayereditutils.cpp
  tests/src/core/testqgsvectorlayer.cpp
Labels: backport queued_ltr_backports

#44094 [processing] Fix file download alg stuck in infinit loop when network errors occur
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
  src/analysis/processing/qgsalgorithmfiledownloader.h
Labels: Bug, Processing, backport queued_ltr_backports, backport release-3_20

#44051 Connections api results widget
  python/core/auto_additions/qgis.py
  python/core/auto_generated/browser/qgslayeritem.sip.in
  python/core/auto_generated/providers/qgsabstractdatabaseproviderconnection.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsqueryresultmodel.sip.in
  python/gui/auto_generated/codeeditors/qgscodeeditorsql.sip.in
  python/gui/auto_generated/qgsqueryresultwidget.sip.in
  python/gui/gui_auto.sip
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/core/browser/qgslayeritem.cpp
  src/core/browser/qgslayeritem.h
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/providers/ogr/qgsgeopackageproviderconnection.h
  src/core/providers/qgsabstractdatabaseproviderconnection.cpp
  src/core/providers/qgsabstractdatabaseproviderconnection.h
  src/core/qgis.h
  src/core/qgsqueryresultmodel.cpp
  src/core/qgsqueryresultmodel.h
  src/gui/CMakeLists.txt
  src/gui/codeeditors/qgscodeeditorsql.cpp
  src/gui/codeeditors/qgscodeeditorsql.h
  src/gui/qgsqueryresultwidget.cpp
  src/gui/qgsqueryresultwidget.h
  src/providers/hana/qgshanaproviderconnection.cpp
  src/providers/hana/qgshanaproviderconnection.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/mssql/qgsmssqlproviderconnection.h
  src/providers/oracle/qgsoracleconn.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleproviderconnection.cpp
  src/providers/oracle/qgsoracleproviderconnection.h
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.h
  src/ui/qgsqueryresultwidgetbase.ui
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsqueryresultwidget.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsnewvectortabledialog.py
  tests/src/python/test_qgsproviderconnection_base.py
  tests/src/python/test_qgsproviderconnection_mssql.py
  tests/src/python/test_qgsproviderconnection_ogr_gpkg.py
  tests/src/python/test_qgsproviderconnection_oracle.py
  tests/src/python/test_qgsproviderconnection_postgres.py
  tests/src/python/test_qgsproviderconnection_spatialite.py
  tests/src/python/test_qgsqueryresultmodel.py
  tests/testdata/projects/relative_paths_gh30387.gpkg
  tests/testdata/qgis_server/bug_gh30264_empty_layer_wrong_bbox.gpkg
Labels: Feature, QGIS Browser

#43785 Enable save icon for embedded relations in same transaction group
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
Labels: Bug, Forms

#43993 Fix value relation QLR loading bug
  src/core/qgslayerdefinition.cpp
  tests/src/python/test_qgslayerdefinition.py
  tests/testdata/bug_18981_broken.qlr
Labels: Bug, Forms, backport release-3_20

#44116 [backport queued_ltr_backports][processing] Fix file download alg stuck in infinit loop when network errors occur
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
  src/analysis/processing/qgsalgorithmfiledownloader.h
Labels: Backport, Bug

#44099 Added missing type names to uri parsing regex for memory provider
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/qgsfield.cpp
  tests/src/python/test_provider_memory.py
Labels: Bug, backport queued_ltr_backports, backport release-3_20

#44024 Show drive labels in browser for drive items whenever available
  src/core/browser/qgsbrowsermodel.cpp
Labels: QGIS Browser

#43873 create new mesh layer
  images/images.qrc
  images/themes/default/mActionNewMeshLayer.svg
  python/core/auto_generated/providers/qgsprovidermetadata.sip.in
  src/app/CMakeLists.txt
  src/app/mesh/qgsnewmeshlayerdialog.cpp
  src/app/mesh/qgsnewmeshlayerdialog.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/providers/qgsprovidermetadata.cpp
  src/core/providers/qgsprovidermetadata.h
  src/providers/mdal/qgsmdalprovider.cpp
  src/ui/mesh/qgsnewmeshlayerdialogbase.ui
  src/ui/qgisapp.ui
Labels: Changelog, Feature, GUI/UX, Mesh, Squash!

#44139 Fix virtual layer definition decode url ref
  src/core/qgsvirtuallayerdefinition.cpp
  tests/src/python/test_qgsvirtuallayerdefinition.py
Labels: Bug, backport release-3_20

#44146 qgsogrsourceselect.cpp: make it identify vector drivers only (fixes #44108)
  src/core/providers/gdal/qgsgdaldataitems.cpp
  src/core/providers/ogr/qgsogrdataitems.cpp
  src/core/qgis.cpp
  src/gui/providers/gdal/qgsgdalsourceselect.cpp
  src/gui/providers/ogr/qgsogrsourceselect.cpp
Labels: backport release-3_20

#44037 [mesh] mesh frame editing part 3 - Edit mesh map tool
  images/images.qrc
  images/themes/default/mActionMeshDigitizing.svg
  python/core/auto_additions/qgis.py
  python/core/auto_generated/mesh/qgsmeshdataprovider.sip.in
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/qgis.sip.in
  src/3d/mesh/qgsmeshterraingenerator.cpp
  src/app/CMakeLists.txt
  src/app/maptools/qgsappmaptools.cpp
  src/app/maptools/qgsappmaptools.h
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/mesh/qgsmeshdataprovider.h
  src/core/mesh/qgsmeshdataset.cpp
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayerrenderer.cpp
  src/core/mesh/qgsmeshlayerrenderer.h
  src/core/mesh/qgstopologicalmesh.cpp
  src/core/mesh/qgstopologicalmesh.h
  src/core/mesh/qgstriangularmesh.cpp
  src/core/mesh/qgstriangularmesh.h
  src/core/qgis.h
  src/providers/mdal/qgsmdalprovider.cpp
  src/providers/mdal/qgsmdalprovider.h
  src/ui/qgisapp.ui
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgsmaptooleditmesh.cpp
  tests/src/app/testqgsmaptoolutils.h
  tests/src/core/testqgsmesheditor.cpp
  tests/testdata/mesh/quad_flower_to_edit_expected.2dm
Labels: Changelog, Feature, Mesh

#44039 [mesh] finer triangular mesh updating
  src/core/mesh/qgstriangularmesh.cpp
Labels: Mesh

#44153 Fix html mesh layer when mesh editing
  src/core/mesh/qgsmeshlayer.cpp
Labels: Mesh

#43489 Make 2d terrain rendering optional
  python/3d/auto_generated/qgs3dmapsettings.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgs3dmapsettings.cpp
  src/3d/qgs3dmapsettings.h
  src/3d/qgs3dsceneexporter.cpp
  src/3d/qgs3dutils.cpp
  src/3d/qgscameracontroller.cpp
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmapcanvas.h
  src/app/3d/qgs3dmapcanvasdockwidget.cpp
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/app/3d/qgs3dnavigationwidget.cpp
  src/app/3d/qgs3dnavigationwidget.h
  src/app/qgisapp.cpp
  src/ui/3d/map3dconfigwidget.ui
Labels: stale

#44159 Don't disable JsonEditWidget by readonly layer
  src/gui/editorwidgets/qgsjsoneditwrapper.cpp
Labels: backport release-3_20

#44158 Additional tests for QGIS_SERVER_LANDING_PAGE_PREFIX redirects
  tests/src/python/test_qgsserver_landingpage.py
Labels: Server

#44163 Expose constraints in tooltips
  src/core/browser/qgsfieldsitem.cpp
Labels: GUI/UX, QGIS Browser

#44173 Fix incorrect symbol size units shown when first showing the symbol widget
  src/gui/symbology/qgssymbolslistwidget.cpp
Labels: backport queued_ltr_backports, backport release-3_20

#44176 Fix missing fields in data defined expression builder when input layer is using selected features only
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
Labels: Processing, backport queued_ltr_backports, backport release-3_20

#44222 Fix dock widget sizes are not correctly restored
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: backport queued_ltr_backports, backport release-3_20

#44232 Fix sublayer group name handling for sources which are directories not files (e.g. .gdb databases)
  src/app/qgsprovidersublayersdialog.cpp
  src/app/qgsprovidersublayersdialog.h
Labels: Regression

#44234 Add icon for curved callouts
  images/images.qrc
  images/themes/default/labelingCalloutCurved.svg
  src/core/callouts/qgscalloutsregistry.cpp
Labels: backport release-3_20

#44229 Move enums from QgsVectorLayer to Qgis and promote to enum classes
  python/core/__init__.py.in
  python/core/auto_additions/qgis.py
  python/core/auto_additions/qgsvectorlayer.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/symbology/qgsrenderer.sip.in
  python/core/auto_generated/symbology/qgssymbol.sip.in
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayereditutils.sip.in
  src/analysis/processing/qgsalgorithmextractbylocation.cpp
  src/app/qgsmaptoolselect.cpp
  src/app/qgsmaptoolselectutils.cpp
  src/app/qgsmaptoolselectutils.h
  src/app/vertextool/qgsvertextool.cpp
  src/core/qgis.h
  src/core/symbology/qgsrenderer.cpp
  src/core/symbology/qgsrenderer.h
  src/core/symbology/qgssymbol.cpp
  src/core/symbology/qgssymbol.h
  src/core/symbology/qgssymbollayerutils.cpp
  src/core/symbology/qgssymbollayerutils.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayereditutils.cpp
  src/core/vector/qgsvectorlayereditutils.h
  src/core/vector/qgsvectorlayerrenderer.cpp
  src/core/vector/qgsvectorlayerrenderer.h
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/qgsexpressionselectiondialog.cpp
Labels: Cleanup

#44169 [mesh] mesh frame editing part 3 - Advanced editing
  python/analysis/auto_generated/mesh/qgsmeshtriangulation.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/mesh/qgsmeshadvancedediting.sip.in
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/core_auto.sip
  src/analysis/mesh/qgsmeshtriangulation.cpp
  src/analysis/mesh/qgsmeshtriangulation.h
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/core/CMakeLists.txt
  src/core/mesh/qgsmeshadvancedediting.cpp
  src/core/mesh/qgsmeshadvancedediting.h
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgstopologicalmesh.cpp
  src/core/mesh/qgstopologicalmesh.h
  src/core/mesh/qgstriangularmesh.cpp
  src/core/mesh/qgstriangularmesh.h
  src/core/qgis.h
  tests/src/core/testqgsmesheditor.cpp
Labels: Feature, Mesh

#44231 Truncate very long filter strings in tooltip
  python/core/auto_generated/qgsstringutils.sip.in
  src/app/qgslayertreeviewfilterindicator.cpp
  src/core/qgsstringutils.cpp
  src/core/qgsstringutils.h
  tests/src/python/test_qgsstringutils.py
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_20

#43831 GUI localization tweaks
  python/gui/auto_generated/qgsdoublevalidator.sip.in
  src/app/decorations/qgsdecorationgriddialog.cpp
  src/app/qgisapp.cpp
  src/app/qgshandlebadlayers.cpp
  src/app/qgsmaptoolselectutils.cpp
  src/app/qgspointrotationitem.cpp
  src/app/qgssnappinglayertreemodel.cpp
  src/app/qgsstatisticalsummarydockwidget.cpp
  src/core/browser/qgsdirectoryitem.cpp
  src/core/classification/qgsclassificationlogarithmic.cpp
  src/core/classification/qgsclassificationstandarddeviation.cpp
  src/gui/layout/qgslayoutruler.cpp
  src/gui/mesh/qgsmeshrendererscalarsettingswidget.cpp
  src/gui/mesh/qgsmeshrendererscalarsettingswidget.h
  src/gui/mesh/qgsmeshrenderervectorsettingswidget.cpp
  src/gui/mesh/qgsmeshrenderervectorsettingswidget.h
  src/gui/mesh/qgsmeshvariablestrokewidthwidget.cpp
  src/gui/mesh/qgsmeshvariablestrokewidthwidget.h
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgscoordinateoperationwidget.cpp
  src/gui/qgsdoublevalidator.cpp
  src/gui/qgsdoublevalidator.h
  src/gui/qgsextentwidget.cpp
  src/gui/qgshistogramwidget.cpp
  src/gui/qgsmaptoolidentify.cpp
  src/gui/qgspropertyassistantwidget.cpp
  src/gui/raster/qgsrasterhistogramwidget.cpp
  src/gui/raster/qgsrendererrasterpropertieswidget.cpp
  src/gui/symbology/qgsdashspacedialog.cpp
  src/gui/symbology/qgsdatadefinedsizelegendwidget.cpp
  src/gui/symbology/qgsdatadefinedsizelegendwidget.h
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.h
  src/gui/symbology/qgsinterpolatedlinesymbollayerwidget.cpp
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/ui/mesh/qgsmeshrendererscalarsettingswidgetbase.ui
  src/ui/mesh/qgsmeshrenderervectorsettingswidgetbase.ui
  src/ui/mesh/qgsmeshvariablestrokewidthwidgetbase.ui
  src/ui/qgsdecorationgriddialog.ui
Labels: GUI/UX

#44257 Rework API and improve memory handling of graph objects
  python/analysis/auto_generated/network/qgsgraphbuilder.sip.in
  src/analysis/network/qgsgraphbuilder.cpp
  src/analysis/network/qgsgraphbuilder.h
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
  src/analysis/processing/qgsalgorithmserviceareafrompoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathlayertopoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtolayer.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtopoint.cpp
  tests/src/analysis/testqgsnetworkanalysis.cpp
Labels: backport queued_ltr_backports, backport release-3_20

#44258 Fix crash in vector layer iteration on Qt6 builds
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
Labels: backport queued_ltr_backports, backport release-3_20

#44259 Fix crash in expression array functions on qt6
  src/core/expression/qgsexpressionfunction.cpp
Labels: backport release-3_16, backport release-3_20

#44253 Fix: HANA provider doesn't compile if WITH_GUI is off
  src/providers/hana/CMakeLists.txt
  src/providers/hana/qgshanadataitemguiprovider.cpp
  src/providers/hana/qgshanadataitemguiprovider.h
  src/providers/hana/qgshanadataitems.cpp
  src/providers/hana/qgshanadataitems.h
  src/providers/hana/qgshanaprovider.cpp
  src/providers/hana/qgshanaprovider.h
Labels: backport release-3_20

#44271 Check Geometries/Check for duplicates: avoid assertion in debug builds…
  src/analysis/vector/geometry_checker/qgsgeometryduplicatecheck.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_16, backport release-3_20

#44283 [ogr] Report ESRI multipatch GDB layers as multipolygonz layers
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
Labels: backport queued_ltr_backports, backport release-3_20

#44277 Warn when adding model with the same name as the existing one (fix #42184)
  python/plugins/processing/modeler/AddModelFromFileAction.py
Labels: Processing, backport release-3_20

#44276 Reset upper border of the cumulative cut to its maximum value (fix #42717)
  src/gui/raster/qgsrasterminmaxwidget.cpp
Labels: GUI/UX, backport release-3_20

#44308 Fix dragging geometry collection files like .tab files only adds layer with one geometry type
  src/app/qgisapp.cpp
Labels: Regression

#44312 [ogr] Report ESRI multipatch GDB layers as multipolygonz layers (3.20 backport)
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Backport, backport queued_ltr_backports

#43587 [Oracle] Use QgsTask to retrieve available tables so we can properly cancel it
  src/providers/oracle/CMakeLists.txt
  src/providers/oracle/qgsoraclecolumntypetask.cpp
  src/providers/oracle/qgsoraclecolumntypetask.h
  src/providers/oracle/qgsoracledataitems.cpp
  src/providers/oracle/qgsoracledataitems.h
  src/providers/oracle/qgsoraclesourceselect.cpp
  src/providers/oracle/qgsoraclesourceselect.h
Labels: Bug, Oracle data provider, backport queued_ltr_backports, stale

#44310 Rework API and improve memory handling of graph objects (3.16)
  python/analysis/auto_generated/network/qgsgraphbuilder.sip.in
  src/analysis/network/qgsgraphbuilder.cpp
  src/analysis/network/qgsgraphbuilder.h
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
  src/analysis/processing/qgsalgorithmserviceareafrompoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathlayertopoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtolayer.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtopoint.cpp
  tests/src/analysis/testqgsnetworkanalysis.cpp
Labels: Backport

#44314 Cleaner API for QgsProviderUtils::sublayerDetailsAreIncomplete, add flag to ignore unknown geometry types
  python/core/auto_additions/qgsproviderutils.py
  python/core/auto_generated/providers/qgsproviderutils.sip.in
  src/app/qgisapp.cpp
  src/app/qgsprovidersublayersdialog.cpp
  src/core/providers/qgsproviderutils.cpp
  src/core/providers/qgsproviderutils.h
  tests/src/python/test_qgsproviderutils.py
Labels: API

#44326 cmake fixes to static providers
  src/core/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/providers/postgres/CMakeLists.txt
  src/providers/wms/CMakeLists.txt
Labels: Squash!

#44323 Fix misleading messages when trying to delete ogr sublayer
  src/gui/providers/ogr/qgsogritemguiprovider.cpp
Labels: backport release-3_16, backport release-3_20

#44316 Create QgsGdalUtils::pathIsCheapToOpen
  src/core/qgsgdalutils.cpp
  src/core/qgsgdalutils.h
  tests/src/core/testqgsgdalutils.cpp
Labels: API

#44344 Fix crash in vector layer iteration
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
Labels: Backport, backport queued_ltr_backports

#44343 fix infinite loop in qgsstyle
  src/core/symbology/qgsstyle.cpp
Labels: Backport

#44329 allow to save/read enum/flags as map layer properties
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.h
  tests/src/core/testqgsmaplayer.cpp
Labels: Squash!

#44356 reduce duration of mesh editor test
  tests/src/core/testqgsmesheditor.cpp
Labels: Bug, Mesh

#44349 Avoid recursion in crs validation
  src/app/qgisapp.cpp
Labels: Crash/Data Corruption

#44041 [feature][processing] A brand new spatiotemporal ST-DBSCAN clustering algorithm
  python/plugins/processing/tests/testdata/expected/stdbscan_multiple_clusters.gml
  python/plugins/processing/tests/testdata/expected/stdbscan_multiple_clusters.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmdbscanclustering.cpp
  src/analysis/processing/qgsalgorithmdbscanclustering.h
  src/analysis/processing/qgsalgorithmstdbscanclustering.cpp
  src/analysis/processing/qgsalgorithmstdbscanclustering.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Changelog, Feature, Needs Documentation, Processing

#44371 [ogr] Fix querying sublayers with uris with an explicit geometry type component
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  tests/src/python/test_provider_ogr.py
Labels: API

#44380 correction examples expr: make_rectangle_3points
  resources/function_help/json/make_rectangle_3points
Labels: backport release-3_20

#44386 Fix incomplete message bar messages when exporting items from model designer
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
Labels: backport release-3_16, backport release-3_20

#44384 Fix TabInformation equality operator signatures
  src/gui/qgstabwidget.cpp
  src/gui/qgstabwidget.h
Labels: backport release-3_16, backport release-3_20

#44388 Fix incomplete message bar messages when exporting items from model (3.16)
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
Labels: Backport

#44392 Fix leaked GDAL dataset handle when deleting layers
  src/core/providers/ogr/qgsogrproviderutils.cpp
Labels: backport queued_ltr_backports, backport release-3_20

#44434 remove ugly header from the dependencies list in the vector layer properties dialog (fix #44396)
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: GUI/UX, backport release-3_20

#44446 [memory] Fix "Integer (64bit) list" field type
  src/core/providers/memory/qgsmemoryprovider.cpp
Labels: backport release-3_20

#44450 Fix missing icon in GPS information panel
  src/ui/qgsgpsinformationwidgetbase.ui
Labels: backport release-3_16, backport release-3_20

#44410 [offline editing] Avoid adding/removing layers, update data source
  src/core/qgsofflineediting.cpp
  src/core/qgsofflineediting.h
  tests/src/core/testqgsofflineediting.cpp
Labels: Bug, Offline editing, backport release-3_20

#44449 Fix leaked GDAL dataset handle when deleting layers (3.20)
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Backport, backport queued_ltr_backports

#43882 [External Storage] Define API and implement SimpleCopy backlend
  CMakeLists.txt
  python/core/auto_additions/qgis.py
  python/core/auto_generated/externalstorage/qgsexternalstorage.sip.in
  python/core/auto_generated/externalstorage/qgsexternalstorageregistry.sip.in
  python/core/auto_generated/network/qgsnetworkcontentfetcherregistry.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsapplication.sip.in
  python/core/auto_generated/qgscopyfiletask.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/editform/qgseditformconfig.cpp
  src/core/externalstorage/qgsexternalstorage.cpp
  src/core/externalstorage/qgsexternalstorage.h
  src/core/externalstorage/qgsexternalstorageregistry.cpp
  src/core/externalstorage/qgsexternalstorageregistry.h
  src/core/externalstorage/qgssimplecopyexternalstorage.cpp
  src/core/externalstorage/qgssimplecopyexternalstorage_p.h
  src/core/network/qgsnetworkcontentfetcherregistry.cpp
  src/core/network/qgsnetworkcontentfetcherregistry.h
  src/core/qgis.h
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/core/qgscopyfiletask.cpp
  src/core/qgscopyfiletask.h
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgscopyfiletask.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsexternalstorage_base.py
  tests/src/python/test_qgsexternalstorage_simplecopy.py
Labels: API, Changelog, Feature

#43981 Server : Fix legend when no LAYERS parameter provided, Fix layer style defined by a maptheme
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_wms_getprint_legend.py
  tests/src/python/test_qgsserver_wms_getprint_maptheme.py
  tests/testdata/qgis_server/test_project_legend.gpkg
  tests/testdata/qgis_server/test_project_legend.qgs
Labels: Server, backport queued_ltr_backports

#44487 Add API to allow a string parameter to show as a combobox with preset choices in processing GUI
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  src/core/processing/qgsprocessingparameters.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
  tests/src/gui/testprocessinggui.cpp
Labels: API, Changelog, Feature, Processing
