Repository qgis/QGIS, pull requests merged in 2021-10, with the labels that each got.

#45115 [Server] Fix: WMS GetStyles contains previous SLD_BODY requests
  src/server/services/wms/qgswmsrestorer.cpp
  tests/src/python/test_qgsserver_wms.py
Labels: Bug, Server, backport queued_ltr_backports

#45346 Copy output image format and output size to QgsRenderContext
  python/core/auto_generated/qgsrendercontext.sip.in
  src/core/qgsrendercontext.cpp
  src/core/qgsrendercontext.h
  tests/src/python/test_qgsrendercontext.py
Labels: API

#45354 Quote layer name in virtual layers creation
  src/providers/virtual/qgsvirtuallayerprovider.cpp
  tests/src/python/test_provider_virtual.py
Labels: Data Provider, Bug, backport queued_ltr_backports

#45351 Fix DB manager postgis double query
  python/plugins/db_manager/db_plugins/postgis/connector.py
Labels: DB Manager, Bug, backport queued_ltr_backports

#45360 [Backport queued_ltr_backports][Server] Fix: WMS GetStyles contains previous SLD_BODY requests
  src/server/services/wms/qgswmsrestorer.cpp
  tests/src/python/test_qgsserver_wms.py
Labels: Bug, Server

#45375 PG: identify pk when exporting
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, PostGIS data provider

#45386 [Tests][Server] WMS GetLegendGraphic JSON for layer with multiple symbols
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
  tests/testdata/qgis_server/wms_getlegendgraphic_json_multiple_symbol.txt
Labels: Server, testsuite, backport queued_ltr_backports

#45396 Tests - Add read WKB from PostGIS St_Binary
  tests/src/python/test_provider_postgres.py
Labels: testsuite, PostGIS data provider

#45349 MDAL update & FLO-2D bug fix
  external/mdal/3rdparty/libplyxx.h
  external/mdal/3rdparty/libplyxx/libplyxx.cpp
  external/mdal/3rdparty/libplyxx/libplyxx_internal.h
  external/mdal/3rdparty/textio.h
  external/mdal/api/mdal.h
  external/mdal/cmake_templates/mdal_config.hpp.in
  external/mdal/frmts/mdal_dynamic_driver.cpp
  external/mdal/frmts/mdal_dynamic_driver.hpp
  external/mdal/frmts/mdal_flo2d.cpp
  external/mdal/frmts/mdal_ply.cpp
  external/mdal/frmts/mdal_ply.hpp
  external/mdal/mdal.cpp
  external/mdal/mdal_data_model.cpp
  external/mdal/mdal_data_model.hpp
  external/mdal/mdal_driver_manager.cpp
  external/mdal/mdal_memory_data_model.cpp
  external/mdal/mdal_memory_data_model.hpp
  src/providers/mdal/CMakeLists.txt
  src/providers/mdal/qgsmdalprovider.cpp
Labels: Squash!

#45388 Fix overwriting default style of geopackage layers (3.16)
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Backport

#45415 Make TestPyQgsPostgresProvider.testGeneratedColumns idempotent
  tests/src/python/providertestbase.py
Labels: Bug, testsuite

#45400 Fix wrong histogram X axis for byte rasters
  src/gui/raster/qgsrasterhistogramwidget.cpp
Labels: Raster, Bug, backport queued_ltr_backports

#45399 force UTF-8 encoding for prj files
  python/plugins/grassprovider/Grass7Utils.py
  python/plugins/processing/algs/gdal/extractprojection.py
  python/plugins/processing/algs/qgis/DefineProjection.py
  python/plugins/sagaprovider/SagaAlgorithm.py
Labels: Bug

#45395 Processing - Fix the default value for the HTTP method
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
Labels: Processing, Bug

#45389 Fix crash when rendering clipped features and clipped shape results in promoting a single part geometry to multipart
  src/core/symbology/qgssymbol.cpp
Labels: backport release-3_16

#45266 Fix PG error when failing to update geom & constrained field
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, PostGIS data provider, backport queued_ltr_backports

#45426 Correctly escape complex source strings in history log
  src/core/processing/qgsprocessingparameters.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: backport queued_ltr_backports

#44968 Fix map grid decoration bottom vertical labels placement and vertical labels background placement
  src/app/decorations/qgsdecorationgrid.cpp
Labels: backport queued_ltr_backports

#45408 [polymorphic relation] set the layer of the expression widget
  src/app/qgsrelationaddpolymorphicdialog.cpp
Labels: Bug

#45447 fix performance issue of snapping when adding features
  src/core/qgspointlocator.cpp
Labels: Optimization

#45450 Server OGC API: fix url path match
  python/server/auto_generated/qgsserverapicontext.sip.in
  python/server/auto_generated/qgsserverogcapi.sip.in
  src/server/qgsserverapicontext.cpp
  src/server/qgsserverapicontext.h
  src/server/qgsserverogcapi.cpp
  src/server/qgsserverogcapi.h
  src/server/qgsserverogcapihandler.cpp
  tests/src/python/test_qgsserver_api.py
Labels: Bug, Server

#45469 Remember last used path for style item export
  src/gui/symbology/qgsstyleexportimportdialog.cpp
Labels: GUI/UX

#45456 fix time handling of mesh layer when gap of reference time
  python/core/auto_generated/mesh/qgsmeshdataprovider.sip.in
  src/core/mesh/qgsmeshdataprovider.cpp
  src/core/mesh/qgsmeshdataprovider.h
  src/core/mesh/qgsmeshlayer.cpp
  tests/src/core/testqgsmeshlayer.cpp
Labels: Bug, Mesh

#45446 fix aggregate functions with mesh virtual dataset group
  python/core/auto_generated/mesh/qgsmeshcalculator.sip.in
  python/core/auto_generated/mesh/qgsmeshdataprovider.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/core/mesh/qgsmeshcalcnode.cpp
  src/core/mesh/qgsmeshcalcnode.h
  src/core/mesh/qgsmeshcalculator.cpp
  src/core/mesh/qgsmeshcalculator.h
  src/core/mesh/qgsmeshcalcutils.cpp
  src/core/mesh/qgsmeshcalcutils.h
  src/core/mesh/qgsmeshdataprovider.cpp
  src/core/mesh/qgsmeshdataprovider.h
  src/core/mesh/qgsmeshdatasetgroupstore.cpp
  src/core/mesh/qgsmeshdatasetgroupstore.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgsmeshvirtualdatasetgroup.cpp
  src/core/mesh/qgsmeshvirtualdatasetgroup.h
  tests/src/analysis/testqgsmeshcalculator.cpp
Labels: Bug, Mesh

#45509 Fix parameter names for affine expression function
  resources/function_help/json/affine_transform
  src/core/expression/qgsexpressionfunction.cpp
Labels: Expressions, Needs Documentation

#45525 invalid value for memory mesh layer dataset
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.cpp
  tests/src/core/testqgsmeshlayer.cpp
  tests/testdata/mesh/quad_and_triangle_face_scalar_invalid_values.txt
  tests/testdata/mesh/quad_and_triangle_face_vector_invalid_values.txt
Labels: Mesh

#45523 Save/load projectsInDatabase in PG connections
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: Bug, backport queued_ltr_backports

#45484 Add API in expression to set help string on a variable
  python/core/auto_generated/expression/qgsexpression.sip.in
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpression.h
  tests/src/python/test_qgsexpression.py
Labels: API, Expressions

#45253 CI - Update release URL when it is a point release
  .github/workflows/release.yml
Labels: backport release-3_16

#45542 [postgresraster] Fix QgsConstWkbPtr construction problem
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
Labels: backport release-3_16

#45553 Fix DB manager trigger info dlg (less than)
  python/plugins/db_manager/db_plugins/info_model.py
Labels: GUI/UX, DB Manager, Bug

#45560 fix reference time for memory mesh provider
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.cpp
  src/core/providers/meshmemory/qgsmeshmemorydataprovider.h
  tests/src/core/testqgsmeshlayer.cpp
  tests/testdata/mesh/quad_and_triangle_face_scalar.txt
Labels: Data Provider, Bug, Mesh

#45549 Fix some labels
  python/plugins/processing/algs/qgis/SpatialJoinSummary.py
  src/ui/mesh/qgsmeshcalculatordialogbase.ui
Labels: Needs Documentation

#45597 Accept also "true" for queryable/opaque/noSubsets attributes
  src/providers/wms/qgswmscapabilities.cpp
Labels: backport queued_ltr_backports

#45602 QString fixups
  src/analysis/processing/qgsalgorithmgpsbabeltools.cpp
  src/analysis/raster/qgsrastercalcnode.cpp
  src/app/mesh/qgsnewmeshlayerdialog.cpp
  src/app/qgisapp.cpp
  src/app/qgsclipboard.cpp
  src/core/browser/qgsfieldsitem.cpp
  src/core/browser/qgsfilebaseddataitemprovider.cpp
  src/core/gps/qgsbabelformatregistry.cpp
  src/core/qgsaction.cpp
  src/core/qgscommandlineutils.cpp
  src/core/qgsfileutils.cpp
  src/core/qgsmaplayer.cpp
  src/core/raster/qgsrasterdataprovider.cpp
  src/core/vectortile/qgsvectortileprovidermetadata.cpp
  src/gui/qgsexpressiontreeview.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  src/quickgui/qgsquickmapsettings.cpp
  tests/src/app/testqgisapppython.cpp
  tests/src/core/testqgsmesheditor.cpp
  tests/src/gui/testqgsexternalresourcewidgetwrapper.cpp
  tests/src/gui/testqgsexternalstoragefilewidget.cpp
Labels: Cleanup

#45598 Mesh editing fixes
  src/analysis/processing/qgsalgorithmexportmesh.cpp
  src/app/qgisapp.cpp
  src/core/mesh/qgsmeshdataset.cpp
  src/core/mesh/qgsmeshlayer.cpp
  src/gui/mesh/qgsmeshlayerproperties.cpp
Labels: Bug, Mesh

#45669 QgsAttributeTableModel clears mFieldFormatters on loadAttributes
  src/gui/attributetable/qgsattributetablemodel.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#45521 Server atlas print fix pk-less layers
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getprint_atlas.py
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Atlas_No_Pk/WMS_GetPrint_Atlas_No_Pk.png
  tests/testdata/qgis_server/bug_gh30817_atlas_pk.qgs
  tests/testdata/qgis_server/bug_gh30817_atlas_pk_data.csv
Labels: Bug, Server, backport queued_ltr_backports

#45744 [expressions] Fix overlay_* functions caching when filter changes
  src/core/expression/qgsexpressionfunction.cpp
Labels: backport queued_ltr_backports

#45737 Unlock static build support for a bunch of providers
  src/core/CMakeLists.txt
  src/core/providers/qgsproviderregistry.cpp
  src/gui/CMakeLists.txt
  src/gui/qgsproviderguiregistry.cpp
  src/providers/CMakeLists.txt
  src/providers/arcgisrest/CMakeLists.txt
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/arcgisrest/qgsafsprovider.h
  src/providers/arcgisrest/qgsamsprovider.cpp
  src/providers/arcgisrest/qgsamsprovider.h
  src/providers/arcgisrest/qgsarcgisrestprovidergui.cpp
  src/providers/arcgisrest/qgsarcgisrestprovidergui.h
  src/providers/delimitedtext/CMakeLists.txt
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  src/providers/delimitedtext/qgsdelimitedtextprovider.h
  src/providers/delimitedtext/qgsdelimitedtextprovidergui.cpp
  src/providers/delimitedtext/qgsdelimitedtextprovidergui.h
  src/providers/postgres/qgspostgresprovidergui.cpp
  src/providers/spatialite/CMakeLists.txt
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  src/providers/spatialite/qgsspatialiteprovidergui.cpp
  src/providers/spatialite/qgsspatialiteprovidergui.h
  src/providers/spatialite/qgsspatialitesourceselect.h
  src/providers/virtual/CMakeLists.txt
  src/providers/virtual/qgsvirtuallayerprovider.cpp
  src/providers/virtual/qgsvirtuallayerprovider.h
  src/providers/virtual/qgsvirtuallayerprovidergui.cpp
  src/providers/virtual/qgsvirtuallayerprovidergui.h
  src/providers/wcs/CMakeLists.txt
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wcs/qgswcsprovider.h
  src/providers/wcs/qgswcsprovidergui.cpp
  src/providers/wcs/qgswcsprovidergui.h
  src/providers/wfs/CMakeLists.txt
  src/providers/wfs/qgsbasenetworkrequest.cpp
  src/providers/wfs/qgsbasenetworkrequest.h
  src/providers/wfs/qgsoapifprovider.cpp
  src/providers/wfs/qgsoapifprovider.h
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsprovider.h
  src/providers/wfs/qgswfsprovidergui.cpp
  src/providers/wfs/qgswfsprovidergui.h
Labels: Build/Install, backport release-3_22

#45756 Remove the unnecessary checkbox for the Label legend group box
  src/gui/vector/qgsvectorlayerlegendwidget.cpp
  src/gui/vector/qgsvectorlayerlegendwidget.h
  src/ui/qgsrasterlayerpropertiesbase.ui
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: backport release-3_22
