Repository qgis/QGIS, pull requests merged in 2022-07, with the labels that each got.

#49202 [layouts] When exporting layouts to image/PDF create any missing directories from path
  src/core/layout/qgslayoutexporter.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49198 expose QgsMeshRenderScalarSettingsWidget
  src/gui/CMakeLists.txt
  src/gui/mesh/qgsmeshrendererscalarsettingswidget.h
Labels: GUI/UX

#49218 Bugfix {usage} template parameter in XYZ tiles
  src/core/raster/qgsrasterfilewriter.cpp
Labels: backport release-3_26

#49123 Apply opacities on external layers when use layer ids
  src/server/services/wms/qgswmsrendercontext.cpp
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_26

#49256 [Oracle] Fix getSchemas request to not get all system tables
  src/providers/oracle/qgsoracleproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_oracle.py
Labels: Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_26

#49254 [Oracle] Fix oracle configuration parameters not saved in connection dialog
  src/providers/oracle/qgsoraclenewconnection.cpp
  src/providers/oracle/qgsoracleproviderconnection.cpp
Labels: Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_26

#49223 [diagrams] Fix category color opacity not respected
  src/core/diagram/qgshistogramdiagram.cpp
  src/core/diagram/qgspiediagram.cpp
  src/core/diagram/qgsstackedbardiagram.cpp
  src/core/qgsdiagramrenderer.cpp
  src/gui/vector/qgsdiagramproperties.cpp
  tests/src/core/testqgsdiagram.cpp
  tests/testdata/control_images/diagrams/expected_piediagram_opacity/expected_piediagram_opacity.png
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_26

#49243 qgscamerapose: Fix pitch max value to avoid rotation computation error
  src/3d/qgscamerapose.cpp
Labels: backport release-3_26

#49156 [layout] Fix Lossless image compression in QgsLayoutExporter::exportToPdf (Fix #49079) and QgsLayoutExporter::print
  src/core/layout/qgslayoutexporter.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49230 [positioning] Add missing equal-to operator to the QgsSatelliteInfo class
  python/core/auto_generated/gps/qgsgpsconnection.sip.in
  src/core/gps/qgsgpsconnection.h
Labels: backport release-3_22, backport release-3_26

#49281 [Backport release-3_26] UUID Generator widget: don't truncate Uuid string if field length >= Uuid string length
  src/gui/editorwidgets/qgsuuidwidgetwrapper.cpp
  tests/src/python/test_qgseditwidgets.py
Labels: GUI/UX

#49298 [GUI][Labelling] Fix "Line Anchor Settings" window title
  src/ui/labeling/qgslabellineanchorwidgetbase.ui
Labels: backport release-3_26

#49282 Rename WITH_QT6 to BUILD_WITH_QT6
  .ci/run_tests.sh
  .docker/docker-qgis-build.sh
  .github/workflows/run-tests.yml
  CMakeLists.txt
  src/3d/CMakeLists.txt
  src/auth/apiheader/CMakeLists.txt
  src/auth/basic/CMakeLists.txt
  src/auth/esritoken/CMakeLists.txt
  src/auth/identcert/CMakeLists.txt
  src/auth/maptiler_hmacsha256/CMakeLists.txt
  src/auth/pkipaths/CMakeLists.txt
  src/auth/pkipkcs12/CMakeLists.txt
  src/core/CMakeLists.txt
  src/crashhandler/CMakeLists.txt
  src/customwidgets/CMakeLists.txt
  src/gui/CMakeLists.txt
  src/native/CMakeLists.txt
  src/plugins/geometry_checker/CMakeLists.txt
  src/plugins/grass/CMakeLists.txt
  src/plugins/offline_editing/CMakeLists.txt
  src/plugins/topology/CMakeLists.txt
  src/providers/arcgisrest/CMakeLists.txt
  src/providers/delimitedtext/CMakeLists.txt
  src/providers/grass/CMakeLists.txt
  src/providers/postgres/CMakeLists.txt
  src/providers/spatialite/CMakeLists.txt
  src/providers/virtual/CMakeLists.txt
  src/providers/wfs/CMakeLists.txt
  src/providers/wms/CMakeLists.txt
  src/quickgui/CMakeLists.txt
  src/quickgui/plugin/CMakeLists.txt
  src/ui/CMakeLists.txt
Labels: Cleanup, Build/Install, GUI/UX, PostGIS data provider, Downstream, Quick

#49278 [3D] light.inc.frag: Fix adsModel usage
  src/3d/shaders/light.inc.frag
  tests/testdata/control_images/3d/expected_polygon3d_extrusion_data_defined/default/expected_polygon3d_extrusion_data_defined.png
  tests/testdata/control_images/3d/expected_polygon3d_extrusion_data_defined/travis/expected_polygon3d_extrusion_data_defined.png
Labels: backport release-3_26

#49266 Change project style disabling from being a project load flag to a new project "capability"
  python/core/auto_additions/qgis.py
  python/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/qgis.sip.in
  src/analysis/processing/qgsprojectstylealgorithms.cpp
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/app/qgsappbrowserproviders.cpp
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  src/core/project/qgsprojectstylesettings.cpp
  src/core/qgis.h
  src/server/qgis_mapserver.cpp
  src/server/qgsconfigcache.cpp
Labels: backport release-3_26

#49304 Change project style disabling from being a project load flag
  python/core/auto_additions/qgis.py
  python/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/qgis.sip.in
  src/analysis/processing/qgsprojectstylealgorithms.cpp
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/app/qgsappbrowserproviders.cpp
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  src/core/project/qgsprojectstylesettings.cpp
  src/core/qgis.h
  src/server/qgis_mapserver.cpp
  src/server/qgsconfigcache.cpp
Labels: Backport

#49306 Correctly update raster legend after loading styles
  src/core/raster/qgsrasterlayer.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49302 Force use of raster masking in layout designer preview
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/core/layout/qgslayoutitemmap.cpp
  src/core/maprenderer/qgsmaprenderercustompainterjob.cpp
  src/core/maprenderer/qgsmaprendererjob.cpp
  src/core/qgis.h
Labels: backport release-3_26

#49322 Fix incorrect dimensionality of curves created from ArcGIS REST geometries, and correctly handle curves with M but not Z values
  src/core/providers/arcgis/qgsarcgisrestutils.cpp
  tests/src/core/testqgsarcgisrestutils.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49336 Create webdav folder with good permissions so it works when CI is run locally
  .ci/run_tests.sh
Labels: Chore, backport queued_ltr_backports, backport release-3_26

#49064 Fix simple marker rotation in dxf export (CW instead of CCW)
  src/core/symbology/qgsmarkersymbollayer.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49352 [GDAL provider] Workaround GDAL < 3.5.2 performance issue on VRT files of large rasters (fixes #49285)
  src/core/providers/gdal/qgsgdalprovider.cpp
  tests/src/python/test_provider_gdal.py
Labels: backport release-3_22, backport release-3_26

#49359 [ams] Don't try loading empty URIs
  src/providers/arcgisrest/qgsamsprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#49358 Don't try to load styles from empty uris -- this raises Qt warnings
  src/core/qgsmaplayer.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49343 Avoid invalid warning
  src/core/qgsmaplayer.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49398 Fix MetaSearch core plugin metadata
  python/plugins/MetaSearch/metadata.txt
Labels: MetaSearch, backport release-3_22, backport release-3_26

#49459 Added new ellipse marker shapes
  python/core/auto_generated/symbology/qgsellipsesymbollayer.sip.in
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsellipsesymbollayer.h
  tests/src/core/testqgsellipsemarker.cpp
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_hexagon/expected_ellipsemarker_hexagon.png
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_octagon/expected_ellipsemarker_octagon.png
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_pentagon/expected_ellipsemarker_pentagon.png
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_quartercircle/expected_ellipsemarker_quartercircle.png
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_star/expected_ellipsemarker_star.png
  tests/testdata/control_images/symbol_ellipsemarker/expected_ellipsemarker_thirdcircle/expected_ellipsemarker_thirdcircle.png
Labels: Feature, Symbology, Changelog

#49476 Disable style capabilities in server landing page
  src/server/services/landingpage/qgslandingpageutils.cpp
Labels: Server, backport release-3_26

#49464 Fix relation editor ESC and referenced save
  python/gui/auto_generated/qgsmaptooldigitizefeature.sip.in
  src/gui/qgsmaptooldigitizefeature.cpp
  src/gui/qgsmaptooldigitizefeature.h
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
Labels: Forms, GUI/UX, Bug, Relations, backport release-3_26

#49447 [fix] Invalid getfeature json patch
  src/server/services/wfs/qgswfsgetfeature.cpp
Labels: backport release-3_22, backport release-3_26
