Repository qgis/QGIS, pull requests merged in 2022-03, with the labels that each got.

#47568 Fix qgis.utils.showPluginHelp() url on windows
  python/utils.py
Labels: backport queued_ltr_backports, backport release-3_24

#47051 [Server] WFS FeatureID for Typename with ()
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/test_project_wfs.qgs
  tests/testdata/qgis_server/wfs_describefeaturetype.txt
  tests/testdata/qgis_server/wfs_describefeaturetype_1_0_0.txt
  tests/testdata/qgis_server/wfs_getFeature_1_0_0_featureid_02_1_0_0.txt
  tests/testdata/qgis_server/wfs_getFeature_1_0_0_featureid_0_testing_1_0_0.txt
  tests/testdata/qgis_server/wfs_getcapabilities.txt
  tests/testdata/qgis_server/wfs_getcapabilities_1_0_0.txt
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_24

#47578 Fix loss of current file path when clicking "..." in QgsFileWidgets
  src/gui/qgsfilewidget.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47591 Add missing type in field calculator. Fix #47583.
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: backport release-3_24

#47601 Don't set background color on QgsFileWidget
  src/gui/qgsfilewidget.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47600 Show total dash pattern length in custom dash pattern panel
  src/gui/symbology/qgsdashspacedialog.cpp
  src/ui/symbollayer/qgsdashspacewidgetbase.ui
Labels: GUI/UX, Changelog

#47653 [qml] Add an authid and descripton property to the QgsCoordinateReferenceSystem class
  src/core/proj/qgscoordinatereferencesystem.h
Labels: API, backport release-3_22, backport release-3_24

#47637 Add blank field for Z and M field for delimited text provider.
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47628 Fix reading ESRI authority crs from arcgis rest json
  src/core/providers/arcgis/qgsarcgisrestutils.cpp
  tests/src/core/testqgsarcgisrestutils.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47643 Support decimal degrees with [N,S,W,E] suffixes in the goto locator filter
  src/app/locator/qgsgotolocatorfilter.cpp
  src/core/qgscoordinateutils.cpp
  src/core/qgscoordinateutils.h
  tests/src/app/testqgsapplocatorfilters.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgscoordinateutils.cpp
Labels: Locator, backport queued_ltr_backports, backport release-3_24

#47570 WFS GetFeature GML3: When SRSNAME param was empty, srsName attributes were empty too
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getFeature_1_1_0_featureid_0_1_1_0_srsname.txt
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_24

#47590 Fix server GML with geometry types
  src/core/geometry/qgsmultipolygon.cpp
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsdescribefeaturetype.h
  tests/src/core/geometry/testqgsmultipolygon.cpp
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_typename_as_areas.txt
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_typename_empty.txt
Labels: Server, backport queued_ltr_backports, backport release-3_24

#47195 Fix interpolated line renderer exact inverted
  src/core/symbology/qgsinterpolatedlinerenderer.cpp
  tests/testdata/control_images/symbol_interpolatedline/expected_interpolatedlinesymbollayer_6/expected_interpolatedlinesymbollayer_6.png
Labels: stale, Symbology, Bug, backport queued_ltr_backports, backport release-3_24

#47259 Fix logarithmic classification with narrow ranges
  src/core/classification/qgsclassificationlogarithmic.cpp
  tests/src/python/test_qgsclassificationmethod.py
Labels: Symbology, Bug

#47708 Remove some unwanted debugging messages when loading projects
  src/core/project/qgsprojectbadlayerhandler.cpp
Labels: backport release-3_22, backport release-3_24

#47710 Tweak logic for warning on project/qgis version mismatches
  python/core/auto_generated/project/qgsproject.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
Labels: backport queued_ltr_backports, backport release-3_24

#47639 Fix wheel zooming steps
  src/3d/qgscameracontroller.cpp
Labels: 3D, Bug

#46750 Buffered Transactional Editing
  python/core/auto_additions/qgis.py
  python/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgstransaction.sip.in
  python/core/auto_generated/vector/qgsvectorlayereditbuffer.sip.in
  python/core/auto_generated/vector/qgsvectorlayereditbuffergroup.sip.in
  python/core/core_auto.sip
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsprojectproperties.cpp
  src/core/CMakeLists.txt
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  src/core/qgis.h
  src/core/qgstransaction.cpp
  src/core/qgstransaction.h
  src/core/qgstransactiongroup.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayereditbuffer.cpp
  src/core/vector/qgsvectorlayereditbuffer.h
  src/core/vector/qgsvectorlayereditbuffergroup.cpp
  src/core/vector/qgsvectorlayereditbuffergroup.h
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/providers/testqgsmssqlprovider.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_oracle.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_spatialite.py
  tests/src/python/test_qgspostgrestransaction.py
  tests/src/python/test_qgsproject.py
  tests/src/python/test_qgsvectorlayereditbuffer.py
  tests/src/python/test_qgsvectorlayereditbuffergroup.py
Labels: Feature, Merge After Thaw, Needs Documentation, Changelog

#47718 [raster] Fix crash when calling setDataProvider against a pre-existing raster layer
  src/core/raster/qgsrasterlayer.cpp
  tests/src/python/test_qgsrasterlayer.py
Labels: backport release-3_22, backport release-3_24

#47734 [processing] Fix erroneous call to secsTo when it should be msecsTo
  python/plugins/processing/tests/testdata/qgis_algorithm_tests4.yaml
  src/analysis/processing/qgsalgorithmdbscanclustering.cpp
Labels: Processing, Bug, backport release-3_22, backport release-3_24

#47743 Add missing RelationWidgetTypeId to clone method
  src/core/editform/qgsattributeeditorrelation.cpp
Labels: backport release-3_22, backport release-3_24

#47257 Add support for pointcloud filtering
  python/core/auto_generated/pointcloud/qgspointcloudattribute.sip.in
  python/core/auto_generated/pointcloud/qgspointcloudblock.sip.in
  python/core/auto_generated/pointcloud/qgspointclouddataprovider.sip.in
  python/core/auto_generated/pointcloud/qgspointcloudlayer.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
  src/core/CMakeLists.txt
  src/core/pointcloud/expression/qgspointcloudexpression.cpp
  src/core/pointcloud/expression/qgspointcloudexpression.h
  src/core/pointcloud/expression/qgspointcloudexpression_p.h
  src/core/pointcloud/expression/qgspointcloudexpressionnode.cpp
  src/core/pointcloud/expression/qgspointcloudexpressionnode.h
  src/core/pointcloud/expression/qgspointcloudexpressionnodeimpl.cpp
  src/core/pointcloud/expression/qgspointcloudexpressionnodeimpl.h
  src/core/pointcloud/qgseptdecoder.cpp
  src/core/pointcloud/qgseptdecoder.h
  src/core/pointcloud/qgseptpointcloudindex.cpp
  src/core/pointcloud/qgspointcloudattribute.cpp
  src/core/pointcloud/qgspointcloudattribute.h
  src/core/pointcloud/qgspointcloudblock.cpp
  src/core/pointcloud/qgspointcloudblock.h
  src/core/pointcloud/qgspointcloudblockrequest.cpp
  src/core/pointcloud/qgspointcloudblockrequest.h
  src/core/pointcloud/qgspointclouddataprovider.cpp
  src/core/pointcloud/qgspointclouddataprovider.h
  src/core/pointcloud/qgspointcloudindex.cpp
  src/core/pointcloud/qgspointcloudindex.h
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.h
  src/core/pointcloud/qgsremoteeptpointcloudindex.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgspointcloudattribute.cpp
  tests/src/core/testqgspointcloudexpression.cpp
  tests/src/python/test_qgspointcloudclassifiedrenderer.py
  tests/testdata/control_images/pointcloudrenderer/expected_classified_render_filtered/expected_classified_render_filtered.png
  tests/testdata/control_images/pointcloudrenderer/expected_classified_render_unfiltered/expected_classified_render_unfiltered.png
Labels: Feature, Point Clouds

#47742 Fix attr table sorting after resize
  src/gui/attributetable/qgsattributetableview.cpp
Labels: Attribute Table, Regression, Bug, backport release-3_22, backport release-3_24

#47702 fix enable/disable triangle vertical filter spin box in 3D point cloud widget
  src/app/3d/qgspointcloud3dsymbolwidget.cpp
Labels: 3D, Bug, Point Clouds

#47689 Support running model algorithms off the main thread
  python/core/auto_generated/processing/models/qgsprocessingmodelalgorithm.sip.in
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.h
Labels: Feature, Processing, Changelog

#47751 add scroll area to the OGR tab of the Datasource Manager (fix #47741)
  src/ui/qgsogrsourceselectbase.ui
Labels: GUI/UX

#47735 Apply more flexible approach to match zoom levels expected for ESRI tiles
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgstiles.sip.in
  src/core/qgis.h
  src/core/qgstiles.cpp
  src/core/qgstiles.h
  src/core/vectortile/qgsvectortilematrixset.cpp
  tests/src/python/test_qgstiles.py
Labels: backport release-3_24

#47705 [OGR provider] Remove OGR_ORGANIZE_POLYGONS=ONLY_CCW configuration option
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47671 Drag and drop forms group collapsed
  python/core/auto_generated/editform/qgsattributeeditorcontainer.sip.in
  src/core/editform/qgsattributeeditorcontainer.cpp
  src/core/editform/qgsattributeeditorcontainer.h
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributeformcontaineredit.ui
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsrelation.cpp
  tests/src/python/test_qgsrelation.py
Labels: Feature, Forms

#47773 Fix sequential rendering high dpi
  src/core/maprenderer/qgsmaprenderercustompainterjob.cpp
  src/core/maprenderer/qgsmaprenderersequentialjob.cpp
  tests/src/python/test_selective_masking.py
  tests/testdata/control_images/selective_masking/different_dpi_target_hdpi/different_dpi_target_hdpi.png
  tests/testdata/control_images/selective_masking/different_dpi_target_hdpi/different_dpi_target_hdpi_mask.png
Labels: Bug, backport release-3_22, backport release-3_24

#47753 Show raster scale and offset in raster properties (fix #47673)
  src/core/providers/gdal/qgsgdalprovider.cpp
Labels: Raster

#47781 Avoid crash by not showing 'Add layer notes' option for layers with no provider
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: backport release-3_22, backport release-3_24

#47779 Add a "filter rules" search box to vector tile renderer and labeling widgets
  src/gui/vectortile/qgsvectortilebasiclabelingwidget.cpp
  src/gui/vectortile/qgsvectortilebasiclabelingwidget.h
  src/gui/vectortile/qgsvectortilebasicrendererwidget.cpp
  src/gui/vectortile/qgsvectortilebasicrendererwidget.h
  src/ui/qgsvectortilebasiclabelingwidget.ui
  src/ui/qgsvectortilebasicrendererwidget.ui
Labels: Feature, Changelog, Vector tiles

#47792 Show the error why the auth DB could not be opened
  src/core/auth/qgsauthmanager.cpp
Labels: Authentication, GUI/UX, backport queued_ltr_backports, backport release-3_24

#47785 [mssql] Fix regression with identity column types
  src/providers/mssql/qgsmssqlprovider.cpp
  tests/src/python/test_provider_mssql.py
  tests/testdata/provider/testdata_mssql.sql
Labels: Regression, MS SQL data provider, backport release-3_22, backport release-3_24

#47680 Add copy to clipboard for preview expression.
  python/gui/auto_generated/qgsexpressionpreviewwidget.sip.in
  src/gui/qgsexpressionpreviewwidget.cpp
  src/gui/qgsexpressionpreviewwidget.h
Labels: Feature, Squash!, Changelog

#47426 Rename bookmark group
  src/app/qgsappbrowserproviders.cpp
Labels: Feature

#47774 fix vertex degree in topological mesh
  src/core/mesh/qgstopologicalmesh.cpp
  tests/src/core/testqgsmesheditor.cpp
Labels: Bug, Mesh, backport release-3_22, backport release-3_24

#47573 add test for server GetFeatureInfo respect the order of Drag&Drop designer.
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/test_project_values.qgz
  tests/testdata/qgis_server/wms_getfeatureinfo-values4-text-xml.txt
  tests/testdata/qgis_server/wms_getfeatureinfo-values5-text-xml.txt
Labels: Server, testsuite, backport queued_ltr_backports, backport release-3_24

#47824 Set max tile buffer size to 1024. Fix #47324.
  src/ui/qgsprojectpropertiesbase.ui
Labels: backport queued_ltr_backports, backport release-3_24

#47759 fix wrong shading when 2-class color
  src/core/raster/qgscolorrampshader.cpp
  tests/src/python/test_qgsrastercolorrampshader.py
Labels: backport queued_ltr_backports, backport release-3_24

#47831 Also apply font settings from layer conditional styling to layout attribute tables
  python/core/auto_generated/layout/qgslayoutitemattributetable.sip.in
  src/core/layout/qgslayoutitemattributetable.cpp
  src/core/layout/qgslayoutitemattributetable.h
  src/ui/layout/qgslayoutattributetablewidgetbase.ui
  tests/src/core/testqgslayouttable.cpp
  tests/testdata/control_images/composer_table/expected_composerattributetable_conditionalstyles_text/expected_composerattributetable_conditionalstyles_text.png
Labels: Feature, Needs Documentation, Changelog

#47782 Highlight all characters in curved labels when hovering using a map label tool, instead of just one character
  python/core/auto_generated/labeling/qgslabelingresults.sip.in
  python/core/auto_generated/labeling/qgslabelposition.sip.in
  python/core/auto_generated/labeling/qgslabelsearchtree.sip.in
  src/app/labeling/qgsmaptoollabel.cpp
  src/core/labeling/qgslabelingresults.cpp
  src/core/labeling/qgslabelingresults.h
  src/core/labeling/qgslabelposition.h
  src/core/labeling/qgslabelsearchtree.cpp
  src/core/labeling/qgslabelsearchtree.h
  tests/src/core/testqgslabelingengine.cpp
Labels: Labeling, GUI/UX

#47842 Fix vertex editor issue with locales
  src/app/vertextool/qgsvertexeditor.cpp
Labels: Bug, Localization, backport release-3_24

#47839 Bug fixed, QGIS now works with Geos 3.7 or lower
  src/core/geometry/qgsgeometrymakevalid.cpp
Labels: backport release-3_22, backport release-3_24

#47701 [Bugfix][Server] WFS GetFeature GML: CDATA was url encoded before insert in GML
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/test_layer_wfs_cdata.geojson
  tests/testdata/qgis_server/test_layer_wfs_cdata.qgs
  tests/testdata/qgis_server/wfs_getfeature_cdata_1_0_0.txt
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_24

#47771 Between/Not between expression
  python/core/auto_generated/expression/qgsexpressionnode.sip.in
  python/core/auto_generated/expression/qgsexpressionnodeimpl.sip.in
  resources/function_help/json/BETWEEN
  resources/function_help/json/NOT BETWEEN
  src/core/expression/qgsexpressionnode.h
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/core/expression/qgsexpressionnodeimpl.h
  src/core/pointcloud/expression/qgspointcloudexpressionnode.cpp
  src/core/providers/ogr/qgsogrexpressioncompiler.cpp
  src/core/qgsexpressionlexer.ll
  src/core/qgsexpressionparser.yy
  src/core/qgssqlexpressioncompiler.cpp
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressiontreeview.cpp
  src/gui/qgssqlcomposerdialog.cpp
  src/providers/spatialite/CMakeLists.txt
  src/providers/spatialite/qgsspatialiteexpressioncompiler.cpp
  src/providers/spatialite/qgsspatialiteexpressioncompiler.h
  src/providers/spatialite/qgsspatialitefeatureiterator.cpp
  tests/src/core/testqgsexpression.cpp
  tests/src/core/testqgssqliteexpressioncompiler.cpp
  tests/src/python/featuresourcetestbase.py
  tests/src/python/test_provider_hana.py
  tests/src/python/test_provider_shapefile.py
  tests/src/python/test_provider_spatialite.py
  tests/src/python/test_qgsexpression.py
Labels: Feature, Expressions, Needs Documentation, Changelog

#47306 Split self intersecting lines only on split points
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeos.cpp
  tests/src/core/geometry/testqgsgeometry.cpp
Labels: Bug

#46647 [Feature] New soft constraints in the advanced digitizing dock
  python/core/auto_additions/qgis.py
  python/core/auto_generated/geometry/qgsgeometryutils.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgscadutils.sip.in
  python/gui/auto_additions/qgsadvanceddigitizingdockwidget.py
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/core/geometry/qgsgeometryutils.cpp
  src/core/geometry/qgsgeometryutils.h
  src/core/qgis.h
  src/core/qgscadutils.cpp
  src/core/qgscadutils.h
  src/gui/qgsadvanceddigitizingcanvasitem.cpp
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/ui/qgsadvanceddigitizingdockwidgetbase.ui
  tests/src/app/testqgsadvanceddigitizing.cpp
  tests/src/core/testqgscadutils.cpp
Labels: Feature, Needs Documentation, Changelog

#47878 Also install scripts for GRASS 8.
  src/plugins/grass/scripts/CMakeLists.txt
Labels: backport queued_ltr_backports, backport release-3_24

#47876 Show wait cursor on form submit action
  src/core/qgsaction.cpp
Labels: Forms

#47834 Ignore symbol layer types which do not have colors (raster fill, marker, etc) when calculating overall symbol colors
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  python/core/auto_generated/symbology/qgsinterpolatedlinerenderer.sip.in
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  python/core/auto_generated/symbology/qgsmasksymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgsinterpolatedlinerenderer.cpp
  src/core/symbology/qgsinterpolatedlinerenderer.h
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/core/symbology/qgsmasksymbollayer.cpp
  src/core/symbology/qgsmasksymbollayer.h
  src/core/symbology/qgssymbol.cpp
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  tests/src/python/test_qgssymbol.py
Labels: backport queued_ltr_backports, backport release-3_24

#47898 Fix broken form layout for search form when using drag and drop designer
  src/gui/qgsattributeform.cpp
Labels: backport release-3_22, backport release-3_24

#47903 Fix non-functional buttons in Oracle data source
  src/app/qgshtmlannotationdialog.cpp
  src/app/qgshtmlannotationdialog.h
  src/crashhandler/qgscrashdialog.cpp
  src/crashhandler/qgscrashdialog.h
  src/providers/oracle/qgsoraclesourceselect.cpp
  src/providers/oracle/qgsoraclesourceselect.h
Labels: backport release-3_22, backport release-3_24

#47905 Improve description of num_geometries() expression function to explicitly state support for multi-part geometries
  resources/function_help/json/num_geometries
Labels: backport release-3_22, backport release-3_24

#47902 When copying features from a layer with no fields, don't append the 'wkt_geom' header line to the clipboard plain text
  src/app/qgsclipboard.cpp
  tests/src/app/testqgisappclipboard.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47087 Update wms layer title each time a new layer is selected
  src/providers/wms/qgswmssourceselect.cpp
  src/providers/wms/qgswmssourceselect.h
Labels: backport queued_ltr_backports, backport release-3_24

#47922 Add opt-in setting for projects for "Remember attribute table windows and docks between sessions"
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/app/qgisapp.cpp
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
  src/app/qgsdockablewidgethelper.cpp
  src/app/qgsdockablewidgethelper.h
  src/app/qgsprojectproperties.cpp
  src/core/qgis.h
  src/ui/qgsattributetabledialog.ui
  src/ui/qgsprojectpropertiesbase.ui
Labels: Feature, Needs Documentation, Changelog

#47961 fix: qsizetype vs int
  src/providers/grass/qgis.r.in.cpp
Labels: backport release-3_22, backport release-3_24

#47980 Add method to retrieve next frame delay for animated images to QgsImageCache
  python/core/auto_generated/qgsimagecache.sip.in
  src/core/qgsimagecache.cpp
  src/core/qgsimagecache.h
  tests/src/core/testqgsimagecache.cpp
Labels: API

#47972 UI: Make sure users can enter the minimum tolerance value in 'snap geometries to layer'
  src/analysis/processing/qgsalgorithmsnapgeometries.cpp
Labels: Processing, GUI/UX

#47979 [nmea] Convert RMC mode indicator to its equivalent signal variant to provide accurate quality description
  python/core/auto_additions/qgis.py
  python/core/auto_generated/gps/qgsgpsconnection.sip.in
  python/core/auto_generated/qgis.sip.in
  src/app/gps/qgsgpsinformationwidget.cpp
  src/core/gps/qgsgpsconnection.cpp
  src/core/gps/qgsgpsconnection.h
  src/core/gps/qgsnmeaconnection.cpp
  src/core/qgis.h
Labels: GPS, backport release-3_22, backport release-3_24

#47991 Fixes #47466 : Fix external resource url in document view on Windows
  src/gui/qgsexternalresourcewidget.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_24

#48001 UI: Make sure users cannot enter values that are lower than the minimum in 'points displacement' alg
  python/plugins/processing/algs/qgis/PointsDisplacement.py
Labels: Processing, GUI/UX

#47950 Fix xyz tile matrix zoom level above 22
  src/providers/wms/qgswmsprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#48018 Fix round trip of html content edit in the model designer help dialog
  python/gui/auto_generated/qgsrichtexteditor.sip.in
  src/gui/processing/qgsprocessinghelpeditorwidget.cpp
  src/gui/processing/qgsprocessinghelpeditorwidget.h
  src/gui/qgsrichtexteditor.cpp
  src/gui/qgsrichtexteditor.h
  src/ui/processing/qgsprocessinghelpeditorwidgetbase.ui
Labels: Processing

#48019 Show whether an argument is optional and its default value in qgis_process help output
  src/process/qgsprocess.cpp
Labels: backport release-3_24

#48013 Avoid multiple hash lookups in QgsExpressionContextScope::setVariable
  src/core/qgsexpressioncontext.cpp
Labels: Optimization, backport release-3_24

#47992 [GUI] Open vector layer dialog: do not expose GPKG 'NOLOCK' open option
  src/gui/providers/ogr/qgsogrsourceselect.cpp
Labels: backport release-3_22, backport release-3_24

#47866 Replace 1/0 with TRUE/FALSE in function help
  resources/function_help/json/AND
  resources/function_help/json/ILIKE
  resources/function_help/json/IN
  resources/function_help/json/IS
  resources/function_help/json/IS NOT
  resources/function_help/json/LIKE
  resources/function_help/json/NOT
  resources/function_help/json/OR
  resources/function_help/json/array_all
  resources/function_help/json/array_contains
  resources/function_help/json/array_intersect
  resources/function_help/json/contains
  resources/function_help/json/crosses
  resources/function_help/json/disjoint
  resources/function_help/json/file_exists
  resources/function_help/json/intersects
  resources/function_help/json/intersects_bbox
  resources/function_help/json/is_closed
  resources/function_help/json/is_directory
  resources/function_help/json/is_empty
  resources/function_help/json/is_empty_or_null
  resources/function_help/json/is_file
  resources/function_help/json/is_layer_visible
  resources/function_help/json/is_multipart
  resources/function_help/json/is_selected
  resources/function_help/json/is_valid
  resources/function_help/json/map_exist
  resources/function_help/json/op_eq
  resources/function_help/json/op_ge
  resources/function_help/json/op_gt
  resources/function_help/json/op_le
  resources/function_help/json/op_lt
  resources/function_help/json/op_ne
  resources/function_help/json/op_regex
  resources/function_help/json/overlaps
  resources/function_help/json/roundness
  resources/function_help/json/touches
  resources/function_help/json/within
Labels: Expressions
