Repository qgis/QGIS, pull requests merged in 2022-01, with the labels that each got.

#46664 Add 'label' keyword to the friendly identifier field list
  src/core/vector/qgsvectorlayerutils.cpp
Labels: backport release-3_22

#46638 [processing] Add an optional output extent to the gdal raster calculator algorithm
  python/plugins/processing/algs/gdal/gdalcalc.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Feature, Processing, Needs Documentation

#46411 Correctly resolveReference after we load/create embedded group
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/project/qgsproject.cpp
  tests/src/app/testqgisapp.cpp
  tests/src/core/testqgsproject.cpp
  tests/testdata/embedded_groups/joins1.qgs
  tests/testdata/embedded_groups/joins2.qgz
Labels: Bug, backport release-3_22, Joins

#46502 New represent_attributes function
  resources/function_help/json/represent_attributes
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Expressions, Changelog

#46691 Fix datetime default with text fields
  src/gui/editorwidgets/qgsdatetimeeditwrapper.cpp
  tests/src/gui/testqgsdatetimeedit.cpp
Labels: Bug, Widgets, backport queued_ltr_backports, backport release-3_22

#46707 Mark crssync build option advanced
  CMakeLists.txt
Labels: backport release-3_22

#46705 Mesh calculator UX fixes
  src/app/mesh/qgsmeshcalculatordialog.cpp
Labels: GUI/UX

#46632 [ui] Fix raster format options widget minimum height
  src/gui/qgsrasterformatsaveoptionswidget.cpp
Labels: GUI/UX, Bug, backport release-3_22

#46657 [feature][processing] A brand new Extract labels algorithm
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmextractlabels.cpp
  src/analysis/processing/qgsalgorithmextractlabels.h
  src/analysis/processing/qgsnativealgorithms.cpp
  src/core/labeling/qgslabelsink.cpp
  src/core/labeling/qgslabelsink.h
  src/core/labeling/qgstextlabelfeature.h
  src/core/maprenderer/qgsmaprenderercustompainterjob.cpp
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#46716 Add geometry_type function
  resources/function_help/json/geometry_type
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Expressions, Needs Documentation, Changelog, backport release-3_22

#46717 allow negative values for buffer distance in GDAL buffer algorithm (fix #46667)
  python/plugins/processing/algs/gdal/Buffer.py
  python/plugins/processing/tests/GdalAlgorithmsVectorTest.py
Labels: Processing, backport release-3_16, backport release-3_22

#46722 Brand new extent widget's calculate extent from layout map and bookmark functionality
  src/gui/qgsextentwidget.cpp
  src/gui/qgsextentwidget.h
  src/gui/qgsscalewidget.cpp
  src/ui/qgsextentgroupboxwidget.ui
Labels: Feature, Processing, GUI/UX, Needs Documentation

#46724 Show algorithm help if available
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
Labels: backport release-3_16, backport release-3_22

#46738 [pal] Remove calculation of total solution cost which was done before solving labeling and once after solving labeling, yet was never retrieved anywhere
  src/core/pal/problem.cpp
  src/core/pal/problem.h
Labels: Optimization, Labeling, backport release-3_22

#46744 fix includes before guard
  python/gui/auto_generated/qgsrelationwidgetregistry.sip.in
  src/gui/qgsrelationwidgetregistry.h
Labels: backport release-3_22

#46747 const method
  python/gui/auto_generated/qgsrelationwidgetregistry.sip.in
  src/gui/qgsrelationwidgetregistry.cpp
  src/gui/qgsrelationwidgetregistry.h
Labels: backport release-3_22

#46752 Fix crash when iterating csv with bool values
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  tests/src/python/test_qgsdelimitedtextprovider.py
Labels: Bug, Crash/Data Corruption, backport release-3_22

#46764 Copy shared data post-layer-clone
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/arcgisrest/qgsafsprovider.h
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlprovider.h
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  src/providers/wfs/qgsoapifprovider.cpp
  src/providers/wfs/qgsoapifprovider.h
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsprovider.h
Labels: Bug, backport release-3_22

#46643 [server] Integrate landingpage build process with cmake
  .docker/docker-qgis-build.sh
  .docker/qgis3-qt5-build-deps.dockerfile
  .github/workflows/mingw64.yml
  .gitignore
  CMakeLists.txt
  INSTALL.md
  ms-windows/mingw/build.sh
  resources/CMakeLists.txt
  resources/server/api/ogc/static/landingpage/css/app.ca3f5643.css
  resources/server/api/ogc/static/landingpage/css/chunk-26945ca0.4bfbed8f.css
  resources/server/api/ogc/static/landingpage/css/chunk-a28d6c70.182dac32.css
  resources/server/api/ogc/static/landingpage/css/chunk-d04d025e.a393ec5d.css
  resources/server/api/ogc/static/landingpage/css/chunk-vendors.a728f495.css
  resources/server/api/ogc/static/landingpage/favicon.ico
  resources/server/api/ogc/static/landingpage/index.html
  resources/server/api/ogc/static/landingpage/js/app.13f18e4d.js
  resources/server/api/ogc/static/landingpage/js/app.13f18e4d.js.map
  resources/server/api/ogc/static/landingpage/js/chunk-26945ca0.432ae155.js
  resources/server/api/ogc/static/landingpage/js/chunk-26945ca0.432ae155.js.map
  resources/server/api/ogc/static/landingpage/js/chunk-a28d6c70.c3f6a2e7.js
  resources/server/api/ogc/static/landingpage/js/chunk-a28d6c70.c3f6a2e7.js.map
  resources/server/api/ogc/static/landingpage/js/chunk-d04d025e.4a92915c.js
  resources/server/api/ogc/static/landingpage/js/chunk-d04d025e.4a92915c.js.map
  resources/server/api/ogc/static/landingpage/js/chunk-vendors.450afea6.js
  resources/server/api/ogc/static/landingpage/js/chunk-vendors.450afea6.js.map
  resources/server/src/landingpage/README.md
  resources/server/src/landingpage/package.json
  resources/server/src/landingpage/public/README
  resources/server/src/landingpage/src/components/AttributeTable.vue
  resources/server/src/landingpage/src/components/LayerTree.vue
  resources/server/src/landingpage/src/components/LayerTreeNode.vue
  resources/server/src/landingpage/src/components/Metadata.vue
  resources/server/src/landingpage/src/js/WmsSource.js
  resources/server/src/landingpage/src/views/Catalog.vue
  resources/server/src/landingpage/vue.config.js
  resources/server/src/landingpage/yarn.lock
Labels: Squash!, Server

#46772 relation editor widget name should be translated
  src/gui/qgsrelationeditorwidget.cpp
Labels: backport release-3_22

#46768 Fix crash when settings-options is accepted when 3d view is open
  src/app/3d/qgs3dmaptoolmeasureline.cpp
Labels: Crash/Data Corruption, backport release-3_16, backport release-3_22

#46773 QgsVectorFileWriter::createFeature(): remove useless and broken processing of feature id
  src/core/qgsvectorfilewriter.cpp
Labels: backport release-3_22

#46721 use enum parameter for "type" metadata in the Write vector tiles (MBTiles) algorithm (fix #46685)
  src/analysis/processing/qgsalgorithmwritevectortiles.cpp
Labels: Processing

#46766 [labeling] Ensure invalid rings are stripped from input geometries in multipolygons before handing to pal
  src/core/labeling/qgspallabeling.cpp
Labels: backport release-3_22

#46786 Fix a geonode provider layers fetching crasher
  src/core/geocms/geonode/qgsgeonoderequest.cpp
  src/core/geocms/geonode/qgsgeonoderequest.h
Labels: Data Provider, Crash/Data Corruption, backport release-3_22

#46800 Set errorMsg for connection not available
  src/providers/postgres/qgspostgrestransaction.cpp
Labels: backport release-3_22

#46731 Template parameter {usage} for XYZ raster and vector tiles
  python/3d/auto_generated/qgs3dmapsettings.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsmapsettings.sip.in
  python/core/auto_generated/qgsrendercontext.sip.in
  python/core/auto_generated/raster/qgsrasterinterface.sip.in
  src/3d/qgs3dmapsettings.cpp
  src/3d/qgs3dmapsettings.h
  src/3d/qgslayoutitem3dmap.cpp
  src/3d/terrain/qgsterraintexturegenerator_p.cpp
  src/app/qgisapp.cpp
  src/core/layout/qgslayoutitemmap.cpp
  src/core/qgis.h
  src/core/qgsmapsettings.cpp
  src/core/qgsmapsettings.h
  src/core/qgsrendercontext.cpp
  src/core/qgsrendercontext.h
  src/core/raster/qgsrasterinterface.cpp
  src/core/raster/qgsrasterinterface.h
  src/core/raster/qgsrasterlayerrenderer.cpp
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
  src/gui/qgsmapcanvas.cpp
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
Labels: Feature, Vector tiles, WMS data provider

#46683 Overlay intersects sort by intersection size
  resources/function_help/json/overlay_intersects
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsoverlayexpression.cpp
Labels: Feature, Expressions, Changelog

#46820 MDAL 0.9.2
  external/mdal/frmts/mdal_cf.cpp
  external/mdal/frmts/mdal_flo2d.cpp
  external/mdal/frmts/mdal_netcdf.cpp
  external/mdal/mdal.cpp
Labels: backport release-3_22

#46816 Ensure that multi-resolution (e.g. xyz tile) layers are correctly represented when magnifying canvas
  src/gui/qgsmapcanvas.cpp
Labels: backport release-3_22

#46845 Fix broken QGIS logo and "Made with QGIS" svg files
  images/svg/logos/qgis-logo-made-with-color.svg
  images/svg/logos/qgis-logo.svg
Labels: backport release-3_22

#46821 [bugfix] Fix inverted func name in attribute table sorting
  src/gui/layout/qgslayoutattributeselectiondialog.cpp
Labels: backport release-3_22

#46787 translate locator settings tool tips
  src/core/locator/qgslocator.h
Labels: backport release-3_22

#46770 Dock/Undock behaviour to 3D views
  src/app/3d/qgs3danimationwidget.cpp
  src/app/3d/qgs3danimationwidget.h
  src/app/3d/qgs3dmapcanvaswidget.cpp
  src/app/3d/qgs3dmapcanvaswidget.h
  src/app/3d/qgs3dmaptoolidentify.cpp
  src/app/3d/qgs3dviewsmanagerdialog.cpp
  src/app/CMakeLists.txt
  src/app/layout/qgslayout3dmapwidget.cpp
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsdockablewidgethelper.cpp
  src/app/qgsdockablewidgethelper.h
Labels: Feature, Freeze Exempt, 3D, Needs Documentation, Changelog

#46876 [mssql] Fix inserting features when pk attribute name contains special chars
  src/providers/mssql/qgsmssqlprovider.cpp
  tests/src/python/test_provider_mssql.py
Labels: backport queued_ltr_backports

#46874 [arcgis rest] Try to retrieve detailed error messages from network replies when an error occurs
  src/core/providers/arcgis/qgsarcgisrestquery.cpp
Labels: backport queued_ltr_backports

#46911 fix see also of setClearValue QgsDoubleSpinBox
  python/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  src/gui/editorwidgets/qgsdoublespinbox.h
Labels: backport release-3_22

#46899 fix 3d maximum texture size
  src/3d/qgs3dmapscene.cpp
Labels: 3D, Bug

#46701 Avoid deadlock in QGIS server
  src/server/services/wms/qgsmaprendererjobproxy.cpp
Labels: Bug, Crash/Data Corruption, Server, backport release-3_22

#46931 Fix a regression followup #46515
  src/core/maprenderer/qgsmaprendererjob.cpp
Labels: Bug, backport release-3_22

#46932 Translate Data Source Manager
  src/gui/qgsdatasourcemanagerdialog.cpp
Labels: Bug, backport release-3_22

#46923 [mssql] Use correct capitalisation for queries involving INFORMATION_SCHEMA tables
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlproviderconnection.cpp
Labels: backport release-3_22

#46910 Set ogr as the default option for embedded layer. Fix #46689
  src/providers/virtual/qgsvirtuallayersourceselect.cpp
Labels: backport release-3_22

#46918 qgscoordinatetransform_p.cpp: avoid issues when opening projects using PROJ < 7 grid names (fixes #45470)
  src/core/proj/qgscoordinatetransform_p.cpp
Labels: backport release-3_22

#46958 Scroll area wheel event blocking should not propagate to item views
  src/gui/qgsscrollarea.cpp
Labels: backport queued_ltr_backports

#46959 Make @zoom_level and @vector_tile_zoom expression variables always available, not just for vector tile layers
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/layout/qgslayoutitemmap.cpp
  tests/src/core/testqgsmapsettings.cpp
Labels: backport queued_ltr_backports

#46979 NaN value when no color for MapTiler WMS Interpretation converter
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug

#46966 allow space in mesh name
  src/providers/mdal/qgsmdalprovider.cpp
  tests/src/providers/testqgsmdalprovider.cpp
Labels: Data Provider, Bug, Mesh, backport release-3_22

#46977 Store geometry for edit init code dialog
  src/gui/qgsgui.cpp
  src/gui/vector/qgsattributesforminitcode.cpp
Labels: backport queued_ltr_backports

#46976 Disable data-defined buttons for incompatible SVG pictures in Layout item (fix #26524)
  src/gui/layout/qgslayoutpicturewidget.cpp
Labels: GUI/UX, Print Layouts

#46986 Fix grammar
  src/core/expression/qgsexpression.cpp
Labels: backport queued_ltr_backports

#46998 open correct tab for point clouds when adding layer from the Add Layer menu (fix #42881)
  src/app/qgisapp.cpp
Labels: GUI/UX, backport release-3_22

#46993 fix adding vector layers to QGIS from MetaSearch (fix #46135)
  python/plugins/MetaSearch/dialogs/maindialog.py
Labels: MetaSearch, backport release-3_22

#46983 Fix duplicate shortcut registered warning on startup
  src/app/qgisapp.cpp
  src/gui/qgsshortcutsmanager.cpp
Labels: backport queued_ltr_backports

#47001 Update r.water.outlet.txt to tell the user what kind of input raster is needed
  python/plugins/grassprovider/description/r.water.outlet.txt
Labels: Processing

#46992 Fix output filename when a raster is saved in a format without extension
  src/gui/qgsrasterlayersaveasdialog.cpp
  tests/src/gui/testqgsrasterlayersaveasdialog.cpp
Labels: Bug

#46978 Set display expression when adding fields through attribute table (fix #28353)
  src/app/qgsattributetabledialog.cpp
Labels: Attribute Table

#46997 [processing] save NULL and empty values into different files in Split Vector Layer algorithm (fix #38105)
  src/analysis/processing/qgsalgorithmsplitvectorlayer.cpp
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Processing, backport queued_ltr_backports

#47023 [backport release-3_22][themes] Fix push button flat property not taken into account
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Backport

#46975 handle percent-encoded font references in SLD (fix #27263)
  src/core/symbology/qgssymbollayerutils.cpp
  tests/src/python/test_qgssymbollayer_readsld.py
  tests/testdata/symbol_layer/QgsFontMarkerSymbolLayerPercentEncoding.sld
Labels: Symbology, backport queued_ltr_backports

#46972 Fix layout crash when resizing frames
  src/core/layout/qgslayoutmultiframe.cpp
  src/core/layout/qgslayoutpagecollection.cpp
Labels: Bug, Print Layouts

#46675 Add a scroll area to "select transformation" dialog
  src/ui/qgsdatumtransformdialogbase.ui
Labels: GUI/UX, backport release-3_22

#47064 [processing] fix deleting columns in the matrix parameter modeler widget (fix #45694)
  src/ui/processing/qgsprocessingmatrixmodelerwidgetbase.ui
Labels: Processing, backport queued_ltr_backports

#47028 fix loading of file-based mbtiles vector MVT package via Data Source Manager (fix #36449)
  src/core/vectortile/qgsvectortileconnection.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsvectortileconnection.cpp
Labels: Bug, Vector tiles, backport release-3_22

#47030 [backport release-3_22][processing] save NULL and empty values into different files in Split Vector Layer algorithm (fix #38105)
  src/analysis/processing/qgsalgorithmsplitvectorlayer.cpp
  tests/src/analysis/testqgsprocessingalgs.cpp
Labels: Backport, Processing

#47062 [processing] Add a bunch of mixing field types to the {add field,field calculator} algorithms
  python/plugins/processing/tests/testdata/expected/add_field_datetime.gml
  python/plugins/processing/tests/testdata/expected/add_field_datetime.xsd
  python/plugins/processing/tests/testdata/expected/add_field_doublelist.gml
  python/plugins/processing/tests/testdata/expected/add_field_doublelist.xsd
  python/plugins/processing/tests/testdata/expected/add_field_stringlist.gml
  python/plugins/processing/tests/testdata/expected/add_field_stringlist.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
  src/analysis/processing/qgsalgorithmaddtablefield.cpp
  src/analysis/processing/qgsalgorithmfieldcalculator.cpp
Labels: Processing

#47053 [vector file writer] Preserve array fields when saving as geopackage
  src/core/qgsvectorfilewriter.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Vectors

#47049 Add missing string,integer,double array field types in the refactor and aggregate algorithms
  python/gui/auto_additions/qgsfieldmappingmodel.py
  python/gui/auto_additions/qgsprocessingaggregatewidgets.py
  python/gui/auto_generated/qgsfieldmappingmodel.sip.in
  python/plugins/processing/tests/testdata/expected/aggregate_to_array.gml
  python/plugins/processing/tests/testdata/expected/aggregate_to_array.xsd
  python/plugins/processing/tests/testdata/expected/refactor_array.gml
  python/plugins/processing/tests/testdata/expected/refactor_array.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests1.yaml
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  src/analysis/processing/qgsalgorithmaggregate.cpp
  src/analysis/processing/qgsalgorithmrefactorfields.cpp
  src/gui/processing/qgsprocessingaggregatewidgets.cpp
  src/gui/processing/qgsprocessingaggregatewidgets.h
  src/gui/processing/qgsprocessingaggregatewidgetwrapper.cpp
  src/gui/processing/qgsprocessingfieldmapwidgetwrapper.cpp
  src/gui/qgsfieldmappingmodel.cpp
  src/gui/qgsfieldmappingmodel.h
  src/gui/qgsfieldmappingwidget.cpp
  tests/src/python/test_qgsaggregatemappingwidget.py
Labels: Processing

#47069 Fix color widgets incorrectly change colors when mouse is hovered over widget
  python/gui/auto_generated/qgscolorwidgets.sip.in
  src/gui/qgscolorwidgets.cpp
  src/gui/qgscolorwidgets.h
Labels: backport queued_ltr_backports

#46763 fix mesh simplification ui
  src/ui/mesh/qgsmeshlayerpropertiesbase.ui
Labels: backport release-3_22

#47075 Add missing file
  python/core/auto_additions/qgsfeatureiterator.py
Labels: backport queued_ltr_backports

#47076 Fix DistanceWithin algorithm with PostgreSQL provider (backport)
  python/core/auto_generated/qgsfeatureiterator.sip.in
  python/core/auto_generated/qgsfeaturerequest.sip.in
  python/core/auto_generated/qgssimplifymethod.sip.in
  src/core/qgsfeatureiterator.cpp
  src/core/qgsfeatureiterator.h
  src/core/qgsfeaturerequest.h
  src/core/qgssimplifymethod.cpp
  src/core/qgssimplifymethod.h
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  src/core/vector/qgsvectorlayerfeatureiterator.h
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsfeaturerequest.cpp
  tests/src/core/testqgssimplifymethod.cpp
  tests/src/python/featuresourcetestbase.py
  tests/src/python/test_provider_postgres.py
Labels: Backport

#47096 Fix 3D view crash on deep chunks hierarchy or small replacement queue
  src/3d/chunks/qgschunkedentity_p.cpp
Labels: backport release-3_22

#47093 Fix #45671, fix wrong name in layertree for mesh layer.
  src/app/mesh/qgsnewmeshlayerdialog.cpp
  src/providers/mdal/qgsmdalsourceselect.cpp
Labels: backport queued_ltr_backports

#47095 Add support for grass8
  CMakeLists.txt
  src/plugins/grass/8/CMakeLists.txt
  src/plugins/grass/CMakeLists.txt
  src/providers/CMakeLists.txt
  src/providers/grass/8/CMakeLists.txt
  src/providers/grass/CMakeLists.txt
  tests/src/providers/grass/8/CMakeLists.txt
  tests/src/providers/grass/CMakeLists.txt
Labels: backport queued_ltr_backports
