Repository qgis/QGIS, pull requests merged in 2022-05, with the labels that each got.

#48405 debian packaging: PDAL removed from debian sid
  debian/control.in
  debian/qgis-providers.install.in
  debian/rules
Labels: backport release-3_22, backport release-3_24

#48399 Don't reset plot extent so often
  python/gui/auto_generated/elevation/qgselevationprofilecanvas.sip.in
  src/app/elevation/qgselevationprofilewidget.cpp
  src/app/elevation/qgselevationprofilewidget.h
  src/gui/elevation/qgselevationprofilecanvas.cpp
  src/gui/elevation/qgselevationprofilecanvas.h
Labels: GUI/UX

#48437 Fix #48329 PG source select set SQL
  src/gui/providers/ogr/qgsogrdbsourceselect.cpp
  src/providers/mssql/qgsmssqlsourceselect.cpp
  src/providers/oracle/qgsoraclesourceselect.cpp
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/spatialite/qgsspatialitesourceselect.cpp
Labels: GUI/UX, Bug

#48288 [MetaSearch] fix CSW search when user/passwords are empty (Fix #48201)
  python/plugins/MetaSearch/dialogs/maindialog.py
  python/plugins/MetaSearch/dialogs/newconnectiondialog.py
Labels: MetaSearch

#48298 [MetaSearch] Fix error navigating the search results (Fix #48290)
  python/plugins/MetaSearch/search_backend.py
Labels: MetaSearch

#48456 Fix wrongly connected slot in qgscameracontroller
  src/3d/qgscameracontroller.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#48461 Use explain plan to estimate featureCount with filter (fixes #48446)
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: PostGIS data provider

#48353 Allow drag and drop forms label font and color customization
  python/core/auto_generated/editform/qgsattributeeditorelement.sip.in
  python/gui/auto_generated/qgstabwidget.sip.in
  src/core/editform/qgsattributeeditorcontainer.cpp
  src/core/editform/qgsattributeeditorelement.cpp
  src/core/editform/qgsattributeeditorelement.h
  src/core/editform/qgsattributeeditorfield.cpp
  src/core/editform/qgsattributeeditorrelation.cpp
  src/core/qgsfontutils.cpp
  src/gui/CMakeLists.txt
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/gui/attributeformconfig/qgsattributewidgetedit.cpp
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  src/gui/qgsformlabelformatwidget.cpp
  src/gui/qgsformlabelformatwidget.h
  src/gui/qgstabbarproxystyle.cpp
  src/gui/qgstabbarproxystyle.h
  src/gui/qgstabwidget.cpp
  src/gui/qgstabwidget.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributeformcontaineredit.ui
  src/ui/attributeformconfig/qgsattributewidgeteditgroupbox.ui
  src/ui/qgsformlabelformatwidget.ui
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgsattributeeditorelement.cpp
Labels: Feature, Forms, GUI/UX

#48450 Fix InterpolationDataWidget setValue() functions
  python/plugins/processing/algs/qgis/ui/InterpolationWidgets.py
Labels: backport queued_ltr_backports, backport release-3_24

#48333 Keep map tips out of the way
  python/gui/auto_generated/qgsmaptip.sip.in
  src/app/qgisapp.cpp
  src/gui/qgsmaptip.cpp
  src/gui/qgsmaptip.h
Labels: GUI/UX

#48488 Set parent variable as static in aggregate expression functions
  src/core/expression/qgsexpressionfunction.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#48486 [ui] Add a set to null / clear current symbol action to the symbol button
  python/gui/auto_generated/qgscolorrampbutton.sip.in
  python/gui/auto_generated/qgssymbolbutton.sip.in
  src/app/qgsprojectproperties.cpp
  src/gui/qgscolorrampbutton.cpp
  src/gui/qgscolorrampbutton.h
  src/gui/qgssymbolbutton.cpp
  src/gui/qgssymbolbutton.h
Labels: Feature, GUI/UX

#48506 Fix crash in geometry validator with MultiSurface geometries
  src/core/qgsgeometryvalidator.cpp
  src/core/qgsgeometryvalidator.h
  tests/src/python/test_qgsgeometryvalidator.py
Labels: backport release-3_22, backport release-3_24

#48516 re-allow copc.laz in remote pointcloud url
  src/gui/providers/qgspointcloudsourceselect.cpp
Labels: GUI/UX

#48525 add missing emit for signals
  src/gui/qgsadvanceddigitizingdockwidget.cpp
Labels: GUI/UX

#48511 [Oracle] Fix edit connection forced port value
  src/providers/oracle/qgsoraclenewconnection.cpp
Labels: GUI/UX, Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_24

#48321 Statistics calculator for point cloud
  python/core/auto_generated/pointcloud/qgspointclouddataprovider.sip.in
  python/core/auto_generated/pointcloud/qgspointcloudlayer.sip.in
  python/core/auto_generated/pointcloud/qgspointcloudrendererregistry.sip.in
  python/core/auto_generated/pointcloud/qgspointcloudstatistics.sip.in
  python/core/auto_generated/pointcloud/qgspointcloudstatscalculator.sip.in
  python/core/core_auto.sip
  src/app/3d/qgspointcloud3dsymbolwidget.cpp
  src/app/pointcloud/qgspointcloudlayerproperties.cpp
  src/app/pointcloud/qgspointcloudlayerproperties.h
  src/core/CMakeLists.txt
  src/core/pointcloud/qgscopcpointcloudindex.h
  src/core/pointcloud/qgseptpointcloudindex.cpp
  src/core/pointcloud/qgseptpointcloudindex.h
  src/core/pointcloud/qgspointclouddataprovider.cpp
  src/core/pointcloud/qgspointclouddataprovider.h
  src/core/pointcloud/qgspointcloudindex.cpp
  src/core/pointcloud/qgspointcloudindex.h
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.h
  src/core/pointcloud/qgspointcloudlayerelevationproperties.cpp
  src/core/pointcloud/qgspointcloudrendererregistry.cpp
  src/core/pointcloud/qgspointcloudrendererregistry.h
  src/core/pointcloud/qgspointcloudstatistics.cpp
  src/core/pointcloud/qgspointcloudstatistics.h
  src/core/pointcloud/qgspointcloudstatscalculationtask.cpp
  src/core/pointcloud/qgspointcloudstatscalculationtask.h
  src/core/pointcloud/qgspointcloudstatscalculator.cpp
  src/core/pointcloud/qgspointcloudstatscalculator.h
  src/core/providers/copc/qgscopcprovider.cpp
  src/core/providers/copc/qgscopcprovider.h
  src/core/providers/ept/qgseptprovider.cpp
  src/core/providers/ept/qgseptprovider.h
  src/gui/pointcloud/qgspointcloudattributebyramprendererwidget.cpp
  src/gui/pointcloud/qgspointcloudclassifiedrendererwidget.cpp
  src/gui/pointcloud/qgspointcloudrgbrendererwidget.cpp
  src/gui/qgspointcloudquerybuilder.cpp
  src/providers/pdal/qgspdalprovider.cpp
  src/providers/pdal/qgspdalprovider.h
  src/ui/qgspointcloudlayerpropertiesbase.ui
  tests/src/providers/testqgscopcprovider.cpp
  tests/src/providers/testqgseptprovider.cpp
Labels: Freeze Exempt, GUI/UX

#48519 Fix ams legend error reporting
  src/providers/arcgisrest/qgsamsprovider.cpp
Labels: GUI/UX, backport release-3_22, backport release-3_24

#48545 Fix array comparison error
  src/core/qgspointlocator.h
Labels: backport release-3_22, backport release-3_24

#48551 QgsMapCanvas::showEvent(): fix crash when moving between screens and …
  src/gui/qgsmapcanvas.cpp
Labels: GUI/UX, Bug, backport release-3_22, backport release-3_24

#48554 Python: fix crashes when casting mapCanvas().scene().items() objects …
  python/gui/auto_generated/qgshighlight.sip.in
  python/gui/auto_generated/qgsmapcanvasannotationitem.sip.in
  python/gui/auto_generated/qgsrubberband.sip.in
  python/gui/auto_generated/qgssnaptogridcanvasitem.sip.in
  src/gui/qgshighlight.h
  src/gui/qgsmapcanvasannotationitem.h
  src/gui/qgsrubberband.h
  src/gui/qgssnaptogridcanvasitem.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgshighlight.py
  tests/src/python/test_qgsrubberband.py
Labels: GUI/UX, Bug, backport release-3_22, backport release-3_24

#48555 [GUI] Vector layer dialog: hide NATIVE_DATA option of GeoJSON driver (fixes #48004)
  src/gui/providers/ogr/qgsogrsourceselect.cpp
Labels: GUI/UX, Bug, backport release-3_22, backport release-3_24

#48557 [OGR provider] Don't advertize CreateSpatialIndex capability on non-Spatialite enabled SQLite datasets (fixes #44513)
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr_sqlite.py
Labels: Bug, backport queued_ltr_backports

#48556 [OGR provider] Fix dealing with layer of wkbUnknown type with curve geometries (fixes #47610)
  src/core/providers/ogr/qgsogrfeatureiterator.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/providers/ogr/qgsogrproviderutils.h
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Bug, backport queued_ltr_backports

#48570 qgs3dmapconfigwidget: Move camera navigation mode change to mapscene
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/app/3d/qgs3dmapconfigwidget.cpp
Labels: Cleanup

#48583 Untwine upstream updates - unicode path fixes on windows
  external/untwine/api/QgisTest2.cpp
  external/untwine/bu/BuPyramid.cpp
  external/untwine/bu/CopcSupport.cpp
  external/untwine/bu/Processor.cpp
  external/untwine/bu/PyramidManager.cpp
  external/untwine/epf/Writer.cpp
  external/untwine/untwine/Common.hpp
  external/untwine/untwine/MapFile.cpp
  external/untwine/untwine/MapFile.hpp
  external/untwine/untwine/ThreadPool.cpp
  external/untwine/untwine/Untwine.cpp
Labels: Point Clouds

#48593 Fix qt warning when copying guides to all pages
  src/core/layout/qgslayoutguidecollection.cpp
Labels: backport queued_ltr_backports

#48445 Expose form to d&d attribute form action buttons
  python/core/auto_generated/qgsaction.sip.in
  src/core/qgsaction.cpp
  src/core/qgsaction.h
  src/core/qgsactionscoperegistry.cpp
  src/gui/editorwidgets/qgsactionwidgetwrapper.cpp
  src/ui/qgsattributeactionpropertiesdialogbase.ui
Labels: Feature, Freeze Exempt, Forms, GUI/UX

#48588 Fix leak of ept provider metadata, lots of related issues
  src/gui/qgsproviderguiregistry.cpp
Labels: GUI/UX

#48619 Fix missing scope in relation-reference filters
  src/core/qgsfeaturepickermodelbase.cpp
Labels: Bug, Widgets, backport queued_ltr_backports

#48597 DXF Export: deduplicate codecs list
  src/core/dxf/qgsdxfexport.cpp
Labels: DXF/DWG, Bug, Easy fix, backport queued_ltr_backports

#48596 Fix point displacement and cluster renderer handling of multipoint layers
  src/core/symbology/qgspointdistancerenderer.cpp
  src/core/symbology/qgspointdistancerenderer.h
  src/gui/symbology/qgspointclusterrendererwidget.cpp
  src/gui/symbology/qgspointdisplacementrendererwidget.cpp
  tests/src/python/test_qgspointclusterrenderer.py
  tests/src/python/test_qgspointdisplacementrenderer.py
  tests/testdata/control_images/cluster_renderer/expected_cluster_multipoint/expected_cluster_multipoint.png
  tests/testdata/control_images/displacement_renderer/expected_displacement_multipoint/expected_displacement_multipoint.png
Labels: GUI/UX, backport queued_ltr_backports

#48625 [OGR provider] Layer metadata saving: use toUtf8() to avoid encoding issues on Windows (fixes #47435)
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
Labels: backport release-3_22

#48603 fix handling of algorithm flags in modeler tree view (fix #48586)
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
Labels: Processing, GUI/UX, Bug, backport queued_ltr_backports

#48602 correctly restore state of the Processing settings when search text is cleared (fix #34543)
  python/plugins/processing/gui/ConfigDialog.py
Labels: Processing, Bug, backport queued_ltr_backports

#48601 fill in inputs in the Processing batch dialog starting from the first empty row (fix #43869)
  python/plugins/processing/gui/BatchPanel.py
Labels: Processing, Bug, backport queued_ltr_backports

#48630 Fix potential crash if canvas is deleted before cad dock
  python/gui/auto_generated/qgsadvanceddigitizingfloater.sip.in
  src/gui/qgsadvanceddigitizingfloater.cpp
  src/gui/qgsadvanceddigitizingfloater.h
Labels: GUI/UX, backport release-3_22

#48497 Server WMS temporal properties support
  python/core/auto_generated/vector/qgsvectorlayertemporalproperties.sip.in
  src/core/vector/qgsvectorlayertemporalproperties.cpp
  src/core/vector/qgsvectorlayertemporalproperties.h
  src/server/qgsserverprojectutils.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_TemporalProperties_date_filter/WMS_GetMap_TemporalProperties_date_filter.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_TemporalProperties_datetime_filter/WMS_GetMap_TemporalProperties_datetime_filter.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_TemporalProperties_no_filter/WMS_GetMap_TemporalProperties_no_filter.png
  tests/testdata/qgis_server/db.gpkg
  tests/testdata/qgis_server/test_project_wms_filter.gpkg
  tests/testdata/qgis_server/test_project_wms_grouped_layers.gpkg
  tests/testdata/qgis_server/wms_tile_buffer_data.gpkg
  tests/testdata/qgis_server_accesscontrol/geo.gpkg
Labels: Feature, Freeze Exempt, Server, Temporal

#48644 Server EXTERNAL_WMS case insensitive
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsrendercontext.cpp
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
Labels: Bug, Server, backport release-3_22

#48616 Fix crash in qgsrelationwidgetwrapper
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
Labels: GUI/UX, Bug

#48649 ignore non-existent items when collecting selected options in multipleselection widget (fix #47728)
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
Labels: Processing, GUI/UX, Bug, backport release-3_22

#48638 Add support for map field types to memory provider
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/providers/memory/qgsmemoryproviderutils.cpp
  src/gui/qgsnewmemorylayerdialog.cpp
  tests/src/python/test_provider_memory.py
Labels: GUI/UX

#48646 improve parameter conversion for use in source iterating mode (fix #48383)
  src/core/processing/qgsprocessingutils.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, Bug, backport queued_ltr_backports

#48600 fix output items placement when they are added after addition of the algorithm item (fix #48132)
  src/gui/processing/models/qgsmodelgraphicsscene.cpp
Labels: Processing, GUI/UX, Bug, backport queued_ltr_backports

#48629 Fix stack use after free in model designer
  src/core/processing/models/qgsprocessingmodelchildalgorithm.cpp
Labels: backport release-3_22

#48628 Fix buffer overflow in interpolated percentile calculation
  src/analysis/processing/qgsrasteranalysisutils.cpp
Labels: backport release-3_22

#48641 Fix switching attribute table to multiedit mode can immediately apply changes to selected features
  src/gui/qgsattributeform.cpp
  tests/src/app/testqgsattributetable.cpp
Labels: GUI/UX, Crash/Data Corruption, backport release-3_22

#48682 Fix crash when removing unavailable layers in the handle unavailable layers dialog
  src/app/qgslayertreeviewfilterindicator.cpp
  src/app/qgslayertreeviewindicatorprovider.cpp
Labels: Crash/Data Corruption, backport release-3_22

#48666 Map canvas: avoid pan action freeze after use of middle mouse button …
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
Labels: GUI/UX, Bug, backport release-3_22

#48687 Fix crash after running model from history dialog
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: Crash/Data Corruption, backport release-3_22

#48617 Add simple bash script to run tests as done by CI
  .ci/config.ctest
  .ci/run_tests.sh
  .docker/docker-qgis-build.sh
  .docker/docker-qgis-test.sh
  .docker/docker-variables.env
Labels: testsuite

#48686 Fix slow layout view when atlas is enabled with legend filter enabled
  src/core/layout/qgslayoutitemlegend.cpp
Labels: backport release-3_22

#48693 [Topology checker] Fix dialog for gaps. Fixes #29136
  src/plugins/topology/checkDock.cpp
Labels: Bug, Topology checker, backport release-3_22

#48618 fallback to EPSG:4326 as output CRS in Nominatim geocoder algorithm (fix #48385)
  src/analysis/processing/qgsalgorithmbatchnominatimgeocode.cpp
  src/analysis/processing/qgsalgorithmbatchnominatimgeocode.h
Labels: Processing, Bug, backport queued_ltr_backports

#48515 Fix estimated featureCount on Oracle views
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  tests/src/python/test_provider_oracle.py
Labels: Oracle data provider, backport release-3_22

#48712 Fix processing gui test on newer python versions
  python/plugins/processing/gui/NumberInputPanel.py
Labels: backport release-3_22

#48709 Fix crash after running model from history dialog (3.22 backport)
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: Backport, Crash/Data Corruption

#48713 Update test masks for composition converter
  tests/testdata/control_images/compositionconverter/expected_importComposerAtlas_0/expected_importComposerAtlas_0_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplateHtml_0/default/expected_importComposerTemplateHtml_0.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplateHtml_0/default/expected_importComposerTemplateHtml_0_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplateHtml_0/fedora/expected_importComposerTemplateHtml_0.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplateLegend_0/expected_importComposerTemplateLegend_0_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplateMap_0/expected_importComposerTemplateMap_0_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplate_0/default/expected_importComposerTemplate_0.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplate_0/default/expected_importComposerTemplate_0_mask.png
  tests/testdata/control_images/compositionconverter/expected_importComposerTemplate_0/fedora/expected_importComposerTemplate_0.png
Labels: backport release-3_22

#48711 Fix race in background indexing leading to crash while snapping
  src/core/qgspointlocator.cpp
Labels: Crash/Data Corruption, backport release-3_22

#48696 Add sublayers as group to current layer/group
  src/app/qgisapp.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports

#48717 Disable geonode tests which rely on remote service which is no longer online
  tests/src/core/testqgsgeonodeconnection.cpp
Labels: backport release-3_22

#48734 Fix running auth basic test on newer python
  tests/src/python/test_qgsauthbasicmethod.py
Labels: backport release-3_22

#48751 fix rendering crash during mesh editing
  src/core/mesh/qgsmeshlayerrenderer.cpp
Labels: Bug, Crash/Data Corruption, Mesh, backport release-3_22

#48750 fix mesh calculator dialog time combo boxes
  src/app/mesh/qgsmeshcalculatordialog.cpp
Labels: GUI/UX, Bug, Mesh, backport release-3_22

#48756 Add layer opacity widget in mesh layer renderer properties widget
  src/gui/mesh/qgsrenderermeshpropertieswidget.cpp
  src/ui/mesh/qgsrenderermeshpropswidgetbase.ui
Labels: GUI/UX

#48757 Don't hide parts of the mesh renderer widget if the layer is invalid
  src/gui/mesh/qgsrenderermeshpropertieswidget.cpp
Labels: GUI/UX

#48760 avoid deleting mesh dataset name when renaming
  src/gui/mesh/qgsmeshdatasetgrouptreeview.cpp
Labels: GUI/UX, Bug, Mesh

#48763 Use snapped point for elevation canvas when showing map point in map canvas
  python/gui/auto_generated/elevation/qgselevationprofilecanvas.sip.in
  src/app/elevation/qgselevationprofilewidget.cpp
  src/app/elevation/qgselevationprofilewidget.h
  src/gui/elevation/qgselevationprofilecanvas.cpp
  src/gui/elevation/qgselevationprofilecanvas.h
Labels: GUI/UX

#48773 fix build on msvc
  tests/src/core/geometry/testqgslinestring.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#48692 [OGR provider] Invalidate cached OGR datasources when the file has been changed in between
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/qgsvectorfilewriter.cpp
Labels: Bug, backport release-3_22

#48781 [processing] Fix FILE_TYPE parameter of the "Split Vector Layer" native algorithm
  src/analysis/processing/qgsalgorithmsplitvectorlayer.cpp
Labels: backport release-3_22

#48783 MetaSearch: update OARec record model links
  python/plugins/MetaSearch/search_backend.py
Labels: Metadata, MetaSearch

#48788 Update values dependencies only if attribute form is not initializing
  src/gui/qgsattributeform.cpp
Labels: GUI/UX

#48796 Partial fix for #48748: take geom column name
  src/providers/postgres/qgspostgresdataitems.cpp
Labels: Bug, PostGIS data provider, backport queued_ltr_backports
