Repository qgis/QGIS, pull requests merged in 2022-08, with the labels that each got.

#49525 Fixed flake issue with unit tests
  python/plugins/processing/algs/qgis/voronoi.py
  python/plugins/processing/gui/AlgorithmDialog.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_oracle.py
  tests/src/python/test_provider_shapefile.py
  tests/src/python/test_provider_spatialite.py
  tests/src/python/test_provider_virtual.py
  tests/src/python/test_qgsdataitem.py
  tests/src/python/test_qgsexternalstorage_base.py
  tests/src/python/test_qgsissue7244.py
  tests/src/python/test_qgsqueryresultmodel.py
  tests/src/python/test_qgsrelationeditwidget.py
  tests/src/python/test_qgsrelationpostgres.py
  tests/src/python/test_qgsserver_api.py
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/src/python/test_qgssettings.py
  tests/src/python/test_qgsvectorlayer_namedstyle.py
  tests/src/python/test_qgsvectorlayerfeaturecounter.py
  tests/testdata/qgis_local_server/layer_attribute_form.py
Labels: backport release-3_22, backport release-3_26

#49506 Fix qt QLayout::removeWidget: Cannot remove a null widget warning
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/qgslayerstylingwidget.cpp
  src/gui/qgspanelwidgetstack.cpp
Labels: Cleanup, GUI/UX

#49473 Use new driver metadata in GDAL 3.6 to determine connection capabilities
  python/core/auto_generated/providers/qgsabstractdatabaseproviderconnection.sip.in
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  src/core/providers/ogr/qgsogrproviderconnection.cpp
  src/core/providers/qgsabstractdatabaseproviderconnection.h
  src/gui/qgsnewvectortabledialog.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
Labels: GUI/UX, PostGIS data provider

#49532 Avoid another qt warning about removing null widgets
  src/app/qgsdevtoolspanelwidget.cpp
Labels: backport release-3_22, backport release-3_26

#49554 Fix another nullptr remove widget warning
  src/app/qgsdockablewidgethelper.cpp
Labels: backport queued_ltr_backports, backport release-3_22

#49520 Add relations export option to package alg
  src/analysis/processing/qgsalgorithmpackage.cpp
  src/analysis/processing/qgsalgorithmpackage.h
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_processing_packagelayers.py
Labels: Feature, Processing, Needs Documentation, Changelog

#49575 Add some missing Q_OBJECT macros
  src/3d/mesh/qgsmesh3dentity_p.cpp
  src/3d/mesh/qgsmesh3dentity_p.h
  src/3d/mesh/qgsmesh3dgeometry_p.h
  src/3d/mesh/qgsmesh3dmaterial_p.cpp
  src/3d/mesh/qgsmesh3dmaterial_p.h
  src/3d/qgs3dsceneexporter.h
  src/3d/qgscolorramptexture.h
  src/3d/qgsimagetexture.h
  src/3d/qgspointcloudlayerchunkloader_p.h
  src/3d/qgspostprocessingentity.h
  src/3d/qgspreviewquad.h
  src/3d/qgsrulebasedchunkloader_p.h
  src/3d/qgsshadowrenderingframegraph.h
  src/3d/qgsskyboxentity.h
  src/3d/qgsvectorlayerchunkloader_p.h
  src/3d/symbols/qgspointcloud3dsymbol_p.h
  src/3d/terrain/qgsdemterraingenerator.h
  src/3d/terrain/quantizedmeshterraingenerator.h
Labels: backport release-3_22, backport release-3_26

#49591 Remove 'multilinestring may be touching at endpoints' isSimple test
  tests/src/core/geometry/testqgsgeometry.cpp
Labels: backport release-3_22, backport release-3_26

#49612 [processing] Fix extract label crasher with empty outputs saved to geojson
  src/analysis/processing/qgsalgorithmextractlabels.cpp
Labels: Processing, Crash/Data Corruption, backport release-3_26

#49622 Disable image cache threading test on Qt 5.15
  tests/src/core/testqgsimagecache.cpp
Labels: backport release-3_22, backport release-3_26

#49628 Don't try to install SQL server on docker
  .docker/qgis3-qt5-build-deps.dockerfile
Labels: backport release-3_22, backport release-3_26

#49629 Silence QT3D_FUNCTOR deprecation warning
  src/3d/mesh/qgsmesh3dmaterial_p.cpp
  src/3d/qgscolorramptexture.h
  src/3d/terrain/qgsdemterraintilegeometry_p.cpp
  src/3d/terrain/qgsterraintextureimage_p.cpp
Labels: backport release-3_22, backport release-3_26

#49659 Update datum transform dialog test for newer proj
  tests/src/gui/testqgsdatumtransformdialog.cpp
Labels: backport release-3_22, backport release-3_26

#49669 Proper fix for qgis_process test
  tests/src/python/test_qgsprocessexecutable.py
Labels: backport release-3_22, backport release-3_26

#49670 [sip] Fix conversion of null QgsLayoutItem* pointer variant values on newer qt/sip versions
  python/core/conversions.sip
Labels: backport queued_ltr_backports, backport release-3_26

#49671 Fix broken layout 3d map copy settings buttons
  src/app/layout/qgslayout3dmapwidget.cpp
  src/app/layout/qgslayout3dmapwidget.h
Labels: Regression, backport release-3_26

#49672 Fix 3d layout map exports are blank
  src/3d/qgslayoutitem3dmap.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49676 Proper fix for qgis_process test (3.22)
  tests/src/python/test_qgsprocessexecutable.py
Labels: Backport

#49686 test_provider_gdal.py: fix testSanitizeVRT()
  tests/src/python/test_provider_gdal.py
Labels: backport release-3_22, backport release-3_26

#49698 Fix virtual field type detection on some sqlite versions
  src/core/qgsvirtuallayerdefinition.cpp
  src/providers/virtual/qgsvirtuallayerqueryparser.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49703 Update untwine from upstream
  external/untwine/bu/BuPyramid.cpp
  external/untwine/untwine/Untwine.cpp
  external/untwine/untwine/VoxelKey.hpp
Labels: Point Clouds, backport release-3_26

#49673 Use gpkg^^shapefile format for server WFST data format
  tests/src/python/test_qgsserver_accesscontrol.py
  tests/src/python/test_qgsserver_accesscontrol_wfs_transactional.py
  tests/testdata/qgis_server_accesscontrol/helloworld_country.cpg
  tests/testdata/qgis_server_accesscontrol/helloworld_country.dbf
  tests/testdata/qgis_server_accesscontrol/helloworld_country.prj
  tests/testdata/qgis_server_accesscontrol/helloworld_country.qmd
  tests/testdata/qgis_server_accesscontrol/helloworld_country.shp
  tests/testdata/qgis_server_accesscontrol/helloworld_country.shx
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.cpg
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.dbf
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.prj
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.qmd
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.shp
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.shx
  tests/testdata/qgis_server_accesscontrol/helloworld_points.cpg
  tests/testdata/qgis_server_accesscontrol/helloworld_points.dbf
  tests/testdata/qgis_server_accesscontrol/helloworld_points.prj
  tests/testdata/qgis_server_accesscontrol/helloworld_points.qmd
  tests/testdata/qgis_server_accesscontrol/helloworld_points.shp
  tests/testdata/qgis_server_accesscontrol/helloworld_points.shx
  tests/testdata/qgis_server_accesscontrol/project_shp.qgs
Labels: backport release-3_22, backport release-3_26

#49685 [Oracle] Add oracle to save to database action list providers
  src/gui/processing/qgsprocessingoutputdestinationwidget.cpp
Labels: Oracle data provider, backport queued_ltr_backports, backport release-3_26

#49736 Fix testqgsrasterlayer.cpp on newer GDAL versions, and don't modify test source files
  tests/src/core/testqgsrasterlayer.cpp
Labels: backport release-3_22, backport release-3_26

#49752 Use shapefiles for WFST data format (3.26 backport)
  tests/src/python/test_qgsserver_accesscontrol.py
  tests/src/python/test_qgsserver_accesscontrol_wfs_transactional.py
  tests/testdata/qgis_server_accesscontrol/helloworld_country.cpg
  tests/testdata/qgis_server_accesscontrol/helloworld_country.dbf
  tests/testdata/qgis_server_accesscontrol/helloworld_country.prj
  tests/testdata/qgis_server_accesscontrol/helloworld_country.qmd
  tests/testdata/qgis_server_accesscontrol/helloworld_country.shp
  tests/testdata/qgis_server_accesscontrol/helloworld_country.shx
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.cpg
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.dbf
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.prj
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.qmd
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.shp
  tests/testdata/qgis_server_accesscontrol/helloworld_hello.shx
  tests/testdata/qgis_server_accesscontrol/helloworld_points.cpg
  tests/testdata/qgis_server_accesscontrol/helloworld_points.dbf
  tests/testdata/qgis_server_accesscontrol/helloworld_points.prj
  tests/testdata/qgis_server_accesscontrol/helloworld_points.qmd
  tests/testdata/qgis_server_accesscontrol/helloworld_points.shp
  tests/testdata/qgis_server_accesscontrol/helloworld_points.shx
  tests/testdata/qgis_server_accesscontrol/project_shp.qgs
Labels: Backport, backport release-3_22

#49719 [Oracle] log style and addFeatures requests
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  tests/src/python/test_provider_oracle.py
Labels: Oracle data provider

#49730 Keep current map profile tool if line captured
  src/app/elevation/qgsmaptoolprofilecurve.cpp
Labels: backport release-3_26

#49577 Fix broken output encoding in native:dxfexport algorithm
  src/analysis/processing/qgsalgorithmdxfexport.cpp
Labels: Processing, DXF/DWG, Bug, backport queued_ltr_backports, backport release-3_26

#49786 Split test_qgsprocessexecutable.py into two parts
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsprocessexecutable_pt1.py
  tests/src/python/test_qgsprocessexecutable_pt2.py
Labels: backport release-3_22, backport release-3_26

#49790 Fix messed up paths/default file names in model designer export dialogs
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
Labels: GUI/UX, backport release-3_22, backport release-3_26

#49788 Use QMultiMap for qt 6 compatibility
  python/gui/auto_generated/qgsattributeform.sip.in
  src/gui/qgsattributeform.h
Labels: GUI/UX

#49794 Port away from deprecated QPrinter::setPaperSize method
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
  src/gui/qgsconfigureshortcutsdialog.cpp
Labels: GUI/UX

#49800 Port some code away from QRegExp
  src/app/georeferencer/qgsgeorefdelegates.cpp
  src/app/georeferencer/qgsgeorefvalidators.cpp
  src/app/qgsabout.cpp
  src/app/qgsstatusbarcoordinateswidget.cpp
  src/gui/qgsquerybuilder.cpp
Labels: GUI/UX

#49747 [Layout] Fix legend placement on export
  src/core/layout/qgslayoutitemlegend.cpp
  tests/src/python/test_qgslayoutlegend.py
  tests/testdata/control_images/composer_legend/expected_composer_legend_reference_point/expected_composer_legend_reference_point.png
Labels: Bug, Print Layouts, backport queued_ltr_backports, backport release-3_26

#49828 Don't use QVariant::canConvert to test for variant user types
  .ci/test_blocklist_qt6.txt
  src/analysis/processing/qgsalgorithmgeometrybyexpression.cpp
  src/app/labeling/qgsmaptoollabel.cpp
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpressionfunction.cpp
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/core/expression/qgsexpressionutils.cpp
  src/core/expression/qgsexpressionutils.h
  src/core/labeling/qgspallabeling.cpp
  src/core/layout/qgslayoutitemmanualtable.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/models/qgsprocessingmodeloutput.cpp
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/qgsaggregatecalculator.cpp
  src/core/qgsapplication.cpp
  src/core/qgsxmlutils.cpp
  src/gui/processing/models/qgsmodelgraphicsscene.cpp
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingmodelerparameterwidget.cpp
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
  src/gui/processing/qgsprocessingoutputdestinationwidget.cpp
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/qgsdetaileditemdelegate.cpp
  src/gui/vector/qgsfieldcalculator.cpp
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/postgres/qgspostgresexpressioncompiler.cpp
  src/providers/virtual/qgsvirtuallayersqlitemodule.cpp
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/analysis/testqgsprocessingmodelalgorithm.cpp
  tests/src/core/geometry/testqgsgeometry.cpp
  tests/src/core/geometry/testqgspointxy.cpp
  tests/src/core/geometry/testqgsrectangle.cpp
  tests/src/core/testqgsexpression.cpp
  tests/src/gui/testprocessinggui.cpp
  tests/src/gui/testqgstableeditor.cpp
Labels: GUI/UX, PostGIS data provider

#49822 When deleting a map canvas, first clear all the pointers to that canvas from child map tools
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmaptool.h
Labels: GUI/UX, Crash/Data Corruption

#49839 Fix incorrect authid to char comparisons in server landing page
  src/server/services/landingpage/qgslandingpageutils.cpp
Labels: backport release-3_22, backport release-3_26

#49830 move mid marker when both line endpoints are out of the extent
  src/app/vertextool/qgsvertextool.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49592 set circle as default shape tool
  src/app/maptools/qgsmaptoolsdigitizingtechniquemanager.h
  src/app/maptools/qgsmaptoolshapecircle2points.cpp
  src/app/maptools/qgsmaptoolshapecircle2points.h
  src/gui/qgsmaptoolcapture.cpp
Labels: GUI/UX, Digitizing, backport release-3_26

#49873 Bring back CP949 codec in QgsDxfExport. Fixes #44756
  src/core/dxf/qgsdxfexport_p.h
Labels: DXF/DWG, Regression, Bug, backport queued_ltr_backports, backport release-3_26

#49879 Don't show selection menu on non spatial layers
  src/app/qgsmaptoolselect.cpp
Labels: backport release-3_22, backport release-3_26

#49876 Fix html widget expression with newlines
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
  tests/src/gui/testqgshtmlwidgetwrapper.cpp
Labels: GUI/UX, Bug, Widgets, backport queued_ltr_backports, backport release-3_26

#49872 fix hiding snap indicators when done using advanced digitizing
  src/gui/qgsadvanceddigitizingdockwidget.cpp
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_26

#49856 [processing] Harmonize tags in algs related to error finding and fixing
  python/plugins/processing/algs/qgis/CheckValidity.py
  src/analysis/processing/qgsalgorithmfixgeometries.cpp
  src/analysis/processing/qgsalgorithmremoveduplicatevertices.cpp
Labels: Processing

#49833 Fix missing encodings for the dxf exporter
  src/core/dxf/qgsdxfexport.cpp
Labels: DXF/DWG, Regression, Bug, backport queued_ltr_backports, backport release-3_26

#49884 create default layer name even when the layer name widget is disabled
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
Labels: GUI/UX

#49899 [qt6][themes] Fix drop down arrow position for instant popup tool buttons
  resources/themes/Blend of Gray/icons/arrow-down-disabled.svg
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/icons/arrow-down-disabled.svg
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_22, backport release-3_26

#49898 Fix vector tile style conversion of fill opacity from interpolation list
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport queued_ltr_backports, backport release-3_26

#49907 Fix unreported issue with default field values exp context
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
Labels: GUI/UX, Bug

#49905 Aggressive but not stupid broken layers resolve
  src/app/layers/qgsapplayerhandling.cpp
Labels: Bug

#49868 Fix rollback not leaving a consistent state for buffered transaction
  python/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/vector/qgsvectorlayereditbuffergroup.sip.in
  src/core/project/qgsproject.h
  src/core/vector/qgsvectorlayereditbuffergroup.cpp
  src/core/vector/qgsvectorlayereditbuffergroup.h
  tests/src/python/test_qgsvectorlayereditbuffergroup.py
Labels: backport release-3_26

#49874 Fetch geometries when conditional formatting rule requires it
  python/core/auto_generated/qgsconditionalstyle.sip.in
  src/core/qgsconditionalstyle.cpp
  src/core/qgsconditionalstyle.h
  src/gui/attributetable/qgsdualview.cpp
  tests/src/python/test_qgsconditionalstyle.py
Labels: Attribute Table, GUI/UX, Bug, backport queued_ltr_backports, backport release-3_26

#49824 Fix some race conditions in QgsTileDownloadManager
  .ci/test_blocklist_qt6.txt
  src/core/qgstiledownloadmanager.cpp
  src/core/qgstiledownloadmanager.h
Labels: backport queued_ltr_backports, backport release-3_26

#49913 Fix vector tile style conversion of fill opacity from interpolation list (3.26 backport)
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Backport, backport queued_ltr_backports

#49917 The first stop in a vector tile style stops array should be treated as >=
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport queued_ltr_backports, backport release-3_26

#49911 Don't equate unknown location accuracy with invalid locations
  src/app/gps/qgsgpsinformationwidget.cpp
  src/core/gps/qgsgpsconnection.cpp
Labels: Regression, backport release-3_22, backport release-3_26

#49912 [gps] Fix log filename widget is always disabled, use QgsFileWidget
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpsinformationwidget.h
  src/app/qgssettingsregistryapp.cpp
  src/ui/qgsgpsinformationwidgetbase.ui
Labels: backport queued_ltr_backports, backport release-3_26

#49910 Don't show incorrect bearing line when calculating bearing from gps movement and GPS hasn't moved
  src/app/gps/qgsgpsinformationwidget.cpp
Labels: GPS

#49915 [vectortiles] Support vector tiles URLs which point directly to a ESRI vector tile service resources/styles/root.json endpoint
  src/core/vectortile/qgsvectortilelayer.cpp
  src/core/vectortile/qgsvectortilelayer.h
Labels: backport queued_ltr_backports, backport release-3_26

#49916 Support longlong variant types when converting mapbox gl styles
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49838 Fix broken regexps in server which disable the layer/attribute name cleaning
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfsutils.h
  src/server/services/wms/qgswmsgetcontext.cpp
Labels: Bug, Server

#49927 Use "MS SQL Server" for user facing texts
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/gui/qgsmanageconnectionsdialog.cpp
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlsourceselect.cpp
  src/providers/mssql/qgsmssqltransaction.cpp
  src/ui/qgisapp.ui
  src/ui/qgsmssqlnewconnectionbase.ui
Labels: GUI/UX

#49938 Fix some race conditions in QgsTileDownloadManager (3.26)
  .ci/test_blocklist_qt6.txt
  src/core/qgstiledownloadmanager.cpp
  src/core/qgstiledownloadmanager.h
Labels: Backport, backport queued_ltr_backports

#49937 Fix vector tile style conversion of fill opacity from interpolation list (3.22 backport)
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Backport

#49941 Stablise svg cache test
  tests/src/core/testqgssvgcache.cpp
Labels: backport queued_ltr_backports, backport release-3_22, backport release-3_26

#49347 [3D] qgs3dmapcanvaswidget: Prevent configure dialog from being modal
  src/app/3d/qgs3dmapcanvaswidget.cpp
Labels: 3D

#49957 enable Postgres tests with Qt6
  .github/workflows/run-tests.yml
Labels: Squash!

#47295 Don't show AddFeatureButton for spatial layer (only AddFeatureGeometry)
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
  src/ui/qgsrelationeditorconfigwidgetbase.ui
Labels: GUI/UX

#49966 [COPC] Use case insensitive matching when checking if range queries are supported
  src/core/pointcloud/qgslazinfo.cpp
Labels: Bug, Point Clouds, backport release-3_26

#49981 Remove extremely outdated assumption in QgsVectorLayer::selectedFeatures() resulting in poor selection performance
  src/core/vector/qgsvectorlayer.cpp
Labels: Optimization, backport queued_ltr_backports, backport release-3_26

#49835 Backport LTR: Fix unreported credentials exposure on connection lost
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresprojectstorage.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
Labels: Backport, Bug

#49849 [processing] Add generic option to show feature count for vector outputs
  python/plugins/processing/core/ProcessingConfig.py
  python/plugins/processing/gui/Postprocessing.py
Labels: Processing, Needs Documentation

#49448 [fix] inconsistent access to plugin metadata "update_date"
  src/app/pluginmanager/qgspluginmanager.cpp
Labels: Plugin manager, backport queued_ltr_backports, backport release-3_26

#49977 [ui] Ask for confirmation (which can be turned off) when deleting features
  src/app/qgisapp.cpp
Labels: GUI/UX

#49852 Fix #47810 - zoom last and next with rotated map looses scale
  src/gui/qgsmapcanvas.cpp
  tests/src/gui/testqgsmapcanvas.cpp
Labels: GUI/UX

#49462 Use OGR instead of spatialite to retrieve tables
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
Labels: Backport

#49867 Prevent dropping a gpkg file over another another one and show nicer message
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: GUI/UX

#49974 Fix new WCS connection from Data Source Manager
  src/gui/qgsowssourceselect.cpp
  src/providers/wms/qgswmssourceselect.cpp
Labels: GUI/UX, backport release-3_26

#49425 More informative warning on shape capture option
  src/gui/qgsmaptoolcapture.cpp
Labels: stale, GUI/UX, backport release-3_26

#49483 fix(server): Add warning level to warning error parsing post data as XML
  src/server/qgsrequesthandler.cpp
Labels: Server, backport queued_ltr_backports, backport release-3_26

#49922 Allow control over GPS location marker
  src/app/CMakeLists.txt
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpsmarker.cpp
  src/app/gps/qgsgpsmarker.h
  src/app/options/qgsgpsoptions.cpp
  src/app/options/qgsgpsoptions.h
  src/app/options/qgsoptions.cpp
  src/app/qgisapp.cpp
  src/app/qgspointmarkeritem.cpp
  src/app/qgspointmarkeritem.h
  src/app/qgssettingsregistryapp.cpp
  src/ui/qgsgpsinformationwidgetbase.ui
  src/ui/qgsgpsoptionswidgetbase.ui
Labels: Feature, GPS, Needs Documentation, Changelog

#50009 Fix qt warnings about invalid regex when browser encounters files
  src/gui/qgsbrowsertreeview.cpp
Labels: GUI/UX

#49485 fix(server): Add level to log messages in Service registry
  src/server/qgsserviceregistry.cpp
Labels: Server, backport queued_ltr_backports, backport release-3_26

#50016 Convert correcly proxy port when reading ogr layers
  src/core/qgsgdalutils.cpp
  tests/src/core/testqgsogrprovider.cpp
Labels: Data Provider, Bug, backport queued_ltr_backports, backport release-3_26

#49883 [ui] Ask user before closing expression dialog if expression was edited
  python/gui/auto_generated/qgsexpressionbuilderdialog.sip.in
  src/gui/qgsexpressionbuilderdialog.cpp
  src/gui/qgsexpressionbuilderdialog.h
Labels: GUI/UX

#49458 Attempt to control line labels anchor clip widgets stretching
  src/gui/labeling/qgslabelinggui.cpp
  src/ui/labeling/qgslabellineanchorwidgetbase.ui
Labels: GUI/UX

#49280 Export pointcloud layers
  python/core/auto_generated/pointcloud/qgspointcloudlayerexporter.sip.in
  python/core/core_auto.sip
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/core/CMakeLists.txt
  src/core/pointcloud/qgspointcloudlayerexporter.cpp
  src/core/pointcloud/qgspointcloudlayerexporter.h
  src/gui/CMakeLists.txt
  src/gui/pointcloud/qgspointcloudlayersaveasdialog.cpp
  src/gui/pointcloud/qgspointcloudlayersaveasdialog.h
  src/ui/pointcloud/qgspointcloudlayersaveasdialogbase.ui
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgspointcloudlayerexporter.cpp
Labels: Feature, GUI/UX, Needs Documentation, Point Clouds

#50029 fix normals in border of no data values
  src/core/mesh/qgsmeshlayerutils.cpp
Labels: 3D, Bug, Mesh

#50031 Add "Toggle Editing" to mesh layer contextual menu
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: Mesh
