Repository qgis/QGIS, pull requests merged in 2022-04, with the labels that each got.

#48035 Report untwine errors to the user
  python/core/auto_generated/pointcloud/qgspointcloudlayer.sip.in
  src/app/qgisapp.cpp
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.h
  src/providers/pdal/qgspdaleptgenerationtask.cpp
  src/providers/pdal/qgspdaleptgenerationtask.h
  src/providers/pdal/qgspdalprovider.cpp
Labels: Bug, Point Clouds

#48061 [symbology] Fix raster line's hairline width/thickness
  src/core/symbology/qgslinesymbollayer.cpp
  tests/src/python/test_qgsrasterlinesymbollayer.py
  tests/testdata/control_images/symbol_rasterline/expected_rasterline_hairline/expected_rasterline_hairline.png
Labels: backport release-3_24

#48042 Fix postgres save project when user type Enter
  src/providers/postgres/qgspostgresprojectstoragedialog.cpp
  src/providers/postgres/qgspostgresprojectstoragedialog.h
Labels: PostGIS data provider, backport queued_ltr_backports, backport release-3_24

#48033 Insert processing results at the top of the optional results group
  python/plugins/processing/gui/Postprocessing.py
Labels: Processing

#47836 Remove the "terrain" clamping mode when a line layer is set to render as simple lines
  src/app/3d/qgsline3dsymbolwidget.cpp
  src/app/3d/qgsline3dsymbolwidget.h
  src/ui/3d/line3dsymbolwidget.ui
Labels: stale

#47924 Ignore symbol layer types which do not have colors (raster fill, marker, etc) when calculating overall symbol colors (3.22)
  python/core/auto_generated/symbology/qgsfillsymbollayer.sip.in
  python/core/auto_generated/symbology/qgsinterpolatedlinerenderer.sip.in
  python/core/auto_generated/symbology/qgsmarkersymbollayer.sip.in
  python/core/auto_generated/symbology/qgsmasksymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
  src/core/symbology/qgsinterpolatedlinerenderer.cpp
  src/core/symbology/qgsinterpolatedlinerenderer.h
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/core/symbology/qgsmasksymbollayer.cpp
  src/core/symbology/qgsmasksymbollayer.h
  src/core/symbology/qgssymbol.cpp
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  tests/src/python/test_qgssymbol.py
Labels: Backport

#47940 More responsive abortion of XYZ layer render requests
  src/providers/wms/qgswmsprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#47942 Fix setting vector tile layer maximum tile zoom to levels > 14
  python/core/auto_generated/vectortile/qgsvectortilematrixset.sip.in
  src/core/vectortile/qgsvectortilelayer.cpp
  src/core/vectortile/qgsvectortilematrixset.cpp
  src/core/vectortile/qgsvectortilematrixset.h
  tests/src/python/test_qgsvectortile.py
Labels: backport release-3_24

#48074 [network] Update default disk cache size to 256mb
  src/app/options/qgsoptions.cpp
  src/core/network/qgsnetworkaccessmanager.cpp
  src/server/qgsserversettings.cpp
Labels: Server, Networking, backport release-3_22, backport release-3_24

#47840 Fix regression when adding feature without geom #46687
  src/gui/qgsmaptooldigitizefeature.cpp
Labels: Editing, Regression, Bug

#47050 Server: Use lastModified() for refreshing config cache as alternate strategy
  python/server/auto_generated/qgsconfigcache.sip.in
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgsconfigcache.cpp
  src/server/qgsconfigcache.h
  src/server/qgsserver.cpp
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_configcache.py
Labels: Feature, Server, Needs Documentation, Changelog

#48089 Add method to retrieve axis order for a QgsCoordinateReferenceSystem
  python/core/auto_additions/qgis.py
  python/core/auto_generated/proj/qgscoordinatereferencesystem.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/conversions.sip
  scripts/sipify.pl
  src/core/proj/qgscoordinatereferencesystem.cpp
  src/core/proj/qgscoordinatereferencesystem.h
  src/core/qgis.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgscoordinatereferencesystem.py
Labels: API

#47952 Use OGR instead of spatialite to retrieve tables
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
Labels: Optimization, Data Provider, Bug

#47796 Fix server WFS describe outputformat
  src/server/services/wfs/qgswfsparameters.cpp
  src/server/services/wfs/qgswfsparameters.h
  tests/src/python/test_qgsserver_wfs.py
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_24

#48097 Make sure CRS axis ordering is respected for map canvas' copy coordinates and goto locator
  python/core/auto_generated/proj/qgscoordinatereferencesystemutils.sip.in
  src/app/locator/qgsgotolocatorfilter.cpp
  src/core/proj/qgscoordinatereferencesystemutils.cpp
  src/core/proj/qgscoordinatereferencesystemutils.h
  src/gui/qgsmapcanvas.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
  tests/src/python/test_qgscoordinatereferencesystemutils.py
Labels: Needs Documentation

#48124 🐛 Fix for reports section not remembering last used field
  src/app/layout/qgsreportfieldgroupsectionwidget.cpp
Labels: backport release-3_22, backport release-3_24

#47724 MetaSearch: update startindex to items
  python/plugins/MetaSearch/search_backend.py
Labels: stale, MetaSearch

#48129 [wmst/xyz] Use the tile download manager to fetch tiles
  src/core/qgsapplication.cpp
  src/core/qgstiledownloadmanager.cpp
  src/core/qgstiledownloadmanager.h
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
Labels: backport release-3_24

#48119 [OGR provider] (Hopefully) fix opening of GeoPackage from network share on Windows with GDAL >= 3.4.2 (fixes #48003)
  src/core/providers/ogr/qgsogrproviderutils.cpp
Labels: backport release-3_22, backport release-3_24

#48148 processing: fix scripts directory reset on windows
  python/plugins/processing/script/ScriptUtils.py
Labels: backport queued_ltr_backports, backport release-3_24

#48157 QgsVectorFileWriter: fix when adding a new layer to an already opened GPKG file (fixes #48154)
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/test_qgsvectorfilewriter.py
Labels: backport release-3_22, backport release-3_24

#48176 add method to clear rendering cache
  src/quickgui/qgsquickmapcanvasmap.cpp
  src/quickgui/qgsquickmapcanvasmap.h
Labels: Quick

#48179 Add a tool to profile dock to generate an elevation profile for an existing line feature
  images/images.qrc
  images/themes/default/mActionCaptureCurveFromFeature.svg
  python/gui/auto_generated/qgsidentifymenu.sip.in
  src/app/CMakeLists.txt
  src/app/elevation/qgselevationprofilewidget.cpp
  src/app/elevation/qgselevationprofilewidget.h
  src/app/elevation/qgsmaptoolprofilecurvefromfeature.cpp
  src/app/elevation/qgsmaptoolprofilecurvefromfeature.h
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/qgsmaptoolselectionhandler.cpp
  src/gui/qgsidentifymenu.cpp
  src/gui/qgsidentifymenu.h
  src/gui/qgsrubberband.cpp
Labels: Feature, GUI/UX, Needs Documentation, Changelog

#48181 add new refresh() method to MapCanvasWrapper to clear render cache and repaint map
  src/quickgui/plugin/qgsquickmapcanvas.qml
Labels: Quick

#48226 fix #47921
  src/core/vector/qgsvectorlayerjoinbuffer.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#48212 Fix installation of grid shift files (Fix #48193)
  src/gui/qgsinstallgridshiftdialog.cpp
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_24

#48151 [backport release-3_24][wmst/xyz] Use the tile download manager to fetch tiles
  src/core/qgsapplication.cpp
  src/core/qgstiledownloadmanager.cpp
  src/core/qgstiledownloadmanager.h
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
Labels: Backport

#48241 [wms] Re-enable prefetch of openstreetmap.org XYZ layers
  src/providers/wms/qgswmsprovider.cpp
Labels: backport release-3_24

#48250 [ui] Fix broken img within HTML labels when referring to qrc images
  python/pyplugin_installer/installer.py
  src/app/qgsprojectlistitemdelegate.cpp
Labels: backport release-3_22, backport release-3_24

#48247 [qgsquick] Better handling of deferred painting, always rely on timer triggered refreshMap()
  src/quickgui/qgsquickmapcanvasmap.cpp
  src/quickgui/qgsquickmapcanvasmap.h
Labels: Quick

#48229 Save and load (to/from xml) dontResolveType setting for PG connections (Fix #48223)
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_24

#48268 fix incorrect attribute form for default values with geometry
  src/gui/qgsattributeform.cpp
Labels: GUI/UX

#48211 More efficient 2d point cloud rendering for remote sources
  src/core/pointcloud/qgspointcloudlayerrenderer.cpp
Labels: Point Clouds

#48267 Display correct shortcut for profiles-path in command line
  src/app/main.cpp
Labels: backport release-3_22, backport release-3_24

#48265 Add some missing PG connection configurations in order to be saved and loaded (to/from xml)
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_24

#48278 Point cloud infrared data reading
  src/core/pointcloud/qgslazdecoder.cpp
  src/core/pointcloud/qgslazinfo.cpp
Labels: Bug, Point Clouds

#48299 Handle gracefully the corner case where a elevation plot is completely flat
  src/gui/elevation/qgselevationprofilecanvas.cpp
Labels: GUI/UX

#48306 Trim rule expression
  src/gui/labeling/qgsrulebasedlabelingwidget.cpp
Labels: Labeling, GUI/UX, Bug, backport release-3_22, backport release-3_24

#48317 Try to fix ogc test environment
  .ci/ogc/Dockerfile
Labels: backport queued_ltr_backports, backport release-3_22, backport release-3_24

#48296 Fix crash when terrain is disabled in 3d map settings
  python/3d/auto_generated/qgs3dmapsettings.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapsettings.h
  src/3d/qgs3dsceneexporter.cpp
  src/3d/qgs3dutils.cpp
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmapcanvaswidget.cpp
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports, backport release-3_24

#48336 Fix serious crasher which occurs when manipulating layer tree with styling panel open
  src/gui/qgsproxystyle.cpp
Labels: GUI/UX, backport release-3_22, backport release-3_24

#48350 Enable LZM compression when saving map as tiff image
  src/core/maprenderer/qgsmaprenderertask.cpp
Labels: backport release-3_24

#48346 Add support for no-geometry layer styles with Oracle provider
  .docker/docker-qgis-test.sh
  src/providers/oracle/qgsoracleprovider.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_24

#47835 Disable backface culling on terrain
  src/3d/terrain/qgsterraintileloader_p.cpp
Labels: 3D

#48358 Add shortcuts for nudging the elevation profile curve left and right
  src/app/elevation/qgselevationprofilewidget.cpp
  src/app/elevation/qgselevationprofilewidget.h
  src/app/qgisapp.cpp
Labels: Feature, Needs Documentation, Changelog

#48369 Add some low-level optimised methods for geos routines for point objects
  src/core/geometry/qgsgeos.cpp
  src/core/geometry/qgsgeos.h
Labels: Optimization

#48344 Fix crash of endless loop when having a recursive many-to-many relations in relationeditor
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports, backport release-3_24
