Repository qgis/QGIS, pull requests merged in 2022-10, with the labels that each got.

#50256 Make it clear when feature count is estimated
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: Bug, backport release-3_22

#49583 Resolves #49578 ('Delete holes' bug when 'area' argument is used)
  doc/CONTRIBUTORS
  python/core/auto_generated/geometry/qgslinestring.sip.in
  resources/data/contributors.json
  src/core/geometry/qgscurvepolygon.cpp
  src/core/geometry/qgslinestring.h
  tests/src/core/geometry/testqgscurvepolygon.cpp
Labels: backport release-3_22

#50349 Fix opacity SLD export
  src/core/symbology/qgsfillsymbollayer.cpp
  tests/src/python/test_qgssymbollayer.py
Labels: Bug, backport queued_ltr_backports, SLD support

#50450 Removed some unnecessary repeated multiplications in loops
  src/core/geometry/qgslinestring.cpp
Labels: Optimization

#50485 Make QgsFeature::clearGeometry a no-op if feature already has no geometry
  src/core/qgsfeature.cpp
Labels: Optimization

#50474 Fix potential crash in QgsFloatingWidget
  src/gui/qgsfloatingwidget.h
Labels: GUI/UX, Crash/Data Corruption, backport release-3_22

#50463 [raster] Fix inverted color filter and non-opaque pixels
  src/core/raster/qgshuesaturationfilter.cpp
  tests/src/python/test_qgsrasterlayer.py
  tests/testdata/control_images/expected_raster_invertsemiopaquecolors/expected_raster_invertsemiopaquecolors.png
Labels: backport release-3_22

#50479 Remove auxiliary storage table after removing a vector layer from a p…
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  tests/src/python/test_qgsauxiliarystorage.py
Labels: Bug

#50501 Fix QgsFileWidget does not reactivate widget's window after selecting a file/folder via the browse button on mac
  src/gui/qgsfilewidget.cpp
Labels: GUI/UX, backport queued_ltr_backports

#50473 [themes] Fix line edit placeholder text color
  resources/themes/Blend of Gray/palette.txt
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/palette.txt
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_22

#50441 fix new vertex Z value on edge during mesh editing
  src/app/mesh/qgsmaptooleditmeshframe.cpp
Labels: Bug, Mesh, backport release-3_22

#50453 Fix #47525
  python/gui/auto_generated/qgscolorwidgets.sip.in
  src/gui/qgscolorwidgets.cpp
  src/gui/qgscolorwidgets.h
  src/gui/qgscompoundcolorwidget.cpp
Labels: GUI/UX, backport queued_ltr_backports

#50508 Fix reversed iterator check when iterating over map
  src/core/vector/qgsvectorlayereditbuffer.cpp
Labels: backport queued_ltr_backports

#50504 Fix broken logic in clearing python console history
  python/console/console_sci.py
Labels: backport queued_ltr_backports

#50506 Fix extension detection for raster processing output
  src/core/processing/qgsprocessingprovider.cpp
Labels: Processing, Bug, backport queued_ltr_backports

#50497 Fix unwanted side effect with QgsAccessControl filter cache
  python/server/auto_generated/qgsaccesscontrol.sip.in
  src/server/qgsaccesscontrol.cpp
  src/server/qgsaccesscontrol.h
  src/server/qgsserver.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_accesscontrol_fix_filters.py
Labels: Bug, Server, backport release-3_22

#50527 Remove query logger empty settings menu button
  src/app/devtools/querylogger/qgsqueryloggerpanelwidget.cpp
Labels: Bug

#50496 Check if labels/diagrams are enabled before checking if we can show/h…
  src/app/labeling/qgsmaptoolshowhidelabels.cpp
Labels: Labeling, Bug, backport queued_ltr_backports

#50374 Fix opacity for vector tile layer
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/server/wms/CMakeLists.txt
  tests/src/server/wms/test_qgsserver_wms_vector_tile.cpp
Labels: Bug, Server, backport queued_ltr_backports

#50377 Allow no dataset group when exporting mesh elements in processing
  src/analysis/processing/qgsalgorithmexportmesh.cpp
  src/core/processing/qgsprocessingparametermeshdataset.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, Regression, Bug, Mesh, backport release-3_22

#50537 Fix #50535 spatialite insert logging
  src/providers/spatialite/qgsspatialiteprovider.cpp
Labels: Bug

#50484 [ogr] Optimise attribute population during feature iteration
  src/core/providers/ogr/qgsogrfeatureiterator.cpp
  src/core/providers/ogr/qgsogrfeatureiterator.h
Labels: Optimization

#50455 Manual backport of #50295 grid multiline labels
  src/core/layout/qgslayoutitemmapgrid.cpp
Labels: Backport, Bug, backport queued_ltr_backports

#50521 [Backport to queued_ltr_backports] Pass stepWidth/stepHeight parameter to external WMS layer
  src/server/services/wms/qgswmsparameters.cpp
Labels: Backport

#50542 fix edge search in mesh element tool
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/core/mesh/qgsmeshlayer.cpp
  tests/src/app/testqgsmaptooleditmesh.cpp
  tests/src/core/testqgsmeshlayer.cpp
Labels: Bug, Mesh, backport release-3_22

#50557 export mesh to vector layer, fix invalid fields
  src/analysis/processing/qgsalgorithmexportmesh.cpp
Labels: Processing, Bug, Mesh, backport release-3_22

#50533 Avoid endless recursion when evaluating aggregate expressions
  src/core/expression/qgsexpressionutils.cpp
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  tests/src/core/testqgsvectorlayer.cpp
Labels: Expressions, Bug, backport queued_ltr_backports

#49530 Handle QgsUnsetAttributeValues in ogr provider
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: stale

#50399 GUI: Fix mismatch in Data Source Manager modeless option (3.22) (release-3_22)
  src/app/qgisapp.cpp
Labels: GUI/UX, Data Source Manager

#50563 Increase ci test timeout to 90 seconds
  .ci/config.ctest
Labels: backport queued_ltr_backports, backport release-3_22

#50555 Fix build WITH_GSL=OFF
  src/app/qgssettingsregistryapp.cpp
Labels: Build/Install, backport queued_ltr_backports

#50554 Improve selection of PostGIS raster overviews
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
Labels: Bug, PostGIS data provider, backport queued_ltr_backports

#50577 Fix crash on empty polygon conversion to curve
  src/core/geometry/qgspolygon.cpp
  tests/src/core/geometry/testqgspolygon.cpp
Labels: backport release-3_22

#50573 Fixes spatialite savepoint not removed after rollback.
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_spatialite.py
Labels: Data Provider, Bug, backport queued_ltr_backports

#50498 Angle and offset properties of symbol layers are hidden
  src/core/qgsauxiliarystorage.cpp
  tests/src/python/test_qgsauxiliarystorage.py
Labels: Bug

#50593 QgisApp::handleDropUriList(): fix crash
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports

#50447 QgsVectorLayer: add addMultiRing and use it in QgsMapToolAddRing
  python/core/auto_generated/vector/qgsvectorlayereditutils.sip.in
  src/app/qgsmaptooladdring.cpp
  src/core/vector/qgsvectorlayereditutils.cpp
  src/core/vector/qgsvectorlayereditutils.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsvectorlayereditutils.py
Labels: Bug, backport queued_ltr_backports

#50608 Cleanup temporary python test config path when requested
  python/testing/__init__.py
Labels: Bug, testsuite

#50556 fix refinement crash when face has more than 4 vertices
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  src/core/mesh/qgsmeshadvancedediting.cpp
  tests/src/core/testqgsmesheditor.cpp
Labels: Bug, Crash/Data Corruption, Mesh, backport release-3_22

#50625 [Fix] QgsOgcUtils::nodeLiteralFromOgcFilter: convert empty Literal OGC Filter element
  src/core/qgsogcutils.cpp
  tests/src/python/test_qgsogcutils.py
Labels: Bug, Server, backport queued_ltr_backports

#50560 Fix unreported crash on windows when unquoted content-disposition filename
  src/core/qgsaction.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_22

#50310 suggest to fix topological mesh error when starting mesh editing
  python/core/auto_generated/mesh/qgsmesheditor.sip.in
  python/core/auto_generated/mesh/qgsmeshlayer.sip.in
  src/app/qgisapp.cpp
  src/core/mesh/qgsmesheditor.cpp
  src/core/mesh/qgsmesheditor.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgstriangularmesh.cpp
  src/core/mesh/qgstriangularmesh.h
  tests/src/app/testqgsmaptooleditmesh.cpp
  tests/src/core/testqgsmesheditor.cpp
  tests/testdata/mesh/with_flat_face.2dm
  tests/testdata/mesh/with_free_vertex_in_mesh.2dm
  tests/testdata/mesh/with_manifold_face.2dm
  tests/testdata/mesh/with_unique_shared_vertex.2dm
Labels: Bug, Crash/Data Corruption, Mesh

#50248 Update qgsnmeaconnection.cpp : satellite INUSE (true / false) in satellitesInView (QgsSatelliteInfo) and Update for issue #50462
  src/core/gps/qgsnmeaconnection.cpp
Labels: GPS

#50637 updated parameters for r.sim.sediment
  python/plugins/grassprovider/description/r.sim.water.txt
Labels: GRASS, backport queued_ltr_backports

#49870 Allow hiding empty layers in sublayers dialog
  python/core/auto_generated/providers/qgsprovidersublayermodel.sip.in
  src/app/qgsprovidersublayersdialog.cpp
  src/core/providers/qgsprovidersublayermodel.cpp
  src/core/providers/qgsprovidersublayermodel.h
  src/ui/qgsprovidersublayersdialogbase.ui
  tests/src/python/test_qgsprovidersublayermodel.py
Labels: Freeze Exempt

#50645 Create output directory for 3D animation if it does not exist
  src/3d/qgs3dutils.cpp
Labels: 3D, Bug

#50430 Add QgsCodeEditorR code editor subclass for R scripts
  python/gui/auto_generated/codeeditors/qgscodeeditorr.sip.in
  python/gui/gui_auto.sip
  src/app/options/qgscodeeditoroptions.cpp
  src/gui/CMakeLists.txt
  src/gui/codeeditors/qgscodeeditorr.cpp
  src/gui/codeeditors/qgscodeeditorr.h
  src/ui/qgscodeditorsettings.ui
Labels: API, GUI/UX

#50656 msvc: build qgscoordinatereferencesystem.cpp with /bigobj
  src/core/CMakeLists.txt
Labels: backport release-3_28

#50659 QString fixup
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/raster/qgsrasterattributetable.cpp
  src/providers/hana/qgshanaconnectionstringbuilder.cpp
  src/providers/wfs/qgswfsprovider.cpp
  tests/src/core/testqgsvectorlayer.cpp
Labels: HANA data provider

#50651 TilesXYZ.py - setTransformContext before rendering
  python/plugins/processing/algs/qgis/TilesXYZ.py
Labels: backport queued_ltr_backports, backport release-3_28

#50662 Fix QgsVariantUtils::isNull not building on some compilers
  src/core/qgsvariantutils.cpp
Labels: backport release-3_28

#50664 Restrict UiTools to gui and app
  CMakeLists.txt
  src/app/CMakeLists.txt
  src/gui/CMakeLists.txt
Labels: backport release-3_28

#50666 Add missing include
  src/providers/postgres/qgspostgresprovidermetadatautils.cpp
Labels: PostGIS data provider, backport release-3_28

#49438 [Fix] Server WFS: Date time with ISO Date time field format
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_describeFeatureType_1_0_0_typename_datetime_dim_1_0_0.txt
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_typename_datetime_dim.txt
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_typename_datetime_str.txt
  tests/testdata/qgis_server/wfs_getfeature_datetime_1_0_0.txt
  tests/testdata/qgis_server/wfs_getfeature_datetime_str_1_0_0.txt
  tests/testdata/qgis_server_accesscontrol/datetime_str.dbf
  tests/testdata/qgis_server_accesscontrol/datetime_str.prj
  tests/testdata/qgis_server_accesscontrol/datetime_str.shp
  tests/testdata/qgis_server_accesscontrol/datetime_str.shx
  tests/testdata/qgis_server_accesscontrol/project_with_dimensions.qgs
Labels: Bug, Server, backport queued_ltr_backports

#50629 [symbology] Fix group layer not rendering properly when magnifier != 100% or when effect is on
  python/core/auto_generated/raster/qgsrasterdrawer.sip.in
  src/core/raster/qgsrasterdrawer.cpp
  src/core/raster/qgsrasterdrawer.h
  src/core/raster/qgsrasterlayerrenderer.cpp
  tests/src/python/test_qgsgrouplayer.py
  tests/testdata/control_images/group_layer/expected_group_magnification/expected_group_magnification.png
  tests/testdata/control_images/selective_masking/different_dpi_target_vector/different_dpi_target_vector_mask.png
  tests/testdata/control_images/selective_masking/different_dpi_target_vector_hdpi/different_dpi_target_vector_hdpi_mask.png
  tests/testdata/control_images/selective_masking/layout_export/layout_export_mask.png
  tests/testdata/control_images/selective_masking/layout_export_2_sources_masking/layout_export_2_sources_masking_mask.png
  tests/testdata/control_images/selective_masking/layout_export_marker_masking/layout_export_marker_masking_mask.png
  tests/testdata/control_images/selective_masking/layout_export_w_raster/layout_export_w_raster_mask.png
Labels: Bug, backport release-3_28

#50676 Fix crash on exit
  src/app/qgisapp.cpp
Labels: backport release-3_22, backport release-3_28

#50681 Fix CRS returned by QgsCoordinateReferenceSystem::toGeographicCrs returns false to isGeographic() test
  src/core/proj/qgscoordinatereferencesystem.cpp
  tests/src/core/testqgscoordinatereferencesystem.cpp
Labels: backport queued_ltr_backports, backport release-3_28

#50381 New layer tree insertion methods (on top of tree, optimal) and sorting of drag and dropped layers
  python/core/auto_additions/qgis.py
  python/core/auto_generated/layertree/qgslayertreeregistrybridge.sip.in
  python/core/auto_generated/layertree/qgslayertreeutils.sip.in
  python/core/auto_generated/qgis.sip.in
  python/gui/auto_generated/layertree/qgslayertreeview.sip.in
  src/app/layers/qgsapplayerhandling.cpp
  src/app/layers/qgsapplayerhandling.h
  src/app/options/qgsoptions.cpp
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/layertree/qgslayertreeregistrybridge.cpp
  src/core/layertree/qgslayertreeregistrybridge.h
  src/core/layertree/qgslayertreeutils.cpp
  src/core/layertree/qgslayertreeutils.h
  src/core/qgis.h
  src/gui/layertree/qgslayertreeview.cpp
  src/gui/layertree/qgslayertreeview.h
  src/ui/qgsoptionsbase.ui
Labels: Feature, GUI/UX

#50701 [themes] Fix menu item color regression with Night Mapping
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/palette.txt
  resources/themes/Night Mapping/style.qss
Labels: Bug, backport release-3_22, backport release-3_28

#50691 move digitizing mode button to simple digitize toolbar
  src/app/maptools/qgsmaptoolsdigitizingtechniquemanager.cpp
Labels: backport release-3_28

#50683 [Backport queued_ltr_backports] [Fix] Server WFS: Date time with ISO Date time field format
  src/server/services/wfs/qgswfsdescribefeaturetype.cpp
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_describeFeatureType_1_0_0_typename_datetime_dim_1_0_0.txt
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_typename_datetime_dim.txt
  tests/testdata/qgis_server/wfs_describeFeatureType_1_1_0_typename_datetime_str.txt
  tests/testdata/qgis_server/wfs_getfeature_datetime_1_0_0.txt
  tests/testdata/qgis_server/wfs_getfeature_datetime_str_1_0_0.txt
  tests/testdata/qgis_server_accesscontrol/datetime_str.dbf
  tests/testdata/qgis_server_accesscontrol/datetime_str.prj
  tests/testdata/qgis_server_accesscontrol/datetime_str.shp
  tests/testdata/qgis_server_accesscontrol/datetime_str.shx
  tests/testdata/qgis_server_accesscontrol/project_with_dimensions.qgs
Labels: Bug, Server

#50728 UX - Switch from level info to level success when appropriate
  python/pyplugin_installer/installer.py
  src/providers/oracle/qgsoraclenewconnection.cpp
  src/providers/postgres/qgspgnewconnection.cpp
Labels: PostGIS data provider

#50739 Fix again the HTML widget newline inside exp
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
  tests/src/gui/testqgshtmlwidgetwrapper.cpp
Labels: Bug, Widgets, backport release-3_22, backport release-3_28
