Repository qgis/QGIS, pull requests merged in 2022-02, with the labels that each got.

#47107 Text improvements for crash handler dialog
  src/crashhandler/qgscrashdialog.cpp
  src/crashhandler/qgscrashdialog.ui
Labels: GUI/UX

#47115 export usage for when exporting map
  src/app/qgsmapsavedialog.cpp
Labels: Bug

#47110 Don't use custom palette in crash handler dialog, this results in unreadable text on dark themes
  src/crashhandler/qgscrashdialog.ui
Labels: backport queued_ltr_backports

#47119 When temporal range changes we must invalidate the previous labeling solution if any time-enabled vector layers have labels enabled
  src/gui/qgsmapcanvas.cpp
Labels: backport queued_ltr_backports

#47123 Fix #46538, fix misleading warning when uninstall experimental plugin
  python/pyplugin_installer/installer.py
Labels: backport queued_ltr_backports

#47056 WFS provider: use expression query builder when adding a filter, if a SQL request is not already set
  src/providers/wfs/qgswfsprovidergui.cpp
Labels: backport queued_ltr_backports

#47130 [processing] Fix python exception raised after running in-place algorithm which requires no parameters (Backport)
  python/plugins/processing/ProcessingPlugin.py
Labels: Backport

#47135 QgsVectorTileLayerRenderer::render(): fix nullptr deref in error code path (spotted by cppcheck)
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
Labels: backport release-3_22

#47134 Don't hardcode arial font for georeferencer status bar text
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/georeferencer/qgsgeorefmainwindow.h
Labels: backport queued_ltr_backports

#47136 Don't use custom palette in crash handler dialog, this results in unreadable text on dark themes (Backport)
  src/crashhandler/qgscrashdialog.ui
Labels: Backport

#47148 Fix HTML excape in file writer tooltips
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
Labels: GUI/UX, Bug, backport release-3_22

#47138 QgsDistanceArea::bearing can raise QgsCsExceptions, so ensure that these are always gracefully caught
  python/core/auto_generated/qgsdistancearea.sip.in
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/qgsmaptoolmeasureangle.cpp
  src/app/qgsmaptoolmeasurebearing.cpp
  src/core/qgsdistancearea.h
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmaptoolpan.cpp
Labels: backport release-3_22

#47152 [processing] fix signature of the QgsMeshDatasetGroups parameter when exporting to Python code
  src/core/processing/qgsprocessingparametermeshdataset.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, backport release-3_22

#47149 Conversion between QgsCoordinateReferenceSystem and OGRSpatialReference: use authId as much as possible
  src/core/qgsogrutils.cpp
  tests/src/core/testqgsogrutils.cpp
Labels: backport queued_ltr_backports

#47161 Fix incorrect return code from QgsProcessingModelAlgorithm::fromFile when file does not exist
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: backport release-3_22

#47167 fix relation editor not taking the whole vertical space in form
  src/gui/qgsattributeform.cpp
  src/gui/qgsrelationeditorwidget.cpp
Labels: backport release-3_22

#47029 Fixes WFS EXP_FILTER parsing in GetFeature request
  python/server/auto_generated/qgsserverparameters.sip.in
  src/server/qgsserverparameters.cpp
  src/server/qgsserverparameters.h
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wfs/qgswfsparameters.cpp
  src/server/services/wms/qgswmsparameters.cpp
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wfs_getFeature_exp_filter_2_1_0_0.txt
Labels: Bug, Server, Needs Documentation

#47145 OAPIF source select: fix missing extra query in collections url
  src/providers/wfs/qgsoapiflandingpagerequest.cpp
  src/providers/wfs/qgswfssourceselect.cpp
Labels: Bug, WFS data provider, backport release-3_22

#47174 Fix two issues with varying width interpolated renderer
  src/core/symbology/qgsinterpolatedlinerenderer.cpp
  src/gui/symbology/qgsinterpolatedlinesymbollayerwidget.cpp
Labels: Bug, backport release-3_22

#47181 Add .tsv extension to delimited text supported files filter
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
Labels: backport release-3_22

#47185 Fix editing a number parameter definition in modeler
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Regression, backport release-3_22

#47182 [themes] Fix hard to read tooltips with Night Mapping
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport queued_ltr_backports

#47186 Default to "Model Input" sources for map layer parameters when configuring a new algorithm
  python/gui/auto_generated/processing/qgsprocessingmodelerparameterwidget.sip.in
  python/gui/auto_generated/processing/qgsprocessingwidgetwrapper.sip.in
  src/gui/processing/qgsprocessingmodelerparameterwidget.h
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
  src/gui/processing/qgsprocessingwidgetwrapper.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, GUI/UX

#47173 Homogenize number of decimal places in Identify tool (fix #27929)
  src/core/qgsunittypes.cpp
  src/gui/qgsmaptoolidentify.cpp
  tests/src/app/testqgsmaptoolidentifyaction.cpp
  tests/src/python/test_qgsunittypes.py
Labels: GUI/UX

#47191 Fix issues with edits to model outputs getting discarded
  python/plugins/processing/modeler/ModelerGraphicItem.py
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
  python/plugins/processing/modeler/ModelerParametersDialog.py
  src/core/processing/models/qgsprocessingmodelchildalgorithm.cpp
  src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp
  tests/src/analysis/testqgsprocessingmodelalgorithm.cpp
Labels: Processing

#47219 Fix algorithm parameter values do not get correctly re-attached after pasting content into a new model
  src/gui/processing/models/qgsmodelgraphicsview.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, backport queued_ltr_backports

#47216 Show descriptive errors when a model algorithm parameter value is set to be taken from an invalid expression
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.h
  tests/src/analysis/testqgsprocessingmodelalgorithm.cpp
Labels: Processing, backport queued_ltr_backports

#47218 Fix silent loss of models if file save name dialog is canceled (Backport)
  python/gui/auto_generated/processing/models/qgsmodeldesignerdialog.sip.in
  python/plugins/processing/modeler/ModelerDialog.py
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
  src/gui/processing/models/qgsmodeldesignerdialog.h
Labels: Backport

#47229 Fix expression preview width on QByteArray
  src/core/expression/qgsexpression.cpp
Labels: GUI/UX, Bug, backport release-3_22

#47205 [processing] GDAL "Rasterize (vector to raster)" alg: make the 'EXTENT' parameter optional and transform it to the source layer CRS
  python/plugins/processing/algs/gdal/rasterize.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
  python/plugins/processing/tests/testdata/gdal_algorithm_raster_tests.yaml
Labels: backport queued_ltr_backports

#47236 [qgis_process] Add unit test for running algorithm with very complex parameter names
  tests/src/python/test_qgsprocessexecutable.py
  tests/testdata/complex_names.py
Labels: Processing

#47238 Rename "MSSQL" text to "MS SQL Server" in browser/data source manager
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqlprovidergui.cpp
Labels: Needs Documentation

#47199 WMS GetPrint ignore excluded layout
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getprint.py
  tests/testdata/qgis_server_accesscontrol/project.qgs
Labels: Bug, Server, backport queued_ltr_backports

#47198 WFS GetFeature document and exceptions
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_wfs.py
Labels: Bug, Server, backport queued_ltr_backports

#47258 accept "true" as a valid value in the "hasProcessingProvider" metadata (fix #41120)
  src/python/qgspythonutils.h
  src/python/qgspythonutilsimpl.cpp
  tests/src/app/testqgisapppython.cpp
  tests/testdata/test_plugin_path/ProcessingPluginTest2/__init__.py
  tests/testdata/test_plugin_path/ProcessingPluginTest2/metadata.txt
Labels: Processing, backport queued_ltr_backports

#47256 [OGR provider] Invalidate /vsicurl/ RAM cache on a specific filename …
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
Labels: backport queued_ltr_backports

#47243 UX - Review tooltip about dimensions in QGIS server dialog
  src/gui/vector/qgswmsdimensiondialog.cpp
  src/ui/qgswmsdimensiondialogbase.ui
Labels: GUI/UX, Server

#47245 Fix form pop-up suppress on relation-ref widget
  src/gui/editorwidgets/qgsrelationwidgetwrapper.cpp
Labels: Forms, Bug, backport release-3_22

#47249 Fix layout attr table sorting with spaces
  src/gui/layout/qgslayoutattributeselectiondialog.cpp
Labels: Bug, Print Layouts, backport release-3_22

#47267 Fix repairing/changing data source for delimited text layers drops delimited text setup
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports

#47214 Server: some parameters for external wms layers are case sensitive
  src/server/services/wms/qgswmsparameters.cpp
Labels: Server

#47271 Fix server crash (unreported)
  src/server/qgsserverparameters.cpp
Labels: Regression, Bug, Crash/Data Corruption, Server, backport release-3_22

#47272 Fix loading of storage projects from command line
  src/app/main.cpp
Labels: Bug

#47277 DXF export: fix crash on some MultiPolygon geometries when offset != 0 (fixes #46245)
  src/core/dxf/qgsdxfexport.cpp
Labels: backport queued_ltr_backports

#47316 [vectortile] Add a symbol pointer null check
  src/core/vectortile/qgsvectortilebasicrenderer.cpp
Labels: backport release-3_22

#47307 Fix missing scrollbars in combo box for value map / relation
  src/gui/editorwidgets/qgsvaluemapwidgetwrapper.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
Labels: Bug, backport queued_ltr_backports

#47303 Fix wrong height calculation in layout attr table
  src/core/layout/qgslayouttable.cpp
Labels: Bug, Print Layouts, backport queued_ltr_backports

#47296 Fix #47244: respect minimum value in optional numeric parameter
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: backport queued_ltr_backports

#47323 [gui] Fix value map editor widget configuration's load from CSV parsing
  src/gui/editorwidgets/qgsvaluemapconfigdlg.cpp
  src/gui/editorwidgets/qgsvaluemapconfigdlg.h
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsvaluemapconfigdlg.cpp
  tests/testdata/valuemapsample.csv
Labels: Forms, GUI/UX, backport queued_ltr_backports

#47059 Use variables to set postgresql connection config in authmanager test
  tests/src/python/test_authmanager_pki_postgres.py
Labels: stale

#47336 Correctly raise exceptions from XYZ tiles algorithm threads, and fix Python 3.10 compatibility
  python/plugins/processing/algs/qgis/TilesXYZ.py
Labels: backport release-3_22

#47345 replace tabs with spaces in the attribute form init function template (fix #46988)
  src/gui/vector/qgsattributesformproperties.cpp
Labels: backport queued_ltr_backports

#47354 Fix crash when opening projects and a custom bad layer handler has been set
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Crash/Data Corruption, backport release-3_22

#47318 Fix server OAPIF bbox reprojection
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer25832_bbox.json
Labels: Bug, Server, backport release-3_22

#47365 Temporarily add smani/mingw-extras COPR repo for dependencies missing in rawhide
  ms-windows/mingw/mingwdeps.sh
Labels: backport queued_ltr_backports, backport release-3_22

#47359 Fix crash when opening projects and a custom bad layer handler has been set
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: Backport, Crash/Data Corruption

#47371 export usage when exporting WMS XYZ raster layer
  src/core/raster/qgsrasterfilewritertask.cpp
Labels: Bug

#47380 Fix crash when $uuid is used in an expression
  src/core/expression/qgsexpressionnodeimpl.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_22

#47390 Trust primary key of layers setup by DBManager TopoViewer plugin
  python/plugins/db_manager/db_plugins/postgis/plugins/qgis_topoview/__init__.py
Labels: DB Manager, backport release-3_22

#47411 MDAL 0.9.4
  external/mdal/frmts/mdal_hec2d.cpp
  external/mdal/frmts/mdal_hec2d.hpp
  external/mdal/mdal.cpp
Labels: backport release-3_22

#47413 Fix crash when interpolating angle on a multipoint
  src/core/geometry/qgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Crash/Data Corruption, backport release-3_22

#47421 Use docked widget size when undocking the first time
  src/app/qgsdockablewidgethelper.cpp
Labels: GUI/UX, 3D

#47423 fix mesh calculator aggregate on file
  src/core/mesh/qgsmeshcalcutils.cpp
  tests/src/analysis/testqgsmeshcalculator.cpp
Labels: Regression, Bug, Crash/Data Corruption, Mesh, backport release-3_22

#47425 Fix maptiler hmac sha256 signature when URL contains spaces
  src/auth/maptiler_hmacsha256/core/qgsauthmaptilerhmacsha256method.cpp
Labels: Bug

#47418 replace comma in layer name with underscore when exporting layer to DXF (fix #47381)
  src/core/dxf/qgsdxfexport.cpp
Labels: backport queued_ltr_backports

#47018 Add a "Skip" option for custom environmental variables in Settings->Options->Environment
  src/app/main.cpp
  src/app/options/qgsoptions.cpp
Labels: Feature, Merge After Thaw, Needs Documentation, Changelog

#47358 Add QgsFields()['field_name'] getter for PyQGIS
  python/core/auto_generated/qgsfields.sip.in
  src/core/qgsfields.h
  tests/src/python/test_qgsfields.py
Labels: Feature, API, Merge After Thaw, PyQGIS

#47412 Allow data-defined control over line anchor type
  python/core/auto_generated/labeling/qgspallabeling.sip.in
  src/core/labeling/qgslabellinesettings.cpp
  src/core/labeling/qgspallabeling.cpp
  src/core/labeling/qgspallabeling.h
  src/gui/labeling/qgslabellineanchorwidget.cpp
  src/ui/labeling/qgslabellineanchorwidgetbase.ui
  tests/src/core/testqgslabelingengine.cpp
Labels: Feature, Labeling, Changelog

#47432 Fix NULL HTML edit widget
  src/gui/editorwidgets/qgstexteditwrapper.cpp
Labels: Forms, Bug, backport queued_ltr_backports, backport release-3_24

#47431 [auxiliary storage] Avoid needless spatialite database connection
  src/core/qgsauxiliarystorage.cpp
  src/core/qgsauxiliarystorage.h
Labels: Bug, backport queued_ltr_backports, backport release-3_24

#47392 Avoid modal dialogs in relation reference / relation editor
  python/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayertools.sip.in
  src/app/qgsfeatureaction.cpp
  src/app/qgsfeatureaction.h
  src/app/qgsguivectorlayertools.cpp
  src/app/qgsguivectorlayertools.h
  src/core/qgstrackedvectorlayertools.cpp
  src/core/qgstrackedvectorlayertools.h
  src/core/vector/qgsvectorlayertools.h
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
  tests/src/python/test_qgsrelationeditwidget.py
Labels: Bug, backport queued_ltr_backports

#47467 Advanced digitizing: be nice with non-dot locales
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsadvanceddigitizingdockwidget.cpp
Labels: Bug, Digitizing, Localization

#47491 Fix attribute name in get_feature docs
  resources/function_help/json/get_feature
Labels: backport release-3_24

#47416 Fix value relation widget can silently change attribute values to NULL
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
  tests/src/python/test_qgseditwidgets.py
Labels: backport release-3_22, backport release-3_24

#47494 Include the developer_name in the appdata file
  linux/org.qgis.qgis.appdata.xml.in
Labels: backport release-3_22, backport release-3_24

#47496 Split testqgsprocessingalgs.cpp into two parts to avoid timeouts on CI
  src/analysis/processing/qgsalgorithmgpsbabeltools.h
  src/analysis/processing/qgsalgorithmimportphotos.h
  src/analysis/processing/qgsalgorithmkmeansclustering.h
  src/analysis/processing/qgsalgorithmrasterlogicalop.h
  tests/src/analysis/CMakeLists.txt
  tests/src/analysis/testqgsprocessingalgspt1.cpp
  tests/src/analysis/testqgsprocessingalgspt2.cpp
Labels: backport release-3_24

#47492 Drop unused context_help files
  resources/context_help/QgsAttributeTableDialog
  resources/context_help/QgsComposer
  resources/context_help/RgSettingsDlg
  resources/context_help/RgShortestPathWidget
  scripts/astyle.sh
  scripts/context_help_id.py
  scripts/replace_console_i18n.pl
  scripts/update_indent.sh
Labels: Cleanup

#47493 Remove DB2 Provider
  debian/qgis-providers.install
  images/images.qrc
  images/themes/default/mActionAddDb2Layer.svg
  images/themes/default/mIconDb2.svg
  ms-windows/osgeo4w/package.cmd
  python/gui/auto_generated/qgsmanageconnectionsdialog.sip.in
  src/auth/basic/core/qgsauthbasicmethod.cpp
  src/gui/qgsmanageconnectionsdialog.cpp
  src/gui/qgsmanageconnectionsdialog.h
  src/providers/CMakeLists.txt
  src/providers/db2/CMakeLists.txt
  src/providers/db2/qgsdb2dataitemguiprovider.cpp
  src/providers/db2/qgsdb2dataitemguiprovider.h
  src/providers/db2/qgsdb2dataitems.cpp
  src/providers/db2/qgsdb2dataitems.h
  src/providers/db2/qgsdb2expressioncompiler.cpp
  src/providers/db2/qgsdb2expressioncompiler.h
  src/providers/db2/qgsdb2featureiterator.cpp
  src/providers/db2/qgsdb2featureiterator.h
  src/providers/db2/qgsdb2geometrycolumns.cpp
  src/providers/db2/qgsdb2geometrycolumns.h
  src/providers/db2/qgsdb2newconnection.cpp
  src/providers/db2/qgsdb2newconnection.h
  src/providers/db2/qgsdb2provider.cpp
  src/providers/db2/qgsdb2provider.h
  src/providers/db2/qgsdb2providergui.cpp
  src/providers/db2/qgsdb2sourceselect.cpp
  src/providers/db2/qgsdb2sourceselect.h
  src/providers/db2/qgsdb2tablemodel.cpp
  src/providers/db2/qgsdb2tablemodel.h
  src/ui/qgsdb2newconnectionbase.ui
  tests/src/core/testqgsdatasourceuri.cpp
  tests/src/python/test_provider_db2.py
  tests/testdata/provider/testdata_db2.sql
Labels: Cleanup, Changelog

#47499 Fix incorrect doc link
  python/core/auto_generated/project/qgsmapviewsmanager.sip.in
  src/core/project/qgsmapviewsmanager.h
Labels: backport release-3_24

#47510 Fix checkbox search wdgt wrapper bools
  src/gui/editorwidgets/qgscheckboxsearchwidgetwrapper.cpp
  tests/src/python/test_qgssearchwidgetwrapper.py
Labels: Bug, backport queued_ltr_backports, backport release-3_24

#47038 Add more server highlight label parameters
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/src/python/test_qgsserver_wms_getprint_extra.py
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Point_Label_Options/WMS_GetMap_Highlight_Point_Label_Options.png
  tests/testdata/control_images/qgis_server/WMS_GetMap_Highlight_Point_Label_Options/WMS_GetMap_Highlight_Point_Label_Options_mask.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Highlight_Labeldistance/WMS_GetPrint_Highlight_Labeldistance.png
  tests/testdata/control_images/qgis_server/WMS_GetPrint_Highlight_Labeldistance/WMS_GetPrint_Highlight_Labeldistance_mask.png
Labels: Feature, Server, Needs Documentation, Changelog

#47540 [MetaSearch] safeguard OWSLib version handling (#47360)
  python/plugins/MetaSearch/search_backend.py
Labels: Bug, MetaSearch, backport release-3_24

#47564 Allow proper renaming of input parameters in graphical models
  python/core/auto_generated/processing/models/qgsprocessingmodelalgorithm.sip.in
  python/plugins/processing/modeler/ModelerGraphicItem.py
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.h
  tests/src/analysis/testqgsprocessingmodelalgorithm.cpp
Labels: Processing
