Repository qgis/QGIS, pull requests merged in 2022-06, with the labels that each got.

#48803 Ensure layer level expressions work correctly for diagrams
  src/core/vector/qgsvectorlayerdiagramprovider.cpp
  src/core/vector/qgsvectorlayerdiagramprovider.h
  tests/src/core/testqgsdiagram.cpp
  tests/testdata/control_images/diagrams/expected_piediagram_aggregate/expected_piediagram_aggregate.png
Labels: backport queued_ltr_backports

#48811 When a the setting to ask users for coordinate operations is active don't show this dialog for the first layer added to a project
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports

#48835 Fix classified renderer #48303
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
Labels: Bug, Point Clouds, backport release-3_22

#48856 Fix a crash in QgsExpressionTreeView
  src/gui/qgsexpressiontreeview.cpp
Labels: GUI/UX, Bug, Crash/Data Corruption, backport release-3_22

#48870 remove unnecessary Q_ASSERT
  src/3d/mesh/qgsmeshterraingenerator.cpp
Labels: Bug, Mesh, backport release-3_22

#48869 fix no saving asked when removing edited mesh layer
  src/app/qgisapp.cpp
Labels: Bug, Mesh, backport release-3_22

#48872 Fix clear values for offset along line spin boxes
  src/gui/symbology/qgssymbollayerwidget.cpp
Labels: GUI/UX, backport release-3_22

#48873 new scratch layer diaog - initially select all name and focus the name widget
  src/gui/qgsnewmemorylayerdialog.cpp
Labels: GUI/UX, backport queued_ltr_backports

#48841 Fix picking values from QgsFeatureListComboBox
  src/gui/qgsfeaturelistcombobox.cpp
Labels: GUI/UX, backport queued_ltr_backports

#48840 Ensure that user create layer default styles take precedence over provider default styles
  src/core/vector/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: Regression, backport release-3_22

#48728 Server: expose composer map item name to project settings
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/getprojectsettings_opacity.txt
Labels: Bug, Server

#48863 Fix raster histogram widget for multiband color renderer and other renderers' contrast enhancement
  python/gui/auto_generated/raster/qgsmultibandcolorrendererwidget.sip.in
  python/gui/auto_generated/raster/qgsrasterrendererwidget.sip.in
  python/gui/auto_generated/raster/qgssinglebandgrayrendererwidget.sip.in
  python/gui/auto_generated/raster/qgssinglebandpseudocolorrendererwidget.sip.in
  src/gui/raster/qgsmultibandcolorrendererwidget.cpp
  src/gui/raster/qgsmultibandcolorrendererwidget.h
  src/gui/raster/qgsrasterhistogramwidget.cpp
  src/gui/raster/qgsrasterrendererwidget.h
  src/gui/raster/qgssinglebandgrayrendererwidget.cpp
  src/gui/raster/qgssinglebandgrayrendererwidget.h
  src/gui/raster/qgssinglebandpseudocolorrendererwidget.cpp
  src/gui/raster/qgssinglebandpseudocolorrendererwidget.h
Labels: Raster, GUI/UX, Bug

#48862 [ui] Fix grid decoration widget spacing issues in dialog
  src/ui/qgsdecorationgriddialog.ui
Labels: backport queued_ltr_backports, backport release-3_22

#48839 Make atlas coverage layer available to expression builder for custom grid format
  src/gui/layout/qgslayoutmapgridwidget.cpp
Labels: GUI/UX, backport queued_ltr_backports

#48875 Fix some undersized icons on hidpi displays
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/gui/vector/qgsdiagramproperties.cpp
Labels: GUI/UX

#48892 Ensure that user create layer default styles take precedence over provider default styles
  src/core/vector/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: Backport

#48895 Fix loss of precision when an extent is manually entered
  src/gui/qgsextentwidget.cpp
  src/gui/qgsextentwidget.h
  tests/src/gui/testprocessinggui.cpp
Labels: GUI/UX, backport release-3_22

#48893 Fix geometry based expression attributes for diagrams
  src/core/vector/qgsvectorlayerdiagramprovider.cpp
  src/core/vector/qgsvectorlayerdiagramprovider.h
  tests/src/core/testqgsdiagram.cpp
  tests/testdata/control_images/diagrams/expected_piediagram_geometry_based_expression/expected_piediagram_geometry_based_expression.png
Labels: backport queued_ltr_backports

#48888 [UI] Measure dialog: display friendly name for ellipsoid.
  src/app/qgsmeasuredialog.cpp
Labels: GUI/UX

#48926 Gdal provider test improvements backport for 3.22
  tests/src/core/testqgsgdalprovider.cpp
Labels: Backport

#48928 Fix capitalization
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: GUI/UX

#48700 Fix crash in QgsVectorLayerUndoCommand
  src/core/vector/qgsvectorlayerundocommand.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/vector/CMakeLists.txt
  tests/src/core/vector/testqgsvectorlayereditbuffer.cpp
  tests/src/core/vector/testqgsvectorlayerundocommand.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_22

#48954 fix #28671
  src/app/qgspuzzlewidget.cpp
Labels: Bug

#48924 Fix crash when copc file is not there
  src/core/pointcloud/qgscopcpointcloudindex.cpp
Labels: Bug, Point Clouds

#48752 Add support for docker-based builds and test in worktrees
  .ci/run_tests.sh
  .docker/docker-compose-testing.yml
  .docker/docker-qgis-test.sh
  .github/workflows/run-tests.yml
  tests/README.md
Labels: Chore, testsuite

#48944 Set contrast enhancement when RGB renderer is selected
  src/gui/pointcloud/qgspointcloudrgbrendererwidget.cpp
Labels: GUI/UX, Bug, Point Clouds

#48941 Fix cases where pointclouds fail to render on 2d
  src/core/pointcloud/qgslazdecoder.cpp
Labels: Bug, Point Clouds

#48969 Don't redraw 3d point clouds when layer profile chart settings are changed
  src/app/pointcloud/qgspointcloudelevationpropertieswidget.cpp
Labels: GUI/UX

#48967 Don't override atlas expression context when rendering map item overview frame as a temporary layer
  src/core/layout/qgslayoutitemmapoverview.cpp
  src/core/maprenderer/qgsmaprendererjob.cpp
  src/core/vector/qgsvectorlayerrenderer.cpp
  src/core/vector/qgsvectorlayerrenderer.h
  tests/src/python/test_qgslayoutmapoverview.py
  tests/testdata/control_images/composer_mapoverview/expected_composermap_overview_atlas_1/expected_composermap_overview_atlas_1.png
  tests/testdata/control_images/composer_mapoverview/expected_composermap_overview_atlas_2/expected_composermap_overview_atlas_2.png
Labels: backport queued_ltr_backports

#48995 Clear middle of segment markers when deactivating the vertex tool
  src/app/vertextool/qgsvertextool.cpp
Labels: Bug, Digitizing

#48994 Fix #47868, open Database Style Manager dialog on the same screen
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: GUI/UX

#48993 Skip PyQgsServerWMSGetFeatureInfo test When server is disabled
  tests/src/python/CMakeLists.txt
Labels: Bug, testsuite, backport release-3_22

#48990 fix loading multiple pointclouds at once
  src/gui/providers/qgspointcloudsourceselect.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports

#48976 Remove test which was has been disabled for a long time
  .ci/test_blocklist_qt5.txt
  .ci/test_blocklist_qt6.txt
  tests/README.md
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgis_local_server.py
Labels: Chore, testsuite

#48986 Fix hovering features in attribute table in dark themes selects them
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
Labels: GUI/UX, backport queued_ltr_backports

#49004 Don't try to install OWSLib on mingw builds
  ms-windows/mingw/mingwdeps.sh
Labels: backport queued_ltr_backports, backport release-3_22

#48996 Fix unreported issue with polygon intersection resulting in a point w…
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsoverlayexpression.cpp
  tests/testdata/polys_overlapping_with_id.dbf
  tests/testdata/polys_overlapping_with_id.shp
  tests/testdata/polys_overlapping_with_id.shx
Labels: Expressions, Bug, backport queued_ltr_backports

#48952 Bugfix gh48918 server getprint multiple maps
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  tests/src/python/test_qgsserver.py
  tests/src/python/test_qgsserver_wms_getprint_maptheme.py
  tests/src/server/wms/test_qgsserver_wms_parameters.cpp
  tests/testdata/qgis_server/test_project_mapthemes.gpkg
  tests/testdata/qgis_server/test_project_mapthemes.qgs
Labels: Bug, Server, backport queued_ltr_backports

#49016 [db manager] Don't load preview layers into project
  python/plugins/db_manager/layer_preview.py
Labels: DB Manager, backport queued_ltr_backports

#48991 fix adding duplicate classification categories
  src/gui/pointcloud/qgspointcloudclassifiedrendererwidget.cpp
Labels: GUI/UX, Bug, Point Clouds

#48992 fix classified 3d renderer on missing or unordered categories
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
Labels: 3D, Bug, Point Clouds

#49032 One more fix for point cloud unicode paths on windows
  src/core/pointcloud/qgscopcpointcloudindex.cpp
Labels: Bug, Point Clouds

#49027 Fix typo in "Detect dataset changes" algorithm
  src/analysis/processing/qgsalgorithmdetectdatasetchanges.cpp
Labels: backport release-3_22

#49028 [backport 3.22] Remove deprecated test
  .ci/test_blocklist_qt5.txt
  .ci/test_blocklist_qt6.txt
  tests/README.md
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgis_local_server.py
Labels: Backport, testsuite

#49042 layer_property(..., 'path') should work for all layer types
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport queued_ltr_backports

#49048 [ui][themes] Fix undesired border line for QFrame widgets
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_22

#48901 Add WMS layers individually
  src/providers/wms/qgswmssourceselect.cpp
  src/ui/qgswmssourceselectbase.ui
Labels: Feature, Merge After Thaw

#49063 [themes] Follow up 216ed99: re-add borders for disabled list/table widgets
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_22, backport release-3_26

#49074 Don't complain about missing paint properties during style conversion
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49044 Correctly set transform for QgsHighlight
  src/gui/qgshighlight.cpp
  tests/src/python/test_qgshighlight.py
  tests/testdata/control_images/highlight/expected_highlight_transform/expected_highlight_transform.png
Labels: GUI/UX, backport queued_ltr_backports

#49080 Make variable sorted, fix #49078
  src/gui/qgspropertyoverridebutton.cpp
Labels: GUI/UX

#49096 Use identifier metadata for raster names when querying sublayers if present
  src/core/providers/gdal/qgsgdalprovider.cpp
  tests/src/core/testqgsgdalprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49094 Fix an unreported bug with overlay expression
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsoverlayexpression.cpp
Labels: Expressions, Bug, backport release-3_26

#49072 fix 3D crash from axis when invalid CRS
  src/3d/qgs3daxis.cpp
Labels: 3D, Bug, Crash/Data Corruption, backport release-3_26

#49090 Enable Journal Wal, increase Timeout use only sqlite transaction
  python/plugins/processing/algs/qgis/TilesXYZ.py
Labels: backport queued_ltr_backports, backport release-3_26

#49114 Use a better approach to highlight selected raster markers/lines which shows a selection color for completely desaturated images
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
Labels: backport queued_ltr_backports, backport release-3_26

#49115 Gracefully handle converting mapbox gl styles with a line-dasharray consisting of an odd number of elements
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport queued_ltr_backports, backport release-3_26

#48904 Fix source tree modifications by PostgreSQL tests
  .docker/docker-compose-testing-postgres.yml
Labels: Bug, testsuite

#49130 Fix #49127 slider widget
  src/gui/qgsslider.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports, backport release-3_26

#48998 WFS/OAPIF: fix filtering on duplicated layers (fixes #48465)
  src/providers/wfs/qgsbackgroundcachedshareddata.cpp
  src/providers/wfs/qgsbackgroundcachedshareddata.h
  src/providers/wfs/qgsoapifprovider.cpp
  src/providers/wfs/qgsoapifprovider.h
  src/providers/wfs/qgswfsdatasourceuri.cpp
  src/providers/wfs/qgswfsdatasourceuri.h
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsshareddata.cpp
  src/providers/wfs/qgswfsshareddata.h
  tests/src/python/providertestbase.py
  tests/src/python/test_provider_wfs.py
Labels: backport release-3_26

#49200 some cleaning in QgsMapToolEditMeshFrame
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
Labels: Optimization, Mesh

#49199 avoid 3D crash
  src/3d/qgsmeshlayer3drenderer.cpp
Labels: Bug, Crash/Data Corruption
