Repository qgis/QGIS, pull requests merged in 2023-03, with the labels that each got.

#52054 update to MDAL v1.0.2
  external/mdal/frmts/mdal_gdal.cpp
  external/mdal/frmts/mdal_gdal.hpp
  external/mdal/frmts/mdal_hec2d.cpp
  external/mdal/frmts/mdal_hec2d.hpp
  external/mdal/frmts/mdal_ugrid.cpp
  external/mdal/mdal.cpp
Labels: Mesh, backport release-3_28

#52048 Renamed the QgsPenStyleComboBox Qt::NoPen entry to "No Line"
  src/gui/symbology/qgspenstylecombobox.cpp
Labels: Needs Documentation

#52078 Don't allow users to set maximum thread count for rendering to 1
  python/core/auto_generated/qgsapplication.sip.in
  src/app/options/qgsrenderingoptions.cpp
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
Labels: backport release-3_28

#52081 Fix some potential overflows in shapeburst fill calculation
  src/core/symbology/qgsfillsymbollayer.cpp
Labels: Crash/Data Corruption, backport release-3_28

#52070 Expose field split policy choice in layer properties > form dialog
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/gui/attributeformconfig/qgsattributetypedialog.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributetypeedit.ui
Labels: Feature, GUI/UX, Needs Documentation, Changelog

#51786 Add ltrim/rtrim functions
  resources/function_help/json/ltrim
  resources/function_help/json/rtrim
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Frozen, Expressions

#52056 Fix encoding choice is ignored in Add Vector Layer dialog
  src/app/layers/qgsapplayerhandling.cpp
Labels: backport release-3_28, backport release-3_30

#52111 [Clang-Tidy] Add generated file dir in clang-tidy call
  .docker/docker-qgis-clangtidy.sh
Labels: Chore

#52107 Fix #50202 Pressing Enter does not upgrade all plugins anymore
  src/ui/qgspluginmanagerbase.ui
Labels: Bug, Plugin manager, backport release-3_28, backport release-3_30

#52117 Move backport bot to 22.04
  .github/workflows/backport.yml
Labels: backport release-3_28, backport release-3_30

#52046 Fix index lost on reload in Attribute Table
  src/gui/attributetable/qgsfeaturelistview.cpp
  src/gui/attributetable/qgsfeaturelistview.h
  tests/src/app/testqgsattributetable.cpp
Labels: backport release-3_30

#52139 Allow filter expressions to be set for vector sources
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/analysis/processing/qgsalgorithmangletonearest.cpp
  src/analysis/processing/qgsalgorithmcalculateoverlaps.cpp
  src/analysis/processing/qgsalgorithmdeleteduplicategeometries.cpp
  src/analysis/processing/qgsalgorithmdetectdatasetchanges.cpp
  src/analysis/processing/qgsalgorithmjoinbynearest.cpp
  src/analysis/processing/qgsalgorithmlinedensity.h
  src/analysis/processing/qgsalgorithmlineintersection.cpp
  src/analysis/processing/qgsalgorithmnearestneighbouranalysis.cpp
  src/analysis/processing/qgsalgorithmrandompointsextent.cpp
  src/analysis/processing/qgsalgorithmrandompointsinpolygons.cpp
  src/analysis/processing/qgsalgorithmrandompointsonlines.cpp
  src/analysis/processing/qgsalgorithmshortestline.cpp
  src/analysis/processing/qgsalgorithmsplitwithlines.cpp
  src/analysis/processing/qgsoverlayutils.cpp
  src/core/classification/qgsclassificationmethod.cpp
  src/core/processing/qgsprocessingcontext.cpp
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  src/gui/processing/qgsprocessingfeaturesourceoptionswidget.cpp
  src/gui/processing/qgsprocessingfeaturesourceoptionswidget.h
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingmaplayercombobox.h
  src/ui/processing/qgsprocessingfeaturesourceoptionsbase.ui
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#52142 Add "Keep disjoint results separate" option to buffer algorithm
  python/plugins/processing/tests/testdata/expected/buffer_dissolve_keep_disjoint.gml
  python/plugins/processing/tests/testdata/expected/buffer_dissolve_keep_disjoint.xsd
  python/plugins/processing/tests/testdata/expected/buffer_keep_disjoint.gml
  python/plugins/processing/tests/testdata/expected/buffer_keep_disjoint.xsd
  python/plugins/processing/tests/testdata/expected/buffer_keep_disjoint_features_disjoint.gml
  python/plugins/processing/tests/testdata/expected/buffer_keep_disjoint_features_disjoint.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests5.yaml
  src/analysis/processing/qgsalgorithmbuffer.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#52150 OGR: fix transaction issue with filtered GPKGs
  src/core/providers/ogr/qgsogrfeatureiterator.cpp
  src/core/qgstransaction.cpp
  src/core/qgstransaction.h
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Bug, backport queued_ltr_backports

#52156 QgsMapToolFillRing::fillRingUnderPoint(): fix -Wmaybe-uninitialized warning
  src/app/qgsmaptoolfillring.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52173 Use gdal::dataset_unique_ptr to store return of GDALOpenEx() (fixes #52052)
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsogrproviderconnection.cpp
  src/core/providers/ogr/qgsogrproviderconnection.h
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.h
Labels: backport queued_ltr_backports, backport release-3_30

#52188 [Python Console] Fix duplicated newline on save (windows)
  python/console/console_editor.py
Labels: Bug, Windows, Python Console, backport release-3_30

#52210 [queued_ltr_backport] Use gdal::dataset_unique_ptr to store return of GDALOpenEx() (fixes #52052)
  src/core/providers/ogr/qgsgeopackagedataitems.cpp
  src/core/providers/ogr/qgsogrproviderconnection.cpp
  src/core/providers/ogr/qgsogrproviderconnection.h
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.h
Labels: Backport

#52204 quantizedmeshterraingenerator: Remove unused setBaseTileFromExtent()
  src/3d/terrain/quantizedmeshterraingenerator.cpp
  src/3d/terrain/quantizedmeshterraingenerator.h
Labels: 3D

#52203 MetaSearch: update paging parameters and bbox for OGC API - Records
  python/plugins/MetaSearch/search_backend.py
Labels: MetaSearch

#52192 Fix incorrect legend key entries are returned for rule based renderers with else rules
  src/core/symbology/qgsrulebasedrenderer.cpp
  tests/src/core/testqgsrulebasedrenderer.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52198 [api] Add a new QgsZipUtils's files() function and a unzip() parameter to skip consistency check
  python/core/auto_generated/qgsziputils.sip.in
  src/core/qgsziputils.cpp
  src/core/qgsziputils.h
  tests/src/python/test_qgsziputils.py
Labels: API, backport release-3_28, backport release-3_30

#52213 fix Global Map Shading z factor value #52189
  src/core/qgselevationshadingrenderer.cpp
  src/ui/qgselevationshadingrenderersettingswidget.ui
Labels: Bug, backport release-3_30

#52231 Fix crashes when interacting with QGIS after a shortcut/action is destroyed
  src/gui/qgsshortcutsmanager.cpp
  src/gui/qgsshortcutsmanager.h
Labels: Crash/Data Corruption, backport release-3_28, backport release-3_30

#52244 3d: Remove unused quantizedmesh path
  src/3d/CMakeLists.txt
  src/3d/terrain/qgsterraintileloader_p.cpp
  src/3d/terrain/quantizedmeshgeometry.cpp
  src/3d/terrain/quantizedmeshgeometry.h
  src/3d/terrain/quantizedmeshterraingenerator.cpp
  src/3d/terrain/quantizedmeshterraingenerator.h
Labels: 3D

#52220 [vector tile] Fix tile background edge artifacts by using a buffered polygon
  python/core/auto_generated/vectortile/qgsvectortilebasicrenderer.sip.in
  python/core/auto_generated/vectortile/qgsvectortilerenderer.sip.in
  src/core/vectortile/qgsvectortilebasicrenderer.cpp
  src/core/vectortile/qgsvectortilebasicrenderer.h
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
  src/core/vectortile/qgsvectortilerenderer.h
Labels: Vector tiles, backport release-3_28, backport release-3_30

#52255 fix mesh traces without feedback in the render context
  src/core/mesh/qgsmeshtracerenderer.cpp
Labels: Bug, backport release-3_30

#52254 fix void context menu of map canvas
  src/gui/qgsmapcanvas.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_30

#52271 fix global map shading when exporting canvas as image
  src/app/qgsmapsavedialog.cpp
Labels: backport release-3_30

#52159 Catch exceptions when trying to load cpp plugins
  src/app/pluginmanager/qgspluginmanager.cpp
Labels: Crash/Data Corruption, backport release-3_30

#51912 make "__file__" available to scripts
  python/console/console_editor.py
  python/console/console_sci.py
Labels: Python Console

#52293 fix #46025
  src/core/qgsvirtuallayerdefinition.cpp
Labels: backport release-3_28, backport release-3_30

#52299 Fix insufficiently escaped backslash in regular expressions
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/core/qgssqlstatement.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/virtual/qgsvirtuallayerqueryparser.cpp
Labels: PostGIS data provider, backport queued_ltr_backports, backport release-3_30

#52303 Reverse wheel zoom
  src/app/options/qgsoptions.cpp
  src/gui/elevation/qgselevationprofilecanvas.cpp
  src/gui/layout/qgslayoutview.cpp
  src/gui/layout/qgslayoutviewtoolmoveitemcontent.cpp
  src/gui/processing/models/qgsmodelgraphicsview.cpp
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapoverviewcanvas.cpp
  src/ui/qgsoptionsbase.ui
Labels: Map Tools, Configs and Options

#52207 qgsterraingenerator: Use Qgs3DUtils
  src/3d/terrain/qgsterraingenerator.cpp
Labels: 3D

#52316 qgs3daxis: Fix camera conf by taking into account terrain offset
  src/3d/qgs3daxis.cpp
Labels: 3D, Bug, backport queued_ltr_backports, backport release-3_30

#51645 [queued_ltr_backports] [OGR] Round-trip milliseconds and timezone in DateTime fields (fixes #48393, fixes #44160)
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsogrutils.cpp
  src/core/qgsogrutils.h
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/featuresourcetestbase.py
  tests/src/python/providertestbase.py
  tests/src/python/test_provider_ogr_gpkg.py
Labels: stale, Backport, Bug

#52208 Improved 3d measure tool
  python/3d/auto_generated/qgs3dmapscene.sip.in
  src/3d/chunks/qgschunkedentity_p.cpp
  src/3d/chunks/qgschunkedentity_p.h
  src/3d/qgs3daxis.cpp
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgs3dmapscenepickhandler.h
  src/3d/qgs3dutils.cpp
  src/3d/qgs3dutils.h
  src/3d/qgspointcloudlayerchunkloader_p.cpp
  src/3d/qgspointcloudlayerchunkloader_p.h
  src/3d/qgsraycastingutils_p.h
  src/3d/qgsrubberband3d.cpp
  src/3d/qgsrubberband3d.h
  src/3d/qgsrulebasedchunkloader_p.cpp
  src/3d/qgsrulebasedchunkloader_p.h
  src/3d/qgsshadowrenderingframegraph.cpp
  src/3d/qgsshadowrenderingframegraph.h
  src/3d/qgstessellatedpolygongeometry.cpp
  src/3d/qgstessellatedpolygongeometry.h
  src/3d/qgsvectorlayerchunkloader_p.cpp
  src/3d/qgsvectorlayerchunkloader_p.h
  src/3d/symbols/qgspoint3dbillboardmaterial.cpp
  src/3d/terrain/qgsterrainentity_p.cpp
  src/3d/terrain/qgsterrainentity_p.h
  src/app/3d/qgs3dmapcanvas.cpp
  src/app/3d/qgs3dmaptool.cpp
  src/app/3d/qgs3dmaptool.h
  src/app/3d/qgs3dmaptoolidentify.cpp
  src/app/3d/qgs3dmaptoolidentify.h
  src/app/3d/qgs3dmaptoolmeasureline.cpp
  src/app/3d/qgs3dmaptoolmeasureline.h
  tests/src/3d/sandbox/qgis_3d_sandbox.cpp
  tests/testdata/control_images/3d/expected_billboard_rendering_1/travis/expected_billboard_rendering_1_mask.png
Labels: Feature, 3D

#51973 Support `*.HEIC` HEIF format images in Processing `ImportPhotosAlgorithm`
  src/analysis/processing/qgsalgorithmimportphotos.cpp
Labels: Needs Documentation, Changelog

#52088 Fix #51940 Refactor Field Source Expression cursor moves at end
  src/gui/qgsfieldmappingwidget.cpp
Labels: GUI/UX, Bug, backport release-3_28, backport release-3_30

#52110 Update code_layout action
  .github/workflows/code_layout.yml
Labels: stale

#52113 Welcome 3.30, bye bye 3.22 docker build
  .github/workflows/build-docker.yml
  .github/workflows/pr-auto-milestone.yml
  .github/workflows/pr-needs-documentation.yml
Labels: stale

#52350 Vector file writer: add GML2 choice, and default to GML3.2 which is the default since GDAL 3.4
  src/core/qgsvectorfilewriter.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#51644 [queded_ltr_backports] Remove any trace of distutils use as it is going to be removed in python 3.12 (fixes #51532)
  cmake/FindSIP.py
  tests/src/python/test_qgslayertreeview.py
  tests/src/python/test_qgssymbollayer.py
Labels: Backport, Bug

#52187 Add skip/src/dstnodata params to gdal2xyz
  python/plugins/processing/algs/gdal/gdal2xyz.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Feature, Needs Documentation, Changelog

#52360 Fix crash in Fix Geometries algorithm on GEOS < 3.10
  src/analysis/processing/qgsalgorithmfixgeometries.cpp
Labels: backport release-3_28, backport release-3_30

#52297 Core sensors framework
  doc/CMakeLists.txt
  python/core/auto_additions/qgis.py
  python/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsapplication.sip.in
  python/core/auto_generated/sensor/qgsabstractsensor.sip.in
  python/core/auto_generated/sensor/qgsiodevicesensor.sip.in
  python/core/auto_generated/sensor/qgssensormanager.sip.in
  python/core/auto_generated/sensor/qgssensorregistry.sip.in
  python/core/core_auto.sip
  resources/function_help/json/sensor_data
  src/app/gps/qgsappgpsconnection.cpp
  src/app/gps/qgsappgpsconnection.h
  src/app/gps/qgsgpsinformationwidget.cpp
  src/app/gps/qgsgpstoolbar.cpp
  src/core/CMakeLists.txt
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  src/core/qgis.h
  src/core/qgsapplication.cpp
  src/core/qgsapplication.h
  src/core/sensor/qgsabstractsensor.cpp
  src/core/sensor/qgsabstractsensor.h
  src/core/sensor/qgsiodevicesensor.cpp
  src/core/sensor/qgsiodevicesensor.h
  src/core/sensor/qgssensormanager.cpp
  src/core/sensor/qgssensormanager.h
  src/core/sensor/qgssensorregistry.cpp
  src/core/sensor/qgssensorregistry.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgssensormanager.py
  tests/src/python/test_qgssensorregistry.py
Labels: Feature, API

#52386 Fix PROJ version string displayed in the "Help->About" window
  src/app/qgisapp.cpp
Labels: backport release-3_28, backport release-3_30

#52402 Respect expression contexts in feature lists
  src/core/qgsfeatureexpressionvaluesgatherer.h
Labels: backport release-3_28, backport release-3_30

#52405 [OGR] Ensure layer metadata saved file is UTF-8 encoded (Fix #52355)
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
Labels: Bug, backport release-3_28, backport release-3_30

#52408 Python console UX tweaks
  python/console/console_sci.py
  python/gui/auto_additions/qgscodeeditor.py
  python/gui/auto_generated/codeeditors/qgscodeeditor.sip.in
  python/gui/auto_generated/codeeditors/qgscodeeditorpython.sip.in
  src/gui/codeeditors/qgscodeeditor.cpp
  src/gui/codeeditors/qgscodeeditor.h
  src/gui/codeeditors/qgscodeeditorpython.cpp
  src/gui/codeeditors/qgscodeeditorpython.h
Labels: Python Console

#52412 Expose QgsMapRendererCache for map canvases to PyQGIS
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
Labels: API

#52413 Secondary canvas extent options should be checkboxes, not radio buttons
  src/app/qgsmapcanvasdockwidget.cpp
  src/app/qgsmapcanvasdockwidget.h
Labels: backport queued_ltr_backports, backport release-3_30

#52329 Sensor options panel within the project properties dialog
  images/images.qrc
  images/themes/default/mActionStop.svg
  images/themes/default/propertyicons/sensor.svg
  python/core/auto_generated/sensor/qgssensormodel.sip.in
  python/core/core_auto.sip
  python/gui/auto_generated/qgsoptionswidgetfactory.sip.in
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
  src/app/sensor/qgsprojectsensorsettingswidget.cpp
  src/app/sensor/qgsprojectsensorsettingswidget.h
  src/app/sensor/qgssensortablewidget.cpp
  src/app/sensor/qgssensortablewidget.h
  src/core/CMakeLists.txt
  src/core/sensor/qgssensormodel.cpp
  src/core/sensor/qgssensormodel.h
  src/gui/qgsoptionswidgetfactory.h
  src/ui/CMakeLists.txt
  src/ui/sensor/qgsprojectsensorettingswidgetbase.ui
  src/ui/sensor/qgssensortablewidgetbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgssensormodel.py
Labels: Feature, GUI/UX

#52414 fix scale list
  src/gui/qgsscalecombobox.cpp
  tests/src/gui/testqgsscalecombobox.cpp
Labels: backport release-3_30

#52427 Fix crash when stored scale list contains invalid values
  src/gui/qgsscalecombobox.cpp
Labels: backport release-3_28, backport release-3_30

#52400 server: make capabilities cache size configurable and add a note when…
  python/server/auto_generated/qgscapabilitiescache.sip.in
  python/server/auto_generated/qgsserversettings.sip.in
  src/server/qgscapabilitiescache.cpp
  src/server/qgscapabilitiescache.h
  src/server/qgsserver.cpp
  src/server/qgsserversettings.cpp
  src/server/qgsserversettings.h
  tests/src/server/wfs/test_qgsserver_wfs_getfeature.cpp
  tests/src/server/wms/test_qgsserver_wms_dxf.cpp
  tests/src/server/wms/test_qgsserver_wms_restorer.cpp
  tests/src/server/wms/test_qgsserver_wms_vector_tile.cpp
Labels: Feature, Server

#52420 Map tip preview
  python/gui/auto_generated/qgsmaptip.sip.in
  python/gui/auto_generated/raster/qgsrasterlayerproperties.sip.in
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  src/gui/qgsmaptip.cpp
  src/gui/qgsmaptip.h
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
  src/ui/qgsrasterlayerpropertiesbase.ui
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: Feature, Map Tools, Changelog

#51944 Fixes layer reprojection with curve geometries
  src/analysis/processing/qgsalgorithmtransform.cpp
  src/analysis/processing/qgsalgorithmtransform.h
Labels: Processing, Bug, Projections/Transformations, Needs Documentation

#52069 Various fixes pan and zoom on rotated map canvas
  src/gui/qgsmapcanvas.cpp
Labels: Map and Legend, Map Tools, Bug

#52419 [Postgres] force datestyle to ISO
  src/providers/postgres/qgspostgresconn.cpp
Labels: Bug, PostGIS data provider, backport release-3_30

#52135 Fix Random Extract duplicates features
  src/analysis/processing/qgsalgorithmrandomextract.cpp
Labels: Processing, Bug
