Repository qgis/QGIS, pull requests merged in 2023-04, with the labels that each got.

#52476 [Geometry Checker] Fix "Minimal polygon area" check (Fix #52468)
  src/plugins/geometry_checker/qgsgeometrycheckfactory.cpp
Labels: Bug, Geometry checker, backport release-3_28, backport release-3_30

#52492 Fix layout legend layer title not immediately updating
  python/core/auto_generated/layout/qgslayoutitemlegend.sip.in
  src/core/layout/qgslayoutitemlegend.cpp
  src/core/layout/qgslayoutitemlegend.h
  src/gui/layout/qgslayoutlegendwidget.cpp
Labels: Regression, backport release-3_28, backport release-3_30

#52366 [OAPIF provider] OGC API features 2 / CRS related fixes (fixes #52228)
  src/providers/wfs/CMakeLists.txt
  src/providers/wfs/oapif/qgsoapifcollection.cpp
  src/providers/wfs/oapif/qgsoapifcollection.h
  src/providers/wfs/oapif/qgsoapifconformancerequest.cpp
  src/providers/wfs/oapif/qgsoapifconformancerequest.h
  src/providers/wfs/oapif/qgsoapiflandingpagerequest.cpp
  src/providers/wfs/oapif/qgsoapiflandingpagerequest.h
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/qgsbasenetworkrequest.cpp
  src/providers/wfs/qgswfssourceselect.cpp
  src/providers/wfs/qgswfssourceselect.h
  tests/src/python/test_provider_oapif.py
Labels: backport queued_ltr_backports, backport release-3_30

#52509 Add example for flip_coordinates expression function with linestring
  resources/function_help/json/flip_coordinates
Labels: backport release-3_28, backport release-3_30

#52507 [Geometry Checker] Fix availableResolutionMethods() (Fix #52506)
  src/analysis/vector/geometry_checker/qgsgeometrycheck.cpp
Labels: Regression, Bug, backport release-3_28, backport release-3_30

#52493 Avoid loss of text in code editors when certain modifiers are pressed
  python/gui/auto_generated/codeeditors/qgscodeeditor.sip.in
  src/gui/codeeditors/qgscodeeditor.cpp
  src/gui/codeeditors/qgscodeeditor.h
Labels: backport queued_ltr_backports, backport release-3_30

#52521 Avoid loss of text in code editors when certain modifiers are pressed (3.28 backport)
  python/gui/auto_generated/codeeditors/qgscodeeditor.sip.in
  src/gui/codeeditors/qgscodeeditor.cpp
  src/gui/codeeditors/qgscodeeditor.h
Labels: Backport

#52523 fix save connection dialog
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: Squash!, backport release-3_30

#52500 [gui][editor widgets] Fix height of video frame going to zero after one successful playback
  src/gui/qgsmediawidget.cpp
Labels: backport release-3_30

#52517 PyQt doesn't provide repr for QColor, but it's highly desirable!
  python/PyQt/PyQt5/QtGui.py
Labels: API

#52035 qgs3daxis: Fix label transparency issues by using a sort policy
  src/3d/qgs3daxis.cpp
Labels: 3D, backport release-3_28, backport release-3_30

#52511 Fix unreported crash when an empty scale is in the settings
  src/app/options/qgsoptions.cpp
  src/gui/qgsscalecombobox.cpp
Labels: Bug

#52538 Check for nullptr layer
  src/app/maptools/qgsmaptoolshapecircleabstract.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52563 [postgres] Avoid unnecessary column type retrieval when sql results are unused
  src/providers/postgres/qgspostgresproviderconnection.cpp
Labels: Optimization, backport queued_ltr_backports, backport release-3_30

#51943 Fix circular string digitizing tool
  src/app/maptools/qgsmaptoolshapecircularstringabstract.cpp
  src/gui/qgsmaptoolcapture.cpp
Labels: Squash!, Bug, Digitizing, Projections/Transformations

#52469 Map tip position
  python/gui/auto_generated/qgsmaptip.sip.in
  resources/themes/Blend of Gray/palette.txt
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/palette.txt
  resources/themes/Night Mapping/style.qss
  src/app/qgisapp.cpp
  src/gui/qgsmaptip.cpp
  src/gui/qgsmaptip.h
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
Labels: Map Tools

#52606 [vector tiles] Follow up PR #52220: respect background style's enabled state
  src/core/vectortile/qgsvectortilebasicrenderer.cpp
Labels: backport release-3_28, backport release-3_30

#52614 Fix incorrect argument order in header
  src/providers/wms/qgswmsprovider.h
Labels: backport release-3_28, backport release-3_30

#52624 Fix pan tool cursor
  src/gui/layout/qgslayoutviewtoolpan.cpp
  src/gui/processing/models/qgsmodelviewtoolpan.cpp
Labels: Bug, Print Layouts, Modeller

#52618 Fix some cppcheck uninitialized member warnings
  src/3d/chunks/qgschunkloader_p.h
  src/3d/qgsskyboxsettings.h
  src/analysis/georeferencing/qgsgcptransformer.h
  src/analysis/processing/qgsalgorithmcellstatistics.h
  src/analysis/processing/qgsalgorithmfieldcalculator.h
  src/analysis/processing/qgsalgorithmfillnodata.h
  src/analysis/processing/qgsalgorithmgrid.h
  src/analysis/processing/qgsalgorithmlinedensity.h
  src/analysis/processing/qgsalgorithmrandompointsextent.h
  src/analysis/processing/qgsalgorithmrasterlayerproperties.h
  src/analysis/processing/qgsalgorithmrastersampling.h
  src/core/qgsstoredexpressionmanager.h
  src/core/qgstiles.h
  src/providers/hana/qgshanaconnectionstringbuilder.h
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
Labels: HANA data provider, backport release-3_28, backport release-3_30

#52590 New parameter type for point cloud attribute
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  python/core/auto_generated/processing/qgsprocessingparameters.sip.in
  src/analysis/processing/pdal/qgsalgorithmpdalexportraster.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportvector.cpp
  src/analysis/processing/qgsalgorithmaddincrementalfield.cpp
  src/analysis/processing/qgsalgorithmdetectdatasetchanges.cpp
  src/analysis/processing/qgsalgorithmdissolve.cpp
  src/analysis/processing/qgsalgorithmdropfields.cpp
  src/analysis/processing/qgsalgorithmintersection.cpp
  src/analysis/processing/qgsalgorithmjoinbyattribute.cpp
  src/analysis/processing/qgsalgorithmjoinbylocation.cpp
  src/analysis/processing/qgsalgorithmjoinbynearest.cpp
  src/analysis/processing/qgsalgorithmjoinwithlines.cpp
  src/analysis/processing/qgsalgorithmlineintersection.cpp
  src/analysis/processing/qgsalgorithmremoveduplicatesbyattribute.cpp
  src/core/pointcloud/qgspointcloudattributemodel.cpp
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingalgorithm.h
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
  src/core/processing/qgsprocessingparametertypeimpl.h
  src/core/processing/qgsprocessingregistry.cpp
  src/gui/processing/qgsprocessingguiregistry.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
  src/gui/qgsmaplayercombobox.cpp
  src/gui/qgspointcloudattributecombobox.cpp
  src/providers/pdal/qgspdalprovider.cpp
  src/providers/pdal/qgspdalprovider.h
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Feature, Processing, Needs Documentation

#52641 Fix some cppcheck nullptr check warnings
  src/core/qgsmaplayerlegend.cpp
  src/core/vector/qgsvectorlayerprofilegenerator.cpp
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
  src/gui/mesh/qgsmeshlayerproperties.cpp
Labels: backport release-3_28, backport release-3_30

#52665 Fix some more cppcheck nullptr redundant checks
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/maptools/qgsmaptoolshapecircularstringabstract.cpp
  src/app/pointcloud/qgspointcloudlayerproperties.cpp
  src/app/qgsmaptoolselectutils.cpp
  src/core/layout/qgslayoutitemelevationprofile.cpp
  src/core/layout/qgslayoutitemlabel.cpp
  src/core/maprenderer/qgsmaprenderersequentialjob.cpp
  src/core/symbology/qgssymbol.cpp
Labels: backport release-3_28, backport release-3_30

#52663 Show field aliases in metadata tables
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/core/vector/qgsvectorlayer.cpp
Labels: GUI/UX

#52613 Fix Map-based JSON handling in QgsField's convertCompatible()
  src/core/qgsfield.cpp
  tests/src/core/testqgsfield.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52700 [3.28] Fix some invalid help example expressions
  resources/function_help/json/eval
  resources/function_help/json/flip_coordinates
  resources/function_help/json/pole_of_inaccessibility
  resources/function_help/json/to_decimal
Labels: Backport, Expressions

#52699 [3.30] Fix some invalid help example expressions
  resources/function_help/json/eval
  resources/function_help/json/flip_coordinates
  resources/function_help/json/pole_of_inaccessibility
  resources/function_help/json/to_decimal
Labels: Backport, Expressions

#52717 Fix potential -1 value passed to QVector::at
  src/core/mesh/qgstopologicalmesh.cpp
Labels: Crash/Data Corruption, backport release-3_28, backport release-3_30

#52746 Use embedded messageBar in showMessage
  python/console/console.py
  python/console/console_editor.py
Labels: Python Console

#52736 [Oracle] Fix transaction creation
  src/providers/oracle/qgsoracleconn.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_30

#52760 Python - Upgrade metasearch to Python 3.7 minimum
  python/plugins/MetaSearch/__init__.py
  python/plugins/MetaSearch/dialogs/__init__.py
  python/plugins/MetaSearch/dialogs/apidialog.py
  python/plugins/MetaSearch/dialogs/maindialog.py
  python/plugins/MetaSearch/dialogs/manageconnectionsdialog.py
  python/plugins/MetaSearch/dialogs/newconnectiondialog.py
  python/plugins/MetaSearch/dialogs/recorddialog.py
  python/plugins/MetaSearch/link_types.py
  python/plugins/MetaSearch/pavement.py
  python/plugins/MetaSearch/plugin.py
  python/plugins/MetaSearch/search_backend.py
  python/plugins/MetaSearch/util.py
Labels: MetaSearch

#52763 A few fixes for PDAL provider
  src/analysis/processing/pdal/qgsalgorithmpdalboundary.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalbuildvpc.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalclip.cpp
  src/analysis/processing/pdal/qgsalgorithmpdaldensity.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportraster.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportrastertin.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalfilter.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalthin.cpp
  src/analysis/processing/pdal/qgspdalalgorithmbase.cpp
  src/analysis/processing/pdal/qgspdalalgorithmbase.h
  src/analysis/processing/pdal/qgspdalalgorithms.cpp
Labels: Processing

#52580 Fix new profile map scales
  src/core/settings/qgssettingsregistrycore.cpp
Labels: Regression, Bug, Crash/Data Corruption, Configs and Options, backport release-3_30

#52528 Fix coords widget locale issues (plus other unreported)
  src/app/qgsstatusbarcoordinateswidget.cpp
  src/app/qgsstatusbarcoordinateswidget.h
Labels: GUI/UX, Bug, Localization

#52648 [fix] losing WFS DCP endpoints upon cloning WFS URI
  src/providers/wfs/qgswfsdatasourceuri.cpp
  src/providers/wfs/qgswfsdatasourceuri.h
  src/providers/wfs/qgswfsshareddata.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52774 GPKG: fix json map filewriter
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Data Provider, Bug

#52676 [Oracle] Fix srid when creating a vector layer from table
  src/providers/oracle/qgsoracleproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_base.py
  tests/src/python/test_qgsproviderconnection_ogr_gpkg.py
  tests/src/python/test_qgsproviderconnection_oracle.py
  tests/src/python/test_qgsproviderconnection_postgres.py
  tests/src/python/test_qgsproviderconnection_spatialite.py
Labels: Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_30

#52801 [queued_ltr_backports] [WFS provider] [fix] losing WFS DCP endpoints upon cloning WFS URI (#52648)
  src/providers/wfs/qgswfsdatasourceuri.cpp
  src/providers/wfs/qgswfsdatasourceuri.h
  src/providers/wfs/qgswfsshareddata.cpp
Labels: Backport

#52807 Fill fill stroke conversion issues from MapBox styles
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport queued_ltr_backports, backport release-3_30

#52838 [sipify] support multiple classes template definition
  scripts/sipify.pl
  tests/code_layout/sipify/sipifyheader.expected.sip
  tests/code_layout/sipify/sipifyheader.h
Labels: Squash!

#52839 [Plugin installer] Don't show wait cursor when fetching repositories
  python/pyplugin_installer/installer.py
  python/pyplugin_installer/qgsplugininstallerfetchingdialog.py
Labels: GUI/UX, Plugin manager, backport release-3_30

#52351 Add a way to disable map tips for a specific layer
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/raster/qgsrasterlayer.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/gui/qgsmaptip.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/ui/qgsrasterlayerpropertiesbase.ui
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: Feature, Map and Legend

#52043 Measure tool copy coordinates
  src/app/options/qgsoptions.cpp
  src/app/qgsmeasuredialog.cpp
  src/app/qgsmeasuredialog.h
  src/app/qgsmeasuretool.cpp
  src/core/settings/qgssettingstree.h
  src/ui/qgsmeasurebase.ui
  src/ui/qgsoptionsbase.ui
Labels: Feature, Map Tools

#52849 [qgsquick] New map to screen class to tie QML items to the map canvas
  src/quickgui/CMakeLists.txt
  src/quickgui/qgsquickmaptoscreen.cpp
  src/quickgui/qgsquickmaptoscreen.h
  tests/src/quickgui/testqgsquickmapsettings.cpp
Labels: Quick

#52846 [qgsquick] Avoid all-black map canvas when first loading a QML scene with nothing to render
  src/quickgui/qgsquickmapcanvasmap.cpp
Labels: Quick

#52808 [Bugfix] Processing plugin: bad check layer from QgsProcessingOutputMultipleLayers
  python/plugins/processing/core/Processing.py
Labels: Processing, Bug, backport release-3_28, backport release-3_30

#52764 Fix QgsDatabaseTableComboBox::setTable when table empty
  src/gui/qgsdatabasetablecombobox.cpp
Labels: backport release-3_28, backport release-3_30

#52601 Fixes #52375. Removes duplicate encoding aliases returned by QgsVectorrDataProvider::availableEncodings()
  src/core/vector/qgsvectordataprovider.cpp
Labels: Squash!, backport queued_ltr_backports, backport release-3_30

#52860 Add QgsCodeEditorShell code editor subclass for Bash or Batch scripts
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/gui/auto_generated/codeeditors/qgscodeeditorshell.sip.in
  python/gui/gui_auto.sip
  src/app/options/qgscodeeditoroptions.cpp
  src/app/options/qgscodeeditoroptions.h
  src/core/qgis.h
  src/gui/CMakeLists.txt
  src/gui/codeeditors/qgscodeeditor.cpp
  src/gui/codeeditors/qgscodeeditorshell.cpp
  src/gui/codeeditors/qgscodeeditorshell.h
  src/ui/qgscodeditorsettings.ui
Labels: API

#52600 Tiles xyz crs transform
  python/plugins/processing/algs/qgis/TilesXYZ.py
Labels: Squash!, backport queued_ltr_backports, backport release-3_30

#52472 Attribute Dialog moving on screen
  src/gui/qgsattributedialog.cpp
  src/gui/qgsattributedialog.h
Labels: GUI/UX, Bug

#52880 Python - Use some format function for translations
  python/plugins/processing/algs/gdal/ogr2ogr.py
  python/plugins/processing/algs/qgis/IdwInterpolation.py
  python/plugins/processing/algs/qgis/RandomExtractWithinSubsets.py
  python/plugins/processing/algs/qgis/RandomPointsPolygons.py
  python/plugins/processing/algs/qgis/RandomSelectionWithinSubsets.py
  python/plugins/processing/algs/qgis/TinInterpolation.py
  python/plugins/processing/modeler/ModelerParameterDefinitionDialog.py
Labels: Translations, PyQGIS

#52258 fix deactivate mesh layer contours
  src/core/mesh/qgsmeshlayer.cpp
Labels: Regression, Bug, Mesh, backport release-3_28, backport release-3_30

#52321 Add clear recently used crs button
  python/core/auto_generated/proj/qgscoordinatereferencesystem.sip.in
  python/gui/auto_generated/qgsprojectionselectiontreewidget.sip.in
  src/core/proj/qgscoordinatereferencesystem.cpp
  src/core/proj/qgscoordinatereferencesystem.h
  src/gui/qgsprojectionselectiontreewidget.cpp
  src/gui/qgsprojectionselectiontreewidget.h
  src/ui/qgsprojectionselectorbase.ui
Labels: Feature, GUI/UX, Projections/Transformations, Needs Documentation

#52312 Mesh layer style following dataset group name
  python/core/auto_generated/mesh/qgsmeshrenderersettings.sip.in
  src/core/mesh/qgsmeshdatasetgroupstore.cpp
  src/core/mesh/qgsmeshdatasetgroupstore.h
  src/core/mesh/qgsmeshlayer.cpp
  src/core/mesh/qgsmeshlayer.h
  src/core/mesh/qgsmeshrenderersettings.h
  tests/src/core/testqgsmeshlayer.cpp
Labels: Bug, Mesh, backport release-3_30

#52900 Fix incorrect WCS request bbox when layer limited to an extent
  src/gui/qgsowssourceselect.cpp
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wcs/qgswcsprovider.h
  src/providers/wcs/qgswcssourceselect.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52841 qgsfunction decorator improvements
  python/core/additions/qgsfunction.py
  python/user.py
  src/gui/qgsexpressionbuilderwidget.cpp
  tests/src/python/test_qgsexpression.py
Labels: Expressions

#52653 Enable build with PDAL by default
  CMakeLists.txt
Labels: Point Clouds

#52915 When opening vector layer form properties, immediately expand all drag-and-drop form containers
  src/gui/vector/qgsattributesformproperties.cpp
Labels: GUI/UX
