Repository qgis/QGIS, pull requests merged in 2023-05, with the labels that each got.

#52939 Fix MSSQL PrimaryKey in geometry columns (Fix #52724)
  src/providers/mssql/qgsmssqlprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52948 fix legend label position error by typo
  src/core/layertree/qgscolorramplegendnode.cpp
Labels: backport release-3_28, backport release-3_30

#52913 Fix deadlock when number of point cloud files loaded >= available threads
  src/core/pointcloud/qgspointcloudstatscalculator.cpp
Labels: backport release-3_28, backport release-3_30

#52965 Adjust help for CheckValidity algorithm
  python/plugins/processing/algs/help/qgis.yaml
Labels: Processing

#52959 UX improvements for PDAL provider
  python/plugins/processing/gui/Postprocessing.py
  src/analysis/CMakeLists.txt
  src/analysis/processing/pdal/qgsalgorithmpdalassignprojection.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalassignprojection.h
  src/analysis/processing/pdal/qgsalgorithmpdalboundary.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalbuildvpc.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalclip.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalconvertformat.cpp
  src/analysis/processing/pdal/qgsalgorithmpdaldensity.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportraster.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportrastertin.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportvector.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalfilter.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalinformation.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalmerge.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalreproject.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalthinbydecimate.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalthinbydecimate.h
  src/analysis/processing/pdal/qgsalgorithmpdalthinbyradius.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalthinbyradius.h
  src/analysis/processing/pdal/qgsalgorithmpdaltile.cpp
  src/analysis/processing/pdal/qgspdalalgorithms.cpp
  tests/src/analysis/testqgsprocessingpdalalgs.cpp
Labels: Processing, GUI/UX, Point Clouds

#52983 Fix invisible horizontal alignment icons
  images/themes/default/mIconAlignCenter.svg
  images/themes/default/mIconAlignJustify.svg
  images/themes/default/mIconAlignLeft.svg
  images/themes/default/mIconAlignRight.svg
Labels: backport release-3_28, backport release-3_30

#52890 [postgres][browser] Implement field comment setting for postgres fields
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
Labels: Needs Documentation, Changelog, PostGIS data provider

#52980 Fix crash when removing drag and drop form elements
  src/gui/vector/qgsattributesformproperties.cpp
Labels: Crash/Data Corruption, backport release-3_28, backport release-3_30

#52995 Deselect annotation item when modify tool is deactivates
  src/gui/annotations/qgsmaptoolmodifyannotation.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#52988 [feature] Advanced Digitizing: more common angle options
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsadvanceddigitizingfloater.cpp
  src/gui/qgsadvanceddigitizingfloater.h
  src/ui/qgsadvanceddigitizingfloaterbase.ui
Labels: Feature, Digitizing, Needs Documentation, Changelog

#52997 Avoid installing QgsCPLHTTPFetchOverrider for every ogr feature fetched if we can avoid it
  src/core/providers/ogr/qgsogrfeatureiterator.cpp
  src/core/providers/ogr/qgsogrfeatureiterator.h
  src/core/qgscplhttpfetchoverrider.cpp
  src/core/qgscplhttpfetchoverrider.h
Labels: Optimization

#52923 Fix QgsDoubleValidator for positive sign and for negative and exponential signs in some locales (Fix #52341)
  src/gui/qgsdoublevalidator.cpp
  tests/src/gui/testqgsdoublevalidator.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_30

#53004 [Server] Use QgsBlockingNetworkRequest to download URL
  src/server/qgsserverparameters.cpp
Labels: Server, backport queued_ltr_backports, backport release-3_30

#53016 [qgsquick] Add global map shading support to map canvas
  src/quickgui/qgsquickmapsettings.cpp
Labels: Quick

#52096 Bring feature order and rendering order together in a useful way
  src/core/vector/qgsvectorlayerrenderer.cpp
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgslayeredsymbollevel.cpp
  tests/testdata/control_images/layered_symbol_levels/expected_no_levels_with_layers/expected_no_levels_with_layers.png
  tests/testdata/control_images/layered_symbol_levels/expected_with_levels_no_layers/expected_with_levels_no_layers.png
  tests/testdata/control_images/layered_symbol_levels/expected_with_levels_with_layers/expected_with_levels_with_layers.png
  tests/testdata/layered_roads.cpg
  tests/testdata/layered_roads.dbf
  tests/testdata/layered_roads.prj
  tests/testdata/layered_roads.shp
  tests/testdata/layered_roads.shx
Labels: stale, Documentation

#53014 [Backport 3.30] [WFS / OAPIF] Emit request headers of initial request when following a redirect
  src/providers/wfs/qgsbasenetworkrequest.cpp
  src/providers/wfs/qgsbasenetworkrequest.h
Labels: backport queued_ltr_backports

#52902 3d/terrain: Improve debugging tile info visibility
  src/3d/terrain/qgsterraintexturegenerator_p.cpp
Labels: 3D

#52998 Optimise QgsThreadStackOverflowGuard
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
Labels: Optimization

#53064 MSSQL: fix Z and ZM geometry type detection
  src/providers/mssql/qgsmssqlconnection.cpp
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqlgeomcolumntypethread.cpp
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/mssql/qgsmssqlsourceselect.cpp
  tests/src/python/test_qgsproviderconnection_mssql.py
Labels: Bug, MS SQL data provider, backport queued_ltr_backports, backport release-3_30

#53061 Advanced digitizing: floater settings and bearing
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingfloater.sip.in
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsadvanceddigitizingfloater.cpp
  src/gui/qgsadvanceddigitizingfloater.h
  src/ui/qgsadvanceddigitizingdockwidgetbase.ui
  src/ui/qgsadvanceddigitizingfloaterbase.ui
Labels: Feature, Digitizing, Needs Documentation

#53107 [processing] Fix Repair Shapefile algorithm
  src/analysis/processing/qgsalgorithmrepairshapefile.cpp
Labels: Bug, backport release-3_28, backport release-3_30

#53108 Fix vector iterator number of attributes returned with virtual fields and subset of attributes
  src/core/vector/qgsvectorlayerfeatureiterator.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: API, Bug

#53117 Add control over horizontal / vertical stretch for attribute form widgets
  python/core/auto_generated/editform/qgsattributeeditorelement.sip.in
  src/core/editform/qgsattributeeditorelement.cpp
  src/core/editform/qgsattributeeditorelement.h
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/gui/attributeformconfig/qgsattributewidgetedit.cpp
  src/gui/qgsattributeform.cpp
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributeformcontaineredit.ui
  src/ui/attributeformconfig/qgsattributewidgeteditgroupbox.ui
Labels: Feature, Needs Documentation, Changelog

#53069 load layers in parallel threads when opening project
  python/core/auto_generated/providers/qgsdataprovider.sip.in
  python/core/auto_generated/providers/qgsprovidermetadata.sip.in
  python/core/auto_generated/qgscredentials.sip.in
  python/core/auto_generated/qgslayerdefinition.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/CMakeLists.txt
  src/core/mesh/qgsmeshlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/qgsdataprovider.h
  src/core/providers/qgsprovidermetadata.h
  src/core/providers/qgsrunnableprovidercreator.cpp
  src/core/providers/qgsrunnableprovidercreator.h
  src/core/qgscredentials.cpp
  src/core/qgscredentials.h
  src/core/qgslayerdefinition.cpp
  src/core/qgslayerdefinition.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/raster/qgsrasterlayer.cpp
  src/core/settings/qgssettingsregistrycore.cpp
  src/core/settings/qgssettingsregistrycore.h
  src/core/vector/qgsvectorlayer.cpp
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/core/testqgsproject.cpp
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_qgsserver_projectutils.py
Labels: Feature, PostGIS data provider

#53148 apply pixel size conversion factor to line width if style does not define "line-width" property
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Bug, Vector tiles

#53169 Don't try to create database connections for dxf files in browser
  src/core/browser/qgsfilebaseddataitemprovider.cpp
Labels: backport release-3_28, backport release-3_30

#53120 Retrieve and handle table type (geometryless layers) from ArcGIS rest services
  src/core/providers/arcgis/qgsarcgisrestquery.cpp
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/arcgisrest/qgsarcgisrestdataitems.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#53168 Attribute table optimization: do not load hidden fields until required
  python/core/auto_generated/vector/qgsvectorlayercache.sip.in
  python/gui/auto_generated/attributetable/qgsdualview.sip.in
  src/app/qgsattributetabledialog.cpp
  src/core/qgscachedfeatureiterator.cpp
  src/core/vector/qgsvectorlayercache.cpp
  src/core/vector/qgsvectorlayercache.h
  src/gui/attributetable/qgsattributetablemodel.cpp
  src/gui/attributetable/qgsattributetablemodel.h
  src/gui/attributetable/qgsdualview.cpp
  src/gui/attributetable/qgsdualview.h
  src/gui/attributetable/qgsfeaturelistmodel.cpp
  tests/src/app/testqgsattributetable.cpp
  tests/src/core/testqgsvectorlayercache.cpp
Labels: Optimization, Attribute Table

#53180 skip COPC inputs in the "Create COPC" algorithm (fix #53157)
  src/analysis/processing/pdal/qgsalgorithmpdalcreatecopc.cpp
Labels: Processing, Bug, Point Clouds

#53203 qgstabbarproxystyle: Fix tab size if the font is not overriden
  src/gui/qgstabbarproxystyle.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#53200 no GDAL resampling with unknown data type
  src/core/qgsgdalutils.cpp
  src/core/raster/qgsrasterlayerrenderer.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_30

#53216 Update v.neighbors
  python/plugins/grassprovider/description/v.neighbors.txt
Labels: GRASS

#53152 [DB Manager] Remove "Delete…" and "Rename…" actions in the context menu for Project layers items
  python/plugins/db_manager/db_tree.py
Labels: DB Manager

#53154 restore processing settings page upon clearing search bar
  src/gui/qgsoptionsdialoghighlightwidget.cpp
Labels: backport queued_ltr_backports, backport release-3_30

#53099 Include more icon sizes in qgis ico
  src/app/qgis.ico
Labels: backport release-3_28, backport release-3_30

#53096 [gui] Change "Add WFS Layer" to "Add WFS / OGC API - Features Layer"
  src/ui/qgisapp.ui
Labels: Needs Documentation

#53220 Fix some warnings raised when opening layout designers
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: Cleanup

#53050 Update guide for GRASS algorithms
  python/plugins/grassprovider/grass7.txt
Labels: GRASS

#52799 Server pdf format options
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Feature, Server, Needs Documentation, Changelog

#53237 [gui][editor widgets] Show value relation description when hovering the combobox
  python/gui/auto_generated/qgstooltipcombobox.sip.in
  python/gui/gui_auto.sip
  src/gui/CMakeLists.txt
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.h
  src/gui/qgstooltipcombobox.cpp
  src/gui/qgstooltipcombobox.h
Labels: Changelog

#53247 [WFS provider] Add "bbox" and "sql" to list of known URI parameters
  src/providers/wfs/qgswfsconstants.cpp
  src/providers/wfs/qgswfsconstants.h
  src/providers/wfs/qgswfsdatasourceuri.cpp
Labels: backport queued_ltr_backports

#53250 [Backport queued_ltr_backports] [WFS provider] Add "bbox" and "sql" to list of known URI parameters
  src/providers/wfs/qgswfsconstants.cpp
  src/providers/wfs/qgswfsconstants.h
  src/providers/wfs/qgswfsdatasourceuri.cpp
Labels: Backport

#53238 Fix MouseHandle resize cursors when rotation<0
  src/gui/qgsgraphicsviewmousehandles.cpp
Labels: Bug, Print Layouts

#53264 [cleanup] QgsOgrFeatureIterator(): remove (hopefully!) useless code in subset string case
  src/core/providers/ogr/qgsogrfeatureiterator.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Cleanup

#53270 Use thread_local for QRegularExpression objects
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalproviderbase.cpp
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/providers/mdal/qgsmdalprovider.cpp
Labels: Optimization, backport release-3_28

#53269 [Backport queued_ltr_backports] Use specific typing for QgsWkbPtr
  src/core/geometry/qgswkbptr.h
Labels: Backport

#53243 [wms] Add bounding boxes for all linked title matrixes to get proper WMTS layer extent
  src/providers/wms/qgswmscapabilities.cpp
Labels: backport release-3_28

#53278 accept floating point values for resolution inputs in PDAL algorithms
  src/analysis/processing/pdal/qgsalgorithmpdalboundary.cpp
  src/analysis/processing/pdal/qgsalgorithmpdaldensity.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportraster.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalexportrastertin.cpp
  tests/src/analysis/testqgsprocessingpdalalgs.cpp
Labels: Processing, Point Clouds

#53267 QgsBrowserGuiModel::flags(): cache value for faster browser redrawn (refs #53265)
  src/gui/qgsbrowserguimodel.cpp
Labels: backport release-3_28

#53286 quote filter command line argument when printing pdal_wrench command in the algorithm log
  src/analysis/processing/pdal/qgspdalalgorithmbase.cpp
Labels: Processing, Point Clouds

#53268 Cache database connection capabilities for browser items so we don't create a new connection on every call to the qt model flags
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/core/browser/qgsfilebaseddataitemprovider.cpp
  src/core/browser/qgsfilebaseddataitemprovider.h
Labels: backport queued_ltr_backports

#53293 Fix crash when creating new grass mapsets when "set" is pressed and no region is selected
  src/plugins/grass/qgsgrassnewmapset.cpp
  src/plugins/grass/qgsgrassnewmapset.h
Labels: Crash/Data Corruption, backport queued_ltr_backports

#53290 Don't create alpha bands for non-rotated, south up rasters
  src/core/providers/gdal/qgsgdalprovider.cpp
  tests/src/core/testqgsgdalprovider.cpp
  tests/testdata/raster/72_528t50dgm.txt
Labels: backport release-3_28
