Repository qgis/QGIS, pull requests merged in 2023-10, with the labels that each got.

#54745 Deactivate profile progress bar when no nodes
  src/core/pointcloud/qgspointcloudlayerprofilegenerator.cpp
  tests/src/python/test_qgspointcloudlayerprofilegenerator.py
Labels: Bug

#54808 Cleanup all browser layer properties dialog before exiting
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports

#54807 QGraphicsItem::setGraphicsEffect takes ownership, using a unique_ptr is not appropriate
  src/core/layout/qgslayoutitem.cpp
  src/core/layout/qgslayoutitem.h
Labels: backport queued_ltr_backports

#54806 Handle sql='' or sql="" as empty sql strings instead of '' / "" literals
  src/core/qgsdatasourceuri.cpp
  tests/src/core/testqgsdatasourceuri.cpp
Labels: backport queued_ltr_backports

#54812 Fix crash when opening layer properties for raster layer with broken data source
  src/app/annotations/qgsannotationlayerproperties.h
  src/app/pointcloud/qgspointcloudlayerproperties.h
  src/app/tiledscene/qgstiledscenelayerproperties.h
  src/gui/raster/qgsrastertransparencywidget.cpp
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgslayerpropertiesdialogs.cpp
Labels: backport release-3_28

#54832 Don't crash when changeAttributeValues is used with invalid field index
  src/core/providers/memory/qgsmemoryprovider.cpp
  tests/src/python/test_provider_memory.py
Labels: backport release-3_28

#54825 Ensure that we always call prepareGeometryChange BEFORE changing properties which effect the boundingRect of a layout item
  python/core/auto_generated/layout/qgslayoutitemlabel.sip.in
  src/core/layout/qgslayoutitemlabel.cpp
  src/core/layout/qgslayoutitemlabel.h
  src/core/layout/qgslayoutitemnodeitem.cpp
  src/core/layout/qgslayoutitempage.cpp
  src/core/layout/qgslayoutitempolyline.cpp
Labels: backport queued_ltr_backports

#54558 Allowing storing GPGK raster layer styles to DB
  python/core/auto_additions/qgis.py
  python/core/auto_generated/providers/qgsdataprovider.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/vector/qgsvectordataprovider.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/gui/auto_generated/qgslayerpropertiesdialog.sip.in
  python/gui/auto_generated/raster/qgsrasterlayerproperties.sip.in
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/qgsdataprovider.cpp
  src/core/providers/qgsdataprovider.h
  src/core/qgis.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsogrutils.cpp
  src/core/qgsogrutils.h
  src/core/vector/qgsvectordataprovider.cpp
  src/core/vector/qgsvectordataprovider.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/gui/CMakeLists.txt
  src/gui/mesh/qgsmeshlayerproperties.h
  src/gui/qgslayerpropertiesdialog.cpp
  src/gui/qgslayerpropertiesdialog.h
  src/gui/qgsmaplayerloadstyledialog.cpp
  src/gui/qgsmaplayerloadstyledialog.h
  src/gui/qgsmaplayersavestyledialog.cpp
  src/gui/qgsmaplayersavestyledialog.h
  src/gui/qgsmaplayerstylecategoriesmodel.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlprovider.h
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  src/ui/qgsmaplayersavestyledialog.ui
  tests/src/python/test_provider_mssql.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_spatialite.py
Labels: Freeze Exempt, PostGIS data provider

#54827 Fix aspect ratio computation in QgsLayoutItemMap::zoomToExtent
  src/core/layout/qgslayoutitemmap.cpp
  tests/src/core/testqgslayoutmap.cpp
Labels: Bug

#54861 Revert "Allowing storing GPGK raster layer styles to DB"
  python/core/auto_additions/qgis.py
  python/core/auto_generated/providers/qgsdataprovider.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/vector/qgsvectordataprovider.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/gui/auto_generated/qgslayerpropertiesdialog.sip.in
  python/gui/auto_generated/raster/qgsrasterlayerproperties.sip.in
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/qgsdataprovider.cpp
  src/core/providers/qgsdataprovider.h
  src/core/qgis.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsogrutils.cpp
  src/core/qgsogrutils.h
  src/core/vector/qgsvectordataprovider.cpp
  src/core/vector/qgsvectordataprovider.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/gui/CMakeLists.txt
  src/gui/mesh/qgsmeshlayerproperties.h
  src/gui/qgslayerpropertiesdialog.cpp
  src/gui/qgslayerpropertiesdialog.h
  src/gui/qgsmaplayerloadstyledialog.cpp
  src/gui/qgsmaplayerloadstyledialog.h
  src/gui/qgsmaplayerstylecategoriesmodel.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
  src/gui/vector/qgsvectorlayersavestyledialog.cpp
  src/gui/vector/qgsvectorlayersavestyledialog.h
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlprovider.h
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  src/ui/qgsvectorlayersavestyledialog.ui
  tests/src/python/test_provider_mssql.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_spatialite.py
Labels: PostGIS data provider

#54822 Cleanup all browser layer properties dialog before exiting (ltr)
  src/app/qgisapp.cpp
Labels: Backport

#54839 Fix layout labels don't immediately react to changes when semi-transparent
  src/core/layout/qgslayoutitemlabel.cpp
  src/core/layout/qgslayoutitemlabel.h
Labels: backport queued_ltr_backports

#54860 Use distinct name for test results artifact
  .github/workflows/run-tests.yml
Labels: backport queued_ltr_backports, backport release-3_28

#54789 Fix WFS update checkbox on PostgreSQL layer without geometry
  src/app/qgsprojectproperties.cpp
Labels: Bug

#54770 BROWSER add optional button box to dock widget
  src/gui/qgsdatasourcemanagerdialog.cpp
Labels: GUI/UX, Bug

#54862 Fix crash in merge features dialog when a field has a unique constraint set
  src/app/qgsmergeattributesdialog.cpp
  tests/src/app/testqgsmergeattributesdialog.cpp
Labels: backport release-3_28

#54815 Avoid loss of attributes when calculating fields
  src/app/qgsattributetabledialog.cpp
Labels: backport release-3_28

#54849 Fix initial zoom level when opening layout designer windows
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: backport queued_ltr_backports

#54847 Always run the spell and shell checkers if possible, print warning when not possible
  scripts/prepare_commit.sh
Labels: Chore

#54878 Fix crash in merge features dialog when a field has a unique constraint set (LTR)
  src/app/qgsmergeattributesdialog.cpp
  tests/src/app/testqgsmergeattributesdialog.cpp
Labels: Backport

#54687 CAD fix regression with units
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsadvanceddigitizingfloater.cpp
Labels: Bug, Digitizing

#54855 Backport: SERVER: Fix server utils service URL wrong MAP replace
  src/server/qgsserverprojectutils.cpp
  tests/src/python/test_qgsserver_projectutils.py
Labels: Backport

#54893 Run spellcheck only on changed files in prepare_commit.sh
  scripts/prepare_commit.sh
  tests/code_layout/test_shellcheck.sh
Labels: Chore

#54889 Fix crash on value relation multi-column
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
Labels: Bug, Crash/Data Corruption, backport release-3_28

#54891 move enum QgsMapLayerProxyModel::Filter to Qgis
  python/core/additions/qgssettings.py
  python/core/auto_additions/qgis.py
  python/core/auto_additions/qgsmaplayerproxymodel.py
  python/core/auto_generated/layertree/qgslayertreefilterproxymodel.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsmaplayerproxymodel.sip.in
  python/gui/auto_generated/qgsmaplayercombobox.sip.in
  python/plugins/processing/algs/qgis/ui/InterpolationWidgets.py
  python/plugins/processing/gui/ExtentSelectionPanel.py
  src/app/3d/qgs3dmapconfigwidget.cpp
  src/app/gps/qgsgpstoolbar.cpp
  src/app/layout/qgsreportfieldgroupsectionwidget.cpp
  src/app/mesh/qgsmeshcalculatordialog.cpp
  src/app/mesh/qgsnewmeshlayerdialog.cpp
  src/app/project/qgsprojectelevationsettingswidget.cpp
  src/app/qgslayerstylingwidget.cpp
  src/app/qgsrelationadddlg.cpp
  src/app/qgsstatisticalsummarydockwidget.cpp
  src/app/qgsvectorlayerdigitizingproperties.cpp
  src/core/layertree/qgslayertreefilterproxymodel.cpp
  src/core/layertree/qgslayertreefilterproxymodel.h
  src/core/qgis.h
  src/core/qgsmaplayerproxymodel.cpp
  src/core/qgsmaplayerproxymodel.h
  src/gui/editorwidgets/qgsvaluerelationconfigdlg.cpp
  src/gui/layout/qgslayoutatlaswidget.cpp
  src/gui/layout/qgslayoutattributetablewidget.cpp
  src/gui/pointcloud/qgspointcloudlayersaveasdialog.cpp
  src/gui/processing/qgsprocessingaggregatewidgetwrapper.cpp
  src/gui/processing/qgsprocessingfieldmapwidgetwrapper.cpp
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingtininputlayerswidget.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/qgsextentwidget.cpp
  src/gui/qgsmaplayercombobox.h
  src/gui/vector/qgsjoindialog.cpp
  src/providers/virtual/qgsembeddedlayerselectdialog.cpp
  tests/src/core/testqgsmaplayer.cpp
  tests/src/core/testqgssettings.cpp
  tests/src/core/testqgssettingsentry.cpp
  tests/src/python/test_qgsmaplayercombobox.py
  tests/src/python/test_qgsmaplayerproxymodel.py
  tests/src/python/test_qgssettings.py
  tests/src/python/test_qgssettingsentry.py
Labels: Squash!

#54901 Fix angle constraint in floater
  src/gui/qgsadvanceddigitizingfloater.cpp
Labels: Bug

#54854 Backport: RASTER properties dlg sync opacity
  src/gui/raster/qgsrasterlayerproperties.cpp
  tests/src/python/test_qgsrasterlayerproperties.py
Labels: Backport

#54920 Don't show help for algorithms which can't be run in qgis_process
  src/process/qgsprocess.cpp
Labels: backport queued_ltr_backports

#54924 Do not force verbose build in mingw build
  ms-windows/mingw/build.sh
Labels: Build/Install, Windows, CI/GitHub-Actions

#54947 Fix crash in layout legend
  src/gui/layertree/qgslayertreeview.cpp
Labels: Bug, Print Layouts

#54943 Correctly delete graduated layout widgets
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
Labels: Bug, backport queued_ltr_backports

#54953 Handle null rectangles in QgsExtentWidget::outputExtent
  src/gui/qgsextentwidget.cpp
Labels: Bug

#54955 Handle null in QgsRectangle grow() and include() methods
  src/core/geometry/qgsrectangle.h
  tests/src/core/geometry/testqgsrectangle.cpp
Labels: Bug

#54959 [Layout] Remove properties widget when layout item is destroyed
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
Labels: Bug, Print Layouts, backport queued_ltr_backports

#54967 Handle Null rectangle in QgsRectangle::buffered
  src/core/geometry/qgsrectangle.h
  tests/src/core/geometry/testqgsrectangle.cpp
Labels: Bug

#55001 unload active plugin before updating or reinstalling it (fix #54968)
  python/pyplugin_installer/installer.py
Labels: Bug, Plugin manager, backport queued_ltr_backports

#55008 Add a QgsRectangle::createNull() temporary static method
  python/core/auto_generated/geometry/qgsrectangle.sip.in
  src/core/geometry/qgsrectangle.h
Labels: Chore

#55011 Use valid extent in testRegisterFeatureUnprojectible
  tests/src/core/testqgslabelingengine.cpp
Labels: testsuite

#55006 fix(python/CMakeLists.txt): be sure we only use std 14 for python
  python/CMakeLists.txt
Labels: Build/Install, Bug

#54936 Run doxygen layout checker in prepare-commit script, when possible
  scripts/prepare_commit.sh
  tests/code_layout/test_doxygen_layout.sh
Labels: Chore

#54978 Revert "Revert "Allowing storing GPGK raster layer styles to DB""
  python/core/auto_additions/qgis.py
  python/core/auto_generated/providers/qgsdataprovider.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/vector/qgsvectordataprovider.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/gui/auto_generated/qgslayerpropertiesdialog.sip.in
  python/gui/auto_generated/raster/qgsrasterlayerproperties.sip.in
  python/gui/auto_generated/vector/qgsvectorlayerproperties.sip.in
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/qgsdataprovider.cpp
  src/core/providers/qgsdataprovider.h
  src/core/qgis.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsogrutils.cpp
  src/core/qgsogrutils.h
  src/core/vector/qgsvectordataprovider.cpp
  src/core/vector/qgsvectordataprovider.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/gui/CMakeLists.txt
  src/gui/mesh/qgsmeshlayerproperties.h
  src/gui/qgslayerpropertiesdialog.cpp
  src/gui/qgslayerpropertiesdialog.h
  src/gui/qgsmaplayerloadstyledialog.cpp
  src/gui/qgsmaplayerloadstyledialog.h
  src/gui/qgsmaplayersavestyledialog.cpp
  src/gui/qgsmaplayersavestyledialog.h
  src/gui/qgsmaplayerstylecategoriesmodel.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrasterlayerproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.h
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlprovider.h
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  src/ui/qgsmaplayersavestyledialog.ui
  tests/src/python/test_provider_mssql.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_spatialite.py
Labels: PostGIS data provider

#55018 Remove custom FALLTHROUGH define
  python/core/auto_generated/qgis.sip.in
  src/app/layers/qgsapplayerhandling.cpp
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/core/labeling/qgsvectorlayerlabeling.cpp
  src/core/layout/qgslayoutitemmap.cpp
  src/core/layout/qgslayoutitemmapgrid.cpp
  src/core/layout/qgslayoutitemmapitem.cpp
  src/core/pointcloud/qgspointcloudattributebyramprenderer.cpp
  src/core/pointcloud/qgspointcloudlayerexporter.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgis.h
  src/core/qgsmaplayerlegend.cpp
  src/core/qgsogcutils.cpp
  src/core/qgsrendercontext.cpp
  src/core/qgsscalecalculator.cpp
  src/core/qgsvectorfilewriter.cpp
  src/core/raster/qgssinglebandpseudocolorrenderer.cpp
  src/core/symbology/qgssymbol.cpp
  src/core/textrenderer/qgstextrenderer.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayerprofilegenerator.cpp
  src/gui/annotations/qgsmaptoolmodifyannotation.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/qgspropertyoverridebutton.cpp
  src/plugins/grass/qgsgrassnewmapset.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresexpressioncompiler.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
Labels: Cleanup, PostGIS data provider

#54987 Make userData a property from locator to avoid crash
  python/core/auto_generated/locator/qgslocatorfilter.sip.in
  src/app/locator/qgsactionlocatorfilter.cpp
  src/app/locator/qgsactivelayerfeatureslocatorfilter.cpp
  src/app/locator/qgsalllayersfeatureslocatorfilter.cpp
  src/app/locator/qgsbookmarklocatorfilter.cpp
  src/app/locator/qgsexpressioncalculatorlocatorfilter.cpp
  src/app/locator/qgsgotolocatorfilter.cpp
  src/app/locator/qgslayermetadatalocatorfilter.cpp
  src/app/locator/qgslayertreelocatorfilter.cpp
  src/app/locator/qgslayoutlocatorfilter.cpp
  src/app/locator/qgssettingslocatorfilter.cpp
  src/core/geocoding/qgsabstractgeocoderlocatorfilter.cpp
  src/core/locator/qgslocatorfilter.cpp
  src/core/locator/qgslocatorfilter.h
  src/gui/locator/qgslocatorwidget.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: Bug

#55023 [backport] GPKG: fix json map filewriter
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/test_qgsvectorfilewriter.py
Labels: Backport, Bug

#55031 Fix broken rendering of vector tile style rules set to (all layers) which use attribute filters
  src/core/vectortile/qgsvectortilemvtdecoder.cpp
  tests/src/core/testqgsvectortilelayer.cpp
  tests/testdata/control_images/vector_tile/expected_render_test_filter_all_layers/expected_render_test_filter_all_layers.png
Labels: backport queued_ltr_backports

#55039 cmake: add a patch to build on fedora38. Fixes #54348
  CMakeLists.txt
Labels: Build/Install

#55051 Increase expression widget text size for long expressions
  src/gui/qgsfieldexpressionwidget.cpp
  tests/src/gui/testqgsfieldexpressionwidget.cpp
Labels: Bug, backport queued_ltr_backports

#55043 [processing] Fix BACKGROUND_COLOR parameter ignored when exporting XYZ tiles using JPG format
  src/analysis/processing/qgsalgorithmxyztiles.cpp
Labels: backport release-3_28

#55045 [ui][themes] Fix layout designer item properties' section label background color
  resources/themes/Blend of Gray/palette.txt
  src/ui/layout/qgslayout3dmapwidgetbase.ui
  src/ui/layout/qgslayoutattributetablewidgetbase.ui
  src/ui/layout/qgslayoutelevationprofilewidgetbase.ui
  src/ui/layout/qgslayouthtmlwidgetbase.ui
  src/ui/layout/qgslayoutlabelwidgetbase.ui
  src/ui/layout/qgslayoutlegendwidgetbase.ui
  src/ui/layout/qgslayoutmanualtablewidgetbase.ui
  src/ui/layout/qgslayoutmapwidgetbase.ui
  src/ui/layout/qgslayoutmarkerwidgetbase.ui
  src/ui/layout/qgslayoutpagepropertieswidget.ui
  src/ui/layout/qgslayoutpicturewidgetbase.ui
  src/ui/layout/qgslayoutpolygonwidgetbase.ui
  src/ui/layout/qgslayoutpolylinewidgetbase.ui
  src/ui/layout/qgslayoutscalebarwidgetbase.ui
  src/ui/layout/qgslayoutshapewidgetbase.ui
Labels: backport release-3_28

#55047 [processing] Fix crash when adding a mesh dataset group input
  src/gui/processing/qgsprocessingmeshdatasetwidget.cpp
Labels: backport release-3_28

#55048 [maptools] Fix copying of identified vector tile layer feature's attribute value
  src/app/qgsidentifyresultsdialog.cpp
Labels: backport release-3_28

#55049 Make Delete ring map tool respect selected features
  src/app/qgsmaptooldeletering.cpp
Labels: Bug

#55058 [ui][themes] Fix clipped user profile selector icon size combobox content
  src/ui/qgsuserprofileoptionswidgetbase.ui
Labels: backport release-3_28

#55057 [themes] Fix checkbox styled as enabled within disabled table and tree widgets
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_28

#55068 fix consistent mesh symbology
  src/core/mesh/qgsmeshlayer.cpp
Labels: Bug, Mesh

#54800 Add safeguard for -of option
  python/plugins/processing/algs/gdal/ClipRasterByExtent.py
  python/plugins/processing/algs/gdal/ClipRasterByMask.py
  python/plugins/processing/algs/gdal/ColorRelief.py
  python/plugins/processing/algs/gdal/GridAverage.py
  python/plugins/processing/algs/gdal/GridDataMetrics.py
  python/plugins/processing/algs/gdal/GridInverseDistance.py
  python/plugins/processing/algs/gdal/GridInverseDistanceNearestNeighbor.py
  python/plugins/processing/algs/gdal/GridLinear.py
  python/plugins/processing/algs/gdal/GridNearestNeighbor.py
  python/plugins/processing/algs/gdal/aspect.py
  python/plugins/processing/algs/gdal/fillnodata.py
  python/plugins/processing/algs/gdal/hillshade.py
  python/plugins/processing/algs/gdal/merge.py
  python/plugins/processing/algs/gdal/nearblack.py
  python/plugins/processing/algs/gdal/pansharp.py
  python/plugins/processing/algs/gdal/pct2rgb.py
  python/plugins/processing/algs/gdal/proximity.py
  python/plugins/processing/algs/gdal/rasterize.py
  python/plugins/processing/algs/gdal/rearrange_bands.py
  python/plugins/processing/algs/gdal/rgb2pct.py
  python/plugins/processing/algs/gdal/roughness.py
  python/plugins/processing/algs/gdal/sieve.py
  python/plugins/processing/algs/gdal/slope.py
  python/plugins/processing/algs/gdal/translate.py
  python/plugins/processing/algs/gdal/warp.py
  python/plugins/processing/gui/BatchPanel.py
Labels: Bug

#55073 [exif] Insure that Exif.Image.Orientation is written as a ushort to avoid compatibility issues
  src/core/raster/qgsexiftools.cpp
Labels: backport release-3_34

#55063 Synchronize point cloud layer's style with the layer properties style widgets
  src/app/3d/qgspointcloudlayer3drendererwidget.cpp
  src/app/pointcloud/qgspointcloudlayerproperties.cpp
  src/gui/pointcloud/qgspointcloudrendererpropertieswidget.cpp
Labels: Bug, Point Clouds

#55061 [sld] Fix saving of label background settings to SLD files
  src/core/textrenderer/qgstextbackgroundsettings.cpp
  tests/src/python/test_qgssymbollayer_createsld.py
Labels: backport release-3_28, backport release-3_34

#55025 Fix JSON map fields type changed to string
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsofflineediting.cpp
  tests/src/python/test_provider_ogr.py
Labels: Bug

#54951 FEATURE: Server getlegendgraphics json rule
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgslegendsettings.sip.in
  src/core/qgis.h
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendsettings.cpp
  src/core/qgslegendsettings.h
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
Labels: Feature, Server, Needs Documentation, Changelog
