Repository qgis/QGIS, pull requests merged in 2023-11, with the labels that each got.

#55109 [themes] Fix text and selection color on a number of dark background widgets in night mapping theme
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_28, backport release-3_34

#55059 [symbology] Fix absence of visual selected state for centroid fill and improve that for {line,point} pattern fill
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgsfillsymbollayer.h
Labels: Symbology, backport release-3_28, backport release-3_34

#55139 Add test masks
  tests/testdata/control_images/selective_masking/layout_export_marker_masking_w_effects/layout_export_marker_masking_w_effects_mask.png
  tests/testdata/control_images/selective_masking/layout_export_marker_masking_w_transparency/layout_export_marker_masking_w_transparency_mask.png
Labels: backport queued_ltr_backports, backport release-3_28

#55153 Dxf import open file selection filters
  src/ui/qgsdwgimportbase.ui
Labels: backport release-3_34

#55152 [GUI] Fix "Respect screen DPI" option tooltip
  src/ui/qgsoptionsbase.ui
Labels: GUI/UX, backport release-3_28, backport release-3_34

#55145 Tiny QML widget UI improvement
  src/gui/vector/qgsattributesformproperties.cpp
Labels: backport release-3_34

#55174 Fix documentation format of QgsCustomDropHandler
  python/gui/auto_generated/qgscustomdrophandler.sip.in
  src/gui/qgscustomdrophandler.h
Labels: backport release-3_28

#55181 Fix typo in a tooltip (QgsVectorLayerDigitizingPropertiesPage)
  src/ui/qgsvectorlayerdigitizingproperties.ui
Labels: backport release-3_28, backport release-3_34

#55196 Move QgsProperty::Type to Qgis, promote to enum class
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsproperty.sip.in
  python/core/auto_generated/qgspropertycollection.sip.in
  src/app/labeling/qgslabelpropertydialog.cpp
  src/app/labeling/qgsmaptoollabel.cpp
  src/app/labeling/qgsmaptoolmovelabel.cpp
  src/app/qgsmaptooloffsetpointsymbol.cpp
  src/app/qgsmaptoolrotatepointsymbols.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/qgis.h
  src/core/qgsauxiliarystorage.cpp
  src/core/qgsdatadefinedsizelegend.cpp
  src/core/qgsproperty.cpp
  src/core/qgsproperty.h
  src/core/qgsproperty_p.h
  src/core/qgspropertycollection.cpp
  src/core/qgspropertycollection.h
  src/core/vector/qgsvectorlayerelevationproperties.cpp
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/qgsfieldmappingmodel.cpp
  src/gui/qgspropertyassistantwidget.cpp
  src/gui/qgspropertyoverridebutton.cpp
  src/gui/qgspropertyoverridebutton.h
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/core/testqgslayoutitem.cpp
  tests/src/core/testqgslayoutobject.cpp
  tests/src/core/testqgsproperty.cpp
Labels: Cleanup

#55041 [symbology] Fix font marker inserting illegal characters in a saved project's XML document
  python/core/auto_generated/symbology/qgssymbollayerutils.sip.in
  src/core/project/qgsproject.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgssymbollayerutils.h
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_qgssymbollayerutils.py
Labels: backport queued_ltr_backports, backport release-3_34

#55213 QgsAfsSharedData should not be a QObject
  src/providers/arcgisrest/qgsafsshareddata.cpp
  src/providers/arcgisrest/qgsafsshareddata.h
Labels: backport queued_ltr_backports, backport release-3_34

#55215 Move ::htmlMetadata from some data provider subclasses up to base class
  python/core/auto_generated/providers/qgsdataprovider.sip.in
  python/core/auto_generated/raster/qgsrasterdataprovider.sip.in
  python/core/auto_generated/tiledscene/qgstiledscenedataprovider.sip.in
  src/core/mesh/qgsmeshlayer.cpp
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
  src/core/providers/qgsdataprovider.cpp
  src/core/providers/qgsdataprovider.h
  src/core/raster/qgsrasterdataprovider.h
  src/core/tiledscene/qgstiledscenedataprovider.cpp
  src/core/tiledscene/qgstiledscenedataprovider.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vectortile/qgsvectortiledataprovider.cpp
  src/core/vectortile/qgsvectortiledataprovider.h
  src/providers/arcgisrest/qgsamsprovider.cpp
  src/providers/arcgisrest/qgsamsprovider.h
  src/providers/grass/qgsgrassrasterprovider.cpp
  src/providers/grass/qgsgrassrasterprovider.h
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
  src/providers/virtualraster/qgsvirtualrasterprovider.cpp
  src/providers/virtualraster/qgsvirtualrasterprovider.h
  src/providers/wcs/qgswcscapabilities.cpp
  src/providers/wcs/qgswcscapabilities.h
  src/providers/wcs/qgswcsprovider.cpp
  src/providers/wcs/qgswcsprovider.h
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
Labels: API, PostGIS data provider

#55132 Fix aggregate function orderby
  src/core/expression/qgsexpressionfunction.cpp
  src/core/qgsaggregatecalculator.cpp
  src/gui/qgsexpressionpreviewwidget.cpp
Labels: Bug

#55094 Server: support both LAYER and LAYERS for describelayer
  src/server/services/wms/qgswmsdescribelayer.cpp
Labels: Server

#55241 If user enabled OTB plugin without setting a path, don't show message box warnings when closing Settings dialog
  python/plugins/otbprovider/OtbAlgorithmProvider.py
Labels: backport queued_ltr_backports, backport release-3_34

#55244 [themes] Fix Night Mapping making it unjustifiably hard to identify buttons in a UI
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_34

#55230 Fix opening settings dialog breaks oauth and ssl handling for the rest of the session
  src/core/network/qgsnetworkaccessmanager.cpp
  src/core/network/qgsnetworkaccessmanager.h
  tests/src/core/testqgsnetworkaccessmanager.cpp
Labels: backport release-3_28, backport release-3_34

#55269 [ui][themes] Make attribute form constraints background coloring compatible with dark themes
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.cpp
Labels: GUI/UX, backport release-3_28, backport release-3_34

#55211 Fix exception in interpolation algorithm widgets
  python/plugins/processing/algs/qgis/ui/HeatmapWidgets.py
  python/plugins/processing/algs/qgis/ui/InterpolationWidgets.py
Labels: Regression, backport release-3_34

#55207 [Oracle] Fix date filtering
  src/providers/oracle/qgsoracleconn.cpp
Labels: Oracle data provider, backport queued_ltr_backports, backport release-3_34

#55283 Fix JSON utils long types
  src/core/qgsjsonutils.cpp
  tests/src/core/testqgsjsonutils.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_34

#55292 Let content type detection shortcut also apply to Google earth tiles
  src/core/tiledscene/qgscesiumtilesdataprovider.cpp
Labels: backport release-3_34

#55290 Don't fetch 3d scene tiles in main thread
  src/3d/qgstiledscenechunkloader_p.cpp
  src/3d/qgstiledscenechunkloader_p.h
Labels: Tiled Scene, backport release-3_34

#55296 fix(Qgs3DSceneExporter): 3D scene export failed due to bad feature sort
  src/3d/qgs3dsceneexporter.cpp
  tests/src/3d/testqgs3drendering.cpp
Labels: 3D, Bug, backport release-3_34

#54941 Add 3D extent to providers (1st stage)
  python/core/auto_generated/providers/qgsdataprovider.sip.in
  python/core/auto_generated/qgsdataproviderelevationproperties.sip.in
  python/core/auto_generated/qgsfeaturesource.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsxmlutils.sip.in
  python/core/auto_generated/raster/qgsrasterdataproviderelevationproperties.sip.in
  python/core/auto_generated/vector/qgsvectordataprovider.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  src/core/providers/qgsdataprovider.h
  src/core/qgsdataproviderelevationproperties.cpp
  src/core/qgsdataproviderelevationproperties.h
  src/core/qgsfeaturesource.cpp
  src/core/qgsfeaturesource.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsxmlutils.cpp
  src/core/qgsxmlutils.h
  src/core/raster/qgsrasterdataproviderelevationproperties.cpp
  src/core/raster/qgsrasterdataproviderelevationproperties.h
  src/core/vector/qgsvectordataprovider.cpp
  src/core/vector/qgsvectordataprovider.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  tests/src/core/testqgsvectordataprovider.cpp
  tests/src/python/test_qgsvectorlayer.py
  tests/testdata/3d/lines_with_z.gpkg.zip
Labels: Data Provider, 3D

#55285 Fix #55169 - Atlas toolbar visibility not remembered
  src/app/layout/qgslayoutdesignerdialog.cpp
Labels: GUI/UX, Bug

#55304 When writing a layer with field alias, ensure the aliases are unique per table
  src/core/qgsvectorfilewriter.cpp
Labels: backport release-3_28, backport release-3_34

#55131 Avoid None as value for referenced_columns in qgsfunction.py docs
  python/core/additions/qgsfunction.py
Labels: Expressions

#55141 When saving master auth pw in keychain, use a unique key per user profile
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
Labels: Authentication, backport queued_ltr_backports, backport release-3_34

#55341 When replacing expressions in eg layout labels, don't show null values as "0"
  src/core/expression/qgsexpression.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_28, backport release-3_34

#55334 Use @geometry in vectorTile filtering expression
  src/core/vectortile/qgsvectortilebasicrenderer.cpp
  src/gui/vectortile/qgsvectortilebasiclabelingwidget.cpp
  src/gui/vectortile/qgsvectortilebasicrendererwidget.cpp
Labels: backport release-3_34

#55316 Show render times in server profile and clear content after each request
  src/server/qgsserver.cpp
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Server

#55343 Disable QWT_POLAR on msys2 workflow
  .github/workflows/mingw-w64-msys2.yml
Labels: backport queued_ltr_backports, backport release-3_28, backport release-3_34

#55072 Wms get map pdf
  src/server/services/wms/CMakeLists.txt
  src/server/services/wms/qgspdfwriter.cpp
  src/server/services/wms/qgspdfwriter.h
  src/server/services/wms/qgswms.cpp
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getmap.py
  tests/testdata/qgis_server/getcapabilities-map.txt
  tests/testdata/qgis_server/getcapabilities.txt
  tests/testdata/qgis_server/getcapabilities_inspire.txt
  tests/testdata/qgis_server/getcapabilities_without_map_param.txt
  tests/testdata/qgis_server/getprojectsettings.txt
  tests/testdata/qgis_server/getprojectsettings_opacity.txt
  tests/testdata/qgis_server/wms_getcapabilities_1_1_1.txt
  tests/testdata/qgis_server/wms_getcapabilities_1_3_0.txt
  tests/testdata/qgis_server/wms_getcapabilities_empty_layer.txt
  tests/testdata/qgis_server/wms_getcapabilities_empty_spatial_layer.txt
  tests/testdata/qgis_server/wms_getcapabilities_rewriting.txt
  tests/testdata/qgis_server/wms_getcapabilities_without_title.txt
  tests/testdata/qgis_server_accesscontrol/results/getcapabilities_wms_dimension.txt
Labels: Server, Needs Documentation, Changelog

#55348 Fix pgraster statistics collection on Windows
  src/providers/postgres/raster/qgspostgresrasterprovider.h
Labels: Bug, Windows, PostGIS data provider, backport release-3_28, backport release-3_34

#55324 Fix shapefile extent not shrinking
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_shapefile.py
Labels: backport release-3_34

#55350 Fix decoration size on scaled screens
  src/app/decorations/qgsdecorationcopyright.cpp
  src/app/decorations/qgsdecorationimage.cpp
  src/app/decorations/qgsdecorationnortharrow.cpp
  src/app/decorations/qgsdecorationoverlay.cpp
  src/app/decorations/qgsdecorationscalebar.cpp
  src/app/decorations/qgsdecorationtitle.cpp
Labels: Regression, Bug, Decorations, backport release-3_34

#55064 Fix WMS multiple layers
  src/providers/wms/qgswmsprovider.cpp
Labels: Bug, WMS data provider

#55368 Fix Oracle syntax when estimating feature count on views
  src/providers/oracle/qgsoracleprovider.cpp
Labels: backport release-3_28, backport release-3_34

#55383 Do not represent invalid bools with false
  src/core/fieldformatter/qgscheckboxfieldformatter.cpp
  tests/src/python/test_qgsfieldformatters.py
Labels: Bug

#55385 Harmonize user facing labels for GDAL resampling methods
  python/plugins/processing/algs/gdal/buildvrt.py
  python/plugins/processing/algs/gdal/gdal2tiles.py
  python/plugins/processing/algs/gdal/gdaladdo.py
  python/plugins/processing/algs/gdal/pansharp.py
  python/plugins/processing/algs/gdal/retile.py
  python/plugins/processing/algs/gdal/warp.py
  src/analysis/processing/qgsalgorithmalignsingleraster.cpp
  src/app/georeferencer/qgstransformsettingsdialog.cpp
  src/app/options/qgsrasterrenderingoptions.cpp
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/gui/raster/qgsresamplingutils.cpp
Labels: backport release-3_34

#55146 [editor widgets] Fix QML editor widget not responsive to attribute changes
  python/gui/auto_generated/editorwidgets/qgsqmlwidgetwrapper.sip.in
  src/gui/editorwidgets/qgshtmlwidgetwrapper.cpp
  src/gui/editorwidgets/qgshtmlwidgetwrapper.h
  src/gui/editorwidgets/qgsqmlwidgetwrapper.cpp
  src/gui/editorwidgets/qgsqmlwidgetwrapper.h
  src/gui/editorwidgets/qgstextwidgetwrapper.cpp
  src/gui/editorwidgets/qgstextwidgetwrapper.h
Labels: backport queued_ltr_backports, backport release-3_34

#55170 Set input combo box to active layer when importing vector data (Fixes #55168)
  python/plugins/db_manager/dlg_import_vector.py
Labels: Feature, DB Manager

#55413 Fix Georeferencer report issues: always include RMS error value and make the text selectable
  src/app/georeferencer/qgsgeorefmainwindow.cpp
Labels: Bug, Georeferencer

#55425 [Georeferencer] Fix successful georeferencing message
  src/app/georeferencer/qgsgeorefmainwindow.cpp
Labels: Bug, Georeferencer, backport release-3_34

#55428 Fix global settings file name in Qgis.SettingsOrigin Global value description
  python/core/auto_additions/qgis.py
  src/core/qgis.h
Labels: Bug, Configs and Options, backport release-3_34

#55434 Fix permissions on report files (3.34)
  .github/workflows/run-tests.yml
Labels: Backport, backport queued_ltr_backports, backport release-3_28

#55435 When a creating a new PG connection, use SSL prefer
  src/providers/postgres/qgspgnewconnection.cpp
Labels: PostGIS data provider, backport queued_ltr_backports, backport release-3_34

#55419 [feature] Add option to use localhost as redirect host for oauth2
  src/auth/oauth2/core/qgsauthoauth2config.cpp
  src/auth/oauth2/core/qgsauthoauth2config.h
  src/auth/oauth2/core/qgso2.cpp
  src/auth/oauth2/gui/qgsauthoauth2edit.cpp
  src/auth/oauth2/gui/qgsauthoauth2edit.ui
  tests/src/auth/testqgsauthoauth2method.cpp
Labels: Feature, Needs Documentation, Changelog

#55302 WMS service: option to skip name attribute for groups in wms capabilities document
  python/server/auto_generated/qgsserverprojectutils.sip.in
  src/app/qgsprojectproperties.cpp
  src/server/qgsserverprojectutils.cpp
  src/server/qgsserverprojectutils.h
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/server/services/wms/qgswmsrendercontext.cpp
  src/ui/qgsprojectpropertiesbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsserver_wms_getcapabilities_group_name.py
  tests/testdata/qgis_server/wms_group_test1.qgs
  tests/testdata/qgis_server/wms_group_test2.qgs
Labels: Feature, Server, Needs Documentation, Changelog

#54790 Fix reshape tool missing topological points
  src/app/CMakeLists.txt
  src/app/maptools/qgsavoidintersectionsoperation.cpp
  src/app/maptools/qgsavoidintersectionsoperation.h
  src/app/qgsmaptoolreshape.cpp
  src/app/vertextool/qgsvertextool.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
  tests/src/app/testqgsvertextool.cpp
Labels: Map Tools, Bug

#55464 Server: Fix unreported issue with SHOWRULEDETAILS with multiple rules
  src/core/qgslegendrenderer.cpp
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
Labels: Bug, Server, backport release-3_34
