Repository qgis/QGIS, pull requests merged in 2023-02, with the labels that each got.

#51633 Fix creation of GeoPDF with exported themes containing slashes
  src/core/qgsabstractgeopdfexporter.cpp
  tests/src/core/testqgslayoutgeopdfexport.cpp
Labels: backport release-3_28

#51655 Ensure using @geometry/@feature variables trigger geometry fetching in expression calculation
  src/core/expression/qgsexpressionfunction.cpp
  src/core/expression/qgsexpressionfunction.h
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_28

#51675 Optimise legend filter by map/expression calculations
  src/core/qgsmaphittest.cpp
Labels: Optimization

#51590 OAPIF faster way to get feature count
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/oapif/qgsoapifprovider.h
  tests/src/python/test_provider_oapif.py
Labels: PostGIS data provider

#51692 Fix graduated classification label range
  src/core/classification/qgsclassificationmethod.cpp
  tests/src/python/test_qgsclassificationmethod.py
  tests/src/python/test_qgsgraduatedsymbolrenderer.py
Labels: Symbology, Bug, backport release-3_28

#51703 Fix crash when showing tooltips for invalid layers
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: backport release-3_28

#51715 Flake8 - Check duplicated definitions for python imports and functions
  .flake8
  python/plugins/otbprovider/OtbChoiceWidget.py
  python/plugins/otbprovider/tests/OtbAlgorithmsTest.py
  python/plugins/processing/algs/gdal/warp.py
  tests/src/python/qgis_wrapped_server.py
  tests/src/python/test_disabled_tests.py
  tests/src/python/test_plugindependencies.py
  tests/src/python/test_provider_shapefile.py
  tests/src/python/test_provider_virtual.py
  tests/src/python/test_provider_wfs.py
  tests/src/python/test_qgsanimatedmarkersymbollayer.py
  tests/src/python/test_qgsbookmarkmanager.py
  tests/src/python/test_qgscategorizedsymbolrenderer.py
  tests/src/python/test_qgshashlinesymbollayer.py
  tests/src/python/test_qgslayerdefinition.py
  tests/src/python/test_qgslayoutatlas.py
  tests/src/python/test_qgslayoutcombobox.py
  tests/src/python/test_qgslayoutelevationprofile.py
  tests/src/python/test_qgslayoutmanager.py
  tests/src/python/test_qgslayoutmanagermodel.py
  tests/src/python/test_qgsmaplayerutils.py
  tests/src/python/test_qgsprocessingalgrunner.py
  tests/src/python/test_qgsprocessingparameters.py
  tests/src/python/test_qgsprojectutils.py
  tests/src/python/test_qgsrandommarkersymbollayer.py
  tests/src/python/test_qgsrasterlayer.py
  tests/src/python/test_qgsrendercontext.py
  tests/src/python/test_qgsserver_accesscontrol_wfs.py
  tests/src/python/test_qgsserver_accesscontrol_wms.py
  tests/src/python/test_qgsserver_wfs.py
  tests/src/python/test_qgssymbollayer_createsld.py
  tests/src/python/test_qgssymbollayer_readsld.py
  tests/src/python/test_qgssymbollayerutils.py
  tests/src/python/test_qgstextrenderer.py
  tests/src/python/test_qgsvectorlayer.py
  tests/src/python/test_selective_masking.py
Labels: testsuite

#51711 [Backport 3.22] Fix crash when showing tooltips for invalid layers
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: Backport

#51713 [Server] Fix WFS GetFeature featureid && exp access control
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_accesscontrol_wfs.py
Labels: Bug, Server, testsuite, backport release-3_28

#51723 Flake8 - Check duplicated definitions for python imports and functions
  .flake8
  python/plugins/otbprovider/OtbChoiceWidget.py
  python/plugins/otbprovider/tests/OtbAlgorithmsTest.py
  python/plugins/processing/algs/gdal/warp.py
  python/plugins/sagaprovider/SagaParameters.py
  tests/src/python/qgis_wrapped_server.py
  tests/src/python/test_disabled_tests.py
  tests/src/python/test_plugindependencies.py
  tests/src/python/test_provider_shapefile.py
  tests/src/python/test_provider_virtual.py
  tests/src/python/test_provider_wfs.py
  tests/src/python/test_qgsanimatedmarkersymbollayer.py
  tests/src/python/test_qgsbookmarkmanager.py
  tests/src/python/test_qgscategorizedsymbolrenderer.py
  tests/src/python/test_qgshashlinesymbollayer.py
  tests/src/python/test_qgslayerdefinition.py
  tests/src/python/test_qgslayoutatlas.py
  tests/src/python/test_qgslayoutcombobox.py
  tests/src/python/test_qgslayoutmanager.py
  tests/src/python/test_qgslayoutmanagermodel.py
  tests/src/python/test_qgsmaplayerutils.py
  tests/src/python/test_qgsprocessingalgrunner.py
  tests/src/python/test_qgsprocessingparameters.py
  tests/src/python/test_qgsprojectutils.py
  tests/src/python/test_qgsrandommarkersymbollayer.py
  tests/src/python/test_qgsrasterlayer.py
  tests/src/python/test_qgsrendercontext.py
  tests/src/python/test_qgsserver_accesscontrol_wfs.py
  tests/src/python/test_qgsserver_accesscontrol_wms.py
  tests/src/python/test_qgsserver_wfs.py
  tests/src/python/test_qgssymbollayer_createsld.py
  tests/src/python/test_qgssymbollayer_readsld.py
  tests/src/python/test_qgssymbollayerutils.py
  tests/src/python/test_qgstextrenderer.py
  tests/src/python/test_qgsvectorlayer.py
  tests/src/python/test_qgsvectorlayereditutils.py
  tests/src/python/test_selective_masking.py
Labels: Backport

#51719 Remember the collapsed state of the vector layer renderer group box
  src/gui/qgscollapsiblegroupbox.cpp
  src/ui/qgsrendererpropsdialogbase.ui
Labels: GUI/UX

#51701 Catch more bad characters when generating geopdf temporary file names
  src/core/qgsabstractgeopdfexporter.cpp
  tests/src/core/testqgslayoutgeopdfexport.cpp
Labels: backport release-3_28

#51734 [api] QgsExifTools improvements
  python/core/auto_generated/raster/qgsexiftools.sip.in
  src/core/raster/qgsexiftools.cpp
  src/core/raster/qgsexiftools.h
  tests/src/python/test_qgsexiftools.py
  tests/testdata/photos/0997.JPG
Labels: Feature, API

#51681 Avoid redo-ing the legend symbol hit test for legend edits which won't affect the legend symbols visible in a map
  src/core/layout/qgslayoutitemlegend.cpp
  src/gui/layout/qgslayoutlegendwidget.cpp
Labels: backport release-3_28

#51673 [georeferencer] Fix warning about missing output file name doesn't show in all circumstances
  src/app/georeferencer/qgsgeorefmainwindow.cpp
Labels: backport release-3_28

#51695 Keep ZM coordinates when simplifying geometry
  python/core/auto_generated/geometry/qgscircularstring.sip.in
  python/core/auto_generated/geometry/qgscompoundcurve.sip.in
  python/core/auto_generated/geometry/qgscurve.sip.in
  python/core/auto_generated/geometry/qgslinestring.sip.in
  src/core/geometry/qgscircularstring.cpp
  src/core/geometry/qgscircularstring.h
  src/core/geometry/qgscompoundcurve.cpp
  src/core/geometry/qgscompoundcurve.h
  src/core/geometry/qgscurve.h
  src/core/geometry/qgslinestring.h
  src/core/qgsmaptopixelgeometrysimplifier.cpp
  tests/src/core/geometry/testqgscompoundcurve.cpp
  tests/src/core/testqgsmaptopixelgeometrysimplifier.cpp
Labels: Processing, Bug, backport queued_ltr_backports

#51726 Attribute form D&D: fix editable state restore
  src/gui/qgsattributeform.cpp
Labels: Bug, Widgets

#51724 Server: Do not display Empty group in Capabilities and project settings
  src/server/services/wms/qgswmsgetcapabilities.cpp
  tests/src/python/test_qgsserver_accesscontrol_wms.py
Labels: Bug, Server, testsuite

#51752 Update help page references
  src/app/3d/qgs3danimationexportdialog.cpp
  src/app/3d/qgs3dmapcanvaswidget.cpp
  src/app/3d/qgs3dmeasuredialog.cpp
  src/app/decorations/qgsdecorationcopyrightdialog.cpp
  src/app/decorations/qgsdecorationgriddialog.cpp
  src/app/decorations/qgsdecorationimagedialog.cpp
  src/app/decorations/qgsdecorationlayoutextentdialog.cpp
  src/app/decorations/qgsdecorationnortharrowdialog.cpp
  src/app/decorations/qgsdecorationscalebardialog.cpp
  src/app/decorations/qgsdecorationtitledialog.cpp
  src/app/mesh/qgsmeshselectbyexpressiondialog.cpp
  src/app/qgisapp.cpp
  src/app/qgsanimationexportdialog.cpp
  src/app/qgsbookmarkeditordialog.cpp
  src/app/qgsformannotationdialog.cpp
  src/app/qgshtmlannotationdialog.cpp
  src/app/qgsmapsavedialog.cpp
  src/app/qgsmeasuredialog.cpp
  src/app/qgssvgannotationdialog.cpp
  src/app/qgstextannotationdialog.cpp
Labels: backport release-3_28

#51740 Fix calculation of legend keys for rule based renderers with ELSE rules
  src/core/symbology/qgsrulebasedrenderer.cpp
  tests/src/python/test_qgslayoutlegend.py
  tests/testdata/control_images/composer_legend/expected_composer_legend_elseChild/expected_composer_legend_elseChild.png
Labels: backport release-3_28

#51749 Fix predefined scales with locale
  src/app/qgsprojectproperties.cpp
  src/app/qgsprojectproperties.h
Labels: Bug, backport release-3_28

#51773 Fix WFS cached feature iterator empty filter rect
  src/core/geometry/qgsgeometry.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Bug, WFS data provider

#51790 If raster nodata color is set, use this also when the raster has an alpha band and the pixel is masked out
  src/core/raster/qgsmultibandcolorrenderer.cpp
  src/core/raster/qgspalettedrasterrenderer.cpp
  src/core/raster/qgssinglebandgrayrenderer.cpp
  src/core/raster/qgssinglebandpseudocolorrenderer.cpp
Labels: backport release-3_28

#51789 Fix generation of raster contrast lookup table with int8 rasters
  src/core/raster/qgscontrastenhancement.cpp
Labels: backport release-3_28

#51788 Fix default renderer should not be multiband renderer when raster is a two band raster with one alpha band and one undefined interpretation band
  src/core/raster/qgsrasterlayer.cpp
Labels: backport release-3_28

#51787 Fix crash when requesting color table from invalid bands
  src/core/providers/gdal/qgsgdalproviderbase.cpp
  tests/src/core/testqgsgdalprovider.cpp
Labels: backport release-3_28

#51804 Fix keyvalue widget missing signal on rows added/removed
  src/gui/qgstablewidgetbase.cpp
  tests/src/gui/testqgskeyvaluewidget.cpp
Labels: Bug, Widgets, backport release-3_28

#51806 [Delimited Text] Fix Z field and M field update (Fix #51805)
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
Labels: GUI/UX, Bug, Delimited text data provider, backport release-3_28

#51782 Fix crash when loading more than 16 vector layers
  src/app/layers/qgsapplayerhandling.cpp
Labels: Bug, Crash/Data Corruption

#51830 increase maxvalue of QDoubleSpinBox in qgsinterpolatedlinesymbollayerwidgetbase
  src/ui/symbollayer/qgsinterpolatedlinesymbollayerwidgetbase.ui
Labels: backport release-3_28

#51799 Allow pasting style to multiple layers through the menu
  src/app/qgisapp.cpp
Labels: Bug

#51842 Fix geometry fields incorrectly show as "range" types in fields list
  python/core/auto_generated/qgsfield.sip.in
  src/core/qgsfield.cpp
  src/core/qgsfield.h
  src/gui/vector/qgssourcefieldsproperties.cpp
  tests/src/core/testqgsfield.cpp
Labels: backport release-3_28

#51845 Correctly handle geometry value conversion for geometry fields
  src/core/qgsfield.cpp
  tests/src/core/testqgsfield.cpp
Labels: backport queued_ltr_backports

#51838 Fix array_remove_all behavior when removing null values from array
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport release-3_28

#51861 Try to fix qt6 builds
  .docker/qgis3-qt6-build-deps.dockerfile
Labels: Chore, backport queued_ltr_backports, backport release-3_28

#51780 Use a better approach to update virtual layer queries which doesn't lose all the layer's properties
  src/app/qgisapp.cpp
Labels: backport release-3_28

#51841 Ensure correct crs is available for QgsMapCanvas for slots connected to extentsChanged when canvas CRS is changed
  python/gui/auto_generated/qgsmapcanvas.sip.in
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvas.h
  tests/src/python/test_qgsmapcanvas.py
Labels: backport release-3_28

#51835 Handle referenced geometries when converting to string
  src/core/qgsfield.cpp
  tests/src/core/testqgsfield.cpp
Labels: Bug, backport queued_ltr_backports

#51854 Fix trust parameter not saved and not read
  src/core/project/qgsproject.cpp
  src/core/providers/qgsdataprovider.h
  tests/src/core/testqgsproject.cpp
Labels: Data Provider, Bug, backport queued_ltr_backports

#51880 Fix r.grow.distance `-n` argument
  python/plugins/grassprovider/description/r.grow.distance.txt
Labels: GRASS, Processing, Bug, backport release-3_28

#51890 Fix logic for triggering a full model reset in attribute table after changing attributes
  src/gui/attributetable/qgsattributetablemodel.cpp
Labels: backport release-3_28

#51801 Bugfix gh48077 multi edit constraints issues
  src/gui/qgsattributeform.cpp
Labels: Forms, Attribute Table, Bug

#50836 Remove the 'stale' label upon unstaling with commits
  .github/workflows/unstale.yml
Labels: stale

#51927 [Vector tiles] Fix JSON file style encoding (Fix #51915)
  src/gui/vectortile/qgsvectortilelayerproperties.cpp
Labels: Bug, Vector tiles, backport release-3_28

#51930 wmsgetcapabilities: Do not set a dimension default value if there are none
  src/server/services/wms/qgswmsgetcapabilities.cpp
Labels: backport release-3_28

#51855 [3D] Fix Y-Z inversion in point3dsymbolwidget
  src/app/3d/qgspoint3dsymbolwidget.cpp
  src/ui/3d/point3dsymbolwidget.ui
Labels: 3D, Bug, backport queued_ltr_backports

#51882 Update svg path when selecting file
  src/gui/symbology/qgssvgselectorwidget.cpp
Labels: GUI/UX, Bug, backport release-3_28

#51881 Fix delimited text delimiter encoding on windows
  src/core/qgspathresolver.cpp
Labels: Bug, Delimited text data provider, backport release-3_28

#51913 Python console shortcuts
  python/console/console.py
  python/console/console_editor.py
Labels: Python Console

#51803 fix copying urls/json to clipboard from identify results
  src/app/qgsidentifyresultsdialog.cpp
Labels: Bug

#51831 Split features tool, don't beginEditCoommand without a split line/point
  src/app/qgsmaptoolsplitfeatures.cpp
  src/app/qgsmaptoolsplitparts.cpp
Labels: Bug, backport release-3_28

#51952 Fix loss of first color for lineburst symbol layers in GUI
  python/core/auto_generated/symbology/qgslinesymbollayer.sip.in
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.h
Labels: backport release-3_28

#51634 Fix drag and drop to GDB results in columns shifted by one
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: backport queued_ltr_backports

#51714 Graduated classification w. fixed interval: fix or mitigate UX issue
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.h
Labels: GUI/UX, Bug

#51784 Avoid crash when using geometry generators and point displacement renderer
  src/core/symbology/qgspointdisplacementrenderer.cpp
  tests/src/python/test_qgspointdisplacementrenderer.py
Labels: Bug, backport release-3_28

#51774 Fix vertex editor displayed columns
  src/app/vertextool/qgslockedfeature.h
  src/app/vertextool/qgsvertexeditor.cpp
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgsvertexeditor.cpp
Labels: Map Tools, Bug, backport queued_ltr_backports

#51671 [OAPIF] Work around a bug in a server implementation (fixes #51663)
  src/providers/wfs/oapif/qgsoapifprovider.cpp
Labels: backport queued_ltr_backports

#50489 fix QgsLineString::sumUpArea accuracy
  src/core/geometry/qgslinestring.cpp
  tests/src/core/geometry/testqgslinestring.cpp
  tests/src/core/testqgsoverlayexpression.cpp
  tests/testdata/geom_data.csv
Labels: Feature, stale

#51884 Don't open filter from indicator when layer is edited
  src/app/qgslayertreeviewfilterindicator.cpp
Labels: GUI/UX, Bug, backport release-3_28

#51984 Nan z values should not be clipped from rendered geometries
  src/core/qgsclipper.h
  tests/src/core/testqgsclipper.cpp
  tests/src/python/test_qgsgeometrygeneratorsymbollayer.py
  tests/testdata/control_images/expected_geometrygenerator_z_clipping/expected_geometrygenerator_z_clipping.png
Labels: backport release-3_28

#51988 [processing] Fix exception when setting output files in batch processing after removing rows
  python/plugins/processing/gui/BatchPanel.py
Labels: backport release-3_28

#51985 [processing] Gracefully handle algorithms with no provider set
  python/plugins/processing/gui/AlgorithmDialog.py
  python/plugins/processing/gui/AlgorithmLocatorFilter.py
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
  src/process/qgsprocess.cpp
Labels: backport release-3_28

#51994 [processing] Don't raise uncaught exceptions when trying to generate GDAL commands for invalid layers
  python/plugins/processing/algs/gdal/GdalAlgorithmDialog.py
Labels: backport release-3_28

#52022 "Saving Map as Image": Fix setting LZW compression and skipping worldfile for TIFF image
  src/core/maprenderer/qgsmaprenderertask.cpp
Labels: Bug, backport release-3_28

#52026 [3d] Fix map theme layer visibility not respected
  src/3d/terrain/qgsterraintexturegenerator_p.cpp
Labels: 3D

#51745 [Backport release-3_28][Server] Fix WFS GetFeature featureid && exp access control
  src/server/services/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_qgsserver_accesscontrol_wfs.py
Labels: Bug, Server, testsuite
