Repository qgis/QGIS, pull requests merged in 2023-08, with the labels that each got.

#54013 OWS Fix unreported regression with credentials
  src/core/qgsowsconnection.cpp
Labels: Regression, Bug, backport release-3_32

#54025 Remove the password when a layer is not found from the log
  src/core/project/qgsprojectbadlayerhandler.cpp
Labels: backport queued_ltr_backports, backport release-3_32

#54038 Fix glitch in layout scalebar config widget
  src/gui/layout/qgslayoutscalebarwidget.cpp
  src/ui/layout/qgslayoutscalebarwidgetbase.ui
Labels: backport queued_ltr_backports, backport release-3_32

#53995 Block updates to layer tree view while loading projects
  src/app/qgisapp.cpp
  src/gui/qgsguiutils.cpp
  src/gui/qgsguiutils.h
Labels: Optimization, NOT FOR BACKPORT!

#54019 [ui] Fix visual glitches when resizing the overview panel
  src/gui/qgsmapoverviewcanvas.cpp
Labels: backport release-3_28, backport release-3_32

#53997 Remove unnecessary costly forced refresh of legends and replace with a deferred update
  src/core/layout/qgslayoutitemlegend.cpp
Labels: Optimization, NOT FOR BACKPORT!

#54050 Try to free some space on github action v2
  .github/workflows/run-tests.yml
Labels: backport queued_ltr_backports, backport release-3_28, backport release-3_32

#54060 qgis_process: fix unreported deadlock
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
Labels: Processing, Bug, Crash/Data Corruption, backport release-3_28, backport release-3_32

#54054 Try to get oracle test passing again
  .github/workflows/run-tests.yml
Labels: backport queued_ltr_backports, backport release-3_28, backport release-3_32

#54046 Layout Page number in page properties
  src/gui/layout/qgslayoutpagepropertieswidget.cpp
  src/ui/layout/qgslayoutpagepropertieswidget.ui
Labels: Feature, GUI/UX, Print Layouts

#54051 [themes] Fix black label on dark layout designer ruler issue
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_28, backport release-3_32

#54041 grass on windows:
  python/plugins/grassprovider/Grass7Utils.py
  src/providers/grass/qgsgrass.cpp
Labels: GRASS, backport release-3_28, backport release-3_32

#54080 [ui] Fix the main window's status bar text color on dark themes
  resources/themes/Night Mapping/palette.txt
  src/gui/qgsstatusbar.cpp
Labels: backport release-3_28, backport release-3_32

#54079 [ui] Fix hard-to-see connecting arrows and text within the processing's model designer
  src/gui/processing/models/qgsmodelarrowitem.cpp
  src/gui/processing/models/qgsmodelcomponentgraphicitem.cpp
Labels: backport release-3_28, backport release-3_32

#54101 Remove Esperanto language workaround
  src/app/options/qgsoptions.cpp
Labels: Configs and Options

#54100 Use localized format to display release date of plugins (Fix #53509)
  src/app/pluginmanager/qgspluginmanager.cpp
Labels: Bug, Plugin manager, backport release-3_32

#54103 Add PyQgsExternalStorageAwsS3 to ci blocklist
  .ci/test_blocklist_qt5.txt
Labels: backport queued_ltr_backports, backport release-3_28, backport release-3_32

#54105 Fix widget z range restrictions for layer metadata
  src/gui/qgsmetadatawidget.cpp
  src/ui/qgsmetadatawidget.ui
Labels: backport release-3_28, backport release-3_32

#54115 Optimise QgsMapToPixel::transformInPlace
  src/core/qgsmaptopixel.h
Labels: Optimization

#54074 Fix Crash when saving layout after removing map
  src/core/layout/qgslayoutitemattributetable.cpp
  src/core/layout/qgslayoutitemattributetable.h
Labels: backport release-3_28, backport release-3_32

#54152 Fix mingw build
  .github/workflows/mingw64.yml
  ms-windows/mingw/mingwdeps.sh
Labels: backport queued_ltr_backports, backport release-3_28, backport release-3_32

#53942 Fix #53776 - Annotation DPI
  src/gui/qgsmapcanvasannotationitem.cpp
Labels: backport release-3_32

#54160 Tiled scene 3D renderer - fetch content in background
  src/3d/qgstiledscenechunkloader_p.cpp
  src/3d/qgstiledscenechunkloader_p.h
Labels: Tiled Scene

#54169 Remove extra groupbox
  src/ui/qgsvectorelevationpropertieswidgetbase.ui
Labels: GUI/UX, Bug

#53962 Fix build on ArchLinux with recent version of protobuf
  CMakeLists.txt
Labels: Build/Install

#54186 Fix use after free when truncating 3d scene nodes
  src/3d/chunks/qgschunkedentity_p.cpp
Labels: backport release-3_28, backport release-3_32

#54190 Tiled scene: improve handling of URLs
  python/core/auto_generated/tiledscene/qgstiledscenetile.sip.in
  src/3d/qgsgltf3dutils.cpp
  src/3d/qgstiledscenechunkloader_p.cpp
  src/3d/qgstiledscenechunkloader_p.h
  src/3d/qgstiledscenelayer3drenderer.cpp
  src/core/tiledscene/qgscesiumtilesdataprovider.cpp
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
  src/core/tiledscene/qgstiledscenetile.cpp
  src/core/tiledscene/qgstiledscenetile.h
  tests/src/python/test_qgscesium3dtileslayer.py
  tests/src/python/test_qgstiledscenetile.py
Labels: Tiled Scene

#54194 Tiled scene chunk loader: clean up when deleted while doing work
  src/3d/qgstiledscenechunkloader_p.cpp
  src/3d/qgstiledscenechunkloader_p.h
Labels: Tiled Scene

#54209 Fix ci
  .github/workflows/run-tests.yml
Labels: Chore, backport queued_ltr_backports, backport release-3_28, backport release-3_32

#54193 Tiled scene: support google tiles
  src/core/tiledscene/qgscesiumtilesdataprovider.cpp
Labels: Tiled Scene

#54213 [ui] Fix attribute row cache spinbox width (fixes #54201)
  src/ui/qgsoptionsbase.ui
Labels: backport release-3_28, backport release-3_32

#54206 [Data Source Manager] Fix tooltips
  src/gui/qgsdatasourcemanagerdialog.cpp
Labels: backport release-3_32

#54198 [ui] Fix QgsExpressionLineEdit's display of valid expression for dark themes
  src/gui/qgsexpressionlineedit.cpp
Labels: backport release-3_28, backport release-3_32

#54222 Fix mingw build (3.28)
  .github/workflows/mingw64.yml
  ms-windows/mingw/mingwdeps.sh
Labels: Backport

#54223 Fix mingw build (queued ltr)
  .github/workflows/mingw64.yml
  ms-windows/mingw/mingwdeps.sh
Labels: Backport

#54168 Data Source Manger: connect the Help button to the docs for some providers (Fix #54125)
  src/gui/providers/gdal/qgsgdalsourceselect.cpp
  src/gui/providers/gdal/qgsgdalsourceselect.h
  src/gui/providers/qgspointcloudsourceselect.cpp
  src/gui/providers/qgspointcloudsourceselect.h
  src/gui/qgslayermetadatasearchwidget.cpp
  src/gui/qgslayermetadatasearchwidget.h
  src/gui/tiledscene/qgstiledscenesourceselect.cpp
  src/gui/tiledscene/qgstiledscenesourceselect.h
  src/providers/gpx/qgsgpxsourceselect.cpp
  src/providers/gpx/qgsgpxsourceselect.h
  src/providers/mdal/qgsmdalsourceselect.cpp
  src/providers/mdal/qgsmdalsourceselect.h
Labels: GUI/UX, Bug, Data Source Manager

#54252 [DXF] Don't write nan or inf in group codes for X and Y scale factors (Fix #54176)
  src/core/dxf/qgsdxfexport.cpp
Labels: DXF/DWG, Bug, backport release-3_32

#54238 Update MetaSearch with new settings API
  python/plugins/MetaSearch/dialogs/maindialog.py
Labels: MetaSearch, backport release-3_32

#53960 Fix delete curve vertex
  src/core/geometry/qgscompoundcurve.cpp
  tests/src/core/geometry/testqgscompoundcurve.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Digitizing

#54278 Handle PJ_TYPE_COORDINATE_METADATA in switch
  src/core/proj/qgscoordinatereferencesystem.cpp
Labels: Build/Install

#54197 Fixes workflows badge in README
  README.md
Labels: Documentation

#54269 Ensure layer filter is retained after cloning layers
  src/core/vector/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: backport release-3_28, backport release-3_32

#54245 Fix messed up enum documentation in generated doxygen outputs
  cmake_templates/Doxyfile.in
Labels: backport release-3_28, backport release-3_32

#53824 [processing][feature] Add a row_index and col_index field to the output of the "Create Grid" algorithm
  src/analysis/processing/qgsalgorithmgrid.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#54280 Try to reactivate msys2 workflow
  .github/workflows/mingw-w64-msys2.yml
Labels: Build/Install

#54301 Fix crash when trying to request features from invalid GPX layer
  src/providers/gpx/qgsgpxfeatureiterator.cpp
  tests/src/python/test_provider_gpx.py
Labels: backport release-3_28, backport release-3_32

#54063 Also set 'evaluate default values on provider side' property when loading a layer
  src/core/project/qgsproject.cpp
  tests/src/python/test_qgsproject.py
Labels: Project, backport release-3_28, backport release-3_32

#54303 When rendering tile borders for tiled scenes in 2d, also overlay the tile ids onto the tiles
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
  src/core/tiledscene/qgstiledscenelayerrenderer.h
Labels: Tiled Scene

#54334 display more verbose and less cryptic error if user selects unsupported output format
  src/analysis/processing/pdal/qgsalgorithmpdalassignprojection.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalclip.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalconvertformat.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalfilter.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalmerge.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalreproject.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalthinbydecimate.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalthinbyradius.cpp
  src/analysis/processing/pdal/qgspdalalgorithmbase.cpp
  src/analysis/processing/pdal/qgspdalalgorithmbase.h
Labels: Processing

#54326 Lower default pixel error for 3d tiled scenes to 15 px to match cesium defaults
  src/3d/qgstiledscenelayer3drenderer.cpp
  src/3d/qgstiledscenelayer3drenderer.h
  src/app/3d/qgstiledscenelayer3drendererwidget.cpp
Labels: Tiled Scene

#54346 [gui][layout] Set clearvalue property to 0 for Map Grid's offset X/Y spinboxes (Fix #54251)
  src/gui/layout/qgslayoutmapgridwidget.cpp
Labels: GUI/UX, Bug, Print Layouts, backport release-3_28, backport release-3_32

#54347 [ui][symbology] Fix customized graduated renderer label format and precision not restored
  src/core/classification/qgsclassificationmethod.cpp
  tests/src/python/test_qgsgraduatedsymbolrenderer.py
Labels: backport release-3_28, backport release-3_32

#54344 Convert curved parameter should be optional to avoid breaking older models which don't have this parameter set
  src/analysis/processing/qgsalgorithmtransform.cpp
Labels: backport release-3_32

#54383 [decorations] Scale bar should follow the current project's distance unit type
  src/app/decorations/qgsdecorationscalebar.cpp
Labels: backport release-3_28, backport release-3_32

#54254 Correctly handle GDAL drivers which support BOTH raster and vector layers in the GDAL driver list in options dialog
  src/app/options/qgsoptions.cpp
Labels: backport queued_ltr_backports, backport release-3_32

#54396 [cesium] Allow layer uris using ion access tokens
  src/core/tiledscene/qgscesiumtilesdataprovider.cpp
Labels: Tiled Scene

#54406 Fix QgsMapLayer::saveNamedProperty and QgsMapLayer::saveSldStyleV2: set resultFlag to False when the directory is not writable
  src/core/qgsmaplayer.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_32

#54367 [processing] Fix save vector features to file algorithm's handling of pre-existing files
  src/analysis/processing/qgsalgorithmsavefeatures.cpp
Labels: Needs Documentation, Changelog

#54401 More robust retrieval for PostgreSQL version
  python/plugins/db_manager/db_plugins/postgis/connector.py
Labels: DB Manager

#54438 [3d] Allow per-node add/replace strategy
  src/3d/chunks/qgschunkedentity_p.cpp
  src/3d/chunks/qgschunkedentity_p.h
  src/3d/chunks/qgschunknode_p.h
  src/3d/qgspointcloudlayerchunkloader_p.cpp
  src/3d/qgstiledscenechunkloader_p.cpp
Labels: Tiled Scene

#54414 Fix non-optional band parameter should not need to be specified
  src/core/processing/qgsprocessingparameters.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: backport queued_ltr_backports, backport release-3_32

#54439 sandbox 3d: use projected CRS if project's CRS is not projected
  tests/src/3d/sandbox/qgis_3d_sandbox.cpp
Labels: 3D
