Repository qgis/QGIS, pull requests merged in 2023-07, with the labels that each got.

#53668 [Oracle] Remove useless source files
  src/providers/oracle/qgsoraclecolumntypethread.cpp
  src/providers/oracle/qgsoraclecolumntypethread.h
Labels: Oracle data provider

#53659 [Backport release-3_28] GRASS: Fix v.reclass (make the 'column' parameter optional)
  python/plugins/grassprovider/description/v.reclass.txt
Labels: Backport, GRASS

#53660 GRASS: add ext module for v.reclass
  python/plugins/grassprovider/ext/v_reclass.py
Labels: GRASS

#53658 [Backport release-3_32] GRASS: Fix v.reclass (make the 'column' parameter optional)
  python/plugins/grassprovider/description/v.reclass.txt
Labels: Backport, GRASS

#53638 Add provider connection implementation for tiled mesh connections
  src/core/CMakeLists.txt
  src/core/tiledmesh/qgstiledmeshconnection.cpp
  src/core/tiledmesh/qgstiledmeshconnection.h
  tests/src/core/CMakeLists.txt
  tests/src/core/testqgstiledmeshconnection.cpp
Labels: API, Tiled Mesh

#53708 do not call deduceEndian() if PGver >= 7.4
  src/providers/postgres/qgspostgresconn.cpp
Labels: PostGIS data provider

#53629 Add some new methods to QgsBox3d
  python/core/auto_generated/geometry/qgsbox3d.sip.in
  src/core/geometry/qgsbox3d.cpp
  src/core/geometry/qgsbox3d.h
  tests/src/python/test_provider_oapif.py
  tests/src/python/test_qgsbox3d.py
Labels: 3D

#53748 Add "Square Inches" to area units in Options --> Map Tools dialog
  src/app/options/qgsoptions.cpp
Labels: backport release-3_32

#53756 [OGR provider] Do not try to open FileGeodatabase in update mode if not possible (fixes #8075)
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: backport release-3_28, backport release-3_32

#53728 Partially consider 3d point symbol sizes when calculating the bounding boxes of chunks
  src/3d/symbols/qgspoint3dsymbol_p.cpp
Labels: 3D, backport queued_ltr_backports, backport release-3_32

#53792 [xyz] Fix tile caching of redirected XYZ URLs
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
Labels: backport release-3_32

#53772 Add @benoitdm-oslandia to contributors list
  doc/CONTRIBUTORS
  resources/data/contributors.json
Labels: Documentation

#53799 Add tinygltf to external libs
  external/tinygltf/tiny_gltf.h
  scripts/astyle.sh
Labels: 3D

#53803 Disable msys2 workflow
  .github/workflows/mingw-w64-msys2.disabled
Labels: backport queued_ltr_backports, backport release-3_28, backport release-3_32

#53794 Port SAGA "DTM Filter (slope-based)" tool to a native QGIS algorithm
  python/plugins/processing/tests/testdata/qgis_algorithm_tests5.yaml
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmrasterdtmslopebasedfilter.cpp
  src/analysis/processing/qgsalgorithmrasterdtmslopebasedfilter.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Needs Documentation, Changelog

#53804 Fix crash when trying to re-load a layer from processing results into the project when that layer already exists in the project
  python/plugins/processing/gui/Postprocessing.py
Labels: backport release-3_32

#53805 When an algorithm is added to a model with optional layer parameters, leave the default values for these as empty
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: backport release-3_32

#53816 Fix common angle keyboard shortcuts
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
Labels: GUI/UX, Bug, backport release-3_32

#53628 [Server] Fix OGC filter with date/time
  src/core/expression/qgsexpressionnodeimpl.cpp
  tests/src/python/test_qgsogcutils.py
Labels: Expressions, Bug, Server, backport queued_ltr_backports, backport release-3_32

#53712 Discover relations for Oracle provider
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/oracle/qgsoracleprovider.h
  tests/src/python/test_provider_oracle.py
  tests/testdata/provider/testdata_oracle.sql
Labels: Feature, Data Provider, Changelog, Relations, Oracle data provider

#53769 Postgres provider discover relations
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
  tests/testdata/provider/testdata_pg.sql
Labels: Data Provider, Relations, PostGIS data provider

#53841 Support raster band description
  python/core/auto_generated/raster/qgsrasterdataprovider.sip.in
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
  src/core/raster/qgsrasterdataprovider.cpp
  src/core/raster/qgsrasterdataprovider.h
  src/gui/raster/qgsrasterbandcombobox.cpp
  tests/src/python/test_provider_gdal.py
Labels: Feature, Rasters

#53815 CSV: fix update on types auto detection
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.h
Labels: Bug, Delimited text data provider

#53846 [Oracle] Fix crash when using an auth config id
  src/providers/oracle/qgsoracleconn.cpp
Labels: Bug, Oracle data provider, backport release-3_32

#53853 Hide toolbutton dropdown when only one action
  src/app/maptools/qgsmaptoolsdigitizingtechniquemanager.cpp
Labels: GUI/UX

#53566 Improve performance of adding OGR dataset with many layers
  src/app/layers/qgsapplayerhandling.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/providers/ogr/qgsogrproviderutils.h
Labels: backport queued_ltr_backports, backport release-3_32

#53864 [themes] Fix bad focus on mouse hovering tree view widgets
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: Bug, backport release-3_28, backport release-3_32

#53749 Do not display the password in the dialog when requesting credentials
  src/gui/qgscredentialdialog.cpp
  src/gui/qgscredentialdialog.h
Labels: Authentication, backport queued_ltr_backports, backport release-3_32

#53871 [themes] Fix combobox styling not reflecting the editable state
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_28, backport release-3_32

#53860 [Backport 3.32] Improve performance of adding OGR dataset with many layers
  src/app/layers/qgsapplayerhandling.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/providers/ogr/qgsogrproviderutils.h
Labels: Backport

#53859 [Backport queued_ltr_backports] Improve performance of adding OGR dataset with many layers
  src/app/layers/qgsapplayerhandling.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/providers/ogr/qgsogrproviderutils.h
Labels: Backport

#53873 Remove Move annotation tool (redundant with other annotation tools)
  images/images.qrc
  src/app/maptools/qgsappmaptools.cpp
  src/app/maptools/qgsappmaptools.h
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/ui/qgisapp.ui
Labels: GUI/UX, Needs Documentation

#53886 Fix contributors.json commit date
  resources/data/contributors.json
Labels: Bug

#53885 Fix crash from issue #53876
  src/app/qgslayerstylingwidget.cpp
Labels: Bug, backport release-3_28, backport release-3_32

#53903 Fix encoding of user expression Python script in Function Editor (Fix #53897)
  src/gui/codeeditors/qgscodeeditorpython.cpp
  src/gui/qgsexpressionbuilderwidget.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_32

#53908 Fix broken processing script editor actions
  python/plugins/processing/script/ScriptEditorDialog.py
Labels: Regression, backport release-3_28, backport release-3_32

#53895 Don't segmentize digitized feature if the layer supports curves
  src/gui/maptools/qgsmaptoolcapturelayergeometry.cpp
  tests/src/app/maptooladdfeatureline/testqgsmaptooladdfeatureline.cpp
Labels: Digitizing, backport release-3_28, backport release-3_32

#53949 [qml] Add a couple of useful Q_PROPERTY to QgsSnappingConfig
  src/core/qgssnappingconfig.cpp
  src/core/qgssnappingconfig.h
Labels: API

#53967 qgsbox3d: fix some corner cases in `combineWith`
  src/core/geometry/qgsbox3d.cpp
  tests/src/python/test_qgsbox3d.py
Labels: 3D

#53911 Fix label movement for lines when x/y placement is already active
  src/app/labeling/qgsmaptoolmovelabel.cpp
Labels: backport queued_ltr_backports, backport release-3_32

#53912 Fix confusion in angle handling for label results, where angles in radians were being treated as degrees
  src/app/labeling/qgsmaptoollabel.cpp
  src/app/labeling/qgsmaptoolmovelabel.cpp
  src/app/labeling/qgsmaptoolpinlabels.cpp
  src/core/labeling/qgslabelfeature.h
  src/core/labeling/qgslabelsearchtree.cpp
  src/core/labeling/qgspallabeling.cpp
  src/core/pal/feature.cpp
  src/core/pal/feature.h
  src/core/pal/labelposition.h
  tests/src/core/testqgslabelingengine.cpp
Labels: backport queued_ltr_backports, backport release-3_32

#53965 Insure that copied features within the same layer respect project relationship(s) strength
  python/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayertools.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgsattributetabledialog.cpp
  src/app/qgsclipboard.cpp
  src/app/qgsclipboard.h
  src/app/qgsmaptoolmovefeature.cpp
  src/core/qgstrackedvectorlayertools.cpp
  src/core/qgstrackedvectorlayertools.h
  src/core/vector/qgsvectorlayertools.cpp
  src/core/vector/qgsvectorlayertools.h
  tests/src/python/test_qgsvectorlayertools.py
Labels: Feature

#53983 Fix label movement for lines when x/y placement is already active (LTR)
  src/app/labeling/qgsmaptoolmovelabel.cpp
Labels: Backport

#53994 Don't show incorrect error messages when trying to load optional symbols
  src/core/symbology/qgssymbollayerutils.cpp
Labels: backport release-3_28, backport release-3_32
