Repository qgis/QGIS, pull requests merged in 2023-12, with the labels that each got.

#55497 Fix typo
  src/ui/tiledscene/qgstiledscenetexturerendererwidgetbase.ui
  src/ui/tiledscene/qgstiledscenewireframerendererwidgetbase.ui
Labels: backport release-3_34

#55514 Update tests to newer methods
  python/testing/__init__.py
  tests/src/python/test_qgslayoutmapgrid.py
  tests/src/python/test_qgslayoutmapoverview.py
Labels: Chore

#55516 RAT: fix styling panel when no RAT is available
  src/app/qgslayerstylingwidget.cpp
  src/app/qgslayerstylingwidget.h
  src/gui/raster/qgsrasterattributetablewidget.cpp
Labels: Rasters, Bug, backport release-3_34

#55498 Fix crash when generating profile of 2d line using line as curve
  src/core/vector/qgsvectorlayerprofilegenerator.cpp
  tests/src/python/test_qgsvectorlayerprofilegenerator.py
Labels: backport release-3_28, backport release-3_34

#55510 Fix rendering elevation profiles in layouts with 0 label intervals
  src/core/plot/qgsplot.cpp
  src/ui/layout/qgslayoutelevationprofilewidgetbase.ui
  tests/src/python/test_qgslayoutelevationprofile.py
  tests/testdata/control_images/layout_profile/expected_zero_label_interval/expected_zero_label_interval.png
Labels: Crash/Data Corruption, backport release-3_28, backport release-3_34

#55539 [mailmap] Fix myself
  .mailmap
Labels: ChangelogExclude

#55542 Store git sha in reports for comments
  .github/workflows/mingw64.yml
  .github/workflows/run-tests.yml
Labels: Chore

#55544 Hold GIL when calling cheap processing methods
  python/core/auto_generated/processing/qgsprocessingalgorithm.sip.in
  python/core/auto_generated/processing/qgsprocessingcontext.sip.in
  python/core/auto_generated/processing/qgsprocessingprovider.sip.in
  python/core/auto_generated/processing/qgsprocessingregistry.sip.in
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/core/processing/qgsprocessingalgorithm.h
  src/core/processing/qgsprocessingcontext.h
  src/core/processing/qgsprocessingprovider.h
  src/core/processing/qgsprocessingregistry.h
  src/core/processing/qgsprocessingutils.h
Labels: Optimization

#55563 plugins/tests: Port to QgisUnitTests
  python/plugins/grassprovider/tests/AlgorithmsTestBase.py
  python/plugins/grassprovider/tests/Grass7AlgorithmsImageryTest.py
  python/plugins/grassprovider/tests/Grass7AlgorithmsRasterTestPt1.py
  python/plugins/grassprovider/tests/Grass7AlgorithmsRasterTestPt2.py
  python/plugins/grassprovider/tests/Grass7AlgorithmsVectorTest.py
  python/plugins/processing/tests/AlgorithmsTestBase.py
  python/plugins/processing/tests/GdalAlgorithmsGeneralTest.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
  python/plugins/processing/tests/GdalAlgorithmsVectorTest.py
Labels: GRASS

#55573 [processing] Generate XYZ tiles: fix bakcground color warning
  src/analysis/processing/qgsalgorithmxyztiles.cpp
Labels: Processing, Bug, backport release-3_34

#55574 Add QGIS Server tab to QgsVectorTileLayerProperties for configuring shortname/abstract/etc
  src/gui/vectortile/qgsvectortilelayerproperties.cpp
  src/ui/qgsvectortilelayerpropertiesbase.ui
Labels: Server

#55576 Ensure more specialised exceptions are raised in PyQGIS
  python/core/qgsexception.sip
Labels: backport release-3_28, backport release-3_34

#55581 Expose method to directly convert json object to QVariantMap
  python/core/auto_generated/qgsjsonutils.sip.in
  src/core/qgsjsonutils.cpp
  src/core/qgsjsonutils.h
  tests/src/core/testqgsjsonutils.cpp
Labels: API

#55586 Add tooltip and reword label in topology checker dialogs
  src/plugins/topology/checkDock.ui
  src/plugins/topology/rulesDialog.ui
Labels: backport release-3_34

#55591 Fix en language in non EN systems
  src/core/qgsapplication.cpp
Labels: Translations, GUI/UX, Bug, backport release-3_34

#55596 Hide query builder entirely from vector layer source tab if provider does not support subset strings
  src/gui/vector/qgsvectorlayerproperties.cpp
Labels: GUI/UX

#55594 Don't initially sort the feature list in attribute table
  src/gui/attributetable/qgsdualview.cpp
Labels: Optimization, backport queued_ltr_backports, backport release-3_34

#55371 QgsMapToolCapture: fix a regression
  src/gui/qgsmaptoolcapture.cpp
  tests/src/app/testqgsmaptooladdring.cpp
Labels: Bug

#55600 Fix bad storage of xyz connection parameters
  src/providers/wms/qgsxyzconnection.cpp
Labels: backport release-3_28, backport release-3_34

#55598 Ensure layer renderer is removed when changing data source from a spatial to a non-spatial type
  src/core/vector/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: backport queued_ltr_backports, backport release-3_34

#55616 Allow data defined color control for simple 3d line rendering
  src/3d/materials/qgssimplelinematerialsettings.cpp
  src/3d/materials/qgssimplelinematerialsettings.h
  src/3d/shaders/lines.frag
  src/3d/shaders/lines.geom
  src/3d/shaders/lines.vert
  src/3d/symbols/qgsline3dsymbol_p.cpp
  src/3d/symbols/qgslinematerial_p.cpp
  src/3d/symbols/qgslinematerial_p.h
  src/3d/symbols/qgslinevertexdata_p.h
  src/app/3d/qgssimplelinematerialwidget.cpp
  src/ui/3d/simplelinematerialwidgetbase.ui
  tests/src/3d/testqgs3drendering.cpp
  tests/testdata/control_images/3d/expected_line_rendering_data_defined_color/expected_line_rendering_data_defined_color.png
Labels: Feature, 3D, Changelog

#55640 Fix 3d billboard symbol height is ignored
  src/app/3d/qgspoint3dsymbolwidget.cpp
Labels: 3D, backport release-3_28, backport release-3_34

#55652 Fix spinbox padding in Blend of Gray theme
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_28, backport release-3_34

#55672 Update grass7.txt
  python/plugins/grassprovider/grass7.txt
Labels: GRASS

#55565 fix mesh calculator time steps
  src/app/mesh/qgsmeshcalculatordialog.cpp
Labels: GUI/UX, Bug, Mesh

#55601 Allow source widgets to specify the group name for layer source properties
  python/PyQt6/gui/auto_generated/qgsprovidersourcewidget.sip.in
  python/gui/auto_generated/qgsprovidersourcewidget.sip.in
  src/gui/qgsprovidersourcewidget.h
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/gui/vectortile/qgsvectortilelayerproperties.cpp
Labels: API

#55668 Ensure that default shape properties for 3d symbols are always accounted for
  python/3d/auto_generated/symbols/qgspoint3dsymbol.sip.in
  python/PyQt6/3d/auto_generated/symbols/qgspoint3dsymbol.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/symbols/qgspoint3dsymbol.cpp
  src/3d/symbols/qgspoint3dsymbol.h
  src/3d/symbols/qgspoint3dsymbol_p.cpp
  src/app/3d/qgspoint3dsymbolwidget.cpp
  src/app/3d/qgspoint3dsymbolwidget.h
Labels: 3D

#55699 Fix OGC tests in CI
  .github/workflows/ogc.yml
Labels: Server, CI/GitHub-Actions, backport release-3_28, backport release-3_34

#55680 [server] Add maptip for raster layer GetFeatureInfo
  src/core/expression/qgsexpression.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/test_project.qgs
  tests/testdata/qgis_server/wms_getfeatureinfo-raster-text-xml-maptip.txt
Labels: Feature, Server

#55679 better handling of empty plugin-repositories
  python/pyplugin_installer/installer_data.py
Labels: Plugin manager

#55700 Promote 3d point symbol shape to enum class
  python/3d/__init__.py.in
  python/3d/auto_generated/symbols/qgspoint3dsymbol.sip.in
  python/PyQt6/3d/auto_additions/qgspoint3dsymbol.py
  python/PyQt6/3d/auto_generated/symbols/qgspoint3dsymbol.sip.in
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/symbols/qgspoint3dsymbol.cpp
  src/3d/symbols/qgspoint3dsymbol.h
  src/3d/symbols/qgspoint3dsymbol_p.cpp
  src/app/3d/qgspoint3dsymbolwidget.cpp
  src/core/qgis.h
  tests/src/3d/testqgs3drendering.cpp
Labels: Cleanup

#55710 Queued LTR backports
  src/providers/postgres/qgspgnewconnection.cpp
Labels: Backport, PostGIS data provider

#55704 NoData harmonization
  python/plugins/processing/algs/gdal/ClipRasterByExtent.py
  python/plugins/processing/algs/gdal/ClipRasterByMask.py
  python/plugins/processing/algs/gdal/contour.py
  python/plugins/processing/algs/gdal/fillnodata.py
  python/plugins/processing/algs/gdal/gdal2xyz.py
  python/plugins/processing/algs/gdal/gdalcalc.py
  python/plugins/processing/algs/gdal/merge.py
  python/plugins/processing/algs/gdal/rasterize.py
  python/plugins/processing/algs/gdal/translate.py
  python/plugins/processing/tests/testdata/qgis_algorithm_tests3.yaml
  src/analysis/processing/qgsalgorithmdrape.cpp
  src/analysis/processing/qgsalgorithmrasterlayerproperties.cpp
  src/analysis/processing/qgsalgorithmrasterlayeruniquevalues.cpp
  src/analysis/processing/qgsalgorithmrasterlogicalop.cpp
  src/analysis/processing/qgsalgorithmrasterzonalstats.cpp
  src/analysis/processing/qgsalgorithmreclassifybylayer.cpp
  src/analysis/processing/qgsalgorithmrescaleraster.cpp
  src/analysis/processing/qgsalgorithmvectorize.cpp
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/raster/qgsrasterlayer.cpp
  src/gui/raster/qgsrastertransparencywidget.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/ui/qgsrasterlayersaveasdialogbase.ui
  src/ui/raster/qgsrastertransparencywidget.ui
Labels: PostGIS data provider
