Repository qgis/QGIS, pull requests merged in 2024-05, with the labels that each got.

#57299 Fix misleading error when exporting vector features
  src/core/qgsvectorfilewriter.cpp
  src/core/vector/qgsvectorlayerexporter.cpp
Labels: backport release-3_34, backport release-3_36

#57226 Elevation filter tweaks
  python/PyQt6/core/auto_generated/project/qgsprojectelevationproperties.sip.in
  python/PyQt6/gui/auto_generated/elevation/qgselevationcontrollerwidget.sip.in
  python/core/auto_generated/project/qgsprojectelevationproperties.sip.in
  python/gui/auto_generated/elevation/qgselevationcontrollerwidget.sip.in
  src/app/canvas/qgsappcanvasfiltering.cpp
  src/core/project/qgsprojectelevationproperties.cpp
  src/core/project/qgsprojectelevationproperties.h
  src/gui/elevation/qgselevationcontrollerwidget.cpp
  src/gui/elevation/qgselevationcontrollerwidget.h
Labels: Needs Documentation

#57259 [layout] Fix html item freeze QGIS when loading HTML undet Qt6/QtWebkit-less environments
  src/core/layout/qgslayoutitemhtml.cpp
Labels: backport release-3_34, backport release-3_36

#57204 Update RMC NMEA 4.1
  external/nmea/parse.c
  external/nmea/sentence.h
Labels: backport queued_ltr_backports, backport release-3_36

#57295 [3d] Do not include private header from public header
  src/3d/CMakeLists.txt
  src/3d/qgs3dutils.h
  src/3d/qgsraycastingutils.cpp
  src/3d/qgsraycastingutils.h
  src/3d/qgsraycastingutils_p.h
Labels: backport release-3_34, backport release-3_36

#57333 Fix loading of raster styles if the layer/table name is not in the datasource url
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalprovider.h
Labels: backport release-3_34, backport release-3_36

#57323 Accept 2d box extent when estimating metadata
  src/providers/postgres/qgspostgresprovider.cpp
Labels: Requires Tests!, Data Provider, Bug, backport release-3_36

#57285 [Qt6] Avoid crash when deleting QGIS application
  src/app/qgisapp.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_36

#57353 Introduce QgsCodeEditorWidget
  python/PyQt6/gui/auto_generated/codeeditors/qgscodeeditor.sip.in
  python/PyQt6/gui/auto_generated/codeeditors/qgscodeeditorwidget.sip.in
  python/PyQt6/gui/auto_generated/qgsqueryresultwidget.sip.in
  python/PyQt6/gui/gui_auto.sip
  python/gui/auto_generated/codeeditors/qgscodeeditor.sip.in
  python/gui/auto_generated/codeeditors/qgscodeeditorwidget.sip.in
  python/gui/auto_generated/qgsqueryresultwidget.sip.in
  python/gui/gui_auto.sip
  src/gui/CMakeLists.txt
  src/gui/codeeditors/qgscodeeditor.cpp
  src/gui/codeeditors/qgscodeeditor.h
  src/gui/codeeditors/qgscodeeditorwidget.cpp
  src/gui/codeeditors/qgscodeeditorwidget.h
  src/gui/qgsqueryresultwidget.cpp
  src/gui/qgsqueryresultwidget.h
Labels: API

#56825 Fix merge features with hidden fields
  src/app/qgsmergeattributesdialog.cpp
  tests/src/app/testqgsmergeattributesdialog.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_36

#57217 Duplicate policy on QgsFields when duplicate features
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/PyQt6/core/auto_generated/qgsfield.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgsfield.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  src/core/qgis.h
  src/core/qgsfield.cpp
  src/core/qgsfield.h
  src/core/qgsfield_p.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayereditutils.cpp
  src/core/vector/qgsvectorlayerutils.cpp
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/gui/attributeformconfig/qgsattributetypedialog.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/ui/attributeformconfig/qgsattributetypeedit.ui
  tests/src/core/testqgsfield.cpp
  tests/src/python/test_qgsvectorlayer.py
  tests/src/python/test_qgsvectorlayerutils.py
Labels: Needs Documentation

#57379 Add safety check, avoid crash
  src/server/services/wms/qgswmsrestorer.cpp
Labels: backport release-3_34, backport release-3_36

#57316 Add 'over point' placement option for cartographic label mode
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/core/labeling/qgslabelingengine.cpp
  src/core/labeling/qgspallabeling.cpp
  src/core/pal/feature.cpp
  src/core/qgis.h
  tests/src/python/test_qgspallabeling_placement.py
  tests/testdata/control_images/expected_pal_placement/sp_point_ordered_placement_over_point/sp_point_ordered_placement_over_point.png
Labels: Feature, Labeling, Needs Documentation, Changelog

#57314 Add GPS navigation status to QgsGpsInformation
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/gps/qgsgpsinformation.sip.in
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/gps/qgsgpsinformation.sip.in
  python/core/auto_generated/qgis.sip.in
  src/core/gps/qgsgpsinformation.h
  src/core/gps/qgsnmeaconnection.cpp
  src/core/qgis.h
Labels: API

#57389 Reduce queries to detect select privileges for PostgreSQL relations
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres_latency.py
Labels: PostGIS data provider

#57403 Allow to set network cache size >= 2 GiB (Fix #57380)
  src/app/options/qgsoptions.cpp
Labels: Bug, backport release-3_34, backport release-3_36

#57402 Add search option for regular expression based searching
  images/images.qrc
  images/themes/default/mIconSearchRegex.svg
  src/gui/codeeditors/qgscodeeditorwidget.cpp
  src/gui/codeeditors/qgscodeeditorwidget.h
Labels: Needs Documentation, Changelog

#57396 Copy composer grid
  python/PyQt6/core/auto_generated/layout/qgslayoutitemmapgrid.sip.in
  python/core/auto_generated/layout/qgslayoutitemmapgrid.sip.in
  src/core/layout/qgslayoutitemmapgrid.cpp
  src/core/layout/qgslayoutitemmapgrid.h
  src/gui/layout/qgslayoutmapwidget.cpp
  src/gui/layout/qgslayoutmapwidget.h
  src/ui/layout/qgslayoutmapwidgetbase.ui
  tests/src/python/test_qgslayoutmapgrid.py
Labels: Feature, Print Layouts

#57420 Fix support for PostGIS-3.2+ directed linear TopoGeometries
  src/providers/postgres/qgspostgresfeatureiterator.cpp
Labels: Bug, PostGIS data provider

#57427 Ensure resampling settings are preserved when cloning raster layers
  src/core/raster/qgsrasterlayer.cpp
  tests/src/python/test_qgsrasterlayer.py
Labels: backport queued_ltr_backports, backport release-3_36

#57448 Fix creation of GeoPDF with non-standard CRSes
  src/core/qgsabstractgeopdfexporter.cpp
Labels: backport queued_ltr_backports, backport release-3_36

#57446 Don't run tests relying on badssl.com on CI
  tests/src/core/testqgsnetworkaccessmanager.cpp
Labels: backport queued_ltr_backports, backport release-3_34, backport release-3_36

#57478 [Processing] Fix Dissolve alg for featureless input layer or containing empty/null geometries, when the output is a memory layer (Fix #53392)
  src/analysis/processing/qgsalgorithmdissolve.cpp
Labels: Processing, Bug, backport queued_ltr_backports

#57476 QgsCurvePolygon::asGml3(): make output compliant when ring is not a LinearRing
  src/core/geometry/qgscurvepolygon.cpp
  tests/src/core/geometry/testqgscurvepolygon.cpp
Labels: backport queued_ltr_backports

#57495 Better handle non GET/POST requests in network logger
  src/app/devtools/networklogger/qgsnetworkloggernode.cpp
  src/app/devtools/networklogger/qgsnetworkloggernode.h
Labels: backport queued_ltr_backports

#57436 fix help link for relations
  src/app/qgsrelationadddlg.cpp
Labels: backport release-3_34

#57506 Make brush and stroke style combo box icons visible on dark themes
  src/gui/symbology/qgsbrushstylecombobox.cpp
  src/gui/symbology/qgspenstylecombobox.cpp
Labels: backport queued_ltr_backports

#57522 [processing] Report error when creating temporary layers
  src/core/processing/qgsprocessingutils.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: Processing, Bug, backport queued_ltr_backports

#57518 [mssql] Make sure hostname is trimmed before saving to settings
  src/providers/mssql/qgsmssqlnewconnection.cpp
Labels: Bug, MS SQL data provider, backport queued_ltr_backports

#57517 [vectortile] Fix missing cloning of labeling
  src/core/vectortile/qgsvectortilelayer.cpp
  tests/src/core/testqgsvectortilelayer.cpp
Labels: Bug, Vector tiles, backport queued_ltr_backports

#57532 Fix colors for new diagram categories are not randomly picked
  src/gui/vector/qgsdiagramproperties.cpp
Labels: Regression, backport release-3_34

#57508 [processing] Try directly interpreting string as CRS first
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
Labels: backport queued_ltr_backports

#57361 [ColorWidget] Add CMYK support
  python/PyQt6/gui/auto_additions/qgscolorwidgets.py
  python/PyQt6/gui/auto_generated/qgscolorwidgets.sip.in
  python/gui/auto_generated/qgscolorwidgets.sip.in
  src/gui/qgscolorwidgets.cpp
  src/gui/qgscolorwidgets.h
  src/gui/qgscompoundcolorwidget.cpp
  src/gui/qgscompoundcolorwidget.h
  src/ui/qgscompoundcolorwidget.ui
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgscompoundcolorwidget.cpp
  tests/src/python/test_qgscolorwidget.py
Labels: Feature, Freeze Exempt, GUI/UX

#57547 [OAPIF provider] addFeatures(): issue a /items/{id} request to get a refreshed version of the feature
  src/providers/wfs/CMakeLists.txt
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/oapif/qgsoapifsingleitemrequest.cpp
  src/providers/wfs/oapif/qgsoapifsingleitemrequest.h
  tests/src/python/test_provider_oapif.py
Labels: backport queued_ltr_backports

#57548 [queued_ltr_backports] OGR provider: addFeature/changeAttribueValues: convert local time to UTC for GeoPackage
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Backport

#57551 Fix incorrect buffers drawn for html label items
  src/core/textrenderer/qgstextrenderer.cpp
  tests/src/python/test_qgstextrenderer.py
  tests/testdata/control_images/text_renderer/text_html_formatting_buffer_scale_workaround/text_html_formatting_buffer_scale_workaround.png
  tests/testdata/control_images/text_renderer/text_html_formatting_mask/text_html_formatting_mask.png
  tests/testdata/control_images/text_renderer/text_html_formatting_mask_scale_workaround/text_html_formatting_mask_scale_workaround.png
Labels: backport queued_ltr_backports

#57530 Ensure resampling settings are preserved when cloning raster layers (backport)
  src/core/raster/qgsrasterlayer.cpp
  tests/src/python/test_qgsrasterlayer.py
Labels: Backport

#57561 [server] OAPIF: fix layer short name
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
  tests/testdata/qgis_server/api/test_wfs3_collection_layer1_with_short_name.json
Labels: Server, backport queued_ltr_backports

#57555 Fix label mask sizes get reset to 0
  src/core/textrenderer/qgstextmasksettings.cpp
Labels: backport queued_ltr_backports

#57576 Fix a few more places we try to load crs as a layer
  src/core/processing/qgsprocessingparameters.cpp
  tests/src/analysis/testqgsprocessing.cpp
Labels: backport queued_ltr_backports

#57560 [ux] Fix labeling small font size freeze
  src/gui/qgstextformatwidget.cpp
Labels: GUI/UX, Bug

#57533 [advanced digitizing] Fix snapping to line extensions for multi geometry as well as polygons
  src/core/qgscadutils.cpp
  src/gui/qgsadvanceddigitizingcanvasitem.cpp
  src/gui/qgsadvanceddigitizingdockwidget.cpp
Labels: Digitizing

#57575 Fix line extension tool when layer crs != map crs
  src/core/qgscadutils.cpp
  src/gui/qgsadvanceddigitizingcanvasitem.cpp
  tests/src/app/testqgsadvanceddigitizing.cpp
Labels: Regression, backport release-3_34

#57591 Fix python error when github gist creation fails (fix #57590)
  python/console/console_editor.py
Labels: Bug

#57600 Clamp values for set_color_part function to avoid qt warnings when out of range values are specified
  src/core/expression/qgsexpressionfunction.cpp
Labels: Optimization

#57599 Optimise QgsExpressionUtils::getTVLValue
  src/core/expression/qgsexpressionutils.h
Labels: Optimization

#57585 fix HttpHeaders settings backward compatibility for OWS
  src/core/settings/qgssettingsregistrycore.cpp
Labels: backport release-3_34

#57596 Prevent calling findLayers when there is no legend->rootGroup (fix #57595)
  src/core/layout/qgslayoutitemlegend.cpp
Labels: Bug, Server, Print Layouts

#57605 [ux][layouts] Fix legend item style mutex
  src/gui/layout/qgslayoutlegendwidget.cpp
Labels: GUI/UX, Bug, Print Layouts

#57608 [labeling] Fix font family changes when font size is too small
  src/gui/qgstextformatwidget.cpp
Labels: Labeling, Bug

#57602 Fix loss of OWS http headers in connections
  src/core/settings/qgssettingsregistrycore.cpp
Labels: Backport
