Repository qgis/QGIS, pull requests merged in 2024-10, with the labels that each got.

#58597 fix vector digitizing truncating geometry precision decimals
  src/app/qgsvectorlayerdigitizingproperties.cpp
Labels: stale

#58911 [gui] Fix attr property load
  src/gui/vector/qgsattributesformproperties.cpp
Labels: Bug

#58928 [processing] Fix translation of elapsed strings
  python/plugins/processing/gui/AlgorithmDialog.py
Labels: backport release-3_34

#58693 added Page Properties qAction to layout main menu
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
  src/ui/layout/qgslayoutdesignerbase.ui
Labels: stale, Freeze Exempt

#58509 Allow line symbol widget to appear in mesh elevation tab
  src/ui/mesh/qgsmeshelevationpropertieswidgetbase.ui
Labels: stale, Freeze Exempt

#58188 testqgs3drendering: Add a unit test for phong textured material
  tests/src/3d/testqgs3drendering.cpp
  tests/testdata/control_images/3d/expected_polygon3d_extrusion_textured_phong/default/expected_polygon3d_extrusion_textured_phong.png
  tests/testdata/control_images/3d/expected_polygon3d_extrusion_textured_phong/qt6/expected_polygon3d_extrusion_textured_phong.png
Labels: 3D, testsuite

#55746 [feature] Add extra mesh layer legend node for currently displayed vector datasets.
  images/themes/default/propertyicons/meshvectors.svg
  python/PyQt6/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/PyQt6/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  src/core/layertree/qgscolorramplegendnode.cpp
  src/core/layertree/qgscolorramplegendnode.h
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
  src/core/qgsmaplayerlegend.cpp
  tests/src/core/testqgslayertree.cpp
  tests/src/core/testqgslegendrenderer.cpp
  tests/src/python/test_qgscolorramplegendnode.py
  tests/testdata/control_images/legend/expected_legend_diagram_attributes/expected_legend_diagram_attributes_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_color_ramp_vector/expected_legend_mesh_diagram_color_ramp_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_color_ramp_vector/expected_legend_mesh_diagram_color_ramp_vector_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_no_vector/expected_legend_mesh_diagram_no_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_no_vector/expected_legend_mesh_diagram_no_vector_mask.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_red_vector/expected_legend_mesh_diagram_red_vector.png
  tests/testdata/control_images/legend/expected_legend_mesh_diagram_red_vector/expected_legend_mesh_diagram_red_vector_mask.png
Labels: Freeze Exempt, Squash!

#58947 Add API to temporarily disable updates in 3D map scene
  python/3d/auto_generated/qgs3dmapscene.sip.in
  python/PyQt6/3d/auto_generated/qgs3dmapscene.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
Labels: 3D

#58945 [labeling] Fix SLD export of negative offset
  src/core/labeling/qgsvectorlayerlabeling.cpp
  tests/src/python/test_qgsserver_wms.py
  tests/src/python/test_qgssymbollayer_createsld.py
Labels: Bug, backport queued_ltr_backports

#58953 QgsMapLayer::setDataSource don't require layer name, provider
  python/PyQt6/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
Labels: API

#58955 [mssql] Fix nvarchar length #58809
  src/providers/mssql/qgsmssqlprovider.cpp
  tests/src/python/test_provider_mssql.py
Labels: Bug, MS SQL data provider, backport queued_ltr_backports

#58927 Only use threaded legend hit test for preview renders
  src/core/layout/qgslayoutitemlegend.cpp
Labels: backport queued_ltr_backports

#58983 Isolate "post sticky comment" logic
  .github/actions/post_sticky_comment/action.yml
  .github/workflows/build_artifact_comment.yml
  .github/workflows/mingw64.yml
Labels: Chore

#58963 Fix parsing 2-byte LAS scan angle (fix #58451)
  src/core/pointcloud/qgslazdecoder.cpp
  src/core/pointcloud/qgslazinfo.cpp
  src/core/pointcloud/qgspointcloudlayerexporter.cpp
  src/core/providers/vpc/qgsvirtualpointcloudprovider.cpp
  tests/src/providers/testqgscopcprovider.cpp
  tests/src/providers/testqgsvirtualpointcloudprovider.cpp
Labels: Bug, Point Clouds

#58937 [server] Fix sub-optimal checks in wms access control
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
Labels: Server

#59013 use directly relation id from private variables
  src/core/editform/qgsattributeeditorrelation.cpp
Labels: backport queued_ltr_backports

#59017 Don't use the The Word Which Must Not Be Used
  python/PyQt6/core/auto_additions/qgslayoutexporter.py
  python/PyQt6/core/auto_additions/qgsmapsettingsutils.py
  python/PyQt6/core/auto_generated/layout/qgslayoutitem.sip.in
  python/PyQt6/core/auto_generated/providers/qgsprovidersublayerdetails.sip.in
  python/core/auto_additions/qgslayoutexporter.py
  python/core/auto_additions/qgsmapsettingsutils.py
  python/core/auto_generated/layout/qgslayoutitem.sip.in
  python/core/auto_generated/providers/qgsprovidersublayerdetails.sip.in
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
  src/app/qgsmapsavedialog.cpp
  src/core/layout/qgslayoutexporter.cpp
  src/core/layout/qgslayoutexporter.h
  src/core/layout/qgslayoutgeopdfexporter.cpp
  src/core/layout/qgslayoutgeopdfexporter.h
  src/core/layout/qgslayoutitem.h
  src/core/layout/qgslayoutitemmap.h
  src/core/maprenderer/qgsmaprenderertask.cpp
  src/core/maprenderer/qgsmaprenderertask.h
  src/core/providers/qgsprovidersublayerdetails.h
  src/core/qgsabstractgeopdfexporter.cpp
  src/core/qgsabstractgeopdfexporter.h
  src/core/qgsmapsettingsutils.cpp
  src/core/qgsmapsettingsutils.h
  src/gui/layout/qgsgeopdflayertreemodel.cpp
  src/gui/layout/qgsgeopdflayertreemodel.h
  src/gui/layout/qgslayoutpdfexportoptionsdialog.cpp
  src/gui/layout/qgslayoutpdfexportoptionsdialog.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/ui/layout/qgslayoutitemwidgetbase.ui
  src/ui/layout/qgspdfexportoptions.ui
  src/ui/qgsmapsavedialog.ui
  tests/src/core/testqgsgeopdfexport.cpp
  tests/src/core/testqgslayoutgeopdfexport.cpp
Labels: backport release-3_34

#59011 make QgsSettingsTree::treeRoot() available in Python bindings
  src/core/settings/qgssettingstree.h
Labels: Squash!, backport release-3_34

#58729 Improve UX of layer style categories with html
  images/images.qrc
  images/themes/default/propertyicons/layerconfiguration.svg
  images/themes/default/propertyicons/notes.svg
  images/themes/default/propertyicons/sourcefieldsandforms.svg
  python/PyQt6/gui/auto_additions/qgsmaplayerstylecategoriesmodel.py
  python/PyQt6/gui/auto_generated/qgsmaplayerstylecategoriesmodel.sip.in
  python/PyQt6/gui/gui_auto.sip
  python/gui/auto_additions/qgsmaplayerstylecategoriesmodel.py
  python/gui/auto_generated/qgsmaplayerstylecategoriesmodel.sip.in
  python/gui/gui_auto.sip
  src/app/qgsapplayertreeviewmenuprovider.cpp
  src/gui/qgsmaplayerloadstyledialog.cpp
  src/gui/qgsmaplayersavestyledialog.cpp
  src/gui/qgsmaplayerstylecategoriesmodel.cpp
  src/gui/qgsmaplayerstylecategoriesmodel.h
Labels: Freeze Exempt

#59021 Don't use the The Word Which Must Not Be Used (Backport)
  python/PyQt6/core/auto_generated/providers/qgsprovidersublayerdetails.sip.in
  python/core/auto_additions/qgsmapsettingsutils.py
  python/core/auto_generated/providers/qgsprovidersublayerdetails.sip.in
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
  src/app/qgsmapsavedialog.cpp
  src/core/layout/qgslayoutexporter.cpp
  src/core/layout/qgslayoutexporter.h
  src/core/layout/qgslayoutgeopdfexporter.cpp
  src/core/layout/qgslayoutgeopdfexporter.h
  src/core/layout/qgslayoutitemmap.h
  src/core/maprenderer/qgsmaprenderertask.cpp
  src/core/maprenderer/qgsmaprenderertask.h
  src/core/providers/qgsprovidersublayerdetails.h
  src/core/qgsabstractgeopdfexporter.cpp
  src/core/qgsabstractgeopdfexporter.h
  src/core/qgsmapsettingsutils.cpp
  src/core/qgsmapsettingsutils.h
  src/gui/layout/qgsgeopdflayertreemodel.cpp
  src/gui/layout/qgsgeopdflayertreemodel.h
  src/gui/layout/qgslayoutpdfexportoptionsdialog.cpp
  src/gui/layout/qgslayoutpdfexportoptionsdialog.h
  src/server/services/wms/qgswmsparameters.cpp
  src/server/services/wms/qgswmsparameters.h
  src/server/services/wms/qgswmsrenderer.cpp
  src/ui/layout/qgspdfexportoptions.ui
  src/ui/qgsmapsavedialog.ui
  tests/src/core/testqgsgeopdfexport.cpp
  tests/src/core/testqgslayoutgeopdfexport.cpp
Labels: Chore, Backport

#59025 [georeferencer] Use QLocale for number format
  src/app/georeferencer/qgsgcplistmodel.cpp
  tests/src/app/testqgsgeoreferencer.cpp
Labels: Bug, Georeferencer

#59015 [gui] Fix issue in Stacked diagrams's sync to layer
  python/PyQt6/core/auto_generated/qgsdiagramrenderer.sip.in
  python/core/auto_generated/qgsdiagramrenderer.sip.in
  src/core/qgsdiagramrenderer.cpp
  src/core/qgsdiagramrenderer.h
  src/gui/vector/qgsdiagramproperties.cpp
  src/gui/vector/qgsdiagramwidget.cpp
  src/gui/vector/qgsstackeddiagramproperties.cpp
Labels: GUI/UX, Bug, Diagrams

#58967 Fix edit/copy/paste symbol action for layers with inverted polygon renderer
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: backport queued_ltr_backports

#59033 Don't override cursor in pin labels map tool
  src/app/labeling/qgsmaptoolpinlabels.cpp
Labels: backport release-3_34

#58966 Non-default blend mode should force raster render of layer
  src/core/annotations/qgsannotationlayerrenderer.cpp
  src/core/annotations/qgsannotationlayerrenderer.h
  src/core/vectortile/qgsvectortilelayerrenderer.cpp
  src/core/vectortile/qgsvectortilelayerrenderer.h
  tests/src/python/test_qgsannotationlayer.py
  tests/src/python/test_qgsvectortile.py
Labels: backport queued_ltr_backports

#58982 [backport queued ltr][processing] Insure that processing algorithms are not used to breach the OSMF tile usage policy on bulk download
  python/PyQt6/core/auto_generated/qgsmaplayer.sip.in
  python/PyQt6/core/auto_generated/qgsmaplayerutils.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayerutils.sip.in
  src/analysis/processing/qgsalgorithmrasterize.cpp
  src/analysis/processing/qgsalgorithmrasterize.h
  src/analysis/processing/qgsalgorithmxyztiles.cpp
  src/analysis/processing/qgsalgorithmxyztiles.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayerutils.cpp
  src/core/qgsmaplayerutils.h
  src/gui/qgsrasterlayersaveasdialog.cpp
Labels: Backport

#59028 [ValueRelation] Update on widget value change when multi mode
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  src/gui/qgsattributeform.h
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
Labels: Bug, backport queued_ltr_backports

#59026 Delete equality operator from QgsMapLayerRef
  src/3d/qgs3dmapsettings.cpp
  src/core/qgsmaplayerref.h
Labels: backport queued_ltr_backports

#59066 Fix the "Add ring" map tool / QgsVectorLayerEditUtils::addRingV2 (Fix #59053)
  src/core/vector/qgsvectorlayereditutils.cpp
  tests/src/python/test_qgsvectorlayereditutils.py
Labels: Bug, Digitizing, backport release-3_34

#59083 Update sip_check to modern python version
  .github/workflows/code_layout.yml
Labels: Chore, backport queued_ltr_backports

#59080 Use a scoped proj logger to avoid user data lifetime issues
  src/core/proj/qgscoordinatetransform_p.cpp
  src/core/proj/qgsprojutils.cpp
  src/core/proj/qgsprojutils.h
  src/gui/proj/qgscrsdefinitionwidget.cpp
Labels: Crash/Data Corruption, backport release-3_34

#59076 [ogr][transactions] Fix transaction group
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/qgstransactiongroup.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayereditbuffergroup.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Bug, backport queued_ltr_backports

#59092 Remove duplicate equality operator for QgsPointXY
  python/PyQt6/core/auto_generated/qgspointxy.sip.in
  python/core/auto_generated/qgspointxy.sip.in
  src/core/qgspointxy.h
  src/gui/qgsadvanceddigitizingdockwidget.cpp
Labels: backport release-3_34

#59105 [wms] Fix unreported issue max tile size from capabilities ignored
  python/PyQt6/core/auto_generated/raster/qgsrasterdataprovider.sip.in
  python/core/auto_generated/raster/qgsrasterdataprovider.sip.in
  src/core/raster/qgsrasterdataprovider.h
  src/core/raster/qgsrasterlayerrenderer.cpp
  src/providers/wms/qgswmscapabilities.h
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
  tests/src/providers/testqgswmsprovider.cpp
Labels: Bug, WMS data provider

#59117 QgsRasterLayer: readXml(): read layer notes even when opening with FlagDontResolveLayers (backport)
  src/core/raster/qgsrasterlayer.cpp
  tests/src/python/test_qgsproject.py
Labels: Backport

#59119 [PdfExport] Set output condition
  src/core/layout/qgslayoutexporter.cpp
Labels: Bug, Print Layouts

#58440 [ogr2ogr] Fix promote to multipart logic and add makevalid option
  python/plugins/processing/algs/gdal/OgrToPostGis.py
  python/plugins/processing/algs/gdal/ogr2ogrtopostgislist.py
  python/plugins/processing/tests/GdalAlgorithmsVectorTest.py
Labels: Processing, Needs Documentation

#59108 [Backport to LTR][ValueRelation] Update on widget value change when multi mode
  src/gui/editorwidgets/qgsvaluerelationwidgetwrapper.cpp
  src/gui/qgsattributeform.h
  tests/src/gui/testqgsvaluerelationwidgetwrapper.cpp
Labels: Backport, Bug

#59122 QgsRasterFileWriter::driverForExtension(): make sure querying the tif…
  src/core/raster/qgsrasterfilewriter.cpp
Labels: backport release-3_34

#59124 [gps] Be tolerant to talker IDs which don't start with 'G'
  external/nmea/parse.c
  external/nmea/parse.h
  external/nmea/sentence.h
  python/PyQt6/core/auto_generated/gps/qgsnmeaconnection.sip.in
  python/core/auto_generated/gps/qgsnmeaconnection.sip.in
  src/core/gps/qgsnmeaconnection.cpp
  src/core/gps/qgsnmeaconnection.h
  tests/src/core/testqgsnmeaconnection.cpp
Labels: GPS

#59147 [BUGFIX] [PostgreSQL] Properly take into account 'name' type
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: backport queued_ltr_backports

#59141 [fix] Avoid locator searches in current layer if it has been marked as not searchable
  src/app/locator/qgsactivelayerfeatureslocatorfilter.cpp
Labels: Bug, Locator

#59150 [queued_ltr_backports] [BUGFIX] [PostgreSQL] Properly take into account 'name' type
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: PostGIS data provider

#59149 Handle addition of quantized mesh layers from Cesium ion
  src/core/tiledscene/qgsquantizedmeshdataprovider.cpp
  src/core/tiledscene/qgsquantizedmeshdataprovider.h
Labels: Tiled Scene

#59162 Do not preload providers when DontResolveLayers flag is used
  src/core/project/qgsproject.cpp
Labels: backport release-3_34

#59181 [profile tool] Fix snapping still enabled on clear
  src/gui/elevation/qgselevationprofilecanvas.cpp
Labels: Bug, Profile tool

#59183 fix(QgsCurve): properly handle area cache when reversing geometry (ltr)
  src/core/geometry/qgscircularstring.cpp
  src/core/geometry/qgslinestring.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Backport

#59073 Fix elevation profile on virtual point cloud
  src/core/pointcloud/qgspointcloudlayerprofilegenerator.cpp
Labels: Squash!

#59194 Report GRASS warnings with pushWarning instead of reportError and check translated warning or error
  python/plugins/grassprovider/grass_utils.py
Labels: GRASS, Processing

#59216 do not restore connection if URL is empty
  src/core/settings/qgssettingsregistrycore.cpp
Labels: backport release-3_40

#58811 add message to QGIS status bar on selection of vertices
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
Labels: Mesh

#59199 Fix handling of relative STAC links
  src/core/stac/qgsstaccontroller.cpp
  src/core/stac/qgsstacparser.cpp
  src/core/stac/qgsstacparser.h
  tests/src/core/testqgsstac.cpp
  tests/testdata/stac/core-item.json
Labels: backport release-3_40

#59171 Layout export quality jpg
  python/PyQt6/core/auto_additions/qgslayoutexporter.py
  python/PyQt6/core/auto_generated/layout/qgslayoutexporter.sip.in
  python/core/auto_additions/qgslayoutexporter.py
  python/core/auto_generated/layout/qgslayoutexporter.sip.in
  src/app/layout/qgslayoutdesignerdialog.cpp
  src/app/layout/qgslayoutdesignerdialog.h
  src/core/layout/qgslayoutexporter.cpp
  src/core/layout/qgslayoutexporter.h
  src/gui/layout/qgslayoutimageexportoptionsdialog.cpp
  src/gui/layout/qgslayoutimageexportoptionsdialog.h
  src/ui/layout/qgslayoutimageexportoptions.ui
Labels: Feature, Squash!, Print Layouts

#59226 [OGR provider] Make querySublayers() work with GTFS .zip datasets
  src/core/qgsgdalutils.cpp
  tests/src/python/test_provider_ogr.py
  tests/testdata/ogr/gtfs_extract.zip
Labels: backport queued_ltr_backports, backport release-3_40

#59238 Tidy up tiled scene layer 3d identify results
  src/3d/qgstiledscenechunkloader_p.cpp
  src/app/3d/qgs3dmaptoolidentify.cpp
Labels: 3D, Bug, Tiled Scene

#59244 Fix malformed docstrings
  python/3d/auto_generated/qgs3dmapscene.sip.in
  python/PyQt6/3d/auto_generated/qgs3dmapscene.sip.in
  python/PyQt6/core/__init__.py.in
  python/PyQt6/core/auto_additions/qgstemporalutils.py
  python/PyQt6/core/auto_generated/auth/qgsauthconfigurationstorage.sip.in
  python/core/__init__.py.in
  python/core/auto_additions/qgstemporalutils.py
  python/core/auto_generated/auth/qgsauthconfigurationstorage.sip.in
  src/3d/qgs3dmapscene.h
  src/core/auth/qgsauthconfigurationstorage.h
  src/core/qgstemporalutils.h
Labels: backport release-3_40

#59240 Fix uninitialized warnings when building in release mode
  src/core/pointcloud/qgslazdecoder.cpp
  src/core/pointcloud/qgspointcloudlayerrenderer.cpp
Labels: backport release-3_40

#59257 More tidying up of tiled scene and point cloud layer 3d identify results
  src/app/3d/qgs3dmaptoolidentify.cpp
Labels: 3D, Bug, Point Clouds, Tiled Scene

#59255 Set VCPKG_INSTALL_PREFIX when building local dependencies with VCPKG
  CMakeLists.txt
Labels: backport release-3_40

#59269 fix missing icons in locator
  src/core/locator/qgslocatormodel.cpp
Labels: backport release-3_40

#59289 Add /bigobj compile flag for some files
  src/app/CMakeLists.txt
  src/core/CMakeLists.txt
Labels: Build/Install, Bug, Windows, backport release-3_40

#59280 Fix crash when exporting vectors if field domain cannot be retrieved
  src/core/qgsvectorfilewriter.cpp
Labels: backport release-3_34, backport release-3_40
