Repository qgis/QGIS, pull requests merged in 2024-11, with the labels that each got.

#59298 Fix passing missing context to expression of "select by expression"
  python/plugins/processing/algs/qgis/SelectByExpression.py
Labels: backport release-3_40

#59307 debian packing: add ubuntu oracular
  debian/control.in
  debian/rules
Labels: backport release-3_40

#59300 Optimise QgsCoordinateTransform::transformBoundingBox
  src/core/proj/qgscoordinatetransform.cpp
Labels: Optimization, backport release-3_40

#59306 fix 39e33dea65d
  src/customwidgets/CMakeLists.txt
Labels: backport release-3_40

#59288 Add py-lxml
  .github/actions/vcpkg_update_report/action.yml
  .github/workflows/vcpkg-update-report.yml
  vcpkg/vcpkg.json
Labels: backport release-3_40

#58352 Fix #51245 vertex tool topo crs mismatch
  src/app/vertextool/qgsvertextool.cpp
  tests/src/app/testqgsvertextool.cpp
Labels: Bug

#59340 [fix] When switching diagram type from none to any other one, add proper check
  src/gui/vector/qgsdiagramproperties.cpp
Labels: GUI/UX, Regression, Bug, Diagrams, backport release-3_40

#59139 [GUI] Remove italics and use monospaced font for expression fields in the attribute table. Related to issue #44638
  src/gui/qgsfieldexpressionwidget.cpp
Labels: Squash!, backport release-3_40

#59373 Do not flip axes of the 4x4 transform used by 3D point symbol
  src/3d/qgs3dutils.cpp
  src/3d/qgs3dutils.h
  src/3d/shaders/instanced.vert
  src/3d/symbols/qgspoint3dsymbol.cpp
  src/3d/symbols/qgspoint3dsymbol_p.cpp
  src/app/3d/qgspoint3dsymbolwidget.cpp
  tests/src/3d/testqgs3dutils.cpp
Labels: 3D

#59061 [processing] Brand new generate elevation profile image algorithm
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmgenerateelevationprofile.cpp
  src/analysis/processing/qgsalgorithmgenerateelevationprofile.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/testqgsprocessingalgspt2.cpp
  tests/testdata/control_images/processing_algorithm/expected_generate_elevation_profile/expected_generate_elevation_profile.png
  tests/testdata/control_images/processing_algorithm/expected_generate_elevation_profile/expected_generate_elevation_profile_mask.png
Labels: Requires Tests!, Frozen

#59391 Fix typo in the QgsSymbol::exportImage function leading to clipped renders for non-square sizes
  src/core/symbology/qgssymbol.cpp
Labels: backport release-3_34, backport release-3_40

#59397 Fix 2 tests to be compatible of GDAL 3.10
  tests/src/core/testqgslegendrenderer.cpp
  tests/src/core/testqgsrasterlayer.cpp
Labels: backport queued_ltr_backports, backport release-3_40

#59357 [MultiEdits] fire valueChanged when syncing form same fields
  src/gui/qgsattributeform.cpp
  tests/src/gui/testqgsdualview.cpp
Labels: Forms, Bug

#59422 [GUI] Field Calculator: disable OK and Apply buttons when "Update existing field" is checked and a field is not selected (also fix some tool-tips)
  src/gui/vector/qgsfieldcalculator.cpp
  src/gui/vector/qgsfieldcalculator.h
Labels: GUI/UX, Bug, Field Calculator, backport release-3_40

#59426 Fix negative angles for symbols are ignored when exporting to SLD
  src/core/qgsogcutils.cpp
  tests/src/python/test_qgssymbollayer_createsld.py
Labels: backport release-3_34, backport release-3_40

#59429 Use faster method to determine open file count
  src/core/qgsfileutils.cpp
Labels: Optimization, backport release-3_40

#59454 [code editors] Fix python console editor's modified content lost when switching to another app
  src/gui/codeeditors/qgscodeeditorwidget.cpp
Labels: backport release-3_40

#59437 Fix auth SSL errors cache
  src/core/auth/qgsauthmanager.cpp
Labels: Authentication, Regression, Bug, backport release-3_40

#59474 [sipify] fixes
  scripts/sipify.py
Labels: backport release-3_40

#59432 [optimisation] Greatly speed up clone of QgsSvgMarkerSymbolLayer
  python/PyQt6/core/auto_generated/symbology/qgssymbollayer.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.h
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
Labels: Optimization

#59485 Fix prompt for crs setting not working
  src/core/qgsmaplayer.cpp
Labels: backport release-3_40

#59473 Fix crash executeGeomOverlay called without context
  src/core/expression/qgsexpressionfunction.cpp
Labels: Bug, Crash/Data Corruption

#59515 Fix a bunch of coverity scan errors
  src/3d/qgs3daxis.cpp
  src/analysis/processing/qgsalgorithmgltftovector.cpp
  src/core/geometry/qgsinternalgeometryengine.cpp
  src/core/qgscoordinateutils.cpp
  src/core/qgspathresolver.cpp
  src/core/qgsvectorfilewriter.cpp
  src/core/raster/qgsrasterattributetable.cpp
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/textrenderer/qgstextbackgroundsettings.cpp
  src/core/tiledscene/qgsquantizedmeshdataprovider.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/layout/qgslayoutelevationprofilewidget.cpp
  src/gui/maptools/qgsmaptoolcapture.cpp
  src/gui/qgslayermetadataresultsmodel.cpp
  src/gui/qgsnewvectortabledialog.cpp
Labels: backport queued_ltr_backports, backport release-3_40

#59484 Fix QgsCsException messages
  src/core/proj/qgscoordinatereferencesystem.cpp
  src/core/proj/qgscoordinatetransform.cpp
  src/core/proj/qgscoordinatetransform_p.cpp
  tests/src/python/test_qgscoordinatetransform.py
Labels: backport queued_ltr_backports, backport release-3_40

#59523 [qml] Upgrade QgsLocatorContext to a Q_GADGET
  python/PyQt6/core/auto_generated/locator/qgslocatorcontext.sip.in
  python/core/auto_generated/locator/qgslocatorcontext.sip.in
  src/core/locator/qgslocatorcontext.h
Labels: API

#58888 Mesh selection actions
  images/images.qrc
  images/themes/default/mActionMeshSelectAll.svg
  images/themes/default/mActionMeshSelectIsolatedVertices.svg
  src/app/mesh/qgsmaptooleditmeshframe.cpp
  src/app/mesh/qgsmaptooleditmeshframe.h
  tests/src/app/testqgsmaptooleditmesh.cpp
  tests/testdata/mesh/quad_and_triangle_with_free_vertices.2dm
Labels: Mesh

#59503 [Backport #59288] Add py-lxml
  .github/actions/vcpkg_update_report/action.yml
  .github/workflows/vcpkg-update-report.yml
  vcpkg/vcpkg.json
Labels: Backport

#59540 [Vcpkg] Don't install python3 if we build without bindings
  cmake/VcpkgInstallDeps.cmake
Labels: Packaging

#59547 [qml] Upgrade QgsLocatorResult to a Q_GADGET
  python/PyQt6/core/auto_generated/locator/qgslocatorfilter.sip.in
  python/core/auto_generated/locator/qgslocatorfilter.sip.in
  src/core/locator/qgslocatorfilter.h
Labels: API

#59328 [3D] qgs3dmapscene: Compute max clip planes
  python/3d/auto_generated/qgs3dmapscene.sip.in
  python/PyQt6/3d/auto_generated/qgs3dmapscene.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgs3dutils.cpp
  src/3d/qgs3dutils.h
Labels: 3D

#59514 Fix ambient occlusion kernel generation
  src/3d/qgsambientocclusionrenderentity.cpp
  tests/testdata/control_images/3d/expected_ambient_occlusion_2/expected_ambient_occlusion_2.png
  tests/testdata/control_images/3d/expected_ambient_occlusion_2/expected_ambient_occlusion_2_mask.png
Labels: 3D, backport queued_ltr_backports, backport release-3_40

#59519 Fix freeze on long indexation for snapping on intersections
  src/core/qgssnappingutils.cpp
  tests/src/app/maptooladdfeatureline/testqgsmaptooladdfeatureline.cpp
  tests/src/app/testqgsadvanceddigitizing.cpp
Labels: Backport

#59591 Add != operator for QgsColorRampShader
  python/PyQt6/core/auto_generated/raster/qgscolorrampshader.sip.in
  python/core/auto_generated/raster/qgscolorrampshader.sip.in
  src/core/raster/qgscolorrampshader.h
Labels: API

#59337 fix(layertreeview): add checks on selectedModel to avoid segfault
  src/gui/layertree/qgslayertreeview.cpp
  tests/src/python/test_qgslayertreeview.py
Labels: backport queued_ltr_backports, backport release-3_34

#59600 Add equality operator for QgsMesh3DSymbol
  python/3d/auto_generated/symbols/qgsmesh3dsymbol.sip.in
  python/PyQt6/3d/auto_generated/symbols/qgsmesh3dsymbol.sip.in
  src/3d/symbols/qgsmesh3dsymbol.cpp
  src/3d/symbols/qgsmesh3dsymbol.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsmesh3dsymbol.py
Labels: API

#59589 Fix use of inline data for SVG content
  src/core/qgsabstractcontentcache.cpp
  tests/src/python/test_qgssvgcache.py
  tests/testdata/control_images/svg_cache/expected_inline_svg/expected_inline_svg.png
Labels: backport release-3_40

#59603 save QGIS_AUTH_PASSWORD_FILE before FCGI_Accept() destroys it
  src/core/auth/qgsauthmanager.cpp
Labels: backport release-3_40

#59612 [Backport queued_ltr_backports] fix(layertreeview): add checks on selectedModel to avoid segfault
  src/gui/layertree/qgslayertreeview.cpp
  tests/src/python/test_qgslayertreeview.py
Labels: Backport

#59638 fix(elevationprofilecanvas): avoid crash on segfault
  src/gui/elevation/qgselevationprofilecanvas.cpp
Labels: Crash/Data Corruption, backport release-3_34, backport release-3_40

#59624 [ui] Improve rendering of color button widget for semi-opaque colors
  src/gui/qgscolorbutton.cpp
Labels: GUI/UX

#59625 Avoid freeze when opening feature form with many relation reference widgets
  src/gui/qgsfeaturelistcombobox.cpp
Labels: backport release-3_34, backport release-3_40

#59656 [GUI][Annotations] Rename "Create Picture" to "Create Picture Annotation"
  src/gui/annotations/qgsannotationitemguiregistry.cpp
Labels: GUI/UX, Annotations, backport release-3_40
