Repository qgis/QGIS, pull requests merged in 2024-04, with the labels that each got.

#56600 [Feature][WMS] Add crs information in WMS GetFeatureInfo output when it differs from WGS84
  python/PyQt6/core/auto_generated/proj/qgscoordinatereferencesystem.sip.in
  python/PyQt6/core/auto_generated/qgsjsonutils.sip.in
  python/core/auto_generated/proj/qgscoordinatereferencesystem.sip.in
  python/core/auto_generated/qgsjsonutils.sip.in
  src/core/proj/qgscoordinatereferencesystem.cpp
  src/core/proj/qgscoordinatereferencesystem.h
  src/core/qgsjsonutils.cpp
  src/core/qgsjsonutils.h
  src/server/services/wfs/qgswfsgetfeature.cpp
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
  tests/src/python/test_qgsserver_wfs.py
  tests/src/python/test_qgsserver_wms_getfeatureinfo.py
  tests/testdata/qgis_server/wms_getfeatureinfo_alias_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_exclude_attribute_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_geojson.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_geometry_CRS84_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_geometry_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_multiple_json.txt
Labels: Feature, Server

#56784 Raster - paletted: fix slow rendering with huge number of classes
  src/core/raster/qgspalettedrasterrenderer.cpp
Labels: Regression, Bug, backport queued_ltr_backports, backport release-3_36

#57049 [HANA provider] Upgrade EULA agreement to version 3.2
  .docker/qgis3-qt5-build-deps.dockerfile
Labels: backport release-3_34, backport release-3_36

#57034 [temporal] Fix first canvas rendering on project not respecting cumulative state
  src/core/qgstemporalnavigationobject.cpp
  tests/src/core/testqgstemporalnavigationobject.cpp
Labels: backport queued_ltr_backports, backport release-3_36

#57008 [DB Manager] Fix field property editing (Fix #57007)
  python/plugins/db_manager/db_plugins/data_model.py
Labels: DB Manager, Bug, backport release-3_36

#57004 [OGR provider] Recognize "false"/"true" string as valid value for a boolean field in addFeature()/changeAttributeValues()"
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Regression, Bug, backport release-3_34, backport release-3_36

#57063 Fix temporal unit conversion factor for milliseconds to weeks/months/years/decades/centuries
  src/core/qgsunittypes.cpp
  tests/src/python/test_qgsunittypes.py
Labels: backport release-3_34, backport release-3_36

#57075 [ui] Fix floating dock panels hidden when toggling reduced view
  src/app/qgisapp.cpp
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_36

#56970 [sensorthings] Observation phenomenonTime can be a time instant
  src/core/providers/sensorthings/qgssensorthingsshareddata.cpp
Labels: backport release-3_36, SensorThings

#57074 [raster] New single color renderer
  python/PyQt6/core/auto_generated/raster/qgsrasterinterface.sip.in
  python/PyQt6/core/auto_generated/raster/qgsrastersinglecolorrenderer.sip.in
  python/PyQt6/core/core_auto.sip
  python/core/auto_generated/raster/qgsrasterinterface.sip.in
  python/core/auto_generated/raster/qgsrastersinglecolorrenderer.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/raster/qgsrasterinterface.h
  src/core/raster/qgsrasterrendererregistry.cpp
  src/core/raster/qgsrastersinglecolorrenderer.cpp
  src/core/raster/qgsrastersinglecolorrenderer.h
  src/gui/CMakeLists.txt
  src/gui/qgsmapcanvas.cpp
  src/gui/raster/qgsrasterlayerproperties.cpp
  src/gui/raster/qgsrastersinglecolorrendererwidget.cpp
  src/gui/raster/qgsrastersinglecolorrendererwidget.h
  src/gui/raster/qgsrendererrasterpropertieswidget.cpp
  src/ui/qgsrastersinglecolorrendererwidgetbase.ui
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsrastersinglecolorrenderer.py
  tests/testdata/control_images/expected_raster_single_color_renderer/expected_raster_single_color_renderer.png
Labels: Feature, Rasters

#57089 Ensure Refresh action is shown for Geopackage connection items
  src/gui/providers/ogr/qgsgeopackageitemguiprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_36

#56982 [dxf] Import/export 'DXF Export' dialog settings from/to XML
  src/app/qgsdxfexportdialog.cpp
  src/app/qgsdxfexportdialog.h
  src/ui/qgsdxfexportdialogbase.ui
Labels: Feature, DXF/DWG, Needs Documentation

#57066 SERVER: fix legend of cascaded WMS layers #42063
  src/server/services/wms/qgswmsparameters.cpp
Labels: Server, backport release-3_34, backport release-3_36

#57099 QgsRectangle: normalize WKT export
  src/core/geometry/qgsrectangle.cpp
  tests/src/python/test_provider_sensorthings.py
  tests/src/python/test_qgsrectangle.py
Labels: Cleanup, Easy fix

#56924 Don't require a full wildcard string for grass module filtering
  src/plugins/grass/qgsgrasstools.cpp
Labels: stale

#57104 Optimise a number of QgsEllipse internals
  src/core/geometry/qgsellipse.cpp
  src/core/geometry/qgsellipse.h
Labels: Optimization

#57124 [sipify] support different since versions in C++ vs PyQGIS
  python/PyQt6/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  src/core/vector/qgsvectorlayer.h
Labels: Squash!, backport release-3_34, backport release-3_36

#57135 Fix check for Qwt>=6.2.0 for QWT_POLAR
  .github/workflows/mingw-w64-msys2.yml
  src/app/CMakeLists.txt
Labels: Backport

#57130 Clipboard: Add WKB option to clipboard
  src/app/options/qgsoptions.cpp
  src/app/qgsclipboard.cpp
  src/app/qgsclipboard.h
  tests/src/app/testqgisappclipboard.cpp
Labels: Needs Documentation

#56777 [Bugfix] Server GetPrint set HTML content of QgsLayoutItemHtml and not only URL
  src/server/services/wms/qgswmsrenderer.cpp
Labels: stale, Server, Print Layouts, backport release-3_34, backport release-3_36

#57150 [processing] Fix Output Variant availability
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Processing, backport release-3_34, backport release-3_36

#57126 Fix crash when setting default on form field properties
  src/gui/vector/qgsattributesformproperties.cpp
Labels: Bug, backport release-3_36

#56969 Fix Attribute Table header labels when adding multiple columns
  src/gui/attributetable/qgsattributetablefiltermodel.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_36

#57160 use project scales in label rendering and new 2D canvas dock if they are set (fix #51326)
  python/PyQt6/gui/auto_generated/qgsscalecombobox.sip.in
  python/PyQt6/gui/auto_generated/qgsscalewidget.sip.in
  python/gui/auto_generated/qgsscalecombobox.sip.in
  python/gui/auto_generated/qgsscalewidget.sip.in
  src/app/qgsmapcanvasdockwidget.cpp
  src/app/qgsstatusbarscalewidget.cpp
  src/gui/qgsscalecombobox.cpp
  src/gui/qgsscalecombobox.h
  src/gui/qgsscalerangewidget.cpp
  src/gui/qgsscalewidget.cpp
  src/gui/qgsscalewidget.h
  src/gui/qgstextformatwidget.cpp
  tests/src/python/test_qgsscalewidget.py
Labels: backport queued_ltr_backports, backport release-3_36

#57046 Server/OAPIF: fix unreported issue with access control layer permissions
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_36

#57161 [qml] Add a couple of Q_INVOKABLE in QgsProject and QgsVectorLayer to ease layer and feature fetching + editing
  python/PyQt6/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  scripts/sipify.pl
  src/core/project/qgsproject.h
  src/core/qgsfeature.h
  src/core/vector/qgsvectorlayer.h
Labels: Quick

#57174 Better reporting for invalid field names for some algorithms
  python/plugins/processing/algs/qgis/BasicStatistics.py
  src/analysis/processing/qgsalgorithmjoinbyattribute.cpp
Labels: Processing, backport queued_ltr_backports, backport release-3_36

#57179 Fix casting of symbol layer densityArea property
  src/core/symbology/qgssymbollayer.cpp
Labels: backport release-3_36

#57016 [dxf] Allow users to override the layer name to be exported to DXF
  python/PyQt6/core/auto_generated/dxf/qgsdxfexport.sip.in
  python/core/auto_generated/dxf/qgsdxfexport.sip.in
  src/analysis/processing/qgsalgorithmdxfexport.cpp
  src/app/qgsdxfexportdialog.cpp
  src/app/qgsdxfexportdialog.h
  src/core/dxf/qgsdxfexport.cpp
  src/core/dxf/qgsdxfexport.h
  src/core/dxf/qgsdxfexport_p.h
  src/core/processing/qgsprocessingparameterdxflayers.cpp
  src/gui/processing/qgsprocessingdxflayerswidgetwrapper.cpp
  src/ui/processing/qgsprocessingdxflayerdetailswidgetbase.ui
  src/ui/qgsdxfexportdialogbase.ui
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/core/testqgsdxfexport.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Feature, Processing, DXF/DWG, Needs Documentation

#57083 Processing results layer handling tweaks
  python/plugins/processing/gui/Postprocessing.py
Labels: Processing

#57084 [processing] Endpoint distance threshold for network analysis
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_lines_tolerance.gml
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_lines_tolerance.xsd
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_non_routable_tolerance.gml
  python/plugins/processing/tests/testdata/expected/service_area_from_layer_non_routable_tolerance.xsd
  python/plugins/processing/tests/testdata/expected/shortest_path_layer_to_point_max_point_tolerance.gml
  python/plugins/processing/tests/testdata/expected/shortest_path_layer_to_point_max_point_tolerance.xsd
  python/plugins/processing/tests/testdata/expected/shortest_path_layer_to_point_non_routable.gml
  python/plugins/processing/tests/testdata/expected/shortest_path_layer_to_point_non_routable.xsd
  python/plugins/processing/tests/testdata/expected/shortest_path_point_to_layer.gml
  python/plugins/processing/tests/testdata/expected/shortest_path_point_to_layer.xsd
  python/plugins/processing/tests/testdata/expected/shortest_path_point_to_layer_non_routable.gml
  python/plugins/processing/tests/testdata/expected/shortest_path_point_to_layer_non_routable.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests2.yaml
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
  src/analysis/processing/qgsalgorithmserviceareafrompoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathlayertopoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtolayer.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtopoint.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#57191 Add api to set QgsMapLayer IDs
  python/PyQt6/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  tests/src/core/testqgsmaplayer.cpp
Labels: API

#57166 [qml] Make QgsFields a QGadet and make some functions Q_INVOKABLE
  python/PyQt6/core/auto_generated/qgsfields.sip.in
  python/core/auto_generated/qgsfields.sip.in
  src/core/qgsfields.h
  src/core/vector/qgsvectorlayer.h
Labels: Quick

#57224 Annotation items should default to enabled status
  src/core/annotations/qgsannotationitem.cpp
Labels: Regression, backport release-3_36

#57171 [backport Release-3_36] Server/OAPIF: fix unreported issue with access control lay…
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
Labels: Backport

#57185 [Backport queued_ltr_backports] [Bugfix] Server GetPrint set HTML content of QgsLayoutItemHtml and not only URL
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Server, Print Layouts

#57220 Add wms context flags also for pdf GetMap. Fixes problems with extern…
  src/server/services/wms/qgspdfwriter.cpp
Labels: backport release-3_34, backport release-3_36

#57200 [processing] Harmonize DXF Export app dialog and corresponding algorithm
  python/PyQt6/core/auto_generated/dxf/qgsdxfexport.sip.in
  python/core/auto_generated/dxf/qgsdxfexport.sip.in
  src/app/qgsdxfexportdialog.cpp
  src/core/dxf/qgsdxfexport.h
  src/core/processing/qgsprocessingparameterdxflayers.cpp
  src/gui/processing/qgsprocessingdxflayerswidgetwrapper.cpp
  src/ui/processing/qgsprocessingdxflayerdetailswidgetbase.ui
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, DXF/DWG, Needs Documentation

#57246 [Oracle] Properly store credentials in cache
  src/providers/oracle/qgsoracleconn.cpp
  src/providers/oracle/qgsoracletransaction.cpp
  tests/src/python/test_provider_oracle.py
Labels: Bug, Oracle data provider, backport queued_ltr_backports, backport release-3_36

#57257 Fix light model updates
  src/app/3d/qgslightswidget.cpp
Labels: 3D

#57180 WMS: GetFeatureInfo FEATURE_COUNT set connection default
  src/core/qgsowsconnection.cpp
  src/core/qgsowsconnection.h
  src/gui/qgsnewhttpconnection.cpp
  src/providers/wms/qgswmsdataitems.cpp
  src/providers/wms/qgswmssourceselect.cpp
  src/ui/qgsnewhttpconnectionbase.ui
  src/ui/qgswmssourceselectbase.ui
  tests/src/python/test_qgsowsconnection.py
Labels: Bug

#57270 Copy project vertical/3d crs logic to QgsMapLayer
  python/PyQt6/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  tests/src/python/test_qgsmaplayer.py
Labels: API

#57256 Fix non-responsive Qt3D overlay
  src/3d/qgs3dmapscene.cpp
Labels: Needs Backporting, 3D, backport queued_ltr_backports, backport release-3_36

#57278 macos-build.yml: select macos-13 to get x64 build
  .github/workflows/macos-build.yml
Labels: backport queued_ltr_backports, backport release-3_34, backport release-3_36

#57287 Fix typo
  src/ui/qgsrichtexteditorbase.ui
Labels: backport release-3_34, backport release-3_36

#57219 QgsProject: The flag to read extent from xml was set too late
  src/core/project/qgsproject.cpp
  src/core/qgsmaplayer.h
  tests/src/core/testqgsproject.cpp
Labels: Data Provider, Vectors, Server, backport queued_ltr_backports, backport release-3_36
