Repository qgis/QGIS, pull requests merged in 2024-07, with the labels that each got.

#57943 Respect Exiv2::Value type (Exiv2::unsignedRational) in readRational of QgsExifTools (fixes #57942)
  src/core/raster/qgsexiftools.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#57961 Fix thread safety in QgsGeos::isValid
  src/core/geometry/qgsgeos.cpp
Labels: Crash/Data Corruption, backport release-3_34, backport release-3_38

#57953 Add some helpful api to QgsFields
  python/PyQt6/core/auto_generated/qgsfields.sip.in
  python/core/auto_generated/qgsfields.sip.in
  src/core/qgsfields.cpp
  src/core/qgsfields.h
  tests/src/core/testqgsfields.cpp
Labels: API, PyQGIS

#57987 Clear identify results on Key_Escape when results dialog has focus
  src/app/qgsidentifyresultsdialog.cpp
  src/app/qgsidentifyresultsdialog.h
Labels: Bug, backport queued_ltr_backports, backport release-3_38

#57962 Allow negative scaling for elevation properties
  src/ui/mesh/qgsmeshelevationpropertieswidgetbase.ui
  src/ui/pointcloud/qgspointcloudelevationpropertieswidgetbase.ui
  src/ui/qgsvectorelevationpropertieswidgetbase.ui
  src/ui/raster/qgsrasterelevationpropertieswidgetbase.ui
  src/ui/tiledscene/qgstiledsceneelevationpropertieswidgetbase.ui
Labels: backport queued_ltr_backports, backport release-3_34

#58006 Use qMetaTypeId<T>() instead of QMetaType::type( T )
  src/analysis/processing/qgsalgorithmgeometrybyexpression.cpp
  src/app/labeling/qgsmaptoollabel.cpp
  src/core/expression/qgsexpression.cpp
  src/core/expression/qgsexpressionfunction.cpp
  src/core/expression/qgsexpressionnodeimpl.cpp
  src/core/expression/qgsexpressionutils.cpp
  src/core/expression/qgsexpressionutils.h
  src/core/labeling/qgspallabeling.cpp
  src/core/layout/qgslayoutitemmanualtable.cpp
  src/core/processing/models/qgsprocessingmodelalgorithm.cpp
  src/core/processing/models/qgsprocessingmodeloutput.cpp
  src/core/processing/qgsprocessingalgorithm.cpp
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/sensorthings/qgssensorthingsprovider.cpp
  src/core/qgsaggregatecalculator.cpp
  src/core/qgsattributes.h
  src/core/qgsfeature.cpp
  src/core/qgsfield.cpp
  src/core/qgsogcutils.cpp
  src/core/qgsxmlutils.cpp
  src/gui/editorwidgets/qgsgeometrywidgetwrapper.cpp
  src/gui/processing/models/qgsmodelgraphicsscene.cpp
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingmodelerparameterwidget.cpp
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
  src/gui/processing/qgsprocessingoutputdestinationwidget.cpp
  src/gui/processing/qgsprocessingwidgetwrapper.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/qgsdetaileditemdelegate.cpp
  src/gui/vector/qgsfieldcalculator.cpp
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/virtual/qgsvirtuallayersqlitemodule.cpp
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/analysis/testqgsprocessingmodelalgorithm.cpp
  tests/src/core/geometry/testqgsgeometry.cpp
  tests/src/core/geometry/testqgspointxy.cpp
  tests/src/core/geometry/testqgsrectangle.cpp
  tests/src/core/testqgsexpression.cpp
  tests/src/core/testqgsfield.cpp
  tests/src/gui/testprocessinggui.cpp
  tests/src/gui/testqgstableeditor.cpp
Labels: Cleanup

#58011 [map canvas] Fix annotations not drawn onto preview renders
  src/gui/qgsmapcanvas.cpp
Labels: backport release-3_34, backport release-3_38

#58020 Prevent expandAuthConfig in createSqlVectorLayer
  src/providers/hana/qgshanaproviderconnection.cpp
  src/providers/oracle/qgsoracleproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/spatialite/qgsspatialiteproviderconnection.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58026 Don't try to translate boolean object
  python/plugins/db_manager/db_plugins/oracle/info_model.py
  python/plugins/db_manager/db_plugins/oracle/plugin.py
Labels: backport release-3_34, backport release-3_38

#58027 Allow running processing tools on grass vector layers
  python/plugins/processing/algs/gdal/GdalAlgorithm.py
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
Labels: Processing

#58031 Allow negative scaling for elevation properties (LTR)
  src/ui/mesh/qgsmeshelevationpropertieswidgetbase.ui
  src/ui/pointcloud/qgspointcloudelevationpropertieswidgetbase.ui
  src/ui/qgsvectorelevationpropertieswidgetbase.ui
  src/ui/raster/qgsrasterelevationpropertieswidgetbase.ui
  src/ui/tiledscene/qgstiledsceneelevationpropertieswidgetbase.ui
Labels: Backport

#58009 [attribute form] Properly handle default value using current_parent_* variable/function when in editing state
  src/gui/qgsattributeform.cpp
  src/gui/qgsattributeform.h
  tests/src/gui/testqgsattributeform.cpp
Labels: backport release-3_38

#58060 Fix crash when editing grass layers on debug builds
  src/plugins/grass/qgsgrasseditrenderer.cpp
Labels: Crash/Data Corruption, backport release-3_34, backport release-3_38

#58081 Show GRASS version info in Processing logs
  python/plugins/grassprovider/grass_provider.py
Labels: GRASS, backport queued_ltr_backports, backport release-3_38

#58080 [grass] Ensure vector inputs respect layer filters
  python/plugins/grassprovider/grass_algorithm.py
  python/plugins/grassprovider/tests/grass_algorithms_vector_test.py
Labels: GRASS, backport queued_ltr_backports, backport release-3_38

#58085 Update qgslayoutscalebarwidgetbase.ui
  src/ui/layout/qgslayoutscalebarwidgetbase.ui
Labels: Needs Documentation

#58093 Fix use-after-free in QgsVectorLayerCache iterators
  src/core/qgscachedfeatureiterator.cpp
  src/core/qgscachedfeatureiterator.h
  tests/src/python/test_qgsvectorlayercache.py
Labels: Crash/Data Corruption, backport release-3_34, backport release-3_38

#58096 [processing] Fix buffer algorithm's primary key collision
  src/analysis/processing/qgsalgorithmbuffer.cpp
Labels: Processing, backport release-3_34, backport release-3_38

#57810 Do not ignore column-restricted INSERT privileges
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: Bug, PostGIS data provider, backport queued_ltr_backports

#58109 debian packaging: drop bullseye
  debian/control.in
  debian/libqgis-dev.install.in
  debian/qgis-providers.install.in
  debian/rules
Labels: backport queued_ltr_backports

#58054 Adds a file to hold a map from class/method to headerfile
  .github/workflows/sipify-bot.yml
  python/3d/class_map.yaml
  python/CMakeLists.txt
  python/PyQt6/3d/class_map.yaml
  python/PyQt6/analysis/class_map.yaml
  python/PyQt6/core/class_map.yaml
  python/PyQt6/gui/class_map.yaml
  python/PyQt6/server/class_map.yaml
  python/analysis/class_map.yaml
  python/core/class_map.yaml
  python/gui/class_map.yaml
  python/server/class_map.yaml
  scripts/sipify.pl
  scripts/sipify_all.sh
  scripts/spell_check/check_spelling.sh
Labels: backport release-3_34, backport release-3_38

#58121 Move layout picture item format enum to Qgis, promote to enum class
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_additions/qgslayoutitempicture.py
  python/PyQt6/core/auto_generated/layout/qgslayoutitempicture.sip.in
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/layout/qgslayoutitempicture.sip.in
  python/core/auto_generated/qgis.sip.in
  src/app/layout/qgslayoutimagedrophandler.cpp
  src/core/layout/qgslayoutitempicture.cpp
  src/core/layout/qgslayoutitempicture.h
  src/core/qgis.h
  src/gui/layout/qgslayoutpicturewidget.cpp
  tests/src/core/testqgslayoutpicture.cpp
Labels: API, Cleanup

#58133 [Qt6] Fix crash when built with Qt6 debug
  src/gui/proj/qgsprojectionselectionwidget.cpp
Labels: Bug

#58076 Implement converter for esriTS symbols for featureServers
  src/core/providers/arcgis/qgsarcgisrestutils.cpp
  src/core/providers/arcgis/qgsarcgisrestutils.h
  tests/src/core/testqgsarcgisrestutils.cpp
Labels: Squash!

#58122 Cleanup QPicture dpi scaling workarounds
  python/PyQt6/core/auto_generated/effects/qgspainteffect.sip.in
  python/PyQt6/core/auto_generated/painting/qgspainting.sip.in
  python/core/auto_generated/effects/qgspainteffect.sip.in
  python/core/auto_generated/painting/qgspainting.sip.in
  src/app/qgisapp.cpp
  src/app/qgsanimationexportdialog.cpp
  src/app/qgsmapsavedialog.cpp
  src/core/annotations/qgsannotation.cpp
  src/core/effects/qgseffectstack.cpp
  src/core/effects/qgspainteffect.cpp
  src/core/effects/qgspainteffect.h
  src/core/maprenderer/qgsmaprenderercustompainterjob.cpp
  src/core/painting/qgsgeometrypaintdevice.cpp
  src/core/painting/qgsmaskpaintdevice.cpp
  src/core/painting/qgspainting.cpp
  src/core/painting/qgspainting.h
  src/core/qgsmapsettings.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/textrenderer/qgstextrenderer.cpp
  src/gui/layout/qgslayoutlegendwidget.cpp
Labels: API, Cleanup

#58120 Add QgsMapToPixel method to transform bounding boxes
  python/PyQt6/core/auto_generated/qgsmaptopixel.sip.in
  python/core/auto_generated/qgsmaptopixel.sip.in
  src/core/qgsmaptopixel.h
  tests/src/core/testqgsmaptopixel.cpp
Labels: API

#58141 Use \see not \sa
  python/PyQt6/core/auto_generated/pointcloud/qgspointclouddataprovider.sip.in
  python/PyQt6/gui/auto_generated/qgsmaptooladvanceddigitizing.sip.in
  python/core/auto_generated/pointcloud/qgspointclouddataprovider.sip.in
  python/gui/auto_generated/qgsmaptooladvanceddigitizing.sip.in
  src/3d/chunks/qgschunkloader_p.h
  src/core/pointcloud/qgspointclouddataprovider.h
  src/core/symbology/qgsstyle.h
  src/gui/qgsmaptooladvanceddigitizing.h
Labels: Cleanup

#58127 show information messagebox when metadata saved to the default location
  src/gui/qgslayerpropertiesdialog.cpp
Labels: GUI/UX

#58146 Use alignment comboboxes for layout label alignment widgets
  src/gui/layout/qgslayoutlabelwidget.cpp
  src/gui/layout/qgslayoutlabelwidget.h
  src/ui/layout/qgslayoutlabelwidgetbase.ui
Labels: GUI/UX, Needs Documentation

#58058 Create converter for ArcGis FeatureServer type classBreaks
  src/core/providers/arcgis/qgsarcgisrestutils.cpp
  src/providers/arcgisrest/qgsafsprovider.cpp
  tests/src/python/test_provider_afs.py
Labels: Squash!

#58159 Fix crash when opening raster properties on invalid layers
  src/app/raster/qgsrasterelevationpropertieswidget.cpp
Labels: Crash/Data Corruption, backport release-3_38

#58033 Fix PDF export size of elevation plots
  src/app/elevation/qgselevationprofilewidget.cpp
Labels: Regression, backport release-3_34, backport release-3_38

#58168 use WKB type instead of geometry type when saving and restoring layer metadata
  src/providers/postgres/qgspostgresprovidermetadatautils.cpp
Labels: Metadata, backport queued_ltr_backports

#58106 Make visible layer ids accessible via a custom QgsRenderContext property
  python/PyQt6/core/auto_generated/qgsrendercontext.sip.in
  python/core/auto_generated/qgsrendercontext.sip.in
  src/core/qgsrendercontext.cpp
  src/core/qgsrendercontext.h
  tests/src/python/test_qgsrendercontext.py
Labels: API

#58172 debian packaging: include sipify.yaml (followup 6e9933145a; #58054)
  debian/python3-qgis-common.install
Labels: backport release-3_34, backport release-3_38

#58108 Fix incorrect docs
  python/PyQt6/core/auto_generated/qgsmaptopixel.sip.in
  python/core/auto_generated/qgsmaptopixel.sip.in
  src/core/qgsmaptopixel.h
Labels: backport release-3_34, backport release-3_38

#58200 fix class map install
  python/CMakeLists.txt
Labels: backport release-3_34, backport release-3_38

#58196 Fix incorrect docs (3.38 backport)
  python/PyQt6/core/auto_generated/qgsmaptopixel.sip.in
  python/core/auto_generated/qgsmaptopixel.sip.in
  src/core/qgsmaptopixel.h
Labels: Backport, backport release-3_34

#58148 Ensure vector layer elevation profiles respect layer/map vert datums
  src/app/elevation/qgselevationprofilewidget.cpp
  src/core/vector/qgsvectorlayerprofilegenerator.cpp
  tests/src/python/test_qgsvectorlayerprofilegenerator.py
Labels: Feature, Changelog

#58197 Fix crash when extracting symbols from project with layout legend
  python/PyQt6/core/auto_generated/layout/qgslayoutitemlegend.sip.in
  python/core/auto_generated/layout/qgslayoutitemlegend.sip.in
  src/core/layout/qgslayoutitemlegend.cpp
  src/core/layout/qgslayoutitemlegend.h
Labels: Crash/Data Corruption, backport release-3_34, backport release-3_38

#58217 debian package: followup #58200
  debian/python3-qgis-common.install
Labels: backport release-3_34, backport release-3_38

#58177 Avoid some forced truncation of colors to ints
  src/core/symbology/qgssymbollayerutils.cpp
  tests/src/core/testqgssymbol.cpp
Labels: backport release-3_38

#58154 [mvt] mapbox vector tiles conversion improvements
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: backport release-3_38

#58212 Fix/qgstest improv
  src/test/qgstest.h
Labels: testsuite

#58251 [attribute form] Fix addition of features from a child feature dialog being added
  src/gui/qgsabstractrelationeditorwidget.cpp
Labels: Backport

#58273 Always request the version info from the Network
  src/app/qgsversioninfo.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#57648 [advanced digitizing] Add circles intersection digitizing tool
  images/images.qrc
  images/themes/default/cadtools/circlesintersection.svg
  python/PyQt6/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  python/PyQt6/gui/auto_generated/editorwidgets/qgsspinbox.sip.in
  python/PyQt6/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  python/PyQt6/gui/auto_generated/qgsadvanceddigitizingtools.sip.in
  python/PyQt6/gui/auto_generated/qgsadvanceddigitizingtoolsregistry.sip.in
  python/PyQt6/gui/auto_generated/qgsgui.sip.in
  python/PyQt6/gui/gui_auto.sip
  python/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  python/gui/auto_generated/editorwidgets/qgsspinbox.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingtools.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingtoolsregistry.sip.in
  python/gui/auto_generated/qgsgui.sip.in
  python/gui/gui_auto.sip
  src/app/qgisapp.cpp
  src/gui/CMakeLists.txt
  src/gui/editorwidgets/qgsdoublespinbox.cpp
  src/gui/editorwidgets/qgsdoublespinbox.h
  src/gui/editorwidgets/qgsspinbox.cpp
  src/gui/editorwidgets/qgsspinbox.h
  src/gui/qgsadvanceddigitizingcanvasitem.cpp
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  src/gui/qgsadvanceddigitizingtools.cpp
  src/gui/qgsadvanceddigitizingtools.h
  src/gui/qgsadvanceddigitizingtoolsregistry.cpp
  src/gui/qgsadvanceddigitizingtoolsregistry.h
  src/gui/qgsgui.cpp
  src/gui/qgsgui.h
  src/gui/qgsmaptooladvanceddigitizing.cpp
  src/ui/qgsadvanceddigitizingdockwidgetbase.ui
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsadvanceddigitizingtoolsregistry.cpp
Labels: Feature, Digitizing
