Repository qgis/QGIS, pull requests merged in 2024-09, with the labels that each got.

#58155 support multiple URLs/sources for vector tiles
  src/analysis/processing/qgsalgorithmdownloadvectortiles.cpp
  src/core/vectortile/qgsvectortiledataprovider.cpp
  src/core/vectortile/qgsvectortiledataprovider.h
  src/core/vectortile/qgsvectortileloader.cpp
  src/core/vectortile/qgsvectortileloader.h
  src/core/vectortile/qgsvectortilemvtdecoder.cpp
  src/core/vectortile/qgsvectortilemvtdecoder.h
  src/core/vectortile/qgsxyzvectortiledataprovider.cpp
  src/core/vectortile/qgsxyzvectortiledataprovider.h
  tests/src/core/testqgsvectortilelayer.cpp
Labels: Feature, Vector tiles

#58541 Fix/export 3d scene
  src/3d/qgs3dexportobject.cpp
  src/3d/qgs3dexportobject.h
  src/3d/qgs3dsceneexporter.cpp
  src/3d/qgs3dsceneexporter.h
  tests/src/3d/testqgs3drendering.cpp
  tests/src/3d/testqgs3dutils.cpp
  tests/testdata/control_files/3d/expected_big_scene_export/expected_big_scene_export-1.obj
  tests/testdata/control_files/3d/expected_big_scene_export/expected_big_scene_export-2.obj
  tests/testdata/control_files/3d/expected_big_scene_export/expected_big_scene_export-3.obj
  tests/testdata/control_files/3d/expected_big_scene_export/expected_big_scene_export-4.obj
  tests/testdata/control_files/3d/expected_big_scene_export/expected_big_scene_export-5.obj
  tests/testdata/control_files/3d/expected_export_obj/expected_all_faces.obj
  tests/testdata/control_files/3d/expected_export_obj/expected_sparse_faces.obj
  tests/testdata/control_files/3d/expected_scene_export/expected_scene_export-1.obj
  tests/testdata/control_files/3d/expected_scene_export/expected_scene_export-2.obj
  tests/testdata/control_files/3d/expected_scene_export/expected_scene_export-3.obj
  tests/testdata/control_files/3d/expected_scene_export/expected_scene_export-4.obj
  tests/testdata/control_files/3d/expected_scene_export/expected_scene_export-5.obj
Labels: 3D

#58556 Fix CRS flagged as invalid from standalone code
  src/core/proj/qgscoordinatereferencesystemregistry.cpp
  src/core/proj/qgscoordinatereferencesystemregistry.h
Labels: backport queued_ltr_backports, backport release-3_38

#58559 Fix default AllowNotNULL for relation ref wdgt
  python/PyQt6/core/auto_generated/qgsrelation.sip.in
  python/core/auto_generated/qgsrelation.sip.in
  src/core/qgsrelation.cpp
  src/core/qgsrelation.h
  src/gui/editorwidgets/qgsrelationreferenceconfigdlg.cpp
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
  tests/src/python/test_qgsrelation.py
Labels: Bug, Widgets

#58561 [Expression] Make color functions compatible with color object
  resources/function_help/json/color_grayscale_average
  resources/function_help/json/color_mix
  resources/function_help/json/color_part
  resources/function_help/json/darker
  resources/function_help/json/lighter
  resources/function_help/json/set_color_part
  src/core/expression/qgsexpressionfunction.cpp
  src/core/expression/qgsexpressionutils.cpp
  src/core/expression/qgsexpressionutils.h
  tests/src/core/testqgsexpression.cpp
Labels: Expressions

#58576 [metasearch] Fix missing import
  python/plugins/MetaSearch/dialogs/maindialog.py
Labels: backport release-3_34, backport release-3_38

#58550 [processing] Insure that processing algorithms are not used to breach the OSMF tile usage policy on bulk download
  python/PyQt6/core/auto_additions/qgsmaplayerutils.py
  python/PyQt6/core/auto_generated/qgsmaplayer.sip.in
  python/PyQt6/core/auto_generated/qgsmaplayerutils.sip.in
  python/core/auto_additions/qgsmaplayerutils.py
  python/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayerutils.sip.in
  src/analysis/processing/qgsalgorithmrasterize.cpp
  src/analysis/processing/qgsalgorithmrasterize.h
  src/analysis/processing/qgsalgorithmxyztiles.cpp
  src/analysis/processing/qgsalgorithmxyztiles.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/qgsmaplayerutils.cpp
  src/core/qgsmaplayerutils.h
Labels: Processing

#58603 [ogr] Fix quoted identifier logic for sqlite-based drivers
  src/core/providers/ogr/qgsogrproviderutils.cpp
  tests/src/python/test_provider_ogr_gpkg.py
  tests/testdata/provider/points_escaped_identifier.gpkg
Labels: Bug, backport queued_ltr_backports, backport release-3_38

#58483 [expression] Add line_interpolate_point_by_m and line_locate_m expressions
  resources/function_help/json/line_interpolate_point_by_m
  resources/function_help/json/line_locate_m
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Expressions, Needs Documentation

#58619 [processing] Fix points to path algorithm's handling of text folder output's temporary destination
  src/analysis/processing/qgsalgorithmpointstopaths.cpp
Labels: backport release-3_34, backport release-3_38

#58618 [ui] Fix unreadable text in the 'Font Install Failed' dialog under night mapping theme
  src/app/qgisapp.cpp
Labels: backport release-3_34, backport release-3_38

#58638 [GDAL provider] Use base dataset to display metadata in HTML output
  src/core/providers/gdal/qgsgdalprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58639 test_qgsvectorlayerprofilegenerator: Fix tests for geos 3.13
  tests/src/python/test_qgsvectorlayerprofilegenerator.py
Labels: testsuite

#58634 [processing] Fix "Extract binary field" (native:extractbinary) algorithm's handling of the output folder
  src/analysis/processing/qgsalgorithmextractbinary.cpp
Labels: Processing, Bug, backport release-3_34, backport release-3_38

#58624 qgsvectorlayerprofilegenerator: Add support for polyhedralsurface
  src/core/vector/qgsvectorlayerprofilegenerator.cpp
  tests/src/python/test_qgsvectorlayerprofilegenerator.py
Labels: Profile tool

#58632 [feature] Add support for word-spacing CSS in html labels
  python/PyQt6/core/auto_generated/textrenderer/qgstextcharacterformat.sip.in
  python/core/auto_generated/textrenderer/qgstextcharacterformat.sip.in
  src/core/textrenderer/qgstextcharacterformat.cpp
  src/core/textrenderer/qgstextcharacterformat.h
  src/core/textrenderer/qgstextdocument.cpp
  tests/src/core/testqgslabelingengine.cpp
  tests/src/python/test_qgstextrenderer.py
  tests/testdata/control_images/labelingengine/expected_curved_html_wordspacing/expected_curved_html_wordspacing.png
  tests/testdata/control_images/text_renderer/html_word_spacing/html_word_spacing.png
  tests/testdata/control_images/text_renderer/html_word_spacing_negative/html_word_spacing_negative.png
Labels: Needs Documentation, Changelog

#58633 [feature] Support h1/h2/.../h6 formatting in html labels
  python/PyQt6/core/auto_generated/textrenderer/qgstextcharacterformat.sip.in
  python/core/auto_generated/textrenderer/qgstextcharacterformat.sip.in
  src/core/textrenderer/qgstextcharacterformat.cpp
  src/core/textrenderer/qgstextcharacterformat.h
  src/core/textrenderer/qgstextdocument.cpp
  tests/src/python/test_qgstextrenderer.py
  tests/testdata/control_images/text_renderer/html_headings/html_headings.png
  tests/testdata/control_images/text_renderer/html_headings_larger/html_headings_larger.png
Labels: Needs Documentation, Changelog

#58665 [GUI] Fix Geometry Generator Expression button's icon (Fix #41388)
  src/gui/labeling/qgslabelinggui.cpp
  src/ui/qgstextformatwidgetbase.ui
Labels: GUI/UX, Bug, backport release-3_34, backport release-3_38

#58673 Don't show font size preview in font button icons
  src/gui/qgsfontbutton.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58538 Fix inconsistent field name line edit focus behaviour when creating new vector layers
  src/app/qgsnewspatialitelayerdialog.cpp
  src/gui/qgsnewgeopackagelayerdialog.cpp
  src/gui/qgsnewmemorylayerdialog.cpp
  src/gui/qgsnewvectorlayerdialog.cpp
Labels: Bug, backport queued_ltr_backports

#58660 [GUI] Fix project's Ellipsoid option description (adding angle to distance and area)
  src/ui/qgsprojectpropertiesbase.ui
Labels: GUI/UX, Needs Documentation

#58663 add UX to load MVT layers from style URL only
  src/app/qgisapp.cpp
  src/core/vectortile/qgsvectortilemvtdecoder.cpp
  src/core/vectortile/qgsvectortilemvtdecoder.h
  src/core/vectortile/qgsvectortileutils.cpp
  src/core/vectortile/qgsvectortileutils.h
  src/gui/vectortile/qgsvectortileconnectiondialog.cpp
  src/gui/vectortile/qgsvectortileconnectiondialog.h
  src/ui/qgsvectortileconnectiondialog.ui
  tests/src/core/testqgsvectortileutils.cpp
  tests/testdata/vector_tile/styles/base_v1.0.0.json
  tests/testdata/vector_tile/styles/style1.json
  tests/testdata/vector_tile/styles/style2.json
  tests/testdata/vector_tile/styles/terrain_v1.0.0.json
Labels: Feature, Needs Documentation

#58611 [settings] support direct connection from widget value change to upda…
  python/PyQt6/gui/auto_generated/settings/qgssettingseditorwidgetwrapper.sip.in
  python/PyQt6/gui/auto_generated/settings/qgssettingseditorwidgetwrapperimpl.sip.in
  python/gui/auto_generated/settings/qgssettingseditorwidgetwrapper.sip.in
  python/gui/auto_generated/settings/qgssettingseditorwidgetwrapperimpl.sip.in
  src/gui/qgsgui.h
  src/gui/settings/qgssettingseditorwidgetwrapper.cpp
  src/gui/settings/qgssettingseditorwidgetwrapper.h
  src/gui/settings/qgssettingseditorwidgetwrapperimpl.cpp
  src/gui/settings/qgssettingseditorwidgetwrapperimpl.h
  src/gui/settings/qgssettingsenumflageditorwidgetwrapper.h
Labels: Squash!

#58664 S3 auth: Fix malformed `Authorization` header
  src/auth/awss3/core/qgsauthawss3method.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58697 Fix for error when installing plugin from zip and path contains a single quote
  src/app/pluginmanager/qgspluginmanager.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58680 [ui] Fix addition of geometryless feature not working after first click on add record toolbar action
  python/PyQt6/gui/auto_generated/maptools/qgsmaptooldigitizefeature.sip.in
  python/gui/auto_generated/maptools/qgsmaptooldigitizefeature.sip.in
  src/gui/maptools/qgsmaptooldigitizefeature.cpp
  src/gui/maptools/qgsmaptooldigitizefeature.h
Labels: backport release-3_34, backport release-3_38

#58686 [map layer] When saving/loading 'Rendering' category to/from QML, including auto refresh details
  src/core/qgsmaplayer.cpp
Labels: backport release-3_34, backport release-3_38

#58692 [mvt] fix missing retrieveSprites with case expression
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Squash!

#58713 [themes] Fix bad styling of scrollbars in the plugin manager dialog
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_34, backport release-3_38

#58723 QGIS Server: WMS render context const allowed
  src/server/services/wms/qgswmsrendercontext.cpp
Labels: Server

#58354 [feature] Allow users to save expression functions in QGIS project file
  .gitignore
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/project/qgsproject.sip.in
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/PyQt6/gui/auto_generated/qgsexpressionbuilderwidget.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/qgis.sip.in
  python/gui/auto_generated/qgsexpressionbuilderwidget.sip.in
  python/user.py
  python/utils.py
  src/app/options/qgsoptions.cpp
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/core/expression/qgsexpressionfunction.cpp
  src/core/project/qgsproject.cpp
  src/core/project/qgsproject.h
  src/core/qgis.h
  src/gui/CMakeLists.txt
  src/gui/qgsattributeform.cpp
  src/gui/qgsexpressionaddfunctionfiledialog.cpp
  src/gui/qgsexpressionaddfunctionfiledialog.h
  src/gui/qgsexpressionbuilderwidget.cpp
  src/gui/qgsexpressionbuilderwidget.h
  src/gui/qgsgui.cpp
  src/gui/qgsgui.h
  src/ui/qgsexpressionaddfunctionfiledialogbase.ui
  src/ui/qgsoptionsbase.ui
  tests/src/app/CMakeLists.txt
  tests/src/app/testqgsprojectexpressions.cpp
  tests/src/python/test_qgseditformconfig.py
  tests/src/python/test_qgsexpressionbuilderwidget.py
  tests/testdata/projects/test_project_functions.qgz
  tests/testdata/test_qgis_config_path/profiles/default/python/expressions/__init__.py
  tests/testdata/test_qgis_config_path/profiles/default/python/expressions/test.py
  tests/testdata/test_qgis_config_path/profiles/default/python/expressions/test2.py
Labels: Feature, Expressions, Needs Documentation

#58733 [OGR provider] Issue syncToDisk() after [add/delete/rename]Attributes()
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: Bug, backport queued_ltr_backports, backport release-3_38

#58749 [layouts] Fix computation of atlas rectangle for rotated map items when no atlas geometry available
  src/core/layout/qgslayoutitemmap.cpp
Labels: backport queued_ltr_backports

#58748 [ui][rasters] Fix additional nodata value widget's handling of large double values
  src/gui/raster/qgsrastertransparencywidget.cpp
Labels: backport release-3_34

#58746 [clipboard] Do not add a geometry column when copying features from a non-geometry/table layer
  src/app/qgsclipboard.cpp
Labels: backport release-3_34

#58745 Fix handling of empty field name in QgsFields' lookupField function
  src/core/qgsfields.cpp
  tests/src/core/testqgsfields.cpp
Labels: backport release-3_34

#58684 qgsrenderchecker.cpp, checks for env.var. QGIS_TEST_REPORT
  src/core/qgsrenderchecker.cpp
Labels: Freeze Exempt

#58717 Fix 56715 add apply calculation button
  src/gui/vector/qgsfieldcalculator.cpp
  src/gui/vector/qgsfieldcalculator.h
  src/ui/qgsfieldcalculatorbase.ui
Labels: Freeze Exempt

#58547 Add an option to autosize all columns by default when opening an attribute table
  src/app/options/qgsoptions.cpp
  src/app/qgsattributetabledialog.cpp
  src/core/settings/qgssettingsregistrycore.cpp
  src/core/settings/qgssettingsregistrycore.h
  src/core/settings/qgssettingstree.h
  src/ui/qgsoptionsbase.ui
Labels: Freeze Exempt, Needs Documentation, Changelog

#58598 fix qgsrastercalculator widgets not expanding with window
  src/ui/qgsrastercalcdialogbase.ui
Labels: GUI/UX

#58747 Disable checkable state for the add feature button for geometryless layers, it makes it clearer the button can be repeatedly pressed
  src/app/qgisapp.cpp
Labels: backport release-3_34

#58769 [queue_ltr_backport] [OGR provider] Issue syncToDisk() after [add/delete/rename]Attributes()
  src/core/providers/ogr/qgsogrprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: Backport

#58768 Save as vector file: fix re-opening a GeoJSON Newline delimited file
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports

#58776 Fix exporting layer to GeoJSONSeq format using the correct extension
  src/core/qgsvectorfilewriter.cpp
Labels: backport queued_ltr_backports

#58649 [mvt] halo width must not be greater than 1/4 of text size
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  tests/src/python/test_qgsmapboxglconverter.py
Labels: Squash!

#58785 [pyqt5To6] Avoid endless recursion because of baseClass
  scripts/pyqt5_to_pyqt6/pyqt5_to_pyqt6.py
Labels: Bug

#58787 [forms] Fix default exp stored on rollback
  src/gui/vector/qgsattributesformproperties.cpp
Labels: Forms, Bug

#58794 Avoid layout scalebar resizing to huge widths in extreme situations
  src/core/scalebar/qgsscalebarrenderer.cpp
Labels: backport release-3_34

#58799 [TaskManager] Release "not started" semaphore on waitForFinished
  src/core/qgstaskmanager.cpp
  tests/src/core/testqgstaskmanager.cpp
Labels: Bug

#58826 Add precision to area output field in raster layer unique values report algorithm
  src/analysis/processing/qgsalgorithmrasterlayeruniquevalues.cpp
Labels: backport release-3_34

#58824 Adjust point cloud export dialog title
  src/ui/pointcloud/qgspointcloudlayersaveasdialogbase.ui
Labels: backport release-3_34

#58795 QgsDistanceArea methods should raise QgsCsException when errors occur
  python/PyQt6/core/auto_generated/qgsdistancearea.sip.in
  python/core/auto_generated/qgsdistancearea.sip.in
  src/analysis/network/qgsvectorlayerdirector.cpp
  src/analysis/processing/qgsalgorithmcalculateoverlaps.cpp
  src/analysis/processing/qgsalgorithmlinedensity.cpp
  src/analysis/processing/qgsalgorithmnearestneighbouranalysis.cpp
  src/analysis/processing/qgsalgorithmpointstopaths.cpp
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
  src/analysis/processing/qgsalgorithmserviceareafrompoint.cpp
  src/analysis/processing/qgsalgorithmshortestline.cpp
  src/analysis/processing/qgsalgorithmshortestpathlayertopoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtolayer.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtopoint.cpp
  src/analysis/processing/qgsalgorithmsumlinelength.cpp
  src/app/decorations/qgsdecorationscalebar.cpp
  src/app/gps/qgsgpsbearingitem.cpp
  src/app/gps/qgsgpscanvasbridge.cpp
  src/app/qgsmeasuredialog.cpp
  src/core/expression/qgsexpressioncontextutils.cpp
  src/core/expression/qgsexpressionfunction.cpp
  src/core/gps/qgsgpslogger.cpp
  src/core/layout/qgslayoutitemmapgrid.cpp
  src/core/layout/qgslayoutitemscalebar.cpp
  src/core/qgsdistancearea.cpp
  src/core/qgsdistancearea.h
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
  src/gui/maptools/qgsmaptoolidentify.cpp
Labels: Changelog

#58790 [server] WMS GetLegendGr.. cascading size
  python/PyQt6/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  python/core/auto_generated/layertree/qgslayertreemodellegendnode.sip.in
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.h
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Bug, Server

#58389 [Print Layout] Fix missing grid lines and labels in some circumstances when a grid offset is set (Fix #58386)
  src/core/layout/qgslayoutitemmapgrid.cpp
Labels: Bug, Print Layouts, backport queued_ltr_backports

#58819 [expressions] Relation aggregate: fix cache key
  src/core/expression/qgsexpressionfunction.cpp
Labels: Expressions, Bug, backport queued_ltr_backports

#58837 [GUI] Fix processing algorithms and models window's title when group name is empty
  python/plugins/processing/modeler/ModelerParametersDialog.py
  src/gui/processing/models/qgsmodeldesignerdialog.cpp
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
Labels: Processing, GUI/UX, Modeller, backport queued_ltr_backports

#58844 [digitizing] Advanced: fix distance input with non-meter CRSs
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  tests/src/gui/testqgsadvanceddigitizingdockwidget.cpp
Labels: Bug, Digitizing, backport queued_ltr_backports

#58852 [server][oapif] Fix link rel property
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/testdata/qgis_server/api/test_wfs3_collections_project.json
Labels: Bug, Server, backport queued_ltr_backports

#58010 Change default WKT output to honor a space between geometry type and Z, M or ZM
  src/core/geometry/qgsabstractgeometry.cpp
  tests/src/3d/testqgstessellator.cpp
  tests/src/analysis/testqgsprocessing.cpp
  tests/src/analysis/testqgsprocessingalgspt2.cpp
  tests/src/app/maptooladdfeaturepoint/testqgsmaptooladdfeaturepointm.cpp
  tests/src/app/maptooladdfeaturepoint/testqgsmaptooladdfeaturepointz.cpp
  tests/src/app/maptooladdfeaturepoint/testqgsmaptooladdfeaturepointzm.cpp
  tests/src/app/testqgsadvanceddigitizing.cpp
  tests/src/app/testqgsmaptoolcircularstring.cpp
  tests/src/app/testqgsmaptoolregularpolygon.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
  tests/src/app/testqgsmaptoolreverseline.cpp
  tests/src/app/testqgsmaptoolsplitfeatures.cpp
  tests/src/app/testqgsmaptooltrimextendfeature.cpp
  tests/src/app/testqgsvertextool.cpp
  tests/src/core/geometry/testqgscircularstring.cpp
  tests/src/core/geometry/testqgscompoundcurve.cpp
  tests/src/core/geometry/testqgscurvepolygon.cpp
  tests/src/core/geometry/testqgsgeometry.cpp
  tests/src/core/geometry/testqgsgeometrycollection.cpp
  tests/src/core/geometry/testqgslinestring.cpp
  tests/src/core/geometry/testqgsmulticurve.cpp
  tests/src/core/geometry/testqgsmultilinestring.cpp
  tests/src/core/geometry/testqgsmultipoint.cpp
  tests/src/core/geometry/testqgsmultipolygon.cpp
  tests/src/core/geometry/testqgsmultisurface.cpp
  tests/src/core/geometry/testqgspoint.cpp
  tests/src/core/geometry/testqgspolygon.cpp
  tests/src/core/geometry/testqgspolyhedralsurface.cpp
  tests/src/core/geometry/testqgsquadrilateral.cpp
  tests/src/core/geometry/testqgstriangle.cpp
  tests/src/core/testqgsarcgisrestutils.cpp
  tests/src/core/testqgsexpression.cpp
  tests/src/core/testqgsmaptopixelgeometrysimplifier.cpp
  tests/src/core/testqgsogrutils.cpp
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_oracle.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_shapefile.py
  tests/src/python/test_python_repr.py
  tests/src/python/test_qgsdelimitedtextprovider.py
  tests/src/python/test_qgsdistancearea.py
  tests/src/python/test_qgsexiftools.py
  tests/src/python/test_qgsgeometry.py
  tests/src/python/test_qgsgeometrycollection.py
  tests/src/python/test_qgsgpslogger.py
  tests/src/python/test_qgsjsonutils.py
  tests/src/python/test_qgslinestring.py
  tests/src/python/test_qgsmeshlayerprofilegenerator.py
  tests/src/python/test_qgsmultilinestring.py
  tests/src/python/test_qgsmultipoint.py
  tests/src/python/test_qgsmultipolygon.py
  tests/src/python/test_qgspointcloudlayerprofilegenerator.py
  tests/src/python/test_qgsprocessinginplace.py
  tests/src/python/test_qgsprofileexporter.py
  tests/src/python/test_qgsrasterlayerprofilegenerator.py
  tests/src/python/test_qgsvectorfilewriter.py
  tests/src/python/test_qgsvectorlayerprofilegenerator.py
Labels: Squash!

#58867 [SvgSelectorWidget] Correctly use QPixmapCache
  src/gui/symbology/qgssvgselectorwidget.cpp
  src/gui/symbology/qgssvgselectorwidget.h
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgssvgselectorwidget.cpp
Labels: Bug, backport queued_ltr_backports

#58895 Save Raster Layer as: do not propose PDF as possible format, which is not supported
  src/core/qgsgdalutils.cpp
Labels: backport queued_ltr_backports

#58876 Fix syntax highlighting after exception
  python/console/console_output.py
Labels: Bug

#58730 Add info about usable "expression dialect" to filter dialog
  src/gui/qgsquerybuilder.cpp
  src/ui/qgsquerybuilderbase.ui
Labels: Freeze Exempt, Changelog

#58905 Follow up a27fecf: use pre-existing key naming
  src/core/qgsmaplayer.cpp
Labels: backport release-3_34

#58915 [core] Fix restoring projects using stacked bar diagrams
  python/PyQt6/core/auto_generated/diagram/qgsdiagram.sip.in
  python/core/auto_generated/diagram/qgsdiagram.sip.in
  src/core/diagram/qgsdiagram.h
  src/core/diagram/qgsstackedbardiagram.cpp
  src/core/diagram/qgsstackeddiagram.cpp
Labels: Bug, Diagrams

#58914 [gui] Add icon for Stacked Diagrams
  images/images.qrc
  images/themes/default/stacked-diagram.svg
  src/gui/vector/qgsdiagramwidget.cpp
Labels: GUI/UX, Diagrams

#58798 [LayoutLegend] Correctly fix position while painting
  src/core/layout/qgslayoutitemlegend.cpp
  tests/src/python/test_qgslayoutlegend.py
  tests/testdata/control_images/composer_legend/expected_composer_legend_reference_point_newsize/expected_composer_legend_reference_point_newsize.png
Labels: Bug, Print Layouts, backport queued_ltr_backports
