Repository qgis/QGIS, pull requests merged in 2024-02, with the labels that each got.

#55778 [Backport release-3_34] Fix sparse postgres rasters from disappearing
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrastershareddata.cpp
  tests/src/python/test_provider_postgresraster.py
  tests/testdata/provider/postgresraster/raster_sparse_3035.sql
Labels: PostGIS data provider

#56175 [processing] Use safer provider://source syntax in more places
  python/PyQt6/core/auto_generated/processing/qgsprocessingutils.sip.in
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: backport release-3_34

#56090 PG: faster information retrieval for table info
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
Labels: Optimization, PostGIS data provider

#56188 Also disable ctrl-dropping in QgsLayerTreeView
  src/gui/layertree/qgslayertreeview.cpp
Labels: Bug, backport release-3_34

#56121 [dxf] Insure that the DXF export dialog's output attributes are saved/restored properly
  src/app/qgsdxfexportdialog.cpp
  src/app/qgsdxfexportdialog.h
Labels: DXF/DWG

#55848 Support for serial port sensor baudrate selection
  .docker/qgis3-qt5-build-deps.dockerfile
  python/CMakeLists.txt
  python/PyQt/CMakeLists.txt
  python/PyQt/PyQt/QtSerialPort.py.in
  python/PyQt6/core/auto_generated/sensor/qgsiodevicesensor.sip.in
  python/PyQt6/core/core.sip.in
  python/core/auto_generated/sensor/qgsiodevicesensor.sip.in
  python/core/core.sip.in
  src/core/sensor/qgsiodevicesensor.cpp
  src/core/sensor/qgsiodevicesensor.h
  src/gui/sensor/qgssensorwidget.cpp
  src/ui/sensor/qgssensortablewidgetbase.ui
  src/ui/sensor/widget_serialportsensor.ui
Labels: Feature, Documentation

#56131 Do not deadlock when calling when calling GetLayerVisibility
  src/core/qgspointlocator.cpp
  src/core/qgssnappingutils.cpp
  tests/src/app/maptooladdfeatureline/testqgsmaptooladdfeaturelinez.cpp
Labels: Expressions, Bug, backport release-3_34

#55588 MSSQL: fix add/fill ring
  python/PyQt6/core/auto_generated/geometry/qgspolygon.sip.in
  python/core/auto_generated/geometry/qgspolygon.sip.in
  src/app/qgsmaptoolfillring.cpp
  src/core/geometry/qgspolygon.cpp
  src/core/geometry/qgspolygon.h
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/mssql/qgsmssqlprovider.h
  tests/src/core/geometry/testqgspolygon.cpp
Labels: Bug, MS SQL data provider

#56163 [attribute form] Insure that a field features multiple times in a feature form has its constraint properly reflected
  python/PyQt6/gui/auto_generated/editorwidgets/core/qgseditorwidgetwrapper.sip.in
  python/gui/auto_generated/editorwidgets/core/qgseditorwidgetwrapper.sip.in
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.cpp
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.h
  src/gui/qgsattributeform.cpp
  tests/src/gui/testqgsattributeform.cpp
Labels: backport release-3_34

#55320 Add 3D extent to providers (2nd stage)
  src/core/pointcloud/qgspointcloudlayer.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/providers/ogr/qgsogrprovider.h
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/providers/ogr/qgsogrproviderutils.h
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/providers/delimitedtext/qgsdelimitedtextfeatureiterator.cpp
  src/providers/delimitedtext/qgsdelimitedtextfeatureiterator.h
  src/providers/delimitedtext/qgsdelimitedtextprovider.cpp
  src/providers/delimitedtext/qgsdelimitedtextprovider.h
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/spatialite/qgsspatialiteprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.h
  tests/src/core/testqgsogrprovider.cpp
  tests/src/core/testqgsvectordataprovider.cpp
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/src/python/test_provider_ogr_sqlite.py
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_provider_spatialite.py
  tests/src/python/test_qgsdelimitedtextprovider.py
  tests/testdata/3d/points_with_z.gpkg
Labels: Freeze Exempt, Data Provider, 3D, PostGIS data provider, Delimited text data provider, Spatialite data provider

#56210 [OGR provider] searchLayerMetadata: avoid crash on coordinate transformation exceptions (fixes #56203)
  src/core/providers/ogr/qgsgeopackageproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_ogr_gpkg.py
  tests/testdata/provider/bug_56203.gpkg
Labels: backport release-3_34

#56205 Enable geometry restore for measure bearing/angle dialogs
  src/app/qgsdisplayangle.cpp
  src/app/qgsmaptoolmeasureangle.cpp
  src/app/qgsmaptoolmeasurebearing.cpp
Labels: Bug, backport release-3_34

#56202 Fix crash on measure angle/bearing tools
  src/app/qgsmaptoolmeasureangle.cpp
  src/app/qgsmaptoolmeasurebearing.cpp
Labels: Bug, backport release-3_34

#56130 QgsGeometryValidator: Fix validation of LineString
  src/core/qgsgeometryvalidator.cpp
  tests/src/python/test_qgsgeometryvalidator.py
Labels: Bug

#56220 [processing] Use safer provider://source syntax in more places (3.34 backport)
  python/core/auto_generated/processing/qgsprocessingutils.sip.in
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingutils.cpp
  src/core/processing/qgsprocessingutils.h
  tests/src/analysis/testqgsprocessing.cpp
Labels: Backport

#56212 Catch potential QgsCsException at various places; improve qgscoordinatetransform.h doc
  python/PyQt6/core/auto_generated/proj/qgscoordinatetransform.sip.in
  python/core/auto_generated/proj/qgscoordinatetransform.sip.in
  src/core/dxf/qgsdxfexport.cpp
  src/core/proj/qgscoordinatetransform.h
  src/core/qgsrendercontext.cpp
  src/providers/wfs/qgswfscapabilities.cpp
  src/providers/wms/qgswmsprovider.cpp
  src/providers/wms/qgswmsprovider.h
Labels: backport release-3_34

#56237 Fix ellipse symbol size units not stored
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/ui/layout/qgslayoutlegendwidgetbase.ui
Labels: GUI/UX, Symbology, Bug, backport release-3_34

#56243 qgspostgresprovider: Fix primary key retrieval with lowercase option
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: backport release-3_34

#56247 [processing] Fix "Truncate table" (native:truncatetable) algorithm (Fix #56239)
  src/analysis/processing/qgsalgorithmtruncatetable.cpp
Labels: backport release-3_34

#56254 [backport release-3_34][attribute form] Insure that a field features multiple times in a feature form has its constraint properly reflected
  python/gui/auto_generated/editorwidgets/core/qgseditorwidgetwrapper.sip.in
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.cpp
  src/gui/editorwidgets/core/qgseditorwidgetwrapper.h
  src/gui/qgsattributeform.cpp
  tests/src/gui/testqgsattributeform.cpp
Labels: Backport

#56265 Avoid doing invalid range requests if a node has no points
  src/3d/symbols/qgspointcloud3dsymbol_p.cpp
  src/core/pointcloud/qgscopcpointcloudblockrequest.cpp
  src/core/pointcloud/qgspointcloudlayerprofilegenerator.cpp
  src/core/pointcloud/qgspointcloudstatscalculator.cpp
  src/core/pointcloud/qgsremotecopcpointcloudindex.cpp
Labels: Bug, Point Clouds, backport release-3_34

#56264 QgsField fix equality with editorWidgetSetup
  python/PyQt6/core/auto_generated/qgseditorwidgetsetup.sip.in
  python/core/auto_generated/qgseditorwidgetsetup.sip.in
  src/core/qgseditorwidgetsetup.h
  src/core/qgsfield_p.h
  tests/src/core/testqgsfield.cpp
Labels: API, Bug, backport release-3_34

#56257 [backport] SERVER: fix getlegendgraphic with colorramp & JSON
  python/core/auto_generated/layertree/qgscolorramplegendnode.sip.in
  src/core/layertree/qgscolorramplegendnode.cpp
  src/core/layertree/qgscolorramplegendnode.h
  tests/src/python/test_qgsserver_wms_getlegendgraphic.py
Labels: Backport, Bug

#56259 [backport] qgspostgresprovider: Fix primary key retrieval with lowercase option
  src/providers/postgres/qgspostgresprovider.cpp
  tests/src/python/test_provider_postgres.py
Labels: PostGIS data provider

#54399 Add count to QgsAlgorithmRasterStatistics
  src/analysis/processing/qgsalgorithmrasterstatistics.cpp
Labels: Freeze Exempt

#56274 qgsline3dsymbol: Remove unused class QgsSimpleLine3DSymbolHandler
  src/3d/symbols/qgsline3dsymbol_p.cpp
Labels: 3D

#56230 [processing] Don't show hidden parameters in processing.algorithmHelp() output
  python/plugins/processing/tools/general.py
Labels: backport release-3_34

#56292 [processing] Don't try to interpret distance widget value as CRS
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
Labels: backport release-3_34

#56296 [wms] Insure that mbtiles layers are invalidated when dataset is missing
  src/core/qgsmbtiles.cpp
Labels: backport release-3_34

#56290 [themes] Fix missing checkbox partially checked state styling
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: GUI/UX, backport release-3_34

#56303 [3dtiles] Skip completely transparent primitives
  src/3d/qgsgltf3dutils.cpp
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
Labels: backport release-3_34

#56308 Don't lose ellipse marker units when cloning
  src/core/symbology/qgsellipsesymbollayer.cpp
Labels: backport release-3_34

#56287 [attribute form] Implement an optional null state representation to the checkbox editor widget to allow for UI reflection of failing constraint
  src/gui/editorwidgets/qgscheckboxconfigdlg.cpp
  src/gui/editorwidgets/qgscheckboxwidgetwrapper.cpp
  src/gui/editorwidgets/qgscheckboxwidgetwrapper.h
  src/ui/editorwidgets/qgscheckboxconfigdlgbase.ui
Labels: backport release-3_34

#56319 Try mingw on fedora 39, not rawhide
  .github/workflows/mingw64.yml
Labels: backport release-3_34

#56320 Try to avoid crash when starting qt3d views
  src/core/pointcloud/qgspointcloudstatscalculator.cpp
Labels: backport release-3_34

#56325 Don't use (broken) QgsCoordinateReferenceSystem::createFromSrsId method for virtual point clouds
  src/core/providers/vpc/qgsvirtualpointcloudprovider.cpp
Labels: backport release-3_34

#56315 Fix exp parser with multiline comments
  src/core/qgsexpressionlexer.ll
  tests/src/core/testqgsexpression.cpp
Labels: Expressions, Bug, backport release-3_34

#56323 [3dtiles] Skip completely transparent primitives (3.34 backport)
  src/3d/qgsgltf3dutils.cpp
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
Labels: Backport

#56363 PG Raster: fix nodata values with sparse data
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  tests/src/python/test_provider_postgresraster.py
Labels: Bug, PostGIS data provider, backport release-3_34

#56385 [backport] PG: faster information retrieval for table info
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresproviderconnection.h
Labels: Backport, PostGIS data provider

#56384 Give QgsScrollArea the same name as its child widget.
  src/gui/qgsoptionsdialogbase.cpp
Labels: Bug

#56380 PG: fix vacuum from browser
  src/providers/postgres/qgspostgresproviderconnection.cpp
Labels: Bug, PostGIS data provider, backport release-3_34

#56227 [processing] Fix GDAL "Fill NoData" algorithm (Fixes #56014)
  python/plugins/processing/algs/gdal/fillnodata.py
  python/plugins/processing/tests/GdalAlgorithmsRasterTest.py
Labels: Processing, Bug, Needs Documentation, backport release-3_34

#56395 [processing] Fix "Generate XYZ tiles" algs: set antialiasing when requested and use the QUALITY parameter only for JPG (Fixes #56382)
  src/analysis/processing/qgsalgorithmxyztiles.cpp
Labels: Processing, Bug, backport release-3_34

#56391 Update point cloud 3D renderer when toggling classes in layer tree
  src/core/layertree/qgslayertreemodellegendnode.cpp
Labels: Bug, Point Clouds, backport release-3_34

#55929 ArcGIS URL's with web proxy prefix support V2
  python/PyQt6/core/auto_generated/providers/arcgis/qgsarcgisportalutils.sip.in
  python/core/auto_generated/providers/arcgis/qgsarcgisportalutils.sip.in
  src/core/providers/arcgis/qgsarcgisportalutils.cpp
  src/core/providers/arcgis/qgsarcgisportalutils.h
  src/core/providers/arcgis/qgsarcgisrestquery.cpp
  src/core/providers/arcgis/qgsarcgisrestquery.h
  src/core/qgsowsconnection.cpp
  src/core/qgsowsconnection.h
  src/providers/arcgisrest/qgsafsprovider.cpp
  src/providers/arcgisrest/qgsafsshareddata.cpp
  src/providers/arcgisrest/qgsamsprovider.cpp
  src/providers/arcgisrest/qgsamsprovider.h
  src/providers/arcgisrest/qgsarcgisrestdataitems.cpp
  src/providers/arcgisrest/qgsarcgisrestdataitems.h
  src/providers/arcgisrest/qgsnewarcgisrestconnection.cpp
  src/ui/qgsnewarcgisrestconnectionbase.ui
Labels: Squash!

#56366 SHP: Fix unreported issue with spatialindex
  src/core/providers/ogr/qgsogrprovider.cpp
Labels: Bug, backport release-3_34

#56404 Fix sublayers not added to legend after drag and drop
  src/app/layers/qgsapplayerhandling.cpp
  src/app/layers/qgsapplayerhandling.h
  src/app/qgisapp.cpp
Labels: Bug, backport release-3_34

#56358 Fix handling of font family from HTML on Qt 6 builds
  .ci/test_blocklist_qt6.txt
  src/core/textrenderer/qgstextcharacterformat.cpp
  tests/src/python/test_qgstextdocument.py
Labels: backport release-3_34

#56409 Fix a crash in point cloud renderer when cleaning up preview painter
  src/core/pointcloud/qgspointcloudlayerrenderer.cpp
Labels: Bug, Point Clouds

#56412 Fix crash when applying vector properties dialog
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
Labels: Regression, Crash/Data Corruption

#55847 [WFS provider] Handle documents with Complex Feature schemas (using OGR GMLAS driver), and JSON'ify content of complex properties
  python/PyQt6/core/auto_generated/qgsgml.sip.in
  python/PyQt6/core/auto_generated/qgsogcutils.sip.in
  python/PyQt6/gui/auto_generated/qgsnewhttpconnection.sip.in
  python/core/auto_generated/qgsgml.sip.in
  python/core/auto_generated/qgsogcutils.sip.in
  python/gui/auto_generated/qgsnewhttpconnection.sip.in
  src/app/options/qgsoptions.cpp
  src/core/qgscplhttpfetchoverrider.cpp
  src/core/qgscplhttpfetchoverrider.h
  src/core/qgsgml.cpp
  src/core/qgsgml.h
  src/core/qgsogcutils.cpp
  src/core/qgsogcutils.h
  src/core/qgsowsconnection.cpp
  src/core/qgsowsconnection.h
  src/core/vector/qgsvectorlayerutils.cpp
  src/gui/attributetable/qgsattributetablemodel.cpp
  src/gui/editorwidgets/qgsjsoneditwidget.cpp
  src/gui/editorwidgets/qgsjsoneditwidget.h
  src/gui/qgsmanageconnectionsdialog.cpp
  src/gui/qgsnewhttpconnection.cpp
  src/gui/qgsnewhttpconnection.h
  src/providers/wfs/CMakeLists.txt
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/qgswfsconnection.cpp
  src/providers/wfs/qgswfsdatasourceuri.cpp
  src/providers/wfs/qgswfsdatasourceuri.h
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsnewconnection.cpp
  src/providers/wfs/qgswfsprovider.cpp
  src/providers/wfs/qgswfsprovider.h
  src/providers/wfs/qgswfsprovidermetadata.cpp
  src/providers/wfs/qgswfsshareddata.cpp
  src/providers/wfs/qgswfsshareddata.h
  src/ui/qgsnewhttpconnectionbase.ui
  tests/src/core/testqgsgml.cpp
  tests/src/core/testqgsogcutils.cpp
  tests/src/python/test_provider_wfs.py
  tests/src/python/test_provider_wfs_gui.py
  tests/src/python/test_qgsvectorlayerutils.py
  tests/testdata/provider/wfs/inspire_complexfeatures/describefeaturetype.xml
  tests/testdata/provider/wfs/inspire_complexfeatures/getcapabilities.xml
  tests/testdata/provider/wfs/inspire_complexfeatures/getfeature.xml
  tests/testdata/provider/wfs/inspire_complexfeatures/getfeature_hits.xml
Labels: Feature

#55924 Restore default metadata from DB
  python/PyQt6/core/auto_additions/qgsprovidermetadata.py
  python/PyQt6/core/auto_generated/providers/qgsprovidermetadata.sip.in
  python/PyQt6/core/auto_generated/providers/qgsproviderregistry.sip.in
  python/core/auto_generated/providers/qgsprovidermetadata.sip.in
  python/core/auto_generated/providers/qgsproviderregistry.sip.in
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/providers/ogr/qgsogrprovidermetadata.h
  src/core/providers/qgsprovidermetadata.cpp
  src/core/providers/qgsprovidermetadata.h
  src/core/providers/qgsproviderregistry.cpp
  src/core/providers/qgsproviderregistry.h
  src/core/qgsmaplayer.cpp
  src/gui/qgslayerpropertiesdialog.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  src/providers/postgres/qgspostgresprovidermetadatautils.cpp
  src/providers/postgres/qgspostgresprovidermetadatautils.h
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.h
  tests/src/python/qgslayermetadataprovidertestbase.py
  tests/src/python/test_provider_postgres_latency.py
Labels: Bug

#56423 [ui] When an attribute table is docked to the main window, disable the DEL keyboard shorcut (fixes #56262)
  src/app/qgsattributetabledialog.cpp
  src/app/qgsattributetabledialog.h
Labels: Attribute Table, GUI/UX, backport release-3_34

#56421 [ui] Insure that all style categories have tooltips
  src/gui/qgsmaplayerstylecategoriesmodel.cpp
Labels: GUI/UX, backport release-3_34

#56413 Add setters for QgsWeakRelation layer sources
  python/PyQt6/core/auto_generated/qgsweakrelation.sip.in
  python/core/auto_generated/qgsweakrelation.sip.in
  src/core/qgsweakrelation.cpp
  src/core/qgsweakrelation.h
  tests/src/core/testqgsweakrelation.cpp
Labels: API, backport release-3_34

#56432 Fix a deadlock with local COPC files in 2D rendering
  src/core/pointcloud/qgscopcpointcloudindex.cpp
  src/core/pointcloud/qgscopcpointcloudindex.h
  src/core/pointcloud/qgsremotecopcpointcloudindex.cpp
  src/core/pointcloud/qgsremotecopcpointcloudindex.h
Labels: Bug, Point Clouds, backport release-3_34

#56436 Fix handling of font family from HTML on Qt 6 builds (backport)
  src/core/textrenderer/qgstextcharacterformat.cpp
Labels: Backport

#56433 Don't force calculate layer extents when saving layers
  src/core/qgsmaplayer.cpp
Labels: Regression, backport release-3_34

#56464 PG: Quote string in PG conn
  src/providers/postgres/qgspostgresconn.cpp
Labels: Backport, PostGIS data provider

#56455 [ui] Fix QGIS new version message bar compatibility with dark themes
  src/app/qgswelcomepage.cpp
Labels: GUI/UX, backport release-3_34

#56447 [annotations] Do not process empty geometries when adding line/polygon annotations
  src/gui/annotations/qgscreateannotationitemmaptool_impl.cpp
Labels: Annotations, backport release-3_34

#56445 Don't write null wgs84 extents to XML
  src/core/qgsmaplayer.cpp
Labels: backport release-3_34

#56444 Don't force calculate layer extents when saving layers (backport)
  src/core/qgsmaplayer.cpp
Labels: Backport

#56467 use qint64 instead of qint32 for point cloud node data bounds
  src/core/pointcloud/qgspointcloudindex.cpp
  src/core/pointcloud/qgspointcloudindex.h
Labels: Bug, Point Clouds, backport release-3_34

#56441 [ui][wms] Fix WMS source select interpretation combobox not setting proper index on empty interpretation string
  src/providers/wms/qgswmssourceselect.cpp
Labels: GUI/UX, backport release-3_34

#56471 Don't write null wgs84 extents to XML
  src/core/qgsmaplayer.cpp
Labels: Backport

#56448 [ui][db manager] Insure the information views are friendly to dark themes
  python/plugins/db_manager/info_viewer.py
Labels: GUI/UX, DB Manager, backport release-3_34

#56443 Fix running plugins are not restarted after upgrading
  python/pyplugin_installer/installer.py
Labels: Regression, backport release-3_34

#56418 [wms] Fix local raster XYZ tiles directory layer loading (fixes #56371)
  src/providers/wms/qgswmsprovider.cpp
  tests/src/providers/testqgswmsprovider.cpp
Labels: WMS data provider, backport release-3_34

#56462 [wms] Fix handling of mbtiles in paths containing non-latin characters
  src/core/qgsdatasourceuri.cpp
  tests/src/core/testqgsdatasourceuri.cpp
Labels: WMS data provider, backport release-3_34

#56482 fix error unloading plugin when loaded with QGIS_NO_OVERRIDE_IMPORT
  python/utils.py
Labels: backport release-3_34

#56434 Don't force full calculation of layer extent when cloning layers
  src/core/qgsmaplayer.cpp
  src/core/vector/qgsvectorlayer.cpp
Labels: Regression, backport release-3_34

#56490 Regenerate primary keys for Split Lines by Length outputs
  src/analysis/processing/qgsalgorithmsplitlinesbylength.cpp
  src/analysis/processing/qgsalgorithmsplitlinesbylength.h
Labels: backport release-3_34

#56334 [labeling] fix BR in HTML labels
  python/PyQt6/core/auto_generated/textrenderer/qgstextcharacterformat.sip.in
  python/core/auto_generated/textrenderer/qgstextcharacterformat.sip.in
  src/core/textrenderer/qgstextcharacterformat.cpp
  src/core/textrenderer/qgstextcharacterformat.h
  src/core/textrenderer/qgstextdocument.cpp
  tests/src/python/test_qgstextdocument.py
Labels: Labeling, Bug, NOT FOR BACKPORT!

#56483 Server: onProjectReady method for filter plugin
  python/PyQt6/server/auto_generated/qgsserverfilter.sip.in
  python/server/auto_generated/qgsserverfilter.sip.in
  src/server/qgsfilterresponsedecorator.cpp
  src/server/qgsfilterresponsedecorator.h
  src/server/qgsserver.cpp
  src/server/qgsserverfilter.cpp
  src/server/qgsserverfilter.h
  tests/src/python/test_qgsserver_plugins.py
Labels: Feature, Plugins, Server, Needs Documentation

#55810 QgsMapToolCapture: use smart pointer to avoid a memory leak in cadCanvasReleaseEvent
  src/gui/qgsmaptoolcapture.cpp
Labels: API, Bug

#56492 Fix saving " and \ to ArcGIS REST sources
  src/core/providers/arcgis/qgsarcgisrestutils.cpp
  tests/src/python/test_qgsarcgisrestutils.py
Labels: backport queued_ltr_backports, backport release-3_36

#56509 [network] Enable strict transport security to fix http->https WMS (et al) data sources
  src/core/network/qgsnetworkaccessmanager.cpp
Labels: Networking, WMS data provider, backport queued_ltr_backports, backport release-3_36

#56494 Regenerate primary keys for Split Lines by Length outputs (Backport)
  src/analysis/processing/qgsalgorithmsplitlinesbylength.cpp
  src/analysis/processing/qgsalgorithmsplitlinesbylength.h
Labels: Backport

#56498 Fix bookmarks manager model signals emitted twice
  src/core/qgsbookmarkmodel.cpp
Labels: Bug, backport queued_ltr_backports, backport release-3_36

#54564 pointcloud: Allow to load csv and txt files as point clouds
  src/core/processing/qgsprocessingutils.cpp
  src/gui/providers/qgspointcloudsourceselect.cpp
  src/providers/pdal/qgspdalprovider.cpp
Labels: Feature, Point Clouds

#56273 [3D] 3dscene: misc rotation center cleanups
  src/3d/qgs3dmapscene.cpp
Labels: 3D

#56527 [network logger] Insure the actual request URL is properly reflected in the logger
  python/PyQt6/core/auto_generated/network/qgsnetworkaccessmanager.sip.in
  python/core/auto_generated/network/qgsnetworkaccessmanager.sip.in
  src/app/devtools/networklogger/qgsnetworklogger.cpp
  src/app/devtools/networklogger/qgsnetworklogger.h
  src/app/devtools/networklogger/qgsnetworkloggernode.cpp
  src/app/devtools/networklogger/qgsnetworkloggernode.h
  src/core/network/qgsnetworkaccessmanager.cpp
  src/core/network/qgsnetworkaccessmanager.h
Labels: backport release-3_34, backport release-3_36

#56206 [Server, UI] Group Project properties WMS options, for readability
  src/ui/qgsprojectpropertiesbase.ui
Labels: GUI/UX, Server

#56438 Add layer tree filter for "Show Broken Layers Only"
  python/PyQt6/gui/auto_generated/layertree/qgslayertreeview.sip.in
  python/gui/auto_generated/layertree/qgslayertreeview.sip.in
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/gui/layertree/qgslayertreeview.cpp
  src/gui/layertree/qgslayertreeview.h
  tests/src/python/test_qgslayertreeview.py
Labels: Feature, Needs Documentation, Changelog

#56540 [Server] [WFS3] Properly validate limit parameter to avoid a potential bypass
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
Labels: Bug, backport release-3_34, backport release-3_36

#56550 [Qt6] Fix crash with Python on QgsLocatorResult::userData (fixes #56456)
  python/PyQt6/core/__init__.py.in
  python/PyQt6/core/auto_generated/locator/qgslocatorfilter.sip.in
  python/core/__init__.py.in
  python/core/auto_generated/locator/qgslocatorfilter.sip.in
  src/app/locator/qgsactionlocatorfilter.cpp
  src/app/locator/qgsactivelayerfeatureslocatorfilter.cpp
  src/app/locator/qgsalllayersfeatureslocatorfilter.cpp
  src/app/locator/qgsbookmarklocatorfilter.cpp
  src/app/locator/qgsexpressioncalculatorlocatorfilter.cpp
  src/app/locator/qgsgotolocatorfilter.cpp
  src/app/locator/qgslayermetadatalocatorfilter.cpp
  src/app/locator/qgslayertreelocatorfilter.cpp
  src/app/locator/qgslayoutlocatorfilter.cpp
  src/app/locator/qgssettingslocatorfilter.cpp
  src/core/geocoding/qgsabstractgeocoderlocatorfilter.cpp
  src/core/locator/qgslocatorfilter.cpp
  src/core/locator/qgslocatorfilter.h
  src/gui/locator/qgslocatorwidget.cpp
  tests/src/app/testqgsapplocatorfilters.cpp
Labels: backport release-3_36

#56548 Never render SensorThings layers in canvas preview jobs
  src/core/providers/sensorthings/qgssensorthingsprovider.cpp
  src/core/providers/sensorthings/qgssensorthingsprovider.h
Labels: backport release-3_36, SensorThings

#56545 Use pixel based scrolling instead of row based scrolling for identify results
  src/app/qgsidentifyresultsdialog.cpp
Labels: GUI/UX, backport queued_ltr_backports, backport release-3_36

#56542 Fix setting vector filter through layer properties dialog
  src/gui/vector/qgsvectorlayerproperties.cpp
  tests/src/app/testqgslayerpropertiesdialogs.cpp
Labels: Regression, backport release-3_36

#56566 Use better python repr for null QgsRectangle
  python/PyQt6/core/auto_generated/geometry/qgsrectangle.sip.in
  python/core/auto_generated/geometry/qgsrectangle.sip.in
  src/core/geometry/qgsrectangle.h
  tests/src/python/test_python_repr.py
Labels: backport queued_ltr_backports, backport release-3_36

#55062 [Postgres] Remove listener wait condition
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgreslistener.cpp
  src/providers/postgres/qgspostgreslistener.h
Labels: Bug, PostGIS data provider, backport queued_ltr_backports

#56579 Allow non-explicit supportsQt6 plugins to be installed if (developper-intended) QGIS_DISABLE_SUPPORTS_QT6_CHECK env var is set
  python/pyplugin_installer/installer_data.py
  src/app/qgspluginregistry.cpp
Labels: backport release-3_36

#56578 Consistently return invalid QVariant for QgsVectorDataProvider::defaultValue
  src/core/providers/ogr/qgsogrprovider.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_spatialite.py
Labels: backport queued_ltr_backports, backport release-3_36

#56574 [Qt6] [Tests] Fix PyQgsJsonUtils and PyQgsOGRProvider
  .ci/test_blocklist_qt6.txt
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_qgsjsonutils.py
Labels: backport release-3_36

#56597 Use QgsStackedWidget to avoid unwanted empty space at bottom of raster elevation property symbology group
  src/app/raster/qgsrasterelevationpropertieswidget.cpp
  src/ui/raster/qgsrasterelevationpropertieswidgetbase.ui
Labels: GUI/UX

#56586 correctly migrate old settings
  src/core/settings/qgssettingsentry.cpp
  src/core/settings/qgssettingsregistrycore.cpp
Labels: backport release-3_34, backport release-3_36
