Repository qgis/QGIS, pull requests merged in 2024-08, with the labels that each got.

#58287 [annotations] Add linked layer option for annotation layers
  python/PyQt6/core/auto_generated/annotations/qgsannotationlayer.sip.in
  python/core/auto_generated/annotations/qgsannotationlayer.sip.in
  src/app/annotations/qgsannotationlayerproperties.cpp
  src/core/annotations/qgsannotationlayer.cpp
  src/core/annotations/qgsannotationlayer.h
  src/core/annotations/qgsannotationlayerrenderer.cpp
  src/core/project/qgsproject.cpp
  src/gui/qgsmapcanvas.cpp
  src/ui/annotations/qgsannotationlayerpropertiesbase.ui
  tests/src/python/test_qgsannotationlayer.py
  tests/testdata/control_images/annotation_layer/expected_layer_render_not_visible/expected_layer_render_not_visible.png
Labels: Needs Documentation, Changelog

#58298 [metasearch] Fix load connections
  python/plugins/MetaSearch/dialogs/manageconnectionsdialog.py
Labels: backport release-3_34, backport release-3_38

#58318 Rename 'None' enum members in public API
  python/PyQt6/core/auto_additions/qgsmeshdataset.py
  python/PyQt6/core/auto_additions/qgsproviderregistry.py
  python/PyQt6/core/auto_generated/mesh/qgsmeshdataset.sip.in
  python/PyQt6/core/auto_generated/providers/qgsproviderregistry.sip.in
  python/PyQt6/gui/auto_generated/providers/qgsabstractdbsourceselect.sip.in
  python/PyQt6/gui/auto_generated/qgsabstractdatasourcewidget.sip.in
  python/PyQt6/gui/auto_generated/qgslayermetadatasearchwidget.sip.in
  python/PyQt6/gui/auto_generated/qgsowssourceselect.sip.in
  python/core/auto_generated/mesh/qgsmeshdataset.sip.in
  python/core/auto_generated/providers/qgsproviderregistry.sip.in
  python/gui/auto_generated/providers/qgsabstractdbsourceselect.sip.in
  python/gui/auto_generated/qgsabstractdatasourcewidget.sip.in
  python/gui/auto_generated/qgslayermetadatasearchwidget.sip.in
  python/gui/auto_generated/qgsowssourceselect.sip.in
  src/core/mesh/qgsmeshdataset.h
  src/core/providers/qgsproviderregistry.h
  src/gui/mesh/qgsmeshdatasetgrouptreeview.cpp
  src/gui/providers/gdal/qgsgdalsourceselect.h
  src/gui/providers/ogr/qgsogrdbsourceselect.cpp
  src/gui/providers/ogr/qgsogrdbsourceselect.h
  src/gui/providers/ogr/qgsogrsourceselect.cpp
  src/gui/providers/ogr/qgsogrsourceselect.h
  src/gui/providers/qgsabstractdbsourceselect.h
  src/gui/providers/qgspointcloudsourceselect.h
  src/gui/providers/sensorthings/qgssensorthingssourceselect.h
  src/gui/qgsabstractdatasourcewidget.h
  src/gui/qgslayermetadatasearchwidget.h
  src/gui/qgsowssourceselect.h
  src/gui/tiledscene/qgstiledscenesourceselect.h
  src/gui/vectortile/qgsvectortilesourceselect.h
  src/providers/arcgisrest/qgsarcgisrestsourceselect.h
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.cpp
  src/providers/delimitedtext/qgsdelimitedtextsourceselect.h
  src/providers/gpx/qgsgpxsourceselect.h
  src/providers/hana/qgshanasourceselect.cpp
  src/providers/hana/qgshanasourceselect.h
  src/providers/mdal/qgsmdalsourceselect.h
  src/providers/mssql/qgsmssqlsourceselect.cpp
  src/providers/mssql/qgsmssqlsourceselect.h
  src/providers/oracle/qgsoraclesourceselect.cpp
  src/providers/oracle/qgsoraclesourceselect.h
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/postgres/qgspgsourceselect.h
  src/providers/spatialite/qgsspatialitesourceselect.cpp
  src/providers/spatialite/qgsspatialitesourceselect.h
  src/providers/virtual/qgsvirtuallayersourceselect.cpp
  src/providers/virtual/qgsvirtuallayersourceselect.h
  src/providers/wcs/qgswcssourceselect.h
  src/providers/wfs/qgswfssourceselect.cpp
  src/providers/wfs/qgswfssourceselect.h
  src/providers/wms/qgswmssourceselect.h
  src/providers/wms/qgsxyzsourceselect.h
Labels: Cleanup

#58317 Fix possible-dangling reference warning
  src/providers/oracle/ocispatial/qsql_ocispatial.cpp
Labels: backport release-3_34, backport release-3_38

#58307 [processing][grass] Fix r.colors (color or rules or raster parameter) (Fix #58301)
  python/plugins/grassprovider/ext/r_colors.py
Labels: GRASS, Processing, Bug, backport queued_ltr_backports, backport release-3_38

#58325 Invert lat(y) lon(x)
  src/app/gps/qgsgpsinformationwidget.cpp
Labels: backport release-3_34, backport release-3_38

#58257 [server][oapif] Remove forbidden operations from schema
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/src/python/test_qgsserver_api.py
Labels: Bug, Server, backport queued_ltr_backports, backport release-3_38

#58359 [processing] Fix model input combo box content for {file,folder} destination parameters
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
Labels: Processing, Modeller, backport release-3_34, backport release-3_38

#58373 [ColorWidget] Deal with invalid QColor
  src/gui/qgscompoundcolorwidget.cpp
  tests/src/gui/testqgscompoundcolorwidget.cpp
Labels: Bug, backport release-3_38

#58370 Fix utf8 converion in QgsVectorFileWriter
  src/core/qgsvectorfilewriter.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58394 OAuth2 configuration: trim leading/trailing blanks from most parameters set from UI to avoid weird issues
  src/auth/oauth2/core/qgsauthoauth2config.cpp
Labels: backport queued_ltr_backports, backport release-3_38

#58399 Avoid leaking more helper functions into qgis.core
  python/PyQt6/core/__init__.py.in
  python/core/__init__.py.in
Labels: Cleanup

#58233 [mvt] implement step expressions + improve conversion of sprites
  python/PyQt6/core/auto_generated/vectortile/qgsmapboxglstyleconverter.sip.in
  python/core/auto_generated/vectortile/qgsmapboxglstyleconverter.sip.in
  src/core/vectortile/qgsmapboxglstyleconverter.cpp
  src/core/vectortile/qgsmapboxglstyleconverter.h
  tests/src/python/test_qgsmapboxglconverter.py
  tests/testdata/vector_tile/sprites/swisstopo-sprite@2x.json
  tests/testdata/vector_tile/sprites/swisstopo-sprite@2x.png
Labels: Vector tiles, backport release-3_38

#58406 [gui][code editor] Fix lack of styling for python lexer's unclosed strings and f-strings causing issues with dark themes
  src/gui/codeeditors/qgscodeeditorpython.cpp
Labels: backport release-3_34, backport release-3_38

#58410 Multiple processing script editor dialog papercut fixes
  python/PyQt6/gui/auto_generated/codeeditors/qgscodeeditorwidget.sip.in
  python/console/console_editor.py
  python/gui/auto_generated/codeeditors/qgscodeeditorwidget.sip.in
  python/plugins/processing/script/ScriptEditorDialog.py
  src/gui/codeeditors/qgscodeeditorwidget.cpp
  src/gui/codeeditors/qgscodeeditorwidget.h
Labels: backport release-3_38

#58134 [3D] Use QGIS material for the terrain
  python/3d/auto_generated/materials/qgsphongmaterialsettings.sip.in
  python/3d/auto_generated/materials/qgsphongtexturedmaterialsettings.sip.in
  python/PyQt6/3d/auto_generated/materials/qgsphongmaterialsettings.sip.in
  python/PyQt6/3d/auto_generated/materials/qgsphongtexturedmaterialsettings.sip.in
  src/3d/CMakeLists.txt
  src/3d/materials/qgsphongmaterialsettings.h
  src/3d/materials/qgsphongtexturedmaterial.cpp
  src/3d/materials/qgsphongtexturedmaterial.h
  src/3d/materials/qgsphongtexturedmaterialsettings.cpp
  src/3d/materials/qgsphongtexturedmaterialsettings.h
  src/3d/materials/qgstexturematerial.cpp
  src/3d/materials/qgstexturematerial.h
  src/3d/shaders.qrc
  src/3d/shaders/texture.frag
  src/3d/shaders/texture.vert
  src/3d/terrain/qgsterraintileloader_p.cpp
  src/3d/terrain/qgsterraintileloader_p.h
Labels: 3D

#58433 [Backport release-3_34] Fix PDF export size of elevation plots
  src/app/elevation/qgselevationprofilewidget.cpp
Labels: Backport

#58435 Don't leak typing into qgis.core
  python/PyQt6/core/__init__.py.in
  python/core/__init__.py.in
Labels: Cleanup, PyQGIS

#58437 Use a task instead of a progress dialog for wfs/oapif progress
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/oapif/qgsoapifprovider.h
  src/providers/wfs/qgsbackgroundcachedfeatureiterator.cpp
  src/providers/wfs/qgsbackgroundcachedfeatureiterator.h
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsfeatureiterator.h
Labels: GUI/UX, WFS data provider

#58376 [ColorWidget] Edit CMYK as percent
  python/PyQt6/gui/auto_additions/qgscolorwidgets.py
  python/PyQt6/gui/auto_generated/qgscolorwidgets.sip.in
  python/gui/auto_additions/qgscolorwidgets.py
  python/gui/auto_generated/qgscolorwidgets.sip.in
  src/gui/qgscolorwidgets.cpp
  src/gui/qgscolorwidgets.h
  tests/src/gui/testqgscompoundcolorwidget.cpp
Labels: GUI/UX

#58463 Processing Algorithm "Open file or URL"
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmurlopener.cpp
  src/analysis/processing/qgsalgorithmurlopener.h
  src/analysis/processing/qgsnativealgorithms.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#58448 Filter in Linking Dialogue of Relation Editor Widget
  python/PyQt6/gui/auto_generated/qgsabstractrelationeditorwidget.sip.in
  python/PyQt6/gui/auto_generated/qgsfeatureselectiondlg.sip.in
  python/PyQt6/gui/auto_generated/qgsrelationeditorwidget.sip.in
  python/gui/auto_generated/qgsabstractrelationeditorwidget.sip.in
  python/gui/auto_generated/qgsfeatureselectiondlg.sip.in
  python/gui/auto_generated/qgsrelationeditorwidget.sip.in
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsabstractrelationeditorwidget.h
  src/gui/qgsfeatureselectiondlg.h
  src/gui/qgsrelationeditorwidget.cpp
  src/gui/qgsrelationeditorwidget.h
  src/ui/qgsrelationeditorconfigwidgetbase.ui
Labels: Needs Documentation, Relations

#58471 Fix bug with inverted polygon renderer vs OTF simplification
  python/PyQt6/core/auto_generated/qgsrendercontext.sip.in
  python/core/auto_generated/qgsrendercontext.sip.in
  src/core/qgsrendercontext.h
  src/core/symbology/qgsmergedfeaturerenderer.cpp
  tests/src/core/testqgsinvertedpolygonrenderer.cpp
  tests/testdata/control_images/symbol_invertedpolygon/expected_inverted_polys_projection_simplification/expected_inverted_polys_projection_simplification.png
Labels: backport queued_ltr_backports, backport release-3_38

#58384 [ServerWFS] Remove version from OGC urn
  src/core/proj/qgscoordinatereferencesystem.cpp
  tests/src/python/test_qgsserver_wfs.py
  tests/testdata/qgis_server/wms_getfeatureinfo_alias_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_exclude_attribute_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_geojson.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_geometry_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_json.txt
  tests/testdata/qgis_server/wms_getfeatureinfo_multiple_json.txt
Labels: Server, backport release-3_38

#58424 Allow reordering fields in new vector layer dialogs
  src/app/qgsnewspatialitelayerdialog.cpp
  src/app/qgsnewspatialitelayerdialog.h
  src/gui/qgsnewgeopackagelayerdialog.cpp
  src/gui/qgsnewgeopackagelayerdialog.h
  src/gui/qgsnewmemorylayerdialog.cpp
  src/gui/qgsnewmemorylayerdialog.h
  src/gui/qgsnewvectorlayerdialog.cpp
  src/gui/qgsnewvectorlayerdialog.h
  src/ui/qgsnewgeopackagelayerdialogbase.ui
  src/ui/qgsnewmemorylayerdialogbase.ui
  src/ui/qgsnewspatialitelayerdialogbase.ui
  src/ui/qgsnewvectorlayerdialogbase.ui
Labels: Feature, GUI/UX, Changelog

#58490 testqgs3drendering: Update polygon_edges_height control images
  tests/testdata/control_images/3d/expected_polygon_edges_height/default/expected_polygon_edges_height.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/default/expected_polygon_edges_height_mask.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/expected_polygon_edges_height.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/expected_polygon_edges_height_mask.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/fedora/expected_polygon_edges_height.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/travis/expected_polygon_edges_height.png
  tests/testdata/control_images/3d/expected_polygon_edges_height/travis/expected_polygon_edges_height_mask.png
Labels: 3D, testsuite

#58487 [expression] Fix eval_template() not working with field caltulator and virtual fields
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/python/test_qgsexpression.py
Labels: Expressions, backport release-3_34, backport release-3_38

#58073 Fix WMS layer access control check
  src/server/services/wms/qgswmsrendercontext.cpp
  src/server/services/wms/qgswmsrendercontext.h
  tests/src/python/test_qgsserver_accesscontrol_wms.py
  tests/src/python/test_qgsserver_accesscontrol_wms_getlegendgraphic.py
  tests/testdata/qgis_server_accesscontrol/project_grp.qgs
Labels: Server, backport queued_ltr_backports, backport release-3_38

#58473 wedge buffers support start and end angles
  python/PyQt6/core/auto_additions/qgsgeometry.py
  python/PyQt6/core/auto_generated/geometry/qgsgeometry.sip.in
  python/core/auto_additions/qgsgeometry.py
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  tests/src/python/test_qgsgeometry.py
Labels: Squash!

#58520 Move some style related enums out of global namespace
  python/PyQt6/core/__init__.py.in
  python/PyQt6/core/auto_additions/qgsstyle.py
  python/PyQt6/core/auto_generated/symbology/qgsstyle.sip.in
  python/core/__init__.py.in
  python/core/auto_additions/qgsstyle.py
  python/core/auto_generated/symbology/qgsstyle.sip.in
  src/core/symbology/qgsstyle.cpp
  src/core/symbology/qgsstyle.h
Labels: Cleanup
