Repository qgis/QGIS, pull requests merged in 2024-06, with the labels that each got.

#57630 [api] Add compare methods to QgsFeatureRequest
  python/PyQt6/core/auto_generated/qgsfeaturerequest.sip.in
  python/core/auto_generated/qgsfeaturerequest.sip.in
  src/core/qgsfeaturerequest.cpp
  src/core/qgsfeaturerequest.h
  tests/src/python/test_qgsfeaturerequest.py
Labels: API, Optimization

#57641 Add efficient methods for taking / transferring geometries from collections
  python/PyQt6/core/auto_generated/geometry/qgsgeometrycollection.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsmulticurve.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsmultilinestring.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsmultipoint.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsmultipolygon.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsmultisurface.sip.in
  python/core/auto_generated/geometry/qgsgeometrycollection.sip.in
  python/core/auto_generated/geometry/qgsmulticurve.sip.in
  python/core/auto_generated/geometry/qgsmultilinestring.sip.in
  python/core/auto_generated/geometry/qgsmultipoint.sip.in
  python/core/auto_generated/geometry/qgsmultipolygon.sip.in
  python/core/auto_generated/geometry/qgsmultisurface.sip.in
  src/core/geometry/qgsgeometrycollection.cpp
  src/core/geometry/qgsgeometrycollection.h
  src/core/geometry/qgsmulticurve.cpp
  src/core/geometry/qgsmulticurve.h
  src/core/geometry/qgsmultilinestring.cpp
  src/core/geometry/qgsmultilinestring.h
  src/core/geometry/qgsmultipoint.cpp
  src/core/geometry/qgsmultipoint.h
  src/core/geometry/qgsmultipolygon.cpp
  src/core/geometry/qgsmultipolygon.h
  src/core/geometry/qgsmultisurface.cpp
  src/core/geometry/qgsmultisurface.h
  tests/src/python/test_qgsgeometrycollection.py
  tests/src/python/test_qgsmultilinestring.py
  tests/src/python/test_qgsmultipoint.py
  tests/src/python/test_qgsmultipolygon.py
Labels: API

#57271 [attribute form] Add parent feature scope when adding/editing a child feature through the relation editor widget
  python/PyQt6/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayertools.sip.in
  python/PyQt6/core/auto_generated/vector/qgsvectorlayertoolscontext.sip.in
  python/PyQt6/core/core_auto.sip
  python/core/auto_generated/qgstrackedvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayer.sip.in
  python/core/auto_generated/vector/qgsvectorlayertools.sip.in
  python/core/auto_generated/vector/qgsvectorlayertoolscontext.sip.in
  python/core/core_auto.sip
  src/app/qgsfeatureaction.cpp
  src/app/qgsguivectorlayertools.cpp
  src/app/qgsguivectorlayertools.h
  src/core/CMakeLists.txt
  src/core/qgstrackedvectorlayertools.cpp
  src/core/qgstrackedvectorlayertools.h
  src/core/vector/qgsvectorlayer.cpp
  src/core/vector/qgsvectorlayer.h
  src/core/vector/qgsvectorlayertools.h
  src/core/vector/qgsvectorlayertoolscontext.cpp
  src/core/vector/qgsvectorlayertoolscontext.h
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/gui/qgsabstractrelationeditorwidget.cpp
  src/gui/qgsattributeform.cpp
  tests/src/gui/testqgsrelationreferencewidget.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: Feature, Freeze Exempt

#57624 [attributetable] Fix sorting with geometry expression
  src/app/qgsattributetabledialog.cpp
  src/gui/attributetable/qgsattributetablemodel.cpp
  src/gui/attributetable/qgsdualview.cpp
  tests/src/gui/testqgsdualview.cpp
  tests/src/python/test_qgsattributetablemodel.py
Labels: Attribute Table, Bug, backport queued_ltr_backports

#57628 Fix vertex deletion issue on CompoundCurve
  src/core/geometry/qgscompoundcurve.cpp
  tests/src/core/geometry/testqgscompoundcurve.cpp
Labels: backport queued_ltr_backports

#57658 Avoid crash on summary when error list is empty
  src/core/qgserror.cpp
  tests/src/python/test_qgsmaplayer.py
Labels: backport release-3_34

#57663 Fix broken prefetch capabilities for raster layers
  src/core/raster/qgsrasterlayerrenderer.cpp
  src/core/raster/qgsrasterlayerrenderer.h
Labels: Regression, backport queued_ltr_backports

#57675 Fix port values range for OAuth2 UI
  src/auth/oauth2/gui/qgsauthoauth2edit.ui
Labels: backport queued_ltr_backports

#57674 Sync is edited status in feature list view
  src/gui/attributetable/qgsdualview.cpp
Labels: Bug, backport queued_ltr_backports

#57513 Threat "money" PostgreSQL datatype as numeric
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
Labels: Expressions, Bug, PostGIS data provider

#57650 [attribute table] Don't show sort indicator if sort expression is not a field
  src/gui/attributetable/qgsattributetableview.cpp
Labels: Attribute Table, Bug, backport queued_ltr_backports

#57686 Fix add feature dialog does not restore position when shown modally
  python/PyQt6/gui/auto_generated/qgsattributedialog.sip.in
  python/gui/auto_generated/qgsattributedialog.sip.in
  src/gui/qgsattributedialog.cpp
  src/gui/qgsattributedialog.h
Labels: backport queued_ltr_backports

#57709 [Processing] creategrid: Allow negative overlay
  python/plugins/processing/tests/testdata/expected/create_grid_negative_overlay.gml
  python/plugins/processing/tests/testdata/expected/create_grid_negative_overlay.qmd
  python/plugins/processing/tests/testdata/expected/create_grid_negative_overlay.xsd
  python/plugins/processing/tests/testdata/qgis_algorithm_tests5.yaml
  src/analysis/processing/qgsalgorithmgrid.cpp
Labels: Processing, Easy fix, backport queued_ltr_backports

#57695 [TopoChecker] Reset correctly the model
  src/plugins/topology/checkDock.cpp
  src/plugins/topology/checkDock.h
  src/plugins/topology/dockModel.cpp
  src/plugins/topology/dockModel.h
Labels: Bug, Topology checker, backport queued_ltr_backports

#57718 make Qgs3dMapScene really exportable
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
Labels: Build/Install, 3D, Bug

#57717 Update to untwine 1.3.2
  external/untwine/api/QgisUntwine.cpp
  external/untwine/api/QgisUntwine.hpp
  external/untwine/api/QgisUntwine_unix.cpp
  external/untwine/api/QgisUntwine_win.cpp
  external/untwine/epf/Epf.cpp
  external/untwine/epf/Epf.hpp
  external/untwine/epf/EpfTypes.hpp
  external/untwine/epf/FileProcessor.cpp
  external/untwine/untwine/Common.cpp
  external/untwine/untwine/Common.hpp
  external/untwine/untwine/FileDimInfo.hpp
  external/untwine/untwine/Untwine.cpp
  external/untwine/untwine/src/api/untwine.h
Labels: Point Clouds

#57725 [GUI] Show the CRS Epoch up to 3 decimal digits when needed and in more places
  src/core/layertree/qgslayertreemodel.cpp
  src/core/proj/qgscoordinatereferencesystem.cpp
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayermodel.cpp
Labels: backport queued_ltr_backports

#57707 JSON fields: logic to guess widget type
  src/gui/editorwidgets/qgskeyvaluewidgetfactory.cpp
  src/gui/editorwidgets/qgslistwidgetfactory.cpp
  tests/src/python/test_qgsattributeformeditorwidget.py
Labels: Bug

#57688 Fix podman run of container-based testing
  .ci/run_tests.sh
Labels: testsuite

#57738 [WFS] Create wfs connection list correctly
  src/gui/qgsmanageconnectionsdialog.cpp
Labels: backport release-3_34

#57735 Add missing HOLDGIL annotation for QgsGeometry::isEmpty
  python/PyQt6/core/auto_generated/geometry/qgsgeometry.sip.in
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  src/core/geometry/qgsgeometry.h
Labels: Optimization, backport queued_ltr_backports

#57739 Add group name to processing algorithm dialog title
  src/gui/processing/qgsprocessingalgorithmdialogbase.cpp
Labels: backport queued_ltr_backports

#57568 Make 'Editable' field checkbox status consistent with read-only status
  src/core/editform/qgseditformconfig.cpp
  src/gui/attributeformconfig/qgsattributetypedialog.cpp
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
Labels: backport queued_ltr_backports

#57679 [SelectiveMasking] Fix masks UI update
  src/gui/qgsmaskingwidget.cpp
  src/gui/qgsmaskingwidget.h
  src/gui/qgsmasksourceselectionwidget.cpp
  src/gui/qgsmasksourceselectionwidget.h
  src/gui/qgssymbollayerselectionwidget.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsmaskingwidget.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports

#57755 Add (non-exposed) setting for the external Python editor
  python/PyQt6/gui/auto_generated/codeeditors/qgscodeeditorwidget.sip.in
  python/gui/auto_generated/codeeditors/qgscodeeditorwidget.sip.in
  src/gui/codeeditors/qgscodeeditorpython.cpp
  src/gui/codeeditors/qgscodeeditorpython.h
  src/gui/codeeditors/qgscodeeditorwidget.cpp
  src/gui/codeeditors/qgscodeeditorwidget.h
Labels: API

#57768 [browser] Fix use of internal HTML anchor links in QTextBrowser
  src/gui/qgsbrowserdockwidget_p.cpp
  src/providers/wms/qgswmsprovider.cpp
Labels: backport queued_ltr_backports

#57775 Fix tests on newer GEOS
  python/plugins/processing/tests/testdata/qgis_algorithm_tests1.yaml
Labels: backport queued_ltr_backports, backport release-3_34

#57780 Fix some grass vectors incorrectly show as datasets
  src/providers/grass/qgsgrassvector.cpp
Labels: backport queued_ltr_backports

#57774 Pressing escape should clear current identify results
  src/app/qgsmaptoolidentifyaction.cpp
  src/app/qgsmaptoolidentifyaction.h
Labels: GUI/UX

#57772 [processing] Don't try to load extent strings as layers
  src/core/processing/qgsprocessingparameters.cpp
  src/core/processing/qgsprocessingparameters.h
Labels: backport queued_ltr_backports

#57796 Fix RAT not editable
  src/gui/raster/qgsrasterattributetablewidget.cpp
Labels: Rasters, Bug, backport queued_ltr_backports

#57694 [SelectiveMasking] install masks for QgsTemplatedLineSymbolLayer
  src/core/maprenderer/qgsmaprendererjob.cpp
  src/core/symbology/qgslinesymbollayer.cpp
  tests/src/python/test_selective_masking.py
  tests/testdata/control_images/selective_masking/layout_export_markerline_masked/layout_export_markerline_masked.png
  tests/testdata/control_images/selective_masking/layout_export_markerline_masked/layout_export_markerline_masked_mask.png
Labels: Symbology, Bug, backport queued_ltr_backports

#57794 [GUI] Add the Help button to the Layer Diagram Properties dialog window (Fix #57790)
  src/app/qgisapp.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports

#57606 Reduce pollution of system directories during test runs
  CMakeLists.txt
  cmake/UsePythonTest.cmake
  tests/src/3d/testqgs3drendering.cpp
  tests/src/CMakeLists.txt
  tests/src/core/testqgslabelingengine.cpp
  tests/src/core/testqgsproject.cpp
Labels: testsuite

#57822 implement separate wfs title
  python/PyQt6/core/auto_generated/qgsmaplayerserverproperties.sip.in
  python/core/auto_generated/qgsmaplayerserverproperties.sip.in
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayerserverproperties.cpp
  src/core/qgsmaplayerserverproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/server/services/wfs/qgswfsgetcapabilities.cpp
  src/server/services/wfs3/qgswfs3handlers.cpp
  src/ui/qgsvectorlayerpropertiesbase.ui
  tests/src/python/test_qgsmaplayerserverproperties.py
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
  tests/testdata/qgis_server/api/test_wfs3_collection_testlayer_èé.html
  tests/testdata/qgis_server/api/test_wfs3_collection_testlayer_èé.json
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé.html
  tests/testdata/qgis_server/api/test_wfs3_collections_items_testlayer_èé_1.html
  tests/testdata/qgis_server/api/test_wfs3_collections_project.html
  tests/testdata/qgis_server/api/test_wfs3_collections_project.json
  tests/testdata/qgis_server/test_project_api.qgs
  tests/testdata/qgis_server/test_project_wfs.qgs
  tests/testdata/qgis_server/wfs_getcapabilities.txt
Labels: Feature, Server

#57514 Fix PostGIS geography extent computation
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresprovider.h
  tests/src/python/test_provider_postgres.py
Labels: Bug, PostGIS data provider

#57828 Provide a sourceable shell script setting up test environment
  tests/CMakeLists.txt
  tests/README.md
  tests/env.sh.in
Labels: testsuite

#57829 Implement TestPyQgsPostgresProvider.testExtent
  tests/src/python/test_provider_postgres.py
Labels: Bug, testsuite

#57647 Actions Dialogue Duplicate Button
  src/gui/vector/qgsattributeactiondialog.cpp
  src/gui/vector/qgsattributeactiondialog.h
  src/ui/qgsattributeactiondialogbase.ui
Labels: Feature, Needs Documentation

#57754 [DB Manager] Fix delete raster layer in GeoPackage (Fix #57751)
  python/plugins/db_manager/db_plugins/gpkg/connector.py
Labels: DB Manager, Bug, backport queued_ltr_backports, backport release-3_38

#57840 [sensorthings] Always be tolerant when reading datetime ranges
  src/core/providers/sensorthings/qgssensorthingsshareddata.cpp
Labels: backport release-3_38

#57848 qgs3daxis: Fix cube face picking
  src/3d/qgs3daxis.cpp
  src/3d/qgs3daxis.h
Labels: 3D, Bug, backport queued_ltr_backports

#57860 Add metadata setting to override widget wrapper used for a parameter
  src/gui/processing/qgsprocessingguiregistry.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing

#57855 [backport] fix(clipboard): format null attribute values in system clipboard
  src/app/qgsclipboard.cpp
  tests/src/app/testqgisappclipboard.cpp
Labels: Backport

#57865 [DB Manager] Don't add a Rename action for raster layer in GeoPackage if GDAL < 3.10
  python/plugins/db_manager/db_model.py
  python/plugins/db_manager/db_tree.py
Labels: DB Manager, Bug, backport release-3_38

#57584 [advanced digitizing] Implement visual construction guides
  python/PyQt6/core/auto_generated/qgscadutils.sip.in
  python/PyQt6/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  python/core/auto_generated/qgscadutils.sip.in
  python/gui/auto_generated/qgsadvanceddigitizingdockwidget.sip.in
  src/core/qgscadutils.cpp
  src/core/qgscadutils.h
  src/gui/qgsadvanceddigitizingcanvasitem.cpp
  src/gui/qgsadvanceddigitizingcanvasitem.h
  src/gui/qgsadvanceddigitizingdockwidget.cpp
  src/gui/qgsadvanceddigitizingdockwidget.h
  tests/src/app/testqgsadvanceddigitizing.cpp
Labels: Feature, Merge After Thaw, Digitizing

#57875 [attribute form] Fix addition of features from a child feature dialog being added
  src/gui/qgsabstractrelationeditorwidget.cpp
Labels: backport release-3_38

#57866 Add ReadOnly flag for browser data items
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/core/qgis.h
Labels: API

#57897 [GU] Don't show the action "Open Attribute Table (Visible Features)" for a non spatial vector layer
  src/app/qgisapp.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports, backport release-3_38

#57902 Add creation options support to some native raster Processing algorithms
  src/analysis/processing/qgsalgorithmcellstatistics.cpp
  src/analysis/processing/qgsalgorithmconstantraster.cpp
  src/analysis/processing/qgsalgorithmexportmesh.cpp
  src/analysis/processing/qgsalgorithmfillnodata.cpp
  src/analysis/processing/qgsalgorithmfuzzifyraster.cpp
  src/analysis/processing/qgsalgorithmlinedensity.cpp
  src/analysis/processing/qgsalgorithmrandomraster.cpp
  src/analysis/processing/qgsalgorithmrasterdtmslopebasedfilter.cpp
  src/analysis/processing/qgsalgorithmrasterfrequencybycomparisonoperator.cpp
  src/analysis/processing/qgsalgorithmrasterlogicalop.cpp
  src/analysis/processing/qgsalgorithmrasterstackposition.cpp
  src/analysis/processing/qgsalgorithmreclassifybylayer.cpp
  src/analysis/processing/qgsalgorithmrescaleraster.cpp
  src/analysis/processing/qgsalgorithmroundrastervalues.cpp
Labels: Feature, Processing, Needs Documentation, Changelog

#57901 Fix compatible parameter types for database schema and table widget wrappers (fix #57842)
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
Labels: Processing, Bug, backport queued_ltr_backports, backport release-3_38

#57910 Also permit drag and drop onto processing multi layer line edit
  python/PyQt6/gui/auto_generated/processing/qgsprocessingmultipleselectiondialog.sip.in
  python/gui/auto_generated/processing/qgsprocessingmultipleselectiondialog.sip.in
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
  src/gui/processing/qgsprocessingmultipleselectiondialog.h
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.h
Labels: Processing

#57921 [3.34 backport] qgs3daxis: Fix object root memory leak
  src/3d/qgs3daxis.cpp
Labels: 3D

#57337 qgs3dmapconfigwidget: Only display shadow debug map if shadows are enabled
  src/app/3d/qgs3dmapconfigwidget.cpp
Labels: 3D

#57927 qgs3daxis: Correctly delete axis or cube in the destructor
  src/3d/qgs3daxis.cpp
Labels: 3D, Crash/Data Corruption, backport queued_ltr_backports

#57911 Don't go to massive negative numbers when incrementing a NULL spin box
  python/PyQt6/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  python/PyQt6/gui/auto_generated/editorwidgets/qgsspinbox.sip.in
  python/gui/auto_generated/editorwidgets/qgsdoublespinbox.sip.in
  python/gui/auto_generated/editorwidgets/qgsspinbox.sip.in
  src/gui/editorwidgets/qgsdoublespinbox.cpp
  src/gui/editorwidgets/qgsdoublespinbox.h
  src/gui/editorwidgets/qgsspinbox.cpp
  src/gui/editorwidgets/qgsspinbox.h
  tests/src/gui/testqgsdoublespinbox.cpp
  tests/src/gui/testqgsspinbox.cpp
Labels: GUI/UX

#57941 Browser: Fix untranslatable provider names
  src/core/vectortile/qgsvectortiledataitems.cpp
  src/providers/wfs/qgswfsdataitems.cpp
  src/providers/wms/qgswmsdataitems.cpp
Labels: Translations, Easy fix, QGIS Browser
