Repository qgis/QGIS, pull requests merged in 2025-03, with the labels that each got.

#60810 [map canvas] Fix preview jobs for rotated map canvas
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvasmap.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#60605 Processing raster rank algorithm
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmrasterrank.cpp
  src/analysis/processing/qgsalgorithmrasterrank.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/testqgsprocessingalgspt1.cpp
  tests/testdata/control_images/expected_rasterRank/rasterRank_testcase1.tif
  tests/testdata/control_images/expected_rasterRank/rasterRank_testcase2.tif
  tests/testdata/control_images/expected_rasterRank/rasterRank_testcase3.tif
  tests/testdata/control_images/expected_rasterRank/rasterRank_testcase4.tif
  tests/testdata/raster/rank1.tif
  tests/testdata/raster/rank2.tif
  tests/testdata/raster/rank3.tif
  tests/testdata/raster/rank4.tif
Labels: Feature, Processing

#60835 Add regexp to ~ function's tags
  resources/function_help/json/op_regex
Labels: backport release-3_40, backport release-3_42

#60635 fix wmsrender: homogeneize unique_ptr/ref/pointer on Image
  src/server/services/wms/qgswmsrenderer.cpp
  src/server/services/wms/qgswmsrenderer.h
Labels: Server

#60841 Promote marker symbol alignment enums to enum class, move to Qgis
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_additions/qgssymbollayer.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/PyQt6/core/auto_generated/symbology/qgssymbollayer.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/symbology/qgssymbollayer.sip.in
  src/core/providers/arcgis/qgsarcgisrestutils.cpp
  src/core/qgis.h
  src/core/symbology/qgsellipsesymbollayer.cpp
  src/core/symbology/qgsmapinfosymbolconverter.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgssymbollayer.cpp
  src/core/symbology/qgssymbollayer.h
  src/gui/symbology/qgsellipsesymbollayerwidget.cpp
  src/gui/symbology/qgssymbollayerwidget.cpp
  src/ui/symbollayer/widget_animatedmarker.ui
  src/ui/symbollayer/widget_ellipse.ui
  src/ui/symbollayer/widget_filledmarker.ui
  src/ui/symbollayer/widget_fontmarker.ui
  src/ui/symbollayer/widget_rastermarker.ui
  src/ui/symbollayer/widget_simplemarker.ui
  src/ui/symbollayer/widget_svgmarker.ui
  tests/src/core/testqgsarcgisrestutils.cpp
  tests/src/core/testqgsfontmarker.cpp
  tests/src/core/testqgsrastermarker.cpp
  tests/src/core/testqgssvgmarker.cpp
Labels: Cleanup

#60905 Attempt to fix ci
  .docker/qgis3-qt5-build-deps.dockerfile
Labels: Chore

#60901 Fix crash in graduated symbol renderer widget
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.h
Labels: Regression, Crash/Data Corruption

#60900 [attribute form][ui] Remove the basic tab from the external storage's authentication widget
  src/gui/editorwidgets/qgsexternalresourceconfigdlg.cpp
Labels: backport release-3_42

#60536 Correctly move layout legend nodes when they are filtered
  src/gui/layout/qgslayoutlegendwidget.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#60880 Avoid crashing when a tiled scene texture is provided by an extension
  src/3d/qgsgltf3dutils.cpp
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
Labels: Bug, Tiled Scene, backport release-3_40, backport release-3_42

#60912 Add optional extent, expression based filter when importing tables to database
  python/PyQt6/core/auto_additions/qgsvectorlayerexporter.py
  python/PyQt6/core/auto_generated/vector/qgsvectorlayerexporter.sip.in
  python/PyQt6/gui/auto_generated/qgsbrowserdockwidget.sip.in
  python/PyQt6/gui/auto_generated/qgsbrowserguimodel.sip.in
  python/PyQt6/gui/auto_generated/qgsbrowserwidget.sip.in
  python/PyQt6/gui/auto_generated/qgsdataitemguiprovider.sip.in
  python/core/auto_additions/qgsvectorlayerexporter.py
  python/core/auto_generated/vector/qgsvectorlayerexporter.sip.in
  python/gui/auto_generated/qgsbrowserdockwidget.sip.in
  python/gui/auto_generated/qgsbrowserguimodel.sip.in
  python/gui/auto_generated/qgsbrowserwidget.sip.in
  python/gui/auto_generated/qgsdataitemguiprovider.sip.in
  src/app/browser/qgsinbuiltdataitemproviders.cpp
  src/app/qgisapp.cpp
  src/core/vector/qgsvectorlayerexporter.cpp
  src/core/vector/qgsvectorlayerexporter.h
  src/gui/qgsbrowserdockwidget.cpp
  src/gui/qgsbrowserdockwidget.h
  src/gui/qgsbrowserguimodel.cpp
  src/gui/qgsbrowserguimodel.h
  src/gui/qgsbrowserwidget.cpp
  src/gui/qgsbrowserwidget.h
  src/gui/qgsdataitemguiprovider.cpp
  src/gui/qgsdataitemguiprovider.h
  src/gui/qgsdataitemguiproviderutils.cpp
  src/gui/qgsdbimportvectorlayerdialog.cpp
  src/gui/qgsdbimportvectorlayerdialog.h
  src/ui/qgsdbimportvectorlayerdialog.ui
  tests/src/python/test_qgsvectorlayerexporter.py
Labels: Feature, Needs Documentation, Changelog

#60936 fix confusion between native face and triangle face in 3D mesh layer
  src/3d/mesh/qgsmesh3dgeometry_p.cpp
Labels: 3D, Bug, Crash/Data Corruption, Mesh, backport release-3_40, backport release-3_42

#60881 port Define Projection algorithm to C++
  python/plugins/processing/algs/help/qgis.yaml
  python/plugins/processing/algs/qgis/DefineProjection.py
  python/plugins/processing/algs/qgis/QgisAlgorithmProvider.py
  src/analysis/CMakeLists.txt
  src/analysis/processing/qgsalgorithmdefineprojection.cpp
  src/analysis/processing/qgsalgorithmdefineprojection.h
  src/analysis/processing/qgsnativealgorithms.cpp
  tests/src/analysis/testqgsprocessingalgspt2.cpp
Labels: Processing

#60861 [Oracle] Synchronize test connection button state with OK button
  src/providers/oracle/qgsoraclenewconnection.cpp
Labels: Bug, Oracle data provider

#59632 Fix qgis server fcgi response destructor
  .ci/ogc/build.sh
  src/server/qgsfcgiserverresponse.cpp
  src/server/qgsfcgiserverresponse.h
  src/server/qgsserver.cpp
  src/server/services/wms/qgswmsgetmap.cpp
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Server

#60869 [3d] Large scene support: shift scene's origin if the camera got too far
  python/3d/auto_generated/qgs3dmapscene.sip.in
  python/3d/auto_generated/qgscameracontroller.sip.in
  python/PyQt6/3d/auto_generated/qgs3dmapscene.sip.in
  python/PyQt6/3d/auto_generated/qgscameracontroller.sip.in
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgscameracontroller.cpp
  src/3d/qgscameracontroller.h
  src/app/3d/qgs3ddebugwidget.cpp
  src/app/qgisapp.cpp
  src/ui/3d/3ddebugwidget.ui
  tests/src/3d/CMakeLists.txt
  tests/src/3d/sandbox/qgis_3d_sandbox.cpp
  tests/src/3d/testqgs3dmapscene.cpp
  tests/src/3d/testqgs3drendering.cpp
  tests/src/3d/testqgspointcloud3drendering.cpp
  tests/src/3d/testqgsrubberband3drendering.cpp
Labels: 3D

#60897 When duplicating a layer copy layer tree layer's custom properties [fixes #60884]
  src/app/qgisapp.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#60459 Better distinguish Arcgis feature/map icons in the browser
  images/themes/default/mIconAfs.svg
  images/themes/default/mIconAms.svg
  src/providers/arcgisrest/qgsarcgisrestdataitems.cpp
Labels: stale

#60957 Fix crashes in oracle provider when db workspace is set
  src/core/qgsconnectionpool.h
  src/providers/oracle/qgsoracleconn.cpp
  src/providers/oracle/qgsoracleconnpool.h
Labels: Crash/Data Corruption, Oracle data provider, backport release-3_40, backport release-3_42

#60956 Remove duplicate http method enums
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/analysis/processing/qgsalgorithmhttprequest.cpp
  src/core/network/qgsblockingnetworkrequest.cpp
  src/core/network/qgsblockingnetworkrequest.h
  src/core/network/qgsfiledownloader.cpp
  src/core/qgis.h
  src/providers/wfs/qgswfsdatasourceuri.cpp
  src/providers/wfs/qgswfsdatasourceuri.h
  src/providers/wfs/qgswfstransactionrequest.cpp
Labels: Cleanup

#60849 Some fixes in measure 3d
  src/3d/qgsrubberband3d.cpp
  src/3d/qgsrubberband3d.h
  src/app/3d/qgs3dmaptoolmeasureline.cpp
  src/app/3d/qgs3dmaptoolmeasureline.h
  src/app/3d/qgs3dmaptoolpointcloudchangeattribute.cpp
  src/app/3d/qgs3dmaptoolpointcloudchangeattributepolygon.cpp
Labels: 3D, Bug

#60985 add support for create options and custom NODATA value to QgsGridFileWriter
  python/PyQt6/analysis/auto_generated/interpolation/qgsgridfilewriter.sip.in
  python/analysis/auto_generated/interpolation/qgsgridfilewriter.sip.in
  src/analysis/interpolation/qgsgridfilewriter.cpp
  src/analysis/interpolation/qgsgridfilewriter.h
  tests/src/python/test_analysis_interpolation.py
  tests/testdata/analysis/idw_interpolation_nodata.tif
  tests/testdata/analysis/tin_interpolation_nodata.tif
Labels: API

#60965 make QML / Quick available on Windows standalone installer
  ms-windows/mingw/build.sh
Labels: backport master

#61020 [decorations][ui] Fix grid decoration dialog X/Y offset clear value
  src/app/decorations/qgsdecorationgriddialog.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61019 [map canvas] Tweak rotated map canvas preview paint logic to account for zoom changes
  src/gui/qgsmapcanvas.cpp
  src/gui/qgsmapcanvasmap.cpp
  src/gui/qgsmapcanvasmap.h
Labels: backport queued_ltr_backports, backport release-3_42

#61013 Install pyogctest from PyPI instead of the GitHub repository
  .github/workflows/ogc.yml
Labels: Chore, Server

#61016 Fix crash while adding feature
  src/gui/maptools/qgsmaptoolcapture.cpp
Labels: Bug, backport release-3_40, backport release-3_42

#60801 Fix Value Map widget with NULL value and field length < 38
  src/gui/editorwidgets/qgsvaluemapconfigdlg.cpp
Labels: Regression, Bug, backport release-3_40, backport release-3_42

#61054 add "Add result to project" checkbox to mesh calculator dialog (fix #45245)
  src/app/mesh/qgsmeshcalculatordialog.cpp
  src/app/mesh/qgsmeshcalculatordialog.h
  src/app/qgisapp.cpp
  src/ui/mesh/qgsmeshcalculatordialogbase.ui
Labels: GUI/UX, Needs Documentation

#61049 Fix empty table for creation option
  src/gui/qgsrasterformatsaveoptionswidget.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61046 Backport 59632 to release 3 42
  .ci/ogc/build.sh
  src/server/qgsfcgiserverresponse.cpp
  src/server/qgsfcgiserverresponse.h
  src/server/qgsserver.cpp
  src/server/services/wms/qgswmsgetmap.cpp
  src/server/services/wms/qgswmsrenderer.cpp
Labels: Backport

#61085 adding austrian csw to metasearch default servers
  python/plugins/MetaSearch/resources/connections-default.xml
Labels: backport release-3_40, backport release-3_42

#61074 Add special handling for geocentric CRS in QgsCoordinateReferenceSystem::toGeographicCrs()
  src/core/proj/qgscoordinatereferencesystem.cpp
  tests/src/python/test_qgscoordinatereferencesystem.py
Labels: backport queued_ltr_backports, backport release-3_42

#61092 [GDAL] Deal with [C]Float16 of GDAL 3.11 as [C]Float32
  src/core/providers/gdal/qgsgdalprovider.cpp
  src/core/providers/gdal/qgsgdalproviderbase.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61082 [fix] Make stacked diagrams behave as expected with horizontal fixed-size stacked bars
  src/gui/vector/qgsdiagramproperties.cpp
  tests/src/core/testqgsstackeddiagram.cpp
  tests/testdata/control_images/stackeddiagrams/expected_stackedbarfixedsize/expected_stackedbarfixedsize.png
  tests/testdata/control_images/stackeddiagrams/expected_stackedbarinterpolatedsize/expected_stackedbarinterpolatedsize.png
  tests/testdata/control_images/stackeddiagrams/expected_stackedbarinterpolatedsizeverticalleftoriented/expected_stackedbarinterpolatedsizeverticalleftoriented.png
  tests/testdata/control_images/stackeddiagrams/expected_stackedbarrightorientedfixedsize/expected_stackedbarrightorientedfixedsize.png
  tests/testdata/control_images/stackeddiagrams/expected_stackedbarverticalfixedsize/expected_stackedbarverticalfixedsize.png
Labels: Bug, Diagrams, backport queued_ltr_backports, backport release-3_42

#60600 Fix drag and drop for stacked diagrams (follow-up)
  src/gui/vector/qgsstackeddiagramproperties.cpp
  src/gui/vector/qgsstackeddiagramproperties.h
Labels: GUI/UX, Bug, Diagrams, backport queued_ltr_backports, backport release-3_42

#61139 Make google's 3D tiles work with globe
  src/3d/qgstiledscenechunkloader_p.cpp
Labels: 3D

#61103 [opencl] set source path when using qgis_process
  src/process/CMakeLists.txt
  src/process/main.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61142 no gettid() on OSX (followup 154ad712e9)
  src/server/qgsfcgiserverresponse.cpp
Labels: backport release-3_40, backport release-3_42

#61145 update_ts.sh: alternatively use pylupdate6 + python translation strin…
  python/plugins/MetaSearch/util.py
  python/plugins/grassprovider/ext/i_evapo_mh.py
  python/plugins/grassprovider/ext/r_category.py
  python/plugins/grassprovider/ext/r_colors.py
  python/plugins/grassprovider/ext/r_drain.py
  python/plugins/grassprovider/ext/r_horizon.py
  python/plugins/grassprovider/ext/r_li.py
  python/plugins/grassprovider/ext/r_neighbors.py
  python/plugins/grassprovider/ext/r_null.py
  python/plugins/grassprovider/ext/r_reclass.py
  python/plugins/grassprovider/ext/r_resamp_filter.py
  python/plugins/grassprovider/ext/r_series_interp.py
  python/plugins/grassprovider/ext/v_distance.py
  python/plugins/grassprovider/ext/v_edit.py
  python/plugins/grassprovider/ext/v_extrude.py
  python/plugins/grassprovider/ext/v_net.py
  python/plugins/grassprovider/ext/v_net_connectivity.py
  python/plugins/grassprovider/ext/v_net_flow.py
  python/plugins/grassprovider/ext/v_reclass.py
  python/plugins/grassprovider/ext/v_rectify.py
  python/plugins/grassprovider/ext/v_to_3d.py
  python/plugins/grassprovider/ext/v_transform.py
  python/plugins/grassprovider/grass_utils.py
  python/plugins/processing/algs/gdal/GridAverage.py
  python/plugins/processing/algs/gdal/GridDataMetrics.py
  python/plugins/processing/algs/gdal/GridInverseDistance.py
  python/plugins/processing/algs/gdal/GridInverseDistanceNearestNeighbor.py
  python/plugins/processing/algs/gdal/GridLinear.py
  python/plugins/processing/algs/gdal/GridNearestNeighbor.py
  python/plugins/processing/algs/gdal/rasterize.py
  python/plugins/processing/algs/gdal/rasterize_over.py
  python/plugins/processing/algs/gdal/rasterize_over_fixed_value.py
  python/plugins/processing/algs/qgis/Climb.py
  python/plugins/processing/algs/qgis/QgisAlgorithm.py
  python/plugins/processing/gui/MessageBarProgress.py
  python/processing/algfactory.py
  scripts/update_ts.sh
Labels: backport release-3_40, backport release-3_42

#61128 chore: fix prepare_commit to catch all modified/added files
  scripts/prepare_commit.sh
Labels: Chore, Easy fix

#61161 verify paths are within the zip directory
  src/core/qgsziputils.cpp
Labels: backport release-3_40, backport release-3_42, Security

#61138 qgsline3dsymbol - small cleanups
  src/3d/symbols/qgsline3dsymbol_p.cpp
Labels: 3D

#61173 [ogr] Fix crash when adding feature
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/test_provider_ogr_gpkg.py
Labels: Crash/Data Corruption, backport release-3_40, backport release-3_42

#61160 Fix duplicated layer variables
  src/core/expression/qgsexpressioncontextutils.cpp
  tests/src/core/testqgsexpressioncontext.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#59585 added possibility to add custom actions for the group-nodes in the layer tree
  src/app/layout/qgslayoutappmenuprovider.cpp
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61175 Add support for create options and custom NODATA to raster calculator
  python/PyQt6/analysis/auto_generated/raster/qgsrastercalculator.sip.in
  python/analysis/auto_generated/raster/qgsrastercalculator.sip.in
  src/analysis/raster/qgsrastercalculator.cpp
  src/analysis/raster/qgsrastercalculator.h
  tests/src/analysis/testqgsrastercalculator.cpp
Labels: API

#61190 [wfs] Fix querying sublayers when a query is set in Data Source Manager
  src/providers/wfs/qgswfsprovidermetadata.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61203 Fix #60053 - Disable layer Preview on NULL geometry layers
  src/gui/qgsbrowserdockwidget_p.cpp
Labels: GUI/UX, Bug, QGIS Browser

#61212 Fix broken emphasis tag warning when building PyQGIS docs
  python/PyQt6/core/auto_additions/qgsvectorfilewriter.py
  python/core/auto_additions/qgsvectorfilewriter.py
  src/core/qgsvectorfilewriter.h
Labels: backport release-3_40, backport release-3_42

#61223 [3d] axis renview init fix
  src/3d/framegraph/qgs3daxisrenderview.cpp
  src/3d/qgs3daxis.cpp
Labels: 3D, Bug

#61228 [symbology] Fix font marker not rotating alongside map when data-defined rotation is enabled
  src/core/symbology/qgsmarkersymbollayer.cpp
  tests/src/core/testqgsfontmarker.cpp
  tests/testdata/control_images/symbol_fontmarker/expected_fontmarker_datadefinedrotation/expected_fontmarker_datadefinedrotation.png
Labels: backport release-3_40, backport release-3_42

#61132 [editor widget] Fix relation reference widget filter expression's handling of current/parent variables and functions
  python/PyQt6/core/auto_additions/qgsfeaturepickermodelbase.py
  python/PyQt6/core/auto_generated/qgsfeaturepickermodelbase.sip.in
  python/PyQt6/gui/auto_additions/qgsfeaturelistcombobox.py
  python/PyQt6/gui/auto_additions/qgsrelationreferencewidgetwrapper.py
  python/PyQt6/gui/auto_generated/editorwidgets/qgsrelationreferencewidget.sip.in
  python/PyQt6/gui/auto_generated/editorwidgets/qgsrelationreferencewidgetwrapper.sip.in
  python/PyQt6/gui/auto_generated/qgsfeaturelistcombobox.sip.in
  python/core/auto_additions/qgsfeaturepickermodelbase.py
  python/core/auto_generated/qgsfeaturepickermodelbase.sip.in
  python/gui/auto_additions/qgsfeaturelistcombobox.py
  python/gui/auto_additions/qgsrelationreferencewidgetwrapper.py
  python/gui/auto_generated/editorwidgets/qgsrelationreferencewidget.sip.in
  python/gui/auto_generated/editorwidgets/qgsrelationreferencewidgetwrapper.sip.in
  python/gui/auto_generated/qgsfeaturelistcombobox.sip.in
  src/core/qgsfeaturepickermodelbase.cpp
  src/core/qgsfeaturepickermodelbase.h
  src/gui/editorwidgets/qgsrelationreferencewidget.cpp
  src/gui/editorwidgets/qgsrelationreferencewidget.h
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.cpp
  src/gui/editorwidgets/qgsrelationreferencewidgetwrapper.h
  src/gui/qgsfeaturelistcombobox.cpp
  src/gui/qgsfeaturelistcombobox.h
  tests/src/gui/testqgsrelationreferencewidget.cpp
Labels: backport release-3_42

#61235 DB Manager: Fix wrong values in table preview
  python/plugins/db_manager/db_plugins/gpkg/connector.py
Labels: backport queued_ltr_backports, backport release-3_42

#61240 Fix `QgsMapLayerProxyModel::layerMatchesFilters()` to support WritableLayer flag
  src/core/qgsmaplayerproxymodel.cpp
  tests/src/python/test_qgsmaplayerproxymodel.py
Labels: backport queued_ltr_backports, backport release-3_42

#61258 add scrollareas to raster and mesh calculator dialogs to make them more usable
  src/ui/mesh/qgsmeshcalculatordialogbase.ui
  src/ui/qgsrastercalcdialogbase.ui
Labels: GUI/UX
