Repository qgis/QGIS, pull requests merged in 2025-09, with the labels that each got.

#63018 Indicate correct output for the roundness function
  resources/function_help/json/roundness
Labels: backport release-3_40, backport release-3_44

#63011 [themes][ui] Fix colors for disabled slider for dark themes
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_40, backport release-3_44

#63043 [DB Manager] Fix versioning for PostgreSQL/PostGIS layers (Fix #63037)
  python/plugins/db_manager/db_plugins/postgis/plugins/versioning/dlg_versioning.py
Labels: Regression, DB Manager, Bug, backport release-3_40, backport release-3_44

#63071 Vertex tool test fixes (backport)
  src/app/vertextool/qgsvertextool.cpp
  src/app/vertextool/qgsvertextool.h
  tests/src/app/testqgsvertextool.cpp
Labels: Backport, backport queued_ltr_backports

#62790 tests(hillshade): Update hash for gcc 14
  python/plugins/processing/tests/testdata/qgis_algorithm_tests1.yaml
Labels: testsuite

#63104 Use sfcgal package on ci instead of rebuilding
  .docker/qgis3-fedora-qt6-build-deps.dockerfile
Labels: Chore

#63103 [layouts] Allow for atlas geometries to reshape the frame of map items
  python/PyQt6/core/auto_generated/layout/qgslayoutitemmap.sip.in
  python/core/auto_generated/layout/qgslayoutitemmap.sip.in
  src/core/layout/qgslayoutitemmap.cpp
  src/core/layout/qgslayoutitemmap.h
  src/gui/layout/qgslayoutmapwidget.cpp
  src/ui/layout/qgslayoutmapclippingwidgetbase.ui
  tests/src/python/test_qgslayoutatlasclippingsettings.py
  tests/src/python/test_qgslayoutmap.py
  tests/testdata/control_images/composer_map/expected_composermap_atlasclip_clip_frame/expected_composermap_atlasclip_clip_frame.png
Labels: Feature

#63127 Remove unnecessary utility function
  src/3d/qgs3dutils.cpp
  src/3d/qgs3dutils.h
  src/3d/qgsrulebasedchunkloader_p.cpp
  src/3d/qgsvectorlayerchunkloader_p.cpp
  src/app/3d/qgsrulebased3drendererwidget.cpp
Labels: Cleanup

#63118 [layouts] Insure that @layout_page and @layout_numpages reflect the actual page index and count during export
  src/core/expression/qgsexpressioncontextutils.cpp
  tests/src/core/testqgslayout.cpp
Labels: backport release-3_40, backport release-3_44

#63152 Fix convertFromPainterUnits when used with Qgis::RenderUnit::MetersInMapUnits
  src/core/qgsrendercontext.cpp
  tests/src/python/test_qgsrendercontext.py
Labels: backport queued_ltr_backports, backport release-3_44

#63181 always build PDAL Processing algorithms (fix #63106)
  python/PyQt6/analysis/analysis_auto.sip
  python/PyQt6/analysis/auto_generated/processing/pdal/qgspdalalgorithms.sip.in
  python/analysis/analysis_auto.sip
  python/analysis/auto_generated/processing/pdal/qgspdalalgorithms.sip.in
  src/analysis/CMakeLists.txt
  src/analysis/processing/pdal/qgsalgorithmpdalcreatecopc.cpp
  src/analysis/processing/pdal/qgsalgorithmpdalcreatecopc.h
  src/analysis/processing/pdal/qgspdalalgorithmbase.cpp
  src/analysis/processing/pdal/qgspdalalgorithms.h
  src/app/CMakeLists.txt
  src/app/qgisapp.cpp
  src/process/CMakeLists.txt
  src/process/qgsprocess.cpp
  tests/src/analysis/CMakeLists.txt
Labels: Processing

#63185 Remove moc from non-qobject class
  src/core/qgswmsutils.cpp
Labels: Cleanup

#62818 Provide `__class__.__name__` as translation context instead of hardcoded class name
  python/plugins/grassprovider/grass_algorithm.py
  python/plugins/grassprovider/grass_provider.py
  python/plugins/grassprovider/grass_utils.py
Labels: GRASS, Processing, backport queued_ltr_backports, backport release-3_44

#63228 Fix max version for pyopenssl below 25.2.0
  .docker/qgis3-qt5-build-deps.dockerfile
Labels: backport queued_ltr_backports, backport release-3_40

#63209 Fix sorting of layers in geopdf export which don't have attributes
  src/core/qgsabstractgeopdfexporter.cpp
  tests/src/core/testqgsgeopdfexport.cpp
Labels: Regression, backport release-3_40, backport release-3_44

#63229 allow geometryless layers as inputs in the Execute SQL Processing algorithm (fix #63218)
  python/plugins/processing/algs/qgis/ExecuteSQL.py
Labels: Processing, backport queued_ltr_backports, backport release-3_44

#63192 Add scrollarea to the Transformation Settings dialog in Georeferencer
  src/ui/georeferencer/qgstransformsettingsdialogbase.ui
Labels: GUI/UX, Georeferencer, backport release-3_44

#62815 add substr_count expression
  resources/function_help/json/substr_count
  src/core/expression/qgsexpressionfunction.cpp
  tests/src/core/testqgsexpression.cpp
Labels: Feature, Expressions, Needs Documentation

#63248 [Backport to release-3.40] Correctly deal with copy/move in QObjectUniquePtr
  src/core/qobjectuniqueptr.h
  tests/src/core/testqobjectuniqueptr.cpp
Labels: Backport, Bug

#63290 add scroll area to the Legend tab of vector layer properties dialog (fix #63159)
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: Backport, GUI/UX

#63291 add scroll area to the Legend tab of vector layer properties dialog (fix #63159)
  src/ui/qgsvectorlayerpropertiesbase.ui
Labels: Backport, GUI/UX

#62560 PostgreSQL move raster overviews to schema
  src/providers/postgres/qgspostgresproviderconnection.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
Labels: stale

#63323 fix handling of tiled scene and vector tile layers in Processing
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/core/processing/qgsprocessing.h
  src/core/processing/qgsprocessingparameters.cpp
  src/core/qgis.h
  src/gui/processing/qgsprocessingmaplayercombobox.cpp
  src/gui/processing/qgsprocessingmultipleselectiondialog.cpp
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, backport queued_ltr_backports, backport release-3_44

#63333 Remove orphaned sip files
  python/PyQt6/core/auto_generated/gps/qgsgpstoolsinterface.sip.in
  python/PyQt6/core/auto_generated/plot/qgschartregistry.sip.in
  python/PyQt6/core/auto_generated/qgsfeaturefilter.sip.in
  python/PyQt6/core/auto_generated/qgsfeaturefilterprovidergroup.sip.in
  python/PyQt6/gui/processing/qgsprocessingtoolboxmodel.sip.in
  python/PyQt6/gui/qgsfiledropedit.sip
  python/PyQt6/gui/qgssourceselectdialog.sip
  python/core/auto_generated/gps/qgsgpstoolsinterface.sip.in
  python/core/auto_generated/plot/qgschartregistry.sip.in
  python/core/auto_generated/qgsfeaturefilter.sip.in
  python/core/auto_generated/qgsfeaturefilterprovidergroup.sip.in
  python/gui/processing/qgsprocessingtoolboxmodel.sip.in
  python/gui/qgsfiledropedit.sip
  python/gui/qgssourceselectdialog.sip
Labels: Cleanup

#63342 show layer name in the identify menu if there are overlapping features from the same layer (fix #50049)
  src/gui/qgsidentifymenu.cpp
Labels: GUI/UX

#63259 Rename "Reproject" to "Reproject point cloud", fixes #63255
  src/analysis/processing/pdal/qgsalgorithmpdalreproject.cpp
Labels: Processing, Needs Documentation

#63337 [ux][field_calculator] Deactivate field editing for RO layers
  src/gui/vector/qgsfieldcalculator.cpp
  src/gui/vector/qgsfieldcalculator.h
Labels: GUI/UX, Bug, backport queued_ltr_backports, Field Calculator, backport release-3_44

#62783 Bug snapping crash
  src/core/qgspointlocator.cpp
Labels: Crash/Data Corruption, backport release-3_40, backport release-3_44

#63355 [themes][ui] Fix color for selected tree widget items, when they are disabled
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport queued_ltr_backports, backport release-3_44

#63390 [Backport to release-3.40] Delete QObjectUniquePtr currently pointed object when moving
  src/core/qobjectuniqueptr.h
  tests/src/core/testqobjectuniqueptr.cpp
Labels: Backport, Bug
