Repository qgis/QGIS, pull requests merged in 2025-02, with the labels that each got.

#60392 [annotations][ui] Fix fixed-size unit combo box not set when editing a rectangle text annotation
  src/gui/annotations/qgsannotationitemwidget_impl.cpp
Labels: backport release-3_40

#60372 [sensorthings] Don't allow expansion back to base entity type
  src/gui/providers/sensorthings/qgssensorthingssourcewidget.cpp
Labels: backport release-3_40

#60394 [ui] Fix missing @cluster_size and @cluster_color variables not visible when editing the cluster renderer's cluster symbol
  src/gui/symbology/qgspointclusterrendererwidget.cpp
Labels: backport release-3_40

#60384 QgsMapLayer::publicSource(): make it redact/remove GDAL credentials
  python/PyQt6/core/auto_generated/qgsmaplayer.sip.in
  python/core/auto_generated/qgsmaplayer.sip.in
  src/core/qgsmaplayer.cpp
  src/core/qgsmaplayer.h
  tests/src/core/testqgsmaplayer.cpp
Labels: backport release-3_40

#60390 [georeferencer] Fix the layer -> georeferencer menu action when in dock panel mode
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/georeferencer/qgsgeorefmainwindow.h
  src/app/qgisapp.cpp
Labels: backport release-3_40

#60403 [sensorthings] only allow expansion removal from end of table
  src/gui/providers/sensorthings/qgssensorthingssourcewidget.cpp
  src/gui/providers/sensorthings/qgssensorthingssourcewidget.h
Labels: backport release-3_40

#60411 fix crash in editing without current layer
  src/gui/maptools/qgsmaptoolcapture.cpp
Labels: backport release-3_40

#60422 Fix handling of multiple consecutive tabs with HTML text rendering (backport)
  src/core/textrenderer/qgstextdocument.cpp
  tests/src/python/test_qgstextrenderer.py
  tests/testdata/control_images/text_renderer/text_tab_multiple_html/text_tab_multiple_html.png
  tests/testdata/control_images/text_renderer/text_tab_multiple_html/text_tab_multiple_html_mask.png
Labels: Backport

#60420 [sensorthings] Offer MultiDatastreams as valid expansion targets
  src/core/providers/sensorthings/qgssensorthingsutils.cpp
  tests/src/python/test_provider_sensorthings.py
Labels: backport release-3_40

#60419 [sensorthings] Fix provider does not work with oauth2 config method
  src/core/providers/sensorthings/qgssensorthingsshareddata.cpp
Labels: backport release-3_40

#60436 [Processing][GUI] Fix initialisation of "Use Z-coordinate for interpolation" checkbox in InterpolationDataWidget ("TIN interpolation" / "IDW interpolation")
  python/plugins/processing/algs/qgis/ui/InterpolationWidgets.py
Labels: Processing, GUI/UX, Bug, backport release-3_40

#60433 include destination file name in the error message when export of vector layer fails (fix #49567)
  src/app/qgisapp.cpp
  src/app/qgisapp.h
Labels: GUI/UX, Vectors, backport release-3_40

#60432 [processing] "Order by expression" algorithm needs to regenerate the primary key
  src/analysis/processing/qgsalgorithmorderbyexpression.cpp
  src/analysis/processing/qgsalgorithmorderbyexpression.h
Labels: Processing, Bug, backport release-3_40

#60424 When changing rect text annotation to fixed size mode, use current size
  src/app/annotations/qgsannotationitempropertieswidget.cpp
  src/gui/annotations/qgsannotationitemwidget_impl.cpp
Labels: backport release-3_40

#60423 Fix crash in text renderer when wrapping with one word + small rect
  src/core/textrenderer/qgstextdocumentmetrics.cpp
  tests/src/python/test_qgstextrenderer.py
  tests/testdata/control_images/text_renderer/wrap_small_rect_one_word/wrap_small_rect_one_word.png
  tests/testdata/control_images/text_renderer/wrap_small_rect_one_word/wrap_small_rect_one_word_mask.png
Labels: backport release-3_40

#60448 More fixes for use of inline data for SVG content
  python/PyQt6/core/auto_additions/qgsabstractcontentcache.py
  python/PyQt6/core/auto_generated/qgsabstractcontentcache.sip.in
  python/core/auto_additions/qgsabstractcontentcache.py
  python/core/auto_generated/qgsabstractcontentcache.sip.in
  src/core/qgsabstractcontentcache.cpp
  src/core/qgsabstractcontentcache.h
  src/core/qgsabstractcontentcache_p.h
  tests/src/core/testqgssvgcache.cpp
  tests/src/python/test_qgssvgcache.py
Labels: backport release-3_40

#60374 [sensorthings] Hide proxy fields for interval fields in filter builder
  python/PyQt6/core/auto_generated/providers/sensorthings/qgssensorthingsutils.sip.in
  python/core/auto_generated/providers/sensorthings/qgssensorthingsutils.sip.in
  src/core/providers/sensorthings/qgssensorthingsutils.cpp
  src/core/providers/sensorthings/qgssensorthingsutils.h
  src/gui/providers/sensorthings/qgssensorthingssourceselect.cpp
  src/gui/providers/sensorthings/qgssensorthingssourcewidget.cpp
  tests/src/python/test_provider_sensorthings.py
Labels: backport release-3_40

#60441 Auth manager ux tweaks
  python/PyQt6/core/auto_additions/qgsauthmanager.py
  python/PyQt6/core/auto_generated/auth/qgsauthmanager.sip.in
  python/core/auto_additions/qgsauthmanager.py
  python/core/auto_generated/auth/qgsauthmanager.sip.in
  src/core/auth/qgsauthmanager.cpp
  src/core/auth/qgsauthmanager.h
  src/gui/auth/qgsautheditorwidgets.cpp
  src/gui/auth/qgsauthguiutils.cpp
  src/gui/auth/qgsauthmasterpassresetdialog.cpp
  src/gui/auth/qgsauthmasterpassresetdialog.h
  src/gui/qgscredentialdialog.cpp
  src/ui/auth/qgsauthmasterpassresetdialog.ui
Labels: GUI/UX

#60472 More descriptive expression parsing errors when a function is not found
  src/core/qgsexpressionparser.yy
  tests/testdata/qgis_server/wfs_getFeature_1_0_0_EXP_FILTER_invalid_expression_1_0_0.txt
Labels: backport release-3_40

#60480 add missed import and fix getThemeIcon() call (follow-up #60261)
  python/plugins/processing/script/ScriptEditorDialog.py
Labels: Processing, GUI/UX, backport release-3_40

#60479 Mention in the docs that to_string is not locale-aware
  resources/function_help/json/to_string
Labels: GUI/UX, Bug

#60481 Use reply content as an error string if it is plain text
  src/core/stac/qgsstaccontroller.cpp
Labels: Bug, STAC

#60476 when adding WMS/WFS layers from Browser use project CRS if it is supported by the server (fix #44325)
  src/providers/wfs/qgswfsdataitems.cpp
  src/providers/wms/qgswmsdataitems.cpp
Labels: QGIS Browser, backport release-3_40

#57985 Fix pasting unsaved changes as temporary scratch layers
  src/app/qgisapp.cpp
Labels: Bug

#60503 Fix QgsError.isEmpty() documentation
  python/PyQt6/core/auto_generated/qgserror.sip.in
  python/core/auto_generated/qgserror.sip.in
  src/core/qgserror.h
Labels: backport release-3_40

#60497 [Reshape tool] keep original direction when reshaping linestrings
  src/core/geometry/qgsgeos.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
Labels: backport release-3_40

#60410 [ogr] Fix mapinfo (multi)polygon type layers
  src/core/providers/ogr/qgsogrproviderutils.cpp
  tests/src/python/test_provider_ogr.py
  tests/src/python/test_provider_ogr_gpkg.py
  tests/testdata/mapinfo/multipoly.dat
  tests/testdata/mapinfo/multipoly.id
  tests/testdata/mapinfo/multipoly.map
  tests/testdata/mapinfo/multipoly.tab
Labels: Bug

#60465 Check conformance classes to avoid duplicate collection/item entries
  src/core/stac/qgsstaccatalog.cpp
  src/core/stac/qgsstaccatalog.h
  src/core/stac/qgsstacdataitems.cpp
  src/gui/stac/qgsstacsourceselect.cpp
Labels: Bug, STAC

#60517 Chunk nodes: fix a crash when updating a node already pending update
  src/3d/chunks/qgschunkedentity.cpp
Labels: 3D, Bug

#60513 do not overwrite ignore reported extents settting with the default value (fix #60496)
  src/gui/qgsnewhttpconnection.cpp
Labels: WMS data provider, backport release-3_40

#60521 [expression] Fix $id integer overflow by removing static_cast<int>
  src/core/expression/qgsexpressionfunction.cpp
Labels: backport release-3_40

#60139 Fix include/exclude in QgsRange
  python/PyQt6/core/auto_generated/qgsrange.sip.in
  python/core/auto_generated/qgsrange.sip.in
  src/core/qgsrange.h
  src/core/vector/qgsvectorlayertemporalproperties.cpp
  src/gui/qgsvectorlayertemporalpropertieswidget.cpp
  tests/src/python/test_qgsrange.py
  tests/src/python/test_qgsvectorlayertemporalproperties.py
Labels: backport release-3_40

#60541 docs(qgsprocessingcontext): fix typo
  python/PyQt6/core/auto_generated/processing/qgsprocessingcontext.sip.in
  python/core/auto_generated/processing/qgsprocessingcontext.sip.in
  src/core/processing/qgsprocessingcontext.h
Labels: backport release-3_40

#60547 Fix misbehaving virtual point cloud chunks in 3D views
  src/3d/qgsvirtualpointcloudentity_p.cpp
Labels: 3D, Bug

#60551 [processing] Use matrix editor panel value if open
  src/gui/processing/qgsprocessingmatrixparameterdialog.cpp
  src/gui/processing/qgsprocessingmatrixparameterdialog.h
Labels: backport release-3_40

#60548 Some fixes for layers with a compound crs
  src/app/qgisapp.cpp
  src/core/qgsmaplayer.cpp
  src/gui/layertree/qgslayertreemapcanvasbridge.cpp
Labels: backport release-3_40

#60552 Fix checkbox search widget wrapper for boolean field types
  src/gui/editorwidgets/qgscheckboxsearchwidgetwrapper.cpp
  tests/src/python/test_qgssearchwidgetwrapper.py
Labels: backport release-3_40

#60550 [processing] Fix exception when algorithm has no output layers
  python/plugins/processing/gui/Postprocessing.py
Labels: Regression, backport release-3_40

#60549 Fix status bar coordinate display when project has no CRS
  src/app/qgsstatusbarcoordinateswidget.cpp
  src/app/qgsstatusbarcoordinateswidget.h
  src/core/qgscoordinateutils.cpp
Labels: backport release-3_40

#60555 Coverity fixes
  src/core/elevation/qgsabstractprofilesurfacegenerator.cpp
  src/core/labeling/qgstextlabelfeature.h
  src/core/pointcloud/expression/qgspointcloudexpression.cpp
  src/core/pointcloud/qgspointclouddataprovider.cpp
  src/core/pointcloud/qgspointcloudlayerundocommand.h
  src/core/settings/qgssettingsproxy.h
  src/gui/auth/qgsauthmasterpassresetdialog.cpp
Labels: backport release-3_40

#60463 Add a CMAKE option to completely disable Python
  CMakeLists.txt
  INSTALL.md
  src/app/CMakeLists.txt
Labels: Squash!

#59586 add detection of explicit vsi-prefix in URI-address
  src/gui/ogr/qgsgdalguiutils.cpp
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsgdalguiutils.cpp
Labels: backport release-3_40

#60574 Diamond star marker shape is not closed
  src/core/symbology/qgsmarkersymbollayer.cpp
Labels: backport release-3_40

#60576 Fix some app slowdown when many queries visible in network/db log panel
  src/app/devtools/networklogger/qgsnetworkloggerpanelwidget.cpp
  src/app/devtools/querylogger/qgsqueryloggerpanelwidget.cpp
Labels: Optimization, backport release-3_40

#60592 [Clang-Tidy] Fix clang-tidy because of unity build
  .docker/docker-qgis-clangtidy.sh
Labels: backport release-3_40

#60597 Handle polar CRS with NE axis order
  src/core/proj/qgsprojutils.cpp
  tests/src/core/testqgsprojutils.cpp
Labels: Projections/Transformations, backport release-3_40

#60602 Fix maybe uninitialized warnings in QgsLayerTreeRegistryBridge::layersAdded
  src/core/layertree/qgslayertreeregistrybridge.cpp
Labels: Cleanup, backport release-3_40

#60594 fix: add exhautive clang format options
  .clang-format
  .github/workflows/pr-run-pre-commit.yml.disabled
Labels: backport release-3_40

#60624 [processing] Fix alg. postprocessing regression failing to add all but one output to the project
  python/plugins/processing/gui/Postprocessing.py
Labels: Bug, backport release-3_40

#60631 Fix normalising constant in quartic kernel
  src/analysis/raster/qgskde.cpp
Labels: backport release-3_40

#60629 Lots of memory leak fixes
  python/PyQt6/core/auto_generated/geometry/qgsbox3d.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsgeometry.sip.in
  python/PyQt6/core/auto_generated/geometry/qgspoint.sip.in
  python/core/auto_generated/geometry/qgsbox3d.sip.in
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  python/core/auto_generated/geometry/qgspoint.sip.in
  src/core/geometry/qgsbox3d.h
  src/core/geometry/qgsgeometry.h
  src/core/geometry/qgspoint.h
  src/core/providers/ogr/qgsogrproviderutils.cpp
  src/core/qgsgml.cpp
  src/core/qgsgml.h
  src/core/qgsogcutils.h
  src/core/qgsogrutils.cpp
  src/core/qgssqlstatementparser.yy
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/python/test_provider_ogr.py
Labels: backport release-3_40

#60644 qgs3dmapsettings: Fix terrain generation on 3d view creation
  src/3d/qgs3dmapsettings.cpp
  tests/src/3d/testqgs3drendering.cpp
Labels: 3D, Bug

#60639 do not show Edit, Duplicate and Refresh actions for multiple connection items
  src/gui/providers/gdal/qgsgdalclouddataitemguiprovider.cpp
  src/gui/providers/sensorthings/qgssensorthingsdataitemguiprovider.cpp
  src/gui/tiledscene/qgstiledscenedataitemguiprovider.cpp
  src/gui/vectortile/qgsvectortiledataitemguiprovider.cpp
  src/providers/arcgisrest/qgsarcgisrestdataitemguiprovider.cpp
  src/providers/hana/qgshanadataitemguiprovider.cpp
  src/providers/mssql/qgsmssqldataitemguiprovider.cpp
  src/providers/postgres/qgspostgresdataitemguiprovider.cpp
  src/providers/wcs/qgswcsdataitemguiprovider.cpp
  src/providers/wfs/qgswfsdataitemguiprovider.cpp
  src/providers/wms/qgswmsdataitemguiproviders.cpp
Labels: GUI/UX, backport release-3_40

#60653 Catch transform errors in QgsWFSProvider::getCapabilities
  src/providers/wfs/qgswfsprovider.cpp
Labels: backport release-3_40

#60650 Fix leaks in layer definition loading code
  src/core/qgslayerdefinition.cpp
Labels: backport release-3_40

#60627 [stac] Port more API to use unique_ptr
  src/core/stac/qgsstaccontroller.cpp
  src/core/stac/qgsstaccontroller.h
  src/core/stac/qgsstacdataitems.cpp
  src/core/stac/qgsstacdataitems.h
  src/core/stac/qgsstacparser.cpp
  src/core/stac/qgsstacparser.h
  src/gui/stac/qgsstacsourceselect.cpp
  tests/src/core/testqgsstac.cpp
Labels: Cleanup

#60435 Handle when `/collections` endpoint returns paginated results
  src/gui/stac/qgsstacsearchparametersdialog.cpp
  src/gui/stac/qgsstacsearchparametersdialog.h
  src/gui/stac/qgsstacsourceselect.cpp
  src/gui/stac/qgsstacsourceselect.h
Labels: Bug, STAC

#60563 Implement click-move-click & snapping behavior for the georeferencer's move GCP point tool
  src/app/georeferencer/qgsgcpcanvasitem.cpp
  src/app/georeferencer/qgsgeorefdatapoint.cpp
  src/app/georeferencer/qgsgeorefdatapoint.h
  src/app/georeferencer/qgsgeorefmainwindow.cpp
  src/app/georeferencer/qgsgeorefmainwindow.h
  src/app/georeferencer/qgsgeoreftooldeletepoint.cpp
  src/app/georeferencer/qgsgeoreftooldeletepoint.h
  src/app/georeferencer/qgsgeoreftoolmovepoint.cpp
  src/app/georeferencer/qgsgeoreftoolmovepoint.h
Labels: Georeferencer

#60659 Fix clang-tidy ci
  .docker/docker-qgis-clangtidy.sh
Labels: CI/GitHub-Actions

#60640 clang-tidy: Ignore the external directory
  .clang-tidy
  external/.clang-tidy
Labels: CI/GitHub-Actions

#60599 pdal - provider : Add a simple text reader test
  tests/src/providers/testqgspdalprovider.cpp
  tests/testdata/point_clouds/text/cloud.txt
Labels: testsuite

#60138 chore(optimization): Tiny optimization for pointsInternal
  src/core/geometry/qgsellipse.cpp
Labels: API, backport release-3_40

#60657 do not enable default Duplicate Feature and Digitize action for geometryless layers (refs #57916)
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/app/qgisapp.cpp
  src/core/qgis.h
  src/gui/actions/qgsmaplayeraction.cpp
Labels: GUI/UX, backport release-3_40

#60671 [mssql] Fix empty extent handling
  src/providers/mssql/qgsmssqlprovider.cpp
  tests/src/python/providertestbase.py
  tests/src/python/test_provider_mssql.py
Labels: MS SQL data provider, backport release-3_40

#60652 Move QgsLegendStyle::Style enum to Qgis, rename to LegendComponent
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_additions/qgslegendstyle.py
  python/PyQt6/core/auto_generated/layout/qgslayoutitemlegend.sip.in
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/PyQt6/core/auto_generated/qgslegendrenderer.sip.in
  python/PyQt6/core/auto_generated/qgslegendsettings.sip.in
  python/PyQt6/core/auto_generated/qgslegendstyle.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/layout/qgslayoutitemlegend.sip.in
  python/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgslegendrenderer.sip.in
  python/core/auto_generated/qgslegendsettings.sip.in
  python/core/auto_generated/qgslegendstyle.sip.in
  src/core/layertree/qgscolorramplegendnode.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/layout/qgscompositionconverter.cpp
  src/core/layout/qgslayoutitemlegend.cpp
  src/core/layout/qgslayoutitemlegend.h
  src/core/qgis.h
  src/core/qgslegendrenderer.cpp
  src/core/qgslegendrenderer.h
  src/core/qgslegendsettings.cpp
  src/core/qgslegendsettings.h
  src/core/qgslegendstyle.cpp
  src/core/qgslegendstyle.h
  src/gui/layout/qgslayoutguiutils.cpp
  src/gui/layout/qgslayoutlegendwidget.cpp
  src/server/services/wms/qgswmsgetlegendgraphics.cpp
  src/server/services/wms/qgswmsparameters.cpp
  tests/src/core/testqgslegendrenderer.cpp
Labels: Cleanup

#60679 Handle spilhaus projection on proj 9.6
  src/core/proj/qgscoordinatereferencesystem.cpp
  src/core/proj/qgscoordinatereferencesystemutils.cpp
Labels: backport release-3_40

#60695 release.pl: fail if transifex doesn't deliver an existing translation
  scripts/release.pl
  scripts/tsstat.pl
Labels: backport release-3_40

#60701 Show tooltips for column headings in Execute SQL dialog
  src/core/qgsqueryresultmodel.cpp
Labels: backport release-3_40

#60675 [GUI] QgsRasterBandComboBox: avoid oversized UI caused by too long band name & description
  src/gui/raster/qgsrasterbandcombobox.cpp
Labels: GUI/UX, Bug, backport release-3_40

#60699 Optimise conversion of QgsAttributes to Python objects
  python/PyQt6/core/auto_generated/qgsattributes.sip.in
  python/core/auto_generated/qgsattributes.sip.in
  src/core/qgsattributes.h
Labels: Optimization, backport release-3_40, backport release-3_42

#60682 [mssql] Fix resolving geometry types when invalid geometries present
  src/providers/mssql/qgsmssqldataitems.cpp
  src/providers/mssql/qgsmssqlgeomcolumntypethread.cpp
  src/providers/mssql/qgsmssqlgeomcolumntypethread.h
  src/providers/mssql/qgsmssqlproviderconnection.cpp
  src/providers/mssql/qgsmssqlsourceselect.cpp
  src/providers/mssql/qgsmssqlsourceselect.h
  src/providers/mssql/qgsmssqltablemodel.h
  tests/src/providers/testqgsmssqlprovider.cpp
  tests/src/python/test_qgsproviderconnection_mssql.py
Labels: MS SQL data provider, backport release-3_40, backport release-3_42

#60694 don't treat all geometry collections as points/lines when noding
  src/core/geometry/qgsgeos.cpp
Labels: backport release-3_40, backport release-3_42

#60641 Add an option to delete unused categories in the categorized symbol renderer widget
  python/PyQt6/gui/auto_generated/symbology/qgscategorizedsymbolrendererwidget.sip.in
  python/gui/auto_generated/symbology/qgscategorizedsymbolrendererwidget.sip.in
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgscategorizedsymbolrendererwidget.h
  src/ui/qgscategorizedsymbolrendererwidget.ui
Labels: Feature

#60727 [mssql] Actually run all tests on CI
  src/providers/mssql/qgsmssqlprovider.cpp
  tests/src/python/test_provider_mssql.py
Labels: Chore, backport release-3_40, backport release-3_42

#60546 [ux] Fix and harmonize drag and drop in Graduated, Categorized and Point Cloud classification symbol lists
  src/gui/pointcloud/qgspointcloudclassifiedrendererwidget.cpp
  src/gui/pointcloud/qgspointcloudclassifiedrendererwidget.h
  src/gui/symbology/qgscategorizedsymbolrendererwidget.cpp
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
Labels: GUI/UX, Symbology, Bug, Point Clouds, backport queued_ltr_backports, backport release-3_42

#60741 explicitly set UTF-8 encoding when reading/writing color palettes (fix #60740)
  src/core/symbology/qgssymbollayerutils.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#60759 Always fallback to default coordinate operations when bounding box transfrom fails
  src/core/proj/qgscoordinatetransform.cpp
  tests/src/python/test_qgscoordinatetransform.py
Labels: Regression, backport release-3_40, backport release-3_42

#60761 [feature] Add stored query support to Execute SQL window
  images/images.qrc
  images/themes/default/mIconStoredQueries.svg
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/PyQt6/gui/auto_additions/qgsgui.py
  python/PyQt6/gui/auto_additions/qgsstoredquerymanager.py
  python/PyQt6/gui/auto_generated/qgsgui.sip.in
  python/PyQt6/gui/auto_generated/qgsstoredquerymanager.sip.in
  python/PyQt6/gui/gui_auto.sip
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  python/gui/auto_additions/qgsgui.py
  python/gui/auto_additions/qgsstoredquerymanager.py
  python/gui/auto_generated/qgsgui.sip.in
  python/gui/auto_generated/qgsstoredquerymanager.sip.in
  python/gui/gui_auto.sip
  python/plugins/db_manager/db_manager.py
  python/plugins/db_manager/db_manager_plugin.py
  python/plugins/db_manager/dlg_sql_layer_window.py
  python/plugins/db_manager/dlg_sql_window.py
  python/plugins/db_manager/ui/DlgSqlLayerWindow.ui
  src/core/qgis.h
  src/core/settings/qgssettingstree.h
  src/gui/CMakeLists.txt
  src/gui/qgsgui.cpp
  src/gui/qgsgui.h
  src/gui/qgsqueryresultwidget.cpp
  src/gui/qgsqueryresultwidget.h
  src/gui/qgsstoredquerymanager.cpp
  src/gui/qgsstoredquerymanager.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsstoredquerymanager.py
Labels: Feature, Needs Documentation, Changelog

#60744 Project Translation considers descriptions of Value Map Widget
  src/core/project/qgsproject.cpp
  src/core/vector/qgsvectorlayer.cpp
  src/gui/vector/qgsattributesformproperties.cpp
  tests/src/core/testqgstranslateproject.cpp
  tests/testdata/project_translation/points_translation.qgs
  tests/testdata/project_translation/points_translation.ts
  tests/testdata/project_translation/points_translation_de.qm
Labels: backport queued_ltr_backports, backport release-3_42

#60793 Add missing clone method to QgsNominatimLocatorFilter
  python/PyQt6/gui/auto_generated/qgsgeocoderlocatorfilter.sip.in
  python/gui/auto_generated/qgsgeocoderlocatorfilter.sip.in
  src/app/locator/qgsnominatimlocatorfilter.cpp
  src/app/locator/qgsnominatimlocatorfilter.h
  src/gui/qgsgeocoderlocatorfilter.h
Labels: backport release-3_40, backport release-3_42
