Repository qgis/QGIS, pull requests merged in 2025-08, with the labels that each got.

#62738 Also detect 'dted' phrase in raster layer names as hints that a layer represents an elevation surface (Fix #62723)
  src/core/raster/qgsrasterlayerelevationproperties.cpp
Labels: backport release-3_44

#62755 testqgsexpression: Handle timezone format change with Qt 6.8
  tests/src/core/testqgsexpression.cpp
Labels: testsuite

#62760 Fix '^': unsafe mix of type 'size_t' and type 'bool' in operation warning
  src/core/pointcloud/qgspointcloudrequest.cpp
Labels: backport queued_ltr_backports, backport release-3_44

#62731 [GUI] Disable "Save As…" for not supported layer types (Fix #62722)
  src/app/qgsapplayertreeviewmenuprovider.cpp
Labels: Regression, Bug, backport release-3_44

#62786 testqgs3drendering: Properly free scene in testExtrudedPolygonsClipping
  tests/src/3d/testqgs3drendering.cpp
Labels: 3D, backport queued_ltr_backports, backport release-3_44

#62807 qgsplotcanvas: Fix mousePressEvent when no tool is set
  src/gui/plot/qgsplotcanvas.cpp
Labels: Bug, backport release-3_40, backport release-3_44

#62784 Remove quotes around CMAKE_C_COMPILER_LAUNCHER
  CMakeLists.txt
Labels: Build/Install

#62855 Improve memory safety in pal
  src/core/pal/problem.cpp
  src/core/pal/problem.h
Labels: Cleanup

#62794 Show distance:elevation scale ratio in profile settings menu
  python/PyQt6/gui/auto_additions/qgselevationprofilecanvas.py
  python/PyQt6/gui/auto_generated/elevation/qgselevationprofilecanvas.sip.in
  python/gui/auto_additions/qgselevationprofilecanvas.py
  python/gui/auto_generated/elevation/qgselevationprofilecanvas.sip.in
  src/app/elevation/qgselevationprofilewidget.cpp
  src/app/elevation/qgselevationprofilewidget.h
  src/gui/elevation/qgselevationprofilecanvas.cpp
  src/gui/elevation/qgselevationprofilecanvas.h
  tests/src/python/test_qgselevationprofilecanvas.py
Labels: Feature, Needs Documentation, Changelog, Profile tool

#62863 [WFS] Only use `NAMESPACE` for WFS 1.x and `NAMESPACES` for WFS 2.0.x (Fix #62708)
  src/providers/wfs/qgswfsdescribefeaturetype.cpp
  src/providers/wfs/qgswfsfeatureiterator.cpp
  src/providers/wfs/qgswfsgetfeature.cpp
  tests/src/python/test_provider_wfs.py
Labels: Regression, Bug, WFS data provider, backport release-3_40, backport release-3_44

#62886 [ci] Don't rely on qt version switch for extra compilation options
  .docker/docker-qgis-build.sh
  .github/workflows/run-tests.yml
Labels: Chore

#62614 [ui] Fix dark progress bar title in statistics panel
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_40, backport release-3_44

#62858 Fix 3D terrain texture tiles stop loading
  src/3d/chunks/qgschunkedentity.cpp
  src/3d/chunks/qgschunkqueuejob.cpp
  src/3d/chunks/qgschunkqueuejob.h
  src/3d/mesh/qgsmeshterraingenerator.cpp
  src/3d/mesh/qgsmeshterraintileloader_p.h
  src/3d/qgs3dsceneexporter.cpp
  src/3d/qgsglobechunkedentity.cpp
  src/3d/qgsglobechunkedentity.h
  src/3d/qgspointcloudlayerchunkloader_p.cpp
  src/3d/qgspointcloudlayerchunkloader_p.h
  src/3d/qgsrulebasedchunkloader_p.cpp
  src/3d/qgsrulebasedchunkloader_p.h
  src/3d/qgstiledscenechunkloader_p.cpp
  src/3d/qgstiledscenechunkloader_p.h
  src/3d/qgsvectorlayerchunkloader_p.cpp
  src/3d/qgsvectorlayerchunkloader_p.h
  src/3d/terrain/qgsdemterraintileloader_p.cpp
  src/3d/terrain/qgsdemterraintileloader_p.h
  src/3d/terrain/qgsflatterraingenerator.cpp
  src/3d/terrain/qgsflatterraingenerator.h
  src/3d/terrain/qgsquantizedmeshterraingenerator.cpp
  src/3d/terrain/qgsterrainentity.cpp
  src/3d/terrain/qgsterrainentity.h
Labels: backport queued_ltr_backports, backport release-3_44

#62864 Make QGIS 3D Mount Everest compatible
  src/3d/terrain/qgsterraingenerator.cpp
Labels: backport queued_ltr_backports, backport release-3_44

#62572 Feature/add chamfer fillet
  python/PyQt6/core/auto_additions/qgsgeometryutils.py
  python/PyQt6/core/auto_generated/geometry/qgsgeometry.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsgeometryutils.sip.in
  python/PyQt6/core/auto_generated/geometry/qgsgeometryutils_base.sip.in
  python/core/auto_additions/qgsgeometryutils.py
  python/core/auto_generated/geometry/qgsgeometry.sip.in
  python/core/auto_generated/geometry/qgsgeometryutils.sip.in
  python/core/auto_generated/geometry/qgsgeometryutils_base.sip.in
  src/core/geometry/qgsgeometry.cpp
  src/core/geometry/qgsgeometry.h
  src/core/geometry/qgsgeometryutils.cpp
  src/core/geometry/qgsgeometryutils.h
  src/core/geometry/qgsgeometryutils_base.cpp
  src/core/geometry/qgsgeometryutils_base.h
  tests/src/core/geometry/testqgsgeometryutilsbase.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsgeometry_fillet_chamfer.py
Labels: API

#62938 [plots] Introduction of a plot data gatherer from vector layers
  python/PyQt6/core/auto_additions/qgsplot.py
  python/PyQt6/core/auto_additions/qgsvectorlayerplotdatagatherer.py
  python/PyQt6/core/auto_generated/plot/qgsplot.sip.in
  python/PyQt6/core/auto_generated/plot/qgsvectorlayerplotdatagatherer.sip.in
  python/PyQt6/core/core_auto.sip
  python/core/auto_additions/qgsplot.py
  python/core/auto_additions/qgsvectorlayerplotdatagatherer.py
  python/core/auto_generated/plot/qgsplot.sip.in
  python/core/auto_generated/plot/qgsvectorlayerplotdatagatherer.sip.in
  python/core/core_auto.sip
  src/core/CMakeLists.txt
  src/core/plot/qgsplot.cpp
  src/core/plot/qgsplot.h
  src/core/plot/qgsvectorlayerplotdatagatherer.cpp
  src/core/plot/qgsvectorlayerplotdatagatherer.h
  tests/src/python/CMakeLists.txt
  tests/src/python/test_qgsplotdatagatherers.py
Labels: Squash!

#62979 [themes][ui] Fix color for disabled, read-only line edits/widgets for dark themes
  resources/themes/Blend of Gray/style.qss
  resources/themes/Night Mapping/style.qss
Labels: backport release-3_40, backport release-3_44

#62994 Remove mssql tests from qt6 blocklist
  .ci/test_blocklist_qt6.txt
Labels: Chore
