Repository qgis/QGIS, pull requests merged in 2025-06, with the labels that each got.

#62062 [vector tiles] Fix handling of source containing a relative path to the root of the server hosting the style json
  src/core/vectortile/qgsvectortileutils.cpp
  tests/src/core/testqgsvectortileutils.cpp
  tests/testdata/vector_tile/styles/style2.json
Labels: backport queued_ltr_backports

#62068 [gui] Fix confusing save vector layer dialog's include z dimension checkbox when geometry combobox is set to automatic
  src/gui/ogr/qgsvectorlayersaveasdialog.cpp
  src/ui/qgsvectorlayersaveasdialogbase.ui
Labels: backport queued_ltr_backports

#62075 [processing] Fix parameterAsExtentGeometry not returning a geometry when the CRS extracted from the string matches the function's CRS parameter
  src/core/processing/qgsprocessingparameters.cpp
Labels: backport queued_ltr_backports

#62070 Fix project translation support for .qgz projects
  src/core/project/qgsproject.cpp
Labels: backport queued_ltr_backports

#62091 Fix PDF export to write PDF/X namespace only when needed
  src/core/layout/qgslayoutexporter.cpp
Labels: Bug, backport queued_ltr_backports

#62074 [symbology] Fix line/point pattern fill symbol layer freezing QGIS when rendering an insane amount of points/lines per pixel
  python/PyQt6/core/auto_additions/qgis.py
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_additions/qgis.py
  python/core/auto_generated/qgis.sip.in
  src/core/layertree/qgslayertreemodel.cpp
  src/core/layertree/qgslayertreemodellegendnode.cpp
  src/core/qgis.h
  src/core/qgsrendercontext.cpp
  src/core/symbology/qgsfillsymbollayer.cpp
  src/core/symbology/qgslinesymbollayer.cpp
  src/core/symbology/qgsmarkersymbollayer.cpp
  src/core/symbology/qgssymbollayer.cpp
Labels: backport queued_ltr_backports

#62105 [attribute table] Fix missing form feature context for editor widgets such as relation reference editor widget
  src/gui/attributetable/qgsattributetabledelegate.cpp
Labels: backport release-3_40

#62063 [keyboard shorcuts] When importing/loading keyboard shortcuts, insure preexisting shortcuts for different actions are taken into consideration
  src/gui/qgsconfigureshortcutsdialog.cpp
  src/gui/qgsconfigureshortcutsdialog.h
Labels: GUI/UX

#62112 Use protected, not private virtual methods for map tool classes (Backport)
  python/PyQt6/gui/auto_generated/maptools/qgsmaptoolcapture.sip.in
  python/PyQt6/gui/auto_generated/maptools/qgsmaptoolcapturelayergeometry.sip.in
  python/PyQt6/gui/auto_generated/maptools/qgsmaptooldigitizefeature.sip.in
  python/gui/auto_generated/maptools/qgsmaptoolcapture.sip.in
  python/gui/auto_generated/maptools/qgsmaptoolcapturelayergeometry.sip.in
  python/gui/auto_generated/maptools/qgsmaptooldigitizefeature.sip.in
  src/gui/maptools/qgsmaptoolcapture.h
  src/gui/maptools/qgsmaptoolcapturelayergeometry.h
  src/gui/maptools/qgsmaptooldigitizefeature.h
Labels: Backport

#62115 Cleanup geometry collection creation from wkt
  python/PyQt6/core/auto_generated/geometry/qgsgeometrycollection.sip.in
  python/core/auto_generated/geometry/qgsgeometrycollection.sip.in
  src/core/geometry/qgsgeometrycollection.cpp
  src/core/geometry/qgsgeometrycollection.h
  src/core/geometry/qgsmulticurve.cpp
  src/core/geometry/qgsmultilinestring.cpp
  src/core/geometry/qgsmultipoint.cpp
  src/core/geometry/qgsmultipolygon.cpp
  src/core/geometry/qgsmultisurface.cpp
Labels: Cleanup

#62010 Fix QgsUnsetAttributeValue toString
  src/core/providers/memory/qgsmemoryprovider.cpp
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsfield.cpp
  src/core/qgsvariantutils.cpp
  src/core/qgsvariantutils.h
  src/core/vector/qgsvectorlayerutils.cpp
  src/providers/hana/qgshanaprovider.cpp
  src/providers/mssql/qgsmssqlprovider.cpp
  src/providers/oracle/qgsoracleprovider.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/spatialite/qgsspatialiteprovider.cpp
  tests/src/gui/testqgstexteditwrapper.cpp
  tests/src/python/test_provider_postgres.py
  tests/src/python/test_qgsvectorlayerutils_postgres.py
Labels: Bug, backport queued_ltr_backports

#62150 Better logic for chancing from Categorized renderer to Rule based renderer
  src/core/symbology/qgsrulebasedrenderer.cpp
  tests/src/core/testqgsrulebasedrenderer.cpp
Labels: backport queued_ltr_backports

#62156 [OAPIF provider] Recognize up-to-date 'basic-spatial-functions' conformance class name
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/oapif/qgsoapifprovider.h
  tests/src/python/test_provider_oapif.py
Labels: Bug, backport queued_ltr_backports

#62133 Update check processings
  src/analysis/processing/qgsalgorithmcheckgeometryangle.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryarea.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrysliverpolygon.cpp
Labels: Processing

#62162 [fix] Update Processing toolbox search after updating the provider list
  python/PyQt6/gui/auto_additions/qgsprocessingtoolboxtreeview.py
  python/PyQt6/gui/auto_generated/processing/qgsprocessingtoolboxtreeview.sip.in
  python/gui/auto_additions/qgsprocessingtoolboxtreeview.py
  python/gui/auto_generated/processing/qgsprocessingtoolboxtreeview.sip.in
  src/gui/processing/qgsprocessingtoolboxtreeview.cpp
  src/gui/processing/qgsprocessingtoolboxtreeview.h
Labels: Processing, GUI/UX, Bug

#62049 [vector] Fix vector file writer's handling of (read-only) .gpkg.zip files
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/qgsvectorfilewriter.cpp
  tests/src/python/test_qgsvectorfilewriter.py
Labels: backport queued_ltr_backports

#62159 Correct extent on layer while editing
  src/core/vector/qgsvectorlayer.cpp
  tests/src/python/test_qgsvectorlayer.py
Labels: backport queued_ltr_backports

#62170 Don't finalize string stats after every value addition
  src/core/qgsstringstatisticalsummary.cpp
Labels: Regression, backport release-3_40

#62186 [queue_ltr_backports] [OAPIF provider] Recognize up-to-date 'basic-spatial-functions' conformance class name
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/oapif/qgsoapifprovider.h
  tests/src/python/test_provider_oapif.py
Labels: Backport

#62177 Fix #59003 - Increase stacksize on Windows to 8MB to avoid some crashes
  CMakeLists.txt
Labels: Windows, backport queued_ltr_backports

#62174 Fix categorized symbol renderer feature counts for null values
  src/core/symbology/qgscategorizedsymbolrenderer.cpp
  tests/src/python/test_qgscategorizedsymbolrenderer.py
Labels: backport queued_ltr_backports

#62165 [OAPIF provider] Take into account ldproxy's itemCount extension to get the feature count
  src/providers/wfs/oapif/qgsoapifcollection.cpp
  src/providers/wfs/oapif/qgsoapifcollection.h
  src/providers/wfs/oapif/qgsoapifprovider.cpp
  src/providers/wfs/oapif/qgsoapifprovider.h
  tests/src/python/test_provider_oapif.py
Labels: Feature

#62203 Fix categorized symbol renderer feature counts for null values (backport)
  src/core/symbology/qgscategorizedsymbolrenderer.cpp
  tests/src/python/test_qgscategorizedsymbolrenderer.py
Labels: Backport

#62209 update CRS icon in the statusbar when project is cleared and default CRS is set to "no projection" (fix #53768)
  src/app/qgisapp.cpp
Labels: GUI/UX

#62124 Fix field mapping widget source expression when loading template
  src/gui/processing/qgsprocessingfieldmapwidgetwrapper.cpp
  src/gui/processing/qgsprocessingfieldmapwidgetwrapper.h
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, GUI/UX, Bug, backport queued_ltr_backports

#62234 fix metadata schemas
  resources/qgis-base-metadata.xsd
  resources/qgis-project-metadata.xsd
  resources/qgis-resource-metadata.xsd
Labels: Metadata

#62200 fix tooltip not showing for align rasters algorithm
  src/gui/processing/qgsprocessingalignrasterlayerswidgetwrapper.cpp
Labels: Processing

#62212 Fix distance calculation with custom projection
  src/core/proj/qgsellipsoidutils.cpp
  src/core/qgsdistancearea.cpp
  tests/src/core/testqgsdistancearea.cpp
Labels: Map Tools, Bug, backport queued_ltr_backports

#62247 [fix] Avoid throwing warnings when reading null JSON values from PostgreSQL
  src/core/qgsjsonutils.cpp
Labels: Bug, PostGIS data provider, backport queued_ltr_backports

#61625 Fix that search column in data source manager is preserved
  python/PyQt6/gui/auto_additions/qgsabstractdbsourceselect.py
  python/PyQt6/gui/auto_generated/providers/qgsabstractdbsourceselect.sip.in
  python/gui/auto_additions/qgsabstractdbsourceselect.py
  python/gui/auto_generated/providers/qgsabstractdbsourceselect.sip.in
  src/gui/providers/ogr/qgsogrdbsourceselect.cpp
  src/gui/providers/ogr/qgsogrdbsourceselect.h
  src/gui/providers/qgsabstractdbsourceselect.cpp
  src/gui/providers/qgsabstractdbsourceselect.h
  src/gui/settings/qgssettingsregistrygui.cpp
  src/providers/mssql/qgsmssqlsourceselect.cpp
  src/providers/mssql/qgsmssqlsourceselect.h
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/postgres/qgspgsourceselect.h
  src/providers/spatialite/qgsspatialitesourceselect.cpp
  src/providers/spatialite/qgsspatialitesourceselect.h
Labels: Freeze Exempt

#62245 Server: Fix endless loop when processing WFS Transaction document with non-mappable attribute names
  src/server/services/wfs/qgswfstransaction.cpp
  src/server/services/wfs/qgswfstransaction_1_0_0.cpp
Labels: backport release-3_40

#62260 Fix segfault on layout legend item with atlas enabled
  src/core/layout/qgslayoutitemlegend.cpp
Labels: Crash/Data Corruption, backport release-3_40

#62253 do not show error in the native interpolation algorithms when input layer can not be obtained from the value (fix #62224)
  python/plugins/processing/algs/qgis/ui/InterpolationWidgets.py
Labels: Processing, backport queued_ltr_backports

#62241 update value of the field widget wrapper when new fields set (fix #39351)
  src/gui/processing/qgsprocessingwidgetwrapperimpl.cpp
  tests/src/gui/testprocessinggui.cpp
Labels: Processing, backport queued_ltr_backports

#62297 Fix depth map for GLSL compatibility
  src/3d/shaders/depth_render.frag
Labels: backport queued_ltr_backports

#62323 Don't return success when nothing happened during reshape
  src/core/geometry/qgsgeos.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
  tests/src/python/test_qgsgeometry.py
Labels: Bug, Digitizing, backport queued_ltr_backports

#62233 Fix select by expression
  src/core/vector/qgsvectorlayer.cpp
Labels: Processing, Bug, backport release-3_40

#62324 Don't trigger reshape logic when using less than two points
  src/app/qgsmaptoolreshape.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
Labels: Bug, Digitizing, backport queued_ltr_backports, backport release-3_44

#62328 Add scrollbar to "Add connection" dialogs and vector tile layer properties dialog
  src/ui/qgshananewconnectionbase.ui
  src/ui/qgsnewhttpconnectionbase.ui
  src/ui/qgsoraclenewconnectionbase.ui
  src/ui/qgspgnewconnectionbase.ui
  src/ui/qgsvectortilelayerpropertiesbase.ui
Labels: Backport, GUI/UX

#62312 Fix avoid overlaps when reshaping whith an active selection
  src/app/qgsmaptoolreshape.cpp
  tests/src/app/testqgsmaptoolreshape.cpp
Labels: Bug, Digitizing, backport queued_ltr_backports, backport release-3_44

#62345 Add points on intersections by default when tracing
  src/core/qgstracer.h
  tests/src/core/testqgstracer.cpp
Labels: Regression, High Priority, Bug, Digitizing, Crash/Data Corruption, backport release-3_40, backport release-3_44

#62376 testqgs3dcameracontroller: Now test for navigation mode shortcut change
  tests/src/3d/testqgs3dcameracontroller.cpp
Labels: testsuite

#62216 [gui] fix GDAL algs missing console call widget switching from batch dialog
  python/plugins/processing/gui/BatchAlgorithmDialog.py
Labels: Processing, backport queued_ltr_backports, backport release-3_44

#62389 Slightly delay background render of layout maps in preview
  src/core/layout/qgslayoutitemmap.cpp
Labels: Optimization, backport release-3_44

#62390 Optimise QgsHueSaturationFilter
  src/core/raster/qgshuesaturationfilter.cpp
Labels: Optimization, backport release-3_44

#62399 More robust way to pick zoom level of a scene layer (2D)
  src/core/tiledscene/qgstiledscenelayerrenderer.cpp
Labels: Bug, backport queued_ltr_backports, Tiled Scene, backport release-3_44

#62394 [server] Server WFS Z gml transactional support
  src/server/services/wfs/qgswfsdescribefeaturetypegml.cpp
  tests/src/python/test_qgsserver_accesscontrol_wfs_transactional.py
Labels: Bug, Server

#62429 Fix crash when exiting QGIS
  src/core/auth/qgsauthconfigurationstoragedb.cpp
Labels: Bug, backport release-3_44

#62438 Fix overflow in vector tile long int attributes
  src/core/vectortile/qgsvectortilemvtdecoder.cpp
  tests/src/core/testqgsvectortilelayer.cpp
  tests/testdata/vector_tile/longint.mbtiles
Labels: Bug, Vector tiles, backport queued_ltr_backports, backport release-3_44
