Repository qgis/QGIS, pull requests merged in 2025-05, with the labels that each got.

#61492 fix(qgsproject): add sip alias removeMapLayersById to removeMapLayers
  .ci/test_blocklist_qt6.txt
  python/PyQt6/core/auto_generated/project/qgsproject.sip.in
  python/core/auto_generated/project/qgsproject.sip.in
  src/core/project/qgsproject.h
  tests/src/python/test_qgsproject.py
Labels: qt6

#61685 Fix debug message in qgsattributetablemodel.cpp
  src/gui/attributetable/qgsattributetablemodel.cpp
Labels: backport release-3_40, backport release-3_42

#61692 Keep full numeric precision when dumping expressions
  src/core/expression/qgsexpressionnodeimpl.cpp
  tests/src/core/testqgsexpression.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61514 Expressions - Add 2 examples with @layer_cursor_point about raster maptip
  resources/function_help/json/raster_attributes
  resources/function_help/json/raster_value
Labels: Rasters, Expressions, backport queued_ltr_backports

#61424 [WMS][Time dimension] Allow group node to expose time dimension
  python/PyQt6/core/auto_generated/layertree/qgslayertreegroup.sip.in
  python/PyQt6/gui/auto_generated/qgsgroupwmsdatadialog.sip.in
  python/core/auto_generated/layertree/qgslayertreegroup.sip.in
  python/gui/auto_generated/qgsgroupwmsdatadialog.sip.in
  src/app/qgisapp.cpp
  src/core/layertree/qgslayertreegroup.cpp
  src/core/layertree/qgslayertreegroup.h
  src/gui/qgsgroupwmsdatadialog.cpp
  src/gui/qgsgroupwmsdatadialog.h
  src/server/services/wms/qgswmsgetcapabilities.cpp
  src/ui/qgsgroupwmsdatadialogbase.ui
  tests/src/python/test_qgsserver_wms_getmap.py
Labels: Feature, Server, Temporal

#61544 Attributes form: Switch to model-based tree views in Vector Layer Properties
  src/gui/CMakeLists.txt
  src/gui/attributeformconfig/qgsattributeformcontaineredit.cpp
  src/gui/attributeformconfig/qgsattributeformcontaineredit.h
  src/gui/attributeformconfig/qgsattributewidgetedit.cpp
  src/gui/attributeformconfig/qgsattributewidgetedit.h
  src/gui/qgsaddtaborgroup.cpp
  src/gui/qgsaddtaborgroup.h
  src/gui/vector/qgsattributesformmodel.cpp
  src/gui/vector/qgsattributesformmodel.h
  src/gui/vector/qgsattributesformproperties.cpp
  src/gui/vector/qgsattributesformproperties.h
  src/gui/vector/qgsvectorlayerproperties.cpp
  src/ui/qgsattributesformproperties.ui
  tests/code_layout/doc_test.json
  tests/src/gui/CMakeLists.txt
  tests/src/gui/testqgsattributesformmodel.cpp
  tests/src/gui/testqgsattributesformproperties.cpp
  tests/testdata/broken_relations2.qgz
Labels: Feature, Forms, GUI/UX, Needs Documentation

#61719 fix(3DAxis): keyboard shortcuts were broken due to missing widget dependency. Switch from QShortcut to eventFilter delegation.
  src/3d/qgs3daxis.cpp
  src/3d/qgs3daxis.h
  src/3d/qgs3dmapcanvas.cpp
Labels: Backport

#61641 #59249 - Add qgis.env.in and cmake step to generate when using vcpkg
  CMakeLists.txt
  ms-windows/dev/qgis.env.in
Labels: Build/Install

#61732 Add missing signal when changing attribute in graduated symbology style panel
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61731 [bug] lazy vector extent not stored in the project
  src/core/qgsmaplayer.cpp
  tests/src/python/test_qgsproject.py
Labels: Bug, backport queued_ltr_backports, backport release-3_42

#61472 [feature] Add a QgsAppGpsTools class to expose QGIS GPS Tools to Python plugins via QgisInterface
  python/PyQt6/core/auto_generated/gps/qgsgpstoolsinterface.sip.in
  python/PyQt6/gui/auto_additions/qgisinterface.py
  python/PyQt6/gui/auto_additions/qgsgpstoolsinterface.py
  python/PyQt6/gui/auto_generated/qgisinterface.sip.in
  python/PyQt6/gui/auto_generated/qgsgpstoolsinterface.sip.in
  python/PyQt6/gui/gui_auto.sip
  python/core/auto_generated/gps/qgsgpstoolsinterface.sip.in
  python/gui/auto_additions/qgisinterface.py
  python/gui/auto_additions/qgsgpstoolsinterface.py
  python/gui/auto_generated/qgisinterface.sip.in
  python/gui/auto_generated/qgsgpstoolsinterface.sip.in
  python/gui/gui_auto.sip
  src/app/CMakeLists.txt
  src/app/gps/qgsappgpsdigitizing.cpp
  src/app/gps/qgsappgpsdigitizing.h
  src/app/gps/qgsappgpstools.cpp
  src/app/gps/qgsappgpstools.h
  src/app/options/qgsgpsoptions.cpp
  src/app/qgisapp.cpp
  src/app/qgisapp.h
  src/app/qgisappinterface.cpp
  src/app/qgisappinterface.h
  src/gui/CMakeLists.txt
  src/gui/qgisinterface.h
  src/gui/qgsgpstoolsinterface.cpp
  src/gui/qgsgpstoolsinterface.h
Labels: Feature, Digitizing, GPS

#61750 Silence github check annotations
  .docker/qgis3-qt5-build-deps.dockerfile
  .docker/qgis3-qt6-build-deps.dockerfile
Labels: Chore, backport queued_ltr_backports, backport release-3_40, backport release-3_42

#61753 QgsDbImportVectorLayerDialog add option to only include selected features when importing
  src/gui/qgsdbimportvectorlayerdialog.cpp
  src/ui/qgsdbimportvectorlayerdialog.ui
Labels: Feature, Changelog

#61768 Update pdal_wrench to 1.2
  external/pdal_wrench/alg.cpp
  external/pdal_wrench/alg.hpp
  external/pdal_wrench/clip.cpp
  external/pdal_wrench/merge.cpp
  external/pdal_wrench/thin.cpp
  external/pdal_wrench/to_vector.cpp
  external/pdal_wrench/translate.cpp
  external/pdal_wrench/utils.hpp
Labels: Changelog, Point Clouds

#61785 [gui][attribute form] Fix text widget not wrapping leading to unreasonably wide attribute form dialog
  src/gui/editorwidgets/qgstextwidgetwrapper.cpp
Labels: Forms, backport queued_ltr_backports, backport release-3_42

#61786 [expressions] Fix concave_hull function help
  resources/function_help/json/concave_hull
Labels: backport queued_ltr_backports, backport release-3_42

#61653 pointcloud statistics: Add support for standard deviation
  src/core/pointcloud/qgspointcloudstatistics.cpp
  src/core/pointcloud/qgspointcloudstatscalculator.cpp
  tests/src/providers/testqgscopcprovider.cpp
  tests/src/providers/testqgseptprovider.cpp
Labels: Point Clouds

#61777 fix colliding fields in processing algs
  python/plugins/processing/algs/qgis/HubDistanceLines.py
  python/plugins/processing/algs/qgis/HubDistancePoints.py
  python/plugins/processing/algs/qgis/TopoColors.py
  src/analysis/processing/qgsalgorithmaddxyfields.cpp
  src/analysis/processing/qgsalgorithmangletonearest.cpp
  src/analysis/processing/qgsalgorithmcalculateoverlaps.cpp
  src/analysis/processing/qgsalgorithmserviceareafromlayer.cpp
  src/analysis/processing/qgsalgorithmshortestline.cpp
  src/analysis/processing/qgsalgorithmshortestpathlayertopoint.cpp
  src/analysis/processing/qgsalgorithmshortestpathpointtolayer.cpp
  src/analysis/processing/qgsalgorithmtransect.cpp
  src/analysis/processing/qgsalgorithmuniquevalueindex.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61488 testqgsdockwidget: Fix signal test for Qt 6.8 and above
  tests/src/gui/testqgsdockwidget.cpp
Labels: testsuite, backport queued_ltr_backports, backport release-3_42

#61810 [ogr] Fix creating db connections from sources with vsi prefixes
  src/core/providers/ogr/qgsogrproviderconnection.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61827 Fix qgsVariantGreaterThan may return false result when values are equal (backport)
  python/PyQt6/core/auto_generated/qgis.sip.in
  python/core/auto_generated/qgis.sip.in
  src/core/qgis.cpp
  src/core/qgis.h
  tests/src/core/testqgis.cpp
Labels: Backport

#61814 [OAPIF provider] Parse Location header response in case insensitive way
  src/providers/wfs/oapif/qgsoapifcreatefeaturerequest.cpp
  tests/src/python/test_provider_oapif.py
Labels: Bug, backport queued_ltr_backports, backport release-3_42

#61833 Add conformance tests for algorithm descriptions
  python/plugins/processing/algs/qgis/ImportIntoSpatialite.py
  python/plugins/processing/algs/qgis/PostGISExecuteAndLoadSQL.py
  python/plugins/processing/tests/AlgorithmsTestBase.py
  src/analysis/processing/qgsalgorithmcheckgeometryangle.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryarea.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrycontained.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrydangle.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrydegeneratepolygon.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryduplicate.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryduplicatenodes.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryfollowboundaries.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrygap.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryhole.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrylineintersection.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrylinelayerintersection.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrymissingvertex.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrymultipart.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryoverlap.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrypointcoveredbyline.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrypointinpolygon.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrysegmentlength.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryselfcontact.cpp
  src/analysis/processing/qgsalgorithmcheckgeometryselfintersection.cpp
  src/analysis/processing/qgsalgorithmcheckgeometrysliverpolygon.cpp
  src/analysis/processing/qgsalgorithmcoveragesimplify.cpp
  src/analysis/processing/qgsalgorithmcoverageunion.cpp
  src/analysis/processing/qgsalgorithmcoveragevalidate.cpp
  src/analysis/processing/qgsalgorithmdissolve.cpp
  src/analysis/processing/qgsalgorithmdistancewithin.cpp
  src/analysis/processing/qgsalgorithmexportmesh.cpp
  src/analysis/processing/qgsalgorithmexporttopostgresql.cpp
  src/analysis/processing/qgsalgorithmfiledownloader.cpp
  src/analysis/processing/qgsalgorithmfilterbygeometry.cpp
  src/analysis/processing/qgsalgorithmfixgeometryangle.cpp
  src/analysis/processing/qgsalgorithmfixgeometryarea.cpp
  src/analysis/processing/qgsalgorithmfixgeometrydeletefeatures.cpp
  src/analysis/processing/qgsalgorithmfixgeometryduplicatenodes.cpp
  src/analysis/processing/qgsalgorithmfixgeometrygap.cpp
  src/analysis/processing/qgsalgorithmfixgeometryhole.cpp
  src/analysis/processing/qgsalgorithmfixgeometrymissingvertex.cpp
  src/analysis/processing/qgsalgorithmfixgeometrymultipart.cpp
  src/analysis/processing/qgsalgorithmfixgeometryoverlap.cpp
  src/analysis/processing/qgsalgorithmfixgeometryselfintersection.cpp
  src/analysis/processing/qgsalgorithmflattenrelationships.cpp
  src/analysis/processing/qgsalgorithmhttprequest.cpp
  src/analysis/processing/qgsalgorithmjoinbylocation.cpp
  src/analysis/processing/qgsalgorithmjoinbylocationsummary.cpp
  src/analysis/processing/qgsalgorithmrasterlogicalop.cpp
  src/analysis/processing/qgsalgorithmsetlayerencoding.cpp
  src/analysis/processing/qgsalgorithmsetvariable.cpp
  src/analysis/processing/qgsalgorithmtinmeshcreation.cpp
Labels: Cleanup

#61847 test_qgslayoutexporter: Fix test for qt 6.9
  tests/src/python/test_qgslayoutexporter.py
Labels: testsuite, qt6

#61626 feat(3d/renderview): extract ambient occlusion renderview
  src/3d/CMakeLists.txt
  src/3d/framegraph/qgsambientocclusionrenderview.cpp
  src/3d/framegraph/qgsambientocclusionrenderview.h
  src/3d/framegraph/qgsframegraph.cpp
  src/3d/framegraph/qgsframegraph.h
  src/3d/framegraph/qgspostprocessingentity.cpp
  src/3d/framegraph/qgsshadowrenderview.cpp
  src/3d/qgs3dmapscene.cpp
  tests/src/3d/testqgs3drendering.cpp
  tests/testdata/control_files/3d/expected_ambient_occlusion_1/expected_framegraph.txt
  tests/testdata/control_files/3d/expected_ambient_occlusion_2/expected_framegraph.txt
Labels: Freeze Exempt, 3D

#61854 [ogr] Handle auto addition of vsizip prefix for vsicurl archives
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/qgsgdalutils.cpp
  tests/src/python/test_provider_ogr.py
Labels: backport queued_ltr_backports

#61872 [WFS provider/QgsGmlStreamingParser] Handle <gml:pos> inside <gml:LineString> or <gml:LinearRing>
  src/core/qgsgml.cpp
  tests/src/core/testqgsgml.cpp
Labels: Bug, backport queued_ltr_backports

#61893 change label of the file widget in the new GeoPackage dialog (fix #60990)
  src/gui/qgsnewgeopackagelayerdialog.cpp
  src/gui/qgsnewgeopackagelayerdialog.h
  src/ui/qgsnewgeopackagelayerdialogbase.ui
  tests/src/python/test_qgsnewgeopackagelayerdialog.py
Labels: GUI/UX

#61880 Fix support for virtual layers in GDAL algorithms provider
  python/plugins/processing/algs/gdal/Buffer.py
  python/plugins/processing/algs/gdal/ClipVectorByExtent.py
  python/plugins/processing/algs/gdal/ClipVectorByMask.py
  python/plugins/processing/algs/gdal/Dissolve.py
  python/plugins/processing/algs/gdal/GdalAlgorithm.py
  python/plugins/processing/algs/gdal/GdalUtils.py
  python/plugins/processing/algs/gdal/OgrToPostGis.py
  python/plugins/processing/algs/gdal/OneSideBuffer.py
  python/plugins/processing/algs/gdal/PointsAlongLines.py
  python/plugins/processing/algs/gdal/ogr2ogr.py
  python/plugins/processing/algs/gdal/ogr2ogrtopostgislist.py
  tests/src/python/CMakeLists.txt
  tests/src/python/test_processing_algs_gdal_virtual.py
Labels: Processing, backport queued_ltr_backports

#61896 [ogr] Handle auto addition of vsizip prefix for vsicurl archives (ltr backport)
  src/core/providers/ogr/qgsogrprovidermetadata.cpp
  src/core/qgsgdalutils.cpp
  tests/src/python/test_provider_ogr.py
Labels: Backport

#61894 [Build] Fix weird (invalid?) CMake construct that cause issues at least on some environments
  python/CMakeLists.txt
Labels: Bug, backport queued_ltr_backports

#61903 [server][oapif] Fix getFeaturePATCH id
  src/server/services/wfs3/qgswfs3handlers.cpp
  tests/testdata/qgis_server/api/test_wfs3_api_project.json
Labels: Bug, Server, backport queued_ltr_backports

#61904 do not call endArray() on global settings object if we are not reading array from it (fix #61373)
  src/core/settings/qgssettings.cpp
Labels: backport queued_ltr_backports, backport release-3_42

#61905 increase precision for min and max comboboxes in the mesh styling panel (fix #50950)
  src/gui/mesh/qgsmeshrendererscalarsettingswidget.cpp
Labels: GUI/UX, Mesh, backport queued_ltr_backports, backport release-3_42

#61908 harmonize use of PostgreSQL/PostGIS in various dialogs (fix #59886)
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/postgres/qgspostgresdataitemguiprovider.cpp
  src/ui/qgisapp.ui
  src/ui/qgsdbsourceselectbase.ui
  src/ui/qgspgnewconnectionbase.ui
Labels: GUI/UX

#61907 [server] Silence warning when cache strategy is empty
  src/server/qgsserversettings.cpp
Labels: Bug, Server, backport queued_ltr_backports

#61906 always add Z/M to the output WKB type when using expressions for Z/M parameters in translate geometry Processing algorithm (fix #56495)
  src/analysis/processing/qgsalgorithmtranslate.cpp
  tests/src/python/CMakeLists.txt
  tests/src/python/test_processing_translategeometry.py
Labels: Processing, backport queued_ltr_backports

#61912 [ux] New HTTP conn dlg: adjust height
  python/PyQt6/gui/auto_additions/qgsnewhttpconnection.py
  python/PyQt6/gui/auto_generated/qgsnewhttpconnection.sip.in
  python/gui/auto_additions/qgsnewhttpconnection.py
  python/gui/auto_generated/qgsnewhttpconnection.sip.in
  src/gui/qgsnewhttpconnection.cpp
  src/gui/qgsnewhttpconnection.h
Labels: GUI/UX, Bug

#61915 Fix valuemap config dialog trimmed <NULL>
  src/gui/editorwidgets/qgsvaluemapconfigdlg.cpp
  src/gui/editorwidgets/qgsvaluemapconfigdlg.h
  tests/src/gui/testqgsvaluemapconfigdlg.cpp
Labels: Bug, backport queued_ltr_backports

#61928 Fix form constraint deps case sensitivity
  src/gui/qgsattributeform.cpp
  tests/src/gui/testqgsattributeform.cpp
Labels: Forms, Bug, backport queued_ltr_backports

#61935 Fix weird (invalid?) CMake construct
  src/analysis/CMakeLists.txt
Labels: backport queued_ltr_backports

#61945 clear author name and creation date project metadata when anonymize_saved_projects setting is set to true (fix #42413)
  src/core/project/qgsproject.cpp
  tests/src/core/testqgsproject.cpp
Labels: Project, backport queued_ltr_backports

#61920 Fix/minor 3d fixes
  src/3d/framegraph/qgsframegraph.cpp
  src/3d/framegraph/qgsframegraph.h
  src/3d/qgs3dmapcanvas.cpp
  src/3d/qgs3dmapscene.cpp
  src/3d/qgs3dmapscene.h
  src/3d/qgsabstract3dengine.cpp
  src/3d/qgsabstract3dengine.h
  src/3d/qgsoffscreen3dengine.cpp
  tests/testdata/control_files/3d/expected_ambient_occlusion_1/expected_framegraph.txt
  tests/testdata/control_files/3d/expected_ambient_occlusion_2/expected_framegraph.txt
Labels: 3D, Easy fix

#61964 Remove date fields from graduated classification
  src/gui/symbology/qgsgraduatedsymbolrendererwidget.cpp
Labels: GUI/UX, Bug, backport queued_ltr_backports

#61938 [ogr] fix JSON array interpreted as QVariantMap
  src/core/providers/ogr/qgsogrprovider.cpp
  src/core/qgsogrutils.cpp
  tests/src/core/testqgsogrprovider.cpp
  tests/src/core/testqgsvectorfilewriter.cpp
Labels: Bug

#61936 [Postgres] Use session role for ALL requests
  src/providers/postgres/qgscolumntypethread.cpp
  src/providers/postgres/qgspgsourceselect.cpp
  src/providers/postgres/qgspostgresconn.cpp
  src/providers/postgres/qgspostgresconn.h
  src/providers/postgres/qgspostgresdataitems.cpp
  src/providers/postgres/qgspostgresfeatureiterator.cpp
  src/providers/postgres/qgspostgresprojectstorage.cpp
  src/providers/postgres/qgspostgresprojectstoragedialog.cpp
  src/providers/postgres/qgspostgresprovider.cpp
  src/providers/postgres/qgspostgresproviderconnection.cpp
  src/providers/postgres/qgspostgresprovidermetadatautils.cpp
  src/providers/postgres/raster/qgspostgresrasterprovider.cpp
  tests/src/python/test_qgsproviderconnection_postgres.py
  tests/testdata/provider/testdata_pg_role.sql
Labels: Backport, PostGIS data provider

#61932 qgsvectorlayerchunkloader: Fix rayIntersection
  src/3d/qgsvectorlayerchunkloader_p.cpp
  tests/src/3d/testqgs3drendering.cpp
  tests/src/3d/testqgs3dutils.cpp
Labels: Bug

#61989 update project CRS in the projection selector in WMS dialog whenever project CRS is changed (fix #56454)
  src/gui/proj/qgsprojectionselectionwidget.cpp
Labels: GUI/UX, backport queued_ltr_backports

#61995 update coordinate CRS with the project CRS whenever it is changed (fix #61684)
  src/app/qgsprojectproperties.cpp
Labels: GUI/UX

#61980 fix(qgsgeometrycollection): add missing supported type
  src/core/geometry/qgsgeometrycollection.cpp
  src/core/geometry/qgsgeometryutils.cpp
  tests/src/core/geometry/testqgsgeometrycollection.cpp
Labels: Bug, backport queued_ltr_backports

#62020 testing: Ignore swig deprecation warnings
  python/testing/__init__.py
Labels: testsuite, backport release-3_40

#62002 QgsCoordinateTransform::transformBoundingBox(): avoid error when transformer object is directly constructed from a PROJ pipeline
  src/core/proj/qgscoordinatetransform.cpp
  tests/src/python/test_qgscoordinatetransform.py
Labels: backport queued_ltr_backports

#62047 [map tools] Fix fill ring map tool not respecting the global and/or layer feature form suppression setting
  src/app/qgsmaptoolfillring.cpp
Labels: backport queued_ltr_backports
